---
import Layout from "../../../layouts/Layout.astro";
import ContactArea from "../../../components/common/ContactArea.astro";
import structuredDataMarkup from "../../../data/data.json";
const markup = JSON.stringify(structuredDataMarkup.cashlessMachine);
---

<Layout
    title="飲食店向けキャッシュレス券売機｜テンポス"
    description="キャッシュレス券売機は注文から決済まで対応できるため、飲食店の人手不足を解決！現金での決済はもちろん、クレジットカードやQRコード、交通系ICなどさまざまなキャッシュレス決済に対応。"
    pageUrl="/telecom/cashless-machine/"
    ogimage="/asset/images/cashless-machine/ogp_cashless-machine.jpg"
    markup={markup}
>
    <article id="mainarea">
        <div class="tp-border sans">
            <nav class="tp-nav">
                <ol class="tp-nav__list flex">
                    <li><a href="/">トップページ</a></li>
                    <li><a href="/telecom/">店舗インフラ</a></li>
                    <li>キャッシュレス券売機</li>
                </ol>
            </nav>
            <section class="tp-front__section">
                <h1 class="tp-front__ttl font_m_plus">
                    <span>キャッシュレス券売機</span>
                </h1>
                <p class="tp-front__caption">
                    注文から決済まで、全てこの一台で
                </p>
                <p class="tp-front__contact">
                    <a class="click_link_mail" href="/contact/?checked=42"
                        >お問い合わせはこちら</a
                    >
                </p>
            </section>

            <!-- こんなお悩みありませんか？ -->
            <section class="tp-worries__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __border">
                    <span></span>こんなお悩みありませんか？<span></span>
                </h2>
                <ul class="tp-check__list tp-wrapper__l">
                    <li><span class="tp-bglg">人手不足</span>を解消したい</li>
                    <li><span class="tp-bglg">業務の効率化</span>を行いたい</li>
                    <li><span class="tp-bglg">経費を削減</span>したい</li>
                </ul>
            </section>

            <section class="tp-design__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    テンポスでは、セルフレジ（キャッシュレス券売機）を<br />
                    ご紹介しています。
                </h2>
                <div class="tp-design__contents">
                    <div class="tp-design__item">
                        <div class="tp-design__item-main">
                            <h3 class="tp-design__item-ttl">
                                <span class="tp-design__item-ttl-lg">01</span
                                >多言語対応
                            </h3>
                            <div class="tp-design__item-txt">
                                今後、増加が見込まれているインバウンドに備えた、多言語でのメニュー表示が可能。通常業務効率から一歩進んだ対策が可能になります。
                            </div>
                        </div>
                        <div class="tp-design__item-img">
                            <img
                                src="../asset/images/cashless-machine/img-intro-01.png"
                                alt=""
                            />
                        </div>
                    </div>
                    <div class="tp-design__item">
                        <div class="tp-design__item-main">
                            <h3 class="tp-design__item-ttl">
                                <span class="tp-design__item-ttl-lg">02</span
                                >画面デザインを自由に
                            </h3>
                            <div class="tp-design__item-txt">
                                PCの管理画面から壁紙やボタンの色など、オリジナルの画面に設定することが可能です。
                            </div>
                        </div>
                        <div class="tp-design__item-img">
                            <img
                                src="../asset/images/cashless-machine/img-intro-02.png"
                                alt=""
                            />
                        </div>
                    </div>
                    <div class="tp-design__item">
                        <div class="tp-design__item-main">
                            <h3 class="tp-design__item-ttl">
                                <span class="tp-design__item-ttl-lg">03</span
                                >お店の魅力を動画で伝える
                            </h3>
                            <div class="tp-design__item-txt">
                                お客さま独自の動画や画像の設定が可能です。<br />
                                お店や、おすすめの商品などを印象的に伝えることができます。
                            </div>
                        </div>
                        <div class="tp-design__item-img">
                            <img
                                src="../asset/images/cashless-machine/img-intro-03.png"
                                alt=""
                            />
                        </div>
                    </div>
                </div>
            </section>

            <!-- 3つの特徴 -->
            <section class="tp-point__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-point__ttl__span"
                        >セルフレジ（キャッシュレス券売機）</span
                    >
                    <span class="tp-ttl__balloon__span"
                        ><span>3</span>つの特徴</span
                    >
                </h2>
                <ul class="tp-point__list __1clm">
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">人件費を大幅削減</span>
                        </h3>
                        <p class="Local">
                            キャッシュレス券売機は、自動化された処理により人件費を大幅に削減します。従業員の労力を節約し、経営コストを抑えることができます。
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">レジ業務を効率化</span>
                        </h3>
                        <p class="Local">
                            人為的なミスをなくすことができるため、レジ締めもスムーズに行うことができます。<br
                            />
                            またデータ分析により、需要の予測や在庫管理を把握することができるため、コスト管理や売上予測にも役立ちます。
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">お客様を待たせません</span>
                        </h3>
                        <p class="Local">
                            レジ待ちの列ができてしまうという場合も、キャッシュレス券売機であれば注文から決済までスムーズに行うことができるため、顧客満足度アップにもつながります。
                        </p>
                    </li>
                </ul>
            </section>

            <ContactArea />

            <!-- 商品概要 -->
            <section class="tp-point__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">商品概要</span>
                </h2>
                <div class="tp-product-wrapper">
                    <div class="tp-product-item">
                        <div class="tp-product-item-main">
                            <h3 class="tp-product-item-ttl">
                                完全非接触の15.6インチのタッチスクリーン
                            </h3>
                            <div class="tp-product-item-txt">
                                明るく見やすい大画面にすることで、打ち間違えの防止、直感的な操作性を実現します。
                            </div>
                        </div>
                        <div class="tp-product-item-img">
                            <img
                                src="../asset/images/cashless-machine/img-product-01.png"
                                alt=""
                            />
                        </div>
                    </div>
                    <div class="tp-product-item">
                        <div class="tp-product-item-main">
                            <h3 class="tp-product-item-ttl">
                                すばやいレシート印刷
                            </h3>
                            <div class="tp-product-item-txt">
                                会計完了後、すぐにレシート印刷。お客さまに出力を待つストレスを感じさせません。
                            </div>
                        </div>
                        <div class="tp-product-item-img">
                            <img
                                src="../asset/images/cashless-machine/img-product-02.png"
                                alt=""
                            />
                        </div>
                    </div>
                    <div class="tp-product-item">
                        <div class="tp-product-item-main">
                            <h3 class="tp-product-item-ttl">
                                あらゆる決済に完全対応
                            </h3>
                            <div class="tp-product-item-txt">
                                カード、電子マネー、QRコード決済と、あらゆる決済手段がご利用可能です。
                            </div>
                        </div>
                        <div class="tp-product-item-img">
                            <img
                                src="../asset/images/cashless-machine/img-product-03.png"
                                alt=""
                            />
                        </div>
                    </div>
                </div>
            </section>

            <ContactArea />

            <!-- ご利用までの流れ -->
            <section class="tp-frow__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">ご利用までの流れ</span>
                </h2>
                <div class="tp-flow__list">
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">お問い合わせ</h3>
                            <div class="Local">
                                <p>
                                    少しでもご興味がある方はまずはお問い合わせください。担当スタッフがお電話にてヒアリングさせていただきます。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">フードプレイスよりご連絡</h3>
                            <div class="Local">
                                <p>電話でお客様の相談内容をお伺いします。</p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">提携先からのご連絡</h3>
                            <div class="Local">
                                <p>
                                    セルフレジについて詳細をご説明させていただきます。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">商談</h3>
                            <div class="Local">
                                <p>
                                    オンラインまたは対面にて、お客様に合った製品プランをご提案いたします。<br
                                    />
                                    また、ご予約いただければショールームにて実際の製品に触れていただきながら、専任スタッフがお客様のご不明点にお答えいたします。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">ご契約</h3>
                            <div class="Local">
                                <p>
                                    ご契約後、プランに応じたサービスを提供いたします。
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>

            <!-- よくある質問 -->
            <section class="tp-faq__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">よくある質問</span>
                </h2>
                <div class="g-acodion">
                    <dl>
                        <dt>券売機とどう違うのですか？</dt>
                        <dd>
                            多言語表示によるインバウンド対応、現金以外も取り扱えるキャッシュレス決済機能、キッチンプリンター連携という運用の違いに加えて、売上集計とABC分析などのPOSデータをスマホやPCでいつでもどこでも確認できます。
                        </dd>
                    </dl>
                    <dl>
                        <dt>納期はどのくらいですか？</dt>
                        <dd>
                            セルフレジ本体や自動釣銭機はお振込確認が取れましたら、3営業日程度で発送が可能です。<br
                            />
                            キャッシュレス決済端末の審査に1.5〜2ヶ月ほどの時間がかかりますのでそこのお申込みから進めていただきたく思います。
                        </dd>
                    </dl>
                    <dl>
                        <dt>補助金は活用できますか？</dt>
                        <dd>
                            IT導入補助金や多言語、キャッシュレス推進の自治体補助金など時期によって積極的にご提案いたします。<br
                            />
                            補助金利用の場合は一括支払いが基本となりますので、初期費用0円の割賦支払いなど多様なご提案をご用意しております。
                        </dd>
                    </dl>
                </div>
            </section>

            <ContactArea />

            <!-- その他関連サービス -->
            <section class="tp-others__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">その他関連サービス</span
                    >
                </h2>
                <div class="tp-others__list">
                    <article>
                        <a href="/telecom/cashless/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_cashless@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_cashless.png"
                                        srcset="/asset/images/common/img_kanren_service_cashless.png 1x,/asset/images/common/2x/img_kanren_service_cashless@2x.png 2x"
                                        alt="キャッシュレス決済"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">キャッシュレス決済</h3>
                        </a>
                    </article>
                    <article>
                        <a href="/telecom/internetline/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_internetline@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_internetline.png"
                                        srcset="/asset/images/common/img_kanren_service_internetline.png 1x,/asset/images/common/2x/img_kanren_service_internetline@2x.png 2x"
                                        alt="インターネット回線"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">インターネット回線</h3>
                        </a>
                    </article>
                    <article>
                        <a href="/telecom/ip-telephone/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_ip-telephone@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_ip-telephone.png"
                                        srcset="/asset/images/common/img_kanren_service_ip-telephone.png 1x,/asset/images/common/2x/img_kanren_service_ip-telephone@2x.png 2x"
                                        alt="IP電話"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">IP電話</h3>
                        </a>
                    </article>
                </div>
            </section>
        </div>
    </article>
</Layout>

<style>
    @charset "UTF-8";
    @charset "UTF-8";

    /*-----------------------
mv tp-front__section
-----------------------*/
    .tp-front__section {
        background-image: url(/asset/images/cashless-machine/mv-cashless-machine.png);
    }

    /*-----------------------
tp-oil-introduction__section
-----------------------*/
    @media screen and (max-width: 767px) {
        .tp-oil-introduction__section .tp-ttl {
            width: 100%;
        }
    }

    .tp-oil-introduction__section .content {
        margin-top: 64px;
        margin-top: 4rem;
        border: 3px var(--MAIN_ORANGE) solid;
        border-radius: 20px;
        padding: 30px;
        position: relative;
    }

    @media screen and (max-width: 767px) {
        .tp-oil-introduction__section .content {
            margin-top: 3rem;
            border: 0;
            padding: 0px;
        }
    }

    .tp-oil-introduction__section .content .tp-ttl {
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%);
        transform: translate(-50%);
        top: -25px;
        width: 28rem;
        z-index: 500;
        background-color: #fff;
    }

    @media screen and (max-width: 767px) {
        .tp-oil-introduction__section .content .tp-ttl {
            position: relative;
            background-color: transparent;
            top: 0;
            left: 0;
            -webkit-transform: translate(0);
            transform: translate(0);
            width: 100%;
        }
    }

    .tp-oil-introduction__section .merit-compare01 {
        background-color: var(--BG_GRAY);
        border-radius: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 3rem 2rem 3rem 2rem;
        position: relative;
    }

    @media screen and (max-width: 767px) {
        .tp-oil-introduction__section .merit-compare01 {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            padding: 2rem 2rem 3rem 2rem;
        }
    }

    .tp-oil-introduction__section .merit-compare01::before {
        background-color: var(--MAIN_ORANGE);
        bottom: 20px;
        content: "";
        display: block;
        height: 2.3rem;
        left: 50%;
        position: absolute;
        -webkit-transform: translate(-50%, 100%);
        transform: translate(-50%, 100%);
        width: 4.5rem;
    }

    .tp-oil-introduction__section .merit-compare01::after {
        border-color: var(--MAIN_ORANGE) transparent transparent transparent;
        border-style: solid;
        border-width: 30px 60px 0 60px;
        bottom: -1rem;
        content: "";
        display: block;
        height: 0;
        left: 50%;
        position: absolute;
        -webkit-transform: translate(-50%, 100%);
        transform: translate(-50%, 100%);
        width: 0;
    }

    .tp-oil-introduction__section .merit-compare01 .imgBox {
        width: 45%;
    }

    @media screen and (max-width: 767px) {
        .tp-oil-introduction__section .merit-compare01 .imgBox {
            width: 100%;
            order: 2;
            margin-top: 1.5rem;
        }
    }

    .tp-oil-introduction__section .merit-compare02 .imgBox {
        width: 45%;
    }

    @media screen and (max-width: 767px) {
        .tp-oil-introduction__section .merit-compare02 .imgBox {
            width: 100%;
            order: 2;
            margin-top: 1.5rem;
        }
    }

    .tp-oil-introduction__section .merit-compare .imgBox img {
        -o-object-fit: contain;
        -o-object-position: center;
        height: 100%;
        object-fit: contain;
        object-position: center;
        width: 100%;
    }

    .tp-oil-introduction__section .merit-compare .imgBox img.__width85 {
        width: 85%;
    }

    @media screen and (max-width: 767px) {
        .tp-oil-introduction__section .merit-compare .imgBox img.__width85 {
            width: 100%;
        }
    }

    .tp-oil-introduction__section .merit-compare01 .txtBox {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        margin-left: 2rem;
    }

    .tp-oil-introduction__section .merit-compare02 .txtBox {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        margin-left: 2rem;
    }

    @media screen and (max-width: 767px) {
        .tp-oil-introduction__section .merit-compare01 .txtBox {
            margin-left: 0;
        }

        .tp-oil-introduction__section .merit-compare02 .txtBox {
            margin-left: 0;
        }
    }

    .tp-oil-introduction__section .merit-compare .txtTtl {
        background-color: var(--MAIN_ORANGE);
        border-radius: 10px;
        color: #fff;
        display: inline-block;
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 1rem;
        padding: 0.5rem 1.5rem;
    }

    @media screen and (max-width: 767px) {
        .tp-oil-introduction__section .merit-compare .txtTtl {
            font-size: 1rem;
            padding: 0.6rem 2rem;
            text-align: center;
        }
    }

    .tp-oil-introduction__section .merit-compare01 .txtTtl {
        background-color: var(--TTL_BG_GRAY);
        color: #fff;
    }

    .tp-oil-introduction__section .merit-compare .txtDescrip {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0.8rem;
        text-indent: -1em;
    }

    @media screen and (max-width: 767px) {
        .tp-oil-introduction__section .merit-compare .txtDescrip {
            font-size: 1rem;
            line-height: 1.7;
            padding-left: 1em;
            text-indent: -1em;
        }
    }

    .tp-oil-introduction__section .merit-compare02 {
        background-color: var(--BG_ORANGE);
        border-radius: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 2rem;
        padding: 3rem 2rem 3rem 2rem;
    }

    @media screen and (max-width: 767px) {
        .tp-oil-introduction__section .merit-compare02 {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            padding: 2rem;
        }
    }

    .tp-oil-introduction__section .tp-bglg {
        background: var(--MAIN_YELLOW);
    }

    /*-----------------------
SDGsの実現
-----------------------*/

    .tp-merit01__section .SDGs_flowBox {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        width: 100%;
    }

    @media screen and (max-width: 767px) {
        .tp-merit01__section .SDGs_flowBox {
            flex-wrap: wrap;
        }
    }

    .tp-merit01__section .SDGs_card {
        position: relative;
        width: calc(20%);
        z-index: 2;
    }

    @media screen and (max-width: 767px) {
        .tp-merit01__section .SDGs_card {
            width: calc(50% - 0.5rem);
            margin-bottom: 1rem;
        }
    }

    .tp-merit01__section .SDGs_ttl {
        position: relative;
        background-color: var(--MAIN_ORANGE);
        color: #fff;
        font-size: 1rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    @media screen and (max-width: 767px) {
        .tp-merit01__section .SDGs_ttl {
            font-size: 1rem;
            padding: 0.5rem 0;
        }
    }

    .tp-merit01__section .SDGs_ttl::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -5px;
        left: 0;
        width: 0px;
        height: 0px;
        margin: auto;
        border-style: solid;
        border-color: var(--MAIN_ORANGE) transparent transparent transparent;
        border-width: 5px 5px 0 5px;
    }

    @media screen and (max-width: 767px) {
        .tp-merit01__section .SDGs_flowBox::before {
            display: none;
        }

        .tp-merit01__section .SDGs_flowBox::after {
            display: none;
        }
    }

    .tp-merit01__section .SDGs_card:not(:first-of-type) {
        margin-left: 10px;
    }

    @media screen and (max-width: 767px) {
        .tp-merit01__section .SDGs_card:not(:first-of-type) {
            margin-left: 0px;
        }

        .tp-merit01__section .SDGs_card:nth-child(2n) {
            margin-left: 1rem;
        }
    }

    .tp-merit01__section .SDGs_imgBox {
        width: 100%;
    }

    .tp-merit01__section .SDGs_imgBox img {
        -o-object-fit: cover;
        -o-object-position: center;
        object-fit: cover;
        object-position: center;
        width: 100%;
    }

    /*-----------------------
 tp-storage__section
-----------------------*/

    .tp-storage__section .trnsctin-flow {
        margin-top: 64px;
        margin-top: 4rem;
    }

    .tp-storage__section .strageBox01 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: relative;
    }

    @media screen and (max-width: 767px) {
        .tp-storage__section .strageBox01 {
            flex-wrap: wrap;
        }
    }

    .tp-storage__section .strageBox01::before {
        background-color: var(--MAIN_ORANGE);
        bottom: -2rem;
        content: "";
        display: block;
        height: 3.2rem;
        left: 50%;
        position: absolute;
        -webkit-transform: translate(-50%, 100%);
        transform: translate(-50%, 100%);
        width: 10rem;
    }

    .tp-storage__section .strageBox01::after {
        border-color: var(--MAIN_ORANGE) transparent transparent transparent;
        border-style: solid;
        border-width: 3rem 7rem 0 7rem;
        bottom: -5rem;
        content: "";
        display: block;
        height: 0;
        left: 50%;
        position: absolute;
        -webkit-transform: translate(-50%, 100%);
        transform: translate(-50%, 100%);
        width: 0;
    }

    .tp-storage__section .strageCard {
        width: 480px;
        width: 30rem;
    }

    @media screen and (max-width: 767px) {
        .tp-storage__section .strageCard {
            width: calc(50% - 0.5rem);
            margin-bottom: 1rem;
        }
    }

    .tp-storage__section .strageCard:not(:first-of-type) {
        margin-left: 0.7rem;
    }

    .tp-storage__section .strageCard .strage_ttl {
        background-color: var(--MAIN_ORANGE);
        color: #fff;
        font-size: 1rem;
        text-align: center;
        margin-bottom: 10px;
    }

    @media screen and (max-width: 767px) {
        .tp-storage__section .strageCard .strage_ttl {
            font-size: 0.8rem;
            padding: 0.2rem 0;
        }
    }

    .tp-storage__section .strageCard .imgBox {
        width: 100%;
    }

    .tp-storage__section .strageCard .imgBox img {
        -o-object-fit: cover;
        -o-object-position: center;
        object-fit: cover;
        object-position: center;
        width: 100%;
    }

    .tp-storage__section .strageCard .strageTxt {
        color: #666;
        font-size: 1rem;
        margin-top: 1rem;
    }

    .tp-storage__section .strageArrowTxt {
        color: #fff;
        display: block;
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.2;
        margin-top: 88px;
        margin-top: 3.3rem;
        position: relative;
        text-align: center;
        z-index: 3;
    }

    .tp-storage__section .truckImg01 {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5rem;
        width: 25rem;
    }

    @media screen and (max-width: 767px) {
        .tp-storage__section .truckImg01 {
            width: 90%;
        }
    }

    .tp-storage__section .truckImg01 img {
        -o-object-fit: cover;
        -o-object-position: center;
        object-fit: cover;
        object-position: center;
        width: 100%;
    }

    .tp-storage__section .strageBox02 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 4rem;
        position: relative;
        width: 66%;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (max-width: 767px) {
        .tp-storage__section .strageBox02 {
            width: 100%;
        }
    }

    .tp-storage__section .strageBox02::before {
        background-color: var(--MAIN_ORANGE);
        bottom: -48px;
        bottom: -2rem;
        content: "";
        display: block;
        height: 3.2rem;
        left: 50%;
        position: absolute;
        -webkit-transform: translate(-50%, 100%);
        transform: translate(-50%, 100%);
        width: 10rem;
    }

    .tp-storage__section .strageBox02::after {
        border-color: var(--MAIN_ORANGE) transparent transparent transparent;
        border-style: solid;
        border-width: 3rem 7rem 0 7rem;
        bottom: -5rem;
        content: "";
        display: block;
        height: 0;
        left: 50%;
        position: absolute;
        -webkit-transform: translate(-50%, 100%);
        transform: translate(-50%, 100%);
        width: 0;
    }

    .tp-design__section .tp-local__wrap {
        gap: 1em;
        margin-bottom: 50px;
    }

    .tp-check__list {
        display: flex;
        flex-direction: column;
    }

    /*-----------------------
 紹介
-----------------------*/

    .tp-design__contents {
    }

    .tp-design__item {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 30px;
        margin-bottom: 40px;
    }

    .tp-design__item:nth-child(2) {
        align-items: center;
        margin-top: -80px;
        margin-bottom: 60px;
    }

    .tp-design__item-main {
        width: 85%;
    }

    .tp-design__item-ttl {
        font-size: 18px;
        font-weight: bold;
    }

    .tp-design__item-ttl .tp-design__item-ttl-lg {
        font-size: 40px;
        margin-right: 10px;
    }

    .tp-design__item:nth-child(1) .tp-design__item-main {
        padding-top: 50px;
    }

    .tp-design__item:nth-child(2) .tp-design__item-main {
        order: 1;
    }

    .tp-design__item:nth-child(2) .tp-design__item-img {
        order: 0;
    }

    @media screen and (max-width: 767px) {
        .tp-design__item {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 30px;
            margin-bottom: 20px;
        }

        .tp-design__item-main {
            width: 100%;
        }

        .tp-design__item:nth-child(2) {
            margin-top: 0px;
            margin-bottom: 40px;
        }

        .tp-design__item:nth-child(1) .tp-design__item-main {
            padding-top: 0px;
        }

        .tp-design__item-ttl {
            font-size: 18px;
            font-weight: bold;
        }

        .tp-design__item-ttl .tp-design__item-ttl-lg {
            font-size: 40px;
            margin-right: 10px;
        }

        .tp-design__item-img {
            padding: 0 20px;
        }

        .tp-design__item:nth-child(2) .tp-design__item-main {
            order: 0;
        }

        .tp-design__item:nth-child(2) .tp-design__item-img {
            order: 1;
        }
    }

    /*-----------------------
 contactarea
-----------------------*/
    .contactarea {
        margin-bottom: 80px;
    }

    /*-----------------------
商品概要
-----------------------*/

    .tp-product-wrapper {
    }

    .tp-product-item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding: 0 20px 0 70px;
        margin-bottom: 60px;
    }

    .tp-product-item-main {
        width: 80%;
        position: relative;
    }

    .tp-product-item-main::before {
        content: "";
        position: absolute;
        top: -15px;
        left: -70px;
        background: url("/asset/images/cashless-machine/icon-circle.png") center
            center / contain no-repeat;
        width: 60px;
        height: 60px;
    }

    .tp-product-item-ttl {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .tp-product-item-img {
        width: 160px;
    }

    @media screen and (max-width: 767px) {
        .tp-product-item {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 30px;
            padding: 0;
            margin-bottom: 60px;
        }

        .tp-product-item-main {
            width: 100%;
            position: relative;
        }

        .tp-product-item-main::before {
            content: "";
            position: absolute;
            top: -5px;
            left: 10px;
            width: 35px;
            height: 35px;
        }

        .tp-product-item-ttl {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 15px;
            padding-left: 50px;
        }

        .tp-product-item-img {
            width: 260px;
        }
    }

    /*-----------------------
3つの特徴 tp-point__section
-----------------------*/
    .tp-ttl {
        position: relative;
    }

    .tp-ttl__balloon__span__sm {
        position: absolute;
        top: -36px;
        left: 50%;
        transform: translateX(-50%);
        background: transparent;
        color: var(--MAIN_ORANGE);
        font-size: 16px;

        &::after {
            content: "";
            display: none;
        }
    }

    .tp-design__section {
        position: relative;
    }

    .tp-design__thumb {
        position: absolute;
        top: 0;
        right: 0;
    }

    @media screen and (min-width: 768px) {
        .generalsec,
        .tp-sec {
            margin-bottom: 120px;
            position: relative;
        }
    }

    @media screen and (max-width: 767px) {
        .tp-design__section {
            margin-bottom: 80px;
        }

        .tp-ttl__balloon__span__sm {
            width: 300px;
        }

        .tp-ttl__balloon__span__sm {
            top: -59px;
        }

        .tp-design__thumb {
            position: relative;
            top: 0;
            right: 0;
        }
    }

    .tp-point__section .tp-point__list > li:nth-child(1) > .Ttl::before {
        background: url(/asset/images/common/icon_point42.png) no-repeat center
            center / contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(2) > .Ttl::before {
        background: url(/asset/images/common/icon_point70.png) no-repeat center
            center / contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(3) > .Ttl::before {
        background: url(/asset/images/common/icon_point71.png) no-repeat center
            center / contain;
    }

    .u-mobile {
        display: none;
    }

    .u-desktop {
        display: block;
    }

    @media screen and (max-width: 767px) {
        .u-desktop {
            display: none;
        }

        .u-mobile {
            display: block;
        }
    }
</style>
