---
import Layout from "../../../layouts/Layout.astro";
import structuredDataMarkup from "../../../data/data.json";
const markup = JSON.stringify(structuredDataMarkup.kitchenCar);
---

<Layout
    title="キッチンカー開業支援 | テンポスフードプレイス"
    description="キッチンカーの開業の際はテンポスにご相談ください。メニュー開発・出店場所・車選びの相談が可能です。新車をリースで利用することができるため、初期コストを抑えることも可能です。"
    pageUrl="/open/kitchen-car/"
    ogimage="/asset/images/kitchen-car/ogp_kitchen-car.jpg"
    markup={markup}
>
    <article id="mainarea">
        <div class="tp-border sans">
            <nav class="tp-nav">
                <ol class="tp-nav__list flex">
                    <li><a href="/">トップページ</a></li>
                    <li><a href="/open/">開業相談</a></li>
                    <li>キッチンカー</li>
                </ol>
            </nav>

            <section class="tp-front__section">
                <h1 class="tp-front__ttl font_m_plus">
                    <span>キッチンカー</span>
                </h1>
                <p class="tp-front__caption">
                    キッチンカーは固定店舗に比べ開業しやすくリスクも低い飲食ビジネスの業態です。<br
                    />
                    しかし、開業者が増える一方で、事業を続けられないお店も増えています。<br
                    />その原因が何か分析し、回避できるよう作られたのがフードトラックONEです
                </p>
                <p class="tp-front__contact">
                    <a class="click_link_mail" href="/contact/?checked=1"
                        >お問い合わせはこちら</a
                    >
                </p>
            </section>

            <section class="tp-worries__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __border">
                    <span></span>こんなお悩みありませんか？<span></span>
                </h2>
                <ul class="tp-check__list tp-wrapper__l">
                    <li>
                        <span class="tp-bglg"
                            >キッチンカーでやっていけるメニュー</span
                        >がわからない
                    </li>
                    <li>
                        <span class="tp-bglg">出店できる場所</span
                        >が見つからない
                    </li>
                    <li>
                        <span class="tp-bglg">どんな車両</span
                        >が良いのかわからない
                    </li>
                </ul>
            </section>

            <section class="tp-design__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    フードトラックONEはそんなお悩みを解決します！
                </h2>
                <div class="tp-design__contents flex">
                    <div class="tp-local__wrap">
                        <p class="tp-local">
                            「失敗しないキッチンカー開業」のための開業支援サービスです。
                        </p>
                        <p class="tp-local">
                            キッチンカー支援をしているMellowが、年間およそ5万回以上のキッチンカー営業データを活用した「メニュー選定」~「営業場所の確保」までサポートします。
                        </p>
                        <p class="tp-local">
                            キッチンカーを開業されている方に無料の開業相談を行っており、キッチンカーの営業データをもとにしたリアルなアドバイスをさせていただきます。
                        </p>
                    </div>
                    <p class="tp-design__thumb">
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/kitchen-car/2x/img_kitchen-car_design@2x.png"
                            />
                            <img
                                src="/asset/images/kitchen-car/img_kitchen-car_design.png"
                                srcset="/asset/images/kitchen-car/img_kitchen-car_design.png 1x,/asset/images/kitchen-car/2x/img_kitchen-car_design@2x.png 2x"
                                alt=""
                                width="256"
                                height="218"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </p>
                </div>
            </section>

            <section class="tp-want__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center">
                    フードトラックONEが<br class="sp" />おすすめな理由
                </h2>
                <ul class="tp-check__list tp-wrapper__l tp-mgb__s">
                    <li>
                        メニュー相談：<span class="tp-bglg"
                            >データとノウハウを活用</span
                        >し、メニュー決定をサポート
                    </li>
                    <li>
                        営業場所確保：<span class="tp-bglg"
                            >メニューに合った出店場所</span
                        >を確保
                    </li>
                    <li>
                        キッチンカー車両提供：初期投資をリースで<span
                            class="tp-bglg">更に安く！</span
                        >
                    </li>
                    <li>
                        各種保険完備：自動車保険から車検に至るまで<span
                            class="tp-bglg">全てプランに含まれており</span
                        >更新作業も不要！
                    </li>
                    <li>
                        定期面談：営業開始後もスタッフとの面談など<span
                            class="tp-bglg">サポート充実！</span
                        >
                    </li>
                </ul>
                <p class="tp-want__thumb">
                    <picture>
                        <source
                            media="(max-width:767px)"
                            srcset="/asset/images/kitchen-car/2x/img_kitchen-car_want@2x.png"
                        />
                        <img
                            src="/asset/images/kitchen-car/img_kitchen-car_want.png"
                            srcset="/asset/images/kitchen-car/img_kitchen-car_want.png 1x,/asset/images/kitchen-car/2x/img_kitchen-car_want@2x.png 2x"
                            alt=""
                            width="394"
                            height="183"
                            loading="lazy"
                            class="imgauto"
                        />
                    </picture>
                </p>
            </section>

            <section class="tp-point__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-point__ttl__span">フードトラックONEの</span>
                    <span class="tp-ttl__balloon__span"
                        ><span>6</span>つの特徴</span
                    >
                </h2>
                <ul class="tp-point__list __1clm">
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt"
                                >開業検討段階からメニューなどの相談が受けられる</span
                            >
                        </h3>
                        <p class="Local">
                            廃業されるケースもあるように、どんなメニューを提供するかは事業継続の上でとても重要な要素です。現在考えている事業をどうずれば実現できるのか、キッチンカー運営ノウハウのあるスタッフにご相談いただけます。
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">Mellowが営業場所を確保</span>
                        </h3>
                        <p class="Local">
                            車があっても営業できる場所がなければ事業は続けられません。しかし、キッチンカーで営業する場所の確保は容易ではありません。そんな事業継続において重要な営業場所をMellowが確保！<br
                            />安心して営業に専念していただけます。
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt"
                                >初期コストを抑えて安心の新車で営業可能</span
                            >
                        </h3>
                        <p class="Local">
                            安い車両を購入し、度重なる故障に苦しまれるお声も多いです。「フードトラックONE」は安全性を重視して作られた新車をリースで初期コストを抑えて利用が可能です。<br
                            />また、60ヶ月の契約満了後残価22万円（税込）をお支払いいただくことで車両の買取が可能です。
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt"> 各種保険完備 </span>
                        </h3>
                        <p class="Local">
                            自動車保険（自賠責・任意）・PL保険（生産物・施設）・自動車税・車検、全てプランに含まれており、更新作業も不要です。
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">経営相談</span>
                        </h3>
                        <p class="Local">
                            営業開始後のサポートとして定期的に面談を実施しています。<br
                            />必要に応じて具体的なご提案なども可能です。
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt"> 納期が早い </span>
                        </h3>
                        <p class="Local">
                            通常3ヶ月はかかる納車が最短で1ヶ月から可能。<br
                            />早く営業を開始したい方におすすめです。
                        </p>
                    </li>
                </ul>
            </section>

            <section class="tp-merit01__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center __num01 tp-wrapper__s">
                    開業コストが低い
                </h2>
                <p class="tp-local tp-mgb__s tp-wrapper__s">
                    飲食店舗を開く際にかかる費用は、約1,500万円と言われています。ですが、キッチンカーは車両とキッチン設備があれば始めることができるので、平均300~500万円で開業することができます。<br
                    />あなたの自慢の1品をキッチンカーで実現しませんか？
                </p>
                <p class="tp-merit01__thumb">
                    <picture>
                        <source
                            media="(max-width:767px)"
                            srcset="/asset/images/kitchen-car/2x/img_kitchen-car_merit01@2x.png"
                        />
                        <img
                            src="/asset/images/kitchen-car/img_kitchen-car_merit01.png"
                            srcset="/asset/images/kitchen-car/img_kitchen-car_merit01.png 1x,/asset/images/kitchen-car/2x/img_kitchen-car_merit01@2x.png 2x"
                            alt=""
                            width="382"
                            height="206"
                            loading="lazy"
                            class="imgauto"
                        />
                    </picture>
                </p>
            </section>

            <section class="tp-merit02__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center __num02 tp-wrapper__s">
                    出店場所を選べる
                </h2>
                <p class="tp-local tp-mgb__s tp-wrapper__s">
                    その土地の一等地で店舗を開くには、高額な家賃や物件取得費がかかります。ですが、キッチンカーは車さえあればいきなり人気エリアへの出店が可能。<br
                    />さまざまな出店場所を移動しながら、自分に合った出店場所を見つけることができます。
                </p>
                <p class="tp-merit02__thumb">
                    <picture>
                        <source
                            media="(max-width:767px)"
                            srcset="/asset/images/kitchen-car/2x/img_kitchen-car_merit02@2x.png"
                        />
                        <img
                            src="/asset/images/kitchen-car/img_kitchen-car_merit02.png"
                            srcset="/asset/images/kitchen-car/img_kitchen-car_merit02.png 1x,/asset/images/kitchen-car/2x/img_kitchen-car_merit02@2x.png 2x"
                            alt=""
                            width="300"
                            height="177"
                            loading="lazy"
                            class="imgauto"
                        />
                    </picture>
                </p>
            </section>

            <section class="tp-merit03__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center __num03 tp-wrapper__s">
                    少人数で営業可能
                </h2>
                <p class="tp-local tp-mgb__s tp-wrapper__s">
                    キッチンカーは1人~2人で運営するのが基本。調理と提供のオペレーションを改善していくことで、様々な出店場所を通じて、たくさんのお客さまを対応することができます。<br
                    />また、店舗経営してる方にとっては人材の有効活用にもつながり経営面でのメリットも大きくなります。
                </p>
                <p class="tp-merit03__thumb">
                    <picture>
                        <source
                            media="(max-width:767px)"
                            srcset="/asset/images/kitchen-car/2x/img_kitchen-car_merit03@2x.png"
                        />
                        <img
                            src="/asset/images/kitchen-car/img_kitchen-car_merit03.png"
                            srcset="/asset/images/kitchen-car/img_kitchen-car_merit03.png 1x,/asset/images/kitchen-car/2x/img_kitchen-car_merit03@2x.png 2x"
                            alt=""
                            width="237"
                            height="136"
                            loading="lazy"
                            class="imgauto"
                        />
                    </picture>
                </p>
            </section>

            <div class="contactarea"></div>

            <section class="tp-flow02__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">出店開始までの流れ</span
                    >
                </h2>
                <div class="tp-flow02__container tp-wrapper__m">
                    <div class="tp-flow02__cntnrL">
                        <div class="tp-flow02__cntnrL__top">
                            <ul class="tp-flow02__list">
                                <li>申込書提出</li>
                                <li>契約書締結</li>
                                <li>納車書類取得</li>
                                <li>納車</li>
                            </ul>
                            <p class="tp-flow02__days">
                                <span>15営業日</span>
                                <span class="txt__s"
                                    >※納車日はお申し込みの時点で決定</span
                                >
                            </p>
                        </div>
                        <div class="tp-flow02__cntnrL__bottom">
                            <ul class="tp-flow02__list">
                                <li>保健所検査</li>
                                <li>営業許可書交付</li>
                                <li>営業準備完了</li>
                                <li>出店開始</li>
                            </ul>
                            <p class="tp-flow02__days">
                                <span>45営業日</span>
                                <span class="txt__s">※早めたい場合は要相談</span
                                >
                            </p>
                        </div>
                    </div>
                    <div class="tp-flow02__cntnrR">
                        <p class="tp-flow02__total">
                            <span class="txt">約1〜3ヶ月</span>
                        </p>
                    </div>
                </div>
            </section>

            <section class="tp-faq__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">よくある質問</span>
                </h2>
                <div class="g-acodion">
                    <dl>
                        <dt>車種は選べますか？</dt>
                        <dd>
                            車種はトヨタ自動車のタウンエーストラックのみとさせていただいております。
                        </dd>
                    </dl>
                    <dl>
                        <dt>車両は新車ですか？</dt>
                        <dd>はい、車両の全て新車となります。</dd>
                    </dl>
                    <dl>
                        <dt>車内はカスタマイズできますか？</dt>
                        <dd>
                            内容によってはオプションで可能です。<br />
                            基本設計は汎用性の高い仕様となっておりますのでご安心ください。
                        </dd>
                    </dl>
                    <dl>
                        <dt>車体色は選択可能ですか？</dt>
                        <dd>
                            黒かアイボリーの２種類から選択可能です。<br />
                            オプションで別色への変更も可能です。
                        </dd>
                    </dl>
                    <dl>
                        <dt>リース期間中の解約は可能ですか？</dt>
                        <dd>
                            解約ご希望時点での車両残価をお支払いいただいた上で、解約可能です。
                        </dd>
                    </dl>
                    <dl>
                        <dt>厨房機器は搭載されていますか？</dt>
                        <dd>
                            厨房機器は各自でご用意いただく形になります。<br />
                            冷蔵冷凍庫は標準装備です。
                        </dd>
                    </dl>
                </div>
            </section>

            <div class="contactarea"></div>

            <section class="tp-others__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">その他関連サービス</span
                    >
                </h2>
                <div class="tp-others__list">
                    <article>
                        <a href="/promotion/promotional_design/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_promotional_design@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_promotional_design.png"
                                        srcset="/asset/images/common/img_kanren_service_promotional_design.png 1x,/asset/images/common/2x/img_kanren_service_promotional_design@2x.png 2x"
                                        alt="販促物作成"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">販促物作成</h3>
                        </a>
                    </article>
                    <article>
                        <a href="/menu/kakuyasu.html">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_kakuyasu@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_kakuyasu.png"
                                        srcset="/asset/images/common/img_kanren_service_kakuyasu.png 1x,/asset/images/common/2x/img_kanren_service_kakuyasu@2x.png 2x"
                                        alt="業務用酒販店「カクヤス」"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">業務用酒販店「カクヤス」</h3>
                        </a>
                    </article>
                    <article>
                        <a href="/menu/micreed.html">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_micreed@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_micreed.png"
                                        srcset="/asset/images/common/img_kanren_service_micreed.png 1x,/asset/images/common/2x/img_kanren_service_micreed@2x.png 2x"
                                        alt="食材通販「ミクリード」"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">食材通販「ミクリード」</h3>
                        </a>
                    </article>
                </div>
            </section>
        </div>
    </article>
</Layout>

<style>
    @charset "utf-8";

    /*-----------------------
mv tp-front__section
-----------------------*/
    .tp-front__section {
        background-image: url(/asset/images/kitchen-car/mv_kitchen-car.jpg);
    }

    /*-----------------------
こんなお悩みありませんか？ tp-worries__section
-----------------------*/
    .tp-worries__section .tp-check__list > li {
        display: block;
    }

    /*-----------------------
フードトラックONEがおすすめな理由 tp-want__section
-----------------------*/
    .tp-want__section .tp-want__thumb {
        width: 394px;
    }
    @media screen and (max-width: 767px) {
        .tp-want__section .tp-want__thumb {
            width: 100%;
        }
    }

    /*-----------------------
6つの特徴 tp-point__section
-----------------------*/
    .tp-point__section .tp-point__list > li > .Ttl:before {
        width: 64px;
        margin-right: 14px;
        height: 46px;
    }
    .tp-point__section .tp-point__list > li:nth-child(1) > .Ttl::before {
        background: url(/asset/images/common/icon_point14.png) no-repeat center
            center / contain;
    }
    .tp-point__section .tp-point__list > li:nth-child(2) > .Ttl::before {
        background: url(/asset/images/common/icon_point17.png) no-repeat center
            center / contain;
    }
    .tp-point__section .tp-point__list > li:nth-child(3) > .Ttl::before {
        background: url(/asset/images/common/icon_point07.png) no-repeat center
            center / contain;
    }
    .tp-point__section .tp-point__list > li:nth-child(4) > .Ttl::before {
        background: url(/asset/images/common/icon_point01.png) no-repeat center
            center / contain;
    }
    .tp-point__section .tp-point__list > li:nth-child(5) > .Ttl::before {
        background: url(/asset/images/common/icon_point09.png) no-repeat center
            center / contain;
    }
    .tp-point__section .tp-point__list > li:nth-child(6) > .Ttl::before {
        background: url(/asset/images/common/icon_point18.png) no-repeat center
            center / contain;
        height: 40px;
    }
    .tp-point__section .tp-point__list .Ttl__txt {
        width: calc(100% - 78px);
    }

    /*-----------------------
開業コストが低い tp-merit01__section
-----------------------*/
    .tp-merit01__section.tp-sec p.tp-merit01__thumb {
        max-width: 382px;
    }

    /*-----------------------
少人数で営業可能 tp-merit03__section
-----------------------*/
    .tp-merit03__section.tp-sec p.tp-merit03__thumb {
        max-width: 237px;
    }

    /*-----------------------
出店開始までの流れ tp-flow02__section
-----------------------*/
    .tp-flow02__section {
        margin-top: 80px;
    }
    .tp-flow02__section .tp-flow02__container {
        display: flex;
        gap: 9px;
    }
    .tp-flow02__section .tp-flow02__cntnrL {
        width: 71.3%;
    }
    .tp-flow02__section .tp-flow02__cntnrR {
        width: calc(100% - 71.3% - 9px);
    }
    .tp-flow02__section .tp-flow02__cntnrL__top,
    .tp-flow02__section .tp-flow02__cntnrL__bottom {
        display: flex;
        gap: 17px;
    }
    .tp-flow02__section .tp-flow02__list {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 176px;
        overflow-x: hidden;
    }
    .tp-flow02__section .tp-flow02__list li {
        font-size: 18px;
        font-weight: bold;
        line-height: 1.4;
        color: var(--MAIN_ORANGE);
        padding-right: 0.25em;
        margin-bottom: 10px;
        position: relative;
    }
    .tp-flow02__section .tp-flow02__list li:before {
        content: "▼";
        margin-right: 5px;
    }
    .tp-flow02__section .tp-flow02__list li:after {
        content: "";
        display: block;
        width: 175px;
        border-top: 0.25em var(--MAIN_ORANGE) dotted;
        position: absolute;
        top: 50%;
        left: calc(100%);
        transform: translateY(-50%);
    }
    .tp-flow02__section .tp-flow02__days {
        width: calc(100% - (176px + 17px));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 37px;
        padding: 10px;
        background: #ffc500;
        position: relative;
        font-size: 20px;
        font-weight: bold;
        line-height: 1;
        text-align: center;
    }
    .tp-flow02__section .tp-flow02__days .txt__s {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        margin: 7px 0 -15px;
    }
    .tp-flow02__section .tp-flow02__days:after {
        width: 100%;
        height: 30px;
        content: "";
        display: block;
        background: url(/asset/images/kitchen-car/arrow_kitchen-car_flow02_yellow.png)
            no-repeat top/100% 100%;
        position: absolute;
        top: 100%;
        left: 0;
    }
    .tp-flow02__section .tp-flow02__total {
        width: 100%;
        height: calc(100% - 37px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 37px;
        padding: 10px;
        background: #e0e0e0;
        position: relative;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
    .tp-flow02__section .tp-flow02__total:after {
        width: 100%;
        height: 30px;
        content: "";
        display: block;
        background: url(/asset/images/kitchen-car/arrow_kitchen-car_flow02_gray.png)
            no-repeat top/100% 100%;
        position: absolute;
        top: 100%;
        left: 0;
    }
    @media screen and (max-width: 767px) {
        .tp-flow02__section {
            margin-top: 40px;
        }
        .tp-flow02__section .tp-wrapper__m {
            width: 100%;
        }
        .tp-flow02__section .tp-flow02__cntnrL {
            width: 76.1%;
        }
        .tp-flow02__section .tp-flow02__cntnrR {
            width: calc(100% - 76.1% - 9px);
        }
        .tp-flow02__section .tp-flow02__cntnrL__top,
        .tp-flow02__section .tp-flow02__cntnrL__bottom {
            gap: 0;
            justify-content: space-between;
        }
        .tp-flow02__section .tp-flow02__list {
            width: 48%;
            overflow-x: visible;
        }
        .tp-flow02__section .tp-flow02__list li {
            font-size: 14px;
            padding-right: 0;
            margin-bottom: 40px;
        }
        .tp-flow02__section .tp-flow02__list li:before {
            margin-right: 0;
            position: absolute;
            top: calc(100% + 20px);
            left: 0;
            transform: translateY(-50%);
        }
        .tp-flow02__section .tp-flow02__list li:after {
            content: none;
        }
        .tp-flow02__section .tp-flow02__days {
            width: 50%;
            padding: 5px;
            font-size: 18px;
        }
        .tp-flow02__section .tp-flow02__days .txt__s {
            font-size: 12px;
            margin-top: 9px;
        }
        .tp-flow02__section .tp-flow02__total {
            padding: 5px;
            font-size: 18px;
        }
        .tp-flow02__section .tp-flow02__total .txt {
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
            -webkit-text-orientation: upright;
            text-orientation: upright;
        }
    }
</style>
