---
import Layout from "../../../layouts/Layout.astro";
import ContactArea from "../../../components/common/ContactArea.astro";
import structuredDataMarkup from "../../../data/data.json";
const markup = JSON.stringify(structuredDataMarkup.gmb);
---

<Layout
    title="Googleビジネスプロフィール運用サポート"
    description="Googleマップ（地図検索）の運用は本当に必要なの？飲食店集客に必須のMEO対策って？誰にも聞けない基本的な話から少しマニアックなところまで運用と丁寧なご説明をサポートするテンポスのGBP（グーグルビジネスプロフィール）運用サービス。"
    pageUrl="/marketing/gmb/"
    ogimage="/asset/images/gmb/ogp_gmb.jpg"
    markup={markup}
>
    <article id="mainarea">
        <div class="tp-border sans">
            <nav class="tp-nav">
                <ol class="tp-nav__list flex">
                    <li><a href="/">トップページ</a></li>
                    <li><a href="/marketing/">集客</a></li>
                    <li>Googleビジネスプロフィール運用サポート</li>
                </ol>
            </nav>
            <section class="tp-front__section">
                <h1 class="tp-front__ttl font_m_plus">
                    <span
                        >Googleビジネスプロフィール<br
                            class="display_none__374"
                        />運用サポート</span
                    >
                </h1>
                <p class="tp-front__caption">
                    Googleマップからの店舗集客はテンポスにお任せください！
                </p>
                <p class="tp-front__contact">
                    <a class="click_link_mail" href="/contact/?checked=11"
                        >お問い合わせはこちら</a
                    >
                </p>
            </section>
            <section class="tp-worries__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __border">
                    <span></span>こんなお悩みありませんか？<span></span>
                </h2>
                <ul class="tp-check__list tp-wrapper__l">
                    <li>
                        Googleビジネスプロフィールってよく聞くけど、<span
                            class="tp-bglg">何をやったらいいのかわからない</span
                        >
                    </li>
                    <li>
                        ホームページもSNSもやってるけど、<span class="tp-bglg"
                            >集客につながる手応えがない</span
                        >
                    </li>
                    <li>
                        <span class="tp-bglg">地域に密着した集客</span
                        >を行いたい
                    </li>
                </ul>
            </section>
            <section class="tp-design__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    手がかかるGoogleビジネスプロフィールの<br
                        class="pc"
                    />登録・更新をサポートいたします。
                </h2>
                <div class="tp-design__contents flex">
                    <p class="tp-local">
                        営業時間や定休日の変更、キャンペーンの告知など、<br />
                        ユーザーに見られる可能性が高いGoogleビジネスプロフィール上で表示しておくことで信頼や安心につながります。<br
                        />
                        また、Googleを入口としてホームページやSNSへ誘導を行うことも可能です。<br
                        /><br />
                        ぜひテンポスにお任せください！
                    </p>
                    <p class="tp-design__thumb">
                        <img
                            src="/asset/images/gmb/img_gmb_image_01.png"
                            alt="飲食店に特化"
                            width="200"
                            height="131"
                            loading="lazy"
                            class="imgauto fit-content"
                        />
                    </p>
                </div>
            </section>
            <section class="tp-want__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center">
                    「まずはGoogleで」という人が圧倒的に増えています。
                </h2>
                <ul class="tp-check__list tp-wrapper__l tp-mgb__s">
                    <li>
                        今は<span class="tp-bglg"
                            >2人に1人がGoogleビジネスプロフィールを使ってお店を検索している</span
                        >時代です。
                    </li>
                    <li>
                        ユーザーは検索一覧の最初のほうしか見ない傾向にあるため、<span
                            class="tp-bglg"
                            >地図にお店を載せておくことで見てもらえる可能性が高まります。</span
                        >
                    </li>
                    <li>
                        <span class="tp-bglg">
                        </span>SNSでお店の雰囲気などを確認したうえで、Googleマップで実際の道順をチェックする、
                    </li>
                    といった使い方も多くなっています。
                </ul>
            </section>
            <p class="tp-want__thumb">
                <img
                    src="/asset/images/gmb/img_gmb_image_02.png"
                    alt="ホームページの役割"
                    width="300"
                    height="214"
                    loading="lazy"
                    class="imgauto"
                />
            </p>

            <section class="tp-point__section first-sec tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-point__ttl__span"
                        >フードプレイスホームページの</span
                    >
                    <span class="tp-ttl__balloon__span"
                        ><span>3</span>つの特徴</span
                    >
                </h2>
                <ul class="tp-point__list">
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">情報の修正や投稿を代行</span>
                        </h3>
                        <p class="Local">
                            掲載してからが本番です。お店の情報が変わった時は、あわせてGoogleの情報も変更しないと信頼度が下がってしまいます。ご自身で運用が難しい場合はテンポスで更新を代行（月1回　※かんたんプランの場合）することが可能です。またGoogleビジネスプロフィールは
                            SNS
                            のようにお知らせ投稿ができたり、メニューも更新できます。お客様のニーズに合わせて変更していきましょう。
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">価格もリーズナブル</span>
                        </h3>
                        <p class="Local">
                            テンポスでは飲食店に向けてサービスを特化することで、コストカットを可能としています。さらに年間の運用費を一括でお支払い可能な場合は「1か月分の運用費用が0円」となり、11か月分の運用費でお申込みいただけるため大変お得です。
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt"
                                >ホームページやSNSも一括サポート</span
                            >
                        </h3>
                        <p class="Local">
                            テンポスならGoogleビジネスプロフィール・ホームページ・SNSといった複数のサービスを窓口一つで対応可能です。<br
                            />
                            ご自身ですべてを管理したり、いろいろな会社とやり取りするのは手間がかかります。<br
                            />
                            窓口をまとめることで、お店の運営に集中することができます。
                        </p>
                    </li>
                </ul>
            </section>

            <section class="tp-works__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center __num01 tp-works__wrapper--s">
                    手間がかかる初期登録の対応、<br />日々の運用を任せられる<br
                    />
                </h2>
                <p class="tp-local tp-mgb__s tp-wrapper__s">
                    Googleビジネスプロフィールに登録できる情報は、営業時間などの基本情報からメニュー、写真、テイクアウト・デリバリーページのリンク、お店からのお知らせ等々、入力できる項目は多数あります。<br
                    />
                    適切な情報を入力し、さらにその情報を常に最新のものに保つとなると手間がかかってしまいがちです。<br
                    />
                    テンポスにそれらの運用をすべて任せることで、お店のオペレーションに集中できます。
                </p>

                <h2 class="tp-ttl __center __num02 tp-works__wrapper--s">
                    プロに任せるとGoogleマップの中でも<br
                    />上位に表示されるようになる<br />
                </h2>
                <p class="tp-local tp-mgb__s tp-wrapper__s">
                    Googleビジネスプロフィール自体は無料で誰でも登録ができます。そのため、すでに同じ業種業態の飲食店が掲載をしています。その中で検索上位にするためには、アルゴリズムのポイントを知っている必要があります。<br
                    />
                    テンポスではそのポイントに沿って情報を入力するため、効果が出る掲載をお任せいただくことが出来ます。<br
                    />
                    ※アルゴリズムとは：手順や計算の手順のこと。 Google に見つけてもらいやすい法則のことを指します。
                </p>

                <h2 class="tp-ttl __center __num03 tp-works__wrapper--s">
                    リーズナブルな価格設定<br />
                </h2>
                <p class="tp-local tp-mgb__s tp-wrapper__s">
                    他社では月額費用だけでも3万円以上するケースも多く、また検索上位3位以内になった場合は1日ごとに成果報酬が発生するパターンもあります。<br
                    />
                    またGoogle ポリシーに反する手段を使って検索順位を上げるという、導入を避けた方が良いサービスを提供しているところもあります。<br
                    />
                    テンポスでは飲食店に特化し、不要な作業を極力抑えているためコストカットを可能としています。運用についてもGoogleのポリシーに沿った方法で行なっています。
                </p>

                <div class="tp-scroll__container tp-mgb__s">
                    <table class="tp-table table-mgb">
                        <tbody>
                            <tr>
                                <th>会社名</th>
                                <td>テンポス</td>
                                <td>A社</td>
                                <td>B社</td>
                            </tr>
                            <tr>
                                <th>初期費用</th>
                                <td>0~11,000円</td>
                                <td>33,000円</td>
                                <td>55,000円</td>
                            </tr>
                            <tr>
                                <th>月額費用</th>
                                <td>4,400~13,200円</td>
                                <td>11,000円</td>
                                <td>33,000円</td>
                            </tr>
                            <tr>
                                <th>契約期間</th>
                                <td>12ヶ月</td>
                                <td>6ヶ月</td>
                                <td>6ヶ月</td>
                            </tr>
                            <tr>
                                <th>成果報酬型</th>
                                <td>0円</td>
                                <td>1,000円／日</td>
                                <td>1,000円~1,800円／日</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <h2 class="tp-ttl __center __num04 tp-works__wrapper--s">
                    毎月のレポート発行とサポート対応<br />
                </h2>
                <p class="tp-local tp-mgb__s tp-wrapper__s">
                    一度掲載完了したからといって、その後お店の情報が変わったときに変更をしないとユーザーからの信頼度が下がってしまいます。ご自身で運用が難しい場合はこちらで更新の代行（月
                    1 回）も行うことが可能です。<br />
                    またGoogleビジネスプロフィールは SNS のようにお知らせ投稿ができたり、メニューも更新することができるため、他の飲食店の動きや顧客のニーズに合わせてご提案も可能です。
                </p>

                <h2 class="tp-ttl __center __num05 tp-works__wrapper--s">
                    ホームページやSNSも一括サポート<br />
                </h2>
                <p class="tp-local tp-mgb__s tp-wrapper__s">
                    テンポスならGoogleビジネスプロフィール・ホームページ・SNS・クーポンサイトが窓口一つで対応可能です。<br
                    />
                    ご自身で全てを管理したり、いろいろな会社とやり取りをするのは時間と手間がかかります。<br
                    />
                    全てを一括にまとめることで、普段の運営や料理研究に集中できます。
                </p>
            </section>

            <section class="tp-plan__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __mgb">
                    <span class="tp-ttl__balloon__span"
                        >お好みで選べる2プラン</span
                    >
                </h2>
                <div class="tp-scroll__container">
                    <table class="tp-table__plan table-mgb">
                        <tbody>
                            <tr>
                                <th>
                                    <p class="Ttl">かんたんプラン</p>
                                    <p class="Local">
                                        低価格で素早く作成するなら
                                    </p>
                                </th>
                                <th>
                                    <p class="Ttl">しっかりプラン</p>
                                    <p class="Local">
                                        低価格で素早く作成するなら
                                    </p>
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <p class="Tag">初期制作費</p>
                                    <p class="Price">
                                        11,000<span class="Local">円(税込)</span
                                        >
                                    </p>
                                </td>
                                <td>
                                    <p class="Tag">初期制作費</p>
                                    <p class="Price">
                                        11,000<span class="Local">円(税込)</span
                                        >
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="Tag">月額制作費</p>
                                    <p class="Price">
                                        4,400<span class="Local">円(税込)</span>
                                    </p>
                                </td>
                                <td>
                                    <p class="Tag">月額制作費</p>
                                    <p class="Price">
                                        13,200<span class="Local">円(税込)</span
                                        >
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="Tag">情報修正代行</p>
                                    <p class="Local">〇<br />※月1回</p>
                                </td>
                                <td>
                                    <p class="Tag">情報修正代行</p>
                                    <p class="Local">〇<br />※月5回</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="Tag">投稿代行</p>
                                    <p class="Local">〇<br />※月1回</p>
                                </td>
                                <td>
                                    <p class="Tag">投稿代行</p>
                                    <p class="Local">〇<br />※月5回</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="Tag">写真代行</p>
                                    <p class="Local">〇<br />※月1回</p>
                                </td>
                                <td>
                                    <p class="Tag">写真代行</p>
                                    <p class="Local">〇<br />※月5回</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="Tag">商品追加</p>
                                    <p class="Local">－</p>
                                </td>
                                <td>
                                    <p class="Tag">商品追加</p>
                                    <p class="Local">〇<br />※月5回</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="Tag">口コミ返信</p>
                                    <p class="Local">－</p>
                                </td>
                                <td>
                                    <p class="Tag">口コミ返信</p>
                                    <p class="Local">〇<br />※無制限</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="Tag">お困りごとサポート</p>
                                    <p class="Local">－</p>
                                </td>
                                <td>
                                    <p class="Tag">お困りごとサポート</p>
                                    <p class="Local">〇<br />※無制限</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="Tag">レポート</p>
                                    <p class="Local">〇<br />※簡易レポート</p>
                                </td>
                                <td>
                                    <p class="Tag">レポート</p>
                                    <p class="Local">〇<br />※本格レポート</p>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot class="tp-local tp-table_caption">
                            <tr>
                                <td>
                                    ※営業時間と定休日の変更は全プラン無制限で行います。<br
                                    />
                                    ※全プラン12ヶ月契約となります。</td
                                >
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </section>

            <section class="tp-option__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">オプションプラン</span>
                </h2>
                <div class="box_cmn_items">
                    <div class="box_cmn_01 bln_sb_layout box_01 balloon_layout">
                        <div class="box_image">
                            <img
                                src="/asset/images/gmb/img_gmb_image_03.png"
                                alt=""
                            />
                        </div>
                        <div class="box_txt">
                            <div class="balloon1-right">
                                <p>一緒にホームページも作ってもらえるの？</p>
                            </div>
                        </div>
                    </div>
                    <div class="box_cmn_02 bln_sb_layout box_01 balloon_layout">
                        <div class="box_txt">
                            <div class="balloon1-left">
                                <p>
                                    テンポスでのホームページ作成の詳細<br />は、
                                    こちらからご確認いただけます！
                                </p>
                            </div>
                        </div>
                        <div class="box_image">
                            <img
                                src="/asset/images/gmb/img_gmb_image_04.png"
                                alt=""
                            />
                        </div>
                    </div>

                    <p class="tp-btn __yellow tp-plan__section__btn">
                        <a href="/marketing/homepage/"
                            >ホームページ作成の詳細はこちら</a
                        >
                    </p>
                </div>
            </section>

            <section class="tp-pay__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">お支払い方法</span>
                </h2>

                <div class="tp-scroll__container">
                    <table class="tp-table__pay table-mgb">
                        <tbody>
                            <tr>
                                <th>①請求書払い</th>
                                <td
                                    >与信審査ありの後払いサービスを利用いたします。<br
                                    />
                                    与信審査を通過されなかった場合、クレジットカード決済のご対応に切り替えさせていただきます。コンビニ払いまたは銀行振込が可能な後払いになります。<br
                                    />
                                    <span class="coment-red"
                                        >※料金に別途事務手数料250円を合わせてご請求させていただきます。<br
                                        />
                                        ※銀行振込の場合の振込手数料はお客様ご負担にてお願い申し上げます。</span
                                    >
                                </td>
                            </tr>
                            <tr>
                                <th>②クレジットカード決済</th>
                                <td
                                    ><img
                                        src="/asset/images/gmb/ico_prele-credit.png"
                                        alt="クレジットカード決済"
                                        width="800"
                                        height="97"
                                        loading="lazy"
                                        class="imgauto"
                                    /></td
                                >
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>

            <section class="tp-frow__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">ご利用までの流れ</span>
                </h2>
                <div class="tp-flow__list">
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">お問い合わせ</h3>
                            <div class="Local">
                                <p>
                                    ご相談は無料です。お気軽にお問い合わせフォームよりご連絡ください。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">フードプレイスよりご連絡</h3>
                            <div class="Local">
                                <p>
                                    お問い合わせをいただきましたら、3営業日以内に担当よりお電話いたします。お電話でお客様情報を確認し、お申込み確定となります。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">契約書のご確認・お支払い</h3>
                            <div class="Local">
                                <p>
                                    契約開始月、費用について記載のある契約書をメールかLINEでお送りいたします。<br
                                    />
                                    そちらの内容で問題がない場合は、同意の旨のご返信とクレジットカードの登録をお願いいたします。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">店舗情報登録用フォームご入力</h3>
                            <ul class="tp-frow__txtList">
                                <p>
                                    契約書への同意とカード情報の登録が確認できましたら、店舗情報登録用フォームをお送りします。<br
                                    />
                                    営業時間、メニュー情報などをご入力ください。入力していただいた情報をGoogleビジネスプロフィールに登録いたします。
                                </p>
                            </ul>
                        </div>
                    </article>
                </div>
                <article>
                    <div class="tp-flow__listL">
                        <p>STEP</p>
                    </div>
                    <div class="tp-frow__listR">
                        <h3 class="Ttl">オーナー確認</h3>
                        <ul class="tp-frow__txtList">
                            <li>
                                店舗情報の登録後、オーナー確認を行います。<br />
                                こちらはお客様にもご協力いただきながら、行いますのでご了承くださいませ。
                            </li>
                            <li>
                                <p class="Ttl">オーナー確認方法</p>
                                <p>
                                    ・お店の固定電話での確認<br />
                                    ・お店の動画撮影での確認
                                </p>
                            </li>
                        </ul>
                    </div>
                </article>
                <article>
                    <div class="tp-flow__listL">
                        <p>STEP</p>
                    </div>
                    <div class="tp-frow__listR">
                        <h3 class="Ttl">登録完了・運用サポート開始</h3>
                        <div class="Local">
                            <p>
                                オーナー確認が出来ましたら登録完了となります。<br
                                />
                                情報修正・投稿代行（かんたんプランは月1回まで）、月次レポートの送付など運用のサポートを行います。
                            </p>
                        </div>
                    </div>
                </article>
            </section>

            <section class="tp-faq__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">よくある質問</span>
                </h2>
                <div class="g-acodion">
                    <dl>
                        <dt>解約はいつでもできますか？</dt>
                        <dd>
                            ご契約から1年未満の場合は、ご解約ができません。<br
                            />
                            ただし、閉店、開業の見通しが立たないなど飲食店の維持が困難な場合でございましたら、途中解約可能でございます。
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            以前まで違う会社でお願いしていた。その会社と直接やりとりしてほしい
                        </dt>
                        <dd>
                            申し訳ございませんが、弊社では直接他社様と連携をとることは出来兼ねます。<br
                            />
                            移行方法は、一度お客様のみオーナー権限を持っている状態（他社様の権限を削除）にしていただき、テンポスにオーナー権限付与が可能な状態になった場合、サービスのお申込みが可能となります。
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            移動販売はGoogleビジネスプロフィールに登録できますか？
                        </dt>
                        <dd>
                            Googleビジネスプロフィールの「対象とならないビジネス」によると、以下のビジネスはビジネス
                            リスティングの対象になりません。従って、移動販売はGoogleビジネスプロフィールには登録不可となりますのであらかじめご了承ください。
                        </dd>
                    </dl>
                    <dl>
                        <dt>フォーム入力が難しい。電話で伝えたい。</dt>
                        <dd>
                            電話対応可能です。電話スタッフより、1項目ずつ質問形式でお店の情報を伺いますので、そちらにお答えいただきますようお願い申し上げます。（目安時間30分のため、お時間に余裕のある際にご連絡ください。
                        </dd>
                    </dl>
                </div>
            </section>

            <ContactArea />

            <section class="tp-others__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">その他関連サービス</span
                    >
                </h2>
                <div class="tp-others__list">
                    <!-- <article>
							<a href="https://support.tenpos.com/lp/service/influencer-pr/">
								<p class="Thumb">
									<picture>
										<source media="(max-width:767px)"
											srcset="/asset/images/common/2x/img_kanren_service_influencer-marketing@2x.png">
										<img src="/asset/images/common/img_kanren_service_influencer-marketing.png"
											srcset="/asset/images/common/img_kanren_service_influencer-marketing.png 1x,/asset/images/common/2x/img_kanren_service_influencer-marketing@2x.png 2x"
											alt="インフルエンサー集客" width="304" height="231" loading="lazy" class="imgauto">
									</picture>
								</p>
								<h3 class="Ttl">
									インフルエンサー集客
								</h3>
							</a>
						</article> -->
                    <article>
                        <a href="/promotion/logo_creation/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_logo_creation@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_logo_creation.png"
                                        srcset="/asset/images/common/img_kanren_service_logo_creation.png 1x,/asset/images/common/2x/img_kanren_service_logo_creation@2x.png 2x"
                                        alt="SNS運用代行"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">ロゴ作成</h3>
                        </a>
                    </article>
                    <article>
                        <a href="/marketing/homepage/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_homepage@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_homepage.png"
                                        srcset="/asset/images/common/img_kanren_service_homepage.png 1x,/asset/images/common/2x/img_kanren_service_homepage@2x.png 2x"
                                        alt="SNS運用代行"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">
                                飲食店<br />
                                ホームページ作成
                            </h3>
                        </a>
                    </article>
                </div>
            </section>
        </div>
    </article>
</Layout>

<style>
    @charset "UTF-8";
    /* ■■■■■■■■■■global■■■■■■■■■■ */
    :root {
        --NUM_ORANGE: var(--MAIN_ORANGE);
        --TABLE_GRAY_01: #ddd;
        --TABLE_GRAY_02: #aaa;
        --TABLE_BORDER_GRAY: #b4b4b4;
        --TABLE_YELLOW: var(--MAIN_YELLOW);
        --TABLE_ORANGE: #ffa000;
        --TABLE_RED: #f07d00;
        --TABLE_BLUE: #508ca0;
        --TABLE_TAG_YELLOW: #fff092;
        --TABLE_TAG_ORANGE: #ffd266;
        --TABLE_TAG_RED: #f7b46c;
        --TABLE_TAG_BLUE: #b4ced6;
        --OPTION_YELLOW: var(--MAIN_YELLOW);
        --OPTION_ORANGE: var(--GRADATION_ORANGE);
        --OPTION_RED: var(--MAIN_ORANGE);
        --ATTENTION_TAG: #787878;
        --STEP_BORDER: #1b1616;
        --RENTAL_QUESTION_BG: #f7f7f7;
        --CONTACT_RED: #eb5a5a;
        --CONTACT_BLUE: #1283c3;
        --CONTACT_GREEN: #00aa8c;
        --CONTACT_RED_NAVY: rgb(215, 70, 70);
        --CONTACT_BLUE_NAVY: rgb(0, 111, 175);
        --CONTACT_GREEN_NAVY: rgb(0, 150, 120);
        --CONTAINER_BORDER: #ffe6aa;
        --CONTENTS_BORDER_GRAY: #a0a0a0;
        --ADD_TABLE_GRAY: #ededed;
        --ADD_TABLE_BTN: #5b5b5b;
        --ADD_CONTACT_GRAY: #e3e3e3;
        --ADD_CONTACT_YELLOW: #fdc831;
        --ADD_CONTACT_TITLE_GRAY: #9b9b9b;
        --sp_mag: calc(1 - (375 / 816));
        --contents_gap_col: 20px;
        --contents_gap_row: 20px;
        --TABLE_COMENT_RED: #c00000;
    }

    @media screen and (min-width: 768px) {
        :root {
            --margin_template_s: 40px;
            --margin_template_l: 80px;
        }
    }
    @media screen and (max-width: 767px) {
        :root {
            --margin_template_s: 20px;
            --margin_template_l: 60px;
        }
    }
    .red-text {
        color: var(--TABLE_COMENT_RED);
    }

    @media screen and (max-width: 374px) {
        .display_none__374 {
            display: none;
        }
    }

    /*-----------------------
mv tp-front__section
-----------------------*/
    .tp-front__section {
        background-image: url(/asset/images/gmb/mv_gmb.jpg);
    }

    /*-----------------------
tp-design__section 
-----------------------*/
    .tp-design__section .fit-content {
        height: fit-content;
    }
    /*-----------------------
サービスの特徴 tp-point__section
-----------------------*/
    .tp-point__section .tp-point__list {
        row-gap: 6px;
    }

    .tp-point__section .tp-point__list > li > .Ttl:before {
        width: 45px;
        margin-right: 13px;
    }

    .tp-point__section.first-sec
        .tp-point__list
        > li:nth-child(1)
        > .Ttl::before {
        background: url(/asset/images/common/icon_point19.png) no-repeat center
            center/contain;
    }

    .tp-point__section.first-sec
        .tp-point__list
        > li:nth-child(2)
        > .Ttl::before {
        background: url(/asset/images/common/icon_point01.png) no-repeat center
            center/contain;
    }

    .tp-point__section.first-sec
        .tp-point__list
        > li:nth-child(3)
        > .Ttl::before {
        background: url(/asset/images/common/icon_point06.png) no-repeat center
            center/contain;
    }

    .tp-point__section .tp-point__list .Ttl__txt {
        width: calc(100% - 58px);
    }

    @media screen and (min-width: 768px) {
        .tp-point__section .tp-point__list {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    /*-----------------------
サービスの特徴 tp-point__section second-sec
-----------------------*/
    .tp-point__section.first-sec
        .tp-point__list
        > li:nth-child(1)
        > .Ttl::before {
        background: url(/asset/images/common/icon_point19.png) no-repeat center
            center/contain;
    }

    .tp-point__section.first-sec
        .tp-point__list
        > li:nth-child(2)
        > .Ttl::before {
        background: url(/asset/images/common/icon_point01.png) no-repeat center
            center/contain;
    }

    .tp-point__section.first-sec
        .tp-point__list
        > li:nth-child(3)
        > .Ttl::before {
        background: url(/asset/images/common/icon_point06.png) no-repeat center
            center/contain;
    }

    /*-----------------------
デザインイメージ tp-plan__section
-----------------------*/
    .tp-table__plan > tfoot td {
        text-align: left;
        font-size: 12px;
    }
    @media screen and (min-width: 768px) {
        .tp-plan__section .tp-table__plan {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
        .tp-plan__section
            .tp-table__plan
            > tbody
            tr:first-child
            > *:nth-child(2):after {
            width: 60%;
        }
    }
    @media screen and (max-width: 767px) {
        .tp-plan__section .tp-table__plan > tbody tr {
            height: 430px;
        }
    }

    /*-----------------------
デザインイメージ tp-option__section
-----------------------*/

    .tp-option__section .box_cmn_items .balloon_layout:not(:last-child) {
    }
    .tp-option__section .box_cmn_items .balloon_layout:last-child {
        margin-bottom: 4rem;
    }

    .tp-option__section .box_cmn_01 {
        margin-right: auto;
    }
    .tp-option__section .box_cmn_02 {
        margin-left: auto;
    }
    .tp-option__section .box_cmn_01,
    .tp-option__section .box_cmn_02 {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        width: 72.4%;
        justify-content: space-between;
    }
    @media screen and (max-width: 767px) {
        .tp-option__section .box_cmn_01,
        .tp-option__section .box_cmn_02 {
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
        }
    }
    .tp-option__section .box_cmn_01 .box_txt,
    .tp-option__section .balloon1-left,
    .tp-option__section .balloon1-right {
        width: 20.5rem;
    }
    @media screen and (max-width: 767px) {
        .tp-option__section .balloon1-left,
        .tp-option__section .balloon1-right {
            width: 100%;
        }
    }
    .tp-option__section .balloon1-left p,
    .tp-option__section .balloon1-right p {
        font-weight: bold;
        line-height: 1.5;
    }

    .tp-option__section .box_cmn_01 .balloon1-right {
        position: relative;
        display: inline-block;
        padding: 50px 30px;
        border-radius: 20px;
        border: 1px solid var(--GRADATION_ORANGE);
    }
    .tp-option__section .box_cmn_01 .balloon1-right:before {
        content: "";
        position: absolute;
        top: 50%;
        left: -38px;
        margin-top: -13px;
        border: 13px solid transparent;
        border-right: 25px solid #fff;
        z-index: 2;
    }
    .tp-option__section .box_cmn_01 .balloon1-right:after {
        content: "";
        position: absolute;
        top: 50%;
        left: -41px;
        margin-top: -14px;
        border: 14px solid transparent;
        border-right: 26px solid var(--GRADATION_ORANGE);
        z-index: 1;
    }
    @media screen and (max-width: 767px) {
        .tp-option__section .box_cmn_01 .balloon1-right:before {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -38px;
            top: auto;
            margin-left: -13px;
            border: 13px solid transparent;
            border-top: 25px solid #fff;
            z-index: 2;
        }
        .tp-option__section .box_cmn_01 .balloon1-right:after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -41px;
            top: auto;
            margin-left: -14px;
            border: 14px solid transparent;
            border-top: 26px solid var(--GRADATION_ORANGE);
            z-index: 1;
        }
    }
    .tp-option__section .box_cmn_02 .balloon1-left {
        position: relative;
        display: inline-block;
        padding: 40px 30px;
        border-radius: 20px;
        border: 1px solid var(--GRADATION_ORANGE);
    }
    .tp-option__section .box_cmn_02 .balloon1-left:before {
        content: "";
        position: absolute;
        top: 50%;
        right: -38px;
        margin-top: -13px;
        border: 13px solid transparent;
        border-left: 25px solid #fff;
        z-index: 2;
    }
    .tp-option__section .box_cmn_02 .balloon1-left:after {
        content: "";
        position: absolute;
        top: 50%;
        right: -41px;
        margin-top: -14px;
        border: 14px solid transparent;
        border-left: 26px solid var(--GRADATION_ORANGE);
        z-index: 1;
    }
    @media screen and (max-width: 767px) {
        .tp-option__section .box_cmn_02 .balloon1-left {
            margin-top: 50px;
        }
        .tp-option__section .box_cmn_02 .balloon1-left:before {
            content: "";
            position: absolute;
            left: 50%;
            right: auto;
            bottom: -38px;
            top: auto;
            margin-left: -13px;
            border: 13px solid transparent;
            border-top: 25px solid #fff;
            z-index: 2;
        }
        .tp-option__section .box_cmn_02 .balloon1-left:after {
            content: "";
            position: absolute;
            left: 50%;
            right: auto;
            bottom: -41px;
            top: auto;
            margin-left: -14px;
            border: 14px solid transparent;
            border-top: 26px solid var(--GRADATION_ORANGE);
            z-index: 1;
        }
    }
    .tp-option__section .box_cmn_01 .box_image {
        width: 138px;
    }
    @media screen and (max-width: 767px) {
        .tp-option__section .box_cmn_01 .box_image {
            margin: 0 auto;
            order: 2;
        }
        .tp-option__section .box_cmn_01 .box_txt {
            order: 1;
            width: 100%;
            margin-bottom: 30px;
        }
    }
    .tp-option__section .box_cmn_02 .box_image {
        width: 148px;
    }
    @media screen and (max-width: 767px) {
        .tp-option__section .box_cmn_02 .box_image {
            margin: 0 auto;
            order: 2;
        }
        .tp-option__section .box_cmn_02 .box_txt {
            order: 1;
            width: 100%;
            margin-bottom: 30px;
        }
    }
    .tp-option__section .btn_blue {
        margin-bottom: 4rem;
    }

    .tp-option__section .box_cmn_02 img {
        width: 100%;
        height: auto;
    }
    .tp-plan__section__btn {
        margin-top: 30px;
    }
</style>
