---
import Layout from "../../../layouts/Layout.astro";
import ContactArea from "../../../components/common/ContactArea.astro";
import structuredDataMarkup from "../../../data/data.json";
const markup = JSON.stringify(structuredDataMarkup.karaoke);
---

<Layout
    title="飲食店のカラオケ設置・導入サポート｜テンポスフードプレイス"
    description="レンタルなら故障しても無償修理！24時間365日サポートのJOYSOUNDなら最大33万曲以上。業務用カラオケ機器購入も可能。"
    pageUrl="/telecom/karaoke/"
    ogimage="/asset/images/karaoke/ogp_karaoke.jpg"
    markup={markup}
>
    <article id="mainarea">
        <div class="tp-border sans">
            <nav class="tp-nav">
                <ol class="tp-nav__list flex">
                    <li><a href="/">トップページ</a></li>
                    <li><a href="/telecom/">店舗インフラ</a></li>
                    <li>カラオケ</li>
                </ol>
            </nav>
            <section class="tp-front__section">
                <h1 class="tp-front__ttl font_m_plus">
                    <span>カラオケ</span>
                </h1>
                <p class="tp-front__caption">
                    業務用通信カラオケの導入をお考えの際は、<br
                    />テンポスにお声がけください！
                </p>
                <p class="tp-front__contact">
                    <a class="click_link_mail" href="/contact/?checked=8"
                        >お問い合わせはこちら</a
                    >
                </p>
            </section>

            <!-- こんなお悩みありませんか？ -->
            <section class="tp-worries__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __border">
                    <span></span>こんなお悩みありませんか？<span></span>
                </h2>
                <ul class="tp-check__list tp-wrapper__l">
                    <li>
                        <span class="tp-bglg">カラオケ機種の導入</span
                        >を検討している
                    </li>
                    <li>
                        <span class="tp-bglg">自分の店にあった機種</span
                        >を導入したい
                    </li>
                    <li>
                        どの<span class="tp-bglg">メーカーの機種</span
                        >を選べば良いかわからない
                    </li>
                    <li><span class="tp-bglg">客単価</span>を上げたい</li>
                    <li>
                        <span class="tp-bglg">顧客満足度</span>をアップさせたい
                    </li>
                </ul>
            </section>

            <section class="tp-design__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    テンポスでは業務用通信カラオケの<br class="pc" />
                    ご紹介が可能
                </h2>
                <div class="tp-design__contents flex">
                    <p class="tp-local">
                        カラオケを導入することで歌を楽しむ時間が発生し、<br />
                        滞在時間が延びることで客単価のアップが期待できます。<br
                        />
                        さらに、カラオケを利用すると場が盛り上がるため、<br />
                        顧客満足度のアップも期待できます！<br /><br />

                        お客様のご要望に沿ったカラオケ機種をご紹介させて<br />
                        いただきますので、お気軽にお問い合わせください！
                    </p>
                    <p class="tp-design__thumb width-40">
                        <img
                            src="/asset/images/karaoke/img_karaoke_01.png"
                            alt="テンポスでは業務用通信カラオケのご紹介ができます"
                            width="491"
                            height="552"
                            loading="lazy"
                            class="imgauto fit-content"
                        />
                    </p>
                </div>
            </section>

            <!-- tp-want__section -->
            <section class="tp-want__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center">通信カラオケの導入メリット</h2>
                <ul class="tp-check__list tp-wrapper__l tp-mgb__s">
                    <li>
                        お客様の<span class="tp-bglg">ご予算・ご要望</span
                        >に合わせて最適な機種をご提案！
                    </li>
                    <li>
                        周辺機器の台数により、<span class="tp-bglg"
                            >簡単明瞭な価格設定</span
                        >！
                    </li>
                    <li>
                        カラオケを快適にご利用いただけるよう、<span
                            class="tp-bglg">定期訪問し点検</span
                        >！
                    </li>
                    <li>
                        <span class="tp-bglg">365 日サポート</span
                        >で安心できる！
                    </li>
                </ul>
                <p class="tp-want__thumb width-80">
                    <img
                        src="/asset/images/karaoke/img_karaoke_02.png"
                        alt="通信カラオケの導入メリット"
                        width="180"
                        height="89"
                        loading="lazy"
                        class="imgauto"
                    />
                </p>
            </section>

            <!-- 3つの特徴 -->
            <section class="tp-point__section first-sec tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-point__ttl__span"
                        >フードプレイスカラオケの</span
                    >
                    <span class="tp-ttl__balloon__span"
                        ><span>3</span>つの特徴</span
                    >
                </h2>
                <ul class="tp-point__list">
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">充実のサポート体制！</span>
                        </h3>
                        <p class="Local">
                            24時間365日無休で電話受付対応をしておりますので、<br
                            />
                            深夜や休日の「困った！」も安心してご相談頂けます！<br
                            />
                            また、LINEチャット機能でもカラオケ機器、マイク等の不具合がお気軽に相談できます。
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">曲数が豊富！</span>
                        </h3>
                        <p class="Local">
                            JOYSOUNDは圧倒的曲数No.1の33.4万曲を搭載しております。(2022年4月時点)<br
                            />
                            更に、「うたスキミュージックポスト」をご利用頂ければ、<br
                            />
                            オリジナルソングを自由に投稿でき、曲数無限大！<br />
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">歌いやすい！</span>
                        </h3>
                        <p class="Local">
                            JOYSOUNDではハイレゾのマイクサウンドに対応しています。<br
                            />
                            マイクサウンドをハイレゾにすることによって、音の返りが早く、<br
                            />
                            返ってくる音がクリアに聞き取れ、気持ちよく歌えます！
                        </p>
                    </li>
                </ul>
            </section>

            <ContactArea />

            <!-- ご利用までの流れ -->
            <section class="tp-frow__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">ご利用までの流れ</span>
                </h2>
                <div class="tp-flow__list">
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">お問い合わせ</h3>
                            <div class="Local">
                                <p>
                                    お問い合わせフォームよりご連絡ください。担当スタッフがお電話にてご用件を伺います。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">提携先よりご連絡</h3>
                            <div class="Local">
                                <p>
                                    現地の担当者がお客様の予算・ご要望にあった、最適な機種・料金プランをご提案いたします。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">お申込み</h3>
                            <div class="Local">
                                <p>
                                    契約内容をご確認いただき、書面による契約をいたします。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">利用開始</h3>
                            <div class="Local">
                                <p>
                                    設置日及び設置場所の打ち合わせを行い、納品及び設置をさせて頂きます。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">アフターサポート</h3>
                            <div class="Local">
                                <p>
                                    導入後も365日24時間サポートしているため、安心してご利用ください。
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>

            <!-- よくある質問 -->
            <section class="tp-faq__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">よくある質問</span>
                </h2>
                <div class="g-acodion">
                    <dl>
                        <dt>カラオケの機器名は？</dt>
                        <dd>JOYSOUND（ジョイサウンド）になります。</dd>
                    </dl>
                    <dl>
                        <dt>機械を購入しないといけないの？</dt>
                        <dd>購入とレンタルとお選びいただけます。</dd>
                    </dl>
                    <dl>
                        <dt>購入にした場合のメリットは？</dt>
                        <dd>
                            ご利用期間が長期の場合、レンタルよりも費用総額が安価になります。<br
                            />
                            機械購入後は情報サービス及び保守に掛かる費用のみとなり、毎月の支払を少なく出来ます。<br
                            />
                            ※保守内容・費用に関しては詳しくは提携会社にご確認お願いいたします。
                        </dd>
                    </dl>
                    <dl>
                        <dt>レンタルにした場合のメリットは？</dt>
                        <dd>
                            初期費用が安く抑えられます。<br />
                            ご利用頂いている機器に万一故障が発生しても無償で保守サービスが受けられます。<br
                            />
                            ※利用条件に従った使用における故障に限ります。
                        </dd>
                    </dl>
                    <dl>
                        <dt>カラオケ専用生音源とは何か</dt>
                        <dd>
                            ヨーロッパ音楽ソフトウェアシェアNo.1※であるドイツのMAGIX
                            Software
                            GmbH社が録音したあらゆる楽器の音を、新サウンド開発のために設計した音響スタジオで徹底的にチューニングしました。<br
                            />
                            完成した生音によるサウンドは、まるで目の前で演奏しているかのような臨場感と、心地よさをもたらします。その名の通り、カラオケに新しい命(Leben)を吹き込む革新的な音源。それが、X-Lebenです。<br
                            />
                            ※対応機種：JOYSOUND MAX/MAX2/MAX GO/響/響Ⅱ
                        </dd>
                    </dl>
                </div>
            </section>

            <ContactArea />

            <!-- その他関連サービス -->
            <section class="tp-others__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">その他関連サービス</span
                    >
                </h2>
                <div class="tp-others__list">
                    <article>
                        <a href="/telecom/internetline/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_internetline@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_internetline.png"
                                        srcset="/asset/images/common/img_kanren_service_internetline.png 1x,/asset/images/common/2x/img_kanren_service_internetline@2x.png 2x"
                                        alt="インターネット回線"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">インターネット回線</h3>
                        </a>
                    </article>
                    <article>
                        <a
                            href="https://www.tenpos.com/diy_interior/"
                            target="_blank"
                        >
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_interior@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_interior.png"
                                        srcset="/asset/images/common/img_kanren_service_interior.png 1x,/asset/images/common/2x/img_kanren_service_interior@2x.png 2x"
                                        alt="飲食店内装工事"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">飲食店内装工事</h3>
                        </a>
                    </article>
                    <article>
                        <a
                            href="https://www.tenpos.com/bukken-search/"
                            target="_blank"
                        >
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_bukken@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_bukken.png"
                                        srcset="/asset/images/common/img_kanren_service_bukken.png 1x,/asset/images/common/2x/img_kanren_service_bukken@2x.png 2x"
                                        alt="飲食店物件紹介"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">飲食店物件紹介</h3>
                        </a>
                    </article>
                </div>
            </section>
        </div>
    </article>
</Layout>

<style>
    @charset "UTF-8";
    /* ■■■■■■■■■■global■■■■■■■■■■ */
    :root {
        --NUM_ORANGE: var(--MAIN_ORANGE);
        --TABLE_GRAY_01: #ddd;
        --TABLE_GRAY_02: #aaa;
        --TABLE_BORDER_GRAY: #b4b4b4;
        --TABLE_YELLOW: var(--MAIN_YELLOW);
        --TABLE_ORANGE: #ffa000;
        --TABLE_RED: #f07d00;
        --TABLE_BLUE: #508ca0;
        --TABLE_TAG_YELLOW: #fff092;
        --TABLE_TAG_ORANGE: #ffd266;
        --TABLE_TAG_RED: #f7b46c;
        --TABLE_TAG_BLUE: #b4ced6;
        --OPTION_YELLOW: var(--MAIN_YELLOW);
        --OPTION_ORANGE: var(--GRADATION_ORANGE);
        --OPTION_RED: var(--MAIN_ORANGE);
        --ATTENTION_TAG: #787878;
        --STEP_BORDER: #1b1616;
        --RENTAL_QUESTION_BG: #f7f7f7;
        --CONTACT_RED: #eb5a5a;
        --CONTACT_BLUE: #1283c3;
        --CONTACT_GREEN: #00aa8c;
        --CONTACT_RED_NAVY: rgb(215, 70, 70);
        --CONTACT_BLUE_NAVY: rgb(0, 111, 175);
        --CONTACT_GREEN_NAVY: rgb(0, 150, 120);
        --CONTAINER_BORDER: #ffe6aa;
        --CONTENTS_BORDER_GRAY: #a0a0a0;
        --ADD_TABLE_GRAY: #ededed;
        --ADD_TABLE_BTN: #5b5b5b;
        --ADD_CONTACT_GRAY: #e3e3e3;
        --ADD_CONTACT_YELLOW: #fdc831;
        --ADD_CONTACT_TITLE_GRAY: #9b9b9b;
        --sp_mag: calc(1 - (375 / 816));
        --contents_gap_col: 20px;
        --contents_gap_row: 20px;
        --TABLE_COMENT_RED: #c00000;
    }
    /*-----------------------
mv tp-front__section
-----------------------*/
    .tp-front__section {
        background-image: url(/asset/images/press-release/mv-press-release.jpg);
    }

    /*-----------------------
tp-worries__section
-----------------------*/
    .tp-check__list > li {
        display: block;
    }

    /*-----------------------
6つの特徴 tp-point__section
-----------------------*/
    .tp-point__section .tp-point__list {
        row-gap: 6px;
    }

    .tp-point__section .tp-point__list > li > .Ttl:before {
        width: 45px;
        margin-right: 13px;
    }

    .tp-point__section .tp-point__list > li:nth-child(1) > .Ttl::before {
        background: url(/asset/images/common/icon_point14.png) no-repeat center
            center/contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(2) > .Ttl::before {
        background: url(/asset/images/common/icon_point34.png) no-repeat center
            center/contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(3) > .Ttl::before {
        background: url(/asset/images/common/icon_point37.png) no-repeat center
            center/contain;
    }

    .tp-point__section .tp-point__list .Ttl__txt {
        width: calc(100% - 58px);
    }

    @media screen and (min-width: 768px) {
        .tp-point__section .tp-point__list {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    /*-----------------------
 contactarea
-----------------------*/
    .contactarea:first-of-type {
        margin-bottom: 80px;
    }
</style>
