---
import Layout from "../../../layouts/Layout.astro";
import ContactArea from "../../../components/common/ContactArea.astro";
import structuredDataMarkup from "../../../data/data.json";
const markup = JSON.stringify(structuredDataMarkup.music);
---

<Layout
    title="著作権フリーで安心！店舗BGMの導入をサポート｜テンポス"
    description="お店にBGMを導入することでリピート率アップ！テンポスでは業界最大手 USENのBGMをご紹介いたします。24時間365日のサポート体制で安心！950万曲搭載で業界シェアNO.1"
    pageUrl="/telecom/music/"
    ogimage="/asset/images/music/ogp_music.jpg"
    markup={markup}
>
    <article id="mainarea">
        <div class="tp-border sans">
            <nav class="tp-nav">
                <ol class="tp-nav__list flex">
                    <li><a href="/">トップページ</a></li>
                    <li><a href="/telecom/">店舗インフラ</a></li>
                    <li>店舗BGM</li>
                </ol>
            </nav>

            <section class="tp-front__section">
                <h1 class="tp-front__ttl font_m_plus">
                    <span>店舗BGM</span>
                </h1>
                <p class="tp-front__caption">
                    業界最大手、USENのBGMを<br />ご案内いたします。
                </p>
                <p class="tp-front__contact">
                    <a class="click_link_mail" href="/contact/?checked=34"
                        >お問い合わせはこちら</a
                    >
                </p>
            </section>

            <section class="tp-worries__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __border">
                    <span></span>こんなお悩みありませんか？<span></span>
                </h2>
                <ul class="tp-check__list tp-wrapper__l">
                    <li>
                        BGMを導入するか<span class="tp-bglg">悩んでる</span>
                    </li>
                    <li>
                        <span class="tp-bglg">リピート率が上がらなくて</span
                        >悩んでいる
                    </li>
                    <li>
                        <span class="tp-bglg">こだわりの店内演出</span>をしたい
                    </li>
                </ul>
            </section>

            <section class="tp-design__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">こだわりの店内演出をしませんか？</h2>
                <div class="tp-design__contents flex">
                    <div class="tp-local__wrap">
                        <p class="tp-local">
                            テンポスが紹介しているBGMなら<br
                            />あらゆる空間の演出ニーズを満たす豊富な楽曲をご用意しております。
                        </p>
                        <p class="tp-local">
                            例えば曜日や時間ごとに流したいBGMや店内CM、<br
                            />店内アナウンスのカスタマイズや業種・業態に合わせたプレイリストの自動作成などお客様のご要望に応じてあらゆる空間演出を自在に設定することができます！
                        </p>
                        <p class="tp-local">
                            BGMを導入することで居心地のよい空間を作り、<br
                            />リピート率アップにも繋がりますので、導入を検討ください！
                        </p>
                    </div>
                    <p class="tp-design__thumb">
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/music/2x/img_music_design@2x.png"
                            />
                            <img
                                src="/asset/images/music/img_music_design.png"
                                srcset="/asset/images/music/img_music_design.png 1x,/asset/images/music/2x/img_music_design@2x.png 2x"
                                alt=""
                                width="240"
                                height="255"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </p>
                </div>
            </section>

            <section class="tp-want__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center">
                    テンポスでは<br class="sp" />業界最大手USENのBGM
                    をご紹介可能
                </h2>
                <ul class="tp-check__list tp-wrapper__l tp-mgb__s">
                    <li>
                        <span class="tp-bglg">24時間365日</span>のサポート体制
                    </li>
                    <li>
                        ニーズに応える<span class="tp-bglg">950万曲以上</span
                        >の楽曲
                    </li>
                    <li>店舗BGM<span class="tp-bglg">業界シェアNO.1</span></li>
                </ul>
                <p class="tp-want__thumb width-80">
                    <picture>
                        <source
                            media="(max-width:767px)"
                            srcset="/asset/images/music/2x/img_music_want@2x.png"
                        />
                        <img
                            src="/asset/images/music/img_music_want.png"
                            srcset="/asset/images/music/img_music_want.png 1x,/asset/images/music/2x/img_music_want@2x.png 2x"
                            alt=""
                            width="617"
                            height="210"
                            loading="lazy"
                            class="imgauto"
                        />
                    </picture>
                </p>
            </section>

            <section class="tp-point__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-point__ttl__span"
                        >フードプレイス店舗BGMの</span
                    >
                    <span class="tp-ttl__balloon__span"
                        ><span>3</span>つの特徴</span
                    >
                </h2>
                <ul class="tp-point__list __1clm">
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">業界実績No.1</span>
                        </h3>
                        <p class="Local">
                            店舗BGMといえばUSEN。<br
                            />業界で実績No.1だからこその安定した音楽配信をお届けします。
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">万全のサポート体制</span>
                        </h3>
                        <p class="Local">
                            24時間365日の電話サポートがあるため、万が一音が出ないなどのトラブルがあった際も安心です。
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">著作権手続きが不要</span>
                        </h3>
                        <p class="Local">
                            USENがお客様に代わって著作権手続き・支払いをしておりますので、<br
                            />面倒な手続きや個別での著作権料の支払いは一切不要です。
                        </p>
                    </li>
                </ul>
            </section>

            <section class="tp-frow__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">ご利用までの流れ</span>
                </h2>
                <div class="tp-flow__list">
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">無料相談・お問い合わせ</h3>
                            <div class="Local">
                                <p>
                                    ご相談は無料です。BGMを導入するか悩んでいるといった場合も、まずはお気軽にお問い合わせください。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">フードプレイスよりご連絡</h3>
                            <div class="Local">
                                <p>電話でお客様の相談内容をお伺いします。</p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">提携先からのご連絡</h3>
                            <div class="Local">
                                <p>
                                    電話や現地への訪問を通じてサービスの内容や料金プランをお客様に提案します。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">ご契約</h3>
                            <div class="Local">
                                <p>
                                    サービス内容や料金など、お客様のご要望と相違がなければ契約になります。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">利用開始</h3>
                            <div class="Local">
                                <p>
                                    設置日及び設置場所の打合せを行い、納品および設置をさせて頂きます。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">アフターサポート</h3>
                            <div class="Local">
                                <p>
                                    導入後も24時間365日のサポート体制があるため、安心してご利用ください。
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>

            <section class="tp-faq__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">よくある質問</span>
                </h2>
                <div class="g-acodion">
                    <dl>
                        <dt>著作権手続きはどうすればいいの？</dt>
                        <dd>
                            USENがお客様に代わって著作権手続き・支払いをしておりますので、面倒な手続きや個別での著作権料の支払いは一切不要です。
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            音が出なくなった等トラブルが起きたときはどうすればいいの？
                        </dt>
                        <dd>
                            万が一、音がでないなどのトラブルも24時間365日の電話サポートがあるため安心です。
                        </dd>
                    </dl>
                    <dl>
                        <dt>通信工事や設置工事は必要？</dt>
                        <dd>
                            「USEN
                            MUSIC」なら通信機能がBGM端末に搭載されているため、通信工事や設置工事が一切不要です。<br
                            />
                            ※設置工事が必要なタイプのBGMを導入する場合は、日本全国のエンジニアが丁寧に対応します。
                        </dd>
                    </dl>
                </div>
            </section>

            <ContactArea />

            <section class="tp-others__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">その他関連サービス</span
                    >
                </h2>
                <div class="tp-others__list">
                    <article>
                        <a href="/telecom/internetline/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_internetline@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_internetline.png"
                                        srcset="/asset/images/common/img_kanren_service_internetline.png 1x,/asset/images/common/2x/img_kanren_service_internetline@2x.png 2x"
                                        alt="インターネット回線"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">インターネット回線</h3>
                        </a>
                    </article>
                    <article>
                        <a href="/telecom/karaoke/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_karaoke@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_karaoke.png"
                                        srcset="/asset/images/common/img_kanren_service_karaoke.png 1x,/asset/images/common/2x/img_kanren_service_karaoke@2x.png 2x"
                                        alt="カラオケ"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">カラオケ</h3>
                        </a>
                    </article>
                    <article>
                        <a href="/telecom/security-camera/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_security-camera@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_security-camera.png"
                                        srcset="/asset/images/common/img_kanren_service_security-camera.png 1x,/asset/images/common/2x/img_kanren_service_security-camera@2x.png 2x"
                                        alt="防犯カメラ"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">防犯カメラ</h3>
                        </a>
                    </article>
                </div>
            </section>
        </div>
    </article>
</Layout>

<style>
    @charset "utf-8";

    /*-----------------------
mv tp-front__section
-----------------------*/
    .tp-front__section {
        background-image: url(/asset/images/music/mv_music.jpg);
    }

    /*-----------------------
こんなお悩みありませんか？ tp-worries__section
-----------------------*/
    .tp-worries__section .tp-check__list > li {
        display: block;
    }

    /*-----------------------
tp-design__section
-----------------------*/
    @media screen and (max-width: 767px) {
        .tp-design__section .tp-design__thumb {
            width: 50%;
        }
    }

    /*-----------------------
tp-want__section
-----------------------*/
    .tp-want__section .tp-check__list > li {
        display: block;
    }
    @media screen and (max-width: 767px) {
        .tp-want__section .tp-want__thumb {
            width: 100%;
            max-width: 500px;
        }
    }

    /*-----------------------
3つの特徴 tp-point__section
-----------------------*/
    .tp-point__section .tp-point__list > li:nth-child(1) > .Ttl::before {
        background: url(/asset/images/common/icon_point30.png) no-repeat center
            center / contain;
    }
    .tp-point__section .tp-point__list > li:nth-child(2) > .Ttl::before {
        background: url(/asset/images/common/icon_point14.png) no-repeat center
            center / contain;
    }
    .tp-point__section .tp-point__list > li:nth-child(3) > .Ttl::before {
        background: url(/asset/images/common/icon_point34.png) no-repeat center
            center / contain;
    }
    @media screen and (min-width: 768px) {
        .tp-point__section .tp-point__list > li > .Ttl:before {
            width: 60px;
        }
        .tp-point__section .tp-point__list .Ttl__txt {
            width: calc(100% - 70px);
        }
    }
</style>
