---
import Layout from "../../../../../layouts/Layout.astro";
import structuredDataMarkup from "../../../../../data/data.json";
const markup = JSON.stringify(structuredDataMarkup.logoCreationTeppanyaki);
---

<Layout
	title="鉄板料理 ロゴ制作事例一覧 | テンポスフードプレイス"
	description="飲食店ロゴデザインの作成事例・実績を紹介しています。居酒屋、カフェ、焼肉、バーなど幅広いロゴを作成しております。お店のコンセプトに合わせるのはもちろん、立地や客単価に合わせてデザインのご提案も行っています。どんなイメージで作ればいいか分からない場合もお気軽にご相談ください。"
	pageUrl="/promotion/logo_creation/jirei/teppanyaki/"
	ogimage="/asset/images/logo_creation/ogp_logo_creation.jpg"
	markup={markup}
>
	<article id="mainarea">
		<div class="tp-border sans">
			<nav class="tp-nav">
				<ol class="tp-nav__list flex">
					<li><a href="/">トップページ</a></li>
					<li><a href="/promotion/">販促デザイン</a></li>
					<li>
						<a href="/promotion/logo_creation/">ロゴ作成サービス</a>
					</li>
					<li>
						<a href="/promotion/logo_creation/jirei/"
							>制作事例一覧</a
						>
					</li>
					<li>鉄板料理</li>
				</ol>
			</nav>
			<section class="btm-front__section logolist">
				<h1 class="btm-front__ttl font_m_plus">
					<span>ロゴ制作事例</span>
				</h1>
			</section>
			<section class="iz-case__section g-wrapper btm-sec">
				<h2 class="iz-case__ttl case__ttl__teppanyaki">
					<span>鉄板料理</span>
				</h2>
				<ul class="iz-case__list">
					<li>
						<p class="iz-case__list__thumb">
							<picture>
								<source
									media="(max-width:767px)"
									srcset="/asset/images/logolist_teppanyaki/sp/img_logo_creation_jirei_teppanyaki_01_sp.png"
								/>
								<img
									src="/asset/images/logolist_teppanyaki/img_logo_creation_jirei_teppanyaki_01.png"
									srcset="/asset/images/logolist_teppanyaki/img_logo_creation_jirei_teppanyaki_01.png 1x,/asset/images/logolist_teppanyaki/2x/img_logo_creation_jirei_teppanyaki_01@2x.png 2x"
									alt="痺れ焼きそば　くらん"
									width="206"
									height="133"
									class="imgauto"
								/>
							</picture>
						</p>
						<h3 class="iz-case__list__ttl">痺れ焼きそば　くらん</h3>
					</li>
					<li>
						<p class="iz-case__list__thumb">
							<picture>
								<source
									media="(max-width:767px)"
									srcset="/asset/images/logolist_teppanyaki/sp/img_logo_creation_jirei_teppanyaki_02_sp.png"
								/>
								<img
									src="/asset/images/logolist_teppanyaki/img_logo_creation_jirei_teppanyaki_02.png"
									srcset="/asset/images/logolist_teppanyaki/img_logo_creation_jirei_teppanyaki_02.png 1x,/asset/images/logolist_teppanyaki/2x/img_logo_creation_jirei_teppanyaki_02@2x.png 2x"
									alt="弁慶"
									width="206"
									height="133"
									class="imgauto"
								/>
							</picture>
						</p>
						<h3 class="iz-case__list__ttl">弁慶</h3>
					</li>
				</ul>
				<a href="/promotion/logo_creation/jirei/" class="jirei-backbtn"
					>ロゴ制作事例一覧に戻る</a
				>
			</section>
		</div>
	</article>
</Layout>
