<section id="kaitori-soba">
  <div class="contents__inner">
    <h2 class="header_02">テンポスの買取価格相場</h2>

    <div class="sp">
      <ul class="qanda-list">
        <li>
          <div class="Q_box soba-table">
            <div class="Q_wrppr">
              <div class="mark_Q">
                <span><img src="/lp/kaitori/img/img_soba01.png" alt="" /></span>
              </div>
              <p class="text_Q">縦型冷凍冷蔵庫</p>
            </div>
          </div>
          <div class="A_box" style="display: none;">
            <div class="A_wrppr">
              <table class="table01">
                <tbody>
                  <tr>
                    <th>幅</th>
                    <th>奥行</th>
                    <th>2021年～2024年式</th>
                    <th>2014年～2020年式</th>
                    <th>2013年式～</th>
                  </tr>
                  <tr>
                    <td>610 ~750mm </td>
                    <td rowspan="4">650mm</td>
                    <td>71,000~119,000円 </td>
                    <td>0~86,000円 </td>
                    <td>0~16,000円 </td>
                  </tr>
                  <tr>
                    <td>900~1200mm</td>
                    <td>119,000~157,000円</td>
                    <td>36,000~107,000円</td>
                    <td>24,000~26,000円</td>
                  </tr>
                  <tr>
                    <td>1500mm</td>
                    <td>116,000~148,000円</td>
                    <td>27,000～102,000円</td>
                    <td>16000円</td>
                  </tr>
                  <tr>
                    <td>1800mm</td>
                    <td>70,000~99,000円</td>
                    <td>0～57,000円</td>
                    <td>都度見積もり</td>
                  </tr>
                  <tr>
                    <td>610~750mm</td>
                    <td rowspan="4">800mm</td>
                    <td>71,000~96,000円</td>
                    <td>0~62,000円</td>
                    <td>都度見積もり</td>
                  </tr>
                  <tr>
                    <td>900~1200mm</td>
                    <td>102,000~144,000円</td>
                    <td>24,000~99,000円</td>
                    <td>14,000~16,000円</td>
                  </tr>
                  <tr>
                    <td>1500mm</td>
                    <td>92,000~126,000円</td>
                    <td>0~81,000円</td>
                    <td>都度見積もり</td>
                  </tr>
                  <tr>
                    <td>1800mm</td>
                    <td>77,000~109,000円</td>
                    <td>0～63,000円</td>
                    <td>都度見積もり</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </li>

        <li>
          <div class="Q_box soba-table">
            <div class="Q_wrppr">
              <div class="mark_Q">
                <span><img src="/lp/kaitori/img/img_soba02.png" alt="" /></span>
              </div>
              <p class="text_Q">製氷機</p>
            </div>
          </div>
          <div class="A_box" style="display: none;">
            <div class="A_wrppr">
              <table class="table02">
                <tbody>
                  <tr>
                    <th>容量</th>
                    <th>2021年～2024年式</th>
                    <th>2014年～2020年式</th>
                    <th>2013年式～</th>
                  </tr>
                  <tr>
                    <td>25kg </td>
                    <td>56,000～68,000円 </td>
                    <td>17,000～50,000円 </td>
                    <td>11000円 </td>
                  </tr>
                  <tr>
                    <td>35~45kg</td>
                    <td>74,000~106,000円</td>
                    <td>23,000~76,000円</td>
                    <td>14,000~15,000円</td>
                  </tr>
                  <tr>
                    <td>55~95kg</td>
                    <td>62,000~98,000円</td>
                    <td>0~59,000円</td>
                    <td>都度見積もり</td>
                  </tr>
                  <tr>
                    <td>115~240kg</td>
                    <td>54,000~88,000円</td>
                    <td>0~40,000円</td>
                    <td>都度見積もり</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </li>

        <li>
          <div class="Q_box soba-table">
            <div class="Q_wrppr">
              <div class="mark_Q">
                <span><img src="/lp/kaitori/img/img_soba03.png" alt="" /></span>
              </div>
              <p class="text_Q">食器洗浄機</p>
            </div>
          </div>
          <div class="A_box" style="display: none;">
            <div class="A_wrppr">
              <table class="table01">
                <tbody>
                  <tr>
                    <th>タイプ</th>
                    <th>2021年～2024年式</th>
                    <th>2014年～2020年式</th>
                    <th>2013年式～</th>
                  </tr>
                  <tr>
                    <td>アンダーカウンター </td>
                    <td>130,000～176,000円 </td>
                    <td>0～11,0000円 </td>
                    <td>都度見積もり </td>
                  </tr>
                  <tr>
                    <td>リターン</td>
                    <td>142,000～191,000円</td>
                    <td>0～119,000円</td>
                    <td>都度見積もり </td>
                  </tr>
                  <tr>
                    <td>スルー</td>
                    <td>65,000～112,000円</td>
                    <td>0～43,000円</td>
                    <td>都度見積もり </td>
                  </tr>
                  <tr>
                    <td>ドア</td>
                    <td>56,000～97,000円</td>
                    <td>0～38,000円</td>
                    <td>都度見積もり </td>
                  </tr>
                  <tr>
                    <td>ラックサイズ350mm</td>
                    <td>57,000～98,000円</td>
                    <td>0～38,000円</td>
                    <td>都度見積もり </td>
                  </tr>
                  <tr>
                    <td>ラックサイズ350mm</td>
                    <td>57,000～98,000円</td>
                    <td>0～38,000円</td>
                    <td>都度見積もり </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </li>

        <li>
          <div class="Q_box soba-table">
            <div class="Q_wrppr">
              <div class="mark_Q">
                <span><img src="/lp/kaitori/img/img_soba04.png" alt="" /></span>
              </div>
              <p class="text_Q">冷蔵コールドテーブル</p>
            </div>
          </div>
          <div class="A_box" style="display: none;">
            <div class="A_wrppr">
              <table class="table04">
                <tbody>
                  <tr>
                    <th>幅</th>
                    <th>奥行</th>
                    <th>2021年～2024年式</th>
                    <th>2014年～2020年式</th>
                    <th>2013年式～</th>
                  </tr>
                  <tr>
                    <td>600mm </td>
                    <td rowspan="2">450mm</td>
                    <td>2,0000～28,000円 </td>
                    <td>0～16,000円 </td>
                    <td>都度見積もり </td>
                  </tr>
                  <tr>
                    <td>1200~1500mm</td>
                    <td>52,000~68,000円</td>
                    <td>12,000~50,000円</td>
                    <td>7,000～11,000円</td>
                  </tr>
                  <tr>
                    <td>755mm</td>
                    <td rowspan="3">600mm</td>
                    <td>24,000～35,000円</td>
                    <td>0～20,000円</td>
                    <td>都度見積もり</td>
                  </tr>
                  <tr>
                    <td>900～15000mm</td>
                    <td>48,000～70,000円</td>
                    <td>0～51,000円</td>
                    <td>0～10,000円</td>
                  </tr>
                  <tr>
                    <td>1800mm</td>
                    <td>24,000～38,000円</td>
                    <td>0～17,000円</td>
                    <td>都度見積もり</td>
                  </tr>
                  <tr>
                    <td>755～1500mm</td>
                    <td>750mm</td>
                    <td>17,000～31,000円</td>
                    <td>0～15,000円</td>
                    <td>都度見積もり</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </li>

        <li>
          <div class="Q_box soba-table">
            <div class="Q_wrppr">
              <div class="mark_Q">
                <span><img src="/lp/kaitori/img/img_soba05.png" alt="" /></span>
              </div>
              <p class="text_Q">茹で麺機</p>
            </div>
          </div>
          <div class="A_box" style="display: none;">
            <div class="A_wrppr">
              <table class="table05">
                <tbody>
                  <tr>
                    <th>タイプ</th>
                    <th>2021年～2024年式</th>
                    <th>2014年～2020年式</th>
                    <th>2013年式～</th>
                  </tr>
                  <tr>
                    <td>4テボ卓上型 </td>
                    <td>9,600円 </td>
                    <td>3,200円 </td>
                    <td>都度見積もり </td>
                  </tr>
                  <tr>
                    <td>7テボ丸釜</td>
                    <td>50,400円</td>
                    <td>30,200円</td>
                    <td>10,100円</td>
                  </tr>
                  <tr>
                    <td>4テボ角釜</td>
                    <td>46,500円</td>
                    <td>27,900円</td>
                    <td>9,300円</td>
                  </tr>
                  <tr>
                    <td>6テボ角釜</td>
                    <td>55,700円</td>
                    <td>33,400円</td>
                    <td>38,100円</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<script is:inline src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script is:inline>
  jQuery(function ($) {
    $(".soba-table").on("click", function () {
      if ($(this).hasClass("soba_open")) {
        $(this).siblings(".A_box").slideUp();
        $(this).removeClass("soba_open");
      } else {
        $(this).siblings(".A_box").slideDown();
        $(this).addClass("soba_open");
      }
    });
  });
</script>

<style lang="scss">
  section#kaitori-soba {
    div.contents__inner {
      padding: 100px 0;
      @media (max-width: 768px) {
        padding: 60px 10px 40px;
      }
      h2.header_02 {
      }
      section.soba-table__wrapper {
        h3.header_03 {
          background: var(--red);
          color: #fff;
          font-size: 18px;
          padding: 5px 20px;
          margin-bottom: 20px;
        }
      }
    }
  }

  table {
    border: 1px solid #a1a1a1;
    width: 100%;
    padding: 0;
    border-collapse: collapse;
    margin-bottom: 20px;
    @media (max-width: 768px) {
      min-width: 800px;
      margin-bottom: 10px;
    }
    tr {
      th {
        background: #dddddd;
        border: 1px solid #a1a1a1;
        text-align: left;
        padding: 10px;
        @media (max-width: 768px) {
          font-size: 14px;
          padding: 3px 10px;
          width: 150px;
        }
      }
      td {
        border: 1px solid #a1a1a1;
        padding: 6px 10px;
        @media (max-width: 768px) {
          font-size: 14px;
          padding: 3px 10px;
          width: 150px;
        }
      }
    }
  }

  .qanda-list {
    padding-inline-start: 0px;
    li {
      background-color: #ffffff;
      padding: 0 28px;
      border: 1px solid #dddddd;
    }

    @media screen and (max-width: 767px) {
      li {
        padding: 0 16px 0 8px;
        &:has(.soba_open) {
          padding: 0 16px 15px 8px;
        }
      }
    }

    li:not(:first-of-type) {
      margin-top: -1px;
    }

    .Q_box {
      position: relative;
    }

    .Q_box::before {
      position: absolute;
      top: 50%;
      bottom: auto;
      left: auto;
      right: 0;
      transform: translate(0, -50%);
      display: block;
      content: "";
      width: 16px;
      height: 2px;
      background-color: #001f7a;
    }

    .Q_box::after {
      position: absolute;
      top: 50%;
      bottom: auto;
      left: auto;
      right: 7px;
      transform: translate(0, -50%);
      display: block;
      content: "";
      height: 16px;
      width: 2px;
      background-color: #001f7a;
      transition: transform 0.3s ease-out;
    }

    .Q_box.soba_open::after {
      transform: translate(0, -50%) rotate(90deg);
    }

    .Q_wrppr {
      display: flex;
      align-items: center;
      column-gap: 24px;
      padding: 16px 10px;
    }

    @media screen and (max-width: 767px) {
      .Q_wrppr {
        column-gap: 12px;
        padding: 0px 32px 0px 0;
      }
    }

    .mark_Q {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      color: #000;
      font-weight: bold;
    }

    .text_Q {
      flex: 1;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.6;
      color: #000;
    }

    .A_box {
      display: none;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        background: #fff;
        border: 1px solid #999999;
        border-radius: 50px;
        margin-bottom: 20px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #999999;
        border: 2px solid #999999;
        border-radius: 50px;
        padding: 1px;
      }
    }

    .A_wrppr {
      display: flex;
      align-items: flex-start;
      column-gap: 24px;
      padding: 10px 0 0;
    }

    @media screen and (max-width: 767px) {
      .A_wrppr {
        column-gap: 12px;
      }
    }

    .mark_A {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      color: #bb000c;
      font-weight: bold;
    }

    .mark_A img {
      display: block;
      width: 12px;
      height: 18px;
    }

    .text_A {
      flex: 1;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.8;
      letter-spacing: 0.04em;
      color: #242424;
    }
  }
</style>
