<section id="mv">
  <div class="contents__inner">
    <h1 class="mv__header">
      <div class="header-txt__wrapper">
        <div class="header-txt">
          <span class="txt-md">厨房機器・店舗用品・食器</span>
          <span class="txt-lg">高価買取・査定</span>
          <span class="txt-sm"
            >飲食店の移転・閉店に伴う<br class="sp" />厨房買取はテンポスへ</span
          >
        </div>
      </div>
    </h1>
  </div>
</section>

<style lang="scss">
  section#mv {
    margin-top: 80px;
    width: 100%;
    height: 465px;
    background: url("/lp/kaitori/img/img_mv_bg.png") center center / cover
      no-repeat;
    position: relative;
    @media (max-width: 768px) {
      background: url(/lp/kaitori/img/img_mv_bg-sp.png) center center/cover
        no-repeat;
      height: 230px;
      margin-top: 50px;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        background: url("/lp/kaitori/img/img_mv_woman-sp.png") center center /
          cover no-repeat;
        width: 150px;
        height: 210px;
        z-index: 9;
      }
    }
    div.contents__inner {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      h1.mv__header {
        background: rgba(255, 255, 255, 0.8);
        width: 100%;
        padding: 40px;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        position: relative;
        @media (max-width: 768px) {
          padding: 20px 35px;
          width: 94%;
          transform: translateY(-10px);
        }
        @media (max-width: 390px) {
          padding: 20px 20px;
          width: 94%;
          transform: translateY(-10px);
        }
        @media (max-width: 375px) {
          padding: 20px 10px;
          width: 94%;
          transform: translateY(-10px);
        }
        &::before {
          content: "";
          position: absolute;
          bottom: -90px;
          right: 30px;
          width: 430px;
          height: 450px;
          background: url("/lp/kaitori/img/img_mv_woman.png") center center /
            cover no-repeat;
          @media (max-width: 768px) {
            content: none;
          }
        }
        .header-txt__wrapper {
          display: flex;
          justify-content: flex-start;
          .header-txt {
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: 1.25;
            span.txt-md {
              display: block;
              font-size: 38px;
              font-weight: bold;
              @media (max-width: 768px) {
                font-size: 15px;
              }
            }
            span.txt-lg {
              display: block;
              font-size: 92px;
              font-weight: bold;
              color: var(--red);
              letter-spacing: -10px;
              @media (max-width: 768px) {
                font-size: 32px;
                letter-spacing: -2px;
              }
            }
            span.txt-sm {
              display: block;
              font-size: 25px;
              font-weight: bold;
              background: var(--yellow);
              padding: 6px 30px;
              border-radius: 50px;
              @media (max-width: 768px) {
                font-size: 13px;
                text-align: center;
                padding: 4px 25px;
              }
            }
          }
        }
      }
    }
  }
</style>
