---
import Layout from "../../../layouts/Layout.astro";
import ContactArea from "../../../components/common/ContactArea.astro";
import structuredDataMarkup from "../../../data/data.json";
const markup = JSON.stringify(structuredDataMarkup.beerServer);
---

<Layout
    title="ビールサーバー導入支援(アサヒ・キリン・サッポロ・サントリー) | テンポスフードプレイス"
    description="ビールサーバーを導入希望の飲食店様に向けて酒販店経由で大手ビールメーカー(アサヒ、キリン、サッポロ、サントリー)の紹介をしております。"
    pageUrl="/menu/beer-server/"
    ogimage="/asset/images/menu/ogp_menu_beer-server.png"
    markup={markup}
>
    <article id="mainarea">
        <div class="tp-border sans">
            <nav class="tp-nav">
                <ol class="tp-nav__list flex">
                    <li><a href="/">トップページ</a></li>
                    <li><a href="/menu/">食材仕入れ</a></li>
                    <li>ビールサーバー</li>
                </ol>
            </nav>

            <section class="tp-front__section">
                <h1 class="tp-front__ttl font_m_plus">
                    <span>ビールサーバー導入支援</span>
                </h1>
                <p class="tp-front__caption">
                    ビールサーバーを導入希望の飲食店様に向けて<br />
                    酒販店経由で大手ビールメーカー(アサヒ、キリン、サッポロ、サントリー)の紹介！
                </p>
                <p class="tp-front__contact">
                    <a class="click_link_mail" href="/contact/?checked=48"
                        >お問い合わせはこちら</a
                    >
                </p>
            </section>

            <section class="tp-worries__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __border">
                    <span></span>こんなお悩みありませんか？<span></span>
                </h2>
                <ul class="tp-check__list tp-wrapper__l">
                    <li>
                        <span class="tp-bglg">ビールサーバー</span>を導入したい
                    </li>
                    <li>
                        どこの<span class="tp-bglg">メーカー</span
                        >がいいかわからない
                    </li>
                    <li>
                        <span class="tp-bglg">どんな種類があるか</span>知りたい
                    </li>
                </ul>
            </section>

            <section class="tp-design__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    テンポスでは大手ビールメーカー4社<br
                    />（アサヒ、キリン、サッポロ、サントリー）を紹介可能！
                </h2>
                <div class="tp-design__contents flex">
                    <div class="tp-local__wrap">
                        <p class="tp-local">
                            ドリンクメニューの中でも不動の人気を誇る「生ビール」<br
                            />
                            提供するためには生ビールサーバーの設置が必要です。
                        </p>
                        <p class="tp-local">
                            酒販店経由で各ビールメーカーを紹介できますので、どのような種類があるか知りたい、<br
                            />
                            どこのビールメーカーが自分のお店に合っているか知りたいといった場合もお気軽にご相談ください。
                        </p>
                        <p class="tp-local">
                            ※サーバーの設置はメーカー確認後となります。<br />
                            ※一部対応エリア外の地域がございます。詳しくはお問い合わせください。
                        </p>
                    </div>
                    <p class="tp-design__thumb">
                        <img
                            src="/asset/images/menu/img_beer-server_design.svg"
                            alt=""
                            width="200"
                            height="243"
                            loading="lazy"
                            class="imgauto"
                        />
                    </p>
                </div>
            </section>

            <section class="tp-point__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span__sm"
                        >ビールサーバー導入支援の</span
                    >
                    <span class="tp-ttl__balloon__span">3つの特徴</span>
                </h2>
                <ul class="tp-point__list __1clm">
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt"
                                >酒販店経由で各ビールメーカーへの打診が可能</span
                            >
                        </h3>
                        <p class="Local">
                            酒販店経由で大手ビールメーカー(アサヒ、キリン、サッポロ、サントリー)の紹介が可能です。
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt"
                                >どのビールメーカーが自分のお店に合っているか相談できる</span
                            >
                        </h3>
                        <p class="Local">
                            ビールサーバー導入にあたりどのメーカーのビールサーバーを導入するか迷われている方もいるかと思います。<br
                            />
                            プロの目線でお客様のお店にあったビールメーカーをご提案いたします。
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt"
                                >生ビール以外のお酒の仕入れも可能</span
                            >
                        </h3>
                        <p class="Local">
                            ビールサーバーの設置だけでなく、日本酒、ワインなど多種多様なお酒のご提案が可能です！
                        </p>
                    </li>
                </ul>
            </section>

            <section class="tp-frow__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">ご利用までの流れ</span>
                </h2>
                <div class="tp-flow__list">
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">お問い合わせ</h3>
                            <div class="Local">
                                <p>
                                    少しでも興味がある方はお気軽に問合せください。<br
                                    />
                                    担当スタッフが電話にて相談内容をヒアリングいたします。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">提携先よりご連絡</h3>
                            <div class="Local">
                                <p>
                                    お客様の地域に対応している酒販店よりご連絡いたします。
                                </p>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">打ち合わせ、お見積の提出</h3>
                            <div class="Local">
                                <p>
                                    現地にてお店の業種、席数、営業時間、ご希望のビールサーバーなどをヒアリングし、
                                    見積書を作成いたします。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">ビールメーカー設置</h3>
                            <div class="Local">
                                <p>
                                    酒販店経由でご希望のビールメーカーへサーバー設置の確認をいたします。
                                    確認ができ次第、設置いたします。
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>

            <section class="tp-faq__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">よくある質問</span>
                </h2>
                <div class="g-acodion">
                    <dl>
                        <dt>生ビールサーバーの導入には条件があるんですか？</dt>
                        <dd>
                            各ビールメーカーによって条件が異なります。<br />
                            詳しくは酒販店よりご連絡させていただきますので、一度お問合せ下さい。
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            ビールサーバー以外のお酒も提案してくれるんですか？
                        </dt>
                        <dd>
                            はい。日本酒・ウイスキー・スピリッツ・リキュールをはじめ、多岐に渡る商品の提案が可能です。
                        </dd>
                    </dl>
                </div>
            </section>

            <ContactArea />

            <section class="tp-others__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">その他関連サービス</span
                    >
                </h2>
                <div class="tp-others__list">
                    <article>
                        <a
                            href="https://support.tenpos.com/lp/service/op-celebration/"
                        >
                            <p class="kg-link__thumb purchase-thumb03">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/kaigyousoudan/sp/purchase07_sp.jpg"
                                    />
                                    <img
                                        src="/asset/images/kaigyousoudan/purchase07.jpg"
                                        srcset="/asset/images/kaigyousoudan/purchase07.jpg 1x,/asset/images/kaigyousoudan/2x/purchase07.jpg 2x"
                                        alt="味の素　開業祝セット"
                                        width="109"
                                        height="42"
                                        loading="lazy"
                                        class="imgauto-h"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">
                                味の素<br />開業祝セット
                            </h3>
                        </a>
                    </article>
                    <article>
                        <a href="/menu/micreed/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/kaigyousoudan/sp/purchase06.jpg"
                                    />
                                    <img
                                        src="/asset/images/kaigyousoudan/purchase06.jpg"
                                        srcset="/asset/images/kaigyousoudan/purchase06.jpg 1x,/asset/images/kaigyousoudan/2x/purchase06.jpg 2x"
                                        alt="食材通販「ミクリード」"
                                        width="109"
                                        height="42"
                                        loading="lazy"
                                        class="imgauto-h"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">食材通販「ミクリード」</h3>
                        </a>
                    </article>
                    <article>
                        <a href="/menu/kakuyasu/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/kaigyousoudan/sp/purchase05.jpg"
                                    />
                                    <img
                                        src="/asset/images/kaigyousoudan/purchase05.jpg"
                                        srcset="/asset/images/kaigyousoudan/purchase05.jpg 1x,/asset/images/kaigyousoudan/2x/purchase05.jpg 2x"
                                        alt="「なんでも酒やカクヤス」"
                                        width="109"
                                        height="42"
                                        loading="lazy"
                                        class="imgauto-h"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">カクヤス</h3>
                        </a>
                    </article>
                </div>
            </section>
        </div>
    </article>
</Layout>

<style>
    @charset "utf-8";

    :root {
        --fnts_local: 16px;
        --fnts_caption_min: 26px;
        --fnts_caption_sub: 20px;
        --fnts_section_ttl: 30px;
    }

    /* -------------------- menu-section ------------------- */
    /* ----- ★　/menu/index.html 新着情報一覧ページsp用 ここから ----- */

    /* for PC */
    @media screen and (min-width: 768px) {
    }

    /* for SP */
    @media screen and (max-width: 767px) {
        /* --------------------★sp用 img_オレンジ線ここから-------------------- */
        .purchase-thumb03 img {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid var(--GRADATION_ORANGE);
            border-radius: 10px;
        }
    }

    .tp-front__section {
        background-image: url(/asset/images/menu/front.png);
    }

    /*-----------------------
こんなお悩みありませんか？
-----------------------*/

    .tp-check__list > li {
        display: block;
    }

    /*-----------------------
3つの特徴 tp-point__section
-----------------------*/
    .tp-ttl:not(.__mgb):not(.tp-ttl__balloon__span) {
        position: relative;
    }

    .tp-ttl__balloon__span__sm {
        position: absolute;
        top: -35px;
        left: 50%;
        transform: translateX(-50%);
        background: transparent;
        color: var(--MAIN_ORANGE);
        font-size: 16px;

        &::after {
            content: "";
            display: none;
        }
    }

    .tp-point__section .tp-point__list > li:nth-child(1) > .Ttl::before {
        background: url(/asset/images/common/icon_point56.png) no-repeat center
            center / contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(2) > .Ttl::before {
        background: url(/asset/images/common/icon_point09.png) no-repeat center
            center / contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(3) > .Ttl::before {
        background: url(/asset/images/common/icon_point58.png) no-repeat center
            center / contain;
    }

    @media screen and (min-width: 768px) {
        .tp-point__section .tp-point__list > li > .Ttl:before {
            width: 45px;
            margin-right: 15px;
        }

        .tp-point__section .tp-point__list .Ttl__txt {
            width: calc(100% - 60px);
        }
    }

    @media screen and (max-width: 767px) {
        .tp-ttl__balloon__span__sm {
            width: 300px;
        }

        .tp-point__section .tp-ttl:not(.__mgb):not(.tp-ttl__balloon__span) {
            margin-top: 80px;
        }
    }

    /*-----------------------
contactarea
-----------------------*/

    .contactarea {
        margin-bottom: 80px;
    }

    .tp-others__list > article:nth-child(3) .Thumb img {
        border-radius: 20px;
        border: 2px solid var(--GRADATION_ORANGE);
        aspect-ratio: 304 / 231;
        object-fit: contain;
        object-position: center;
    }
</style>
