---
import Layout from "../../../../layouts/Layout.astro";
import structuredDataMarkup from "../../../../data/data.json";
const markup = JSON.stringify(structuredDataMarkup.homepageJirei);
---

<Layout
    title="テンポスフードプレイス | ホームページ制作事例"
    description=""
    pageUrl="/marketing/homepage/jirei/"
    markup={markup}
>
    <article id="mainarea">
        <div class="tp-border sans">
            <nav class="tp-nav">
                <ol class="tp-nav__list flex">
                    <li><a href="/">トップページ</a></li>
                    <li><a href="/marketing/">集客</a></li>
                    <li>
                        <a href="/marketing/homepage/"
                            >飲食店向けホームページ作成</a
                        >
                    </li>
                    <li>
                        <a href="/marketing/homepage/jirei/">制作事例一覧</a>
                    </li>
                </ol>
            </nav>
            <section class="btm-front__section homepage">
                <h1 class="btm-front__ttl font_m_plus">
                    <span>ホームページ制作事例</span>
                </h1>
            </section>
            <ul class="hp-case__list btm-sec hp-case__wrapper--pc">
                <!-- 事例-01 ここから -->
                <!-- <li>
				</li> -->
                <!-- 事例-01 ここまで -->
                <!-- 事例-02 ここから -->
                <li>
                    <div class="hp-case__wrapper--sp">
                        <p class="hp-case__list__thumb">
                            <picture>
                                <source
                                    media="(max-width:767px)"
                                    srcset="/asset/images/homepagelist/sp/homepage02.jpg"
                                />
                                <img
                                    src="/asset/images/homepagelist/homepage02.jpg"
                                    srcset="/asset/images/homepagelist/homepage02.jpg 1x,/asset/images/homepagelist/2x/homepage02.jpg 2x"
                                    alt="出前兄弟"
                                    width="300"
                                    height="172"
                                    class="imgauto"
                                />
                            </picture>
                        </p>
                        <dl
                            class="hp-case__list__information hp-case__list__information2"
                        >
                            <div class="shop">
                                <dt>
                                    出前兄弟<span
                                        ><time
                                            datetime="2022/09/16"
                                            itemprop="datePublished"
                                            >2022/09/16</time
                                        ></span
                                    >
                                </dt>
                            </div>
                            <div>
                                <dt>業種</dt>
                                <dd>テイクアウト</dd>
                            </div>
                            <div>
                                <dt>プラン名</dt>
                                <dd>こだわりコース</dd>
                            </div>
                        </dl>
                        <dl class="dt-case__caption yugo">
                            <dt>お客様からの一言コメント</dt>
                            <dd>
                                <p class="dt-case__caption__local">
                                    テイクアウト専門店を新しくオープンするにあたって、ホームぺージ以外にもロゴ作成やステッカーなども併せて作成をお願いしました。
                                </p>
                            </dd>
                        </dl>
                        <p class="hp-case__list__link">
                            <a
                                class="btm-link"
                                href="https://demae-brothers.com/"
                                target="_blank"
                            >
                                HPを見る
                            </a>
                        </p>
                    </div>
                </li>
                <!-- 事例-02 ここまで -->
                <!-- 事例-03 ここから -->
                <li>
                    <div class="hp-case__wrapper--sp">
                        <p class="hp-case__list__thumb">
                            <picture>
                                <source
                                    media="(max-width:767px)"
                                    srcset="/asset/images/homepagelist/sp/homepage03.jpg"
                                />
                                <img
                                    src="/asset/images/homepagelist/homepage03.jpg"
                                    srcset="/asset/images/homepagelist/homepage03.jpg 1x,/asset/images/homepagelist/2x/homepage03.jpg 2x"
                                    alt="地中海料理＆ワイン ショーレストラン GARLOCHI"
                                    width="300"
                                    height="172"
                                    class="imgauto"
                                />
                            </picture>
                        </p>
                        <dl
                            class="hp-case__list__information hp-case__list__information2"
                        >
                            <div class="shop">
                                <dt>
                                    地中海料理＆ワイン<br />ショーレストラン
                                    GARLOCHI<span
                                        ><time
                                            datetime="2022/09/15"
                                            itemprop="datePublished"
                                            >2022/09/15</time
                                        ></span
                                    >
                                </dt>
                            </div>
                            <div>
                                <dt>業種</dt>
                                <dd>レストラン</dd>
                            </div>
                            <div>
                                <dt>プラン名</dt>
                                <dd>こだわりコース</dd>
                            </div>
                        </dl>
                        <dl class="dt-case__caption yugo">
                            <dt>お客様からの一言コメント</dt>
                            <dd>
                                <p class="dt-case__caption__local">
                                    ホームぺージはすでに持っていたのですが、依頼会社が間に入っていることから変更に時間がかかってしまうため、テンポスフードプレイスに再作成をお願いしました。
                                </p>
                            </dd>
                        </dl>
                        <p class="hp-case__list__link">
                            <a
                                class="btm-link"
                                href="https://garlochi.jp/"
                                target="_blank"
                            >
                                HPを見る
                            </a>
                        </p>
                    </div>
                </li>
                <!-- 事例-03 ここまで -->
                <!-- 事例-04 ここから -->
                <li>
                    <div class="hp-case__wrapper--sp">
                        <p class="hp-case__list__thumb">
                            <picture>
                                <source
                                    media="(max-width:767px)"
                                    srcset="/asset/images/homepagelist/sp/homepage04.jpg"
                                />
                                <img
                                    src="/asset/images/homepagelist/homepage04.jpg"
                                    srcset="/asset/images/homepagelist/homepage04.jpg 1x,/asset/images/homepagelist/2x/homepage04.jpg 2x"
                                    alt="家庭料理 港鶴"
                                    width="300"
                                    height="172"
                                    loading="lazy"
                                    class="imgauto"
                                />
                            </picture>
                        </p>
                        <dl
                            class="hp-case__list__information hp-case__list__information2"
                        >
                            <div class="shop">
                                <dt>
                                    家庭料理 港鶴<span
                                        ><time
                                            datetime="2022/08/01"
                                            itemprop="datePublished"
                                            >2022/08/01</time
                                        ></span
                                    >
                                </dt>
                            </div>
                            <div>
                                <dt>業種</dt>
                                <dd>居酒屋</dd>
                            </div>
                            <div>
                                <dt>プラン名</dt>
                                <dd>こだわりコース</dd>
                            </div>
                        </dl>
                        <dl class="dt-case__caption yugo">
                            <dt>お客様からの一言コメント</dt>
                            <dd>
                                <p class="dt-case__caption__local">
                                    一番最初に見せていただいたホームページの出来が最高の仕上がりでした。大満足です。
                                </p>
                            </dd>
                        </dl>
                        <p class="hp-case__list__link">
                            <a
                                class="btm-link"
                                href="https://minazuru.com/"
                                target="_blank"
                            >
                                HPを見る
                            </a>
                        </p>
                    </div>
                </li>
                <!-- 事例-04 ここまで -->
                <!-- 事例-05 ここから -->
                <li>
                    <div class="hp-case__wrapper--sp">
                        <p class="hp-case__list__thumb">
                            <picture>
                                <source
                                    media="(max-width:767px)"
                                    srcset="/asset/images/homepagelist/sp/homepage05.jpg"
                                />
                                <img
                                    src="/asset/images/homepagelist/homepage05.jpg"
                                    srcset="/asset/images/homepagelist/homepage05.jpg 1x,/asset/images/homepagelist/2x/homepage05.jpg 2x"
                                    alt="株式会社Success"
                                    width="300"
                                    height="172"
                                    loading="lazy"
                                    class="imgauto"
                                />
                            </picture>
                        </p>
                        <dl
                            class="hp-case__list__information hp-case__list__information2"
                        >
                            <div class="shop">
                                <dt>
                                    株式会社Success<span
                                        ><time
                                            datetime="2022/07/29"
                                            itemprop="datePublished"
                                            >2022/07/29</time
                                        ></span
                                    >
                                </dt>
                            </div>
                            <div>
                                <dt>業種</dt>
                                <dd>居酒屋</dd>
                            </div>
                            <div>
                                <dt>プラン名</dt>
                                <dd>別途見積</dd>
                            </div>
                        </dl>
                        <dl class="dt-case__caption yugo">
                            <dt>お客様からの一言コメント</dt>
                            <dd>
                                <p class="dt-case__caption__local">
                                    弊社は2店舗経営しているため、企業ページと店舗一覧、詳細ページも併せて作成していただきました。
                                </p>
                            </dd>
                        </dl>
                        <p class="hp-case__list__link">
                            <a
                                class="btm-link"
                                href="https://okinawasuccess.com/"
                                target="_blank"
                            >
                                HPを見る
                            </a>
                        </p>
                    </div>
                </li>
                <!-- 事例-05 ここまで -->
                <!-- 事例-06 ここから -->
                <li>
                    <div class="hp-case__wrapper--sp">
                        <p class="hp-case__list__thumb">
                            <picture>
                                <source
                                    media="(max-width:767px)"
                                    srcset="/asset/images/homepagelist/sp/homepage06.jpg"
                                />
                                <img
                                    src="/asset/images/homepagelist/homepage06.jpg"
                                    srcset="/asset/images/homepagelist/homepage06.jpg 1x,/asset/images/homepagelist/2x/homepage06.jpg 2x"
                                    alt="◆画像"
                                    width="300"
                                    height="172"
                                    loading="lazy"
                                    class="imgauto"
                                />
                            </picture>
                        </p>
                        <dl
                            class="hp-case__list__information hp-case__list__information2"
                        >
                            <div class="shop">
                                <dt>
                                    Every Burger 344<span
                                        ><time
                                            datetime="2022/06/23"
                                            itemprop="datePublished"
                                            >2022/06/23</time
                                        ></span
                                    >
                                </dt>
                            </div>
                            <div>
                                <dt>業種</dt>
                                <dd>ハンバーガー</dd>
                            </div>
                            <div>
                                <dt>プラン名</dt>
                                <dd>こだわりコース</dd>
                            </div>
                        </dl>
                        <dl class="dt-case__caption yugo">
                            <dt>お客様からの一言コメント</dt>
                            <dd>
                                <p class="dt-case__caption__local">
                                    公開後、ホームぺージを見てご来店いただけるお客様がとても増えました。
                                </p>
                            </dd>
                        </dl>
                        <p class="hp-case__list__link">
                            <a
                                class="btm-link"
                                href="https://everyburger-344.jp/"
                                target="_blank"
                            >
                                HPを見る
                            </a>
                        </p>
                    </div>
                </li>
                <!-- 事例-06 ここまで -->
                <!-- 事例-07 ここから -->
                <li>
                    <div class="hp-case__wrapper--sp">
                        <p class="hp-case__list__thumb">
                            <picture>
                                <source
                                    media="(max-width:767px)"
                                    srcset="/asset/images/homepagelist/sp/homepage07.jpg"
                                />
                                <img
                                    src="/asset/images/homepagelist/homepage07.jpg"
                                    srcset="/asset/images/homepagelist/homepage07.jpg 1x,/asset/images/homepagelist/2x/homepage07.jpg 2x"
                                    alt="◆画像"
                                    width="300"
                                    height="172"
                                    loading="lazy"
                                    class="imgauto"
                                />
                            </picture>
                        </p>
                        <dl
                            class="hp-case__list__information hp-case__list__information2"
                        >
                            <div class="shop">
                                <dt>
                                    ラーメン郷<span
                                        ><time
                                            datetime="2022/06/09"
                                            itemprop="datePublished"
                                            >2022/06/09</time
                                        ></span
                                    >
                                </dt>
                            </div>
                            <div>
                                <dt>業種</dt>
                                <dd>ラーメン</dd>
                            </div>
                            <div>
                                <dt>プラン名</dt>
                                <dd>こだわりコース</dd>
                            </div>
                        </dl>
                        <dl class="dt-case__caption yugo">
                            <dt>お客様からの一言コメント</dt>
                            <dd>
                                <p class="dt-case__caption__local">
                                    他社とも比較をしましたが、手軽な値段で必要なページは全て網羅でき、本格的なカメラマンによる写真撮影など、良かった点でした。
                                </p>
                            </dd>
                        </dl>
                        <p class="hp-case__list__link">
                            <a
                                class="btm-link"
                                href="https://ramen-go.net/"
                                target="_blank"
                            >
                                HPを見る
                            </a>
                        </p>
                    </div>
                </li>
                <!-- 事例-07 ここまで -->
                <!-- 事例-08 ここから -->
                <li>
                    <div class="hp-case__wrapper--sp">
                        <p class="hp-case__list__thumb">
                            <picture>
                                <source
                                    media="(max-width:767px)"
                                    srcset="/asset/images/homepagelist/sp/homepage08.jpg"
                                />
                                <img
                                    src="/asset/images/homepagelist/homepage08.jpg"
                                    srcset="/asset/images/homepagelist/homepage08.jpg 1x,/asset/images/homepagelist/2x/homepage08.jpg 2x"
                                    alt="◆画像"
                                    width="300"
                                    height="172"
                                    loading="lazy"
                                    class="imgauto"
                                />
                            </picture>
                        </p>
                        <dl
                            class="hp-case__list__information hp-case__list__information2"
                        >
                            <div class="shop">
                                <dt>
                                    徳多屋<span
                                        ><time
                                            datetime="2022/04/28"
                                            itemprop="datePublished"
                                            >2022/04/28</time
                                        ></span
                                    >
                                </dt>
                            </div>
                            <div>
                                <dt>業種</dt>
                                <dd>居酒屋</dd>
                            </div>
                            <div>
                                <dt>プラン名</dt>
                                <dd>こだわりコース</dd>
                            </div>
                        </dl>
                        <dl class="dt-case__caption yugo">
                            <dt>お客様からの一言コメント</dt>
                            <dd>
                                <p class="dt-case__caption__local">
                                    大変丁寧に作り込んで頂き、とにかく有難い限りです。マグロの小売店も行っているため、その情報も掲載することができ良かったです。
                                </p>
                            </dd>
                        </dl>
                        <p class="hp-case__list__link">
                            <a
                                class="btm-link"
                                href="https://tokudaya-chigasaki.com/"
                                target="_blank"
                            >
                                HPを見る
                            </a>
                        </p>
                    </div>
                </li>
                <!-- 事例-08 ここまで -->
                <!-- 事例-09 ここから -->
                <li>
                    <div class="hp-case__wrapper--sp">
                        <p class="hp-case__list__thumb">
                            <picture>
                                <source
                                    media="(max-width:767px)"
                                    srcset="/asset/images/homepagelist/sp/homepage09.jpg"
                                />
                                <img
                                    src="/asset/images/homepagelist/homepage09.jpg"
                                    srcset="/asset/images/homepagelist/homepage09.jpg 1x,/asset/images/homepagelist/2x/homepage09.jpg 2x"
                                    alt="◆画像"
                                    width="300"
                                    height="172"
                                    loading="lazy"
                                    class="imgauto"
                                />
                            </picture>
                        </p>
                        <dl
                            class="hp-case__list__information hp-case__list__information2"
                        >
                            <div class="shop">
                                <dt>
                                    榊珈琲<span
                                        ><time
                                            datetime="2022/04/01"
                                            itemprop="datePublished"
                                            >2022/04/01</time
                                        ></span
                                    >
                                </dt>
                            </div>
                            <div>
                                <dt>業種</dt>
                                <dd>カフェ</dd>
                            </div>
                            <div>
                                <dt>プラン名</dt>
                                <dd>こだわりコース</dd>
                            </div>
                        </dl>
                        <dl class="dt-case__caption yugo">
                            <dt>お客様からの一言コメント</dt>
                            <dd>
                                <p class="dt-case__caption__local">
                                    安かったので申し込みました。安いのに、こんなに素敵なHPを制作して頂けてびっくりしました。
                                    早速、ホームページを見て来ましたと言うお客様からのお声を頂きました。
                                    完成したHPはSNSへの掲載、通販サイトへ活用しています。
                                </p>
                            </dd>
                        </dl>
                        <p class="hp-case__list__link">
                            <a
                                class="btm-link"
                                href="https://sakaki-coffee.com/"
                                target="_blank"
                            >
                                HPを見る
                            </a>
                        </p>
                    </div>
                </li>
                <!-- 事例-09 ここまで -->

                <!-- 事例-15 ここから -->
                <!-- <li>
					<div class="hp-case__wrapper--sp">
						<p class="hp-case__list__thumb">
							<picture>
								<source media="(max-width:767px)" srcset="/asset/images/homepagelist/sp/homepage0◆.jpg">
								<img src="/asset/images/homepagelist/homepage0◆.jpg" srcset="/asset/images/homepagelist/homepage0◆.jpg 1x,/asset/images/homepagelist/2x/homepage0◆.jpg 2x" alt="◆画像" width="300" height="172" loading="lazy" class="imgauto">
							</picture>
						</p>
						<dl class="hp-case__list__information hp-case__list__information2">
							<div class="shop"><dt>麺処　◆◆◆<span><time datetime="202◆/0◆/0◆" itemprop="datePublished">202◆/0◆/0◆</time></span></dt></div>
							<div><dt>業種</dt><dd>◆◆◆ラーメン</dd></div>
							<div><dt>プラン名</dt><dd>◆◆◆プラン</dd></div>
						</dl>
						<dl class="dt-case__caption yugo">
							<dt>お客様からの一言コメント</dt>
							<dd>
								<p class="dt-case__caption__local">
									◆◆◆◆で◆◆◆◆ました。
								</p>
							</dd>
						</dl>
						<p class="hp-case__list__link">
							<a class="btm-link" href="◆◆◆◆" target="_blank">
								HPを見る
							</a>
						</p>
					</div>
				</li> -->
                <!-- 事例-15 ここまで -->
            </ul>
        </div>
    </article>
</Layout>

<style>
    @charset "utf-8";
    :root {
        --fnts_local: 16px;
        --fnts_caption_min: 26px;
        --fnts_caption_sub: 20px;
        --fnts_section_ttl: 30px;
    }
    /* -------------------- section ------------------- */
    /* -----　marketing/homepage/jirei/index.html　制作事例ページ用　----- */
    .hp-case__list__information2 div:has(span) dt {
        min-height: 60px;
    }

    .hp-case__list__information div.shop {
        min-height: 60px;
        padding: 0px;
    }

    .hp-case__list__thumb img {
        border: 1px solid #e6e6e6;
    }

    @media screen and (min-width: 768px) {
        /* -----　marketing/homepage/jirei/index.html　制作事例ページ　PC(min-width: 768px)用mv　----- */
    }

    @media screen and (max-width: 767px) {
        /* -----　marketing/homepage/jirei/index.html　制作事例ページ　sp用mv　----- */
    }

    /* -------------------- ------------------- */
    /* -------------------- ------------------- */
    /* -------------------- ------------------- */
</style>
