---
const contents = [
    {
        url: "/lp/tourism-volunteer/img/slider01.png",
        ttl: "イメージ01",
        description: "これは説明文です。これは説明文です。これは説明文です。",
    },
    {
        url: "/lp/tourism-volunteer/img/slider02.png",
        ttl: "イメージ02",
        description: "これは説明文です。これは説明文です。これは説明文です。",
    },
    {
        url: "/lp/tourism-volunteer/img/slider03.png",
        ttl: "イメージ03",
        description: "これは説明文です。これは説明文です。これは説明文です。",
    },
];
---

<div class="list">
    {
        contents.map((item) => (
            <div class="item">
                <img src={item.url} />
                <h1>{item.ttl}</h1>
                <p>{item.description}</p>
            </div>
        ))
    }
</div>
