<footer class="footerarea">
    <div class="ft-container g-wrapper flex __bannerarea">
        <!-- 追加ここから -->
    </div>

    <div class="ft-container g-wrapper flex ft-mTop">
        <!-- 追加ここかまで -->
        <p class="Thumb">
            <img
                src="https://support.tenpos.com/asset/images/top/logo.svg"
                alt="TENPOS Foodplace"
                width="165"
                height="60"
                loading="lazy"
                class="imgauto"
            />
        </p>
        <div class="ft-contact">
            <p class="Caption">株式会社テンポスフードプレイス</p>
            <p class="Local pc">〒144-0031</p>
            <p class="Local pc">
                東京都大田区東蒲田2-30-17 <br class="sp" />サンユー東蒲田ビル6F
            </p>
            <p class="Local pc">TEL:050-3174-1366 / FAX:03-6774-8579</p>
        </div>
        <nav class="ft-nav">
            <div class="ft-nav-info sp">
                <p class="Local">〒144-0031</p>
                <p class="Local">
                    東京都大田区東蒲田2-30-17 <br
                        class="sp"
                    />サンユー東蒲田ビル6F
                </p><br />
                <p class="Local">TEL:050-3174-1366<br />FAX:03-6774-8579</p>
            </div>
            <ul class="ft-navList">
                <li>
                    <a href="/company/corporate_data.html"> 会社概要 </a>
                </li>
                <li>
                    <a href="/company/recruit.html"> 採用 </a>
                </li>
                <li>
                    <a href="/company//group.html"> グループ会社一覧 </a>
                </li>
                <li>
                    <a href="/contact/"> お問い合わせ </a>
                </li>
                <li>
                    <a href="/privacypolicy/"> プライバシーポリシー </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="ft-snsarea flex g-wrapper flex">
        <div class="ft-sns__icon flex">
            <p class="Local">公式</p>
            <ul class="List flex">
                <li>
                    <a
                        href="https://www.facebook.com/tenposfoodplace/"
                        target="_blank"
                    >
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="https://support.tenpos.com/asset/images/top/sp/ico_facebook_sp.png"
                            />
                            <img
                                src="https://support.tenpos.com/asset/images/top/ico_facebook.png"
                                srcset="https://support.tenpos.com/asset/images/top/ico_facebook.png 1x,https://support.tenpos.com/asset/images/top/2x/ico_facebook@2x.png 2x"
                                alt="facebook"
                                width="32"
                                height="32"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </a>
                </li>
                <li>
                    <a
                        href="https://www.instagram.com/tenposfoodplace/"
                        target="_blank"
                    >
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="https://support.tenpos.com/asset/images/top/sp/ico_instagram_sp.png"
                            />
                            <img
                                src="https://support.tenpos.com/asset/images/top/ico_instagram.png"
                                srcset="https://support.tenpos.com/asset/images/top/ico_instagram.png 1x,https://support.tenpos.com/asset/images/top/2x/ico_instagram@2x.png 2x"
                                alt="instagram"
                                width="32"
                                height="32"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/tenpos_tfp" target="_blank">
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="https://support.tenpos.com/asset/images/top/sp/ico_x_sp.png"
                            />
                            <img
                                src="https://support.tenpos.com/asset/images/top/ico_x.png"
                                srcset="https://support.tenpos.com/asset/images/top/ico_x.png 1x,https://support.tenpos.com/asset/images/top/2x/ico_x@2x.png 2x"
                                alt="X"
                                width="32"
                                height="32"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </a>
                </li>
                <li>
                    <a
                        href="https://liff-gateway.lineml.jp/landing?follow=%40393qkbvw&lp=tjpkjb&liff_id=1654276915-81EQqQvj"
                        target="_blank"
                    >
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="https://support.tenpos.com/asset/images/top/sp/ico_line_sp.png"
                            />
                            <img
                                src="https://support.tenpos.com/asset/images/top/ico_line.png"
                                srcset="https://support.tenpos.com/asset/images/top/ico_line.png 1x,https://support.tenpos.com/asset/images/top/2x/ico_line@2x.png 2x"
                                alt="line"
                                width="32"
                                height="32"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </a>
                </li>
            </ul>
        </div>
        <div class="ft-sns__icon flex">
            <p class="Local">広報</p>
            <ul class="List flex">
                <li>
                    <a
                        href="https://twitter.com/tenpos_dcfp_pr"
                        target="_blank"
                    >
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="https://support.tenpos.com/asset/images/top/sp/ico_x_sp.png"
                            />
                            <img
                                src="https://support.tenpos.com/asset/images/top/ico_x.png"
                                srcset="https://support.tenpos.com/asset/images/top/ico_x.png 1x,https://support.tenpos.com/asset/images/top/2x/ico_x@2x.png 2x"
                                alt="X"
                                width="32"
                                height="32"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </a>
                </li>
                <!-- <li>
				<a href="https://note.com/tenpos_foodplace/" target="_blank">
					<img src="https://support.tenpos.com/asset/images/top/icon_nico.svg" alt="nico" width="32" height="32" loading="lazy"
						class="imgauto">
				</a>
			</li> -->
            </ul>
        </div>
    </div>
    <small class="ft-copyright">
        Copyright (C) tenpos foodplace All Rights Reserved.
    </small>
</footer>

<style lang="scss">
    .flex {
        display: flex;
    }
    .g-wrapper {
        max-width: 1140px;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
    .footerarea {
        --fnts_caption: 18px;
        --fnts_local: 16px;
        --fnts_link: 14px;
        --icon_size: 36px;
        --icon_size_sp: 32px;

        background-color: #000;
    }

    .ft-container {
        justify-content: center;
        --large_size: 80;
        --small_size: 40;
        --clamp: clamp(
            calc(var(--small_size) * 1px),
            calc((var(--small_size) / 768) * 100vw),
            calc(var(--large_size) * 1px)
        );
        column-gap: var(--clamp);

        /* gap: var(--clamp); */
    }

    .ft-container .Thumb {
        width: 175px;
    }

    .ft-contact .Caption {
        font-weight: bold;
        font-size: var(--fnts_caption);
        color: #fff;
    }

    .ft-contact .Local {
        font-size: var(--fnts_local);
        color: #fff;
    }

    .ft-nav {
        @media (max-width: 768px) {
            display: flex;
        }
    }
    .ft-nav-info {
        color: #fff;
        width: 50%;
        font-size: 12px;
        border-right: 0.5px solid #fff;
    }
    .ft-navList > li a {
        display: block;
        position: relative;
        font-size: var(--fnts_link);
        padding-right: 2em;
        color: #fff;
        @media (max-width: 768px) {
            font-size: 12px;
        }
    }

    .ft-navList > li a:after {
        position: absolute;
        content: "";
        width: 1em;
        aspect-ratio: 1/1;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        transition: 0.4s;
        background: url(https://support.tenpos.com/asset/images/top/icon_next_gray.svg)
            no-repeat center center / contain;
    }

    .ft-contact {
        position: relative;
    }

    .ft-snsarea {
        justify-content: center;
        --large_size: 60;
        --small_size: 20;
        --clamp: clamp(
            calc(var(--small_size) * 1px),
            calc((var(--small_size) / 375) * 100vw),
            calc(var(--large_size) * 1px)
        );
        gap: var(--clamp);
    }

    .ft-sns__icon {
        align-items: center;
    }

    .ft-sns__icon .Local {
        font-size: var(--fnts_local);
        color: #fff;
        @media (max-width: 768px) {
            font-size: 12px;
        }
    }

    .ft-sns__icon .List {
        gap: 10px;
        align-items: center;
        padding-inline-start: 0px;
        @media (max-width: 768px) {
            padding-inline-start: 10px;
        }
    }

    .ft-sns__icon .List > li {
        aspect-ratio: 1/1;
    }

    .ft__bannerarea {
        justify-content: space-evenly;
        gap: 10px;
        margin-bottom: 10px;
    }

    .ft__bannerarea_single {
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 10px;
    }

    .ft__bannerarea_single p {
        width: 50%;
    }

    .ft__bannerarea:not(.flex) p:not(:last-child) {
        margin-bottom: 9px;
    }

    .ft-copyright {
        display: block;
        text-align: center;
        font-size: var(--fnts_link);
        background-color: #000;
        padding: 0.6em 0;
        color: #fff;
        @media (max-width: 768px) {
            font-size: 10px;
        }
    }

    @media screen and (min-width: 921px) {
        .footerarea {
            padding-top: 80px;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 920px) {
        .footerarea {
            padding-top: 20px;
        }

        .ft__bannerarea {
            order: 0;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            row-gap: 10px;
        }

        .ft__bannerarea > * {
            width: calc((100% - 10px) / 2);
        }

        .ft-container {
            flex-wrap: wrap;
            row-gap: 20px;
        }

        .ft-container.__bannerarea {
            margin-bottom: 0;
        }

        .ft-contact {
            order: 1;
        }

        .ft-nav {
            order: 1;
        }

        .ft-container::after {
            content: "";
            width: 100%;
            order: 0;
        }

        .ft-navList > li a:hover:after {
            right: -3px;
            background: url(https://tenposfoodplace.jphttps://support.tenpos.com/asset/images/top/icon_next_active.svg)
                no-repeat center center / contain;
        }

        .ft-sns__icon .List > li a img:hover {
            box-shadow: var(--hover_shadow);
            border-radius: 6px;
        }
    }

    @media screen and (min-width: 768px) {
        .ft-container {
            margin-bottom: 80px;
        }

        .ft-contact .Caption {
            margin-bottom: 1em;
        }

        .ft-container .Thumb {
            margin-top: 20px;
        }

        .ft-sns__icon {
            margin-bottom: 40px;
        }

        .ft-sns__icon .List > li {
            width: var(--icon_size);
        }

        .ft-sns__icon .Local {
            margin-right: 20px;
        }

        .ft-contact::after {
            position: absolute;
            content: "";
            width: 1.5px;
            height: 100%;
            transform: translateX(-50%);
            top: 0;
            right: calc(-1 * var(--clamp) / 2);
            background-color: #fff;
        }
    }

    /* 追加ここから */
    @media screen and (min-width: 951px) {
        .ft-container-2 {
            margin-bottom: 0px;
        }

        .ft-container.__bannerarea {
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: 921px) and (max-width: 950px) {
        .ft-container-2 {
            margin-bottom: 0px;
            flex-flow: column;
            row-gap: 40px;
            height: 150px;
        }

        .ft__bannerarea {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            row-gap: 10px;
        }

        .ft__bannerarea > * {
            width: calc((100% - 10px) / 2);
        }

        .ft-mTop {
            margin-top: 40px;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 921px) {
        .footerarea {
            padding-top: 20px;
        }

        .ft-container-2 {
            margin-bottom: 0px;
            flex-flow: column;
            row-gap: 40px;
            height: 150px;
        }
    }

    /* 追加ｌここまで */

    @media screen and (max-width: 767px) {
        .ft-container {
            margin-bottom: 40px;
            flex-flow: column;
            row-gap: 40px;
        }

        .ft-contact .Caption {
            margin-bottom: 1em;
        }

        .footerarea {
            padding-top: 30px;
            padding-bottom: 110px;
        }

        .ft-sns__icon {
            margin-bottom: 40px;
        }

        .ft-sns__icon .List > li {
            width: var(--icon_size_sp);
        }

        .ft-sns__icon .Local {
            margin-right: 10px;
        }

        .ft-container .Thumb {
            margin-right: auto;
            margin-left: auto;
        }

        .ft-contact .Caption {
            text-align: center;
        }

        .ft-navList {
            --col_gap: 40px;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            row-gap: 5px;
            column-gap: var(--col_gap);
            flex-direction: column;
            padding-inline-start: 20px;
        }

        .ft-navList:after {
            position: absolute;
            content: "";
            width: 1.5px;
            height: 100%;
            top: 50%;
            left: calc(60%);
            transform: translate(-50%, -50%);
            background-color: var(--MAIN_BLACK);
        }

        .ft-navList > li:nth-child(odd) {
            width: 100%;
        }

        .ft-navList > li:nth-child(even) {
            width: 100%;
            font-size: 14px;
        }
    }
</style>
