<div class="scroll-infinity">
    <div class="scroll-infinity__wrap">
        <ul class="scroll-infinity__list scroll-infinity__list--left">
            <li class="scroll-infinity__item">
                <picture>
                    <source
                        srcset="/lp/tourism-volunteer/img/img_mvslide01-sp.png"
                        media="(max-width:768px)"
                    />
                    <img src="/lp/tourism-volunteer/img/img_mvslide00.png" />
                </picture>
            </li>
            <li class="scroll-infinity__item">
                <picture>
                    <source
                        srcset="/lp/tourism-volunteer/img/img_mvslide02-sp.png"
                        media="(max-width:768px)"
                    />
                    <img src="/lp/tourism-volunteer/img/img_mvslide01.png" />
                </picture>
            </li>

            <li class="scroll-infinity__item">
                <picture>
                    <source
                        srcset="/lp/tourism-volunteer/img/img_mvslide01-sp.png"
                        media="(max-width:768px)"
                    />
                    <img src="/lp/tourism-volunteer/img/img_mvslide02.png" />
                </picture>
            </li>
            <li class="scroll-infinity__item">
                <picture>
                    <source
                        srcset="/lp/tourism-volunteer/img/img_mvslide02-sp.png"
                        media="(max-width:768px)"
                    />
                    <img src="/lp/tourism-volunteer/img/img_mvslide03.png" />
                </picture>
            </li>
            <li class="scroll-infinity__item">
                <picture>
                    <source
                        srcset="/lp/tourism-volunteer/img/img_mvslide01-sp.png"
                        media="(max-width:768px)"
                    />
                    <img src="/lp/tourism-volunteer/img/img_mvslide04.png" />
                </picture>
            </li>
            <li class="scroll-infinity__item">
                <picture>
                    <source
                        srcset="/lp/tourism-volunteer/img/img_mvslide02-sp.png"
                        media="(max-width:768px)"
                    />
                    <img src="/lp/tourism-volunteer/img/img_mvslide05.png" />
                </picture>
            </li>
        </ul>
        <ul class="scroll-infinity__list scroll-infinity__list--left">
            <li class="scroll-infinity__item">
                <picture>
                    <source
                        srcset="/lp/tourism-volunteer/img/img_mvslide01-sp.png"
                        media="(max-width:768px)"
                    />
                    <img src="/lp/tourism-volunteer/img/img_mvslide00.png" />
                </picture>
            </li>
            <li class="scroll-infinity__item">
                <picture>
                    <source
                        srcset="/lp/tourism-volunteer/img/img_mvslide02-sp.png"
                        media="(max-width:768px)"
                    />
                    <img src="/lp/tourism-volunteer/img/img_mvslide01.png" />
                </picture>
            </li>
            <li class="scroll-infinity__item">
                <picture>
                    <source
                        srcset="/lp/tourism-volunteer/img/img_mvslide01-sp.png"
                        media="(max-width:768px)"
                    />
                    <img src="/lp/tourism-volunteer/img/img_mvslide02.png" />
                </picture>
            </li>
            <li class="scroll-infinity__item">
                <picture>
                    <source
                        srcset="/lp/tourism-volunteer/img/img_mvslide02-sp.png"
                        media="(max-width:768px)"
                    />
                    <img src="/lp/tourism-volunteer/img/img_mvslide03.png" />
                </picture>
            </li>
            <li class="scroll-infinity__item">
                <picture>
                    <source
                        srcset="/lp/tourism-volunteer/img/img_mvslide01-sp.png"
                        media="(max-width:768px)"
                    />
                    <img src="/lp/tourism-volunteer/img/img_mvslide04.png" />
                </picture>
            </li>
            <li class="scroll-infinity__item">
                <picture>
                    <source
                        srcset="/lp/tourism-volunteer/img/img_mvslide02-sp.png"
                        media="(max-width:768px)"
                    />
                    <img src="/lp/tourism-volunteer/img/img_mvslide05.png" />
                </picture>
            </li>
        </ul>
    </div>
</div>

<style lang="scss">
    @keyframes infinity-scroll-vertival {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(-100%);
        }
    }
    @keyframes infinity-scroll-horizonal {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-100%);
        }
    }
    .scroll-infinity__wrap {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        align-items: flex-end;
        z-index: 99;
        position: absolute;
        top: 0;
        right: 0%;
        transform: translateX(0%);
        @media (min-width: 1920px) {
            position: absolute;
            top: 0;
            right: 8%;
        }
        @media (max-width: 1920px) and (min-width: 768px) {
            transform: translateX(0%);
            right: 10%;
        }
        @media (max-width: 768px) {
            transform: translateX(0%);
            flex-direction: row;
            position: relative;
        }
    }
    .scroll-infinity__list {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        gap: 20px;
        @media (max-width: 768px) {
            flex-direction: row;
            gap: 8px;
        }
    }
    .scroll-infinity__list--left {
        animation: infinity-scroll-vertival 80s infinite linear 0.5s both;
        margin-bottom: 20px;
        @media (max-width: 768px) {
            animation: infinity-scroll-horizonal 80s infinite linear 0.5s both;
            margin-right: 10px;
            margin-bottom: 0px;
        }
    }
    .scroll-infinity__item {
        width: calc(100vw / 2.5);
        @media (min-width: 1921px) {
            width: calc(100vw / 3);
            max-width: 700px;
        }
        @media (max-width: 1920px) and (min-width: 768px) {
            width: calc(100vw / 3);
            max-width: 700px;
        }
        @media (max-width: 768px) {
            &:nth-child(odd) {
                width: 300px;
            }
            &:nth-child(even) {
                width: 140px;
            }
        }
    }
    .scroll-infinity__item > img {
        width: 100%;
    }
</style>
