<div class="slide__wrapper">
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slide-img"></div>
            </div>
            <div class="swiper-slide">
                <div class="slide-img"></div>
            </div>
            <div class="swiper-slide">
                <div class="slide-img"></div>
            </div>
            <div class="swiper-slide">
                <div class="slide-img"></div>
            </div>
            <div class="swiper-slide">
                <div class="slide-img"></div>
            </div>
            <div class="swiper-slide">
                <div class="slide-img"></div>
            </div>
        </div>
    </div>
</div>
