<section id="sec_example">
    <div class="content_top">
        <div class="inner">
            <h2 class="ttl_01">
                <span class="txt_ul">つながるテレフォン</span>使用例
            </h2>
            <p class="txt__01">
                お手持ちのスマートフォンで<br class="sp" />下記のQR
                コードを読み込み<br
                />次ページの「ダウンロードステップ」の通りに行うと約7秒ほどで<br
                />ダウンロードすることができます。
            </p>
            <div class="img_wrap">
                <img
                    src="/lp/connect_telephone/img/img_sec_example_01.png"
                    alt=""
                    class="pc"
                    width="500"
                    height="341"
                />
                <img
                    src="/lp/connect_telephone/img/img_sec_example_01_sp.png"
                    alt=""
                    class="sp"
                    width="335"
                    height="240"
                />
            </div>
            <p class="txt__02">
                複数の「電話番号」なども登録できるため、<br
                    class="pc"
                />社内で連絡先を一括で登録することも可能です。
            </p>
        </div>
    </div>
    <div class="content_bottom" id="download">
        <div class="inner">
            <h3 class="ttl_03">ダウンロードステップ</h3>
            <div class="list__wrap">
                <h4 class="ttl_04">iPhoneの場合</h4>
                <ol class="list">
                    <li class="list__item">
                        <div class="list__img_wrap">
                            <img
                                src="/lp/connect_telephone/img/img_sec_example_iphone_01.png"
                                alt=""
                                width="213"
                                height="427"
                            />
                        </div>
                        <p class="list__txt_wrap">
                            <span class="list__txt"
                                >QRコードを読み取って<br
                                    class="pc"
                                />ダウンロード</span
                            >
                        </p>
                    </li>
                    <li class="list__item">
                        <div class="list__img_wrap">
                            <img
                                src="/lp/connect_telephone/img/img_sec_example_iphone_02.png"
                                alt=""
                                width="213"
                                height="427"
                            />
                        </div>
                        <p class="list__txt_wrap">
                            <span class="list__txt"
                                >「シェアボタン」を<br class="pc" />タップ</span
                            >
                        </p>
                    </li>
                    <li class="list__item">
                        <div class="list__img_wrap">
                            <img
                                src="/lp/connect_telephone/img/img_sec_example_iphone_03.png"
                                alt=""
                                width="213"
                                height="427"
                            />
                        </div>
                        <p class="list__txt_wrap">
                            <span class="list__txt">「連絡先」をタップ</span>
                        </p>
                    </li>
                    <li class="list__item">
                        <div class="list__img_wrap">
                            <img
                                src="/lp/connect_telephone/img/img_sec_example_iphone_04.png"
                                alt=""
                                width="213"
                                height="427"
                            />
                        </div>
                        <p class="list__txt_wrap">
                            <span class="list__txt">「保存」を押す</span>
                        </p>
                    </li>
                </ol>
            </div>

            <div class="list__wrap">
                <h4 class="ttl_04">Androidの場合</h4>
                <ol class="list">
                    <li class="list__item">
                        <div class="list__img_wrap">
                            <img
                                src="/lp/connect_telephone/img/img_sec_example_android_01.png"
                                alt=""
                                width="213"
                                height="427"
                            />
                        </div>
                        <p class="list__txt_wrap">
                            <span class="list__txt"
                                >QRコードを読み取って<br
                                    class="pc"
                                />ダウンロード</span
                            >
                        </p>
                    </li>
                    <li class="list__item">
                        <div class="list__img_wrap">
                            <img
                                src="/lp/connect_telephone/img/img_sec_example_android_02.png"
                                alt=""
                                width="213"
                                height="427"
                            />
                        </div>
                        <p class="list__txt_wrap">
                            <span class="list__txt">「続行」をタップ</span>
                        </p>
                    </li>
                    <li class="list__item">
                        <div class="list__img_wrap">
                            <img
                                src="/lp/connect_telephone/img/img_sec_example_android_03.png"
                                alt=""
                                width="213"
                                height="427"
                            />
                        </div>
                        <p class="list__txt_wrap">
                            <span class="list__txt">「許可」をタップ</span>
                        </p>
                    </li>
                    <li class="list__item">
                        <div class="list__img_wrap">
                            <img
                                src="/lp/connect_telephone/img/img_sec_example_android_04.png"
                                alt=""
                                width="213"
                                height="427"
                            />
                        </div>
                        <p class="list__txt_wrap">
                            <span class="list__txt">「開く」をタップ</span>
                        </p>
                    </li>
                    <li class="list__item">
                        <div class="list__img_wrap">
                            <img
                                src="/lp/connect_telephone/img/img_sec_example_android_05.png"
                                alt=""
                                width="213"
                                height="427"
                            />
                        </div>
                        <p class="list__txt_wrap">
                            <span class="list__txt">「電話帳」をタップ</span>
                        </p>
                    </li>
                    <li class="list__item">
                        <div class="list__img_wrap">
                            <img
                                src="/lp/connect_telephone/img/img_sec_example_android_06.png"
                                alt=""
                                width="213"
                                height="427"
                            />
                        </div>
                        <p class="list__txt_wrap">
                            <span class="list__txt">「許可」をタップ</span>
                        </p>
                    </li>
                    <li class="list__item">
                        <div class="list__img_wrap">
                            <img
                                src="/lp/connect_telephone/img/img_sec_example_android_07.png"
                                alt=""
                                width="213"
                                height="427"
                            />
                        </div>
                        <p class="list__txt_wrap">
                            <span class="list__txt">「OK 」をタップ</span>
                        </p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>

<style>
    #sec_example .content_top {
        background: url(/lp/connect_telephone/img/bg_sec_example.gif);
        padding: 50px 0;
    }
    #sec_example .content_top .ttl_01 {
        margin-bottom: 50px;
    }
    #sec_example .content_top .txt__01 {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.66;
        margin-bottom: 35px;
    }
    #sec_example .content_top .img_wrap {
        max-width: 500px;
        margin: 0 auto 40px;
    }
    #sec_example .content_top .txt__02 {
        text-align: center;
        font-size: 25px;
        line-height: 1.8;
    }
    @media screen and (max-width: 767px) {
        #sec_example .content_top {
            padding: 23px 0 30px;
        }
        #sec_example .content_top .ttl_01 {
            margin-bottom: 25px;
            font-size: 7.2vw;
        }
        #sec_example .content_top .txt__01 {
            margin-bottom: 40px;
        }
        #sec_example .content_top .img_wrap {
            margin-bottom: 20px;
        }
        #sec_example .content_top .txt__02 {
            font-size: 20px;
            line-height: 1.75;
        }
    }

    /* content_bottom */
    #sec_example .content_bottom {
        padding: 182px 0 157px;
    }
    #sec_example .content_bottom .list__wrap:last-child {
        margin-top: 92px;
    }
    #sec_example .content_bottom .list {
        display: flex;
        flex-wrap: wrap;
        gap: 65px 2.13%;
    }
    #sec_example .content_bottom .list__item {
        width: 23.4%;
    }
    #sec_example .content_bottom .list__img_wrap {
        width: 95%;
        margin: 0 auto 27px;
    }
    #sec_example .content_bottom .list__txt_wrap {
        min-height: 90px;
        background: url(/lp/connect_telephone/img/img_sec_example_arrow.png)
            no-repeat center/100% 100%;
        padding: 5px 16.5% 5px 15px;
        display: flex;
        align-items: center;
    }
    #sec_example .content_bottom .list__item:last-child .list__txt_wrap {
        background: url(/lp/connect_telephone/img/img_sec_example_arrow_complete.png)
            no-repeat center/100% 100%;
        padding: 5px 40% 5px 10px;
        position: relative;
    }
    #sec_example .content_bottom .list__item:last-child .list__txt_wrap:after {
        content: "完了";
        font-size: 20px;
        font-weight: bold;
        line-height: 1;
        color: #fff;
        position: absolute;
        top: 50%;
        right: 7%;
        transform: translateY(-50%);
        writing-mode: vertical-rl;
    }
    #sec_example .content_bottom .list__txt {
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.56;
    }
    @media screen and (max-width: 767px) {
        #sec_example .content_bottom {
            padding: 82px 0 132px;
        }
        #sec_example .content_bottom .list__wrap:last-child {
            margin-top: 84px;
        }
        #sec_example .content_bottom .list {
            display: flex;
            flex-wrap: wrap;
            gap: 30px 17px;
        }
        #sec_example .content_bottom .list__item {
            width: calc((100% - 17px) / 2);
        }
        #sec_example .content_bottom .list__img_wrap {
            margin: 0 auto 20px;
        }
        #sec_example .content_bottom .list__txt_wrap {
            min-height: 16.875vw;
            padding: 5px 16.5% 5px 10px;
        }
        #sec_example .content_bottom .list__item:last-child .list__txt_wrap {
            padding: 5px 40% 5px 10px;
        }
        #sec_example
            .content_bottom
            .list__item:last-child
            .list__txt_wrap:after {
            font-size: 3.75vw;
        }
        #sec_example .content_bottom .list__txt {
            font-size: 3.5vw;
        }
    }
</style>
