<section id="sec_flow">
    <div class="inner">
        <h2 class="ttl_02">ご利用の流れ</h2>
        <ul class="flow_list">
            <li class="flow_list__item">
                <dl class="flow_list__dl">
                    <dt class="flow_list__dt">お問い合わせ</dt>
                    <dd class="flow_list__dd">
                        まずはお問い合わせください。<br
                            class="pc"
                        />ご相談内容を確認の上、担当者よりご連絡いたします。
                    </dd>
                </dl>
            </li>
            <li class="flow_list__item">
                <dl class="flow_list__dl">
                    <dt class="flow_list__dt">ヒアリング</dt>
                    <dd class="flow_list__dd">
                        お客様の現状や課題感を担当者がヒアリングいたします。<br
                            class="pc"
                        />打ち合わせの日時についてご連絡をいたします。
                    </dd>
                </dl>
            </li>
            <li class="flow_list__item">
                <dl class="flow_list__dl">
                    <dt class="flow_list__dt">プランのご提案</dt>
                    <dd class="flow_list__dd">
                        お客様の課題に対して最適なプランをご提案いたします。
                    </dd>
                </dl>
            </li>
            <li class="flow_list__item">
                <dl class="flow_list__dl">
                    <dt class="flow_list__dt">契約・利用開始</dt>
                    <dd class="flow_list__dd">
                        契約の締結・ご入金をもって利用開始とさせていただきます。<br
                            class="pc"
                        />導入から運用まで専任の担当者が継続的にサポートいたします。
                    </dd>
                </dl>
            </li>
        </ul>

        <p class="txt_lead">まずはお気軽にご相談ください</p>
        <div class="btn_area_01">
            <div class="btn_01__wrap">
                <a href="/lp/connect_telephone/consultation/" class="btn_01"
                    >無料で相談</a
                >
            </div>
            <!--<div class="btn_01__wrap">
            <a href="/lp/connect_telephone/contact/" class="btn_01 btn_01__contact">お申込み</a>
          </div>-->
        </div>
    </div>
</section>

<style>
    #sec_flow {
        background: url(/lp/connect_telephone/img/bg_sec_flow.gif);
        padding: 45px 0 55px;
    }
    #sec_flow .ttl_02 {
        color: #fff;
        padding-bottom: 18px;
        margin-bottom: 45px;
    }
    #sec_flow .ttl_02:after {
        background: #fff;
    }
    #sec_flow .flow_list {
        margin-bottom: 60px;
    }
    #sec_flow .flow_list__item {
        margin-bottom: 30px;
    }
    #sec_flow .flow_list__dl {
        display: flex;
    }
    #sec_flow .flow_list__dt {
        width: 285px;
        background: #fff45c;
        color: #158efe;
        border-radius: 5px 0 0 5px;
        height: 120px;
        padding: 35px 25px;
        font-size: 23px;
        font-weight: bold;
        line-height: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    #sec_flow .flow_list__dt:after {
        content: "";
        display: block;
        border-top: 15px solid #fff45c;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
    #sec_flow .flow_list__item:last-child .flow_list__dt:after {
        content: none;
    }
    #sec_flow .flow_list__item:nth-child(1) .flow_list__dt:before {
        content: "";
        width: 59px;
        height: 43px;
        background: url(/lp/connect_telephone/img/img_sec_flow_mail.png)
            no-repeat center/contain;
        margin-right: 12px;
    }
    #sec_flow .flow_list__item:nth-child(2) .flow_list__dt:before {
        content: "";
        width: 50px;
        height: 45px;
        background: url(/lp/connect_telephone/img/img_sec_flow_tel.png)
            no-repeat center/contain;
        margin-right: 12px;
    }
    #sec_flow .flow_list__item:nth-child(3) .flow_list__dt:before {
        content: "";
        width: 61px;
        height: 67px;
        background: url(/lp/connect_telephone/img/img_sec_flow_human.png)
            no-repeat center/contain;
        margin-right: 6px;
    }
    #sec_flow .flow_list__item:nth-child(4) .flow_list__dt:before {
        content: "";
        width: 50px;
        height: 56px;
        background: url(/lp/connect_telephone/img/img_sec_flow_paper.png)
            no-repeat center/contain;
        margin-right: 10px;
    }
    #sec_flow .flow_list__dd {
        background: #fff;
        font-size: 18px;
        padding: 25px 30px;
        display: flex;
        align-items: center;
        width: calc(100% - 285px);
    }
    #sec_flow .txt_lead {
        font-size: 25px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        margin-bottom: 33px;
    }
    #sec_flow .txt_lead:before {
        content: "\\";
        margin: -2px 10px 0 0;
    }
    #sec_flow .txt_lead:after {
        content: "/";
        margin: -2px 0 0 10px;
    }
    @media screen and (max-width: 767px) {
        #sec_flow {
            padding: 48px 0;
        }
        #sec_flow .ttl_02 {
            margin-bottom: 40px;
        }
        #sec_flow .flow_list {
            margin-bottom: 37px;
        }
        #sec_flow .flow_list__item {
            margin-bottom: 22px;
        }
        #sec_flow .flow_list__dt {
            width: min(42.6vw, 160px);
            height: unset;
            padding: 10px 20px;
            font-size: 17px;
            flex-direction: column;
            text-align: center;
        }
        #sec_flow .flow_list__dt:after {
            border-top: 12px solid #fff45c;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
        }
        #sec_flow .flow_list__item:nth-child(1) .flow_list__dt:before {
            width: 43px;
            height: 32px;
            margin: 0 0 10px;
        }
        #sec_flow .flow_list__item:nth-child(2) .flow_list__dt:before {
            width: 37px;
            height: 33px;
            margin: 0 0 9px;
        }
        #sec_flow .flow_list__item:nth-child(3) .flow_list__dt:before {
            width: 40px;
            height: 44px;
            margin: 0 0 4px;
        }
        #sec_flow .flow_list__item:nth-child(4) .flow_list__dt:before {
            width: 37px;
            height: 42px;
            margin: 0 0 6px;
        }
        #sec_flow .flow_list__dd {
            font-size: 13px;
            padding: 10px 15px;
            width: calc(100% - min(42.6vw, 160px));
        }
        #sec_flow .txt_lead {
            font-size: 4.8vw;
            margin-bottom: 36px;
        }
    }
</style>
