<!-- footer -->
<footer id="footer">
    <div class="footer_box">
        <div class="inner">
            <p class="txt_lead">つながるテレフォン</p>
            <div class="flexbox">
                <div class="footer_profile">
                    <div class="footer_logo">
                        <div class="footer_logo__img_wrap">
                            <img
                                src="https://support.tenpos.com/img/logo_black.png"
                                alt=""
                                width="140"
                                height="49"
                            />
                        </div>
                        <p>株式会社テンポスフードプレイス</p>
                    </div>
                    <div class="footer_address">
                        〒144-0031<br />
                        東京都大田区東蒲田2-30-17 サンユー東蒲田ビル6F<br />
                        TEL:050-3174-1366 / FAX:03-6774-8579
                    </div>
                </div>
                <div class="footer_menu clearbox">
                    <ul>
                        <li>
                            <a href="#sec_intro"
                                >こんなお悩みごとはありませんか？</a
                            >
                        </li>
                        <li>
                            <a href="#sec_how">「つながるテレフォン」とは</a>
                        </li>
                        <li><a href="#sec_example">使用例</a></li>
                        <li><a href="#download">ダウンロード方法</a></li>
                        <li><a href="#sec_success">成功事例</a></li>
                        <li><a href="#sec_price">料金</a></li>
                        <li><a href="#sec_flow">ご利用の流れ</a></li>
                        <li><a href="/contact/">お問い合わせ</a></li>
                        <li>
                            <a href="/privacypolicy/">プライバシーポリシー</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <p class="inner footer_copy">
            Copyright (C) tenpos foodplace All Rights Reserved.
        </p>
    </div>
</footer>
<!-- /footer -->
<div class="btn_top__wrap">
    <a href="#" class="btn_top"></a>
</div>

<div class="footer_bar sp">
    <ul class="footer_bar__list">
        <li class="footer_bar__list_item">
            <a
                href="/lp/connect_telephone/consultation/"
                class="footer_bar__btn">無料で相談</a
            >
        </li>
        <!--<li class="footer_bar__list_item">
        <a href="/lp/connect_telephone/contact/" class="footer_bar__btn footer_bar__btn__contact">お申込み</a>
      </li>-->
    </ul>
</div>

<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    is:inline></script>
<script type="text/javascript" src="/lp/connect_telephone/js/common-ft.js"
></script>

<style>
    #footer {
        width: 100%;
        position: relative;
    }
    #footer .footer_box {
        background: #f3f3f3;
        padding: 35px 0 25px;
    }
    #footer .txt_lead {
        text-align: center;
        font-size: 35px;
        font-weight: bold;
        color: #007bee;
        margin-bottom: 55px;
    }
    #footer .flexbox {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .footer_profile {
        width: 50%;
        border-right: 2px solid #cecece;
        padding-right: 60px;
    }
    .footer_logo {
        margin-bottom: 33px;
    }
    .footer_logo__img_wrap {
        width: 140px;
        margin-bottom: 20px;
    }
    .footer_logo img {
        width: 100%;
        height: auto;
    }
    .footer_logo p {
        font-size: 16px;
        font-weight: bold;
    }
    .footer_address {
        text-align: left;
        line-height: 1.875;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .footer_menu {
        width: 50%;
    }
    .footer_menu {
        padding-left: 60px;
    }
    .footer_menu ul {
        float: right;
    }
    .footer_menu li {
        padding-left: 15px;
        margin-bottom: 10px;
        font-size: 16px;
    }
    .footer_menu li:before {
        content: "〉";
        margin-right: 5px;
    }
    .footer_menu li a:hover {
        text-decoration: underline;
    }
    .footer_copy {
        text-align: center;
        display: block;
        font-size: 12px;
        margin-top: 37px;
    }

    @media screen and (max-width: 767px) {
        #footer .inner {
            max-width: 345px;
        }
        #footer .footer_box {
            padding: 39px 0 45px;
        }
        #footer .txt_lead {
            font-size: 28px;
            margin-bottom: 40px;
        }
        .footer_profile {
            text-align: center;
            width: 100%;
            padding: 0 0 35px;
            border-right: none;
            border-bottom: 2px solid #cecece;
            margin-bottom: 30px;
        }
        .footer_logo {
            margin-bottom: 23px;
        }
        .footer_logo__img_wrap {
            width: 112px;
            margin: 0 auto 19px;
        }
        .footer_logo p {
            font-size: 13px;
        }
        .footer_address {
            text-align: center;
            font-size: 13px;
            margin: 0;
        }
        .footer_menu {
            width: 100%;
        }
        .footer_menu {
            padding: 0;
        }
        .footer_menu ul {
            float: none;
        }
        .footer_menu li {
            padding: 0;
            margin-bottom: 8px;
            font-size: 14px;
            display: flex;
        }
        .footer_copy {
            margin-top: 35px;
        }
    }
</style>
