<section id="sec_how">
    <div class="content_top">
        <div class="inner">
            <h2 class="ttl_01">
                <span class="txt_ul">つながるテレフォン</span>とは？
            </h2>
            <p class="txt_lead txt_blue">
                「つながるテレフォン」は<br
                    class="sp"
                />商談相手のスマホの中に<br />自分の情報を登録する<br
                    class="sp"
                />サービスです。
            </p>
            <div class="img_wrap">
                <img
                    src="/lp/connect_telephone/img/img_sec_how_01.png"
                    alt=""
                    class="pc"
                    width="814"
                    height="497"
                />
                <img
                    src="/lp/connect_telephone/img/img_sec_how_01_sp.png"
                    alt=""
                    class="sp"
                    width="335"
                    height="782"
                />
            </div>
        </div>
    </div>
    <div class="content_bottom">
        <div class="inner">
            <ol class="list">
                <li class="list__item">
                    <div class="list__img_wrap">
                        <img
                            src="/lp/connect_telephone/img/img_sec_how_02.png"
                            alt=""
                            width="345"
                            height="265"
                        />
                    </div>
                    <p class="list__txt">
                        商談開始から少し打ち明けてきた<br />タイミングで切り出す
                    </p>
                </li>
                <li class="list__item">
                    <div class="list__img_wrap">
                        <img
                            src="/lp/connect_telephone/img/img_sec_how_03.png"
                            alt=""
                            width="250"
                            height="264"
                        />
                    </div>
                    <p class="list__txt">
                        登録ステップを案内しながら<br
                            class="sp"
                        />自分の番号が登録される旨を<br class="sp" />伝える
                    </p>
                </li>
                <li class="list__item">
                    <div class="list__img_wrap">
                        <img
                            src="/lp/connect_telephone/img/img_sec_how_04.png"
                            alt=""
                            class="pc"
                            width="230"
                            height="261"
                        />
                        <img
                            src="/lp/connect_telephone/img/img_sec_how_04_sp.png"
                            alt=""
                            class="sp"
                            width="275"
                            height="199"
                        />
                    </div>
                    <p class="list__txt">
                        問い合わせや相談は<br />お気軽に電話ください！と伝える
                    </p>
                    <p class="list__txt list__txt_sub">
                        ※見込みフォローの際に自分の名前を出すのが狙い
                    </p>
                </li>
            </ol>
        </div>
    </div>
</section>

<style>
    #sec_how .content_top {
        background: url(/lp/connect_telephone/img/bg_sec_how.gif);
        padding: 35px 0 65px;
    }
    #sec_how .content_top .txt_lead {
        text-align: center;
        font-size: 35px;
        font-weight: bold;
        color: #158efe;
        line-height: 1.57;
        margin-bottom: 25px;
    }
    #sec_how .content_top .img_wrap {
        max-width: 814px;
        margin: 0 auto;
    }
    @media screen and (max-width: 767px) {
        #sec_how .content_top {
            padding: 25px 0 20px;
        }
        #sec_how .content_top .ttl_01 {
            margin: 0;
        }
        #sec_how .content_top .txt_lead {
            font-size: 25px;
            margin-bottom: 40px;
        }
        #sec_how .content_top .img_wrap {
            max-width: 814px;
            margin: 0 auto;
        }
    }

    /* content_bottom */
    #sec_how .content_bottom {
        padding: 45px 0 115px;
    }
    #sec_how .content_bottom .list {
        display: flex;
    }
    #sec_how .content_bottom .list__item {
        position: relative;
    }
    #sec_how .content_bottom .list__item:nth-child(1) {
        width: 36%;
        margin-right: min(9vw, 90px);
    }
    #sec_how .content_bottom .list__item:nth-child(2) {
        width: 26%;
        margin-right: min(4.1vw, 41px);
    }
    #sec_how .content_bottom .list__item:nth-child(3) {
        width: 24%;
    }
    #sec_how .content_bottom .list__item:after {
        content: "";
        display: block;
        border-left: 27px solid #158efe;
        border-top: 22px solid transparent;
        border-bottom: 22px solid transparent;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -100%);
    }
    #sec_how .content_bottom .list__item:nth-child(1):after {
        left: calc(100% + min(9vw, 90px) / 2);
    }
    #sec_how .content_bottom .list__item:nth-child(2):after {
        left: calc(100% - min(2.2vw, 22px) / 2);
    }
    #sec_how .content_bottom .list__item:nth-child(3):after {
        content: none;
    }
    #sec_how .content_bottom .list__img_wrap {
        margin-bottom: 15px;
    }
    #sec_how .content_bottom .list__txt {
        text-align: center;
    }
    #sec_how .content_bottom .list__item:nth-child(2) .list__txt {
        padding-right: min(3vw, 30px);
    }
    #sec_how .content_bottom .list__item:nth-child(3) .list__txt {
        padding-right: min(5vw, 50px);
    }
    #sec_how .content_bottom .list__item:nth-child(3) .list__txt_sub {
        font-size: 14px;
    }
    @media screen and (max-width: 767px) {
        #sec_how .content_bottom {
            padding: 75px 0 130px;
        }
        #sec_how .content_bottom .list {
            flex-direction: column;
            align-items: center;
        }
        #sec_how .content_bottom .list__item:nth-child(1) {
            width: 100%;
            margin: 0 0 80px;
        }
        #sec_how .content_bottom .list__item:nth-child(2) {
            width: 100%;
            margin: 0 0 80px;
        }
        #sec_how .content_bottom .list__item:nth-child(3) {
            width: 100%;
        }
        #sec_how .content_bottom .list__item:after {
            border-top: 27px solid #158efe;
            border-left: 22px solid transparent;
            border-right: 22px solid transparent;
            border-bottom: none;
            top: calc(100% + 80px / 2);
            transform: translate(-50%, -50%);
        }
        #sec_how .content_bottom .list__item:nth-child(1):after {
            left: 50%;
        }
        #sec_how .content_bottom .list__item:nth-child(2):after {
            left: 50%;
        }
        #sec_how .content_bottom .list__item:nth-child(3):after {
            content: none;
        }
        #sec_how .content_bottom .list__img_wrap {
            margin: 0 auto 15px;
        }
        #sec_how .content_bottom .list__item:nth-child(1) .list__img_wrap {
            max-width: 324px;
        }
        #sec_how .content_bottom .list__item:nth-child(2) .list__img_wrap {
            max-width: 234px;
        }
        #sec_how .content_bottom .list__item:nth-child(3) .list__img_wrap {
            max-width: 275px;
        }
        #sec_how .content_bottom .list__txt {
            font-size: 16px;
        }
        #sec_how .content_bottom .list__item:nth-child(2) .list__txt {
            padding: 0;
        }
        #sec_how .content_bottom .list__item:nth-child(3) .list__txt {
            padding: 0;
        }
        #sec_how .content_bottom .list__item:nth-child(3) .list__txt_sub {
            font-size: 14px;
        }
    }
</style>
