<section id="sec_price">
    <div class="inner">
        <h2 class="ttl_02">料金</h2>
        <div class="price_cont__wrap">
            <p class="txt">
                基本の料金体系は<br
                    class="sp"
                />「初期費用」＋「月額サービス利用料」です。<br
                />ご要望に応じてカスタマイズした<br
                    class="sp"
                />プランもご提案できますので、<br
                    class="sp"
                />詳しくはお問い合わせください。
            </p>
            <div class="price_cont">
                <div class="price_cont__initial box_01">
                    <h3 class="box_01__ttl">初期費用</h3>
                    <div class="box_01__txt_wrap">
                        <p class="price_cont__txt_lead">
                            <span class="txt_l">1万円</span> / 1 ページ（税抜）
                        </p>
                        <p class="price_cont__txt">
                            ページ作成にかかる費用です。
                        </p>
                    </div>
                </div>
                <div class="price_cont__monthly box_01">
                    <h3 class="box_01__ttl">月額サービス利用料</h3>
                    <div class="box_01__txt_wrap">
                        <p class="price_cont__txt_lead">
                            <span class="txt_l">500円</span> / 1 ページ（税抜）
                        </p>
                        <p class="price_cont__txt">
                            ページの保守・管理にかかる費用です。
                        </p>
                    </div>
                </div>
            </div>
            <p class="txt_sub">
                ※テンプレート以外のデザインをご希望の方は別途費用がかかります。詳しくはお問い合わせ窓口でご相談ください。
            </p>
        </div>

        <div class="price_list__wrap">
            <p class="txt">
                基本の料金体系は「初期費用10,000 円」＋「月額サービス利用料500
                円」です。<br
                />ご要望に応じてカスタマイズしたプランもご提案できますので、<br
                    class="sp"
                />詳しくはお問い合わせください。
            </p>
            <ul class="price_list">
                <li class="price_list__item box_01">
                    <h3 class="box_01__ttl">プランA</h3>
                    <div class="price_list__txt_wrap__top box_01__txt_wrap">
                        <p class="price_list__txt">
                            1ページ～9 ページ<br class="pc" />お試し企業様向け
                        </p>
                    </div>
                    <div class="price_list__txt_wrap__bottom box_01__txt_wrap">
                        <p class="price_list__txt txt_b">
                            <span class="txt_l">初期費用</span><br /><span
                                class="txt_ll">1万円</span
                            > / 1 ページ（税抜）
                        </p>
                    </div>
                </li>
                <li class="price_list__item price_list__item_recommend box_01">
                    <h3 class="box_01__ttl">プランB</h3>
                    <div class="price_list__txt_wrap__top box_01__txt_wrap">
                        <p class="price_list__txt">
                            10ページ～29 ページ<br class="pc" />中小企業様向け
                        </p>
                    </div>
                    <div class="price_list__txt_wrap__bottom box_01__txt_wrap">
                        <p class="price_list__txt txt_b">
                            <span class="txt_l">初期費用</span><br /><span
                                class="txt_ll">8,000円</span
                            > / 1 ページ（税抜）
                        </p>
                    </div>
                </li>
                <li class="price_list__item box_01">
                    <h3 class="box_01__ttl">プランC</h3>
                    <div class="price_list__txt_wrap__top box_01__txt_wrap">
                        <p class="price_list__txt">
                            30ページ以上<br class="pc" />大手企業様向け
                        </p>
                    </div>
                    <div class="price_list__txt_wrap__bottom box_01__txt_wrap">
                        <p class="price_list__txt txt_b">
                            <span class="txt_l">初期費用</span><br /><span
                                class="txt_ll">7,000円</span
                            > / 1 ページ（税抜）
                        </p>
                    </div>
                </li>
            </ul>
            <p class="txt_sub">
                ※テンプレート以外のデザインをご希望の方は別途費用がかかります。詳しくはお問い合わせ窓口でご相談ください。
            </p>
        </div>

        <div class="btn_area_01">
            <div class="btn_01__wrap">
                <a href="/lp/connect_telephone/consultation/" class="btn_01"
                    >無料で相談</a
                >
            </div>
            <!--<div class="btn_01__wrap">
            <a href="/lp/connect_telephone/contact/" class="btn_01 btn_01__contact">お申込み</a>
          </div>-->
        </div>
    </div>
</section>

<style>
    #sec_price {
        padding-bottom: 150px;
    }
    #sec_price .txt {
        text-align: center;
        font-size: 18px;
    }
    #sec_price .txt_sub {
        font-size: 14px;
    }
    @media screen and (max-width: 767px) {
        #sec_price {
            padding-bottom: 145px;
        }
        #sec_price .txt {
            font-size: 16px;
        }
        #sec_price .txt_sub {
            font-size: 13px;
        }
    }

    /*--- price_cont ---*/
    #sec_price .price_cont__wrap {
        margin-bottom: 125px;
    }
    #sec_price .price_cont {
        display: flex;
        justify-content: space-between;
        margin: 48px 0 22px;
    }
    #sec_price .price_cont .box_01 {
        width: min(44.4vw, 420px);
    }
    #sec_price .price_cont__initial {
        position: relative;
    }
    #sec_price .price_cont__initial:after {
        content: "";
        display: block;
        width: 45px;
        height: 45px;
        background: url(/lp/connect_telephone/img/ico_plus_gray.png) no-repeat
            center/contain;
        position: absolute;
        top: 50%;
        left: calc(100% + (min(96vw, 960px) - min(44.4vw, 420px) * 2) / 2);
        transform: translate(-50%, -50%);
    }
    #sec_price .price_cont .box_01__ttl {
        font-size: 30px;
    }
    #sec_price .price_cont__monthly .box_01__ttl {
        background: #eb6877;
    }
    #sec_price .price_cont .box_01__txt_wrap {
        height: 282px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #sec_price .price_cont__txt_lead {
        font-weight: bold;
        font-size: 18px;
        color: #158efe;
        margin-bottom: 25px;
        line-height: 1;
    }
    #sec_price .price_cont__monthly .price_cont__txt_lead {
        color: #eb6877;
    }
    #sec_price .price_cont__txt_lead .txt_l {
        font-size: 1.94em;
    }
    #sec_price .price_cont__txt {
        font-size: 20px;
    }
    @media screen and (max-width: 767px) {
        #sec_price .price_cont__wrap {
            margin-bottom: 75px;
        }
        #sec_price .price_cont {
            flex-direction: column;
            margin: 15px 0 20px;
        }
        #sec_price .price_cont .box_01 {
            width: 100%;
        }
        #sec_price .price_cont__initial {
            margin-bottom: 70px;
        }
        #sec_price .price_cont__initial:after {
            width: 40px;
            height: 40px;
            left: 50%;
            top: calc(100% + 70px / 2);
        }
        #sec_price .price_cont .box_01__ttl {
            font-size: 22px;
        }
        #sec_price .price_cont .box_01__txt_wrap {
            height: unset;
            padding: 20px 10px 35px;
        }
        #sec_price .price_cont__txt_lead {
            font-size: 13px;
            margin-bottom: 20px;
        }
        #sec_price .price_cont__txt {
            font-size: 14px;
        }
    }

    /*--- price_list ---*/
    #sec_price .price_list__wrap {
        margin-bottom: 80px;
    }
    #sec_price .price_list {
        margin: 74px 0 22px;
        display: flex;
        justify-content: space-between;
    }
    #sec_price .price_list__item {
        width: 31.25%;
    }
    #sec_price .price_list__item_recommend {
        position: relative;
    }
    #sec_price .price_list__item_recommend:after {
        content: "";
        display: block;
        width: min(9vw, 90px);
        height: min(9vw, 90px);
        background: url(/lp/connect_telephone/img/ico_osusume.png) no-repeat
            center/contain;
        position: absolute;
        bottom: calc(100% - 32px);
        right: 7px;
    }
    #sec_price .price_list .box_01__ttl {
        font-size: 25px;
    }
    #sec_price .price_list .box_01__txt_wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    #sec_price .price_list__txt_wrap__top {
        height: 92px;
        border-bottom: 2px solid #fff;
        font-size: 18px;
    }
    #sec_price .price_list__txt_wrap__bottom {
        height: 150px;
        font-size: 15px;
    }
    #sec_price .price_list__txt_wrap__bottom .price_list__txt .txt_l {
        font-size: 25px;
    }
    #sec_price .price_list__txt_wrap__bottom .price_list__txt .txt_ll {
        font-size: 28px;
    }
    @media screen and (max-width: 767px) {
        #sec_price .price_list__wrap {
            margin-bottom: 60px;
        }
        #sec_price .price_list {
            margin: 35px 0 20px;
            flex-direction: column;
            gap: 30px;
        }
        #sec_price .price_list__item {
            width: 100%;
        }
        #sec_price .price_list__item_recommend:after {
            width: 64px;
            height: 64px;
            bottom: calc(100% - 46px);
            right: 10px;
        }
        #sec_price .price_list .box_01__ttl {
            font-size: 22px;
        }
        #sec_price .price_list__txt_wrap__top {
            height: unset;
            border: none;
            font-size: 18px;
            padding: 15px 10px 0;
        }
        #sec_price .price_list__txt_wrap__bottom {
            height: unset;
            font-size: 16px;
        }
    }
</style>
