<section id="sec_success">
    <div class="inner">
        <h2 class="ttl_02">成功事例</h2>
        <p class="txt__01">株式会社テンポスバスターズで実施</p>
        <p class="txt_lead">
            <span class="txt_inline_blk"
                >驚異の通電率<span class="txt_l txt_red txt_ul txt_b"
                    >70％アップ</span
                >、</span
            >
            <span class="txt_inline_blk"
                >成約率<span class="txt_l txt_red txt_ul txt_b">15％アップ</span
                >に成功。</span
            >
        </p>
        <div class="success_cont">
            <div class="success_cont__before box_01">
                <h3 class="box_01__ttl">導入前の課題</h3>
                <div class="box_01__txt_wrap">
                    <ul class="success_cont__list">
                        <li class="success_cont__list_item">
                            商談後に電話してもなかなか出てもらえない
                        </li>
                        <li class="success_cont__list_item">
                            在庫確認や詳細確認が遅れる
                        </li>
                        <li class="success_cont__list_item">
                            行き違いが発生して納期のトラブルに
                        </li>
                    </ul>
                    <p class="success_cont__txt">
                        電話番号だけでは<br class="pc" />誰だか<br
                            class="sp"
                        />わからないため<br class="pc" />電話に出ない
                    </p>
                </div>
            </div>
            <div class="success_cont__after box_01">
                <h3 class="box_01__ttl">導入後の効果</h3>
                <div class="box_01__txt_wrap">
                    <ul class="success_cont__list">
                        <li class="success_cont__list_item">
                            名前が出ることで初回通電率が2倍に
                        </li>
                        <li class="success_cont__list_item">
                            つながらなくても着信履歴から折り返してもらえる
                        </li>
                        <li class="success_cont__list_item">
                            行き違いや「連絡がない」クレームがなくなった
                        </li>
                    </ul>
                    <p class="success_cont__txt">
                        事前に登録してもらうことで<br />通電率がアップ
                    </p>
                    <p class="success_cont__txt_strong txt_yellow">
                        <span class="txt_l">15</span>%の成約率UP
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    #sec_success {
        padding: 0 0 125px;
    }
    #sec_success .txt__01 {
        font-size: 23px;
        font-weight: bold;
        line-height: 1.25;
        display: inline-block;
        border: 1px solid #cecece;
        padding: 6px 12px;
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 10px;
    }
    #sec_success .txt_lead {
        font-size: 33px;
        text-align: center;
        margin-bottom: 50px;
    }
    #sec_success .txt_lead .txt_l {
        line-height: 1.25;
    }
    #sec_success .success_cont {
        display: flex;
        justify-content: space-between;
    }
    #sec_success .box_01 {
        width: min(41.8vw, 400px);
    }
    #sec_success .success_cont__before {
        position: relative;
    }
    #sec_success .success_cont__before:after {
        content: "";
        display: block;
        width: 78px;
        height: 78px;
        background: url(/lp/connect_telephone/img/arrow_gray.png) no-repeat
            center/contain;
        position: absolute;
        top: 50%;
        left: calc(100% + (min(96vw, 960px) - min(41.8vw, 400px) * 2) / 2);
        transform: translate(-50%, -50%);
    }
    #sec_success .box_01__ttl {
        font-size: 35px;
    }
    #sec_success .success_cont__before .box_01__ttl {
        background: #717171;
    }
    #sec_success .box_01__txt_wrap {
        height: calc(100% - 55px);
    }
    #sec_success .success_cont__list_item {
        font-size: 20px;
        font-weight: bold;
        color: #717171;
        margin-bottom: 25px;
        display: flex;
    }
    #sec_success .success_cont__list_item:before {
        content: "●";
    }
    #sec_success .success_cont__txt {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        line-height: 1.6;
    }
    #sec_success .success_cont__after .success_cont__txt {
        color: #158efe;
        text-decoration: underline;
        text-decoration-color: #158efe;
        text-underline-offset: 7px;
        margin-bottom: 20px;
    }
    #sec_success .success_cont__after .success_cont__txt_strong {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        line-height: 1;
        background: #ef0000;
        border-radius: 2px;
        padding: 9px;
    }
    @media screen and (max-width: 767px) {
        #sec_success {
            padding: 0 0 138px;
        }
        #sec_success .txt__01 {
            font-size: 16px;
            padding: 10px 12px;
            margin-bottom: 20px;
            text-align: center;
        }
        #sec_success .txt_lead {
            font-size: 6.13vw;
            margin-bottom: 45px;
        }
        #sec_success .success_cont {
            display: block;
        }
        #sec_success .box_01 {
            width: 100%;
        }
        #sec_success .success_cont__before {
            position: relative;
            margin-bottom: 85px;
        }
        #sec_success .success_cont__before:after {
            width: 58px;
            height: 58px;
            left: 50%;
            top: calc(100% + 85px / 2);
            transform: translate(-50%, -50%) rotate(90deg);
        }
        #sec_success .box_01__ttl {
            font-size: 24px;
        }
        #sec_success .box_01__txt_wrap {
            height: unset;
        }
        #sec_success .success_cont__list_item {
            font-size: 14px;
            margin-bottom: 10px;
        }
        #sec_success .success_cont__txt {
            font-size: 18px;
        }
        #sec_success .success_cont__after .success_cont__txt_strong {
            font-size: 23px;
            max-width: 273px;
            margin: 0 auto;
        }
    }
</style>
