---
import Layout from "../../../layouts/Layout.astro";
import ContactArea from "../../../components/common/ContactArea.astro";
import structuredDataMarkup from "../../../data/data.json";
const markup = JSON.stringify(structuredDataMarkup.influencerMarketing);
---

<Layout
    title="飲食店でインフルエンサー集客をするなら「テンポスフードプレイス」 | テンポスフードプレイス"
    description="店舗への集客販促を行うためにインフルエンサー集客をお考えの場合はテンポスフードプレイスにご相談ください。自分でSNSを頑張っているけど効果が出ない、もっと効果を伸ばしたいなどのお悩みを解決いたします！"
    pageUrl="marketing/influencer-marketing/"
    ogimage="/asset/images/influencer-marketing/ogp_influencer-marketing.jpg"
    markup={markup}
>
    <article id="mainarea">
        <div class="tp-border sans">
            <nav class="tp-nav">
                <ol class="tp-nav__list flex">
                    <li><a href="/">トップページ</a></li>
                    <li><a href="/marketing/">集客</a></li>
                    <li>インフルエンサー集客</li>
                </ol>
            </nav>
            <section class="tp-front__section">
                <h1 class="tp-front__ttl font_m_plus">
                    <span>インフルエンサー集客</span>
                </h1>
                <p class="tp-front__caption">
                    インフルエンサーを活用し、<br />
                    お店や料理をSNSでご紹介！
                </p>
                <p class="tp-front__contact">
                    <a href="/contact/">お問い合わせはこちら</a>
                </p>
            </section>

            <section class="tp-worries__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __border">
                    <span></span>こんなお悩みありませんか？<span></span>
                </h2>
                <ul class="tp-check__list tp-wrapper__l">
                    <li>
                        InstagramやTwitterなど<span class="tp-bglg"
                            >SNSの活用方法が分からない</span
                        >
                    </li>
                    <li>
                        お店のSNSアカウントの<span class="tp-bglg"
                            >フォロワーが増えない</span
                        >
                    </li>
                    <li>
                        <span class="tp-bglg"
                            >10代～30代を中心にお店をアプローチしたい</span
                        >けど、どうしたらいいの？
                    </li>
                </ul>
            </section>

            <section class="tp-design__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    テンポスではインフルエンサーを使った集客方法<br
                        class="pc"
                    />トリドリマーケティングをご案内いたします！
                </h2>
                <div class="tp-design__contents flex">
                    <div class="tp-local__wrap">
                        <p class="tp-local">
                            インフルエンサーとは、フォロワーが最低1,000人以上いるInstagramやTwitter、TikTokなどで”影響力のある人”を指します。<br
                            />
                            実際にインフルエンサーが来店し、食事した感想を写真付きで投稿することによって、お店の宣伝、集客効果に繋がります。
                        </p>
                        <p class="tp-local">
                            インフルエンサーはテレビで見るような有名人とは違い、特定のジャンルの中でSNSのフォロワーを獲得し、影響力を持つようになった一般人と言えます。<br
                            />
                            そのため、ユーザーは同じ価値観を持っているインフルエンサーをフォローする傾向にあります。
                        </p>
                        <p class="tp-local">
                            テレビで芸能人がリポートするお店よりも身近に感じられるため、来店に繋がる可能性も高くなります。
                        </p>
                    </div>
                    <p class="tp-design__thumb">
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/influencer-marketing/2x/img_influencer-marketing_design@2x.png"
                            />
                            <img
                                src="/asset/images/influencer-marketing/img_influencer-marketing_design.png"
                                srcset="/asset/images/influencer-marketing/img_influencer-marketing_design.png 1x,/asset/images/influencer-marketing/2x/img_influencer-marketing_design@2x.png 2x"
                                alt=""
                                width="200"
                                height="243"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </p>
                </div>
            </section>

            <section class="tp-want__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center">
                    インフルエンサー集客が<br class="sp" />おすすめな理由
                </h2>
                <ul class="tp-check__list tp-wrapper__l tp-mgb__s">
                    <li>お店の<span class="tp-bglg">認知拡大ができる</span></li>
                    <li>
                        お店の<span class="tp-bglg"
                            >SNSアカウントのフォロワーを増やすことができる</span
                        >
                    </li>
                    <li>
                        <span class="tp-bglg">アプリで簡単に募集</span
                        >できて、待っているだけで<br />
                        インフルエンサーから応募がくる
                    </li>
                    <li>
                        <span class="tp-bglg">月額定額制</span
                        >なので、インフルエンサーを採用するほどお得になる
                    </li>
                </ul>
                <p class="tp-want__thumb">
                    <img
                        src="/asset/images/influencer-marketing/img_want.png"
                        srcset="/asset/images/influencer-marketing/img_want.png 1x, /asset/images/influencer-marketing/2x/img_want@2x.png 2x"
                        alt=""
                        width="337"
                        height="300"
                        loading="lazy"
                        class="imgauto"
                    />
                </p>
            </section>

            <section class="tp-case__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center">
                    <span class="small"
                        >インフルエンサー採用数に制限がないため</span
                    ><br />
                    採用すればするほど<span class="tp-bglg">圧倒的にお得</span
                    >に投稿依頼が可能
                </h2>
                <div class="tp-scroll__container">
                    <table class="tp-table price-mgb">
                        <thead>
                            <tr>
                                <th></th>
                                <th>フォロワー単価</th>
                                <th>インフルエンサー<br />採用人数</th>
                                <th>総フォロワー数</th>
                                <th>金額</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>一般的な他社の<br />料金体系</th>
                                <td>
                                    <div>
                                        <span class="txt__l txt__bold">2</span
                                        >円
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span class="txt__l txt__bold">10</span
                                        >人
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span class="txt__l txt__bold"
                                            >25,000</span
                                        >人
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span class="txt__l txt__bold">50</span
                                        >万円<br />
                                        <span class=""
                                            >初期費用がかかる<br
                                            />ケースもあります</span
                                        >
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th
                                    ><img
                                        src="/asset/images/influencer-marketing/logo_case_toridori.png"
                                        srcset="/asset/images/influencer-marketing/logo_case_toridori.png 1x, /asset/images/influencer-marketing/2x/logo_case_toridori@2x.png 2x"
                                        alt="toridori marketing"
                                        width="166"
                                        height="19"
                                    /></th
                                >
                                <td>なし</td>
                                <td>無制限</td>
                                <td>自分で決められる</td>
                                <td>
                                    <div>
                                        <span class="txt__l txt__bold">5</span
                                        ><span class="txt__l_02 txt__bold_02"
                                            >万円</span
                                        >（税抜）<br />店舗プラン:5万円<br
                                        />通販プラン:6万円
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>

            <section class="tp-point__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-point__ttl__span"
                        >トリドリマーケティングの</span
                    >
                    <span class="tp-ttl__balloon__span">サービスの特徴</span>
                </h2>
                <ul class="tp-point__list __1clm">
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt"
                                >メリット１：<br
                                    class="sp"
                                />月額5万円で圧倒的コストパフォーマンス</span
                            >
                        </h3>
                        <p class="Local">
                            トリドリマーケティングなら、月額5万円でインフルエンサー採用し放題！<br
                            />また、掲載から1ヶ月で
                            PR商材や店舗を変更することも可能です。<br
                            />複数店舗経営される方でも1ヶ月ごとに変更できるため安心してご利用いただけます。
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt"
                                >メリット２：<br
                                    class="sp"
                                />安心の運用サポート</span
                            >
                        </h3>
                        <p class="Local">
                            PRキャンペーンの作成方法や、インフルエンサーの採用・連絡等で困ったことがあれば公式LINEにてご連絡ください。随時対応いたします。<br
                            />SNS運用・インフルエンサーマーケティングを行なったことがない方でも安心してご利用いただけます。初めてのインフルエンサーマーケティングはぜひトリドリマーケティングにお任せください。
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt"
                                >メリット３：<br
                                    class="sp"
                                />日本全国約3万人のインフルエンサーが登録!</span
                            >
                        </h3>
                        <p class="Local">
                            トリドリマーケティングに登録しているインフルエンサーは3万人以上。年齢、ジャンル、フォロワーも様々ですので、ご希望に合った方にPRしていただけます。<br
                            />1人あたりの平均フォロワーは約2万5000人のため、
                            影響力のあるインフルエンサーをあなたのお店に呼ぶことが可能です。
                        </p>
                    </li>
                </ul>
            </section>

            <section class="tp-plan__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __mgb">
                    <span class="tp-ttl__balloon__span"
                        >お好みで選べる2プラン</span
                    >
                </h2>

                <div class="tp-scroll__container">
                    <div class="plan_cont plan_cont__top">
                        <div class="plan_cont__left_wrap">
                            <div class="plan_cont__ttl_wrap">
                                <h3 class="plan_cont__ttl">
                                    現地で体験（店舗）<br />採用無制限プラン
                                </h3>
                                <p class="plan_cont__course__month">
                                    月次コース
                                </p>
                                <p class="plan_cont__price">
                                    5<span class="txt__s"
                                        >万円<span class="txt__light"
                                            >（税込）</span
                                        ></span
                                    >
                                </p>
                            </div>
                            <div class="plan_cont__left__bottom">
                                <p class="plan_cont__txt">
                                    サービスの無償提供のみでOK！インフルエンサーの自由な感性でPRしてもらえるお得なプランです
                                </p>
                                <h4 class="plan_cont__ttl_child">
                                    長期コースでさらにお得
                                </h4>
                                <p class="plan_cont__discount">15%OFF</p>
                                <div class="plan_cont__price_02__wrap">
                                    <p class="plan_cont__course__year">
                                        12ヶ月コース
                                    </p>
                                    <p class="plan_cont__price_02">
                                        4.25<span class="txt__s"
                                            >万円/月<span class="txt__light"
                                                >（税抜）</span
                                            ></span
                                        >
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="plan_cont__right_wrap">
                            <ul class="plan_cont__list">
                                <li
                                    class="plan_cont__list__item plan_cont__list__sns"
                                >
                                    <dl class="plan_cont__list__sns__dl">
                                        <dt class="plan_cont__list__sns__dt">
                                            利用可能なSNS
                                        </dt>
                                        <dd class="plan_cont__list__sns__dd">
                                            <ul class="plan_cont__sns_list">
                                                <li
                                                    class="plan_cont__sns_list__item"
                                                >
                                                    <img
                                                        src="/asset/images/influencer-marketing/ico_plan_instagram.png"
                                                        srcset="/asset/images/influencer-marketing/ico_plan_instagram.png 1x, /asset/images/influencer-marketing/2x/ico_plan_instagram@2x.png 2x"
                                                        alt="Instagram"
                                                        width="40"
                                                        height="40"
                                                        class="imgauto"
                                                        loading="lazy"
                                                    />
                                                </li>
                                                <li
                                                    class="plan_cont__sns_list__item"
                                                >
                                                    <img
                                                        src="/asset/images/influencer-marketing/ico_plan_twitter.png"
                                                        srcset="/asset/images/influencer-marketing/ico_plan_twitter.png 1x, /asset/images/influencer-marketing/2x/ico_plan_twitter@2x.png 2x"
                                                        alt="X"
                                                        width="40"
                                                        height="40"
                                                        class="imgauto"
                                                        loading="lazy"
                                                    />
                                                </li>
                                                <li
                                                    class="plan_cont__sns_list__item"
                                                >
                                                    <img
                                                        src="/asset/images/influencer-marketing/ico_plan_tiktok.png"
                                                        srcset="/asset/images/influencer-marketing/ico_plan_tiktok.png 1x, /asset/images/influencer-marketing/2x/ico_plan_tiktok@2x.png 2x"
                                                        alt="Tik Tok"
                                                        width="40"
                                                        height="40"
                                                        class="imgauto"
                                                        loading="lazy"
                                                    />
                                                </li>
                                                <li
                                                    class="plan_cont__sns_list__item"
                                                >
                                                    <img
                                                        src="/asset/images/influencer-marketing/ico_plan_youtube.png"
                                                        srcset="/asset/images/influencer-marketing/ico_plan_youtube.png 1x, /asset/images/influencer-marketing/2x/ico_plan_youtube@2x.png 2x"
                                                        alt="Youtube"
                                                        width="40"
                                                        height="40"
                                                        class="imgauto"
                                                        loading="lazy"
                                                    />
                                                </li>
                                            </ul>
                                        </dd>
                                    </dl>
                                </li>
                                <li
                                    class="plan_cont__list__item plan_cont__list__yellow"
                                >
                                    選考時に役立つ！インフルエンサー情報が無料で閲覧可能！<br
                                    />（通常4万円）
                                </li>
                                <li
                                    class="plan_cont__list__item plan_cont__list__yellow"
                                >
                                    ストーリーズオプションが無料（通常1万円）
                                </li>
                                <li
                                    class="plan_cont__list__item plan_cont__list__yellow"
                                >
                                    MEO連携活用ツールが無料（通常1万円）
                                </li>
                                <li class="plan_cont__list__item">
                                    来店の日時指定OK
                                </li>
                                <li class="plan_cont__list__item">
                                    月に一度、募集/提供内容が変更可能
                                </li>
                                <li class="plan_cont__list__item">
                                    インフルエンサーの報酬設定も可能（1,500円〜）
                                </li>
                                <li
                                    class="plan_cont__list__item plan_cont__list__cancel"
                                >
                                    <dl>
                                        <dt>【解約について】</dt>
                                        <dd class="plan_cont__list__cancel__dd">
                                            月次コーズはスタートから15日間は解約不可
                                        </dd>
                                        <dd class="plan_cont__list__cancel__dd">
                                            詳細は別途
                                        </dd>
                                    </dl>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="tp-scroll__container">
                    <div class="plan_cont plan_cont__bottom">
                        <div class="plan_cont__left_wrap">
                            <div class="plan_cont__ttl_wrap">
                                <h3 class="plan_cont__ttl">
                                    自宅で体験（通販）<br />採用無制限プラン
                                </h3>
                                <p class="plan_cont__course__month">
                                    月次コース
                                </p>
                                <p class="plan_cont__price">
                                    6<span class="txt__s"
                                        >万円<span class="txt__light"
                                            >（税込）</span
                                        ></span
                                    >
                                </p>
                            </div>
                            <div class="plan_cont__left__bottom">
                                <p class="plan_cont__txt">
                                    サービスの無償提供のみでOK！インフルエンサーの自由な感性でPRしてもらえるお得なプランです
                                </p>
                                <h4 class="plan_cont__ttl_child">
                                    長期コースでさらにお得
                                </h4>
                                <p class="plan_cont__discount">15%OFF</p>
                                <div class="plan_cont__price_02__wrap">
                                    <p class="plan_cont__course__year">
                                        12ヶ月コース
                                    </p>
                                    <p class="plan_cont__price_02">
                                        5.1<span class="txt__s"
                                            >万円/月<span class="txt__light"
                                                >（税抜）</span
                                            ></span
                                        >
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="plan_cont__right_wrap">
                            <ul class="plan_cont__list">
                                <li
                                    class="plan_cont__list__item plan_cont__list__sns"
                                >
                                    <dl class="plan_cont__list__sns__dl">
                                        <dt class="plan_cont__list__sns__dt">
                                            利用可能なSNS
                                        </dt>
                                        <dd class="plan_cont__list__sns__dd">
                                            <ul class="plan_cont__sns_list">
                                                <li
                                                    class="plan_cont__sns_list__item"
                                                >
                                                    <img
                                                        src="/asset/images/influencer-marketing/ico_plan_instagram.png"
                                                        srcset="/asset/images/influencer-marketing/ico_plan_instagram.png 1x, /asset/images/influencer-marketing/2x/ico_plan_instagram@2x.png 2x"
                                                        alt="Instagram"
                                                        width="40"
                                                        height="40"
                                                        class="imgauto"
                                                        loading="lazy"
                                                    />
                                                </li>
                                                <li
                                                    class="plan_cont__sns_list__item"
                                                >
                                                    <img
                                                        src="/asset/images/influencer-marketing/ico_plan_twitter.png"
                                                        srcset="/asset/images/influencer-marketing/ico_plan_twitter.png 1x, /asset/images/influencer-marketing/2x/ico_plan_twitter@2x.png 2x"
                                                        alt="X"
                                                        width="40"
                                                        height="40"
                                                        class="imgauto"
                                                        loading="lazy"
                                                    />
                                                </li>
                                                <li
                                                    class="plan_cont__sns_list__item"
                                                >
                                                    <img
                                                        src="/asset/images/influencer-marketing/ico_plan_tiktok.png"
                                                        srcset="/asset/images/influencer-marketing/ico_plan_tiktok.png 1x, /asset/images/influencer-marketing/2x/ico_plan_tiktok@2x.png 2x"
                                                        alt="Tik Tok"
                                                        width="40"
                                                        height="40"
                                                        class="imgauto"
                                                        loading="lazy"
                                                    />
                                                </li>
                                                <li
                                                    class="plan_cont__sns_list__item"
                                                >
                                                    <img
                                                        src="/asset/images/influencer-marketing/ico_plan_youtube.png"
                                                        srcset="/asset/images/influencer-marketing/ico_plan_youtube.png 1x, /asset/images/influencer-marketing/2x/ico_plan_youtube@2x.png 2x"
                                                        alt="Youtube"
                                                        width="40"
                                                        height="40"
                                                        class="imgauto"
                                                        loading="lazy"
                                                    />
                                                </li>
                                            </ul>
                                        </dd>
                                    </dl>
                                </li>
                                <li
                                    class="plan_cont__list__item plan_cont__list__yellow"
                                >
                                    選考時に役立つ！インフルエンサー情報が無料で閲覧可能！
                                    <br />（通常4万円）
                                </li>
                                <li
                                    class="plan_cont__list__item plan_cont__list__yellow"
                                >
                                    ストーリーズオプションが無料（通常1万円）
                                </li>
                                <li
                                    class="plan_cont__list__item plan_cont__list__yellow"
                                >
                                    配信代行サービス利用可能（オプション）
                                </li>
                                <li class="plan_cont__list__item">
                                    月に一度、募集/提供内容が変更可能
                                </li>
                                <li class="plan_cont__list__item">
                                    インフルエンサーの報酬設定も可能（1,500円〜）
                                </li>
                                <li
                                    class="plan_cont__list__item plan_cont__list__cancel"
                                >
                                    <dl>
                                        <dt>【解約について】</dt>
                                        <dd class="plan_cont__list__cancel__dd">
                                            月次コーズはスタートから15日間は解約不可
                                        </dd>
                                        <dd class="plan_cont__list__cancel__dd">
                                            詳細は別途
                                        </dd>
                                    </dl>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section class="tp-option__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center">テンポス限定オプション！</h2>
                <ul class="tp-option__list">
                    <li class="__orange">
                        <h3 class="tp-option__listTtl __caption">
                            テンポスからのお申込み限定で2つのお得な特典付き！
                        </h3>
                        <ul class="tp-option__iconlist">
                            <li>
                                <div class="Ttl flex">
                                    <p class="Min">初月利用料金が半額に！</p>
                                </div>
                            </li>
                            <li>
                                <div class="Ttl flex">
                                    <p class="Min">
                                        インサイトオプション
                                        Level３（通常月額6万円分）が無料付与！
                                    </p>
                                </div>
                                <div class="Local__wrap">
                                    <p class="Local">
                                        ※インサイトオプションとは？<br />
                                        インフルエンサーを採用する際に「フォロワー数」以外に確認できる項目のこと。<br
                                        />
                                        より効果が出やすいインフルエンサーを採用できるようになります。
                                    </p>
                                    <dl class="Local">
                                        <dt>確認できる項目</dt>
                                        <dd>よく使うハッシュタグ</dd>
                                        <dd>フォロワー構成比</dd>
                                        <dd>平均コメント数</dd>
                                        <dd>平均いいね数</dd>
                                        <dd>平均エンゲージメント率</dd>
                                        <dd>フォロワー構成比（詳細）</dd>
                                        <dd>インプレッション数</dd>
                                        <dd>リーチ数</dd>
                                    </dl>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>

            <section class="tp-frow__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">ご利用までの流れ</span>
                </h2>
                <div class="tp-flow__list">
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <div class="Local">
                                <p>トリドリベースにPRキャンペーンを掲載する</p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <div class="Local">
                                <p>
                                    立候補してくれたインフルエンサーを採用する
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <div class="Local">
                                <p>契約書のご確認・お支払い</p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <div class="Local">
                                <p>PR投稿の完了報告を確認する</p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>

            <!--「お客様の声」非表示
			<section class="tp-voice__section tp-sec tp-wrapper">
				<h2 class="tp-ttl"><span class="tp-ttl__balloon__span">お客様の声</span></h2>
				<div class="tp-voice__list">
					<article>
						<p class="Caption">見出し見出し見出し見出し見出し見出し見出し見出し</p>
						<p class="Thumb">
							<picture>
								<source media="(max-width:767px)" srcset="/asset/images/template/sp/voice01.jpg">
								<img src="/asset/images/template/voice01.jpg" srcset="/asset/images/template/voice01.jpg 1x,/asset/images/template/2x/voice01.jpg 2x" alt="お客様の声01" width="300" height="199" loading="lazy" class="imgauto">
							</picture>
						</p>
						<div class="tp-voice__info">
							<h3 class="Name">店名店名店名店名店名店名</h3>
							<p class="Industry">業種業種業種</p>
							<p class="Area">エリアエリアエリア</p>
						</div>
						<p class="Link">
							<a href="">詳しく見る</a>
						</p>
					</article>
					<article>
						<p class="Caption">見出し見出し見出し見出し見出し見出し見出し見出し</p>
						<p class="Thumb">
							<picture>
								<source media="(max-width:767px)" srcset="/asset/images/template/sp/voice01.jpg">
								<img src="/asset/images/template/voice01.jpg" srcset="/asset/images/template/voice01.jpg 1x,/asset/images/template/2x/voice01.jpg 2x" alt="お客様の声02" width="300" height="199" loading="lazy" class="imgauto">
							</picture>
						</p>
						<div class="tp-voice__info">
							<h3 class="Name">店名店名店名店名店名店名</h3>
							<p class="Industry">業種業種業種</p>
							<p class="Area">エリアエリアエリア</p>
						</div>
						<p class="Link">
							<a href="">詳しく見る</a>
						</p>
					</article>
					<article>
						<p class="Caption">見出し見出し見出し見出し見出し見出し見出し見出し</p>
						<p class="Thumb">
							<picture>
								<source media="(max-width:767px)" srcset="/asset/images/template/sp/voice01.jpg">
								<img src="/asset/images/template/voice01.jpg" srcset="/asset/images/template/voice01.jpg 1x,/asset/images/template/2x/voice01.jpg 2x" alt="お客様の声03" width="300" height="199" loading="lazy" class="imgauto">
							</picture>
						</p>
						<div class="tp-voice__info">
							<h3 class="Name">店名店名店名店名店名店名</h3>
							<p class="Industry">業種業種業種</p>
							<p class="Area">エリアエリアエリア</p>
						</div>
						<p class="Link">
							<a href="">詳しく見る</a>
						</p>
					</article>
				</div>
			</section>
			-->

            <section class="tp-faq__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">よくある質問</span>
                </h2>
                <div class="g-acodion">
                    <dl>
                        <dt>どのくらいインフルエンサーがいるの？</dt>
                        <dd>
                            平均フォロワー数24,994人、約3万人のインフルエンサーが登録しております。
                        </dd>
                    </dl>
                    <dl>
                        <dt>サービスの注意点はありますか？</dt>
                        <dd>
                            ①月額コースはスタートから15日間は解約申請不可になります。<br
                            />
                            ②インフルエンサーとのトラブルは当事者間での解決をお願いしております。本サービスはマッチングプラットフォームサービスです。<br
                            />
                            規約違反のインフルエンサーには警告通知などの対応を行いますがトラブルは原則当事者間での解決をお願いします。
                        </dd>
                    </dl>
                    <dl>
                        <dt>通販サイトの商品はPRできないの？</dt>
                        <dd>
                            通販サイトを宣伝されたいお客様は、月額6万円のプランが対象になります。
                        </dd>
                    </dl>
                    <dl>
                        <dt>インフルエンサー集客は何のためにやるの？</dt>
                        <dd>
                            フォロワー数の多いインフルエンサーがお店の投稿をすることで認知拡大に繋がります。また、新規集客にも繋がる販促手法です。
                        </dd>
                    </dl>
                    <dl>
                        <dt>契約期間はどれくらい？</dt>
                        <dd>最低3か月契約となっております。</dd>
                    </dl>
                </div>
            </section>

            <ContactArea />

            <section class="tp-others__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">その他関連サービス</span
                    >
                </h2>
                <div class="tp-others__list">
                    <article>
                        <a href="/marketing/sns_update.html">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_sns_update@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_sns_update.png"
                                        srcset="/asset/images/common/img_kanren_service_sns_update.png 1x,/asset/images/common/2x/img_kanren_service_sns_update@2x.png 2x"
                                        alt="SNS運用代行"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">SNS運用代行</h3>
                        </a>
                    </article>
                    <article>
                        <a href="/marketing/gmb.html">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_gmb@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_gmb.png"
                                        srcset="/asset/images/common/img_kanren_service_gmb.png 1x,/asset/images/common/2x/img_kanren_service_gmb@2x.png 2x"
                                        alt="Googleビジネスプロフィール運用代行"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">
                                Googleビジネス<br />
                                プロフィール運用代行
                            </h3>
                        </a>
                    </article>
                    <article>
                        <a href="/promotion/promotional_design/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_promotional_design@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_promotional_design.png"
                                        srcset="/asset/images/common/img_kanren_service_promotional_design.png 1x,/asset/images/common/2x/img_kanren_service_promotional_design@2x.png 2x"
                                        alt="販促物作成"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">販促物作成</h3>
                        </a>
                    </article>
                </div>
            </section>
        </div>
    </article>
</Layout>

<style>
    @charset "utf-8";

    /*-----------------------
mv tp-front__section
-----------------------*/
    .tp-front__section {
        background-image: url(/asset/images/influencer-marketing/mv_influencer-marketing.jpg);
    }

    /*-----------------------
tp-case__section
-----------------------*/
    .tp-case__section .tp-table {
        border-spacing: 0;
        font-size: 12px;
    }
    .tp-case__section .tp-table > thead th:first-child,
    .tp-case__section .tp-table > tbody th {
        width: 25%;
    }
    .tp-case__section .tp-table > thead th:not(:first-child),
    .tp-case__section .tp-table > tbody td {
        width: calc(75% / 4);
    }
    .tp-case__section .tp-table > thead tr {
        display: flex;
        border-bottom: 1px solid var(--TABLE_BORDER_GRAY);
    }
    .tp-case__section .tp-table > thead tr > * {
        display: flex;
        padding: 8px 10px;
        align-items: center;
        justify-content: center;
    }
    .tp-case__section .tp-table > thead tr > *:not(:last-child) {
        border-right: 1px solid var(--TABLE_BORDER_GRAY);
    }
    .tp-case__section .tp-table > thead tr > th {
        font-size: 15px;
        line-height: 1.4;
        font-weight: normal;
    }
    .tp-case__section .tp-table > thead th:not(:first-child) {
        background-color: #d4d4d4;
    }
    .tp-case__section .tp-table > thead tr th:last-child {
        background-color: var(--MAIN_ORANGE);
        color: var(--MAIN_WHITE);
        font-weight: 500;
    }
    .tp-case__section .tp-table > tbody tr > * {
        text-align: center;
        line-height: 1.4;
        flex: unset;
    }
    .tp-case__section .tp-table > tbody th {
        color: var(--MAIN_BLACK);
        font-size: 15px;
    }
    .tp-case__section .tp-table > tbody tr:first-child td:nth-child(2) {
        color: var(--MAIN_BLACK);
        background-color: var(--MAIN_WHITE);
        font-weight: normal;
    }
    .tp-case__section .tp-table > tbody td {
        font-weight: normal;
        min-height: 120px;
    }
    .tp-case__section .tp-table > tbody tr:not(:first-child) td {
        background-color: var(--MAIN_YELLOW);
    }
    .tp-case__section .tp-table > tbody tr:first-child td:nth-child(3) {
        background-color: var(--MAIN_WHITE);
    }
    .tp-case__section .tp-table > tbody tr:first-child td:nth-child(4) {
        background-color: var(--MAIN_WHITE);
    }
    .tp-case__section .tp-table > tbody .txt__l {
        font-size: 23px;
    }
    .tp-case__section .tp-table > tbody .txt__bold {
        font-weight: 500;
    }
    .tp-case__section .tp-table > tbody tr:nth-child(2) td:not(:last-child) {
        font-size: 20px;
        font-weight: 500;
    }
    .tp-case__section
        .tp-table
        > tbody
        tr:nth-child(2)
        td:last-child
        .txt__l_02 {
        font-size: 13px;
    }
    .tp-case__section
        .tp-table
        > tbody
        tr:nth-child(2)
        td:last-child
        .txt__bold_02 {
        font-weight: bold;
    }
    .tp-case__section .tp-table > tbody td:last-child div {
        transform: translateY(50%);
        margin-top: -33px;
    }
    @media screen and (max-width: 1110px) {
        .tp-case__section .tp-scroll__container {
            overflow-x: scroll;
        }
        .tp-case__section .tp-scroll__container::-webkit-scrollbar {
            height: 10px;
        }
        .tp-case__section .tp-scroll__container::-webkit-scrollbar-thumb {
            background: var(--TABLE_ORANGE);
            border-radius: 5px;
        }
        .tp-case__section .tp-scroll__container::-webkit-scrollbar-track {
            background: var(--CONTAINER_BORDER);
            border-radius: 5px;
        }
        .tp-case__section .tp-table {
            padding-bottom: 3em;
        }
        .tp-case__section .tp-table > thead tr > * {
            min-width: 180px;
        }
        .tp-case__section .tp-table > tbody tr > * {
            min-width: 180px;
        }
    }

    /*-----------------------
サービスの特徴 tp-point__section
-----------------------*/
    .tp-point__section .tp-point__list > li > .Ttl:before {
        width: 45px;
        margin-right: 13px;
    }
    .tp-point__section .tp-point__list > li:nth-child(1) > .Ttl::before {
        background: url(/asset/images/common/icon_point07.png) no-repeat center
            center / contain;
    }
    .tp-point__section .tp-point__list > li:nth-child(2) > .Ttl::before {
        background: url(/asset/images/common/icon_point01.png) no-repeat center
            center / contain;
    }
    .tp-point__section .tp-point__list > li:nth-child(3) > .Ttl::before {
        background: url(/asset/images/common/icon_point12.png) no-repeat center
            center / contain;
    }
    .tp-point__section .tp-point__list .Ttl__txt {
        width: calc(100% - 58px);
    }

    /*-----------------------
プラン tp-plan__section
-----------------------*/
    .tp-plan__section .plan_cont {
        display: flex;
        justify-content: space-between;
    }
    .tp-plan__section .plan_cont__top {
        margin-bottom: 40px;
    }
    .tp-plan__section .plan_cont__left_wrap {
        width: 34%;
        border-radius: 20px;
        border: 1px solid var(--CONTENTS_BORDER_GRAY);
    }
    .tp-plan__section .plan_cont__right_wrap {
        width: 64.9%;
    }
    .tp-plan__section .plan_cont__ttl_wrap {
        background: var(--MAIN_YELLOW);
        padding: 33px 15px;
        border-radius: 18px 18px 0 0;
        text-align: center;
    }
    .tp-plan__section .plan_cont__ttl {
        font-size: 20px;
        font-weight: bold;
        line-height: 1.5;
        margin-bottom: 22px;
    }
    .tp-plan__section .plan_cont__course__month {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
        margin-bottom: 15px;
    }
    .tp-plan__section .plan_cont__price {
        font-size: 64px;
        font-weight: 900;
        line-height: 1;
    }
    .tp-plan__section .plan_cont__price .txt__s {
        font-size: 16px;
    }
    .tp-plan__section .plan_cont__price .txt__light {
        font-size: 14px;
        font-weight: normal;
    }
    .tp-plan__section .plan_cont__left__bottom {
        padding: 35px 25px 52px;
    }
    .tp-plan__section .plan_cont__txt {
        font-size: 14px;
        line-height: 1.85;
        margin-bottom: 30px;
    }
    .tp-plan__section .plan_cont__ttl_child {
        display: flex;
        color: var(--MAIN_ORANGE);
        margin-bottom: 20px;
    }
    .tp-plan__section .plan_cont__ttl_child:before {
        content: "＞";
        font-weight: normal;
        margin-right: 1ex;
    }
    .tp-plan__section .plan_cont__discount {
        text-align: center;
        font-size: 22px;
        font-weight: 900;
        line-height: 1;
        padding: 12px;
        background: var(--MAIN_YELLOW);
    }
    .tp-plan__section .plan_cont__price_02__wrap {
        min-height: 128px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #efefef;
        position: relative;
        padding: 10px;
        text-align: center;
    }
    .tp-plan__section .plan_cont__price_02__wrap:after {
        content: "";
        display: block;
        width: 115px;
        height: 26px;
        background: url(/asset/images/influencer-marketing/img_plan_osusume.png)
            no-repeat center/contain;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 50%);
    }
    .tp-plan__section .plan_cont__course__year {
        font-size: 14px;
        font-weight: bold;
        line-height: 1;
        margin-bottom: 15px;
    }
    .tp-plan__section .plan_cont__price_02 {
        font-size: 30px;
        font-weight: 900;
        line-height: 1;
    }
    .tp-plan__section .plan_cont__price_02 .txt__s {
        font-size: 14px;
    }
    .tp-plan__section .plan_cont__price_02 .txt__light {
        font-weight: normal;
    }
    .tp-plan__section .plan_cont__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .tp-plan__section .plan_cont__list__item:not(.plan_cont__list__sns) {
        border-radius: 20px;
        background: #efefef;
        padding: 12px;
        min-height: 58px;
        display: flex;
        align-items: center;
        font-size: 14px;
    }
    .tp-plan__section
        .plan_cont__list__item:not(
            .plan_cont__list__sns,
            .plan_cont__list__cancel
        ):before {
        content: "";
        display: block;
        width: 28px;
        min-width: 28px;
        height: 18px;
        background: url(/asset/images/influencer-marketing/ico_check_orange.png)
            no-repeat center/contain;
        margin-right: 15px;
    }
    .tp-plan__section .plan_cont__list__sns__dl {
        display: flex;
        border-radius: 20px;
        border: 1px solid var(--MAIN_BLACK);
        min-height: 70px;
    }
    .tp-plan__section .plan_cont__list__sns__dt {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 18px 0 0 18px;
        font-size: 14px;
        color: var(--MAIN_WHITE);
        font-weight: bold;
        background: var(--MAIN_BLACK);
        width: 32.6%;
        text-align: center;
    }
    .tp-plan__section .plan_cont__list__sns__dd {
        border-radius: 0 18px 18px 0;
        width: 67.4%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .tp-plan__section .plan_cont__sns_list {
        display: flex;
        gap: 20px;
    }
    .tp-plan__section .plan_cont__sns_list__item {
        width: 40px;
    }
    .tp-plan__section .plan_cont__list__item.plan_cont__list__yellow {
        background: var(--MAIN_YELLOW);
        border: 2px solid #ffa700;
        min-height: 72px;
    }
    .tp-plan__section .plan_cont__list__cancel__dd {
        display: flex;
    }
    .tp-plan__section .plan_cont__list__cancel__dd:before {
        content: "・";
    }
    @media screen and (max-width: 1110px) {
        .tp-plan__section .plan_cont {
            min-width: 735px;
        }
        .tp-plan__section .plan_cont__bottom {
            margin: 50px 0 40px;
        }
        .tp-plan__section .tp-scroll__container {
            overflow-x: scroll;
        }
        .tp-plan__section .tp-scroll__container::-webkit-scrollbar {
            height: 10px;
        }
        .tp-plan__section .tp-scroll__container::-webkit-scrollbar-thumb {
            background: var(--TABLE_ORANGE);
            border-radius: 5px;
        }
        .tp-plan__section .tp-scroll__container::-webkit-scrollbar-track {
            background: var(--CONTAINER_BORDER);
            border-radius: 5px;
        }
    }
    @media screen and (max-width: 767px) {
        .tp-plan__section .plan_cont {
            min-width: 690px;
        }
        .tp-plan__section .plan_cont__ttl_wrap {
            padding: 32px 15px 22px;
        }
        .tp-plan__section .plan_cont__ttl {
            margin-bottom: 18px;
        }
        .tp-plan__section .plan_cont__left__bottom {
            padding: 22px 12px 33px;
        }
        .tp-plan__section .plan_cont__txt {
            margin-bottom: 25px;
        }
        .tp-plan__section .plan_cont__ttl_child {
            margin-bottom: 35px;
        }
        .tp-plan__section .plan_cont__discount {
            font-size: 20px;
            padding: 10px;
        }
        .tp-plan__section .plan_cont__price_02__wrap {
            padding: 10px 0 30px;
        }
        .tp-plan__section
            .plan_cont__list__item:not(
                .plan_cont__list__sns,
                .plan_cont__list__cancel
            ):before {
            width: 24px;
            min-width: 24px;
            height: 18px;
        }
    }

    /*-----------------------
オプション tp-option__section
-----------------------*/
    .tp-option__section .tp-option__iconlist .Local__wrap {
        display: flex;
        flex-direction: column;
        gap: 1.7em;
    }
    .tp-option__section .tp-option__iconlist .Local dt:before {
        content: "＜";
    }
    .tp-option__section .tp-option__iconlist .Local dt:after {
        content: "＞";
    }
    .tp-option__section .tp-option__iconlist .Local dd {
        display: flex;
        align-items: center;
    }
    .tp-option__section .tp-option__iconlist .Local dd:before {
        content: "";
        display: block;
        width: 1ex;
        height: 1px;
        background: var(--MAIN_BLACK);
        margin-right: 1ex;
    }
    @media screen and (min-width: 768px) {
        .tp-option__section .tp-option__listTtl.__caption:after {
            content: none;
        }
    }
    @media screen and (max-width: 767px) {
        .tp-option__section .tp-option__list:after {
            content: none;
        }
    }
</style>
