---
import Layout from "../../../layouts/Layout.astro";
import ContactArea from "../../../components/common/ContactArea.astro";
import structuredDataMarkup from "../../../data/data.json";
const markup = JSON.stringify(structuredDataMarkup.securityCamera);
---

<Layout
    title="防犯カメラ設置 | テンポスフードプレイス"
    description="盗難等のリスクや顧客トラブル対策だけでなく、店舗改善の覆面調査としても活用可能！テンポスが防犯カメラ設置についてご紹介いたします。"
    pageUrl="/telecom/security-camera/"
    ogimage="/asset/images/security-camera/ogp_security-camera.jpg"
    markup={markup}
>
    <article id="mainarea">
        <div class="tp-border sans">
            <nav class="tp-nav">
                <ol class="tp-nav__list flex">
                    <li><a href="/">トップページ</a></li>
                    <li><a href="/telecom/">店舗インフラ</a></li>
                    <li>防犯カメラ</li>
                </ol>
            </nav>

            <section class="tp-front__section">
                <h1 class="tp-front__ttl font_m_plus">
                    <span>防犯カメラ</span>
                </h1>
                <p class="tp-front__caption">
                    盗難などのリスクや顧客トラブル対策だけでなく、<br
                        class="pc"
                    />
                    店舗改善の覆面調査としても活用！
                </p>
                <p class="tp-front__contact">
                    <a class="click_link_mail" href="/contact/?checked=25"
                        >お問い合わせはこちら</a
                    >
                </p>
            </section>

            <section class="tp-worries__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __border">
                    <span></span>こんなお悩みありませんか？<span></span>
                </h2>
                <ul class="tp-check__list tp-wrapper__l">
                    <li>
                        顧客トラブルがあった際の<span class="tp-bglg"
                            >証拠を残したい</span
                        >
                    </li>
                    <li>
                        <span class="tp-bglg">外出先や自宅からも</span
                        >店内の様子を確認したい
                    </li>
                    <li>
                        来店客情報を<span class="tp-bglg">可視化</span>したい
                    </li>
                </ul>
            </section>

            <section class="tp-design__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    防犯カメラを設置することで<br class="pc" />
                    トラブルを未然に防ぎませんか？
                </h2>
                <div class="tp-design__contents flex">
                    <div class="tp-local__wrap">
                        <p class="tp-local">
                            飲食店では、会計時における従業員とお客様の金銭トラブルやお客様同士のトラブル等さまざまなトラブルが取り巻いています。
                        </p>
                        <p class="tp-local">
                            防犯カメラを設置しておくだけでトラブルを抑止することができます。<br
                            />
                            また、万が一トラブルが起こった際も証拠として提示できますので、防犯カメラを設置することをオススメします！
                        </p>
                    </div>
                    <p class="tp-design__thumb">
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/security-camera/2x/img_security-camera_design@2x.png"
                            />
                            <img
                                src="/asset/images/security-camera/img_security-camera_design.png"
                                srcset="/asset/images/security-camera/img_security-camera_design.png 1x,/asset/images/security-camera/2x/img_security-camera_design@2x.png 2x"
                                alt=""
                                width="170"
                                height="382"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </p>
                </div>
            </section>

            <section class="tp-want__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center">
                    防犯・監視カメラから来店客分析までワンストップで対応できるUSENの防犯カメラをご紹介しています！
                </h2>
                <div class="tp-want__local__wrap tp-wrapper__m">
                    <p class="tp-want__local">
                        USENの防犯カメラはどこにいても遠隔で確認できる防犯機能だけでなく、AIカメラで性別や年齢などの<span
                            class="tp-bglg"
                            >来店客属性の情報を所得できる分析機能</span
                        >もついており、オススメです！
                    </p>
                    <p class="tp-want__local">
                        防犯カメラの導入を検討中の方は一度お問合せください。
                    </p>
                </div>
                <p class="tp-want__thumb width-60">
                    <picture>
                        <source
                            media="(max-width:767px)"
                            srcset="/asset/images/security-camera/2x/img_security-camera_want@2x.png"
                        />
                        <img
                            src="/asset/images/security-camera/img_security-camera_want.png"
                            srcset="/asset/images/security-camera/img_security-camera_want.png 1x,/asset/images/security-camera/2x/img_security-camera_want@2x.png 2x"
                            alt=""
                            width="460"
                            height="230"
                            loading="lazy"
                            class="imgauto"
                        />
                    </picture>
                </p>
            </section>

            <section class="tp-comparison__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __balloon">
                    <span class="tp-ttl__balloon__span">他社比較</span>
                </h2>
                <div class="tp-scroll__container">
                    <table class="tp-comparison__tbl">
                        <colgroup>
                            <col span="1" class="tbl_col__01" />
                            <col span="1" class="tbl_col__02" />
                            <col span="1" class="tbl_col__03" />
                            <col span="1" class="tbl_col__04" />
                            <col span="1" class="tbl_col__05" />
                            <col span="1" class="tbl_col__06" />
                            <col span="1" class="tbl_col__07" />
                        </colgroup>

                        <thead>
                            <tr>
                                <th colspan="2">比較項目</th>
                                <th class="__col_focus">USEN Camera</th>
                                <th>A社</th>
                                <th>B社</th>
                                <th>C社</th>
                                <th>D社</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <th colspan="2" class="__padding_l"
                                    >ターゲット業種</th
                                >
                                <td class="__col_focus">飲食店・小規模小売</td>
                                <td>飲食店・小規模小売</td>
                                <td>飲食店</td>
                                <td>飲食・大小小売店</td>
                                <td>飲食・大小小売店</td>
                            </tr>
                            <tr>
                                <th colspan="2" class="__padding_l">回線環境</th
                                >
                                <td class="__col_focus">USEN AIR or 光回線</td>
                                <td>光回線</td>
                                <td>光回線</td>
                                <td>光回線</td>
                                <td>光回線</td>
                            </tr>
                            <tr>
                                <th rowspan="5">来店客<br />属性分析</th>
                                <th>来店人数カウント</th>
                                <td class="__col_focus">○</td>
                                <td>○有料オプション</td>
                                <td>○カメラ必要</td>
                                <td>○</td>
                                <td>○</td>
                            </tr>
                            <tr>
                                <th>性別</th>
                                <td class="__col_focus">○</td>
                                <td>○有料オプション</td>
                                <td>○カメラ必要</td>
                                <td>○</td>
                                <td>○</td>
                            </tr>
                            <tr>
                                <th>年代</th>
                                <td class="__col_focus">○</td>
                                <td>○有料オプション</td>
                                <td>○カメラ必要</td>
                                <td>○</td>
                                <td>○</td>
                            </tr>
                            <tr>
                                <th>新規or再来店</th>
                                <td class="__col_focus">○</td>
                                <td>○有料オプション</td>
                                <td>○カメラ必要</td>
                                <td>○</td>
                                <td>×</td>
                            </tr>
                            <tr>
                                <th>複数入り口対応</th>
                                <td class="__col_focus">○</td>
                                <td>○有料オプション</td>
                                <td>○カメラ必要</td>
                                <td>○</td>
                                <td>○</td>
                            </tr>
                            <tr>
                                <th rowspan="4">防犯<br />カメラ<br />機能</th>
                                <th class="__padding_l">記憶媒体</th>
                                <td class="__col_focus"
                                    >microSDカード（32GB）</td
                                >
                                <td>クラウド録画</td>
                                <td>×</td>
                                <td>NVR</td>
                                <td>NVR</td>
                            </tr>
                            <tr>
                                <th class="__padding_l">録画保存期間</th>
                                <td class="__focus __col_focus"
                                    >最大7日間（32GB）</td
                                >
                                <td>7日間～</td>
                                <td>×</td>
                                <td>4TB</td>
                                <td>×</td>
                            </tr>
                            <tr>
                                <th class="__padding_l">カメラ画素数</th>
                                <td class="__col_focus">200万画素</td>
                                <td>HD画質</td>
                                <td>×</td>
                                <td>200万画素以上</td>
                                <td>200万画素</td>
                            </tr>
                            <tr>
                                <th>パン＆チル操作</th>
                                <td class="__col_focus">○</td>
                                <td>○</td>
                                <td>×</td>
                                <td>○</td>
                                <td>○</td>
                            </tr>
                            <tr>
                                <th rowspan="2">その他</th>
                                <th>24時間365日電話対応</th>
                                <td class="__col_focus">○</td>
                                <td>×</td>
                                <td>○</td>
                                <td>×</td>
                                <td>×</td>
                            </tr>
                            <tr>
                                <th>かけつけ保守</th>
                                <td class="__col_focus">○</td>
                                <td>×</td>
                                <td>×</td>
                                <td>×</td>
                                <td>×</td>
                            </tr>
                        </tbody>

                        <tbody class="tbl__cost_wrap">
                            <tr>
                                <th rowspan="3">費用</th>
                                <th>初期費用</th>
                                <td class="__col_focus">0円</td>
                                <td>24,800円～</td>
                                <td>300,000円～</td>
                                <td>771,000円～</td>
                                <td>1,024,000円～</td>
                            </tr>
                            <tr>
                                <th>施工費用</th>
                                <td class="__col_focus">
                                    20,000円（税別）<br />
                                    <span class="txt__s">
                                        ※USEN MUSIC・USEN AIR<br />
                                        ・USEN光利用の場合は0円
                                    </span>
                                </td>
                                <td>別途料金</td>
                                <td>別途料金</td>
                                <td>別途料金</td>
                                <td>別途料金</td>
                            </tr>
                            <tr>
                                <th>ランニング</th>
                                <td class="__col_focus">
                                    3,480円（税別）～<br />
                                    <span class="txt__s">
                                        ※USEN MUSIC加入の場合は<br />
                                        2,980円（税別）～
                                    </span>
                                </td>
                                <td
                                    >1,200円～<br />＋オプション<br
                                    />10,000円～</td
                                >
                                <td>29,600円～</td>
                                <td>0円</td>
                                <td>0円</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>

            <section class="tp-point__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span"
                        ><span>3</span>つの特徴</span
                    >
                </h2>
                <ul class="tp-point__list __1clm">
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">来店客情報を可視化</span>
                        </h3>
                        <p class="Local">
                            AIセンサーカメラとAIベースユニットを使用することで15分ごとに性別や年齢などの来店客属性を集計できます。
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt"
                                >外出先や自宅からでも店内の様子を確認可能</span
                            >
                        </h3>
                        <p class="Local">
                            店内にいなくてもスマートフォンやタブレット、PCから店内の様子を確認できます。
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">万全のサポート体制</span>
                        </h3>
                        <p class="Local">
                            24時間365日の電話サポートがあるため、万が一トラブルがあった際も安心です。
                        </p>
                    </li>
                </ul>
            </section>

            <section class="tp-merit01__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center __num01 tp-wrapper__s">
                    約7日間録画可能
                </h2>
                <p class="tp-local tp-mgb__s tp-wrapper__s">
                    標準で約7日間録画することが可能です。<br />
                    トラブル時の再生はもちろん、従業員との日々の振り返りツールとしても活用することができます。
                </p>
                <p class="tp-merit01__thumb">
                    <picture>
                        <source
                            media="(max-width:767px)"
                            srcset="/asset/images/security-camera/2x/img_security-camera_merit01@2x.png"
                        />
                        <img
                            src="/asset/images/security-camera/img_security-camera_merit01.png"
                            srcset="/asset/images/security-camera/img_security-camera_merit01.png 1x,/asset/images/security-camera/2x/img_security-camera_merit01@2x.png 2x"
                            alt=""
                            width="195"
                            height="166"
                            loading="lazy"
                            class="imgauto"
                        />
                    </picture>
                </p>
            </section>

            <section class="tp-merit02__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center __num02 tp-wrapper__s">
                    200万画素の高画質
                </h2>
                <p class="tp-local tp-mgb__s tp-wrapper__s">
                    1,920×1,080のフルハイビジョン対応しているため、最大4倍までデジタルズームをしても高画質でご利用いただけます。
                </p>
                <p class="tp-merit02__thumb">
                    <picture>
                        <source
                            media="(max-width:767px)"
                            srcset="/asset/images/security-camera/2x/img_security-camera_merit02@2x.png"
                        />
                        <img
                            src="/asset/images/security-camera/img_security-camera_merit02.png"
                            srcset="/asset/images/security-camera/img_security-camera_merit02.png 1x,/asset/images/security-camera/2x/img_security-camera_merit02@2x.png 2x"
                            alt=""
                            width="343"
                            height="203"
                            loading="lazy"
                            class="imgauto"
                        />
                    </picture>
                </p>
            </section>

            <section class="tp-attention__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">価&emsp;格</span>
                </h2>
                <h3 class="tp-attention__price">
                    <span class="plan">7日間保存プラン</span>
                </h3>
                <p class="tp-attention__caption">
                    指定のカメラをお持ちの場合は<br class="sp" /><span
                        class="price"
                        ><span class="txt__l">1,700</span>円(税込)～</span
                    >に！
                </p>
                <p class="tp-attention__caption txt__orange">
                    ※カメラの電源がない場合は、電源設置 or
                    LAN配線工事が必要となります。
                </p>
            </section>

            <ContactArea />

            <section class="tp-frow__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">ご利用までの流れ</span>
                </h2>
                <div class="tp-flow__list">
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">無料相談・お問い合わせ</h3>
                            <div class="Local">
                                <p>
                                    ご相談は無料です。防犯カメラを導入するか悩んでいるといった場合も、まずはお気軽にお問い合わせください。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">フードプレイスよりご連絡</h3>
                            <div class="Local">
                                <p>電話でお客様の相談内容をお伺いします。</p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">提携先からのご連絡</h3>
                            <div class="Local">
                                <p>
                                    電話や現地への訪問を通じてサービスの内容や料金プランをお客様に提案します。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">ご契約</h3>
                            <div class="Local">
                                <p>
                                    サービス内容や料金など、お客様のご要望と相違がなければ契約になります。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">利用開始</h3>
                            <div class="Local">
                                <p>
                                    設置日及び設置場所の打合せを行い、納品および設置をさせて頂きます。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">アフターサポート</h3>
                            <div class="Local">
                                <p>
                                    導入後も24 時間 365
                                    日のサポート体制があるため、安心してご利用いただけます。
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>

            <section class="tp-faq__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">よくある質問</span>
                </h2>
                <div class="g-acodion">
                    <dl>
                        <dt>
                            防犯カメラを途中で解約する場合、違約金は発生するのか？
                        </dt>
                        <dd>
                            契約に定める有効期間の残期間分の利用料に相当する額が違約金となります。<br
                            />
                            なお、利用開始日から２年後の月末日をもって契約期間が満了となります。<br
                            />
                            但し、効力の失する日の１ヶ月前までに解約の申出がない限りサービス契約は、更に２年間自動的に更新されます。
                        </dd>
                    </dl>
                    <dl>
                        <dt>地方だが、設置対応はしてくれるのか？</dt>
                        <dd>
                            設置からサポートまで日本全国直接お店に伺ってサポートいたします。
                        </dd>
                    </dl>
                </div>
            </section>

            <ContactArea />

            <section class="tp-others__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">その他関連サービス</span
                    >
                </h2>
                <div class="tp-others__list">
                    <article>
                        <a href="/telecom/internetline/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_internetline@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_internetline.png"
                                        srcset="/asset/images/common/img_kanren_service_internetline.png 1x,/asset/images/common/2x/img_kanren_service_internetline@2x.png 2x"
                                        alt="インターネット回線"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">インターネット回線</h3>
                        </a>
                    </article>
                    <article>
                        <a href="/management/insurance/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_insurance@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_insurance.png"
                                        srcset="/asset/images/common/img_kanren_service_insurance.png 1x,/asset/images/common/2x/img_kanren_service_insurance@2x.png 2x"
                                        alt="店舗用保険"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">店舗用保険</h3>
                        </a>
                    </article>
                    <!-- <article>
							<a href="/management/q-navi/">
								<p class="Thumb">
									<picture>
										<source media="(max-width:767px)"
											srcset="/asset/images/common/2x/img_kanren_service_q-navi@2x.png">
										<img src="/asset/images/common/img_kanren_service_q-navi.png"
											srcset="/asset/images/common/img_kanren_service_q-navi.png 1x,/asset/images/common/2x/img_kanren_service_q-navi@2x.png 2x"
											alt="店舗トラブル解決アプリ" width="304" height="231" loading="lazy" class="imgauto">
									</picture>
								</p>
								<h3 class="Ttl">
									店舗トラブル解決アプリ
								</h3>
							</a>
						</article> -->
                </div>
            </section>
        </div>
    </article>
</Layout>

<style>
    @charset "utf-8";

    /*-----------------------
mv tp-front__section
-----------------------*/
    .tp-front__section {
        background-image: url(/asset/images/security-camera/mv_security-camera.jpg);
    }

    /*-----------------------
tp-design__section
-----------------------*/
    .tp-design__section .tp-design__thumb {
        margin-top: -118px;
    }
    @media screen and (max-width: 1080px) {
        .tp-design__section .tp-design__thumb {
            margin-top: 0;
        }
    }
    @media screen and (max-width: 767px) {
        .tp-design__section .tp-design__thumb {
            max-width: 120px;
            width: 30%;
        }
    }

    /*-----------------------
tp-want__section
-----------------------*/
    @media screen and (max-width: 767px) {
        .tp-want__section .tp-want__thumb {
            width: 80%;
        }
    }

    /*-----------------------
他社比較 tp-comparison__section
-----------------------*/
    .tp-comparison__section .tp-scroll__container {
        overflow-x: auto;
        white-space: nowrap;
        padding-bottom: 20px;
    }
    .tp-scroll__container::-webkit-scrollbar {
        height: 10px;
    }
    .tp-scroll__container::-webkit-scrollbar-thumb {
        background: var(--TABLE_ORANGE);
        border-radius: 5px;
    }
    .tp-scroll__container::-webkit-scrollbar-track {
        background: var(--CONTAINER_BORDER);
        border-radius: 5px;
    }
    .tp-comparison__section .tp-comparison__tbl {
        font-feature-settings: "palt";
        table-layout: fixed;
        border-collapse: collapse;
        border-top: 2px solid var(--TABLE_BORDER_GRAY);
        border-left: 2px solid var(--TABLE_BORDER_GRAY);
    }
    .tp-comparison__section .tp-comparison__tbl th,
    .tp-comparison__section .tp-comparison__tbl td {
        font-weight: 400;
        vertical-align: middle;
        padding: 2px 1.5px;
        border-bottom: 2px solid var(--TABLE_BORDER_GRAY);
        border-right: 2px solid var(--TABLE_BORDER_GRAY);
    }
    .tp-comparison__section .tp-comparison__tbl .__padding_l {
        padding: 7px 1.5px;
    }
    .tp-comparison__section .tp-comparison__tbl th {
        line-height: 1.3;
    }
    .tp-comparison__section .tp-comparison__tbl td {
        text-align: center;
        line-height: 1.3;
    }
    .tp-comparison__section .tp-comparison__tbl .tbl_col__01 {
        width: 58px;
    }
    .tp-comparison__section .tp-comparison__tbl .tbl_col__02 {
        width: 125px;
    }
    .tp-comparison__section .tp-comparison__tbl .tbl_col__03 {
        width: 155px;
    }
    .tp-comparison__section .tp-comparison__tbl .tbl_col__04 {
        width: 110px;
    }
    .tp-comparison__section .tp-comparison__tbl .tbl_col__05 {
        width: 85px;
    }
    .tp-comparison__section .tp-comparison__tbl .tbl_col__06 {
        width: 100px;
    }
    .tp-comparison__section .tp-comparison__tbl .tbl_col__07 {
        width: 100px;
    }
    .tp-comparison__section .tp-comparison__tbl thead th {
        font-size: 14px;
        padding: 12px 1.5px;
    }
    .tp-comparison__section .tp-comparison__tbl thead th:not(:nth-child(1)) {
        background: var(--TABLE_GRAY_01);
    }
    .tp-comparison__section .tp-comparison__tbl tbody {
        font-size: 12px;
    }
    .tp-comparison__section .tp-comparison__tbl tbody th {
        background: #ede8d1;
    }
    .tp-comparison__section .tp-comparison__tbl tbody td.__focus {
        position: relative;
    }
    .tp-comparison__section .tp-comparison__tbl tbody td.__focus:after {
        content: "";
        display: block;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        border: 3px solid var(--TABLE_RED);
        box-sizing: border-box;
        position: absolute;
        top: -2px;
        left: -2px;
        pointer-events: none;
    }
    .tp-comparison__section .tp-comparison__tbl tbody td .txt__s {
        font-size: 10px;
    }
    .tp-comparison__section .tp-comparison__tbl .tbl__cost_wrap {
        position: relative;
    }
    .tp-comparison__section .tp-comparison__tbl .tbl__cost_wrap:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        border: 3px solid #ffc500;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
    }
    .tp-comparison__section .tp-comparison__tbl .tbl__cost_wrap th {
        background: #ffdd80;
    }
    .tp-comparison__section .tp-comparison__tbl thead th.__col_focus {
        font-weight: bold;
        background: var(--TABLE_RED);
        color: var(--MAIN_WHITE);
    }
    .tp-comparison__section .tp-comparison__tbl tbody td.__col_focus {
        font-weight: bold;
        color: var(--TABLE_RED);
    }

    /*-----------------------
3つの特徴 tp-point__section
-----------------------*/
    .tp-point__section .tp-point__list > li:nth-child(1) > .Ttl::before {
        background: url(/asset/images/common/icon_point35.png) no-repeat center
            center / contain;
    }
    .tp-point__section .tp-point__list > li:nth-child(2) > .Ttl::before {
        background: url(/asset/images/common/icon_point36.png) no-repeat center
            center / contain;
    }
    .tp-point__section .tp-point__list > li:nth-child(3) > .Ttl::before {
        background: url(/asset/images/common/icon_point14.png) no-repeat center
            center / contain;
    }
    @media screen and (min-width: 768px) {
        .tp-point__section .tp-point__list > li > .Ttl:before {
            width: 57px;
            margin-right: 13px;
        }
        .tp-point__section .tp-point__list .Ttl__txt {
            width: calc(100% - 70px);
        }
    }

    /*-----------------------
メリット1 tp-merit01__section
-----------------------*/
    .tp-merit01__section.tp-sec p.tp-merit01__thumb {
        max-width: 195px;
    }
    @media screen and (max-width: 767px) {
        .tp-merit01__section.tp-sec p.tp-merit01__thumb {
            max-width: 150px;
        }
    }

    /*-----------------------
メリット2 tp-merit02__section
-----------------------*/
    .tp-merit02__section.tp-sec p.tp-merit02__thumb {
        max-width: 343px;
    }
    @media screen and (max-width: 767px) {
        .tp-merit02__section.tp-sec p.tp-merit02__thumb {
            max-width: 300px;
        }
    }

    /*-----------------------
価格 tp-attention__section
-----------------------*/
    .tp-attention__section .tp-attention__price .plan {
        display: block;
        font-size: 20px;
        line-height: 1;
    }
    .tp-attention__section .tp-attention__caption {
        font-size: 14px;
        color: var(--ATTENTION_TAG);
    }
    .tp-attention__section .tp-attention__caption .price {
        border: none;
        font-weight: bold;
        font-size: 16px;
        color: var(--MAIN_BLACK);
        margin: 0;
        padding: 0;
    }
    .tp-attention__section .tp-attention__caption .price .txt__l {
        font-size: 20px;
    }
    .tp-attention__section .tp-attention__caption.txt__orange {
        color: var(--MAIN_ORANGE);
        font-weight: 400;
    }

    /*-----------------------
ご利用までの流れ tp-frow__section
-----------------------*/
    .tp-frow__section {
        margin-top: 80px;
    }
    @media screen and (max-width: 767px) {
        .tp-frow__section {
            margin-top: 40px;
        }
    }
</style>
