---
import Layout from "../../../../layouts/Layout.astro";
---

<Layout
    title="飲食店ロゴ制作事例一覧 | テンポスフードプレイス"
    description="飲食店ロゴデザインの作成事例・実績を紹介しています。居酒屋、カフェ、焼肉、バーなど幅広いロゴを作成しております。お店のコンセプトに合わせるのはもちろん、立地や客単価に合わせてデザインのご提案も行っています。どんなイメージで作ればいいか分からない場合もお気軽にご相談ください。"
    pageUrl="/promotion/logo_creation/jirei/"
    ogimage="/asset/images/logo_creation/ogp_logo_creation.jpg"
>
    <article id="mainarea">
        <div class="tp-border sans">
            <nav class="tp-nav">
                <ol class="tp-nav__list flex">
                    <li><a href="/">トップページ</a></li>
                    <li><a href="/promotion/">販促デザイン</a></li>
                    <li>
                        <a href="/promotion/logo_creation/">ロゴ作成サービス</a>
                    </li>
                    <li>ロゴ制作事例</li>
                </ol>
            </nav>
            <section class="btm-front__section logolist">
                <h1 class="btm-front__ttl font_m_plus">
                    <span>ロゴ制作事例</span>
                </h1>
            </section>
            <ul class="btm-grid__list btm-wrapper btm-sec">
                <li>
                    <a href="/promotion/logo_creation/jirei/izakaya/">
                        <p class="btm-grid__list__thumb">
                            <img
                                src="/asset/images/logolist/logolist01.svg"
                                alt="居酒屋"
                                width="56"
                                height="56"
                                class="imgauto"
                            />
                        </p>
                        <div class="btm-grid__list__container">
                            <h3 class="btm-grid__list__caption">居酒屋</h3>
                            <p class="btm-link">詳しく見る</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/promotion/logo_creation/jirei/korean_cuisine/">
                        <p class="btm-grid__list__thumb">
                            <img
                                src="/asset/images/logolist/logolist02.svg"
                                alt="韓国料理"
                                width="56"
                                height="56"
                                class="imgauto"
                            />
                        </p>
                        <div class="btm-grid__list__container">
                            <h3 class="btm-grid__list__caption">韓国料理</h3>
                            <p class="btm-link">詳しく見る</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/promotion/logo_creation/jirei/yakiniku/">
                        <p class="btm-grid__list__thumb">
                            <img
                                src="/asset/images/logolist/logolist03.svg"
                                alt="焼肉"
                                width="56"
                                height="56"
                                class="imgauto"
                            />
                        </p>
                        <div class="btm-grid__list__container">
                            <h3 class="btm-grid__list__caption">焼肉</h3>
                            <p class="btm-link">詳しく見る</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/promotion/logo_creation/jirei/bar/">
                        <p class="btm-grid__list__thumb">
                            <img
                                src="/asset/images/logolist/logolist04.svg"
                                alt="バー・バル"
                                width="56"
                                height="56"
                                class="imgauto"
                            />
                        </p>
                        <div class="btm-grid__list__container">
                            <h3 class="btm-grid__list__caption">バー・バル</h3>
                            <p class="btm-link">詳しく見る</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/promotion/logo_creation/jirei/sweets/">
                        <p class="btm-grid__list__thumb">
                            <img
                                src="/asset/images/logolist/logolist05.svg"
                                alt="洋菓子"
                                width="56"
                                height="56"
                                loading="lazy"
                                class="imgauto"
                            />
                        </p>
                        <div class="btm-grid__list__container">
                            <h3 class="btm-grid__list__caption">洋菓子</h3>
                            <p class="btm-link">詳しく見る</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/promotion/logo_creation/jirei/ramen/">
                        <p class="btm-grid__list__thumb">
                            <img
                                src="/asset/images/logolist/logolist06.svg"
                                alt="ラーメン"
                                width="56"
                                height="56"
                                loading="lazy"
                                class="imgauto"
                            />
                        </p>
                        <div class="btm-grid__list__container">
                            <h3 class="btm-grid__list__caption">ラーメン</h3>
                            <p class="btm-link">詳しく見る</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/promotion/logo_creation/jirei/delivery/">
                        <p class="btm-grid__list__thumb">
                            <img
                                src="/asset/images/logolist/logolist07.svg"
                                alt="テイクアウト・移動販売"
                                width="56"
                                height="56"
                                loading="lazy"
                                class="imgauto"
                            />
                        </p>
                        <div class="btm-grid__list__container">
                            <h3 class="btm-grid__list__caption">
                                テイクアウト・<br />
                                移動販売
                            </h3>
                            <p class="btm-link">詳しく見る</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/promotion/logo_creation/jirei/teppanyaki/">
                        <p class="btm-grid__list__thumb">
                            <img
                                src="/asset/images/logolist/logolist08.svg"
                                alt="鉄板料理"
                                width="56"
                                height="56"
                                loading="lazy"
                                class="imgauto"
                            />
                        </p>
                        <div class="btm-grid__list__container">
                            <h3 class="btm-grid__list__caption">鉄板料理</h3>
                            <p class="btm-link">詳しく見る</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/promotion/logo_creation/jirei/cafe/">
                        <p class="btm-grid__list__thumb">
                            <img
                                src="/asset/images/logolist/logolist09.svg"
                                alt="カフェ・喫茶"
                                width="56"
                                height="56"
                                loading="lazy"
                                class="imgauto"
                            />
                        </p>
                        <div class="btm-grid__list__container">
                            <h3 class="btm-grid__list__caption">
                                カフェ・喫茶
                            </h3>
                            <p class="btm-link">詳しく見る</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/promotion/logo_creation/jirei/japanese/">
                        <p class="btm-grid__list__thumb">
                            <img
                                src="/asset/images/logolist/logolist11.svg"
                                alt="和食"
                                width="56"
                                height="56"
                                loading="lazy"
                                class="imgauto"
                            />
                        </p>
                        <div class="btm-grid__list__container">
                            <h3 class="btm-grid__list__caption">和食</h3>
                            <p class="btm-link">詳しく見る</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/promotion/logo_creation/jirei/others/">
                        <p class="btm-grid__list__thumb">
                            <img
                                src="/asset/images/logolist/logolist10.svg"
                                alt="その他"
                                width="56"
                                height="56"
                                loading="lazy"
                                class="imgauto"
                            />
                        </p>
                        <div class="btm-grid__list__container">
                            <h3 class="btm-grid__list__caption">その他</h3>
                            <p class="btm-link">詳しく見る</p>
                        </div>
                    </a>
                </li>
                <li class="btm-grid__list__character">
                    <a href="/promotion/logo_creation/jirei/character/">
                        <p class="btm-grid__list__thumb">
                            <img
                                src="/asset/images/logolist/logolist12.png"
                                alt="キャラクターデザイン"
                                width="56"
                                height="56"
                                loading="lazy"
                                class="imgauto"
                            />
                        </p>
                        <div class="btm-grid__list__container">
                            <h3 class="btm-grid__list__caption">
                                キャラクター<br />デザイン
                            </h3>
                            <p class="btm-link">詳しく見る</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </article>
</Layout>
