---
import Layout from "../../../layouts/Layout.astro";
import structuredDataMarkup from "../../../data/data.json";
const markup = JSON.stringify(structuredDataMarkup.ghostRestaurant);
---

<Layout
    title="飲食店ゴースレストランのブランド紹介｜テンポスフードプレイス"
    description="デリバリー・テイクアウトに特化したゴーストレストランのブランドをテンポスからご紹介いたします。大手デリバリーサービスですぐに出店可能、さらに収集したデータ分析より施策を手厚くサポート可能な提携先をご紹介しています。"
    pageUrl="/open/ghost-restaurant/"
    ogimage="/asset/images/ghost-restaurant/ogp_ghost-restaurant.jpg"
    markup={markup}
>
    <article id="mainarea">
        <div class="tp-border sans">
            <nav class="tp-nav">
                <ol class="tp-nav__list flex">
                    <li><a href="/">トップページ</a></li>
                    <li><a href="/open/">開業相談</a></li>
                    <li>ゴーストレストラン</li>
                </ol>
            </nav>
            <section class="tp-front__section">
                <h1 class="tp-front__ttl font_m_plus">
                    <span>ゴーストレストラン</span>
                </h1>
                <p class="tp-front__caption">
                    デリバリー・テイクアウトに特化した<br
                    />ブランドをご紹介いたします。
                </p>
                <p class="tp-front__contact">
                    <a class="click_link_mail" href="/contact/?checked=4"
                        >お問い合わせはこちら</a
                    >
                </p>
            </section>

            <!-- こんなお悩みありませんか？ -->
            <section class="tp-worries__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __border">
                    <span></span>こんなお悩みありませんか？<span></span>
                </h2>
                <ul class="tp-check__list tp-wrapper__l">
                    <li>
                        ゴーストレストランの<span class="tp-bglg"
                            >メニュー開発</span
                        >に苦労している
                    </li>
                    <li>
                        今のデリバリーの<span class="tp-bglg"
                            >売上に満足していない</span
                        >
                    </li>
                    <li>
                        <span class="tp-bglg">どういった業態で</span
                        >出店すればいいのかわからない
                    </li>
                </ul>
            </section>

            <section class="tp-design__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    フリウリではあなたのお店に<br
                        class="pc"
                    />最適なブランドが見つかります
                </h2>
                <div class="tp-design__contents flex">
                    <p class="tp-local">
                        フリウリは、フードデリバリーフランチャイズブランドの掲載数No.1の比較サイトです。<br
                        />
                        23種類の業態が掲載中で、初期費用やロイヤリティ、調理時間、調理設備、本部サポート内容等、様々な視点から検索が可能です。<br
                        /><br />

                        また、これまでに全国500以上のレストラン支援に携わり、フードデリバリーに関する深い知識を持っているコンサルタントとの無料個別相談が可能です。<br
                        />
                        ご相談いただく際は、加盟支援だけでなく、その後のお店の運営も安心して私たちに頼っていただけるよう心がけています。
                    </p>
                    <p class="tp-design__thumb">
                        <img
                            src="/asset/images/ghost-restaurant/img_ghost-restaurant_01.png"
                            alt="フリウリではあなたのお店に最適なブランドが見つかります"
                            width="491"
                            height="552"
                            loading="lazy"
                            class="imgauto fit-content"
                        />
                    </p>
                </div>
            </section>

            <!-- tp-want__section -->
            <section class="tp-want__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center">
                    フランチャイズ加盟で手間・時間を短縮し<br
                    />早期売上アップにつながります
                </h2>
                <ul class="tp-check__list tp-wrapper__l tp-mgb__s">
                    <li>
                        <span class="tp-bglg"
                            >実績のあるフランチャイズブランド</span
                        >を知ることができます。
                    </li>
                    <li>
                        <span class="tp-bglg"
                            >メニュー開発や出店手続きの手間</span
                        >を省くことができます。
                    </li>
                    <li>
                        調理済みのメニューが届くため、<span class="tp-bglg"
                            >仕込みや調理時間を短縮</span
                        >できます。
                    </li>
                    <li>
                        フードデリバリーやフランチャイズについて<span
                            class="tp-bglg">専門スタッフに相談できます</span
                        >。
                    </li>
                </ul>
                <p class="tp-want__thumb width-70">
                    <img
                        src="/asset/images/ghost-restaurant/img_ghost-restaurant_02.png"
                        alt="フランチャイズ加盟で手間・時間を短縮し早期売上アップにつながります"
                        width="180"
                        height="89"
                        loading="lazy"
                        class="imgauto"
                    />
                </p>
            </section>

            <!-- tp-data__section -->
            <section class="tp-data__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span"
                        >募集中のブランド掲載数</span
                    >
                </h2>
                <p class="tp-data__thumb">
                    <img
                        src="/asset/images/ghost-restaurant/img_ghost-restaurant_03.png"
                        alt="募集中のブランド掲載数"
                        width="180"
                        height="89"
                        loading="lazy"
                        class="imgauto"
                    />
                </p>
            </section>

            <!-- 6つの特徴 -->
            <section class="tp-point__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-point__ttl__span"
                        >huriuri（フリウリ）の</span
                    >
                    <span class="tp-ttl__balloon__span"
                        ><span>6</span>つの特徴</span
                    >
                </h2>
                <ul class="tp-point__list">
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt"
                                >月額会費など<br />手数料は無料</span
                            >
                        </h3>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt"
                                >デリバリー特化<br />ブランド掲載数No.1</span
                            >
                        </h3>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt"
                                >出店エリアに最適な<br />ブランドをご提案</span
                            >
                        </h3>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt"
                                >コンサルタントの<br />安心サポート体制
                            </span>
                        </h3>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt"
                                >気楽に面談<br />FC本部をもっと知る</span
                            >
                        </h3>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">
                                登録から加盟まで<br />かんたんステップ
                            </span>
                        </h3>
                    </li>
                </ul>
            </section>

            <!-- 得られるメリット -->
            <section class="tp-merit-balloon__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center tp-works__wrapper--s">
                    得られるメリット<br />
                    <span class="tp-black">huriuriがフードデリバリーの</span
                    ><span class="tp-bglg">お悩みを全て解決</span>
                </h2>
                <p class="tp-local tp-mgb__s tp-wrapper__s">
                    huriuriは、フランチャイズ提携までの行程をかんたんに行えます。<br
                    />
                    マッチングの手間を短縮できるため、フードデリバリー事業の収益化を短期で目指すことが可能です。<br
                    />
                    手始めに何をしたらいいかわからない場合でも大丈夫。<br />
                    フードデリバリーに関する知見が深いプロのコンサルタントが、あなたのお店をしっかりサポートいたします。
                </p>

                <div class="tp-balloon2">
                    <div class="balloon2-bottom">
                        手軽に効率よく<br /><span class="__yellow-text"
                            >マッチング</span
                        >
                    </div>
                    <div class="balloon2-bottom">
                        売れるブランドの<br /><span class="__yellow-text"
                            >戦略</span
                        >が立てられる
                    </div>
                    <div class="balloon2-bottom">
                        <span class="__yellow-text">ブランド拡販</span>の<br
                        />手間がかからない
                    </div>
                    <div class="balloon2-bottom">
                        営業など<br /><span class="__yellow-text">工数削減</span
                        >ができる
                    </div>
                    <div class="balloon2-bottom">
                        かんたんに<br /><span class="__yellow-text"
                            >登録申請</span
                        >ができる
                    </div>
                    <div class="balloon2-bottom">
                        フードデリバリーで<br /><span class="__yellow-text"
                            >収益化</span
                        >ができる
                    </div>
                </div>
            </section>

            <div class="contactarea"></div>

            <!-- ご利用までの流れ -->
            <section class="tp-frow02__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span"
                        >お申し込みからご相談までの流れ</span
                    >
                </h2>

                <div class="tp-flow02__list">
                    <article>
                        <img
                            src="/asset/images/ghost-restaurant/img_ghost-restaurant_step_01.jpg"
                            alt="問い合わせをする"
                            width="210"
                            height="132"
                            loading="lazy"
                            class="imgauto"
                        />
                        <p class="step">STEP1</p>
                        <h3 class="Ttl">問い合わせをする</h3>
                        <p>
                            ネットやお電話から、相談希望の旨をお伝えください。
                        </p>
                    </article>

                    <article>
                        <img
                            src="/asset/images/ghost-restaurant/img_ghost-restaurant_step_02.jpg"
                            alt="予約確定"
                            width="210"
                            height="132"
                            loading="lazy"
                            class="imgauto"
                        />
                        <p class="step">STEP2</p>
                        <h3 class="Ttl">予約確定</h3>
                        <p>
                            担当から電話・メールでご連絡。日時調整を行い予約確定です。
                        </p>
                    </article>

                    <article>
                        <img
                            src="/asset/images/ghost-restaurant/img_ghost-restaurant_step_03.jpg"
                            alt="無料相談"
                            width="210"
                            height="132"
                            loading="lazy"
                            class="imgauto"
                        />
                        <p class="step">STEP3</p>
                        <h3 class="Ttl">無料相談</h3>
                        <p>
                            内容に応じて、コンサルタントと一緒に解決策を考えます。
                        </p>
                    </article>
                </div>

                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span"
                        >フランチャイズ加盟の3ステップ</span
                    >
                </h2>

                <div class="tp-flow02__list">
                    <article>
                        <img
                            src="/asset/images/ghost-restaurant/img_ghost-restaurant_step_04.jpg"
                            alt="気になるブランドを発見"
                            width="210"
                            height="132"
                            loading="lazy"
                            class="imgauto"
                        />
                        <p class="step">STEP1</p>
                        <h3 class="Ttl">気になるブランドを発見</h3>
                        <p>「資料請求」or「話を聞きたい」ボタンをタップ。</p>
                    </article>

                    <article>
                        <img
                            src="/asset/images/ghost-restaurant/img_ghost-restaurant_step_05.jpg"
                            alt="フランチャイズ本部と商談"
                            width="210"
                            height="132"
                            loading="lazy"
                            class="imgauto"
                        />
                        <p class="step">STEP2</p>
                        <h3 class="Ttl">フランチャイズ本部と商談</h3>
                        <p>
                            疑問点や、課題を解決できそうかなどを担当者と擦り合わせ。
                        </p>
                    </article>

                    <article>
                        <img
                            src="/asset/images/ghost-restaurant/img_ghost-restaurant_step_06.jpg"
                            alt="契約・デリバリー出店"
                            width="210"
                            height="132"
                            loading="lazy"
                            class="imgauto"
                        />
                        <p class="step">STEP3</p>
                        <h3 class="Ttl">契約・デリバリー出店</h3>
                        <p>内容を改めて確認し、問題なければ契約し出店です！</p>
                    </article>
                </div>
            </section>

            <!-- よくある質問 -->
            <section class="tp-faq__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">よくある質問</span>
                </h2>
                <div class="g-acodion">
                    <dl>
                        <dt>
                            相談後は、フランチャイズに加盟しなきゃダメですか？
                        </dt>
                        <dd>
                            必須ではありません！心配事や不安が解消され、お客様が納得できたタイミングで加盟をしてください。<br
                            />
                            もう一度話を聞きたいときや、相談をしたい場合は何度でもお気軽にご予約ください。<br
                            />
                            また、一人では不安という場合は、信頼できる方と一緒に相談を受ける方もいらっしゃいます。
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            フランチャイズに加盟した際は、手数料をhuriuriに支払いますか？
                        </dt>
                        <dd>
                            フランチャイズに加盟された方から、手数料などはいただいておりません。<br
                            />
                            フランチャイズ加盟時のお支払（契約料など）は、フランチャイズ本部とお客様の間でのみ発生します。<br
                            />
                            huriuriは、手数料、月額費用、更新料などの料金は一切かかりません。
                        </dd>
                    </dl>
                    <dl>
                        <dt>オンライン相談はどうやって行うのですか？</dt>
                        <dd>
                            ZOOMを使用します。<br />
                            お客様のスマートフォン・パソコン・タブレットなどを使用し、WEB画面上でのやり取りを行います。ミーティングのURLは担当から事前にお送りいたします。<br
                            />
                            パソコンの場合はアプリは不要です。<br />
                            ※通信料はお客様負担となります。
                        </dd>
                    </dl>
                    <dl>
                        <dt>1回の相談にかかる時間はどの程度になりますか？</dt>
                        <dd>
                            1回の相談で1時間程度行います。<br />
                            ご相談に必要な時間は約60分を目安にお考え下さい。<br
                            />
                            開始の際にお客様とお時間の調整をさせていただきます。
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            飲食業の知識が０です。相談することが恥ずかしいです・・
                        </dt>
                        <dd>
                            はじめてだからこそ、ご相談ください。<br />
                            <span class="tp-text__red"
                                >フードデリバリーやフランチャイズのことをまったく知らない方も大歓迎です！</span
                            ><br />
                            飲食業未経験の方はたくさんいます。予約をされる際に「初心者です」とお伝えいただき、相談される方も多くいらっしゃいます。<br
                            />
                            わからないことだらけでも、１つずつ丁寧に解消していけるようお手伝いいたします。
                        </dd>
                    </dl>
                </div>
            </section>

            <div class="contactarea"></div>

            <!-- その他関連サービス -->
            <section class="tp-others__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">その他関連サービス</span
                    >
                </h2>
                <div class="tp-others__list">
                    <article>
                        <a href="/open/kitchen-car.html">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_cloud-kitchen@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_cloud-kitchen.png"
                                        srcset="/asset/images/common/img_kanren_service_cloud-kitchen.png 1x,/asset/images/common/2x/img_kanren_service_cloud-kitchen@2x.png 2x"
                                        alt="SNS運用代行"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">キッチンカー</h3>
                        </a>
                    </article>
                    <article>
                        <a href="/open/bukken.html">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_bukken@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_bukken.png"
                                        srcset="/asset/images/common/img_kanren_service_bukken.png 1x,/asset/images/common/2x/img_kanren_service_bukken@2x.png 2x"
                                        alt="SNS運用代行"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">飲食店物件紹介</h3>
                        </a>
                    </article>
                    <article>
                        <a href="/open/interior.html">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_interior@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_interior.png"
                                        srcset="/asset/images/common/img_kanren_service_interior.png 1x,/asset/images/common/2x/img_kanren_service_interior@2x.png 2x"
                                        alt="SNS運用代行"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">飲食店内装工事</h3>
                        </a>
                    </article>
                </div>
            </section>
        </div>
    </article>
</Layout>

<style>
    @charset "UTF-8";

    /* ■■■■■■■■■■global■■■■■■■■■■ */
    :root {
        --NUM_ORANGE: var(--MAIN_ORANGE);
        --TABLE_GRAY_01: #ddd;
        --TABLE_GRAY_02: #aaa;
        --TABLE_BORDER_GRAY: #b4b4b4;
        --TABLE_YELLOW: var(--MAIN_YELLOW);
        --TABLE_ORANGE: #ffa000;
        --TABLE_RED: #f07d00;
        --TABLE_BLUE: #508ca0;
        --TABLE_TAG_YELLOW: #fff092;
        --TABLE_TAG_ORANGE: #ffd266;
        --TABLE_TAG_RED: #f7b46c;
        --TABLE_TAG_BLUE: #b4ced6;
        --OPTION_YELLOW: var(--MAIN_YELLOW);
        --OPTION_ORANGE: var(--GRADATION_ORANGE);
        --OPTION_RED: var(--MAIN_ORANGE);
        --ATTENTION_TAG: #787878;
        --STEP_BORDER: #1b1616;
        --RENTAL_QUESTION_BG: #f7f7f7;
        --CONTACT_RED: #eb5a5a;
        --CONTACT_BLUE: #1283c3;
        --CONTACT_GREEN: #00aa8c;
        --CONTACT_RED_NAVY: rgb(215, 70, 70);
        --CONTACT_BLUE_NAVY: rgb(0, 111, 175);
        --CONTACT_GREEN_NAVY: rgb(0, 150, 120);
        --CONTAINER_BORDER: #ffe6aa;
        --CONTENTS_BORDER_GRAY: #a0a0a0;
        --ADD_TABLE_GRAY: #ededed;
        --ADD_TABLE_BTN: #5b5b5b;
        --ADD_CONTACT_GRAY: #e3e3e3;
        --ADD_CONTACT_YELLOW: #fdc831;
        --ADD_CONTACT_TITLE_GRAY: #9b9b9b;
        --sp_mag: calc(1 - (375 / 816));
        --contents_gap_col: 20px;
        --contents_gap_row: 20px;
        --TABLE_COMENT_RED: #c00000;
    }

    /*-----------------------
mv tp-front__section
-----------------------*/
    .tp-front__section {
        background-image: url(/asset/images/press-release/mv-press-release.jpg);
    }

    /* ====================================== 
tp-design__section
=========================================
*/

    /*-----------------------
6つの特徴 tp-point__section
-----------------------*/

    .tp-point__section .tp-point__list > li:nth-child(1) > .Ttl::before {
        background: url(/asset/images/common/icon_point31.png) no-repeat center
            center/contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(2) > .Ttl::before {
        background: url(/asset/images/common/icon_point30.png) no-repeat center
            center/contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(3) > .Ttl::before {
        background: url(/asset/images/common/icon_point17.png) no-repeat center
            center/contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(4) > .Ttl::before {
        background: url(/asset/images/common/icon_point32.png) no-repeat center
            center/contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(5) > .Ttl::before {
        background: url(/asset/images/common/icon_point09.png) no-repeat center
            center/contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(6) > .Ttl::before {
        background: url(/asset/images/common/icon_point13.png) no-repeat center
            center/contain;
    }

    .tp-point__section .tp-point__list .Ttl__txt {
        width: calc(100% - 58px);
    }

    .tp-point__section .tp-point__list > li > .Ttl:before {
        width: 45px;
    }

    .tp-point__list .Ttl {
        margin-bottom: 0;
    }

    /* ====================================== 
tp-data__section
=========================================
*/
    .tp-data__thumb {
        margin: 0 auto;
        width: 90%;
    }

    .tp-point__list > li {
        padding: 30px;
    }

    /*-----------------------
 contactarea
-----------------------*/
    .contactarea:first-of-type {
        margin-bottom: 80px;
    }

    /* ====================================== 
.tp-balloon2 
=========================================
*/

    .tp-balloon2 {
        display: grid;
        column-gap: 20px;
        row-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 1200px) {
        .tp-balloon2 {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (max-width: 767px) {
        .tp-balloon2 {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .tp-balloon2 .__yellow-text {
        color: #ffdd80;
        font-size: 26px;
    }

    .balloon2-bottom {
        display: inline-block;
        position: relative;
        padding: 30px 20px;
        background: var(--MAIN_ORANGE);
        border-radius: 20px;
        color: #fff;
        width: 100%;
        text-align: center;
        font-size: 18px;
        line-height: 1.5em;
    }

    .balloon2-bottom::after {
        content: "";
        position: absolute;
        margin: 0;
        bottom: -20px;
        left: 30px;
        width: 0;
        height: 0;
        border-top: 30px solid var(--MAIN_ORANGE);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        transform: rotate(40deg);
    }

    /* ====================================== 
tp-flow02
=========================================
*/
    .tp-flow02__list {
        display: grid;
        column-gap: 20px;
        row-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: 767px) {
        .tp-flow02__list {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .tp-flow02__list:first-of-type {
        margin-bottom: 80px;
    }

    .tp-flow02__list .Ttl {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .tp-flow02__list .step {
        font-size: 18px;
        font-weight: bold;
        margin: 10px 0;
        color: var(--MAIN_ORANGE);
    }
</style>
