---
import Layout from "../../../layouts/lp/connect_telephone/Layout.astro";
import Header from "../../../components/lp/connect_telephone/Header.astro";
import Footer from "../../../components/lp/connect_telephone/Footer.astro";
import Mv from "../../../components/lp/connect_telephone/Mv.astro";
import Form from "../../../components/lp//connect_telephone/Form.astro";
---

<Layout
    title="無料相談 | 商談後の成約率アップ！相手のスマホに自分の情報を7秒で登録「つながるテレフォン」"
>
    <Header />
    <main>
        <Mv />
        <Form />
    </main>
    <Footer />
</Layout>

<style>
    main {
    }
</style>
