---
import Layout from "../../../layouts/lp/connect_telephone/Layout.astro";
import Header from "../../../components/lp/connect_telephone/Header.astro";
import Footer from "../../../components/lp/connect_telephone/Footer.astro";
import Mv from "../../../components/lp/connect_telephone/Mv.astro";
import Intro from "../../../components/lp/connect_telephone/Intro.astro";
import Merit from "../../../components/lp/connect_telephone/Merit.astro";
import Example from "../../../components/lp/connect_telephone/Example.astro";
import Price from "../../../components/lp/connect_telephone/Price.astro";
import Flow from "../../../components/lp/connect_telephone/Flow.astro";
---

<Layout
	title="商談後の成約率アップ！相手のスマホに自分の情報を7秒で登録「つながるテレフォン」"
>
	<Header />
	<main>
		<Mv />
		<Intro />
		<Merit />
		<Example />
		<Price />
		<Flow />
	</main>
	<Footer />
</Layout>

<style>
	main {
	}
</style>
