---
import Layout from "../../../layouts/Layout.astro";
import ContactArea from "../../../components/common/ContactArea.astro";
import structuredDataMarkup from "../../../data/data.json";
const markup = JSON.stringify(structuredDataMarkup.cashless);
---

<Layout
    title="【キャッシュレス決済で効率化！】比較・手続き・導入・運用までフルサポート｜テンポス"
    description="導入実績1万店舗以上！開業予定のお店の立地・客単価・業態などから、お客様のご要望を踏まえた最適なキャッシュレスサービス（クレジットカード、電子マネー、QRコード）ご提案いたします。｜テンポスフードプレイス"
    pageUrl="/telecom/cashless/"
    ogimage="/asset/images/cashless/ogp_cashless.jpg"
    markup={markup}
>
    <article id="mainarea">
        <div class="tp-border sans">
            <nav class="tp-nav">
                <ol class="tp-nav__list flex">
                    <li><a href="/">トップページ</a></li>
                    <li><a href="/open/">店舗インフラ</a></li>
                    <li>キャッシュレス決済</li>
                </ol>
            </nav>
            <section class="tp-front__section">
                <h1 class="tp-front__ttl font_m_plus">
                    <span>キャッシュレス決済</span>
                </h1>
                <p class="tp-front__caption">
                    利用者が拡大し、現在ますます注目されているキャッシュレス決済。<br
                    />お客様の顧客満足を高めるためにキャッシュレスの導入を進めていきましょう。
                </p>
                <p class="tp-front__contact">
                    <a class="click_link_mail" href="/contact/?checked=9"
                        >お問い合わせはこちら</a
                    >
                </p>
            </section>

            <!-- こんなお悩みありませんか？ -->
            <section class="tp-worries__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __border">
                    <span></span>こんなお悩みありませんか？<span></span>
                </h2>
                <ul class="tp-check__list tp-wrapper__l">
                    <li>
                        <span class="tp-bglg">キャッシュレス導入</span
                        >するのにどうすればいいの？
                    </li>
                    <li>
                        <span class="tp-bglg">導入費用</span
                        >はどれくらいかかるの？
                    </li>
                    <li>
                        お店に<span class="tp-bglg"
                            >どんなキャッシュレス導入</span
                        >すればいいの？
                    </li>
                </ul>
            </section>

            <section class="tp-design__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    テンポスではクレジットカードをはじめ、<br class="pc" />
                    電子マネー、ＱＲコード決済など様々な決済をご案内しております！
                </h2>
                <div class="tp-design__contents">
                    <p class="tp-local">
                        原則は端末無料ですので気軽に始められます。<br />
                        またネット回線がなくても決済する方法もございます。
                    </p>
                    <p class="tp-design__thumb width-70 center">
                        <img
                            src="/asset/images/cashless/img_cashless_01.png"
                            alt="テンポスでは、クレジットカードをはじめ、電子マネー、QRコードとなんでも利用可能です！"
                            width="1054"
                            height="448"
                            loading="lazy"
                            class="imgauto fit-content"
                        />
                    </p>
                </div>
            </section>

            <!-- tp-want__section -->
            <section class="tp-want__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center">
                    お客様が求めているポイントも<br
                        class="pc"
                    />キャッシュレス導入で解決できます！
                </h2>
                <p class="tp-cash__want-text">
                    お客様がキャッシュレスを好む理由は・・・
                </p>
                <ul class="tp-check__list tp-wrapper__l tp-mgb__s">
                    <li>
                        <span class="tp-bglg">スムーズ</span>に会計がしたい！
                    </li>
                    <li>
                        小銭を出したり、お釣りを受け取るのが<span
                            class="tp-bglg">面倒</span
                        >…
                    </li>
                    <li>
                        どうせなら<span class="tp-bglg"
                            >ポイントがたまる方法</span
                        >で決済したい！
                    </li>
                    <li>
                        <span class="tp-bglg">感染症への対策</span
                        >として、現金の受け渡しはできるだけ控えたい。
                    </li>
                </ul>
                <p class="tp-want__thumb width-40">
                    <img
                        src="/asset/images/cashless/img_cashless_02.png"
                        alt="通信カラオケの導入メリット"
                        width="674"
                        height="404"
                        loading="lazy"
                        class="imgauto"
                    />
                </p>
            </section>

            <!-- キャッシュレス決済の種類 -->
            <section class="tp-kinds__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span"
                        >キャッシュレス決済の種類</span
                    >
                </h2>
                <div class="tp-kinds__list tp-mgb__s">
                    <article>
                        <p class="Thumb">
                            <picture>
                                <source
                                    media="(max-width:767px)"
                                    srcset="/asset/images/cashless/img_cashless_03.jpg"
                                />
                                <img
                                    src="/asset/images/cashless/img_cashless_03.jpg"
                                    alt="クレジットカード"
                                    width="420"
                                    height="420"
                                    loading="lazy"
                                    class="imgauto"
                                />
                            </picture>
                        </p>
                        <h3 class="Ttl">クレジットカード</h3>
                        <p class="Caption">
                            高額な決済での利用も可能。30〜40代を中心に幅広い年代で利用される。
                        </p>

                        <ul class="itemm-list">
                            <li>VISA</li>
                            <li>Mastercard</li>
                            <li>JCB</li>
                            <li>AmericanExpress</li>
                            <li>DISCOVER</li>
                            <li>Diners Club</li>
                            <li>銀聯</li>
                        </ul>
                    </article>
                    <article>
                        <p class="Thumb">
                            <picture>
                                <source
                                    media="(max-width:767px)"
                                    srcset="/asset/images/cashless/img_cashless_04.jpg"
                                />
                                <img
                                    src="/asset/images/cashless/img_cashless_04.jpg"
                                    alt="電子マネー"
                                    width="420"
                                    height="420"
                                    loading="lazy"
                                    class="imgauto"
                                />
                            </picture>
                        </p>
                        <h3 class="Ttl">電子マネー</h3>
                        <p class="Caption">
                            交通機関が発達した地域で利用が多く、客単価の低い飲食店向け。
                        </p>

                        <ul class="itemm-list">
                            <li>交通系IC（Suica・PASMO ・ICOCA等）</li>
                            <li>WAON</li>
                            <li>nanaco</li>
                            <li>ID</li>
                            <li>楽天Edy</li>
                            <li>QP（クイックペイ）</li>
                        </ul>
                    </article>
                    <article>
                        <p class="Thumb">
                            <picture>
                                <source
                                    media="(max-width:767px)"
                                    srcset="/asset/images/cashless/img_cashless_05.jpg"
                                />
                                <img
                                    src="/asset/images/cashless/img_cashless_05.jpg"
                                    alt="QRコード"
                                    width="420"
                                    height="420"
                                    loading="lazy"
                                    class="imgauto"
                                />
                            </picture>
                        </p>
                        <h3 class="Ttl">QRコード</h3>
                        <p class="Caption">
                            スマホ1つで決済可能、20〜30代を中心に若者が多く利用。
                        </p>

                        <ul class="itemm-list">
                            <li>PayPay</li>
                            <li>au Pay</li>
                            <li>d払い</li>
                            <li>メルペイ</li>
                            <li>Alipay</li>
                            <li>楽天ペイ</li>
                            <li>ウィチャットペイ</li>
                            <li>外国QR</li>
                        </ul>
                    </article>
                </div>
            </section>

            <!-- 4つの特徴 -->
            <section class="tp-point__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-point__ttl__span"
                        >テンポスのキャッシュレス決済の</span
                    >
                    <span class="tp-ttl__balloon__span"
                        ><span>4</span>つの特徴</span
                    >
                </h2>
                <ul class="tp-point__list">
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">０円から導入可能</span>
                        </h3>
                        <p class="Local">
                            他社だと初期費用や月額費用が掛かる場合がございますが<br
                            />
                            弊社のご案内するキャッシュレス端末は初期費用と月額費用が無料です。
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">
                                POSレジと連動する<br />
                                端末もご準備可能</span
                            >
                        </h3>
                        <p class="Local">
                            POSレジを導入している店舗様は是非POS連動で弊社決済端末をご利用ください。<br
                            />
                            POS連動でご利用すれば、省力化、売上の入力ミスもなくなります。<br
                            />
                            ＊POS連動が可能かどうかは事前にお問合せください。
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">券売機タイプもあります!</span
                            >
                        </h3>
                        <p class="Local">
                            麺類はもちろん、カレー業態などにもキャッシュレス化は進んでいます。もちろんPOS機能もついているのでとても便利です。IT導入補助金も対応できますのでお買い求め安い価格でご提供できます。
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">
                                様々な決済方法、決済ブランドをご準備しています
                            </span>
                        </h3>
                        <p class="Local">
                            クレジットカード、電子マネー、QRコード決済、外国QRも無料で導入のご案内をしております。<br
                            />
                            インバウンド対策も是非弊社にご相談ください！
                        </p>
                    </li>
                </ul>
            </section>

            <!-- 決済端末１台でマルチに決済が利用可能 -->
            <section class="tp-merit01__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center tp-wrapper__s">
                    決済端末１台でマルチに決済が利用可能
                </h2>
                <p class="tp-local tp-mgb__s tp-wrapper__s">
                    国策により日本もキャッシュレス化はどんどん進んでいます。<br
                    />
                    経済産業省の統計によると2011年はキャッシュレス利用率14.1％でしたが、2023年には36.0%と倍以上となっております。<br
                    />
                    貴店のキャッシュレス化をお手伝いさせていただきます。
                </p>
                <p class="tp-merit01__thumb-470">
                    <picture class="rounded-corners">
                        <source
                            media="(max-width:767px)"
                            srcset="/asset/images/cashless/img_cashless_06.jpg?ver=20240425"
                        />
                        <img
                            src="/asset/images/cashless/img_cashless_06.jpg?ver=20240425"
                            alt=""
                            width="882"
                            height="544"
                            loading="lazy"
                            class="imgauto"
                        />
                    </picture>
                </p>
            </section>

            <ContactArea />

            <!-- ご利用までの流れ -->
            <section class="tp-frow__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">ご利用までの流れ</span>
                </h2>
                <div class="tp-flow__list">
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">お客様から問い合わせ</h3>
                            <div class="Local">
                                <p>
                                    ご相談は無料です。キャッシュレスについて良く分からない、<br
                                    />
                                    何のキャッシュレスを導入したらいいのかわからないといった場合は、<br
                                    />
                                    お気軽にお問い合わせください。<br />
                                    ※最短3営業日でご対応可能
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">商品説明</h3>
                            <div class="Local">
                                <p>
                                    開業予定のお店の立地・客単価・業態などから、お客様のご要望を踏まえた最適なキャッシュレスサービスのご提案をいたします。<br
                                    />
                                    申し込みを進める場合は必要な営業許可書等の書類や、お客様情報など申込に必要な情報をお伝えいたします。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">お申し込み・審査</h3>
                            <div class="Local">
                                <p>
                                    お客様からいただいた情報をもとに決済会社で審査をかけます。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">端末設置・利用開始</h3>
                            <div class="Local">
                                <p>
                                    審査可決後、お申込みのサービスにより、決済用の端末やQRコードのPOPが送付され利用開始可能です。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">清算・貴店へ銀行入金</h3>
                            <div class="Local">
                                <p></p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>

            <!-- よくある質問 -->
            <section class="tp-faq__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">よくある質問</span>
                </h2>
                <div class="g-acodion">
                    <dl>
                        <dt>決済手数料はいくら？​</dt>
                        <dd>
                            サービスにより異なりますが、相場は3.24%～です。​<br
                            />
                            QR決済の中には期間限定で決済手数料無料のサービスもございます。
                        </dd>
                    </dl>
                    <dl>
                        <dt>入金手数料はいくら？</dt>
                        <dd>
                            サービスにより異なりますが、相場は330円です。<br />
                            指定銀行の口座であれば入金手数料無料のサービスもございます。​
                        </dd>
                    </dl>
                    <dl>
                        <dt>入金のタイミングは？</dt>
                        <dd>
                            サービスや条件により異なりますが、入金サイクルの早いもので翌日入金です。月2回月中と月末の入金のサービスもございます。
                        </dd>
                    </dl>
                    <dl>
                        <dt>何か機械が必要なんじゃない？​</dt>
                        <dd>
                            クレジットカード決済や電子マネー決済では決済用端末が必要ですが、QR決済では紙のキットで対応しているサービスもございます。
                        </dd>
                    </dl>
                    <dl>
                        <dt>どれくらいで使えるようになるの？​</dt>
                        <dd>目安として即日～1.5か月ほどかかります。</dd>
                    </dl>
                </div>
            </section>

            <ContactArea />

            <!-- その他関連サービス -->
            <section class="tp-others__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">その他関連サービス</span
                    >
                </h2>
                <div class="tp-others__list">
                    <article>
                        <a href="/telecom/internetline/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_internetline@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_internetline.png"
                                        srcset="/asset/images/common/img_kanren_service_internetline.png 1x,/asset/images/common/2x/img_kanren_service_internetline@2x.png 2x"
                                        alt="インターネット回線"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">インターネット回線</h3>
                        </a>
                    </article>
                    <article>
                        <a href="/telecom/music/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_music@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_music.png"
                                        srcset="/asset/images/common/img_kanren_service_music.png 1x,/asset/images/common/2x/img_kanren_service_music@2x.png 2x"
                                        alt="店舗BGM"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">店舗BGM</h3>
                        </a>
                    </article>
                    <article>
                        <a href="/telecom/ip-telephone/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_ip-telephone@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_ip-telephone.png"
                                        srcset="/asset/images/common/img_kanren_service_ip-telephone.png 1x,/asset/images/common/2x/img_kanren_service_ip-telephone@2x.png 2x"
                                        alt="IP電話"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">IP電話</h3>
                        </a>
                    </article>
                </div>
            </section>
        </div>
    </article>
</Layout>

<style>
    @charset "UTF-8";

    /*-----------------------
mv tp-front__section
-----------------------*/
    .tp-front__section {
        background-image: url(/asset/images/press-release/mv-press-release.jpg);
    }

    /*-----------------------
tp-worries__section
-----------------------*/
    .tp-check__list > li {
        display: block;
    }

    /*-----------------------
tp-want__section
-----------------------*/
    .tp-want__section .tp-cash__want-text {
        font-weight: bold;
        font-size: 20px;
        margin-left: 3rem;
        margin-bottom: 1.5rem;
    }
    @media screen and (max-width: 767px) {
        .tp-want__section .tp-cash__want-text {
            font-weight: 300;
            font-size: 15px;
            margin-left: 0.5rem;
            margin-bottom: 1.5rem;
        }
    }

    /*-----------------------
6つの特徴 tp-kinds__section
-----------------------*/
    /* ------------------ tp-case__section -------------------- */
    .tp-kinds__list {
        display: grid;
        column-gap: var(--contents_gap_col);
        row-gap: var(--contents_gap_row);
    }

    .tp-kinds__list > article {
        display: flex;
        flex-flow: column;
    }

    .tp-kinds__list > article .Thumb {
        margin-bottom: 10px;
    }

    .tp-kinds__list > article .Caption {
        font-size: 14px;
    }

    .tp-kinds__list > article .Ttl {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        color: var(--MAIN_ORANGE);
        text-align: center;
    }

    .tp-kinds__list > article .itemm-list {
        margin-top: 1rem;
        font-weight: 600;
    }
    .tp-kinds__list > article .itemm-list li::before {
        content: "";
        display: inline-block;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        background-color: var(--TABLE_RED);
        color: var(--MAIN_WHITE);
        width: 15px;
        height: 15px;
        margin-right: 5px;
        flex-shrink: 0;
    }

    @media screen and (min-width: 768px) {
        .tp-kinds__list {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    @media screen and (max-width: 767px) {
        .tp-kinds__list {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    /*-----------------------
6つの特徴 tp-point__section
-----------------------*/

    .tp-point__section .tp-point__list > li:nth-child(1) > .Ttl::before {
        background: url(/asset/images/common/icon_point31.png) no-repeat center
            center/contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(2) > .Ttl::before {
        background: url(/asset/images/common/icon_point36.png) no-repeat center
            center/contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(3) > .Ttl::before {
        background: url(/asset/images/common/icon_point38.png) no-repeat center
            center/contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(4) > .Ttl::before {
        background: url(/asset/images/common/icon_point39.png) no-repeat center
            center/contain;
    }

    /*-----------------------
 contactarea
-----------------------*/
    .contactarea:first-of-type {
        margin-bottom: 80px;
    }

    /*-----------------------
 imgの角丸設定
-----------------------*/
    .rounded-corners img {
        border-radius: 30px;
    }
    @media screen and (max-width: 767px) {
        .rounded-corners img {
            border-radius: 20px;
        }
    }
</style>
