---
import Layout from "../../../layouts/Layout.astro";
import ContactArea from "../../../components/common/ContactArea.astro";
import structuredDataMarkup from "../../../data/data.json";
const markup = JSON.stringify(structuredDataMarkup.sanitaryRental);
---

<Layout
	title="飲食店向けマット・モップのレンタルはテンポスにお任せ！全国対応｜テンポスフードプレイス"
	description="飲食店・事業所向けにマット・モップ・グリスフィルターなどの衛生用品をレンタルできる会社をご紹介。新規出店・営業中店舗問わず全国対応。"
	pageUrl="/hygiene/sanitary-rental/"
	ogimage="/asset/images/sanitary-rental/ogp_sanitary-rental.jpg"
	markup={markup}
>
	<article id="mainarea">
		<div class="tp-border sans">
			<nav class="tp-nav">
				<ol class="tp-nav__list flex">
					<li><a href="/">トップページ</a></li>
					<li><a href="/hygiene/">衛生管理</a></li>
					<li>衛生用品レンタル</li>
				</ol>
			</nav>

			<section class="tp-front__section">
				<h1 class="tp-front__ttl font_m_plus">
					<span>衛生用品レンタル</span>
				</h1>
				<p class="tp-front__caption">
					「フロアマット」「グリスフィルター」「トイレ⽤品」等のレンタル！<br
						class="pc"
					/>
					定期的な交換で衛⽣状態を常に良好に保ちましょう！
				</p>
				<p class="tp-front__contact">
					<a class="click_link_mail" href="/contact/?checked=19"
						>お問い合わせはこちら</a
					>
				</p>
			</section>

			<section class="tp-worries__section tp-sec tp-wrapper">
				<h2 class="tp-ttl __border">
					<span></span>こんなお悩みありませんか？<span></span>
				</h2>
				<ul class="tp-check__list tp-wrapper__l">
					<li>
						<span class="tp-bglg">ウイルス対策</span
						>をアピールしたい
					</li>
					<li>
						衛生用品をひとつずつ<span class="tp-bglg"
							>⼿配するのが手間</span
						>
					</li>
					<li>
						忙しくてなかなか掃除に<span class="tp-bglg"
							>⼿がまわらない</span
						>
					</li>
				</ul>
			</section>

			<section class="tp-item__section tp-sec tp-wrapper">
				<h2 class="tp-ttl __center">
					テンポスでは衛生用品のレンタルをしている<br class="pc" />
					会社を紹介しております
				</h2>
				<ul class="tp-item__list">
					<li class="tp-item__listItem">
						<div class="tp-item__ttl_wrap">
							<h3 class="tp-item__ttl">フロアマット</h3>
							<p class="tp-item__ttlSub">
								お客様のお店にぴったりなマットをご用意！
							</p>
						</div>
						<div class="tp-item__cnt">
							<div class="tp-item__cntL">
								<div class="tp-item__img">
									<picture>
										<source
											media="(max-width:767px)"
											srcset="/asset/images/sanitary-rental/2x/img_sanitary-rental_item@2x.png"
										/>
										<img
											src="/asset/images/sanitary-rental/img_sanitary-rental_item.png"
											srcset="/asset/images/sanitary-rental/img_sanitary-rental_item.png 1x,/asset/images/sanitary-rental/2x/img_sanitary-rental_item@2x.png 2x"
											alt=""
											width="115"
											height="135"
											loading="lazy"
											class="imgauto"
										/>
									</picture>
								</div>
								<p class="tp-item__imgCap">
									<span class="tp-bglg"
										>お店の入り口にどんなマットを敷いたらいいの？</span
									>
								</p>
							</div>
							<div class="tp-item__cntR">
								<dl class="tp-item__cntR_item">
									<dt class="tp-item__cntR_ttl">
										高機能マット
									</dt>
									<dd class="tp-item__cntR_local">
										機能性の高いデザインマットを多数ご用意
									</dd>
								</dl>
								<dl class="tp-item__cntR_item">
									<dt class="tp-item__cntR_ttl">
										デザインマット
									</dt>
									<dd class="tp-item__cntR_local">
										店舗のロゴやメッセージなど入れてオリジナルマットに
									</dd>
								</dl>
							</div>
						</div>
					</li>
					<li class="tp-item__listItem">
						<div class="tp-item__ttl_wrap">
							<h3 class="tp-item__ttl">グリスフィルター</h3>
							<p class="tp-item__ttlSub">
								定期交換でラクラク♪「グリスフィルター」交換
							</p>
						</div>
						<div class="tp-item__cnt">
							<div class="tp-item__cntL">
								<div class="tp-item__img">
									<picture>
										<source
											media="(max-width:767px)"
											srcset="/asset/images/sanitary-rental/2x/img_sanitary-rental_item@2x.png"
										/>
										<img
											src="/asset/images/sanitary-rental/img_sanitary-rental_item.png"
											srcset="/asset/images/sanitary-rental/img_sanitary-rental_item.png 1x,/asset/images/sanitary-rental/2x/img_sanitary-rental_item@2x.png 2x"
											alt=""
											width="115"
											height="135"
											loading="lazy"
											class="imgauto"
										/>
									</picture>
								</div>
								<p class="tp-item__imgCap">
									<span class="tp-bglg"
										>厨房の清掃は面倒！少しでも楽にしたいなぁ</span
									>
								</p>
							</div>
							<div class="tp-item__cntR">
								<dl class="tp-item__cntR_item">
									<dt class="tp-item__cntR_ttl">
										グリスフィルター
									</dt>
									<dd class="tp-item__cntR_local">
										スタッフが定期的に交換を伺います
									</dd>
								</dl>
								<dl class="tp-item__cntR_item">
									<dt class="tp-item__cntR_ttl">
										ファイバーグリスフィルター
									</dt>
									<dd class="tp-item__cntR_local">
										自分で簡単に交換できる使い捨てタイプ
									</dd>
								</dl>
							</div>
						</div>
					</li>
					<li class="tp-item__listItem">
						<div class="tp-item__ttl_wrap">
							<h3 class="tp-item__ttl">トイレ用品</h3>
							<p class="tp-item__ttlSub">
								女性の集客はトイレが決め手！
							</p>
						</div>
						<div class="tp-item__cnt">
							<div class="tp-item__cntL">
								<div class="tp-item__img">
									<picture>
										<source
											media="(max-width:767px)"
											srcset="/asset/images/sanitary-rental/2x/img_sanitary-rental_item@2x.png"
										/>
										<img
											src="/asset/images/sanitary-rental/img_sanitary-rental_item.png"
											srcset="/asset/images/sanitary-rental/img_sanitary-rental_item.png 1x,/asset/images/sanitary-rental/2x/img_sanitary-rental_item@2x.png 2x"
											alt=""
											width="115"
											height="135"
											loading="lazy"
											class="imgauto"
										/>
									</picture>
								</div>
								<p class="tp-item__imgCap">
									<span class="tp-bglg"
										>やっぱり匂いが気になる…女性が使いやすいトイレにしたいなぁ…</span
									>
								</p>
							</div>
							<div class="tp-item__cntR">
								<dl class="tp-item__cntR_item">
									<dt class="tp-item__cntR_ttl">芳香剤</dt>
									<dd class="tp-item__cntR_local">
										タイマー付きで香りを噴射し、いつでも爽やかな空間を保ちます
									</dd>
								</dl>
								<dl class="tp-item__cntR_item">
									<dt class="tp-item__cntR_ttl">
										レディボックス
									</dt>
									<dd class="tp-item__cntR_local">
										手をかざすとフタが開閉するサニタリーボックス。フタを二重にした消臭除菌機能付き
									</dd>
								</dl>
							</div>
						</div>
					</li>
					<li class="tp-item__listItem">
						<div class="tp-item__ttl_wrap">
							<h3 class="tp-item__ttl">観葉植物</h3>
							<p class="tp-item__ttlSub">
								レンタルだから手軽！いつでもきれい！
							</p>
						</div>
						<div class="tp-item__cnt">
							<div class="tp-item__cntL">
								<div class="tp-item__img">
									<picture>
										<source
											media="(max-width:767px)"
											srcset="/asset/images/sanitary-rental/2x/img_sanitary-rental_item@2x.png"
										/>
										<img
											src="/asset/images/sanitary-rental/img_sanitary-rental_item.png"
											srcset="/asset/images/sanitary-rental/img_sanitary-rental_item.png 1x,/asset/images/sanitary-rental/2x/img_sanitary-rental_item@2x.png 2x"
											alt=""
											width="115"
											height="135"
											loading="lazy"
											class="imgauto"
										/>
									</picture>
								</div>
								<p class="tp-item__imgCap">
									<span class="tp-bglg"
										>観葉植物を置いてみたいけど、手入れが面倒だなぁ…</span
									>
								</p>
							</div>
							<div class="tp-item__cntR">
								<div class="tp-item__cntR_item">
									<p class="tp-item__cntR_local">
										種類や大きさも豊富に揃え、目的に合ったグリーンをご提案<br
										/>
										万全なメンテナンス体制で、専門スタッフが定期的に伺います
									</p>
								</div>
							</div>
						</div>
					</li>
					<li class="tp-item__listItem">
						<div class="tp-item__ttl_wrap">
							<h3 class="tp-item__ttl">浄水サーバー</h3>
							<p class="tp-item__ttlSub">
								場所を選ばず、どんなロケーションにも設置可能
							</p>
						</div>
						<div class="tp-item__cnt">
							<div class="tp-item__cntL">
								<div class="tp-item__img">
									<picture>
										<source
											media="(max-width:767px)"
											srcset="/asset/images/sanitary-rental/2x/img_sanitary-rental_item@2x.png"
										/>
										<img
											src="/asset/images/sanitary-rental/img_sanitary-rental_item.png"
											srcset="/asset/images/sanitary-rental/img_sanitary-rental_item.png 1x,/asset/images/sanitary-rental/2x/img_sanitary-rental_item@2x.png 2x"
											alt=""
											width="115"
											height="135"
											loading="lazy"
											class="imgauto"
										/>
									</picture>
								</div>
								<p class="tp-item__imgCap">
									<span class="tp-bglg"
										>お客さまには安心安全なお水を提供したいなぁ…</span
									>
								</p>
							</div>
							<div class="tp-item__cntR">
								<dl class="tp-item__cntR_item">
									<dt class="tp-item__cntR_ttl">
										ピュレスト（床置き・卓上タイプ）
									</dt>
									<dd class="tp-item__cntR_local">
										3本のフィルターで水をろ過し、きれいで安全なお水を作りますタンク式タイプもございます
									</dd>
								</dl>
							</div>
						</div>
					</li>
					<li class="tp-item__listItem">
						<div class="tp-item__ttl_wrap">
							<h3 class="tp-item__ttl">空気清浄機</h3>
							<p class="tp-item__ttlSub">
								快適な空間づくりには欠かせません！
							</p>
						</div>
						<div class="tp-item__cnt">
							<div class="tp-item__cntL">
								<div class="tp-item__img">
									<picture>
										<source
											media="(max-width:767px)"
											srcset="/asset/images/sanitary-rental/2x/img_sanitary-rental_item@2x.png"
										/>
										<img
											src="/asset/images/sanitary-rental/img_sanitary-rental_item.png"
											srcset="/asset/images/sanitary-rental/img_sanitary-rental_item.png 1x,/asset/images/sanitary-rental/2x/img_sanitary-rental_item@2x.png 2x"
											alt=""
											width="115"
											height="135"
											loading="lazy"
											class="imgauto"
										/>
									</picture>
								</div>
								<p class="tp-item__imgCap">
									<span class="tp-bglg"
										>店内の空気はいつもきれいにしていたいなぁ…</span
									>
								</p>
							</div>
							<div class="tp-item__cntR">
								<dl class="tp-item__cntR_item">
									<dt class="tp-item__cntR_ttl">
										空気清浄機
									</dt>
									<dd class="tp-item__cntR_local">
										空気清浄スピードと除菌能力がパワーアップ！
									</dd>
								</dl>
								<dl class="tp-item__cntR_item">
									<dt class="tp-item__cntR_ttl">
										クリンミスト
									</dt>
									<dd class="tp-item__cntR_local">
										超音波方式により空気除菌・消臭を同時に行います
									</dd>
								</dl>
							</div>
						</div>
					</li>
				</ul>
			</section>

			<section class="tp-want__section tp-sec tp-wrapper">
				<h2 class="tp-ttl __center">衛生用品レンタルのメリット</h2>
				<ul class="tp-check__list tp-wrapper__l tp-mgb__s">
					<li>
						新規開業であればマットやモップの<span class="tp-bglg"
							>無料のお試し期間あり</span
						>！
					</li>
					<li>
						マット、モップ、トイレ⽤品、グリスフィルター等<br
							class="pc"
						/>
						<span class="tp-bglg">様々な衛⽣⽤品・清掃⽤品</span
						>を取り揃えている！
					</li>
					<li>
						1現場につき1人の担当者を配置するため、<br class="pc" />
						現場で発生した<span class="tp-bglg"
							>トラブルに対して迅速な対応が可能</span
						>！
					</li>
				</ul>
				<p class="tp-want__thumb width-55">
					<picture>
						<source
							media="(max-width:767px)"
							srcset="/asset/images/sanitary-rental/2x/img_sanitary-rental_want@2x.png"
						/>
						<img
							src="/asset/images/sanitary-rental/img_sanitary-rental_want.png"
							srcset="/asset/images/sanitary-rental/img_sanitary-rental_want.png 1x,/asset/images/sanitary-rental/2x/img_sanitary-rental_want@2x.png 2x"
							alt=""
							width="418"
							height="330"
							loading="lazy"
							class="imgauto"
						/>
					</picture>
				</p>
			</section>

			<ContactArea />

			<section class="tp-frow__section tp-sec tp-wrapper">
				<h2 class="tp-ttl">
					<span class="tp-ttl__balloon__span">ご利用までの流れ</span>
				</h2>
				<div class="tp-flow__list">
					<article>
						<div class="tp-flow__listL">
							<p>STEP</p>
						</div>
						<div class="tp-frow__listR">
							<h3 class="Ttl">お問い合わせ</h3>
							<div class="Local">
								<p>
									新規開業の方であれば無料レンタル期間もございますので、少しでもご興味がある方はまずはお問い合わせください。担当スタッフがお電話にてヒアリングさせていただきます。
								</p>
							</div>
						</div>
					</article>
					<article>
						<div class="tp-flow__listL">
							<p>STEP</p>
						</div>
						<div class="tp-frow__listR">
							<h3 class="Ttl">提携先よりご連絡</h3>
							<div class="Local">
								<p>
									サービスの内容をご案内し、お客様に合ったプランをご提案します。検討する際のお見積り作成も対応可能です。
								</p>
							</div>
						</div>
					</article>
					<article>
						<div class="tp-flow__listL">
							<p>STEP</p>
						</div>
						<div class="tp-frow__listR">
							<h3 class="Ttl">無料レンタル開始</h3>
							<div class="Local">
								<p>
									必要な書類や、お客様情報など申込に必要な情報をお伝えいただいた後、無料レンタルを開始できます。
								</p>
							</div>
						</div>
					</article>
					<article>
						<div class="tp-flow__listL">
							<p>STEP</p>
						</div>
						<div class="tp-frow__listR">
							<h3 class="Ttl">ご契約の確認</h3>
							<div class="Local">
								<p>
									無料レンタル終了後にご契約の確認をさせていただきます。
								</p>
							</div>
						</div>
					</article>
					<article>
						<div class="tp-flow__listL">
							<p>STEP</p>
						</div>
						<div class="tp-frow__listR">
							<h3 class="Ttl">ご契約</h3>
							<div class="Local">
								<p>
									ご契約後、プランに応じたサービスを提供いたします。
								</p>
							</div>
						</div>
					</article>
				</div>
			</section>

			<section class="tp-faq__section tp-sec tp-wrapper">
				<h2 class="tp-ttl">
					<span class="tp-ttl__balloon__span">よくある質問</span>
				</h2>
				<div class="g-acodion">
					<dl>
						<dt>どんな商品のレンタルができますか？</dt>
						<dd>
							マット、モップ、トイレ用品、グリスフィルターなどです。<br
							/>
							詳しくは提携会社より説明させていただきます。
						</dd>
					</dl>
					<dl>
						<dt>レンタル料金はいくらですか？</dt>
						<dd>
							商品や使用数量、サイズ・面積によって異なるため、個別単位での見積となります。
						</dd>
					</dl>
					<dl>
						<dt>
							レンタルした用品をどのくらいの頻度で交換してくれますか？
						</dt>
						<dd>
							商品によっても異なりますが、例えばマットの場合は2週間に1回の交換が目安になっております。<br
							/>
							※ご要望に応じて前後させることもできますので、お気軽にご相談ください。
						</dd>
					</dl>
				</div>
			</section>

			<ContactArea />

			<section class="tp-others__section tp-sec tp-wrapper">
				<h2 class="tp-ttl">
					<span class="tp-ttl__balloon__span">その他関連サービス</span
					>
				</h2>
				<div class="tp-others__list">
					<article>
						<a href="/hygiene/shop_cleaning/">
							<p class="Thumb">
								<picture>
									<source
										media="(max-width:767px)"
										srcset="/asset/images/common/2x/img_kanren_service_shop_cleaning@2x.png"
									/>
									<img
										src="/asset/images/common/img_kanren_service_shop_cleaning.png"
										srcset="/asset/images/common/img_kanren_service_shop_cleaning.png 1x,/asset/images/common/2x/img_kanren_service_shop_cleaning@2x.png 2x"
										alt="飲食店清掃"
										width="304"
										height="231"
										loading="lazy"
										class="imgauto"
									/>
								</picture>
							</p>
							<h3 class="Ttl">飲食店清掃</h3>
						</a>
					</article>
					<article>
						<a href="/hygiene/waste-oil/">
							<p class="Thumb">
								<picture>
									<source
										media="(max-width:767px)"
										srcset="/asset/images/common/2x/img_kanren_service_waste-oil@2x.png"
									/>
									<img
										src="/asset/images/common/img_kanren_service_waste-oil.png"
										srcset="/asset/images/common/img_kanren_service_waste-oil.png 1x,/asset/images/common/2x/img_kanren_service_waste-oil@2x.png 2x"
										alt="廃油無料回収"
										width="304"
										height="231"
										loading="lazy"
										class="imgauto"
									/>
								</picture>
							</p>
							<h3 class="Ttl">廃油無料回収</h3>
						</a>
					</article>
					<article>
						<a href="/hygiene/garbage-collection/">
							<p class="Thumb">
								<picture>
									<source
										media="(max-width:767px)"
										srcset="/asset/images/common/2x/img_kanren_service_garbage-collection@2x.png"
									/>
									<img
										src="/asset/images/common/img_kanren_service_garbage-collection.png"
										srcset="/asset/images/common/img_kanren_service_garbage-collection.png 1x,/asset/images/common/2x/img_kanren_service_garbage-collection@2x.png 2x"
										alt="ゴミ回収"
										width="304"
										height="231"
										loading="lazy"
										class="imgauto"
									/>
								</picture>
							</p>
							<h3 class="Ttl">ゴミ回収</h3>
						</a>
					</article>
				</div>
			</section>
		</div>
	</article>
</Layout>

<style>
	@charset "utf-8";

	/*-----------------------
mv tp-front__section
-----------------------*/
	.tp-front__section {
		background-image: url(/asset/images/sanitary-rental/mv_sanitary-rental.jpg);
	}

	/*-----------------------
tp-item__section
-----------------------*/
	.tp-item__section .tp-item__listItem:not(:last-child) {
		margin-bottom: 40px;
	}
	.tp-item__section .tp-item__ttl_wrap {
		display: flex;
		margin-bottom: 22px;
	}
	.tp-item__section .tp-item__ttl {
		font-size: 20px;
		font-weight: bold;
		line-height: 1;
		color: var(--MAIN_WHITE);
		background: var(--MAIN_ORANGE);
		width: 202px;
		padding: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 2px solid var(--MAIN_ORANGE);
		border-right: none;
		border-radius: 25px 0 0 25px;
	}
	.tp-item__section .tp-item__ttlSub {
		font-size: 18px;
		font-weight: bold;
		line-height: 1.5;
		color: var(--MAIN_BLACK);
		width: calc(100% - 202px);
		padding: 23px 35px;
		border: 2px solid var(--MAIN_ORANGE);
		border-left: none;
		border-radius: 0 25px 25px 0;
	}
	.tp-item__section .tp-item__cnt {
		display: flex;
		justify-content: space-between;
	}
	.tp-item__section .tp-item__cntL {
		width: 30%;
		display: flex;
		gap: 5px;
	}
	.tp-item__section .tp-item__img {
		width: 52%;
		padding: 25px 0 0;
	}
	.tp-item__section .tp-item__imgCap {
		width: calc(48% - 5px);
		font-size: 14px;
		line-height: 1.57;
	}
	.tp-item__section .tp-item__cntR {
		width: 67%;
		display: flex;
		gap: 16px;
	}
	.tp-item__section .tp-item__cntR_item {
		background: #ffe6c6;
		padding: 30px 25px 25px;
		border-radius: 13px;
		width: 100%;
		min-width: calc((100% - 16px) / 2);
	}
	.tp-item__section .tp-item__cntR_ttl {
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 12px;
		line-height: 1.625;
	}
	.tp-item__section .tp-item__cntR_local {
		font-size: 16px;
		font-weight: 400;
		line-height: 1.625;
	}
	@media screen and (max-width: 767px) {
		.tp-item__section .tp-item__ttl_wrap {
			display: block;
			margin-bottom: 9px;
		}
		.tp-item__section .tp-item__ttl {
			font-size: 16px;
			width: 100%;
			padding: 9px;
			border: 2px solid var(--MAIN_ORANGE);
			border-radius: 25px 25px 0 0;
		}
		.tp-item__section .tp-item__ttlSub {
			font-size: 14px;
			width: 100%;
			padding: 10px 25px;
			border: 2px solid var(--MAIN_ORANGE);
			border-top: none;
			border-radius: 0 0 25px 25px;
		}
		.tp-item__section .tp-item__cnt {
			display: block;
		}
		.tp-item__section .tp-item__cntL {
			width: 100%;
			gap: 10px;
			justify-content: center;
			margin-bottom: 13px;
		}
		.tp-item__section .tp-item__img {
			width: 115px;
			max-width: 100%;
			padding: 0;
		}
		.tp-item__section .tp-item__imgCap {
			width: 106px;
			max-width: 100%;
		}
		.tp-item__section .tp-item__cntR {
			width: 100%;
			flex-direction: column;
			gap: 6px;
		}
		.tp-item__section .tp-item__cntR_item {
			padding: 20px 15px 15px;
			width: 100%;
		}
		.tp-item__section .tp-item__cntR_ttl {
			font-size: 14px;
			margin-bottom: 7px;
		}
		.tp-item__section .tp-item__cntR_local {
			font-size: 12px;
		}
	}

	/*-----------------------
ご利用までの流れ tp-frow__section
-----------------------*/
	.tp-frow__section {
		margin-top: 80px;
	}
	@media screen and (max-width: 767px) {
		.tp-frow__section {
			margin-top: 40px;
		}
	}
</style>
