---
import Layout from "../../../../layouts/Layout.astro";
import structuredDataMarkup from "../../../../data/data.json";
const markup = JSON.stringify(structuredDataMarkup.promotionalDesignJirei);
---

<Layout
    title="販促物デザイン事例一覧｜テンポスフードプレイス"
    description="飲食店の販促物の事例をご紹介いたします。店内、店外、来店促進別にチラシやポスター、ショップカード、看板などご覧いただけます。"
    pageUrl="/promotion/promotional_design/jirei/"
    ogimage="/asset/images/promotional_design/ogp_promotional_design.png"
    markup={markup}
>
    <article id="mainarea">
        <div class="tp-border-new sans">
            <nav class="tp-nav">
                <ol class="tp-nav__list flex">
                    <li><a href="/">トップページ</a></li>
                    <li><a href="/promotion/">販促デザイン</a></li>
                    <li>
                        <a href="/promotion/promotional_design/">販促物作成</a>
                    </li>
                    <li>販促物制作事例</li>
                </ol>
            </nav>
            <section class="btm-front__section promotionlist">
                <h1 class="btm-front__ttl font_m_plus">
                    <span>販促物制作事例</span>
                </h1>
            </section>

            <div class="btm-grid__wrapper">
                <h2>来店促進</h2>
                <ul class="btm-grid__list btm-wrapper btm-sec">
                    <li>
                        <a href="/promotion/promotional_design/jirei/flyer/">
                            <p class="btm-grid__list__thumb">
                                <img
                                    src="/asset/images/promotiondesign-jirei/jirei01.png"
                                    alt="チラシ"
                                    width="56"
                                    height="56"
                                    class="imgauto"
                                />
                            </p>
                            <div class="btm-grid__list__container">
                                <h3 class="btm-grid__list__caption">チラシ</h3>
                                <p class="btm-link">一覧を見る</p>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a
                            href="/promotion/promotional_design/jirei/stampcard/"
                        >
                            <p class="btm-grid__list__thumb">
                                <img
                                    src="/asset/images/promotiondesign-jirei/jirei04.png"
                                    alt="スタンプカード"
                                    width="56"
                                    height="56"
                                    class="imgauto"
                                />
                            </p>
                            <div class="btm-grid__list__container">
                                <h3 class="btm-grid__list__caption">
                                    スタンプカード
                                </h3>
                                <p class="btm-link">一覧を見る</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/promotion/promotional_design/jirei/coupon/">
                            <p class="btm-grid__list__thumb">
                                <img
                                    src="/asset/images/promotiondesign-jirei/jirei05.png"
                                    alt="クーポン券"
                                    width="56"
                                    height="56"
                                    class="imgauto"
                                />
                            </p>
                            <div class="btm-grid__list__container">
                                <h3 class="btm-grid__list__caption">
                                    クーポン券
                                </h3>
                                <p class="btm-link">一覧を見る</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/promotion/promotional_design/jirei/sticker/">
                            <p class="btm-grid__list__thumb">
                                <img
                                    src="/asset/images/promotiondesign-jirei/jirei06.png"
                                    alt="ステッカー"
                                    width="56"
                                    height="56"
                                    class="imgauto"
                                />
                            </p>
                            <div class="btm-grid__list__container">
                                <h3 class="btm-grid__list__caption">
                                    ステッカー
                                </h3>
                                <p class="btm-link">一覧を見る</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/promotion/promotional_design/jirei/poster/">
                            <p class="btm-grid__list__thumb">
                                <img
                                    src="/asset/images/promotiondesign-jirei/jirei10.png"
                                    alt="ポスター"
                                    width="56"
                                    height="56"
                                    class="imgauto"
                                />
                            </p>
                            <div class="btm-grid__list__container">
                                <h3 class="btm-grid__list__caption">
                                    ポスター
                                </h3>
                                <p class="btm-link">一覧を見る</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="btm-grid__wrapper">
                <h2>店内販促物</h2>
                <ul class="btm-grid__list btm-wrapper btm-sec">
                    <li>
                        <a
                            href="/promotion/promotional_design/jirei/business-card/"
                        >
                            <p class="btm-grid__list__thumb">
                                <img
                                    src="/asset/images/promotiondesign-jirei/jirei02.png"
                                    alt="名刺"
                                    width="56"
                                    height="56"
                                    class="imgauto"
                                />
                            </p>
                            <div class="btm-grid__list__container">
                                <h3 class="btm-grid__list__caption">名刺</h3>
                                <p class="btm-link">一覧を見る</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a
                            href="/promotion/promotional_design/jirei/shop-card/"
                        >
                            <p class="btm-grid__list__thumb">
                                <img
                                    src="/asset/images/promotiondesign-jirei/jirei03.png"
                                    alt="ショップカード"
                                    width="56"
                                    height="56"
                                    class="imgauto"
                                />
                            </p>
                            <div class="btm-grid__list__container">
                                <h3 class="btm-grid__list__caption">
                                    ショップカード
                                </h3>
                                <p class="btm-link">一覧を見る</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/promotion/promotional_design/jirei/menu/">
                            <p class="btm-grid__list__thumb">
                                <img
                                    src="/asset/images/promotiondesign-jirei/jirei07.png"
                                    alt="メニュー表"
                                    width="56"
                                    height="56"
                                    class="imgauto"
                                />
                            </p>
                            <div class="btm-grid__list__container">
                                <h3 class="btm-grid__list__caption">
                                    メニュー表
                                </h3>
                                <p class="btm-link">一覧を見る</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/promotion/promotional_design/jirei/leaflet/">
                            <p class="btm-grid__list__thumb">
                                <img
                                    src="/asset/images/promotiondesign-jirei/jirei08.png"
                                    alt="リーフレット"
                                    width="56"
                                    height="56"
                                    class="imgauto"
                                />
                            </p>
                            <div class="btm-grid__list__container">
                                <h3 class="btm-grid__list__caption">
                                    リーフレット
                                </h3>
                                <p class="btm-link">一覧を見る</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a
                            href="/promotion/promotional_design/jirei/floor-mat/"
                        >
                            <p class="btm-grid__list__thumb">
                                <img
                                    src="/asset/images/promotiondesign-jirei/jirei09.png"
                                    alt="フロアマット"
                                    width="56"
                                    height="56"
                                    class="imgauto"
                                />
                            </p>
                            <div class="btm-grid__list__container">
                                <h3 class="btm-grid__list__caption">
                                    フロアマット
                                </h3>
                                <p class="btm-link">一覧を見る</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/promotion/promotional_design/jirei/tag/">
                            <p class="btm-grid__list__thumb">
                                <img
                                    src="/asset/images/promotiondesign-jirei/jirei15.png"
                                    alt="商品タグ"
                                    width="56"
                                    height="56"
                                    class="imgauto"
                                />
                            </p>
                            <div class="btm-grid__list__container">
                                <h3 class="btm-grid__list__caption">
                                    商品タグ
                                </h3>
                                <p class="btm-link">一覧を見る</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="btm-grid__wrapper">
                <h2>店外販促物</h2>
                <ul class="btm-grid__list btm-wrapper btm-sec">
                    <li>
                        <a href="/promotion/promotional_design/jirei/nobori/">
                            <p class="btm-grid__list__thumb">
                                <img
                                    src="/asset/images/promotiondesign-jirei/jirei11.png"
                                    alt="のぼり"
                                    width="56"
                                    height="56"
                                    class="imgauto"
                                />
                            </p>
                            <div class="btm-grid__list__container">
                                <h3 class="btm-grid__list__caption">のぼり</h3>
                                <p class="btm-link">一覧を見る</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/promotion/promotional_design/jirei/tapestry/">
                            <p class="btm-grid__list__thumb">
                                <img
                                    src="/asset/images/promotiondesign-jirei/jirei12.png"
                                    alt="タペストリー"
                                    width="56"
                                    height="56"
                                    class="imgauto"
                                />
                            </p>
                            <div class="btm-grid__list__container">
                                <h3 class="btm-grid__list__caption">
                                    タペストリー
                                </h3>
                                <p class="btm-link">一覧を見る</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a
                            href="/promotion/promotional_design/jirei/signboard/"
                        >
                            <p class="btm-grid__list__thumb">
                                <img
                                    src="/asset/images/promotiondesign-jirei/jirei13.png"
                                    alt="看板"
                                    width="56"
                                    height="56"
                                    class="imgauto"
                                />
                            </p>
                            <div class="btm-grid__list__container">
                                <h3 class="btm-grid__list__caption">看板</h3>
                                <p class="btm-link">一覧を見る</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/promotion/promotional_design/jirei/goodwill/">
                            <p class="btm-grid__list__thumb">
                                <img
                                    src="/asset/images/promotiondesign-jirei/jirei14.png"
                                    alt="のれん"
                                    width="56"
                                    height="56"
                                    class="imgauto"
                                />
                            </p>
                            <div class="btm-grid__list__container">
                                <h3 class="btm-grid__list__caption">のれん</h3>
                                <p class="btm-link">一覧を見る</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="btm-grid__wrapper">
                <h2>その他</h2>
                <ul class="btm-grid__list btm-wrapper btm-sec">
                    <li>
                        <a href="/promotion/promotional_design/jirei/kakegami/">
                            <p class="btm-grid__list__thumb">
                                <img
                                    src="/asset/images/promotiondesign-jirei/jirei16.png"
                                    alt="掛紙"
                                    width="56"
                                    height="56"
                                    class="imgauto"
                                />
                            </p>
                            <div class="btm-grid__list__container">
                                <h3 class="btm-grid__list__caption">掛紙</h3>
                                <p class="btm-link">一覧を見る</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/promotion/promotional_design/jirei/other/">
                            <p class="btm-grid__list__thumb">
                                <img
                                    src="/asset/images/promotiondesign-jirei/jirei17.png"
                                    alt="その他"
                                    width="56"
                                    height="56"
                                    class="imgauto"
                                />
                            </p>
                            <div class="btm-grid__list__container">
                                <h3 class="btm-grid__list__caption">その他</h3>
                                <p class="btm-link">一覧を見る</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </article>
</Layout>
