---
import Layout from "../../../layouts/Layout.astro";
import ContactArea from "../../../components/common/ContactArea.astro";
import structuredDataMarkup from "../../../data/data.json";
const markup = JSON.stringify(structuredDataMarkup.mansekiReview);
---

<Layout
    title="業界最安値！高評価口コミを増やすツール｜満席レビュー"
    description="業界最安値の口コミ促進ツール『満席レビュー』で、高評価口コミを効率的に増やしましょう。アンケート機能を活用して、店舗改善のヒントも得られます。初期費用無料、月額3"
    pageUrl="/marketing/manseki-review/"
    ogimage="/asset/images/manseki-review/ogp_manseki-review.png"
    markup={markup}
>
    <article id="mainarea">
        <div class="tp-border sans">
            <nav class="tp-nav">
                <ol class="tp-nav__list flex">
                    <li><a href="/">トップページ</a></li>
                    <li><a href="/marketing/">集客</a></li>
                    <li>満席レビュー</li>
                </ol>
            </nav>
            <section class="tp-front__section">
                <h1 class="tp-front__ttl font_m_plus">
                    <span>満席レビュー</span>
                </h1>
                <p class="tp-front__caption">
                    口コミ促進ツールを使って<br />
                    アンケートをもとに高評価の口コミを効率的に増やしませんか？
                </p>
                <p class="tp-front__contact">
                    <a class="click_link_mail" href="/contact/?checked=56"
                        >お問い合わせはこちら</a
                    >
                </p>
            </section>

            <!-- こんなお悩みありませんか？ -->
            <section class="tp-intro__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __border">
                    <span></span>知っていますか？<span></span>
                </h2>
                <div class="tp_intro">
                    <div class="tp_intro-txt">
                        <p>
                            お店を探す際に“<span class="tp-txt-orange"
                                >7割以上</span
                            >”が「口コミ」を見ています。
                        </p><br />
                        <p>
                            悪い口コミや店舗情報が少ない場合、<br />
                            売上に大きく影響が出てしまいます。
                        </p><br />
                        <p>
                            そのため、<span class="tp-bglg"
                                >高評価の口コミを増やすことが大切</span
                            >です。
                        </p>
                    </div>
                    <div class="tp_intro-img">
                        <img
                            src="/asset/images/manseki-review/img_intro-iilust.png"
                            alt=""
                        />
                    </div>
                </div>
            </section>

            <section class="tp-worries__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">こんなお悩みはありませんか？</h2>
                <div class="tp-worries__contents">
                    <div class="tp-worries__item">
                        <p class="tp-worries__item-txt">
                            口コミの集め方が<br />わからない
                        </p>
                        <div class="tp-worries__item-thumb">
                            <picture>
                                <source
                                    srcset="/asset/images/manseki-review/img_problem01-sp.png"
                                    media="(max-width:767px)"
                                />
                                <img
                                    src="/asset/images/manseki-review/img_problem01.png"
                                    alt="口コミの集め方がわからない"
                                />
                            </picture>
                        </div>
                    </div>
                    <div class="tp-worries__item">
                        <p class="tp-worries__item-txt">
                            口コミの評価を<br />改善したい
                        </p>
                        <div class="tp-worries__item-thumb">
                            <picture>
                                <source
                                    srcset="/asset/images/manseki-review/img_problem02-sp.png"
                                    media="(max-width:767px)"
                                />
                                <img
                                    src="/asset/images/manseki-review/img_problem02.png"
                                    alt="口コミの集め方がわからない"
                                />
                            </picture>
                        </div>
                    </div>
                </div>
            </section>

            <!-- こんなお悩みありませんか？ -->
            <section class="tp-merit__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span"
                        >満席レビューなら解決できます！</span
                    >
                </h2>
                <div class="tp-merit-item">
                    <h2 class="tp-merit__ttl">
                        <div class="tp-merit__ttl-num">
                            メリット<span class="tp-merit__ttl-num-lg">1</span>
                        </div>
                        <div class="tp-merit__ttl-main">
                            高評価の口コミが自動で増える！
                        </div>
                    </h2>
                    <div class="tp-merit__txt">
                        アンケートで高評価した方のみ口コミ投稿画面へ誘導するため、<br
                        />
                        おのずと高評価の口コミが増えます！
                    </div>
                    <div class="tp-merit__img">
                        <img
                            src="/asset/images/manseki-review/img_solution01.png"
                            alt=""
                        />
                    </div>
                </div>
                <div class="tp-merit-item">
                    <h2 class="tp-merit__ttl">
                        <div class="tp-merit__ttl-num">
                            メリット<span class="tp-merit__ttl-num-lg">2</span>
                        </div>
                        <div class="tp-merit__ttl-main">
                            お客様の声から改善策が見つかる！
                        </div>
                    </h2>
                    <div class="tp-merit__txt">
                        アンケートをもとに店舗の改善点を集めることができます。<br
                        />
                        メニューや接客、清潔さなどの改善に活用できます。
                    </div>
                    <div class="tp-merit__img">
                        <img
                            src="/asset/images/manseki-review/img_solution02.png"
                            alt=""
                        />
                    </div>
                </div>
                <div class="tp-merit-item">
                    <h2 class="tp-merit__ttl">
                        <div class="tp-merit__ttl-num">
                            メリット<span class="tp-merit__ttl-num-lg">3</span>
                        </div>
                        <div class="tp-merit__ttl-main">
                            <div class="tp-merit__txt-merit3">
                                <div class="txt-upper">
                                    <span class="txt-lg"
                                        >業界最安値！月額9,900円(税込)</span
                                    >
                                </div>
                            </div>
                        </div>
                    </h2>
                    <div class="tp-merit__txt">
                        初期費用は無料で、月額9,900円で導入できます！<br />
                        アンケートの項目やデザインのカスタマイズは無料でできます。
                    </div>
                </div>
            </section>

            <ContactArea />

            <!-- 仕組み -->
            <section class="tp-system__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span"
                        >高評価の口コミを<br class="sp" />獲得できる仕組み</span
                    >
                </h2>
                <p class="tp-system-txt">
                    スマホによるアンケート回答の結果で、高評価と低評価を自動で判別し、<br
                    />
                    ページを分岐させることで、高評価の口コミを獲得しやすいようにします。
                </p>
                <div class="tp-system-img">
                    <picture>
                        <source
                            srcset="/asset/images/manseki-review/img_system-sp.png"
                            media="(max-width:767px)"
                        />
                        <img
                            src="/asset/images/manseki-review/img_system.png"
                            alt=""
                        />
                    </picture>
                </div>
            </section>

            <!-- ご提供サービス一覧 -->
            <section class="tp-service__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">ご提供サービス一覧</span
                    >
                </h2>
                <div class="tp-service__list">
                    <div class="tp-service__item">
                        <div class="tp-service__item-icon">
                            <img
                                src="/asset/images/manseki-review/icon_service01.png"
                                alt=""
                            />
                        </div>
                        <h3>アンケート作成</h3>
                        <p class="tp-service__item-txt">
                            ご要望に応じてアンケート<br />フォームを作成します。
                        </p>
                    </div>
                    <div class="tp-service__item">
                        <div class="tp-service__item-icon">
                            <img
                                src="/asset/images/manseki-review/icon_service02.png"
                                alt=""
                            />
                        </div>
                        <h3>配布用カード作成</h3>
                        <p class="tp-service__item-txt">
                            アンケートの告知に必要な<br class="pc" />配布用<br
                                class="sp"
                            />カードを100枚ご提供します。
                        </p>
                    </div>
                    <div class="tp-service__item">
                        <div class="tp-service__item-icon">
                            <img
                                src="/asset/images/manseki-review/icon_service03.png"
                                alt=""
                            />
                        </div>
                        <h3>収集データの共有</h3>
                        <p class="tp-service__item-txt">
                            アンケート結果を集計し、<br />
                            毎月データで共有します。
                        </p>
                    </div>
                </div>
            </section>

            <!-- 料金 -->
            <section class="tp-price__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">ご利用料金</span>
                </h2>
                <div class="tp-price__price">
                    <span class="tp-price_sm initialcost"> 初期費用 </span>
                    <span class="tp-price_xl">0</span>
                    <span class="tp-price_md"> 円 </span>
                </div>
                <div class="tp-price__price-below__wrapper">
                    <div class="tp-price__price-normal">
                        月額<span class="txt-lg">9,900</span><span
                            class="txt-sm">円(税込)</span
                        >
                    </div>
                </div>
            </section>

            <!-- ご利用までの流れ -->
            <section class="tp-frow__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">ご利用までの流れ</span>
                </h2>
                <div class="tp-flow__list">
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">ご依頼・お問い合わせ</h3>
                            <div class="Local">
                                <p>
                                    お問い合わせフォームよりご連絡ください。<br
                                    />
                                    担当者よりご連絡をさせていただきます。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">お申し込み・お支払</h3>
                            <div class="Local">
                                <p>
                                    お電話で決定した内容に問題がない場合は、正式にお申し込みをお願いいたします。<br
                                    />
                                    ヒアリングフォームをお送りします。<br />
                                    記入していただくとそのあとのお打ち合わせがスムーズにできます。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">お打ち合わせ・ヒアリング</h3>
                            <div class="Local">
                                <p>
                                    アンケートと配布用カードの内容やデザインなどのご要望をお聞かせください。<br
                                    />
                                    ※メールか LINE 、お電話でのお打ち合わせとなります。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">アンケート・配布用カード作成</h3>
                            <div class="Local">
                                <p>
                                    ヒアリングした内容をもとにアンケートと配布用カードを作成いたします。<br
                                    />
                                    完成後に内容をご確認いただきます。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">アンケートの実施</h3>
                            <div class="Local">
                                <p>
                                    完成品をお渡し後に店舗にてアンケートの実施。<br
                                    />
                                    アンケート内容の変更やご利用方法が不明な場合は、<br
                                    />
                                    お気軽にお問い合わせください。
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>

            <!-- よくある質問 -->
            <section class="tp-faq__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">よくある質問</span>
                </h2>
                <div class="g-acodion">
                    <dl>
                        <dt>飲食店以外でも申し込めますか?</dt>
                        <dd>
                            もちろん可能です。どんな業種・業態の方でもお申込みいただけます。
                        </dd>
                    </dl>
                    <dl>
                        <dt>配布用カード以外も作成してもらえますか?</dt>
                        <dd>
                            別途費用をいただければ、卓上POPなどの作成も可能です。<br
                            />
                            詳しくは、お問い合わせください。
                        </dd>
                    </dl>
                    <dl>
                        <dt>複数店舗でも申し込めますか？</dt>
                        <dd>
                            店舗分の費用がかかりますが、お申込みいただけます。<br
                            />
                            お気軽にご相談ください。
                        </dd>
                    </dl>
                    <dl>
                        <dt>導入したら何もしなくても口コミは増えますか？</dt>
                        <dd>
                            満席レビューは、あくまでも口コミの促進ツールとなっており、<br
                            />
                            口コミ獲得を補償するものではございません。<br />
                            お客様からより多くの口コミを書いていただくためには、<br
                            />
                            積極的に配布用カードからアンケートにご回答いただく必要があります。
                        </dd>
                    </dl>
                </div>
            </section>

            <ContactArea />

            <!-- その他関連サービス -->
            <section class="tp-others__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">その他関連サービス</span
                    >
                </h2>
                <div class="tp-others__list">
                    <article>
                        <a href="/marketing/homepage/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_homepage@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_homepage.png"
                                        srcset="/asset/images/common/img_kanren_service_homepage.png 1x,/asset/images/common/2x/img_kanren_service_homepage@2x.png 2x"
                                        alt="SNS運用代行"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">
                                飲食店<br />
                                ホームページ作成
                            </h3>
                        </a>
                    </article>
                    <article>
                        <a href="/marketing/gmb.html">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_gmb@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_gmb.png"
                                        srcset="/asset/images/common/img_kanren_service_gmb.png 1x,/asset/images/common/2x/img_kanren_service_gmb@2x.png 2x"
                                        alt="SNS運用代行"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">
                                Googleビジネス<br />
                                プロフィール<br />
                                運用サポート
                            </h3>
                        </a>
                    </article>
                    <!--<article>
							<a href="/marketing/sns_update.html">
								<p class="Thumb">
									<picture>
										<source media="(max-width:767px)"
											srcset="/asset/images/common/2x/img_kanren_service_sns_update@2x.png">
										<img src="/asset/images/common/img_kanren_service_sns_update.png"
											srcset="/asset/images/common/img_kanren_service_sns_update.png 1x,/asset/images/common/2x/img_kanren_service_sns_update@2x.png 2x"
											alt="SNS運用サポート" width="304" height="231" loading="lazy" class="imgauto">
									</picture>
								</p>
								<h3 class="Ttl">
									SNS運用サポート
								</h3>
							</a>
						</article>-->
                </div>
            </section>
        </div>
    </article>
</Layout>

<style>
    @charset "UTF-8";
    /*-----------------------
mv tp-front__section
-----------------------*/
    .tp-front__section {
        background-image: url(/asset/images/manseki-review/mv-manseki-review.png);
    }

    .tp-front__caption {
        text-shadow: 1px 1px 3px rgb(255, 255, 255);
    }

    /* ====================================== 
tp-design__section
=========================================
*/
    .tp-design__thumb {
        width: 100%;
        justify-content: flex-end;
        margin-top: 30px;
    }

    .tp-design__section .img-illust {
        height: 280px;
        width: auto;
        margin-left: 20px;
    }

    @media screen and (max-width: 767px) {
        .tp-design__thumb {
            max-width: -moz-fit-content;
            max-width: fit-content;
            width: 100%;
        }
        .tp-design__section .img-illust {
            height: 150px;
        }
    }
    /*-----------------------
知っていますか？ tp-intro__section
-----------------------*/
    @media (max-width: 767px) {
        section.tp-intro__section.tp-sec.tp-wrapper {
            margin-bottom: 60px;
        }
    }
    section.tp-intro__section.tp-sec.tp-wrapper div.tp_intro {
        display: flex;
        gap: 20px;
    }
    @media (max-width: 767px) {
        section.tp-intro__section.tp-sec.tp-wrapper div.tp_intro {
            flex-direction: column;
            align-items: center;
        }
    }
    section.tp-intro__section.tp-sec.tp-wrapper div.tp_intro div.tp_intro-txt {
        font-size: 20px;
        font-weight: bold;
    }
    @media (max-width: 767px) {
        section.tp-intro__section.tp-sec.tp-wrapper
            div.tp_intro
            div.tp_intro-txt {
            font-size: 15px;
        }
    }
    section.tp-intro__section.tp-sec.tp-wrapper
        div.tp_intro
        div.tp_intro-txt
        p
        span.tp-txt-orange {
        color: var(--MAIN_ORANGE);
    }
    section.tp-intro__section.tp-sec.tp-wrapper div.tp_intro div.tp_intro-img {
        width: 160px;
    }
    /*-----------------------
こんなお悩みありませんか？ tp-worries__section
-----------------------*/
    section.tp-worries__section.tp-sec.tp-wrapper h2.tp-ttl {
        text-align: center;
    }
    section.tp-worries__section.tp-sec.tp-wrapper div.tp-worries__contents {
        display: flex;
        justify-content: center;
        gap: 40px;
    }
    @media (max-width: 767px) {
        section.tp-worries__section.tp-sec.tp-wrapper div.tp-worries__contents {
            gap: 10px;
        }
    }
    section.tp-worries__section.tp-sec.tp-wrapper
        div.tp-worries__contents
        div.tp-worries__item {
        width: 250px;
        position: relative;
    }
    section.tp-worries__section.tp-sec.tp-wrapper
        div.tp-worries__contents
        div.tp-worries__item
        .tp-worries__item-txt {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 18px;
        font-weight: bold;
        width: 100%;
        text-align: center;
        line-height: 1.5;
    }
    @media (max-width: 767px) {
        section.tp-worries__section.tp-sec.tp-wrapper
            div.tp-worries__contents
            div.tp-worries__item
            .tp-worries__item-txt {
            top: 20px;
            font-size: 15px;
            line-height: 1.25;
        }
    }
    /*-----------------------
メリット tp-merit__section
-----------------------*/
    .tp-merit-item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
    @media (max-width: 768px) {
        .tp-merit-item {
            margin-bottom: 60px;
        }
    }

    .tp-merit-item:last-child {
        margin-bottom: 0;
        margin-top: 70px;
    }
    .tp-merit-item:last-child .tp-merit__ttl {
        margin-bottom: 0;
    }

    .tp-merit__ttl {
        color: #ffc100;
        text-align: center;
        font-weight: bold;
        position: relative;
        margin-bottom: 40px;
    }

    .tp-merit__ttl-num {
        font-size: 16px;
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        left: -130px;
        transform: translateY(-50%);
    }

    .tp-merit-item:first-child .tp-merit__ttl .tp-merit__ttl-num {
        top: 33%;
    }

    .tp-merit-item:last-child .tp-merit__ttl-num {
        left: -150px;
        top: 9%;
    }
    @media (max-width: 768px) {
        .tp-merit-item:last-child .tp-merit__ttl-num {
            left: 50%;
            top: -90%;
            transform: translateX(-50%);
        }
    }

    .tp-merit__ttl-num-lg {
        font-size: 60px;
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
            "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    }

    .tp-merit__ttl-main {
        font-size: 26px;
        color: var(--MAIN_ORANGE);
    }

    .tp-merit__ttl-main-sm {
        font-size: 14px;
        display: block;
    }

    .tp-merit__txt {
        margin-bottom: 40px;
        text-align: left;
    }

    .tp-merit__txt-merit3 div.txt-upper {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        position: relative;
        margin-bottom: 40px;
        line-height: 1.25;
        /* &::before {
    content: '';
    position: absolute;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--MAIN_ORANGE);
    height: calc(tan(60deg) * 15px / 2);
    width: 35px;
    clip-path: polygon(0 0, 100% 0, 50% 100%);

    @media(max-width:768px) {
      bottom: -20px;
      height: calc(tan(60deg) * 15px / 2);
      width: 35px;
    }
  }*/
    }
    @media (max-width: 768px) {
        .tp-merit__txt-merit3 div.txt-upper {
            font-size: 13px;
            margin-bottom: 25px;
        }
    }
    .tp-merit__txt-merit3 div.txt-upper .orange {
        color: var(--MAIN_ORANGE);
    }
    .tp-merit__txt-merit3 div.txt-upper span.txt-lg {
        font-size: 26px;
    }
    @media (max-width: 768px) {
        .tp-merit__txt-merit3 div.txt-upper span.txt-lg {
            font-size: 20px;
        }
    }
    .tp-merit__txt-merit3 div.txt-upper span.txt-sm {
        font-size: 15px;
    }
    @media (max-width: 768px) {
        .tp-merit__txt-merit3 div.txt-upper span.txt-sm {
            font-size: 13px;
        }
    }
    .tp-merit__txt-merit3 div.txt-below {
        font-size: 26px;
        text-align: center;
        font-weight: bold;
        color: var(--MAIN_ORANGE);
        line-height: 1.25;
    }
    @media (max-width: 768px) {
        .tp-merit__txt-merit3 div.txt-below {
            font-size: 20px;
            letter-spacing: -0.5px;
        }
    }
    .tp-merit__txt-merit3 div.txt-below .txt-hd {
        display: block;
        font-size: 20px;
        color: #000;
        margin-bottom: 5px;
    }
    @media (max-width: 768px) {
        .tp-merit__txt-merit3 div.txt-below .txt-hd {
            font-size: 16px;
        }
    }
    .tp-merit__txt-merit3 div.txt-below span span.txt-sm {
        font-size: 20px;
    }
    @media (max-width: 768px) {
        .tp-merit__txt-merit3 div.txt-below span span.txt-sm {
            font-size: 11px;
        }
    }
    .tp-merit__txt-merit3 div.txt-below span.txt-xs {
        font-size: 15px;
    }
    @media (max-width: 768px) {
        .tp-merit__txt-merit3 div.txt-below span.txt-xs {
            font-size: 13px;
        }
    }
    .tp-merit__txt-merit3 div.txt-below span.txt-black {
        font-size: 20px;
        color: #000;
    }
    @media (max-width: 768px) {
        .tp-merit__txt-merit3 div.txt-below span.txt-black {
            font-size: 13px;
            transform: translateX(-12px);
            display: inline-block;
        }
    }

    .tp-merit__img {
        width: 420px;
        margin-inline: auto;
    }

    .tp-merit__warning {
        font-size: 12px;
        margin-top: 40px;
    }
    .tp-merit__warning li {
        position: relative;
        display: flex;
        align-items: flex-start;
    }
    .tp-merit__warning li::before {
        content: "※";
        font-size: 12px;
    }

    @media screen and (max-width: 768px) {
        .tp-merit__section .tp-ttl {
            margin-bottom: 60px !important;
            font-size: 18px;
        }
        .tp-merit__section .tp-ttl .tp-ttl__balloon__span {
            padding: 2px 0.8em;
        }
        .tp-merit__ttl {
            margin-bottom: 20px;
        }
        .tp-merit__ttl-main {
            font-size: 18px;
            color: var(--MAIN_ORANGE);
            text-align: left;
            margin-top: 10px;
        }
        .tp-merit__ttl-num {
            top: -50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .tp-merit-item:first-child .tp-merit__ttl .tp-merit__ttl-num {
            top: -33%;
        }
        .tp-merit__ttl-num-lg {
            font-size: 40px;
        }
        .tp-merit__img {
            width: 90%;
            margin-inline: auto;
        }
    }
    /*-----------------------
高評価の口コミを獲得できる仕組み tp-system__section
-----------------------*/
    section.tp-system__section.tp-sec.tp-wrapper {
        margin-top: 80px;
    }
    section.tp-system__section.tp-sec.tp-wrapper p.tp-system-txt {
        text-align: center;
        margin-bottom: 30px;
    }
    section.tp-system__section.tp-sec.tp-wrapper div.tp-system-img {
        border: 2px solid var(--MAIN_ORANGE);
        border-radius: 25px;
        padding: 25px 10px 40px;
    }
    /*-----------------------
ご提供サービス一覧 tp-service__section
-----------------------*/
    section.tp-service__section.tp-sec.tp-wrapper div.tp-service__list {
        display: flex;
        gap: 10px;
    }
    @media (max-width: 767px) {
        section.tp-service__section.tp-sec.tp-wrapper div.tp-service__list {
            flex-direction: column;
        }
    }
    section.tp-service__section.tp-sec.tp-wrapper
        div.tp-service__list
        div.tp-service__item {
        width: 33%;
        border: 2px solid var(--MAIN_ORANGE);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 15px 20px;
    }
    @media (max-width: 767px) {
        section.tp-service__section.tp-sec.tp-wrapper
            div.tp-service__list
            div.tp-service__item {
            width: 100%;
        }
    }
    section.tp-service__section.tp-sec.tp-wrapper
        div.tp-service__list
        div.tp-service__item
        div.tp-service__item-icon {
        width: 90px;
        margin-bottom: 30px;
    }
    section.tp-service__section.tp-sec.tp-wrapper
        div.tp-service__list
        div.tp-service__item
        h3 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    section.tp-service__section.tp-sec.tp-wrapper
        div.tp-service__list
        div.tp-service__item
        p.tp-service__item-txt {
        font-size: 16px;
    }

    /*-----------------------
ご利用料金 tp-price__section
-----------------------*/
    section.tp-price__section.tp-sec.tp-wrapper .tp-ttl {
        margin-bottom: 0;
    }
    section.tp-price__section.tp-sec.tp-wrapper .tp-price__price {
        color: var(--MAIN_ORANGE);
        text-align: center;
        line-height: 1.25;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    section.tp-price__section.tp-sec.tp-wrapper .tp-price__price:nth-child(2) {
        transform: translateX(-27px);
    }
    @media (max-width: 767px) {
        section.tp-price__section.tp-sec.tp-wrapper
            .tp-price__price:nth-child(2) {
            transform: translateX(-30px);
        }
    }
    section.tp-price__section.tp-sec.tp-wrapper .tp-price__price:nth-child(3) {
        margin-bottom: 15px;
        transform: translateX(30px);
    }
    @media (max-width: 767px) {
        section.tp-price__section.tp-sec.tp-wrapper
            .tp-price__price:nth-child(3) {
            transform: translateX(17px);
            margin-bottom: 10px;
        }
    }
    section.tp-price__section.tp-sec.tp-wrapper .tp-price__price .tp-price_sm {
        font-size: 20px;
        font-weight: bold;
        margin-right: 13px;
    }
    @media (max-width: 767px) {
        section.tp-price__section.tp-sec.tp-wrapper
            .tp-price__price
            .tp-price_sm {
            font-size: 15px;
            margin-right: 10px;
        }
    }
    @media (max-width: 767px) {
        section.tp-price__section.tp-sec.tp-wrapper
            .tp-price__price
            .tp-price_sm.initialcost {
            font-size: 20px;
            margin-right: 4px;
        }
    }
    section.tp-price__section.tp-sec.tp-wrapper .tp-price__price .tp-price_md {
        font-size: 30px;
        font-weight: bold;
    }
    @media (max-width: 767px) {
        section.tp-price__section.tp-sec.tp-wrapper
            .tp-price__price
            .tp-price_md {
            font-size: 15px;
        }
    }
    section.tp-price__section.tp-sec.tp-wrapper .tp-price__price .tp-price_lg {
        font-size: 75px;
        font-weight: bold;
        transform: translateY(15px);
        margin-right: 5px;
    }
    @media (max-width: 767px) {
        section.tp-price__section.tp-sec.tp-wrapper
            .tp-price__price
            .tp-price_lg {
            font-size: 45px;
            transform: translateY(10px);
        }
    }
    section.tp-price__section.tp-sec.tp-wrapper .tp-price__price .tp-price_xl {
        font-size: 90px;
        font-weight: bold;
        transform: translateY(25px);
        margin-right: 5px;
    }
    @media (max-width: 767px) {
        section.tp-price__section.tp-sec.tp-wrapper
            .tp-price__price
            .tp-price_xl {
            font-size: 60px;
            transform: translateY(20px);
        }
    }
    section.tp-price__section.tp-sec.tp-wrapper
        .tp-price__price-below__wrapper {
        position: relative;
        max-width: 450px;
        margin: 50px auto 0;
        line-height: 1;
    }
    @media (max-width: 768px) {
        section.tp-price__section.tp-sec.tp-wrapper
            .tp-price__price-below__wrapper {
            margin: 40px auto 0;
            line-height: 1.5;
        }
    }
    section.tp-price__section.tp-sec.tp-wrapper
        .tp-price__price-below__wrapper
        .tp-price__price-normal {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        position: relative;
        color: var(--MAIN_ORANGE);
    }
    @media (max-width: 767px) {
        section.tp-price__section.tp-sec.tp-wrapper
            .tp-price__price-below__wrapper
            .tp-price__price-normal {
            transform: translateX(3px);
            font-size: 20px;
        }
    }
    section.tp-price__section.tp-sec.tp-wrapper
        .tp-price__price-below__wrapper
        .tp-price__price-normal
        .txt-lg {
        font-size: 46px;
    }
    section.tp-price__section.tp-sec.tp-wrapper
        .tp-price__price-below__wrapper
        .tp-price__price-normal
        .txt-sm {
        font-size: 25px;
    }
    @media (max-width: 767px) {
        section.tp-price__section.tp-sec.tp-wrapper
            .tp-price__price-below__wrapper
            .tp-price__price-normal
            .txt-sm {
            font-size: 15px;
        }
    }
    section.tp-price__section.tp-sec.tp-wrapper
        .tp-price__price-below__wrapper
        .tp-price__price
        .tp-price_sm {
        transform: translateY(-3px);
        font-size: 15px;
    }
    @media (max-width: 768px) {
        section.tp-price__section.tp-sec.tp-wrapper
            .tp-price__price-below__wrapper
            .tp-price__price
            .tp-price_sm {
            transform: translateY(0px);
        }
    }
    section.tp-price__section.tp-sec.tp-wrapper .tp-text__center {
        margin-top: 30px;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }
    @media (max-width: 767px) {
        section.tp-price__section.tp-sec.tp-wrapper .tp-text__center {
            font-size: 15px;
            margin-top: 0px;
        }
    }
    section.tp-price__section.tp-sec.tp-wrapper .tp-merit__warning {
        margin: 20px auto 0;
        width: -moz-fit-content;
        width: fit-content;
    }
    @media (max-width: 767px) {
        section.tp-price__section.tp-sec.tp-wrapper .tp-merit__warning {
            margin: 20px auto 0;
        }
    }
    section.tp-price__section.tp-sec.tp-wrapper .tp-merit__warning li {
        position: relative;
        display: flex;
        align-items: flex-start;
    }
    section.tp-price__section.tp-sec.tp-wrapper .tp-merit__warning li::before {
        content: "※";
        font-size: 12px;
    }

    /*-----------------------
よくある質問 tp-faq__section
-----------------------*/
    .tp-faq__section .txt_link {
        text-decoration: underline;
    }

    /*-----------------------
バナー
-----------------------*/
    .bnr_template {
        background: url("/asset/images//marketing/img_bnr_template_bg.png")
            center center/cover no-repeat;
        max-width: 735px;
        height: 215px;
        margin: 0 auto 60px;
        position: relative;
        border-radius: 15px;
    }

    .bnr_template::before {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        background: url("/asset/images/marketing/img_bnr_template_fukidashi.png")
            center center/cover no-repeat;
        width: 144px;
        height: 144px;
    }

    .bnr_template_txt {
        position: absolute;
        top: 35px;
        right: 120px;
    }

    .bnr_template_txt-sm {
        font-size: 22px;
        color: #fff;
        text-align: center;
    }

    .bnr_template_txt-lg {
        font-size: 39px;
        color: #fff;
        text-align: center;
        font-weight: bold;
        text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    }

    .bnr_template_button {
        display: block;
        width: 290px;
        margin: 10px auto 0;
        text-align: center;
        color: #fff;
        position: relative;
        background: #d79920;
        border-radius: 50px;
        padding: 10px 20px 10px 0;
        transition: all 0.3s;
        font-size: 18px;
    }

    .bnr_template_button:hover {
        background-color: #f5c360;
    }

    .bnr_template_button::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        background: url("/asset/images/marketing/img_bnr_button_arrow.png") ce
            nter center/cover no-repeat;
        width: 25px;
        height: 25px;
    }

    .u-mobile {
        display: none;
    }

    @media screen and (max-width: 768px) {
        .bnr_template {
            background: url("/asset/images//marketing/img_bnr_template_bg_sp.png")
                center center/contain no-repeat;
            width: 305px;
            height: 305px;
            margin: 0 auto 60px;
            position: relative;
        }
        .bnr_template::before {
            content: "";
            position: absolute;
            top: 15px;
            left: 50%;
            transform: translateX(-50%);
            background: url("/asset/images/marketing/img_bnr_template_fukidashi_sp.png")
                center center/cover no-repeat;
            width: 90px;
            height: 60px;
        }
        .bnr_template_txt {
            position: relative;
            top: 0;
            right: 0;
            padding-top: 80px;
        }
        .bnr_template_txt-sm {
            font-size: 14px;
            color: #fff;
            text-align: center;
        }
        .bnr_template_txt-lg {
            font-size: 32px;
            color: #fff;
            text-align: center;
            font-weight: bold;
            text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
        }
        .bnr_template_button {
            display: block;
            width: 220px;
            margin: 20px auto 0;
            text-align: center;
            color: #fff;
            position: relative;
            background: #d79920;
            border-radius: 50px;
            padding: 10px 20px 10px 0;
            transition: all 0.3s;
            font-size: 14px;
        }
        .bnr_template_button:hover {
            background-color: #f5c360;
        }
        .bnr_template_button::before {
            content: "";
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            background: url("/asset/images/marketing/img_bnr_button_arrow.png")
                center center/cover no-repeat;
            width: 25px;
            height: 25px;
        }
        .u-mobile {
            display: block;
        }
    } /*# sourceMappingURL=manseki-review.css.map */
</style>
