@charset "UTF-8";

/*-----------------------
mv tp-front__section
-----------------------*/
.tp-front__section {
  background-image: url(../images/garbage-collection/mv-garbage-collection.jpg);
}

/*-----------------------
tp-worries__section
-----------------------*/
.tp-check__list > li {
  display: block;
}

/*-----------------------
tp-order__section
-----------------------*/
.tp-order__section .tp-local {
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .tp-order__section .tp-scroll__container img {
    max-width: 560px;
  }
}

/*-----------------------
 contactarea
-----------------------*/
.contactarea:first-of-type {
  margin-bottom: 80px;
}

/*-----------------------
サービスの特徴 tp-point__section
-----------------------*/

.tp-point__section .tp-point__list > li:nth-child(1) > .Ttl::before {
  background: url(../images/common/icon_point32.png) no-repeat center center/contain;
}

.tp-point__section .tp-point__list > li:nth-child(2) > .Ttl::before {
  background: url(../images/common/icon_point40.png) no-repeat center center/contain;
}

.tp-point__section .tp-point__list > li:nth-child(3) > .Ttl::before {
  background: url(../images/common/icon_point41.png) no-repeat center center/contain;
}

.tp-point__section .tp-point__list > li:nth-child(4) > .Ttl::before {
  background: url(../images/common/icon_point42.png) no-repeat center center/contain;
}

.tp-point__section .tp-point__list > li:nth-child(5) > .Ttl::before {
  background: url(../images/common/icon_point43.png) no-repeat center center/contain;
}

.tp-point__section .tp-point__list > li:nth-child(6) > .Ttl::before {
  background: url(../images/common/icon_point44.png) no-repeat center center/contain;
}
/*-----------------------
事例紹介 tp-example__section
-----------------------*/
.tp-example__section .tp-example__cnt {
  border: 1px solid var(--CONTENTS_BORDER_GRAY);
  border-radius: 20px;
}
.tp-example__section .tp-example__cnt:not(:last-of-type) {
  margin-bottom: 20px;
}
.tp-example__section .tp-example__cntTtl__wrap {
  padding: 20px 150px 9px 35px;
  background: var(--MAIN_YELLOW);
  border-radius: 18px 18px 0 0;
  position: relative;
}
.tp-example__section .tp-example__cntTtl {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5;
}
.tp-example__section .tp-example__cntTtl .Label {
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  color: var(--MAIN_WHITE);
  padding: 7px 20px;
  background: #be0000;
  margin-right: 17px;
}
.tp-example__section .tp-example__cntTtl .Label.__gray {
  background: #3c3c3c;
}
.tp-example__section .tp-example__cntTtl__wrap .Seats {
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  position: absolute;
  right: 35px;
  bottom: 15px;
}
.tp-example__section .tp-example__cntBottom {
  display: flex;
  justify-content: space-between;
  padding: 30px 35px;
}
.tp-example__section .tp-example__cntImg {
  width: 47%;
}
.tp-example__section .tp-example__cntImg p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
.tp-example__section .tp-example__cntImg .cntIcn {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}
.tp-example__section .tp-example__cntImg .cntIcn img {
  width: 47%;
}
.tp-example__section .tp-example__cntTxt {
  width: 47%;
}
.tp-example__section .tp-example__cntTxt .beforeBox,
.tp-example__section .tp-example__cntTxt .afterBox {
  padding: 10px 0 35px 0;
  border-radius: 10px;
  position: relative;
}
.tp-example__section .tp-example__cntTxt .beforeBox {
  background: #f1f1f1;
  margin-bottom: 30px;
}
.tp-example__section .tp-example__cntTxt .beforeBox .ttl {
  border-bottom: 1px solid #3c3c3c;
  text-indent: 1rem;
}
.tp-example__section .tp-example__cntTxt .afterBox {
  background: #ffe8c8;
}
.tp-example__section .tp-example__cntTxt .afterBox .ttl {
  border-bottom: 1px solid #ff8000;
  color: #ff8000;
  text-indent: 1rem;
}
.tp-example__section .tp-example__cntTxt .beforeBox  .listText,
.tp-example__section .tp-example__cntTxt .afterBox  .listText {
  margin-top: 1rem;
}
.tp-example__section .tp-example__cntTxt .beforeBox  .listText li,
.tp-example__section .tp-example__cntTxt .afterBox  .listText li {
  list-style-type: disc;
  margin-left: 3rem;
  line-height: 1.5rem;
}
.tp-example__section .tp-example__cntTxt .beforeBox::before {
  background-color: var(--MAIN_ORANGE);
  bottom: 10px;
  content: "";
  display: block;
  height: 1.9rem;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
  width: 3rem;
}
.tp-example__section .tp-example__cntTxt .beforeBox::after {
  border-color: var(--MAIN_ORANGE) transparent transparent transparent;
  border-style: solid;
  border-width: 20px 40px 0 40px;
  bottom: -1.2rem;
  content: "";
  display: block;
  height: 0;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
  width: 0;
  z-index: 100;
}

@media screen and (max-width: 767px) {
  .tp-example__section .tp-example__cntTxt .beforeBox  .listText li,
  .tp-example__section .tp-example__cntTxt .afterBox  .listText li {
    list-style-type: disc;
    margin-left: 2rem;
    margin-right: 1rem;
    line-height: 1.5rem;
  }
}


@media screen and (max-width: 767px) {
  .tp-example__section .tp-example__cntTtl__wrap {
    padding: 20px 15px 15px;
  }
  .tp-example__section .tp-example__cntTtl {
    font-size: 26px;
  }
  .tp-example__section .tp-example__cntTtl .Ttl {
    width: 100%;
  }
  .tp-example__section .tp-example__cntTtl__wrap .Seats {
    right: 15px;
    top: 35px;
    bottom: unset;
  }
  .tp-example__section .tp-example__cntBottom {
    display: block;
    padding: 30px 25px 40px;
  }
  .tp-example__section .tp-example__cntImg {
    width: 100%;
    margin-bottom: 30px;
  }
  .tp-example__section .tp-example__cntTxt {
    width: 100%;
    margin-right: 0;
  }
}
/* ====================================== 
tp-order__section
=========================================
*/

.tp-order__section .order-list {
  list-style-type: disc;
  display: grid;
  grid-template-columns: 50% 50%;
  width: clamp(200px, 45vw, 650px);
  margin: 0 auto 50px;
  font-size: clamp(16px, 1.2vw, 18px);
}
.tp-order__section .order-list li {
  list-style-type: disc;
  margin-left: 2rem;
}

@media screen and (max-width: 767px) {
  .tp-order__section .order-list {
    grid-template-columns: 100%;
    width: 100%;
  }
}

