@charset "utf-8";

/*-----------------------
mv tp-front__section
-----------------------*/
.tp-front__section {
  background-image: url(../images/gas-bill/mv_gas-bill.jpg);
}

/*-----------------------
tp-design__section
-----------------------*/
.tp-design__section .tp-design__thumb {
  margin-top: -75px;
}
@media screen and (max-width: 1080px) {
  .tp-design__section .tp-design__thumb {
    margin-top: 0;
  }  
}
@media screen and (max-width: 767px) {
  .tp-design__section .tp-design__thumb {
    max-width: 150px;
    width: 40%;
  }  
}

/*-----------------------
tp-want__section
-----------------------*/
@media screen and (max-width: 767px) {
  .tp-want__section .tp-want__thumb {
    max-width: 400px;
    width: 90%;
  }  
}

/*-----------------------
ご利用までの流れ tp-frow__section
-----------------------*/
.tp-frow__section {
  margin-top: 80px;
}
@media screen and (max-width: 767px) {
  .tp-frow__section {
    margin-top: 40px;
  }  
}
