@charset "utf-8";

/*-----------------------
mv tp-front__section
-----------------------*/
.tp-front__section {
  background-image: url(../images/ip-telephone/mv_ip-telephone.jpg);
}

/*-----------------------
こんなお悩みありませんか？ tp-worries__section
-----------------------*/
.tp-worries__section .tp-check__list > li {
  display: block;
}

/*-----------------------
tp-design__section
-----------------------*/
@media screen and (max-width: 767px) {
  .tp-design__section .tp-design__thumb {
    width: 40%;
    max-width: 150px;
  }  
}

/*-----------------------
tp-want__section
-----------------------*/
@media screen and (max-width: 767px) {
  .tp-want__section .tp-want__thumb {
    width: 100%;
    max-width: 500px;

  }  
}

/*-----------------------
3つの特徴 tp-point__section
-----------------------*/
.tp-point__section .tp-point__list > li > .Ttl:before {
  width: 50px;
}
.tp-point__section .tp-point__list > li:nth-child(1) > .Ttl::before {
  background: url(../images/common/icon_point33.png) no-repeat center center / contain;
}
.tp-point__section .tp-point__list > li:nth-child(2) > .Ttl::before {
  background: url(../images/common/icon_point31.png) no-repeat center center / contain;
}
.tp-point__section .tp-point__list > li:nth-child(3) > .Ttl::before {
  background: url(../images/common/icon_point14.png) no-repeat center center / contain;
}
.tp-point__section .tp-point__list .Ttl__txt {
  width: calc(100% - 60px);
}

/*-----------------------
メリット1 tp-merit01__section
-----------------------*/
.tp-merit01__section.tp-sec p.tp-merit01__thumb {
  max-width: 204px;
}
@media screen and (max-width: 767px) {
  .tp-merit01__section.tp-sec p.tp-merit01__thumb {
    max-width: 150px;
  }  
}

/*-----------------------
メリット2 tp-merit02__section
-----------------------*/
.tp-merit02__section.tp-sec p.tp-merit02__thumb {
  max-width: 156px;
}
@media screen and (max-width: 767px) {
  .tp-merit02__section.tp-sec p.tp-merit02__thumb {
    max-width: 120px;
  }  
}

/*-----------------------
料金 tp-attention__section
-----------------------*/
.tp-attention__section .tp-attention__price > .Yen:after {
  content: none;
}

/*-----------------------
ご利用までの流れ tp-frow__section
-----------------------*/
.tp-frow__section {
  margin-top: 80px;
}
@media screen and (max-width: 767px) {
  .tp-frow__section {
    margin-top: 40px;
  }  
}
