@charset "utf-8";
:root{
  --fnts_local:16px;
  --fnts_caption_min:26px;
  --fnts_caption_sub:20px;
  --fnts_section_ttl:30px;
}
/* -------------------- resources-section ------------------- */
/* -----　open/index.html　開業相談ページ用mv　----- */
.btm-front__section.open_mv{
  background-image: url(../images/open/mv_open.jpg);
}

/* sp版電話アイコン（icon_phone_white.svg）の線を消す */
.sp-header__iconlist > li.__blue > a > img{
  border: none;
}

@media screen and (min-width: 768px){
/* -----　open/index.html　開業相談ページ　PC(min-width: 768px)用mv　----- */
.btm-front__section.open_mv{
  background-position: 50% 50%;
}
}

@media screen and (max-width: 767px){
  /* -----　open/index.html　開業相談ページ　sp用mv　----- */
  .btm-front__section.open_mv{
    background-image: url(../images/open/sp/mv_open_sp.jpg);
    background-position: 50% 0%;
    /* background-size: 175%; */
  }
  .purchase-thumb03 img{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--GRADATION_ORANGE);
    border-radius: 10px;
  }
}

/* -------------------- ------------------- */
/* -------------------- ------------------- */
/* -------------------- ------------------- */

