@charset "utf-8";
:root{
  --fnts_local:16px;
  --fnts_caption_min:26px;
  --fnts_caption_sub:20px;
  --fnts_section_ttl:30px;
}
/* -------------------- section ------------------- */
/* -----　/privacypolicy/index.html　プライバシーポリシーページ用　----- */
.btm-front__section.policy_mv{
  background-image: url(../images/privacypolicy/mv_policy.jpg);
}
.policy-textCont{
  text-align: left;
  font-weight: normal;
}
.policy-ttl dt{
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 15px;
  margin-top: 50px;
}
.policy-ttl ul{
  margin-top: 20px;
}

.hp-policy-sec{
  padding-top: 60px;
}
.hp-policy-red{
  margin-top: 1.5em;
}
.hp-policy-red li{
  color: var(--CONTACT_RED);
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}


@media screen and (min-width: 768px){
/* -----　プライバシーポリシーページ　PC(min-width: 768px)用mv　----- */
.btm-front__section.policy_mv{
  background-position: 50% 35%;
}
}

@media screen and (max-width: 767px){
  /* -----　プライバシーポリシーページ　sp用mv　----- */
  .btm-front__section.policy_mv{
    background-image: url(../images/privacypolicy/sp/mv_policy.jpg);
    background-position: 0% 0%;
    background-size: cover;
    background-repeat: no-repeat;
  }  
}

/* -------------------- ------------------- */
/* -------------------- ------------------- */
/* -------------------- ------------------- */

