@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*=======================================
common
=======================================*/
body {
  font-size: 16px;
  line-height: 1.38;
  color: #000;
  font-family: 'Noto Sans JP', 'Noto Sans', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  background: #fff;
}

ul,ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  width: 100%;
  height: auto;
}

.inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.clearbox:after {
  content: "";
  display: block;
  clear: both;
}

.sp {
  display: none;
}

@media screen and (max-width: 767px){
  body {
    font-size: 14px;
  }
  .sp {
    display: block;
  }
  .pc {
    display: none;
  }
}

/*--- txt ---*/
.txt_b {
  font-weight: bold;
}
.txt_l {
  font-size: 1.4em;
}
.txt_s {
  font-size: 0.64em;
}
.txt_yellow {
  color: #fcff00;
}
.txt_red {
  color: #ef0000;
}
.txt_blue {
  color: #158efe;
}
.txt_ul {
  background-image: linear-gradient(to bottom,transparent 66%,#fcff00 66%);
  display: inline-block
}
.txt_inline_blk {
  display: inline-block;
}

/*--- ttl ---*/
/* ttl_01 */
.ttl_01 {
  font-size: 50px;
  font-weight: bold;
  line-height: 1.57;
  text-align: center;
  margin-bottom: 30px;
}
.ttl_01 .txt_ul {
  line-height: 1.3;
}
@media screen and (max-width: 767px){
  .ttl_01 {
    font-size: 9.3vw;
  }
}

/* ttl_02 */
.ttl_02 {
  font-size: 38px;
  font-weight: bold;
  line-height: 1.3;
  text-align: center;
  padding-bottom: 12px;
  margin-bottom: 50px;
  position: relative;
}
.ttl_02:after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background: #007bee;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 767px){
  .ttl_02 {
    font-size: 30px;
    padding-bottom: 20px;
    margin-bottom: 25px;
  }
  .ttl_02:after {
    width: 75px;
    height: 3px;
  }  
}

/* ttl_03 */
.ttl_03 {
  font-size: 35px;
  font-weight: bold;
  line-height: 1;
  padding: 22px;
  width: 423px;
  margin: 0 auto 60px;
  text-align: center;
  background: #007bee;
  color: #fff;
}
@media screen and (max-width: 767px){
  .ttl_03 {
    font-size: 24px;
    padding: 15px;
    max-width: 296px;
    width: unset;
    margin: 0 auto 55px;
  }  
}

/* ttl_04 */
.ttl_04 {
  font-size: 35px;
  font-weight: bold;
  line-height: 1;
  padding-bottom: 20px;
  border-bottom: 2px solid #000;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 40px;
}
@media screen and (max-width: 767px){
  .ttl_04 {
    font-size: 24px;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }  
}

/*--- btn ---*/
/* btn_01 */
.btn_01 {
  display: block; 
  width: 305px;
  padding: 22px 22px 22px 5px;
  background: #ec6941;
  border: 1px solid #fff;
  border-radius: 10px;
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  position: relative;
  box-shadow: 0 5px 0 rgba(0,0,0,.3);
  transition: .2s;
}
.btn_01:hover {
  transform: translateY(5px);
  box-shadow: 0 0 0 rgba(0,0,0,.3);
}
.btn_01:before,
.btn_01:after {
  content: "";
  display: block;
  width: 15px;
  height: 5px;
  background: #fff;
  border-radius: 50px;
  transform-origin: right center;
  position: absolute;
  top: 50%;
  right: 58px;
}
.btn_01:before {
  transform: rotate(45deg) translateX(2px);
}
.btn_01:after {
  transform: rotate(-45deg) translateX(2px);
}
.btn_01__contact {
  background: #fff;
  border: 2px solid #007bee;
  color: #007bee;
}
.btn_01__contact:before,
.btn_01__contact:after {
  background: #007bee;
}

.btn_area_01 {
  display: flex;
  justify-content: center;
}
.btn_area_01 .btn_01__wrap {
  margin-right: 97px;
}
.btn_area_01 .btn_01__wrap:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px){
  .btn_01 {
    width: min(87vw,270px);
    padding: 20px 22px 20px 5px;
    border: 2px solid #fff;
    border-radius: 9px;
    font-size: 22px;
  }
  .btn_01:before,
  .btn_01:after {
    width: 13px;
    height: 4px;
    right: 22.9%;
  }
  .btn_01__contact {
    border: 2px solid #007bee;
  }

  .btn_area_01 {
    flex-direction: column;
    align-items: center;
  }
  .btn_area_01 .btn_01__wrap {
    margin: 0 0 24px;
  }
  .btn_area_01 .btn_01__wrap:last-child {
    margin: 0;
  }  
}

/* btn_02 */
.btn_02 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 69px;
  padding-top: 3px;
  background: #ec6941;
  border-radius: 0 0 10px 10px;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  box-shadow: 0 3px 0 rgba(185,61,22,.3);
  transition: .2s;
  transform: translateY(-3px);
}
.btn_02:hover {
  transform: translateY(0);
  box-shadow: 0 0 0 rgba(185,61,22,.3);
}
.btn_02__contact {
  background: #007bee;
  font-size: 18px;
  box-shadow: 0 3px 0 rgba(0,98,128,.3);
}
.btn_02__contact:hover {
  box-shadow: 0 0 0 rgba(0,98,128,.3);
}
@media screen and (max-width: 767px){
  .btn_02 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 166px;
    height: 69px;
    padding-top: 3px;
    background: #ec6941;
    border-radius: 0 0 10px 10px;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    box-shadow: 0 3px 0 rgba(185,61,22,.3);
    transition: .2s;
    transform: translateY(-3px);
  }
  .btn_02:hover {
    transform: translateY(0);
    box-shadow: 0 0 0 rgba(185,61,22,.3);
  }
  .btn_02__contact {
    background: #007bee;
    font-size: 18px;
    box-shadow: 0 3px 0 rgba(0,98,128,.3);
  }
  .btn_02__contact:hover {
    box-shadow: 0 0 0 rgba(0,98,128,.3);
  }  
}

/* btn_03 */
.btn_03 {
  display: block;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  line-height: 1;
  background: #007bee;
  color: #fff;
  border-radius: 100px;
  padding: 25px 50px 25px 25px;
  position: relative;
  max-width: 375px;
  margin: 0 auto;
  border-radius: 100px;
  box-shadow: 0 5px 0 rgba(0,0,0,.3);
  transition: .2s;
}
.btn_03:before,
.btn_03:after {
  content: "";
  display: block;
  width: 15px;
  height: 5px;
  background: #fff;
  border-radius: 50px;
  transform-origin: right center;
  position: absolute;
  top: 50%;
  right: 29.5%;
  pointer-events: none;
  z-index: 11;
}
.btn_03:before {
  transform: rotate(45deg) translateX(2px);
}
.btn_03:after {
  transform: rotate(-45deg) translateX(2px);
}
.btn_03:hover {
  box-shadow: 0 0 0 rgba(0,0,0,.3);
  transform: translateY(5px);
}
.btn_03.btn_back {
  padding: 25px 25px 25px 50px;
}
.btn_03.btn_back:before,
.btn_03.btn_back:after {
  transform-origin: left center;
  left: 25%;
  right: unset;
}
.btn_03.btn_back:before {
  transform: rotate(-45deg) translateX(-2px);
}
.btn_03.btn_back:after {
  transform: rotate(45deg) translateX(-2px);
}
@media screen and (max-width: 767px) {
  .btn_03 {
    max-width: 264px;
    font-size: 16px;
    padding: 16px 33px 16px 16px;
  }
  .btn_03:before,
  .btn_03:after {
    width: 9px;
    height: 3px;
  }
  .btn_03:before {
    transform: rotate(45deg) translateX(1px);
  }
  .btn_03:after {
    transform: rotate(-45deg) translateX(1px);
  }
  .btn_03.btn_back {
    padding: 16px 16px 16px 33px;
  }
  .btn_03.btn_back:before {
    transform: rotate(-45deg) translateX(-1px);
  }
  .btn_03.btn_back:after {
    transform: rotate(45deg) translateX(-1px);
  }  
}

/* btn_top */
.btn_top__wrap {
  position: fixed;
  bottom: 50px;
  right: 50px;
}
.btn_top {
  display: block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: #c4c4c4;
  position: relative;
  transition: .2s;
	filter: drop-shadow(0px 0px 2px #aaa);
}
.btn_top:before,
.btn_top:after {
  content: "";
  display: block;
  width: 28px;
  height: 4px;
  background: #fff;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
}
.btn_top:before {
  transform: rotate(45deg) translate(-7%,300%);
  transform-origin: right center;
}
.btn_top:after {
  transform: rotate(-45deg) translate(-65%,-200%);
  transform-origin: left center;
}
.btn_top:hover {
  opacity: .7;
}

/*--- box ---*/
/* box_01 */
.box_01__ttl {
  background: #158efe;
  color: #fff;
  font-weight: bold;
  min-height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box_01__txt_wrap {
  background: #e8e8e8;
  padding: 25px 20px;
}
@media screen and (max-width: 767px){
  .box_01__ttl {
    min-height: 38px;
  }
  .box_01__txt_wrap {
    padding: 20px 10px;
  }  
}

/*--- footer_bar ---*/
@media screen and (max-width: 767px){
  .footer_bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .footer_bar__list{
    display: flex;
  }
  .footer_bar__list_item {
    width: 100%;/*お申込ボタン表示時 width: 50%;*/
  }
  .footer_bar__btn {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
    height: 100%;
    padding: 25px 22px 25px 5px;
    background: #ec6941;
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    position: relative;
  }
  .footer_bar__btn:before,
  .footer_bar__btn:after {
    content: "";
    display: block;
    width: 13px;
    height: 4px;
    background: #fff;
    border-radius: 50px;
    transform-origin: right center;
    position: absolute;
    top: 50%;
    right: 15%;
  }
  .footer_bar__btn:before {
    transform: rotate(45deg) translateX(2px);
  }
  .footer_bar__btn:after {
    transform: rotate(-45deg) translateX(2px);
  }
  .footer_bar__btn__contact {
    background: #fff;
    border: 2px solid #007bee;
    color: #007bee;
  }
  .footer_bar__btn__contact:before,
  .footer_bar__btn__contact:after {
    background: #007bee;
  }  
}

/*=======================================
form_01
=======================================*/
.form_01__tbl {
  width: 100%;
  border: 1px solid #cacaca;
  border-bottom: none;
  margin-bottom: 15px;
}
.form_01__tr {
  border-bottom: 1.5px solid #cacaca;
}
.form_01__th {
  background: #007bee;
  border-right: 1px solid #cacaca;
  color: #fff;
  font-size: 18px;
  text-align: left;
  padding: 13px;
  position: relative;
  width: 330px;
}
.form_01__tr.required .form_01__th:after {
  content: "必須";
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  background: #ff0000;
  padding: 4px 9px;
  position: absolute;
  top: 50%;
  right: 13px;
  transform: translateY(-50%);
}
.form_01__td {
  padding: 13px;
}
.form_01 input:-webkit-autofill{
	box-shadow: 0 0 0 1000px white inset;
}
.form_01 select {
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.form_01 input:not([type="checkbox"]),
.form_01 select,
.form_01 textarea {
  padding: 10px;
  background: #fff;
  vertical-align: initial;
  border: 1px solid #cacaca;
  width: 100%;
}
.form_01 input[type="checkbox"] {
  margin-right: 5px;
}
.form_01 input.long {
  width: 300px;
}
.form_01 input.middle {
  width: 192px;
}
.form_01 input.short {
  width: 100px;
}
.form_01 select {
  cursor: pointer;
  line-height: 1.38;
}
.form_01 .select_wrap {
  position: relative;
  display: inline-block;
  width: 100%;
}
.form_01 .select_wrap:after {
  content: "";
  display: block;
  border-top: 10px solid #cacaca;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: 10px;
  pointer-events: none;
}
.form_01 textarea {
  height: 200px;
  vertical-align: middle;
}
.form_01__check_list {
  margin-bottom: -15px;
}
.form_01__check_item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #717171;
}
.form_01__check_item a {
  color: #717171;
  text-decoration: underline;
  text-underline-offset: .4em;
}
.form_01 input[type="checkbox"] {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  padding-left: 25px;
  position: relative;
}
.form_01 input[type="checkbox"]::before,
.form_01 input[type="checkbox"]::after {
  content: "";
  display: block; 
  position: absolute;
}
.form_01 input[type="checkbox"]::before {
  background: #fff;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  border: 2px solid #aeaeae;
}
.form_01 input[type="checkbox"]::after {
  border-bottom: 3px solid #666464;
  border-left: 3px solid #666464;
  opacity: 0;
  height: 8px;
  width: 12px;
  transform: translate(-70%,-75%) rotate(-45deg);
  top: 50%;
  left: 50%;
}
.form_01 input[type="checkbox"]:checked::after {
  opacity: 1;
}
.form_01__submit_wrap {
  position: relative;
  max-width: 375px;
  margin: 55px auto 0;
  border-radius: 100px;
  box-shadow: 0 5px 0 rgba(0,0,0,.3);
  transition: .2s;
}
.form_01 input[type="submit"] {
  font-size: 25px;
  font-weight: bold;
  line-height: 1;
  background: #007bee;
  color: #fff;
  width: 100%;
  border-radius: 100px;
  padding: 25px 50px 25px 25px;
}
.form_01__submit_wrap:before,
.form_01__submit_wrap:after {
  content: "";
  display: block;
  width: 15px;
  height: 5px;
  background: #fff;
  border-radius: 50px;
  transform-origin: right center;
  position: absolute;
  top: 50%;
  right: 29.5%;
  pointer-events: none;
  z-index: 11;
}
.form_01__submit_wrap:before {
  transform: rotate(45deg) translateX(2px);
}
.form_01__submit_wrap:after {
  transform: rotate(-45deg) translateX(2px);
}
.form_01__submit_wrap:hover {
  box-shadow: 0 0 0 rgba(0,0,0,.3);
  transform: translateY(5px);
}
@media screen and (max-width: 767px) {
  .form_01__tbl {
    margin-bottom: 25px;
  }
  .form_01__tr {
    border-bottom: 1px solid #cacaca;
  }
  .form_01__th {
    border-bottom: 1px solid #cacaca;
    border-right: none;
    font-size: 16px;
    padding: 17px;
    display: block;
    width: 100%;
  }
  .form_01__td {
    padding: 10px 8px;
    display: block;
  }
  .form_01__check_list {
    margin-bottom: -10px;
  }
  .form_01__check_item {
    margin-bottom: 14px;
  }
  .form_01__submit_wrap {
    max-width: 264px;
  }
  .form_01 input[type="submit"] {
    font-size: 16px;
    padding: 16px 33px 16px 16px;
  }
  .form_01__submit_wrap {
    margin-top: 50px;
  }
  .form_01__submit_wrap:before,
  .form_01__submit_wrap:after {
    width: 9px;
    height: 3px;
  }
  .form_01__submit_wrap:before {
    transform: rotate(45deg) translateX(1px);
  }
  .form_01__submit_wrap:after {
    transform: rotate(-45deg) translateX(1px);
  }  
}

/*=======================================
header
=======================================*/
#header .header__box {
  display: flex;
  justify-content: space-between;
}
#header .header__logo {
  max-width: 360px;
  display: flex;
  align-items: center;
}
#header .header__info_list {
  display: flex;
  padding-bottom: 13px;
  gap: 18px;
}
#header .btn_fixed {
  display: block;
  width: 73px;
  position: fixed;
  top: 183px;
  right: -17px;
  transition: .2s;
  z-index: 99;
}
#header .btn_fixed:hover {
  right: -7px;
}
@media screen and (max-width: 767px){
  #header .header__box {
    justify-content: center;
    height: 80px;
  }
  #header .header__logo {
    max-width: 306px;
  }  
}

/*=======================================
footer
=======================================*/
#footer {
  width: 100%;
  position: relative;
}
#footer .footer_box{
  background: #f3f3f3;
  padding: 35px 0 25px;
}
#footer .txt_lead {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: #007bee;
  margin-bottom: 55px;
}
#footer .flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.footer_profile {
  width: 50%;
  border-right: 2px solid #cecece;
  padding-right: 60px;
}
.footer_logo {
  margin-bottom: 33px;
}
.footer_logo__img_wrap {
  width: 140px;
  margin-bottom: 20px;
}
.footer_logo img {
  width: 100%;
  height: auto;
}
.footer_logo p {
  font-size: 16px;
  font-weight: bold;
}
.footer_address {
  text-align: left;
  line-height: 1.875;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer_menu {
  width: 50%;
}
.footer_menu {
  padding-left: 60px;
}
.footer_menu ul {
  float: right;
}
.footer_menu li {
  padding-left: 15px;
  margin-bottom: 10px;
  font-size: 16px;
}
.footer_menu li:before {
  content: '〉';
  margin-right: 5px;
}
.footer_menu li a:hover {
  text-decoration: underline;
}
.footer_copy {
  text-align: center;
  display: block;
  font-size: 12px;
  margin-top: 37px;
}

@media screen and (max-width: 767px) {
  #footer .inner{
    max-width: 345px;
  }
  #footer .footer_box{
    padding: 39px 0 45px;
  }
  #footer .txt_lead {
    font-size: 28px;
    margin-bottom: 40px;
  }
  .footer_profile {
    text-align: center;
    width: 100%;
    padding: 0 0 35px;
    border-right: none;
    border-bottom: 2px solid #cecece;
    margin-bottom: 30px;
  }
  .footer_logo {
    margin-bottom: 23px;
  }
  .footer_logo__img_wrap {
    width: 112px;
    margin: 0 auto 19px;
  }
  .footer_logo p {
    font-size: 13px;
  }
  .footer_address {
    text-align: center;
    font-size: 13px;
    margin: 0;
  }
  .footer_menu {
    width: 100%;
  }
  .footer_menu {
    padding: 0;
  }
  .footer_menu ul {
    float: none;
  }
  .footer_menu li {
    padding: 0;
    margin-bottom: 8px;
    font-size: 14px;
    display: flex;
  }
  .footer_copy {
    margin-top: 35px;
  }  
}

/*=======================================
MV
=======================================*/
#mv {
  background: url(../img/bg_mv.gif);
  overflow: hidden;
  padding-top: 35px;
  text-align: center;
}
#mv .inner {
  position: relative;
}
#mv .mv__ttl_wrap {
  margin-bottom: 26px;
}
#mv .mv__ttl_sub {
  font-size: 45px;
  font-weight: bold;
  color: #fff;
  line-height: 1.44;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #fcff00;
  text-underline-offset: 15px;
  margin-bottom: 27px;
}
#mv .mv__ttl {
  color: #fcff00;
  font-size: 60px;
  font-weight: bold;
  line-height: 1;
}
#mv .mv__ttl:before {
  content: "“";
}
#mv .mv__ttl:after {
  content: "”";
}
#mv .mv__ttl__02 {
  color: #fff;
  font-size: 45px;
  font-weight: bold;
  line-height: 1;
}
#mv .mv__img_area {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  margin-bottom: -28px;
}
#mv .mv__img_01 {
  position: absolute;
  top: -35px;
  left: 0;
  width: 215px;
}
#mv .mv__img_02 {
  margin-right: 20px;
  width: 269px;
}
#mv .mv__img_03 {
  width: 256px;
}
#mv .btn_area_01 {
  position: absolute;
  bottom: 52px;
  left: 50%;
  transform: translateX(-50%);
}
#mv .btn_area_01 .btn_01__wrap {
  margin-right: 44px;
}
#mv .btn_area_01 .btn_01__wrap:last-child {
  margin-right: 0;
}
@media screen and (max-width: 990px) {
  #mv .mv__img_area {
    align-items: flex-start;
  }
  #mv .mv__img_01 {
    position: static;
    width: 25vw;
    order: 1;
  }
  #mv .mv__img_02 {
    margin-right: -1.625vw;
    width: 29.125vw;
    order: 0;
  }
  #mv .mv__img_03 {
    width: 27.75vw;
    order: 2;
    margin-left: -1vw;
  }
}
@media screen and (max-width: 767px) {
  #mv {
    padding: 20px 0 30px;
  }
  #mv .mv__ttl_wrap {
    margin-bottom: 15px;
  }
  #mv .mv__ttl_sub {
    font-size: 6.3vw;
    text-underline-offset: 6px;
    margin-bottom: 15px;
  }
  #mv .mv__ttl {
    font-size: 8.55vw;
  }
  #mv .mv__ttl__02 {
    font-size: 8vw;
  }
  #mv .mv__img_area {
    margin-bottom: 13px;
    align-items: flex-end;
  }
  #mv .mv__img_01 {
    width: 43vw;
  }
  #mv .btn_area_01 {
    position: static;
    transform: translateX(0);
  }
  #mv .btn_area_01 .btn_01__wrap {
    margin: 0 0 10px;
  }
  #mv .btn_area_01 .btn_01__wrap:last-child {
    margin: 0;
  }
  #mv .btn_01 {
    padding: 17px 22px 17px 5px;
  }
}

/*--- consultation, contactページMV ---*/
#consultation #mv,
#contact #mv {
  padding: 60px 0 48px;
}
#consultation #mv .inner,
#contact #mv .inner {
  position: relative;
}
#consultation #mv .mv__ttl_wrap,
#contact #mv .mv__ttl_wrap {
  margin: 0;
  z-index: 22;
  position: relative;
}
#consultation #mv .mv__ttl,
#contact #mv .mv__ttl {
  margin-bottom: 35px;
  font-size: 55px;
}
#consultation #mv .mv__img_area,
#contact #mv .mv__img_area {
  position: static;
  margin: 0;
}
#consultation #mv .mv__img_02,
#contact #mv .mv__img_02 {
  width: 180px;
  position: absolute;
  left: 0;
  bottom: -75px;
  z-index: 11;
}
#consultation #mv .mv__img_03,
#contact #mv .mv__img_03 {
  width: 160px;
  position: absolute;
  right: 0;
  bottom: -60px;
  z-index: 11;
}
@media screen and (max-width: 767px) {
  #consultation #mv,
  #contact #mv {
    padding: 25px 0 30px;
  }
  #consultation #mv .mv__ttl,
  #contact #mv .mv__ttl {
    margin-bottom: 17px;
    font-size: 8.5vw;
  }
  #consultation #mv .mv__img_02,
  #contact #mv .mv__img_02 {
    display: none;
  }
  #consultation #mv .mv__img_03,
  #contact #mv .mv__img_03 {
    display: none;
  }
}

/*=======================================
sec_form
=======================================*/
#sec_form {
  padding: 75px 0 225px;
}
@media screen and (max-width: 767px) {
  #sec_form {
    padding: 50px 0 60px;
  }  
}
