---
import Layout from "../../../layouts/Layout.astro";
import ContactArea from "../../../components/common/ContactArea.astro";
import structuredDataMarkup from "../../../data/data.json";
const markup = JSON.stringify(structuredDataMarkup.wainPro);
---

<Layout
    title="飲食店専門のワイン仕入れサイトをご紹介｜テンポスフードプレイス"
    description="飲食店専門のワイン仕入れサイトをご紹介。 今ならサイトで使える3,000円分のクーポン券をプレゼント。"
    pageUrl="/menu/wine-pro/"
    ogimage="/asset/images/menu/ogp_menu_wine-pro.png"
    markup={markup}
>
    <article id="mainarea">
        <div class="tp-border sans">
            <nav class="tp-nav">
                <ol class="tp-nav__list flex">
                    <li><a href="/">トップページ</a></li>
                    <li><a href="/menu/">食材仕入れ</a></li>
                    <li>ワイン通販</li>
                </ol>
            </nav>

            <section class="tp-front__section">
                <h1 class="tp-front__ttl font_m_plus">
                    <span class="tp-f-sm">飲食店専門ワイン仕入れサイト</span>
                    <span> 『ワインの仕入れPRO』</span>
                </h1>
                <p class="tp-front__caption">
                    今なら3,000円分が無料でお試し可能！
                </p>
                <p class="tp-front__contact">
                    <a class="click_link_mail" href="/contact/?checked=46"
                        >お問い合わせはこちら</a
                    >
                </p>
            </section>

            <section class="tp-worries__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __border">
                    <span></span>こんなお悩みありませんか？<span></span>
                </h2>
                <ul class="tp-check__list tp-wrapper__l">
                    <li>
                        ワインを取り扱いたいが、<span class="tp-bglg"
                            >選び方や薦め方</span
                        >が分からない
                    </li>
                    <li>
                        ワインの<span class="tp-bglg"
                            >ラインナップがマンネリ化</span
                        >してしまっている
                    </li>
                    <li>
                        <span class="tp-bglg">メニュー作成が手間</span
                        >でワインの入れ替えができない
                    </li>
                </ul>
            </section>

            <section class="tp-design__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    『ワインの仕入れPRO』が<br class="u-mobile" />おすすめ
                </h2>
                <div class="tp-design__contents">
                    <div class="tp-design__img">
                        <img
                            src="../asset/images/wine-pro/img-wine-pro-logo.png"
                            alt=""
                        />
                    </div>
                    <div class="tp-design__txt">
                        <p class="tp-design__txt-lg">
                            お陰様で、全国の飲食店様<br
                                class="u-mobile"
                            />からの<span class="tp-design__txt-lg-orange"
                                >評価No.1！</span
                            >
                        </p>
                        <p class="tp-design__txt-md">
                            ワイン全商品、日本最安値でご提供！<br />
                            最短翌日のスピード出荷！
                        </p>
                    </div>
                    <div class="tp-design__bnr">
                        ワインの仕入れPROは、<br />
                        ワインに特化した飲食店様限定の<br />
                        会員制仕入れサイトです。
                    </div>
                </div>
            </section>

            <section class="tp-service__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">サービスの特徴</span>
                </h2>
                <section>
                    <h3 class="tp-ttl tp-ttl-header3">
                        ワインの仕入れPROへの<br class="u-mobile" />
                        <span class="tp-ttl-bottom">
                            会員登録・年会費は<span class="tp-service-ttl-lg"
                                >0</span
                            ><span class="tp-service-ttl-md">円</span>
                        </span>
                    </h3>
                    <div class="tp-service__content">
                        <h4 class="tp-service-ttl">
                            今なら3,000円分が無料でお試し可能！
                        </h4>
                        <div class="tp-service__item">
                            <div class="tp-service__txt">
                                ぜひ1度ご利用ください！お問い合わせ後、<br />
                                「ワインの仕入れPRO」よりメールにて<br />
                                ログインのご案内をお送りいたします。
                            </div>
                            <div class="tp-service__img">
                                <img
                                    src="../asset/images/wine-pro/img-giftcard.png"
                                    alt=""
                                />
                            </div>
                        </div>
                    </div>
                    <div class="tp-service__content">
                        <h4 class="tp-service-ttl">お申し込み対象者</h4>
                        <div class="tp-service__item">
                            <div class="tp-service__txt">
                                <div class="tp-service__txt-checklist">
                                    <span class="icon-check"
                                        ><img
                                            src="../asset/images/wine-pro/img-checkbox.png"
                                            alt=""
                                        /></span
                                    >ワインのお取り扱いを検討している飲食店の方
                                </div>
                                <div class="tp-service__txt-checklist">
                                    <span class="icon-check"
                                        ><img
                                            src="../asset/images/wine-pro/img-checkbox.png"
                                            alt=""
                                        /></span
                                    >すでにワインをお取り扱いされている飲食店の方
                                </div>
                            </div>
                            <div class="tp-service__img">
                                <img
                                    src="../asset/images/wine-pro/img-service-man.png"
                                    alt=""
                                />
                            </div>
                        </div>
                    </div>
                </section>
            </section>

            <section class="tp-frow__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">ご利用までの流れ</span>
                </h2>
                <div class="tp-flow__list">
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">お問い合わせ</h3>
                            <div class="Local">
                                <p>
                                    少しでもご興味がある方はまずはお問い合わせください。<br
                                    />
                                    担当スタッフがお電話にてヒアリングさせていただきます。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">「ワインの仕入れPRO」よりご連絡</h3>
                            <div class="Local">
                                <p>
                                    ショートメッセージとメールが届きますので、案内にしたがって<br
                                    />
                                    フォームにご回答ください。
                                </p>
                            </div>
                        </div>
                    </article>

                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">アカウント発行</h3>
                            <div class="Local">
                                <p>
                                    「ワインの仕入れPRO」にてお客様のアカウント発行後、メールにて<br
                                    />
                                    完了通知をお送りします。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">利用開始</h3>
                            <div class="Local">
                                <p>
                                    「ワインの仕入れPRO」のログインいただき、WEBポイントをご使用ください。
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>

            <section class="tp-faq__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">よくある質問</span>
                </h2>
                <div class="g-acodion">
                    <dl>
                        <dt>送料はかかりますか？</dt>
                        <dd>12本単位（混載可能）で送料無料となります。</dd>
                    </dl>
                    <dl>
                        <dt>ポイントに有効期限はありますか？</dt>
                        <dd>
                            お申込みいただいてから、3か月間有効です。<br />
                            （開店が先の場合は、ご相談させていただきます。）
                        </dd>
                    </dl>
                    <dl>
                        <dt>ワインについて相談はできますか？</dt>
                        <dd>
                            ぜひご相談ください！<br />
                            ソムリエ資格を持ったワインコンサルタントが、お店に最適なワインをきめ細やかに、ご提案させていただきます。
                        </dd>
                    </dl>
                    <dl>
                        <dt>メニューは作ってもらえますか？</dt>
                        <dd>
                            無料のワインメニュー作成サービスがございます。<br />
                            ぜひご利用ください。
                        </dd>
                    </dl>
                </div>
            </section>

            <ContactArea />

            <section class="tp-others__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">その他関連サービス</span
                    >
                </h2>
                <div class="tp-others__list">
                    <!--
                        <article>
                            <a href="https://www.tenpos.com/food-search/" target="_blank">
                                <p class="Thumb">
                                    <picture>
                                        <source media="(max-width:767px)"
                                            srcset="/asset/images/common/2x/img_kanren_service_food-search@2x.png">
                                        <img src="/asset/images/common/img_kanren_service_food-search.png"
                                            srcset="/asset/images/common/img_kanren_service_food-search.png 1x,/asset/images/common/2x/img_kanren_service_food-search@2x.png 2x"
                                            alt="テンポスフードサーチ" width="304" height="231" loading="lazy" class="imgauto">
                                    </picture>
                                </p>
                                <h3 class="Ttl">
                                    テンポスフードサーチ
                                </h3>
                            </a>
                        </article>
                        -->
                    <article>
                        <a href="/menu/micreed/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/kaigyousoudan/sp/purchase06.jpg"
                                    />
                                    <img
                                        src="/asset/images/kaigyousoudan/purchase06.jpg"
                                        srcset="/asset/images/kaigyousoudan/purchase06.jpg 1x,/asset/images/kaigyousoudan/2x/purchase06.jpg 2x"
                                        alt="食材通販「ミクリード」"
                                        width="109"
                                        height="42"
                                        loading="lazy"
                                        class="imgauto-h"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">食材通販「ミクリード」</h3>
                        </a>
                    </article>
                    <article class="__kakuyasu">
                        <a href="/menu/kakuyasu/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/kaigyousoudan/sp/purchase05.jpg"
                                    />
                                    <img
                                        src="/asset/images/kaigyousoudan/purchase05.jpg"
                                        srcset="/asset/images/kaigyousoudan/purchase05.jpg 1x,/asset/images/kaigyousoudan/2x/purchase05.jpg 2x"
                                        alt="「なんでも酒やカクヤス」"
                                        width="109"
                                        height="42"
                                        loading="lazy"
                                        class="imgauto-h"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">カクヤス</h3>
                        </a>
                    </article>
                </div>
            </section>
        </div>
    </article>
</Layout>

<style>
    @charset "utf-8";

    :root {
        --fnts_local: 16px;
        --fnts_caption_min: 26px;
        --fnts_caption_sub: 20px;
        --fnts_section_ttl: 30px;
    }

    .u-mobile {
        display: none;
    }

    .u-desktop {
        display: block;
    }

    @media screen and (max-width: 767px) {
        .u-desktop {
            display: none;
        }

        .u-mobile {
            display: block;
        }
    }

    /* -------------------- menu-section ------------------- */
    /* ----- ★　/menu/index.html 新着情報一覧ページsp用 ここから ----- */

    /* for PC */
    @media screen and (min-width: 768px) {
    }

    /* for SP */
    @media screen and (max-width: 767px) {
        /* --------------------★sp用 img_オレンジ線ここから-------------------- */
        .purchase-thumb03 img {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid var(--GRADATION_ORANGE);
            border-radius: 10px;
        }
    }

    .tp-front__section {
        background-image: url(/asset/images/wine-pro/mv-wine-pro.png);
    }

    /*-----------------------
MV
-----------------------*/

    .tp-front__ttl,
    .btm-front__ttl,
    .add-front__ttl {
        padding: 10px 40px 20px;
        line-height: 1.4;
    }

    .tp-f-sm {
        display: block;
        font-size: 25px;
        background: transparent !important;
    }

    @media screen and (max-width: 767px) {
        .tp-front__ttl,
        .btm-front__ttl,
        .add-front__ttl {
            padding: 10px 40px 20px;
            line-height: 1.4;
        }

        .tp-f-sm {
            font-size: 14px;
        }
    }

    /*-----------------------
おすすめ
-----------------------*/

    .tp-design__section .tp-ttl {
        text-align: center;
    }

    .tp-design__img {
        width: 90%;
        margin: 0 auto 40px;
    }

    .tp-design__txt .tp-design__txt-lg {
        text-align: center;
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .tp-design__txt .tp-design__txt-lg-orange {
        color: #ff8000;
    }

    .tp-design__txt-md {
        text-align: center;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .tp-design__bnr {
        background: linear-gradient(
            0deg,
            rgba(189, 67, 69, 1) 27%,
            rgba(250, 151, 13, 1) 100%
        );
        border-radius: 15px;
        text-align: center;
        color: #fff;
        font-size: 22px;
        font-weight: bold;
        padding: 30px 0 100px;
        position: relative;
        line-height: 1.5;
    }

    .tp-design__bnr::before {
        content: "";
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        background: url(/asset/images/wine-pro/img-wine-illust.png) center
            center / contain no-repeat;
        width: 600px;
        height: 104px;
    }

    @media screen and (max-width: 767px) {
        .tp-design__txt .tp-design__txt-lg {
            text-align: center;
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .tp-design__txt .tp-design__txt-lg-orange {
            color: #ff8000;
        }

        .tp-design__txt-md {
            text-align: center;
            font-size: 14px;
            margin-bottom: 20px;
        }

        .tp-design__img {
            width: 100%;
            margin: 0 auto 40px;
        }

        .tp-design__bnr {
            background: linear-gradient(
                0deg,
                rgba(189, 67, 69, 1) 27%,
                rgba(250, 151, 13, 1) 100%
            );
            border-radius: 15px;
            text-align: center;
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            padding: 30px 0 100px;
            position: relative;
            line-height: 1.5;
        }

        .tp-design__bnr::before {
            content: "";
            position: absolute;
            bottom: 15px;
            left: 50%;
            transform: translateX(-50%);
            background: url(/asset/images/wine-pro/img-wine-illust.png) center
                center / contain no-repeat;
            width: 90%;
            height: 104px;
        }
    }

    /*-----------------------
サービスの特徴
-----------------------*/

    .tp-service__content {
        width: 80%;
        margin-inline: auto;
    }

    .tp-service__content .tp-service-ttl {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .tp-service__content .tp-service__item {
        display: flex;
        align-self: flex-start;
        justify-content: space-between;
    }

    .tp-service__txt {
        font-size: 14px;
    }

    .tp-service__txt-checklist {
        display: flex;
        align-items: center;
    }

    .tp-service__txt-checklist:first-child {
        margin-bottom: 10px;
    }

    .tp-service__txt-checklist .icon-check {
        width: 17px;
        height: 17px;
        display: flex;
        align-items: center;
        margin-right: 10px;
    }

    .tp-service__content:nth-child(2) {
        margin-bottom: 40px;
    }

    .tp-service__content:nth-child(2) .tp-service__item .tp-service__img {
        width: 280px;
    }

    .tp-service__content:nth-child(3) .tp-service__item .tp-service__img {
        width: 240px;
        margin-top: -45px;
    }

    .tp-service__content:nth-child(3) .tp-service__item .tp-service__img img {
        width: 170px;
        margin-inline: auto;
        display: block;
    }

    .tp-service__section .tp-ttl-header3 {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: baseline;
        margin-top: -20px;
    }

    .tp-service__section .tp-ttl-header3 .tp-ttl-bottom {
        display: flex;
        align-items: center;
    }

    .tp-service__section .tp-ttl-header3 .tp-service-ttl-lg {
        font-size: 55px;
        padding: 0 5px;
    }

    .tp-service__section .tp-ttl-header3 .tp-service-ttl-md {
        font-size: 24px;
    }

    @media screen and (max-width: 767px) {
        .tp-service__section .tp-ttl-header3 {
            display: grid;
            line-height: 1.25;
            margin-top: 30px !important;
        }

        .tp-service__section .tp-ttl-header3 .tp-ttl-bottom {
            display: flex;
            align-items: center;
        }

        .tp-service__section .tp-ttl-header3 .tp-service-ttl-lg {
            font-size: 46px;
        }

        .tp-service__section .tp-ttl-header3 .tp-service-ttl-md {
            font-size: 22px;
        }

        .tp-service__content {
            width: 96%;
            margin-inline: auto;
        }

        .tp-service__content .tp-service-ttl {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 20px;
            text-align: center;
        }

        .tp-service__content .tp-service__item {
            display: flex;
            align-self: flex-start;
            justify-content: center;
            flex-direction: column;
        }

        .tp-service__txt {
            font-size: 14px;
            margin-bottom: 20px;
        }

        .tp-service__txt-checklist {
            display: flex;
            align-items: center;
        }

        .tp-service__txt-checklist .icon-check {
            width: 17px;
            height: 17px;
            display: flex;
            align-items: center;
            margin-right: 10px;
        }

        .tp-service__content:nth-child(2) {
            margin-bottom: 40px;
        }

        .tp-service__content:nth-child(2) .tp-service__item .tp-service__img {
            width: 280px;
        }

        .tp-service__content:nth-child(3) .tp-service__item .tp-service__img {
            width: 100%;
            margin-top: 0px;
        }

        .tp-service__content:nth-child(3)
            .tp-service__item
            .tp-service__img
            img {
            width: 170px;
            margin-inline: auto;
            display: block;
        }
    }

    /*-----------------------
こんなお悩みありませんか？
-----------------------*/

    .tp-check__list > li {
        display: block;
    }

    /*-----------------------
3つの特徴 tp-point__section
-----------------------*/
    .tp-ttl:not(.__mgb):not(.tp-ttl__balloon__span) {
        position: relative;
    }

    .tp-ttl__balloon__span__sm {
        position: absolute;
        top: -35px;
        left: 50%;
        transform: translateX(-50%);
        background: transparent;
        color: var(--MAIN_ORANGE);
        font-size: 16px;

        &::after {
            content: "";
            display: none;
        }
    }

    .tp-point__section .tp-point__list > li:nth-child(1) > .Ttl::before {
        background: url(/asset/images/common/icon_point56.png) no-repeat center
            center / contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(2) > .Ttl::before {
        background: url(/asset/images/common/icon_point09.png) no-repeat center
            center / contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(3) > .Ttl::before {
        background: url(/asset/images/common/icon_point58.png) no-repeat center
            center / contain;
    }

    @media screen and (min-width: 768px) {
        .tp-point__section .tp-point__list > li > .Ttl:before {
            width: 45px;
            margin-right: 15px;
        }

        .tp-point__section .tp-point__list .Ttl__txt {
            width: calc(100% - 60px);
        }
    }

    @media screen and (max-width: 767px) {
        .tp-ttl__balloon__span__sm {
            width: 300px;
        }

        .tp-service__section .tp-ttl:not(.__mgb):not(.tp-ttl__balloon__span) {
            margin-top: 80px;
        }
    }

    /*-----------------------
contactarea
-----------------------*/

    .contactarea {
        margin-bottom: 80px;
    }

    .tp-others__list article.__kakuyasu .Thumb img {
        border-radius: 20px;
        border: 2px solid var(--GRADATION_ORANGE);
        aspect-ratio: 304 / 231;
        object-fit: contain;
        object-position: center;
    }
</style>
