<div class="g-fixed__operator font_m_plus">
    <div class="g-fixed__operator__container">
        <a href="/contact/">
            <p class="g-fixed__operator__txt">
                <span>オペレーターに</span><br />
                <span>質問する</span>
            </p>
            <p class="g-fixed__operator__thumb">
                <img
                    src="/asset/images/template/obj_operator.svg"
                    alt="オペレーターに質問する"
                    width="60"
                    height="93"
                    loading="lazy"
                    class="imgauto"
                />
            </p>
        </a>
    </div>
</div>
