---
import TopFrontPerformance from "./TopFrontPerformance.astro"; //スライダー上の円画像
import TopFrontSlider from "./TopFrontSlider.astro"; //スライダー
---

<div class="top-front__section generalsec">
    <TopFrontPerformance />
    <TopFrontSlider />
</div>
