<section class="top_purpose__section g-wrapper generalsec">
    <div class="top-purpose__container">
        <h2 class="top-purpose__ttl g-ttl">
            目的に合わせて<br class="sp" />サービスを選ぶ
        </h2>
        <ul class="top-purpose__list">
            <li>
                <h3 class="Caption">
                    <span>お店をつくる</span>
                </h3>
                <div class="spflex">
                    <p class="Thumb">
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/top/sp/purpose01_sp.png"
                            />
                            <img
                                src="/asset/images/top/purpose01.png"
                                srcset="/asset/images/top/purpose01.png 1x,/asset/images/top/2x/purpose01@2x.png 2x"
                                alt="お店を作る"
                                width="83"
                                height="110"
                                loading="lazy"
                                class="imgauto-h"
                            />
                        </picture>
                    </p>
                    <ul class="top-purpose__listLink">
                        <li>
                            <a
                                href="https://support.tenpos.com/lp/lp_line-diagnosis/"
                                >開業費用診断</a
                            >
                        </li>
                        <li>
                            <a href="/open/bukken/">飲食店物件紹介</a>
                        </li>
                        <li>
                            <a href="/open/interior/">飲食店内装工事</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <h3 class="Caption">
                    <span>食材を仕入れる</span>
                </h3>
                <div class="spflex">
                    <p class="Thumb">
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/top/sp/purpose02_sp.png"
                            />
                            <img
                                src="/asset/images/top/purpose02.png"
                                srcset="/asset/images/top/purpose02.png 1x,/asset/images/top/2x/purpose02@2x.png 2x"
                                alt="食材を仕入れる"
                                width="83"
                                height="110"
                                loading="lazy"
                                class="imgauto-h"
                            />
                        </picture>
                    </p>
                    <ul class="top-purpose__listLink">
                        <li>
                            <a href="/menu/micreed/">食材通販「ミクリード」</a>
                        </li>
                        <li>
                            <a href="/menu/kakuyasu/"
                                >お酒の通販・配達<br
                                    class="sp"
                                />「カクヤス」</a
                            >
                        </li>
                        <li>
                            <a href="/menu/wain-pro/"
                                >ワインの通販<br />ワインの仕入れPRO</a
                            >
                        </li>
                    </ul>
                </div>
            </li>

            <li>
                <h3 class="Caption">
                    <span>経営を改善する</span>
                </h3>
                <div class="spflex">
                    <p class="Thumb">
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/top/sp/purpose04_sp.png"
                            />
                            <img
                                src="/asset/images/top/purpose04.png"
                                srcset="/asset/images/top/purpose04.png 1x,/asset/images/top/2x/purpose04@2x.png 2x"
                                alt="経営を改善する"
                                width="83"
                                height="110"
                                loading="lazy"
                                class="imgauto-h"
                            />
                        </picture>
                    </p>
                    <ul class="top-purpose__listLink">
                        <li>
                            <a href="/cost/electricity/">店舗電気代削減</a>
                        </li>
                        <li>
                            <a href="/management/tax-accountant/"
                                >飲食専門税理士紹介</a
                            >
                        </li>
                        <li>
                            <a href="/hygiene/garbage-collection/">ゴミ回収</a>
                        </li>
                        <li>
                            <a href="/hygiene/waste-oil/">廃油無料回収</a>
                        </li>
                        <li>
                            <a href="/telecom/security-camera/"
                                >防犯カメラ設置</a
                            >
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>

<style lang="scss">
    /* -------------------- top_purpose__section ------------------- */
    .top-purpose__container {
        max-width: 820px;
        margin-left: auto;

        @media screen and (max-width: 767px) {
            max-width: 100%;
        }
    }

    .top-purpose__list {
        display: grid;
        column-gap: 20px;
        row-gap: 20px;
    }

    .top-purpose__list > li {
        background-color: var(--MAIN_WHITE);
        border-radius: 20px;
        padding: 40px 20px 20px;
    }

    .top-purpose__list > li .Caption {
        font-size: var(--fnts_caption_min);
        font-weight: bold;
        text-align: center;
    }

    .top-purpose__list > li .Caption > span {
        background: linear-gradient(transparent 70%, var(--MAIN_YELLOW) 30%);
    }

    .top-purpose__list > li .Thumb {
        margin-right: auto;
        margin-left: auto;
        aspect-ratio: 280/150;
    }

    .top-purpose__list > li .Thumb img {
        object-fit: contain;
        object-position: center;
    }

    .top-purpose__listLink {
        display: flex;
        flex-flow: column;
        gap: 1em;
    }

    .top-purpose__listLink > li > a {
        display: block;
        padding-right: 1em;
    }

    .top-purpose__listLink > li {
        position: relative;
        font-weight: bold;
        font-size: 15px;
    }

    .top-purpose__listLink > li::after {
        content: "";
        position: absolute;
        width: var(--icon_circle_size);
        aspect-ratio: 1/1;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        background: url(/asset/images/top/icon_next_slider.svg) no-repeat center
            center / contain;
        transition: 0.4s;
        pointer-events: none;
    }

    @media screen and (min-width: 1141px) {
        .top-purpose__list {
            grid-template-columns: repeat(3, 1fr);
        }

        .top-purpose__listLink > li > a:hover {
            color: var(--MAIN_ORANGE);
        }

        .top-purpose__listLink > li:hover::after {
            background: url(/asset/images/top/icon_next_active.svg) no-repeat
                center center / contain;
            right: -5px;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1140px) {
        .top-purpose__list {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (min-width: 768px) {
        .top-purpose__list > li {
            padding: 40px 20px 20px;
        }

        .top-purpose__list > li .Caption {
            margin-bottom: 30px;
        }

        .top-purpose__list > li .Thumb {
            margin-bottom: 30px;
        }

        .top-purpose__list > li .Thumb {
            width: 90%;
        }
    }

    @media screen and (max-width: 767px) {
        .top-purpose__list {
            grid-template-columns: repeat(1, 1fr);
            margin-bottom: 40px;
        }

        .top-purpose__list > li {
            padding: 40px 20px 20px;
        }

        .top-purpose__list > li .Caption {
            margin-bottom: 30px;
        }

        .top-purpose__list .spflex {
            display: flex;
            gap: 20px;
        }

        .top-purpose__list > li .Thumb {
            width: 30%;
        }

        .top-purpose__listLink {
            width: 70%;
        }
    }
</style>
