<!doctype html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta
            http-equiv="refresh"
            content="0;URL=https://landing.lineml.jp/r/1570435821-9G2EOzR2?lp=d3Kxwo"
        />
        <title>LINE@登録</title>
        <!-- Google Tag Manager -->
        <script is:inline>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    "gtm.start": new Date().getTime(),
                    event: "gtm.js",
                });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != "dataLayer" ? "&l=" + l : "";
                j.async = true;
                j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, "script", "dataLayer", "GTM-NXBVCP8");
        </script>
        <!-- End Google Tag Manager -->
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript
            ><iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-NXBVCP8"
                height="0"
                width="0"
                style="display:none;visibility:hidden"></iframe></noscript
        >
        <!-- End Google Tag Manager (noscript) -->
        <p>
            すぐ登録ページに移動します<br />
            ジャンプしない場合は<a
                href="https://landing.lineml.jp/r/1570435821-9G2EOzR2?lp=d3Kxwo"
                >こちらをクリックしてください。</a
            >
        </p>
    </body>
</html>
