<!DOCTYPE HTML>
<html id="top" lang="ja">

<head prefix="og: //ogp.me/ns# fb: //ogp.me/ns/fb# article: //ogp.me/ns/article#">
  <script type="application/ld+json">
        			    {
        			      "@context": "https://schema.org",
        			      "@type": "BreadcrumbList",
        			      "itemListElement": [{
        			        "@type": "ListItem",
        			        "position": 1,
        			        "name": "飲食店開業・経営・集客支援サイト | テンポスフードプレイス",
        			        "item": "https://support.tenpos.com/"
        			      },{
        			        "@type": "ListItem",
        			        "position": 2,
        			        "name": "テンポスフードプレイス | お問い合わせ",
        			        "item": "https://support.tenpos.com/contact/"
        			      },
                    {
        			        "@type": "ListItem",
        			        "position": 3,
        			        "name": "Googleビジネスプロフィール：登録情報用フォーム しっかりプラン | テンポスフードプレイス,
        			        "item": "https://support.tenpos.com/contact/gmb_contact_shikkari.html"
        			      }
        				 ]
        			    }
        		</script>
  <meta charset="UTF-8">
  <title>Googleビジネスプロフィール：登録情報用フォーム しっかりプラン | テンポスフードプレイス</title>
  <meta name="keywords" content="テンポス,テンポスフードプレイス,飲食店,飲食店開業,開業支援,飲食店経営,飲食コンサルティング,お問い合わせ,Googleビジネスプロフィール" />
  <meta name="description" content="飲食店の新規開業・経営に必要なインフラ、集客に関するサービスのお問い合わせはこちら" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <!--OGP-->
  <meta property="og:url" content="https://support.tenpos.com/contact/gmb_contact_shikkari.html">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Googleビジネスプロフィール：登録情報用フォーム しっかりプラン | テンポスフードプレイス">
  <meta property="og:description" content="飲食店の新規開業・経営に必要なインフラ、集客に関するサービスのお問い合わせはこちら">
  <meta property="og:site_name" content="飲食店開業・経営・集客支援サイト | テンポスフードプレイス" />
  <meta property="og:image" content="https://support.tenpos.com/asset/ogp.png">
  <!--OGP end-->
  <link rel="canonical" href="https://support.tenpos.com/contact/gmb_contact_shikkari.html" />
  <link rel="icon" href="https://support.tenpos.com/asset/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="https://support.tenpos.com/asset/apple-touch-icon.png">
  <link href="../css/reset.css" rel="stylesheet" type="text/css" media="all" />
  <link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
  <link href="../css/style_service.css" rel="stylesheet" type="text/css" media="all" />
  <link href="../css/style_form.css" rel="stylesheet" type="text/css" media="all" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="../js/pagetop.js"></script>
  <script type="text/javascript" src="../js/scroll.js"></script>
  <script is:inline>
    $(function () {
      $('#gnav-btn').click(function () {
        $("header").toggleClass('open');
        $(".gnav-content").fadeToggle(500);
      });
    });
  </script>
   <script is:inline>
    $(function () {
      $('#gnav-content label').click(function () {
        $(this).toggleClass('active');
      });
    });
  </script>
  <style>
    #gmb_contact .mv_title {
      margin-top: 0 !important;
    }

    #gmb_contact .mv_title {
      height: 185px;
    }

    #gmb_contact .mv_title {
      background: url(../img/mv_contact.jpg) no-repeat center center;
      background-size: cover;
    }

    #gmb_contact table.table_cmn_01 {
      border: 1px solid #666;
    }

    #gmb_contact table.table_cmn_01 th {
      background: #444;
      color: #fff;
      border-bottom: 1px solid #ccc;
    }

    #gmb_contact table.table_cmn_01 tr:last-child th {
      border-bottom: none;
    }

    #gmb_contact table.table_cmn_01 td p.ttl {
      font-weight: bold;
    }

    #gmb_contact table.table_cmn_01 td div.blk {
      margin-bottom: 15px;
    }

    #gmb_contact table.table_cmn_01 td p.ttl_sub {
      font-size: 1.6rem;
      font-weight: bold;
      background-color: #e3e3e3;
      padding: 5px 10px;
      margin-bottom: 10px;
    }

    #gmb_contact table.table_cmn_01 input[type="file"] {
      font-size: 1.4rem !important;
    }

    .selectWrap.month,
    .selectWrap.date {
      width: 70px;
    }

    .cap_txt_01.top {
      font-size: 1.4rem;
      line-height: 1.4;
      margin-bottom: 7px;
    }

    table.table_cmn_01 th .required {
      position: absolute;
      right: 20px;
      font-size: 1.2rem;
      line-height: 1;
      color: #fff;
      padding: 3px 7px;
      background-color: #eb0f00;
      border-radius: 2px;
      margin-top: 5px;
    }

    .menu .menu__mega.cover {
      width: 118px;
    }

    @media screen and (max-width: 768px) {
      #gmb_contact table.table_cmn_01 input[type="file"] {
        padding: 12px !important;
        border: 1px solid #9f9f9f !important;
        width: 100%;
      }

      #gmb_contact .price [type="text"] {
        width: 70% !important;
      }

      #gmb_contact table.table_cmn_01 input.w_s01 {
        width: 80px !important;
      }
    }
  </style>
  <!-- Google Tag Manager -->
   <script is:inline>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NXBVCP8');</script>
  <!-- End Google Tag Manager -->
</head>

<body id="contact">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NXBVCP8" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <article id="gmb_contact">
    <div class="mv_title">
      <div class="mv_txt_area">
        <h2>Googleビジネスプロフィール：登録情報用フォーム しっかりプラン</h2>
      </div>
    </div>
    <!-- /mv -->
    <section class="container last_pb">
      <div class="inner">
        <form action="https://business.form-mailer.jp/fm/service/Forms/confirm" method="post" name="form1"
          enctype="multipart/form-data">
          <input type="hidden" name="key" value="7d277d79182733">
          <table class="table_cmn_01">
            <tbody>
              <!--
              <tr>
                <th>開業月<span class="required">必須</span></th>
                <td>
                  <input class="w_s01" name="" type="text" maxlength="4" placeholder="年">&nbsp;年　
                  <div class="selectWrap month">
                    <select name="">
                      <option class="placeholder" value="" hidden><span class="placeholder">月</span></option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                    </select></div>&nbsp;月<br>
                  <p class="cap_txt_01">※開業予定月が未定の場合は目安の予定月をご入力ください。</p>
                </td>
              </tr> -->
              <tr>
                <th>店舗名・屋号<span class="required">必須</span></th>
                <td>
                  <input name="field_3062404" type="text" size="30">
                </td>
              </tr>
              <tr>
                <th>ご担当者様名<span class="required">必須</span></th>
                <td>
                  <input name="field_3062405" type="text" size="30">
                  <p class="cap_txt_01">※フルネームでご入力ください</p>
                </td>
              </tr>
              <!--<tr>
                <th>担当者連絡先<span class="required">必須</span></th>
                <td><input name="" type="text" size="30">
                  <p class="cap_txt_01">※ハイフンを入れてご入力ください</p>
                </td>
              </tr>-->
              <!-- <tr>
                <th>お店の住所<span class="required">必須</span></th>
                <td>
                  <div class="mb5">郵便番号<br>
                    <p>〒&nbsp;<input class="w_s01" name="" type="text" maxlength="3" placeholder="000">&nbsp;-&nbsp;<input class="w_s01" name="" type="text" maxlength="4" placeholder="0000"></p>
                  </div>
                  都道府県<br>
                  <div class="selectWrap">
                    <select name="">
                      <option value=""><span>都道府県</span></option>
                      <option value="1">北海道</option>
                      <option value="2">青森県</option>
                      <option value="3">岩手県</option>
                      <option value="4">宮城県</option>
                      <option value="5">秋田県</option>
                      <option value="6">山形県</option>
                      <option value="7">福島県</option>
                      <option value="8">茨城県</option>
                      <option value="9">栃木県</option>
                      <option value="10">群馬県</option>
                      <option value="11">埼玉県</option>
                      <option value="12">千葉県</option>
                      <option value="13">東京都</option>
                      <option value="14">神奈川県</option>
                      <option value="15">新潟県</option>
                      <option value="16">富山県</option>
                      <option value="17">石川県</option>
                      <option value="18">福井県</option>
                      <option value="19">山梨県</option>
                      <option value="20">長野県</option>
                      <option value="21">岐阜県</option>
                      <option value="22">静岡県</option>
                      <option value="23">愛知県</option>
                      <option value="24">三重県</option>
                      <option value="25">滋賀県</option>
                      <option value="26">京都府</option>
                      <option value="27">大阪府</option>
                      <option value="28">兵庫県</option>
                      <option value="29">奈良県</option>
                      <option value="30">和歌山県</option>
                      <option value="31">鳥取県</option>
                      <option value="32">島根県</option>
                      <option value="33">岡山県</option>
                      <option value="34">広島県</option>
                      <option value="35">山口県</option>
                      <option value="36">徳島県</option>
                      <option value="37">香川県</option>
                      <option value="38">愛媛県</option>
                      <option value="39">高知県</option>
                      <option value="40">福岡県</option>
                      <option value="41">佐賀県</option>
                      <option value="42">長崎県</option>
                      <option value="43">熊本県</option>
                      <option value="44">大分県</option>
                      <option value="45">宮崎県</option>
                      <option value="46">鹿児島県</option>
                      <option value="47">沖縄県</option>
                      <option value="99">その他</option>
                    </select>
                  </div>
                  <div class="mb5">市区町村番地<br>
                    <input name="" type="text" size="30" placeholder="市区町村番地"></div>
                  <div class="mb5">マンション・ビル名<br>
                    <input name="" type="text" size="30" placeholder="マンション・ビル名"></div>
                </td>
              </tr> -->
              <tr>
                <th>お店の電話番号<span class="required">必須</span></th>
                <td>
                  <input name="field_3062406" type="text" value="" size="30">
                  <p class="cap_txt_01">※ハイフンを入れてご入力ください</p>
                </td>
              </tr>
              <tr>
                <th>営業時間<span class="required">必須</span></th>
                <td>
                  <textarea name="field_3062408" cols="30" rows="5"
                    placeholder="ランチ：11：00～14：00　ディナー：17：00～21：00　入店可能時間・ラストオーダーがある場合はそちらも記載してください。"></textarea>
                </td>
              </tr>
              <tr>
                <th>定休日<span class="required">必須</span></th>
                <td>
                  <input type="checkbox" id="checkbox01-00" name="field_3062409" value="0">
                  <label for="checkbox01-00" class="checkbox01">日</label>
                  <input type="checkbox" id="checkbox01-01" name="field_3062409" value="1">
                  <label for="checkbox01-01" class="checkbox01">月</label>
                  <input type="checkbox" id="checkbox01-02" name="field_3062409" value="2">
                  <label for="checkbox01-02" class="checkbox01">火</label>
                  <input type="checkbox" id="checkbox01-03" name="field_3062409" value="3">
                  <label for="checkbox01-03" class="checkbox01">水</label>
                  <input type="checkbox" id="checkbox01-04" name="field_3062409" value="4">
                  <label for="checkbox01-04" class="checkbox01">木</label>
                  <input type="checkbox" id="checkbox01-05" name="field_3062409" value="5">
                  <label for="checkbox01-05" class="checkbox01">金</label>
                  <input type="checkbox" id="checkbox01-06" name="field_3062409" value="6">
                  <label for="checkbox01-06" class="checkbox01">土</label>
                  <input type="checkbox" id="checkbox01-07" name="field_3062409" value="7">
                  <label for="checkbox01-07" class="checkbox01">祝日</label>
                  <input type="checkbox" id="checkbox01-08" name="field_3062409" value="8">
                  <label for="checkbox01-08" class="checkbox01">無休</label>
                  <input type="checkbox" id="checkbox01-09" name="field_3062409" value="9">
                  <label for="checkbox01-09" class="checkbox01">不定休</label>
                </td>
              </tr>
              <tr>
                <th>サービス提供地域<span class="required">必須</span></th>
                <td><textarea name="field_3062413" cols="30" rows="5"
                    placeholder="出張・デリバリーサービスがある業態は対応可能エリアをご記入ください"></textarea></td>
              </tr>
              <tr>
                <th>営業時間の詳細<span class="required">必須</span></th>
                <td><textarea name="field_3064755" cols="30" rows="5"
                    placeholder="テイクアウト、注文可能な時間など営業時間とは別に設けている時間があればご記入ください。"></textarea></td>
              </tr>
              <!--<tr>
                <th>営業時間<span class="required">必須</span></th>
                <td>
                  <div class="blk">
                    <p class="ttl">■ランチ開店時間</p>
                    <div class="selectWrap">
                      <select name="">
                        <option value="">------</option>
                        <option value="0">0:00</option>
                        <option value="1">1:00</option>
                        <option value="2">2:00</option>
                        <option value="3">3:00</option>
                        <option value="4">4:00</option>
                        <option value="5">5:00</option>
                        <option value="6">6:00</option>
                        <option value="7">7:00</option>
                        <option value="8">8:00</option>
                        <option value="9">9:00</option>
                        <option value="10">10:00</option>
                        <option value="11">11:00</option>
                        <option value="12">12:00</option>
                        <option value="13">13:00</option>
                        <option value="14">14:00</option>
                        <option value="15">15:00</option>
                        <option value="16">16:00</option>
                        <option value="17">17:00</option>
                        <option value="18">18:00</option>
                        <option value="19">19:00</option>
                        <option value="20">20:00</option>
                        <option value="21">21:00</option>
                        <option value="22">22:00</option>
                        <option value="23">23:00</option>
                        <option value="24">24:00</option>
                      </select>
                    </div>
                  </div>
                  <div class="blk">
                    <p class="ttl">■ランチ閉店時間</p>
                    <div class="selectWrap">
                      <select name="">
                        <option value="">------</option>
                        <option value="0">0:00</option>
                        <option value="1">1:00</option>
                        <option value="2">2:00</option>
                        <option value="3">3:00</option>
                        <option value="4">4:00</option>
                        <option value="5">5:00</option>
                        <option value="6">6:00</option>
                        <option value="7">7:00</option>
                        <option value="8">8:00</option>
                        <option value="9">9:00</option>
                        <option value="10">10:00</option>
                        <option value="11">11:00</option>
                        <option value="12">12:00</option>
                        <option value="13">13:00</option>
                        <option value="14">14:00</option>
                        <option value="15">15:00</option>
                        <option value="16">16:00</option>
                        <option value="17">17:00</option>
                        <option value="18">18:00</option>
                        <option value="19">19:00</option>
                        <option value="20">20:00</option>
                        <option value="21">21:00</option>
                        <option value="22">22:00</option>
                        <option value="23">23:00</option>
                        <option value="24">24:00</option>
                      </select>
                    </div>
                  </div>
                  <div class="blk">
                    <p class="ttl">■ランチ ラストオーダー</p>
                    <div class="selectWrap">
                      <select name="">
                        <option value="">------</option>
                        <option value="0">0:00</option>
                        <option value="1">1:00</option>
                        <option value="2">2:00</option>
                        <option value="3">3:00</option>
                        <option value="4">4:00</option>
                        <option value="5">5:00</option>
                        <option value="6">6:00</option>
                        <option value="7">7:00</option>
                        <option value="8">8:00</option>
                        <option value="9">9:00</option>
                        <option value="10">10:00</option>
                        <option value="11">11:00</option>
                        <option value="12">12:00</option>
                        <option value="13">13:00</option>
                        <option value="14">14:00</option>
                        <option value="15">15:00</option>
                        <option value="16">16:00</option>
                        <option value="17">17:00</option>
                        <option value="18">18:00</option>
                        <option value="19">19:00</option>
                        <option value="20">20:00</option>
                        <option value="21">21:00</option>
                        <option value="22">22:00</option>
                        <option value="23">23:00</option>
                        <option value="24">24:00</option>
                      </select>
                    </div>
                  </div>
                  <div class="blk">
                    <p class="ttl">■ディナー開店時間</p>
                    <div class="selectWrap">
                      <select name="">
                        <option value="">------</option>
                        <option value="0">0:00</option>
                        <option value="1">1:00</option>
                        <option value="2">2:00</option>
                        <option value="3">3:00</option>
                        <option value="4">4:00</option>
                        <option value="5">5:00</option>
                        <option value="6">6:00</option>
                        <option value="7">7:00</option>
                        <option value="8">8:00</option>
                        <option value="9">9:00</option>
                        <option value="10">10:00</option>
                        <option value="11">11:00</option>
                        <option value="12">12:00</option>
                        <option value="13">13:00</option>
                        <option value="14">14:00</option>
                        <option value="15">15:00</option>
                        <option value="16">16:00</option>
                        <option value="17">17:00</option>
                        <option value="18">18:00</option>
                        <option value="19">19:00</option>
                        <option value="20">20:00</option>
                        <option value="21">21:00</option>
                        <option value="22">22:00</option>
                        <option value="23">23:00</option>
                        <option value="24">24:00</option>
                      </select>
                    </div>
                  </div>
                  <div class="blk">
                    <p class="ttl">■ディナー閉店時間</p>
                    <div class="selectWrap">
                      <select name="">
                        <option value="">------</option>
                        <option value="0">0:00</option>
                        <option value="1">1:00</option>
                        <option value="2">2:00</option>
                        <option value="3">3:00</option>
                        <option value="4">4:00</option>
                        <option value="5">5:00</option>
                        <option value="6">6:00</option>
                        <option value="7">7:00</option>
                        <option value="8">8:00</option>
                        <option value="9">9:00</option>
                        <option value="10">10:00</option>
                        <option value="11">11:00</option>
                        <option value="12">12:00</option>
                        <option value="13">13:00</option>
                        <option value="14">14:00</option>
                        <option value="15">15:00</option>
                        <option value="16">16:00</option>
                        <option value="17">17:00</option>
                        <option value="18">18:00</option>
                        <option value="19">19:00</option>
                        <option value="20">20:00</option>
                        <option value="21">21:00</option>
                        <option value="22">22:00</option>
                        <option value="23">23:00</option>
                        <option value="24">24:00</option>
                      </select>
                    </div>
                  </div>
                  <div class="blk">
                    <p class="ttl">■ディナー ラストオーダー</p>
                    <div class="selectWrap">
                      <select name="">
                        <option value="">------</option>
                        <option value="0">0:00</option>
                        <option value="1">1:00</option>
                        <option value="2">2:00</option>
                        <option value="3">3:00</option>
                        <option value="4">4:00</option>
                        <option value="5">5:00</option>
                        <option value="6">6:00</option>
                        <option value="7">7:00</option>
                        <option value="8">8:00</option>
                        <option value="9">9:00</option>
                        <option value="10">10:00</option>
                        <option value="11">11:00</option>
                        <option value="12">12:00</option>
                        <option value="13">13:00</option>
                        <option value="14">14:00</option>
                        <option value="15">15:00</option>
                        <option value="16">16:00</option>
                        <option value="17">17:00</option>
                        <option value="18">18:00</option>
                        <option value="19">19:00</option>
                        <option value="20">20:00</option>
                        <option value="21">21:00</option>
                        <option value="22">22:00</option>
                        <option value="23">23:00</option>
                        <option value="24">24:00</option>
                      </select>
                    </div>
                  </div>
                  <div class="blk">
                    <p class="ttl">■定休日</p>
                    <input type="checkbox" id="checkbox01-00" name="" value="0">
                    <label for="checkbox01-00" class="checkbox01">日</label>
                    <input type="checkbox" id="checkbox01-01" name="" value="1">
                    <label for="checkbox01-01" class="checkbox01">月</label>
                    <input type="checkbox" id="checkbox01-02" name="" value="2">
                    <label for="checkbox01-02" class="checkbox01">火</label>
                    <input type="checkbox" id="checkbox01-03" name="" value="3">
                    <label for="checkbox01-03" class="checkbox01">水</label>
                    <input type="checkbox" id="checkbox01-04" name="" value="4">
                    <label for="checkbox01-04" class="checkbox01">木</label>
                    <input type="checkbox" id="checkbox01-05" name="" value="5">
                    <label for="checkbox01-05" class="checkbox01">金</label>
                    <input type="checkbox" id="checkbox01-06" name="" value="6">
                    <label for="checkbox01-06" class="checkbox01">土</label>
                    <input type="checkbox" id="checkbox01-07" name="" value="7">
                    <label for="checkbox01-07" class="checkbox01">祝日</label>
                    <input type="checkbox" id="checkbox01-08" name="" value="8">
                    <label for="checkbox01-08" class="checkbox01">無休</label>
                    <input type="checkbox" id="checkbox01-09" name="" value="9">
                  </div>
                  <div class="blk">
                    <p class="cap_txt_01 top">その他営業時間がございましたらご入力ください。</p>
                    <textarea name="" cols="30" rows="5"></textarea>
                  </div>
                </td>
              </tr>-->
              <!--<tr>
                <th>テイクアウト・デリバリーの場合</th>
                <td>
                  <div class="blk">
                    <p class="ttl">■ランチ開店時間（テイクアウト）</p>
                    <div class="selectWrap">
                      <select name="">
                        <option value="">------</option>
                        <option value="0">0:00</option>
                        <option value="1">1:00</option>
                        <option value="2">2:00</option>
                        <option value="3">3:00</option>
                        <option value="4">4:00</option>
                        <option value="5">5:00</option>
                        <option value="6">6:00</option>
                        <option value="7">7:00</option>
                        <option value="8">8:00</option>
                        <option value="9">9:00</option>
                        <option value="10">10:00</option>
                        <option value="11">11:00</option>
                        <option value="12">12:00</option>
                        <option value="13">13:00</option>
                        <option value="14">14:00</option>
                        <option value="15">15:00</option>
                        <option value="16">16:00</option>
                        <option value="17">17:00</option>
                        <option value="18">18:00</option>
                        <option value="19">19:00</option>
                        <option value="20">20:00</option>
                        <option value="21">21:00</option>
                        <option value="22">22:00</option>
                        <option value="23">23:00</option>
                        <option value="24">24:00</option>
                      </select>
                    </div>
                  </div>
                  <div class="blk">
                    <p class="ttl">■ランチ閉店時間（テイクアウト）</p>
                    <div class="selectWrap">
                      <select name="">
                        <option value="">------</option>
                        <option value="0">0:00</option>
                        <option value="1">1:00</option>
                        <option value="2">2:00</option>
                        <option value="3">3:00</option>
                        <option value="4">4:00</option>
                        <option value="5">5:00</option>
                        <option value="6">6:00</option>
                        <option value="7">7:00</option>
                        <option value="8">8:00</option>
                        <option value="9">9:00</option>
                        <option value="10">10:00</option>
                        <option value="11">11:00</option>
                        <option value="12">12:00</option>
                        <option value="13">13:00</option>
                        <option value="14">14:00</option>
                        <option value="15">15:00</option>
                        <option value="16">16:00</option>
                        <option value="17">17:00</option>
                        <option value="18">18:00</option>
                        <option value="19">19:00</option>
                        <option value="20">20:00</option>
                        <option value="21">21:00</option>
                        <option value="22">22:00</option>
                        <option value="23">23:00</option>
                        <option value="24">24:00</option>
                      </select>
                    </div>
                  </div>
                  <div class="blk">
                    <p class="ttl">■ディナー開店時間（テイクアウト）</p>
                    <div class="selectWrap">
                      <select name="">
                        <option value="">------</option>
                        <option value="0">0:00</option>
                        <option value="1">1:00</option>
                        <option value="2">2:00</option>
                        <option value="3">3:00</option>
                        <option value="4">4:00</option>
                        <option value="5">5:00</option>
                        <option value="6">6:00</option>
                        <option value="7">7:00</option>
                        <option value="8">8:00</option>
                        <option value="9">9:00</option>
                        <option value="10">10:00</option>
                        <option value="11">11:00</option>
                        <option value="12">12:00</option>
                        <option value="13">13:00</option>
                        <option value="14">14:00</option>
                        <option value="15">15:00</option>
                        <option value="16">16:00</option>
                        <option value="17">17:00</option>
                        <option value="18">18:00</option>
                        <option value="19">19:00</option>
                        <option value="20">20:00</option>
                        <option value="21">21:00</option>
                        <option value="22">22:00</option>
                        <option value="23">23:00</option>
                        <option value="24">24:00</option>
                      </select>
                    </div>
                  </div>
                  <div class="blk">
                    <p class="ttl">■ディナー閉店時間（テイクアウト）</p>
                    <div class="selectWrap">
                      <select name="">
                        <option value="">------</option>
                        <option value="0">0:00</option>
                        <option value="1">1:00</option>
                        <option value="2">2:00</option>
                        <option value="3">3:00</option>
                        <option value="4">4:00</option>
                        <option value="5">5:00</option>
                        <option value="6">6:00</option>
                        <option value="7">7:00</option>
                        <option value="8">8:00</option>
                        <option value="9">9:00</option>
                        <option value="10">10:00</option>
                        <option value="11">11:00</option>
                        <option value="12">12:00</option>
                        <option value="13">13:00</option>
                        <option value="14">14:00</option>
                        <option value="15">15:00</option>
                        <option value="16">16:00</option>
                        <option value="17">17:00</option>
                        <option value="18">18:00</option>
                        <option value="19">19:00</option>
                        <option value="20">20:00</option>
                        <option value="21">21:00</option>
                        <option value="22">22:00</option>
                        <option value="23">23:00</option>
                        <option value="24">24:00</option>
                      </select>
                    </div>
                  </div>
                  <div class="blk">
                    <p class="ttl">■定休日</p>
                    <input type="checkbox" id="checkbox02-00" name="" value="0">
                    <label for="checkbox02-00" class="checkbox01">日</label>
                    <input type="checkbox" id="checkbox02-01" name="" value="1">
                    <label for="checkbox02-01" class="checkbox01">月</label>
                    <input type="checkbox" id="checkbox02-02" name="" value="2">
                    <label for="checkbox02-02" class="checkbox01">火</label>
                    <input type="checkbox" id="checkbox02-03" name="" value="3">
                    <label for="checkbox02-03" class="checkbox01">水</label>
                    <input type="checkbox" id="checkbox02-04" name="" value="4">
                    <label for="checkbox02-04" class="checkbox01">木</label>
                    <input type="checkbox" id="checkbox02-05" name="" value="5">
                    <label for="checkbox02-05" class="checkbox01">金</label>
                    <input type="checkbox" id="checkbox02-06" name="" value="6">
                    <label for="checkbox02-06" class="checkbox01">土</label>
                    <input type="checkbox" id="checkbox02-07" name="" value="7">
                    <label for="checkbox02-07" class="checkbox01">祝日</label>
                    <input type="checkbox" id="checkbox02-08" name="" value="8">
                    <label for="checkbox02-08" class="checkbox01">無休</label>
                  </div>
                </td>
              </tr>-->
              <tr>
                <th>ホームページURL</th>
                <td>
                  <input name="field_3062414" type="text" size="30">
                  <p class="cap_txt_01">※フードプレイスで作成の場合は不要</p>
                </td>
              </tr>
              <tr>
                <div class="blk">
                  <th>ソーシャルプロフィールURL</th>
                  <td>
                    <div class="blk">
                      <p class="ttl_sub">X</p>
                      <input name="field_4107308" type="text" size="30">
                    </div>
                    <div class="blk">
                      <p class="ttl_sub">YouTube</p>
                      <input name="field_4107309" type="text" size="30">
                    </div>
                    <div class="blk">
                      <p class="ttl_sub">Facebook</p>
                      <input name="field_4107310" type="text" size="30">
                    </div>
                    <div class="blk">
                      <p class="ttl_sub">Instagram</p>
                      <input name="field_4107311" type="text" size="30">
                    </div>
                  </td>
                </div>
              </tr>
              <tr>
                <th>メニューリンクURL</th>
                <td>
                  <input name="field_4107312" type="text" size="30">
                </td>
              </tr>
              <tr>
                <th>予約サイトURL</th>
                <td>
                  <input name="field_3062415" type="text" size="30">
                  <p class="cap_txt_01">※サードパーティ系（ぐるなび、ホットペッパーなど）以外は設置可能</p>
                </td>
              </tr>
              <tr>
                <th>テイクアウトURL</th>
                <td>
                  <input name="field_3062416" type="text" size="30">
                  <p class="cap_txt_01">※サードパーティ系（Uber、出前館など）以外は設置可能</p>
                </td>
              </tr>
              <tr>
                <th>説明文</th>
                <td><textarea name="field_3062438" cols="30" rows="5"></textarea></td>
              </tr>
              <tr>
                <th>開業日<span class="required">必須</span></th>
                <td>
                  <input class="w_s01" name="field_3062417_y" type="text" maxlength="4" placeholder="年">&nbsp;年&nbsp;
                  <div class="selectWrap month">
                    <select name="field_3062417_m">
                      <option class="placeholder" value="" hidden="">月</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                    </select>
                  </div>&nbsp;月&nbsp;
                  <div class="selectWrap date">
                    <select name="field_3062417_d">
                      <option class="placeholder" value="" hidden="">日</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                      <option value="24">24</option>
                      <option value="25">25</option>
                      <option value="26">26</option>
                      <option value="27">27</option>
                      <option value="28">28</option>
                      <option value="29">29</option>
                      <option value="30">30</option>
                      <option value="31">31</option>
                    </select>
                  </div>&nbsp;日
                  <p class="cap_txt_01">※開業予定月が未定の場合は目安の予定月をご入力ください。</p>
                </td>
              </tr>
              <!--<tr>
                <th>業種<span class="required">必須</span></th>
                <td>
                  <div class="blk">
                    <div class="selectWrap">
                      <select name="">
                        <option value="0">すし・魚料理</option>
                        <option value="1">和食・日本料理</option>
                        <option value="2">ラーメン・麺類</option>
                        <option value="3">丼もの・揚げ物</option>
                        <option value="4">お好み焼・粉物</option>
                        <option value="5">郷土料理</option>
                        <option value="6">アジア・エスニック</option>
                        <option value="7">中華、イタリアン</option>
                        <option value="8">フレンチ</option>
                        <option value="9">洋食・西洋料理</option>
                        <option value="10">ほか各国料理</option>
                        <option value="11">焼肉・ステーキ</option>
                        <option value="12">焼鳥・串料理</option>
                        <option value="13">鍋</option>
                        <option value="14">しゃぶしゃぶ・すき焼き</option>
                        <option value="15">居酒屋</option>
                        <option value="16">バー・立ち飲み</option>
                        <option value="17">スナック・キャバレー</option>
                        <option value="18">カフェ・スイーツ</option>
                        <option value="19">ファストフード・ファミレス</option>
                        <option value="20">ブッフェ</option>
                        <option value="21">その他</option>
                      </select>
                    </div>
                  </div>
                  <div>
                    <p class="cap_txt_01 top">その他をご選択した場合は、業種名をご入力ください。</p>
                    <textarea name="" cols="30" rows="5"></textarea>
                  </div>
                </td>
              </tr>-->
              <!--<tr>
                <th>最寄り駅 または最寄り道路<span class="required">必須</span></th>
                <td>
                  <input name="" type="text" size="30">
                  <p class="cap_txt_01">（例）京急蒲田駅</p>
                </td>
              </tr>-->
              <tr>
                <th>属性</th>
                <td>
                  <p class="cap_txt_01 top">※当てはまるものに✓をつけてください</p>
                  <div class="blk">
                    <p class="ttl_sub">その他</p>
                    <input type="checkbox" id="checkbox14-00" name="field_3062433" value="0">
                    <label for="checkbox14-00" class="checkbox01">女性経営者</label>
                  </div>
                  <div class="blk">
                    <p class="ttl_sub">サービス</p>
                    <input type="checkbox" id="checkbox10-00" name="field_3062429" value="0">
                    <label for="checkbox10-00" class="checkbox01">アルコールあり</label>
                    <input type="checkbox" id="checkbox10-01" name="field_3062429" value="1">
                    <label for="checkbox10-01" class="checkbox01">キッズメニューあり</label>
                    <input type="checkbox" id="checkbox10-02" name="field_3062429" value="2">
                    <label for="checkbox10-02" class="checkbox01">コーヒーあり</label>
                    <input type="checkbox" id="checkbox10-03" name="field_3062429" value="3">
                    <label for="checkbox10-03" class="checkbox01">サラダバーあり</label>
                    <input type="checkbox" id="checkbox10-04" name="field_3062429" value="4">
                    <label for="checkbox10-04" class="checkbox01">ダンスを楽しめる</label>
                    <input type="checkbox" id="checkbox10-05" name="field_3062429" value="5">
                    <label for="checkbox10-05" class="checkbox01">ドリンクのサービスタイムあり</label>
                    <input type="checkbox" id="checkbox10-06" name="field_3062429" value="6">
                    <label for="checkbox10-06" class="checkbox01">ハラール食あり</label>
                    <input type="checkbox" id="checkbox10-07" name="field_3062429" value="7">
                    <!--追加-->
                    <input type="checkbox" id="checkbox10-14" name="field_3062429" value="14">
                    <label for="checkbox10-14" class="checkbox01">ビーガン料理あり</label>
                    <!--追加-->
                    <label for="checkbox10-07" class="checkbox01">ベジタリアンメニューあり</label>
                    <input type="checkbox" id="checkbox10-08" name="field_3062429" value="8">
                    <label for="checkbox10-08" class="checkbox01">小皿料理あり</label>
                    <input type="checkbox" id="checkbox10-09" name="field_3062429" value="9">
                    <label for="checkbox10-09" class="checkbox01">深夜の食事可</label>
                    <input type="checkbox" id="checkbox10-10" name="field_3062429" value="10">
                    <label for="checkbox10-10" class="checkbox01">点字メニュー</label>
                    <input type="checkbox" id="checkbox10-11" name="field_3062429" value="11">
                    <label for="checkbox10-11" class="checkbox01">食べ放題あり</label>
                    <input type="checkbox" id="checkbox10-12" name="field_3062429" value="12">
                    <label for="checkbox10-12" class="checkbox01">食事のサービスタイムあり</label>
                    <input type="checkbox" id="checkbox10-13" name="field_3062429" value="13">
                    <label for="checkbox10-13" class="checkbox01">食事の提供あり</label>
                    <!--追加-->
                    <input type="checkbox" id="checkbox10-15" name="field_3062429" value="15">
                    <label for="checkbox10-15" class="checkbox01">有機食材あり</label>
                    <!--追加-->
                  </div>
                  <div class="blk">
                    <p class="ttl_sub">サービスオプション</p>
                    <!--追加-->
                    <input type="checkbox" id="checkbox11-05" name="field_3062430" value="5">
                    <label for="checkbox11-05" class="checkbox01">テラス席あり</label>
                    <!--追加-->
                    <input type="checkbox" id="checkbox11-01" name="field_3062430" value="0">
                    <label for="checkbox11-01" class="checkbox01">テイクアウト</label>
                    <input type="checkbox" id="checkbox11-02" name="field_3062430" value="1">
                    <label for="checkbox11-02" class="checkbox01">ドライブスルーあり</label>
                    <input type="checkbox" id="checkbox11-03" name="field_3062430" value="2">
                    <label for="checkbox11-03" class="checkbox01">宅配あり</label>
                    <input type="checkbox" id="checkbox11-04" name="field_3062430" value="3">
                    <label for="checkbox11-04" class="checkbox01">店先受け取り可</label>
                    <input type="checkbox" id="checkbox11-05" name="field_3062430" value="4">
                    <label for="checkbox11-05" class="checkbox01">非接触デリバリー</label>
                    <!--追加-->
                    <input type="checkbox" id="checkbox11-06" name="field_3062430" value="6">
                    <label for="checkbox11-06" class="checkbox01">イートイン利用可</label>
                    <!--追加-->
                  </div>
                  <div class="blk">
                    <p class="ttl_sub">バリアフリー</p>
                    <input type="checkbox" id="checkbox04-01" name="field_3062423" value="1">
                    <label for="checkbox04-01" class="checkbox01">車椅子対応の座席</label>
                    <input type="checkbox" id="checkbox04-02" name="field_3062423" value="2">
                    <label for="checkbox04-02" class="checkbox01">車椅子対応のトイレ</label>
                    <input type="checkbox" id="checkbox04-03" name="field_3062423" value="3">
                    <label for="checkbox04-03" class="checkbox01">車椅子対応の駐車場</label>
                    <!--追加-->
                    <input type="checkbox" id="checkbox04-04" name="field_3062423" value="4">
                    <label for="checkbox04-04" class="checkbox01">車椅子対応の入り口あり</label>
                    <!--追加-->
                  </div>
                  <div class="blk">
                    <p class="ttl_sub">プラン</p>
                    <!--追加-->
                    <input type="checkbox" id="checkbox09-03" name="field_3062428" value="3">
                    <label for="checkbox09-03" class="checkbox01">要予約</label>
                    <!--追加-->
                    <input type="checkbox" id="checkbox09-00" name="field_3062428" value="0">
                    <label for="checkbox09-00" class="checkbox01">LGBTQフレンドリー</label>
                    <input type="checkbox" id="checkbox09-01" name="field_3062428" value="1">
                    <label for="checkbox09-01" class="checkbox01">トランスジェンダー対応</label>
                    <input type="checkbox" id="checkbox09-02" name="field_3062428" value="2">
                    <label for="checkbox09-02" class="checkbox01">予約可能</label>
                  </div>
                  <div class="blk">
                    <p class="ttl_sub">ペット</p>
                    <input type="checkbox" id="checkbox15-00" name="field_4103259" value="0">
                    <label for="checkbox15-00" class="checkbox01">屋外での犬の同伴可</label>
                    <input type="checkbox" id="checkbox15-01" name="field_4103259" value="1">
                    <label for="checkbox15-01" class="checkbox01">屋内での犬の同伴可</label>
                  </div>
                  <div class="blk">
                    <p class="ttl_sub">子ども</p>
                    <input type="checkbox" id="checkbox16-00" name="field_4103261" value="0">
                    <label for="checkbox16-00" class="checkbox01">おむつ代交換台</label>
                    <input type="checkbox" id="checkbox16-01" name="field_4103261" value="1">
                    <label for="checkbox16-01" class="checkbox01">子供椅子あり</label>
                    <input type="checkbox" id="checkbox16-02" name="field_4103261" value="2">
                    <label for="checkbox16-02" class="checkbox01">キッズメニュー</label>
                    <input type="checkbox" id="checkbox16-03" name="field_4103261" value="3">
                    <label for="checkbox16-03" class="checkbox01">子供向き</label>
                  </div>
                  <div class="blk">
                    <p class="ttl_sub">客層</p>
                    <!--追加-->
                    <input type="checkbox" id="checkbox06-01" name="field_3062425" value="1">
                    <label for="checkbox06-01" class="checkbox01">LGBTQフレンドリー</label>
                    <input type="checkbox" id="checkbox06-02" name="field_3062425" value="2">
                    <label for="checkbox06-02" class="checkbox01">トランスジェンダー対応</label>
                    <!--追加-->
                    <input type="checkbox" id="checkbox06-00" name="field_3062425" value="0">
                    <label for="checkbox06-00" class="checkbox01">家族向き</label>
                  </div>
                  <div class="blk">
                    <p class="ttl_sub">決済方法</p>
                    <!--追加-->
                    <input type="checkbox" id="checkbox08-11" name="field_3062427" value="11">
                    <label for="checkbox08-11" class="checkbox01">au pay</label>
                    <input type="checkbox" id="checkbox08-12" name="field_3062427" value="12">
                    <label for="checkbox08-12" class="checkbox01">ｄ払い</label>
                    <input type="checkbox" id="checkbox08-13" name="field_3062427" value="13">
                    <label for="checkbox08-13" class="checkbox01">NFC</label>
                    <input type="checkbox" id="checkbox08-14" name="field_3062427" value="14">
                    <label for="checkbox08-14" class="checkbox01">paypay</label>
                    <input type="checkbox" id="checkbox08-15" name="field_3062427" value="15">
                    <label for="checkbox08-15" class="checkbox01">VｰMoney</label>
                    <input type="checkbox" id="checkbox08-16" name="field_3062427" value="16">
                    <label for="checkbox08-16" class="checkbox01">楽天ペイ</label>
                    <input type="checkbox" id="checkbox08-17" name="field_3062427" value="17">
                    <label for="checkbox08-17" class="checkbox01">交通系IC</label>
                    <!--追加-->
                    <input type="checkbox" id="checkbox08-00" name="field_3062427" value="0">
                    <label for="checkbox08-00" class="checkbox01">NFCモバイル決済</label>
                    <input type="checkbox" id="checkbox08-01" name="field_3062427" value="1">
                    <label for="checkbox08-01" class="checkbox01">現金のみ</label>
                    <input type="checkbox" id="checkbox08-02" name="field_3062427" value="2">
                    <label for="checkbox08-02" class="checkbox01">小切手可</label>
                    <input type="checkbox" id="checkbox08-03" name="field_3062427" value="3">
                    <label for="checkbox08-03" class="checkbox01">クレジット JCB</label>
                    <input type="checkbox" id="checkbox08-04" name="field_3062427" value="4">
                    <label for="checkbox08-04" class="checkbox01">クレジット AmericanExpress</label>
                    <input type="checkbox" id="checkbox08-05" name="field_3062427" value="5">
                    <label for="checkbox08-05" class="checkbox01">クレジット Diners Club</label>
                    <input type="checkbox" id="checkbox08-06" name="field_3062427" value="6">
                    <label for="checkbox08-06" class="checkbox01">クレジット Discover</label>
                    <input type="checkbox" id="checkbox08-07" name="field_3062427" value="7">
                    <label for="checkbox08-07" class="checkbox01">クレジット MasterCard</label>
                    <input type="checkbox" id="checkbox08-08" name="field_3062427" value="8">
                    <label for="checkbox08-08" class="checkbox01">クレジット VISA</label>
                    <input type="checkbox" id="checkbox08-09" name="field_3062427" value="9">
                    <label for="checkbox08-09" class="checkbox01">クレジット 中国銀聯</label>
                    <input type="checkbox" id="checkbox08-10" name="field_3062427" value="10">
                    <label for="checkbox08-10" class="checkbox01">デビットカード</label>
                  </div>
                  <div class="blk">
                    <p class="ttl_sub">特徴</p>
                    <input type="checkbox" id="checkbox03-00" name="field_3062422" value="0">
                    <label for="checkbox03-00" class="checkbox01">生演奏あり</label>
                    <input type="checkbox" id="checkbox03-01" name="field_3062422" value="1">
                    <label for="checkbox03-01" class="checkbox01">屋上の席あり</label>
                    <input type="checkbox" id="checkbox03-02" name="field_3062422" value="2">
                    <label for="checkbox03-02" class="checkbox01">暖炉あり</label>
                    <input type="checkbox" id="checkbox03-03" name="field_3062422" value="3">
                    <label for="checkbox03-03" class="checkbox01">飲み放題あり</label>
                    <input type="checkbox" id="checkbox03-05" name="field_3062422" value="5">
                    <label for="checkbox03-05" class="checkbox01">ライブパフォーマンス</label>
                    <input type="checkbox" id="checkbox03-06" name="field_3062422" value="6">
                    <label for="checkbox03-06" class="checkbox01">スポーツ観戦</label>
                  </div>
                  <div class="blk">
                    <p class="ttl_sub">設備</p>
                    <input type="checkbox" id="checkbox05-00" name="field_3062424" value="0">
                    <label for="checkbox05-00" class="checkbox01">Wi-Fi (無料）</label>
                    <input type="checkbox" id="checkbox05-01" name="field_3062424" value="1">
                    <label for="checkbox05-01" class="checkbox01">Wi-Fi (有料)</label>
                    <input type="checkbox" id="checkbox05-07" name="field_3062424" value="7">
                    <label for="checkbox05-07" class="checkbox01">男女共用のトイレがある</label>
                    <input type="checkbox" id="checkbox05-08" name="field_3062424" value="8">
                    <label for="checkbox05-08" class="checkbox01">トイレありのお店</label>
                    <input type="checkbox" id="checkbox05-02" name="field_3062424" value="2">
                    <label for="checkbox05-02" class="checkbox01">バー併設</label>
                    <!--追加-->
                    <input type="checkbox" id="checkbox05-12" name="field_3062424" value="12">
                    <label for="checkbox05-12" class="checkbox01">喫煙</label>
                    <input type="checkbox" id="checkbox05-13" name="field_3062424" value="13">
                    <label for="checkbox05-13" class="checkbox01">分煙</label>
                    <input type="checkbox" id="checkbox05-14" name="field_3062424" value="14">
                    <label for="checkbox05-14" class="checkbox01">禁煙</label>
                    <!--追加-->
                  </div>
                  <div class="blk">
                    <p class="ttl_sub">食事</p>
                    <!--追加-->
                    <input type="checkbox" id="checkbox07-04" name="field_3062426" value="4">
                    <label for="checkbox07-04" class="checkbox01">モーニング</label>
                    <input type="checkbox" id="checkbox07-05" name="field_3062426" value="5">
                    <label for="checkbox07-05" class="checkbox01">ブランチ</label>
                    <input type="checkbox" id="checkbox07-06" name="field_3062426" value="6">
                    <label for="checkbox07-06" class="checkbox01">ランチ</label>
                    <input type="checkbox" id="checkbox07-07" name="field_3062426" value="7">
                    <label for="checkbox07-07" class="checkbox01">ディナー</label>
                    <input type="checkbox" id="checkbox07-08" name="field_3062426" value="8">
                    <label for="checkbox07-08" class="checkbox01">カウンター可</label>
                    <!--追加-->
                    <input type="checkbox" id="checkbox07-00" name="field_3062426" value="0">
                    <label for="checkbox07-00" class="checkbox01">ケータリング</label>
                    <input type="checkbox" id="checkbox07-02" name="field_3062426" value="2">
                    <label for="checkbox07-02" class="checkbox01">デザートあり</label>
                  </div>
                  <div class="blk">
                    <p class="ttl_sub">駐車場</p>
                    <input type="checkbox" id="checkbox17-00" name="field_4103276" value="0">
                    <label for="checkbox17-00" class="checkbox01">無料屋内駐車場</label>
                    <input type="checkbox" id="checkbox17-01" name="field_4103276" value="1">
                    <label for="checkbox17-01" class="checkbox01">無料路上駐車場</label>
                    <input type="checkbox" id="checkbox17-02" name="field_4103276" value="2">
                    <label for="checkbox17-02" class="checkbox01">無料駐車場</label>
                    <input type="checkbox" id="checkbox17-03" name="field_4103276" value="3">
                    <label for="checkbox17-03" class="checkbox01">有料屋内駐車場</label>
                    <input type="checkbox" id="checkbox17-04" name="field_4103276" value="4">
                    <label for="checkbox17-04" class="checkbox01">有料路上駐車場</label>
                    <input type="checkbox" id="checkbox17-05" name="field_4103276" value="5">
                    <label for="checkbox17-05" class="checkbox01">有料駐車場</label>
                  </div>
                  <!--2024.6修正後-->
                </td>
              </tr>
              <tr>
                <th>写真掲載<p class="cap_txt_01">※ホームページ制作もお申込みの方は不要です。</p>
                </th>
                <td>
                  <div class="blk">
                    <p class="ttl">■ロゴ</p>
                    <input name="field_3062435" type="file" size="30">
                  </div>
                  <div class="blk">
                    <p class="ttl">■外観</p>
                    <input name="field_3064758" type="file" size="30">
                  </div>
                  <div class="blk">
                    <p class="ttl">■内観・内装</p>
                    <input name="field_3064757" type="file" size="30">
                  </div>
                  <div class="blk">
                    <p class="ttl">■メニュー表</p>
                    <input name="field_3062436" type="file" size="30">
                  </div>
                  <div class="blk">
                    <p class="ttl">■おすすめの料理</p>
                    <input name="field_3062437" type="file" size="30">
                  </div>
                </td>
              </tr>
              <!--<tr>
                <th>掲載メニュー(1)<span class="required">必須</span></th>
                <td>
                  <div class="blk">
                    <p>メニュー名</p>
                    <input name="" type="text" size="30">
                  </div>
                  <div class="blk price">
                    <p>金額</p>
                    <input name="" type="text" size="30">&nbsp;円（税込）
                  </div>
                  <div class="blk">
                    <p>写真</p>
                    <input name="" type="file" size="30">
                  </div>
                </td>
              </tr>
              <tr>
                <th>掲載メニュー(2)</th>
                <td>
                  <div class="blk">
                    <p>メニュー名</p>
                    <input name="" type="text" size="30">
                  </div>
                  <div class="blk price">
                    <p>金額</p>
                    <input name="" type="text" size="30">&nbsp;円（税込）
                  </div>
                  <div class="blk">
                    <p>写真</p>
                    <input name="" type="file" size="30">
                  </div>
                </td>
              </tr>
              <tr>
                <th>掲載メニュー(3)</th>
                <td>
                  <div class="blk">
                    <p>メニュー名</p>
                    <input name="" type="text" size="30">
                  </div>
                  <div class="blk price">
                    <p>金額</p>
                    <input name="" type="text" size="30">&nbsp;円（税込）
                  </div>
                  <div class="blk">
                    <p>写真</p>
                    <input name="" type="file" size="30">
                  </div>
                </td>
              </tr>
              <tr>
                <th>掲載メニュー(4)</th>
                <td>
                  <div class="blk">
                    <p>メニュー名</p>
                    <input name="" type="text" size="30">
                  </div>
                  <div class="blk price">
                    <p>金額</p>
                    <input name="" type="text" size="30">&nbsp;円（税込）
                  </div>
                  <div class="blk">
                    <p>写真</p>
                    <input name="" type="file" size="30">
                  </div>
                </td>
              </tr>
              <tr>
                <th>看板またはお店外観の写真</th>
                <td>
                  <div class="blk">
                    <input name="" type="file" size="30">
                  </div>
                </td>
              </tr>-->
              <!--<tr>
                <th>お店のウリ・おススメ<span class="required">必須</span></th>
                <td>
                  <textarea name="" cols="30" rows="5"></textarea><br>
                  <p class="cap_txt_01">(例）○○市場から直送した新鮮なカツオとあまり出回っていない日本酒がおすすめ</p>
                </td>
              </tr>
              <tr>
                <th>ご希望の検索キーワード</th>
                <td>
                  <p class="cap_txt_01 top">※検索でヒットしてほしいキーワードのご希望がございましたらご入力ください。</p>
                  <p class="cap_txt_01 top">※シンプルプランは３つまで、しっかりプランは６つまでのキーワードを設定できます。</p>
                  <div class="blk">
                    <p>キーワード候補１</p>
                    <input name="" type="text" value="" size="30" >
                  </div>
                  <div class="blk">
                    <p>キーワード候補2</p>
                    <input name="" type="text" value="" size="30" >
                  </div>
                  <div class="blk">
                    <p>キーワード候補3</p>
                    <input name="" type="text" value="" size="30" >
                  </div>
                  <div class="blk">
                    <p>キーワード候補4</p>
                    <input name="" type="text" value="" size="30" >
                  </div>
                  <div class="blk">
                    <p>キーワード候補5</p>
                    <input name="" type="text" value="" size="30" >
                  </div>
                  <div class="blk">
                    <p>キーワード候補6</p>
                    <input name="" type="text" value="" size="30" >
                  </div>
                </td>
              </tr>
              <tr>
                <th>備考</th>
                <td>
                  <textarea name="" cols="30" rows="5"></textarea>
                </td>
              </tr>-->
            </tbody>
          </table>
          <!-- charset -->
          <input type="hidden" name="code" value="utf8">
          <!-- charset -->
          <div class="center">
            <div class="button_wrap">
              <input name="submit" type="submit" class="button" value="入力内容確認"
                onclick="ga('send','event','banner','click','check-click');">
            </div>
          </div>
        </form>
      </div>
    </section>
  </article>

</body>

</html>