---
import Layout from "../../../layouts/Layout.astro";
import ContactArea from "../../../components/common/ContactArea.astro";
import structuredDataMarkup from "../../../data/data.json";
const markup = JSON.stringify(structuredDataMarkup.pressRelease);
---

<Layout
    title="飲食店向けプレスリリース記事の作成代行からPR配信代行までサポート｜テンポス"
    description="新規オープンや新商品の記事作成からニュースサイトへの配信代行まで1配信27,500円（税込）と格安で行います。テレビ・雑誌・新聞社などのマスコミに取り上げられる可能性アップ！広報担当の方もお気軽にご相談ください。"
    pageUrl="/marketing/press-release/"
    ogimage="/asset/images/press-release/ogp_press-release.jpg"
    markup={markup}
>
    <article id="mainarea">
        <div class="tp-border sans">
            <nav class="tp-nav">
                <ol class="tp-nav__list flex">
                    <li><a href="/">トップページ</a></li>
                    <li><a href="/marketing/">集客</a></li>
                    <li>プレスリリース</li>
                </ol>
            </nav>
            <section class="tp-front__section">
                <h1 class="tp-front__ttl font_m_plus">
                    <span>プレスリリース</span>
                </h1>
                <p class="tp-front__caption">
                    お店を記事にしてマスコミ各社にアピールする。<br />
                    記事作成から配信までテンポスにお任せください。
                </p>
                <p class="tp-front__contact">
                    <a class="click_link_mail" href="/contact/?checked=14"
                        >お問い合わせはこちら</a
                    >
                </p>
            </section>

            <!-- こんなお悩みありませんか？ -->
            <section class="tp-worries__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __border">
                    <span></span>こんなお悩みありませんか？<span></span>
                </h2>
                <ul class="tp-check__list tp-wrapper__l">
                    <li>
                        新しくオープンするお店の情報を<span class="tp-bglg"
                            >多くの人に知ってもらいたい</span
                        >
                    </li>
                    <li>
                        <span class="tp-bglg">新しいキャンペーンのスタート</span
                        >を広く発信したい
                    </li>
                    <li>
                        プレスリリース配信に興味はあるけど<span class="tp-bglg"
                            >原稿まで用意できない</span
                        >！
                    </li>
                </ul>
            </section>

            <section class="tp-design__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    プレスリリースの原稿作成から<br class="pc" />
                    配信まですべて代行いたします
                </h2>
                <div class="tp-design__contents flex">
                    <p class="tp-local">
                        幅広い業種の方が配信して、<br />
                        一般の生活者も利用し始めている「プレスリリース」。<br />
                        集客・販促の手段としてニーズも高まってきています。<br
                        /><br />

                        興味はあるけど配信の手配まで手が回らない…魅力的な原稿が書けない…<br
                        />
                        など、お困りの方はぜひ一度テンポスにご相談ください。<br
                        />
                        原稿作成から配信までまるっとサポートいたします。<br
                        /><br />

                        お店の公式な情報発信源としてプレスリリースを活用していきましょう！
                    </p>
                    <p class="tp-design__thumb">
                        <img
                            src="/asset/images/press-release/img_press-release_01.png"
                            alt="プレスリリースの原稿作成から配信まですべて代行いたします"
                            width="491"
                            height="552"
                            loading="lazy"
                            class="imgauto fit-content"
                        />
                    </p>
                </div>
            </section>

            <!-- こんなお悩みありませんか？ -->
            <section class="tp-want__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center">
                    『信頼できるお店』であることは、<br
                    />お客さまの来店動機にも影響します
                </h2>
                <ul class="tp-check__list tp-wrapper__l tp-mgb__s">
                    <li>
                        新しくお店をオープンする際、<span class="tp-bglg"
                            >自店のアピールはとても大切</span
                        >です。
                    </li>
                    <li>
                        そんな時、プレスリリースも<span class="tp-bglg"
                            >ひとつの集客手法</span
                        >となります。
                    </li>
                    <li>
                        配信後、「第三者のメディアに情報が掲載されている」ことを「自店のSNSで発信」することで
                        <span class="tp-bglg">ブランディングにつなげる</span
                        >ことも可能です。
                    </li>
                    <li>
                        また、自店のホームページで「プレスリリースが●●に掲載されました」と伝えるだけでも信頼感がアップします。<br
                        />
                        <span class="tp-bglg"
                            >プレスリリースを有効に活用することで来店の動機付けが行なえる、</span
                        >というのは大きな強みです。
                    </li>
                </ul>
                <p class="tp-want__thumb">
                    <img
                        src="/asset/images/press-release/img_press-release_02.png"
                        alt="『信頼できるお店』であることは、お客さまの来店動機にも影響します"
                        width="180"
                        height="89"
                        loading="lazy"
                        class="imgauto"
                    />
                </p>
            </section>

            <!-- 特徴 -->
            <section class="tp-point__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-point__ttl__span"
                        >テンポスのプレスリリース</span
                    >
                    <span class="tp-ttl__balloon__span"
                        ><span>3</span>つの特徴</span
                    >
                </h2>
                <ul class="tp-point__list">
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt"
                                >メディアに取り上げられる可能性が高まる</span
                            >
                        </h3>
                        <p class="Local">
                            プレスリリースを利用することでWeb媒体やマスコミ関係者へ情報を届けられます。グルメ情報は多くの人が注目しているため、飲食店の開業や新しい取り組みは比較的取り上げられやすい傾向にあります。検索時に記事になっているお店はお客様も『注目されているお店』『人気店』というイメージを持つため、来店動機にもなり得ます。
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt"
                                >原稿作成もまるっとお任せ</span
                            >
                        </h3>
                        <p class="Local">
                            プレスリリースを配信するにあたって、原稿は肝となる要素です。伝えたい内容を軸にトレンドなども含めて原稿にまとめる必要があります。ご自身で原稿を作成する自信がない、という方も安心してテンポスにお任せください。配信したい内容の詳細をヒアリングさせていただき、ノウハウを活かして原稿を作成いたします。
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">低価格</span>
                        </h3>
                        <p class="Local">
                            単発での配信相場はおよそ8万円程度。テンポスでは『原稿作成～配信までお任せいただいても40,000円（税抜）で対応可能』なため、プレスリリースを初めて配信する、という方におすすめです。
                        </p>
                    </li>
                </ul>
            </section>

            <section class="tp-seo__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center __num02 tp-works__wrapper--s">
                    コストを抑えてプレスリリースを配信できる
                </h2>
                <p class="tp-local tp-mgb__s tp-wrapper__s">
                    各PRメディアでプレスリリースを発信する場合、1配信あたりの料金を比較してみると、<br
                    />
                    原稿の作成と配信まで含めて8万円以上が相場であることがわかります。<br
                    /><br />

                    テンポスでは『原稿作成～配信までお任せいただいても40,000円（税抜）で対応可能』なため、<br
                    />
                    プレスリリースを初めて配信する、という方にはおすすめのサービスとなっています。<br
                    /><br />
                    地域密着の飲食店がプレスリリースを配信する場合、全国区の提携先を抱えてコストが膨らみがちなをメディアを選ぶより、<br
                    />
                    まずは小規模であっても、地域メディアに向けた内容の記事を発信するのがポイントです。
                </p>
                <p class="price-table__head-text">他社料金比較</p>

                <div class="tp-scroll__container">
                    <table class="tp-table__pay02 table-mgb">
                        <tbody>
                            <tr>
                                <td class="color-gray">会社名</td>
                                <td class="color-yellow">テンポス</td>
                                <td>A社</td>
                                <td>B社</td>
                            </tr>
                            <tr>
                                <td class="color-gray">記事作成配信費用</td>
                                <td class="price-main"
                                    >40,000<span class="yen">円</span></td
                                >
                                <td class="price-sub"
                                    >80,000<span class="yen">円</span></td
                                >
                                <td class="price-sub"
                                    >90,000<span class="yen">円</span></td
                                >
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>

            <!-- 料金 -->
            <section class="tp-attention__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">料&emsp;金</span>
                </h2>
                <h3 class="tp-attention__price">
                    <span class="text">記事作成・配信</span><br />
                    44,000
                    <span class="Yen">円/1記事につき </span>
                </h3>
                <p class="tp-text__right tp-text__red">
                    ※プレスリリース配信サイトにて配信を行います。
                </p>
                <!-- <p class="tp-attention__caption"><span>上記の8つのサポート特典付き！</p> -->
            </section>

            <ContactArea />

            <!-- ご利用までの流れ -->
            <section class="tp-frow__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">ご利用までの流れ</span>
                </h2>
                <div class="tp-flow__list">
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">ご依頼・お問い合わせ</h3>
                            <div class="Local">
                                <p>
                                    ご相談は無料です。お気軽にお問い合わせフォームよりご連絡ください。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">担当よりご連絡</h3>
                            <div class="Local">
                                <p>
                                    フードプレイスの担当者よりサービス詳細について、お電話にてご連絡いたします。お客様情報を確認し、お申込み確定となります。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">情報のヒアリング</h3>
                            <div class="Local">
                                <p>
                                    いつオープンなのか、どんなコンセプトのお店なのか、どのような想いで開業に至ったかなど、記事作成に必要な情報を担当者がヒアリングします。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">記事作成</h3>
                            <div class="Local">
                                <p>
                                    お客様からヒアリングした情報を元に記事を作成いたします。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">お客様へ記事内容を確認</h3>
                            <div class="Local">
                                <p>
                                    記事の内容にお間違いはないか確認していただきます。修正点がありましたらお申し付けください。該当箇所を修正いたします（※修正は1回まで）。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">プレスリリース配信</h3>
                            <div class="Local">
                                <p>
                                    完成した記事の配信までテンポスで請け負います。ご指定の日時がありましたらご連絡ください。
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>

            <!-- よくある質問 -->
            <section class="tp-faq__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">よくある質問</span>
                </h2>
                <div class="g-acodion">
                    <dl>
                        <dt>プレスリリースとは何ですか？</dt>
                        <dd>
                            新店オープンや、新キャンペーンのスタートといった新しい取り組みをマスコミやWeb媒体などに向けて情報提供することです。
                        </dd>
                    </dl>
                    <dl>
                        <dt>依頼してから大体どのくらいでできますか？</dt>
                        <dd>
                            お申込みから、記事作成のみで7営業日いただいております。
                        </dd>
                    </dl>
                    <dl>
                        <dt>いつ配信するのが効果的ですか？</dt>
                        <dd>
                            プレスリリースは、オープン時期にあわせた発信が最もインパクトを与えられます。<br
                            />
                            新店の告知であれば、オープンの1～2週間前がおすすめです。
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            知識や経験がないのですが興味はある、という状態で依頼しても問題ないですか？
                        </dt>
                        <dd>
                            もちろん大丈夫です。担当者がお店に関する告知内容をヒアリングいたします。その後、記事の作成から配信まで一貫してテンポスが請け負いますのでご安心ください。
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            新しく始めるキャンペーンは今のところ無いのですが、プレスリリースを出すことはできますか？
                        </dt>
                        <dd>
                            プレスリリースは、発信するタイミングから前後1か月以内に新規のキャンペーン開始、または新店オープンといった施策がないと、配信メディアに掲載を断られてしまいます。新しく始めるキャンペーン等が無いとプレスリリースは作成できませんのでご注意ください。
                        </dd>
                    </dl>
                </div>
            </section>

            <ContactArea />

            <!-- その他関連サービス -->
            <section class="tp-others__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">その他関連サービス</span
                    >
                </h2>
                <div class="tp-others__list">
                    <article>
                        <a href="/marketing/homepage/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_homepage@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_homepage.png"
                                        srcset="/asset/images/common/img_kanren_service_homepage.png 1x,/asset/images/common/2x/img_kanren_service_homepage@2x.png 2x"
                                        alt="SNS運用代行"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">
                                飲食店<br />
                                ホームページ作成
                            </h3>
                        </a>
                    </article>
                    <article>
                        <a href="/marketing/gmb.html">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_gmb@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_gmb.png"
                                        srcset="/asset/images/common/img_kanren_service_gmb.png 1x,/asset/images/common/2x/img_kanren_service_gmb@2x.png 2x"
                                        alt="SNS運用代行"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">
                                Googleビジネス<br />
                                プロフィール<br />
                                登録・運用サポート
                            </h3>
                        </a>
                    </article>
                    <article>
                        <a href="/promotion/logo_creation/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_logo_creation@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_logo_creation.png"
                                        srcset="/asset/images/common/img_kanren_service_logo_creation.png 1x,/asset/images/common/2x/img_kanren_service_logo_creation@2x.png 2x"
                                        alt="SNS運用代行"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">ロゴ作成</h3>
                        </a>
                    </article>
                </div>
            </section>
        </div>
    </article>
</Layout>

<style>
    @charset "UTF-8";
    /* ■■■■■■■■■■global■■■■■■■■■■ */
    :root {
        --NUM_ORANGE: var(--MAIN_ORANGE);
        --TABLE_GRAY_01: #ddd;
        --TABLE_GRAY_02: #aaa;
        --TABLE_BORDER_GRAY: #b4b4b4;
        --TABLE_YELLOW: var(--MAIN_YELLOW);
        --TABLE_ORANGE: #ffa000;
        --TABLE_RED: #f07d00;
        --TABLE_BLUE: #508ca0;
        --TABLE_TAG_YELLOW: #fff092;
        --TABLE_TAG_ORANGE: #ffd266;
        --TABLE_TAG_RED: #f7b46c;
        --TABLE_TAG_BLUE: #b4ced6;
        --OPTION_YELLOW: var(--MAIN_YELLOW);
        --OPTION_ORANGE: var(--GRADATION_ORANGE);
        --OPTION_RED: var(--MAIN_ORANGE);
        --ATTENTION_TAG: #787878;
        --STEP_BORDER: #1b1616;
        --RENTAL_QUESTION_BG: #f7f7f7;
        --CONTACT_RED: #eb5a5a;
        --CONTACT_BLUE: #1283c3;
        --CONTACT_GREEN: #00aa8c;
        --CONTACT_RED_NAVY: rgb(215, 70, 70);
        --CONTACT_BLUE_NAVY: rgb(0, 111, 175);
        --CONTACT_GREEN_NAVY: rgb(0, 150, 120);
        --CONTAINER_BORDER: #ffe6aa;
        --CONTENTS_BORDER_GRAY: #a0a0a0;
        --ADD_TABLE_GRAY: #ededed;
        --ADD_TABLE_BTN: #5b5b5b;
        --ADD_CONTACT_GRAY: #e3e3e3;
        --ADD_CONTACT_YELLOW: #fdc831;
        --ADD_CONTACT_TITLE_GRAY: #9b9b9b;
        --sp_mag: calc(1 - (375 / 816));
        --contents_gap_col: 20px;
        --contents_gap_row: 20px;
        --TABLE_COMENT_RED: #c00000;
    }
    /*-----------------------
mv tp-front__section
-----------------------*/
    .tp-front__section {
        background-image: url(/asset/images/press-release/mv-press-release.jpg);
    }

    /* ====================================== 
tp-design__section
=========================================
*/
    .tp-design__section .fit-content {
        height: fit-content;
    }
    /*-----------------------
6つの特徴 tp-point__section
-----------------------*/
    .tp-point__section .tp-point__list {
        row-gap: 6px;
    }

    .tp-point__section .tp-point__list > li > .Ttl:before {
        width: 45px;
        margin-right: 13px;
    }

    .tp-point__section .tp-point__list > li:nth-child(1) > .Ttl::before {
        background: url(/asset/images/common/icon_point20.png) no-repeat center
            center/contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(2) > .Ttl::before {
        background: url(/asset/images/common/icon_point21.png) no-repeat center
            center/contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(3) > .Ttl::before {
        background: url(/asset/images/common/icon_point07.png) no-repeat center
            center/contain;
    }

    .tp-point__section .tp-point__list .Ttl__txt {
        width: calc(100% - 58px);
    }

    @media screen and (min-width: 768px) {
        .tp-point__section .tp-point__list {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    /*-----------------------
 tp-seo__section
-----------------------*/
    .price-table__head-text {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        color: var(--MAIN_ORANGE);
        text-align: center;
    }

    /** テーブル関連 **/

    @media screen and (max-width: 767px) {
        .tp-scroll__container {
            white-space: nowrap;
        }
    }

    .tp-table__pay02 {
        width: 104%;
        margin-left: -2%;
        border-collapse: collapse;
    }

    @media screen and (max-width: 767px) {
        .tp-table__pay02 {
            width: 100%;
            margin-left: 0;
            border-collapse: collapse;
        }
    }

    .tp-table__pay02 tbody th,
    .tp-table__pay02 tbody td {
        border: 1px solid var(--TABLE_BORDER_GRAY);
    }

    .tp-table__pay02 tbody td {
        padding: 20px;
        width: calc(100% / 4);
    }
    .tp-table__pay02 .color-gray {
        background-color: var(--TABLE_GRAY_01);
    }
    .tp-table__pay02 .color-yellow {
        font-weight: bold;
        background-color: var(--MAIN_YELLOW);
    }
    .tp-table__pay02 .price-main {
        font-weight: bold;
        background-color: var(--MAIN_YELLOW);
        font-size: 24px;
    }
    .tp-table__pay02 .price-sub {
        font-size: 24px;
    }
    .tp-table__pay02 .yen {
        font-size: 15px;
    }

    @media screen and (max-width: 767px) {
        .tp-table__pay02 tbody td img {
            width: 50%;
        }
    }

    .tp-table__pay02 .coment-red {
        color: var(--TABLE_COMENT_RED);
    }

    /*-----------------------
 tp-attention__section
-----------------------*/
    .tp-attention__price > .text {
        font-size: 28px;
    }

    /*-----------------------
 contactarea
-----------------------*/
    .contactarea:first-of-type {
        margin-bottom: 80px;
    }
</style>
