---

---

<section id="mv">
    <h1 class="ttl">
        <picture>
            <source
                srcset="/lp/japan-travel-planner/img/h1-sp.png"
                media="(max-width:768px)"
            />
            <img
                src="/lp/japan-travel-planner/img/h1.png"
                alt="Join our tour with locals!"
            />
        </picture>
    </h1>
    <!-- Slider main container -->
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <div class="slide-img"></div>
            </div>
            <div class="swiper-slide">
                <div class="slide-img"></div>
            </div>
            <div class="swiper-slide">
                <div class="slide-img"></div>
            </div>
            <div class="swiper-slide">
                <div class="slide-img"></div>
            </div>
            <div class="swiper-slide">
                <div class="slide-img"></div>
            </div>
            ...
        </div>
    </div>
</section>

<script>
    // core version + navigation, pagination modules:
    import Swiper from "swiper";
    import { Navigation, Autoplay, EffectFade } from "swiper/modules";
    // import Swiper and modules styles
    import "swiper/css";
    import "swiper/css/navigation";
    import "swiper/css/effect-fade";

    // init Swiper:
    const swiper = new Swiper("#mv .swiper", {
        // configure Swiper to use modules
        modules: [Navigation, Autoplay, EffectFade],

        autoplay: {
            delay: 5000,
        },
        slidesPerView: 1,
        effect: "fade",
        fadeEffect: {
            crossFade: true,
        },
    });
</script>

<style lang="scss">
    section#mv {
        margin-top: 100px;
        position: relative;
        @media (max-width: 768px) {
            margin-top: 60px;
        }
        h1.ttl {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 99;
            font-size: 88px;
            font-weight: bold;
            width: 660px;
            color: #fff;
            text-align: center;
            text-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
            @media (max-width: 768px) {
                width: 180px;
            }
        }
        div.swiper {
            div.swiper-wrapper {
                div.swiper-slide {
                    width: 100%;
                    div.slide-img {
                        width: 100%;
                        height: 460px;
                        animation: scaleDown 14s linear infinite;
                        @media (max-width: 768px) {
                            height: 340px;
                        }
                    }
                    &:first-child {
                        .slide-img {
                            background: url("/lp/japan-travel-planner/img/img_mv01.png")
                                center center / cover no-repeat;
                            @media (max-width: 768px) {
                                background: url("/lp/japan-travel-planner/img/img_mv01-sp.png")
                                    center center / cover no-repeat;
                            }
                        }
                    }
                    &:nth-child(2) {
                        .slide-img {
                            background: url("/lp/japan-travel-planner/img/img_mv02.png")
                                center center / cover no-repeat;
                            @media (max-width: 768px) {
                                background: url("/lp/japan-travel-planner/img/img_mv02-sp.png")
                                    center center / cover no-repeat;
                            }
                        }
                    }
                    &:nth-child(3) {
                        .slide-img {
                            background: url("/lp/japan-travel-planner/img/img_mv03.png")
                                center center / cover no-repeat;
                            @media (max-width: 768px) {
                                background: url("/lp/japan-travel-planner/img/img_mv03-sp.png")
                                    center center / cover no-repeat;
                            }
                        }
                    }
                    &:nth-child(4) {
                        .slide-img {
                            background: url("/lp/japan-travel-planner/img/img_mv04.png")
                                center center / cover no-repeat;
                            @media (max-width: 768px) {
                                background: url("/lp/japan-travel-planner/img/img_mv04-sp.png")
                                    center center / cover no-repeat;
                            }
                        }
                    }
                    &:nth-child(5) {
                        .slide-img {
                            background: url("/lp/japan-travel-planner/img/img_mv05.png")
                                center center / cover no-repeat;
                            @media (max-width: 768px) {
                                background: url("/lp/japan-travel-planner/img/img_mv05-sp.png")
                                    center center / cover no-repeat;
                            }
                        }
                    }
                }
            }
        }
    }

    @keyframes scaleDown {
        0% {
            transform: scale(120%);
        }
        100% {
            transform: scale(100%);
        }
    }
</style>
