---
import Layout from "../../../layouts/Layout.astro";
import ContactArea from "../../../components/common/ContactArea.astro";
import structuredDataMarkup from "../../../data/data.json";
const markup = JSON.stringify(structuredDataMarkup.snsUpdate);
---

<Layout
    title="初期費用0円で集客！飲食店のSNS運用支援｜テンポスフードプレイス"
    description="今注目のInstagram（SNS各種）で集客するなら、飲食店特化で安心のテンポスフードプレイスにお任せください！今月限定 フォロワーを増やすためのPOP無料プレゼント中！"
    pageUrl="/marketing/sns_update/"
    ogimage="/asset/images/sns_update/ogp_sns_update.jpg"
    markup={markup}
>
    <article id="mainarea">
        <div class="tp-border sans">
            <nav class="tp-nav">
                <ol class="tp-nav__list flex">
                    <li><a href="/">トップページ</a></li>
                    <li><a href="/marketing/">集客</a></li>
                    <li>SNS運用サポート</li>
                </ol>
            </nav>
            <section class="tp-front__section">
                <h1 class="tp-front__ttl font_m_plus">
                    <span>SNS運用サポート</span>
                </h1>
                <p class="tp-front__caption">
                    初期費用0円で集客！<br />
                    飲食店のSNS運用支援
                </p>
                <p class="tp-front__contact">
                    <a class="click_link_mail" href="/contact/?checked=12"
                        >お問い合わせはこちら</a
                    >
                </p>
            </section>

            <!-- こんなお悩みありませんか？ -->
            <section class="tp-worries__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __border">
                    <span></span>こんなお悩みありませんか？<span></span>
                </h2>
                <ul class="tp-check__list tp-wrapper__l">
                    <li>
                        SNSで集客したいけど<span class="tp-bglg"
                            >SNS戦略ってどうしたらいいの…</span
                        >
                    </li>
                    <li>
                        <span class="tp-bglg">幅広い世代</span
                        >に自分たちのお店を知って欲しい！
                    </li>
                    <li>
                        今までの集客方法から<span class="tp-bglg"
                            >一新したい</span
                        >！
                    </li>
                </ul>
            </section>

            <section class="tp-design__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    テンポスでは飲食店に特化した<br class="pc" />
                    SNS運用を代行いたします
                </h2>
                <div class="tp-design__contents">
                    <p class="tp-local">
                        現在、SNSを使ってお店の情報発信を行う飲食店が増えています。<br
                        />
                        実際に2人に1人（20代30代）が「飲食店を訪れる前にSNSを使ってお店探しをする」と答えています。<br
                        /><br />
                        お客様が来店した時に撮った写真を投稿してもらえることで、より多くの人にお店を知ってもらえます。<br
                        />
                        また、お店から自発的に発信を行うことで、お店のファンづくりにも繋がります。<br
                        /><br />
                        テンポスで運用を代行しているアプリは以下の2つです。<br
                        />
                        「Instagram」「Facebook」<br /><br />
                        知らなかったお店から、気になるお店に。<br />
                        気になるお店から、また行きたいお店に。<br /><br />
                        テンポスにお任せください。
                    </p>
                    <p class="tp-design__thumb">
                        <img
                            src="/asset/images/sns_update/img_sns_update_image_01.png"
                            alt="テンポスでは飲食店に特化したSNS運用を代行いたします"
                            width="491"
                            height="552"
                            loading="lazy"
                            class="img-illust"
                        />
                        <img
                            src="/asset/images/sns_update/img_sns_update_image_02.png"
                            alt="テンポスでは飲食店に特化したSNS運用を代行いたします"
                            width="604"
                            height="568"
                            loading="lazy"
                            class="img-illust"
                        />
                    </p>
                </div>
            </section>

            <!-- こんなお悩みありませんか？ -->
            <section class="tp-want__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center">SNSで幅広い年代層にアプローチ！</h2>
                <ul class="tp-check__list tp-wrapper__l tp-mgb__s">
                    <li>
                        新規のお客さまだけでなく、<span class="tp-bglg"
                            >既存のお客さまへもお店の情報を発信</span
                        >しましょう！
                        <span class="tp-bglg">継続して存在をアピール</span
                        >して、1人でも多くの方の目に入ることが大切です。
                    </li>
                    <li>
                        テンポスでは、<span class="tp-bglg"
                            >投稿画像を加工して統一感を出す</span
                        >ことで、公式アカウントであることを伝えます。
                    </li>
                    <li>
                        写真撮影が苦手という方でも大丈夫！月に一度サポート資料により、
                        <span class="tp-bglg"
                            >SNS映えする写真の撮り方やインスタグラムの機能などをレクチャー</span
                        >します。
                    </li>
                </ul>
                <p class="tp-want__thumb">
                    <img
                        src="/asset/images/sns_update/img_sns_update_image_04.png"
                        alt="SNSで幅広い年代層にアプローチ！"
                        width="180"
                        height="89"
                        loading="lazy"
                        class="imgauto"
                    />
                </p>
            </section>

            <!-- 特徴 -->
            <section class="tp-point__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-point__ttl__span"
                        >テンポスのSNS運用サポート</span
                    >
                    <span class="tp-ttl__balloon__span"
                        ><span>5</span>つの特徴</span
                    >
                </h2>
                <ul class="tp-point__list">
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">飲食店特化！</span>
                        </h3>
                        <p class="Local">
                            今まで飲食店の集客支援で培ってきたノウハウを生かし、飲食店に特化した運用をすることが可能！!
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">安い！</span>
                        </h3>
                        <p class="Local">
                            他社のSNS運用サポートに比べ安いのも特徴のひとつ。<br
                            />販促の費用の削減につながります。販促に力を入れたいが費用は抑えたい方必見！
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">簡単に依頼可能！!</span>
                        </h3>
                        <p class="Local">
                            投稿内容を電話、LINE、メールでのご連絡で投稿代行します！<br
                            />忙しい方、SNSが苦手な方でも簡単に始めることが出来ます。
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">サポート付き！</span>
                        </h3>
                        <p class="Local">
                            「SNS自分でやりたいけどやり方が分からない...」という方にはSNSを自分自身で運用していただけるアドバイスやサポートもさせていただきます。!
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">統一感</span>
                        </h3>
                        <p class="Local">
                            デザイナーが作成した画像を使用することでオリジナリティーを出した投稿が可能に！<br
                            />他店と差別化が図れます！!
                        </p>
                    </li>
                </ul>
            </section>

            <!-- テンポスならこんなにお得！ -->
            <section class="tp-case__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center">テンポスならこんなにお得！</h2>

                <div class="tp-scroll__container">
                    <table class="tp-table price-mgb">
                        <tbody>
                            <tr>
                                <th>会社名</th>
                                <td>テンポス</td>
                                <td>A社</td>
                                <td>B社</td>
                                <td>C社</td>
                            </tr>
                            <tr>
                                <th>月額費用</th>
                                <td>1万円/月</td>
                                <td>10万円/月</td>
                                <td>20万円～30万円/月</td>
                                <td>50万円以上/月</td>
                            </tr>
                            <tr>
                                <th>サポート</th>
                                <td>メール・電話にて<br />手厚いサポート</td>
                                <td>メール・電話にて<br />手厚いサポート</td>
                                <td>プランによって毎月MTGが可能</td>
                                <td>プランによって毎月MTGが可能</td>
                            </tr>
                            <tr>
                                <th>契約期間</th>
                                <td>6か月間</td>
                                <td>1年</td>
                                <td>1年</td>
                                <td>1年</td>
                            </tr>
                            <tr>
                                <th>作業内容</th>
                                <td>
                                    記事作成<br />画像編集
                                </td>
                                <td>
                                    記事作成<br />画像編集
                                </td>
                                <td
                                    >記事作成<br />投稿代行<br
                                    />コメントの確認<br />簡易的なレポート</td
                                >
                                <td
                                    >記事作成<br />投稿代行<br
                                    />コメント確認・<br />返信<br
                                    />レポーティング<br />定期ミーティング</td
                                >
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>

            <!-- 料金 -->
            <section class="tp-attention__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">料&emsp;金</span>
                </h2>
                <h3 class="tp-attention__price">
                    <span class="First">
                        基本<br />プラン
                    </span>
                    11,000
                    <span class="Yen">/月 </span>
                </h3>
                <p class="tp-text__right tp-text__red">
                    ※基本プランは6ヶ月契約です。
                </p>
                <!-- <p class="tp-attention__caption"><span>上記の8つのサポート特典付き！</p> -->
            </section>

            <!-- オプションプラン -->
            <section class="tp-option__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center">
                    より集客に繋がる<br class="sp" />オプションプランも充実!
                </h2>
                <ul class="tp-option__list">
                    <li class="__orange">
                        <p class="tp-text__right text-mb">
                            ※価格は税込表記です。
                        </p>
                        <ul class="tp-option__iconlist">
                            <li>
                                <div class="Ttl flex">
                                    <p class="Min">お客様コミュニケーション</p>
                                    <p class="Sub">5,500円/月</p>
                                </div>
                                <p class="Local">
                                    本格運用したい方に！<br
                                    />お店の潜在顧客にコメントやいいねを周りをいたします。
                                </p>
                            </li>

                            <li>
                                <div class="Ttl flex">
                                    <p class="Min">ストーリーズ投稿</p>
                                    <p class="Sub">5,500円/月</p>
                                </div>
                                <p class="Local">
                                    「ストーリーズ」と言って投稿内容を動画にしてフォローしてる方々により注目して頂きやすくなります。
                                </p>
                            </li>

                            <li>
                                <div class="Ttl flex">
                                    <p class="Min">
                                        オリジナルテンプレート作成
                                    </p>
                                    <p class="Sub">33,000円/1回</p>
                                </div>
                                <p class="Local">
                                    投稿の一番見える位置になる一枚目の投稿ページを作成いたします。これを作成していただくことにより、投稿全体に統一感をだすとともに店舗の清潔感など、印象アップにつながります。
                                </p>
                            </li>

                            <li>
                                <div class="Ttl flex">
                                    <p class="Min">本格運用オプション</p>
                                    <p class="Sub">22,000円/月</p>
                                </div>
                                <p class="Local">
                                    上記の①②に加えて、SNS運用のプロから改善点や指導を受けることができます。月に1時間、コンサルティングからアドバイスを受けることができます。<br
                                    />
                                    <span class="tp-text__red"
                                        >※オンラインでのお打ち合わせに限る。</span
                                    >
                                </p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>

            <!-- デザインイメージ
			 -->
            <section class="tp-image__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">デザインイメージ</span>
                </h2>
                <ul class="tp-4c2r__list tp-mgb__s">
                    <li>
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/sns_update/img_sns_update_image_05.jpg"
                            />
                            <img
                                src="/asset/images/sns_update/img_sns_update_image_05.jpg"
                                srcset="/asset/images/sns_update/img_sns_update_image_05.jpg 1x,/asset/images/sns_update/2x/img_sns_update_image_05.jpg 2x"
                                alt="デザインイメージ01"
                                width="145"
                                height="91"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </li>
                    <li>
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/sns_update/img_sns_update_image_06.jpg"
                            />
                            <img
                                src="/asset/images/sns_update/img_sns_update_image_06.jpg"
                                srcset="/asset/images/sns_update/img_sns_update_image_06.jpg 1x,/asset/images/sns_update/2x/img_sns_update_image_06.jpg 2x"
                                alt="デザインイメージ01"
                                width="145"
                                height="91"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </li>
                    <li>
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/sns_update/img_sns_update_image_07.jpg"
                            />
                            <img
                                src="/asset/images/sns_update/img_sns_update_image_07.jpg"
                                srcset="/asset/images/sns_update/img_sns_update_image_07.jpg 1x,/asset/images/sns_update/2x/img_sns_update_image_07.jpg 2x"
                                alt="デザインイメージ01"
                                width="145"
                                height="91"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </li>
                    <li>
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/sns_update/img_sns_update_image_08.jpg"
                            />
                            <img
                                src="/asset/images/sns_update/img_sns_update_image_08.jpg"
                                srcset="/asset/images/sns_update/img_sns_update_image_08.jpg 1x,/asset/images/sns_update/2x/img_sns_update_image_08.jpg 2x"
                                alt="デザインイメージ01"
                                width="145"
                                height="91"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </li>
                    <li>
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/sns_update/img_sns_update_image_09.jpg"
                            />
                            <img
                                src="/asset/images/sns_update/img_sns_update_image_09.jpg"
                                srcset="/asset/images/sns_update/img_sns_update_image_09.jpg 1x,/asset/images/sns_update/2x/img_sns_update_image_09.jpg 2x"
                                alt="デザインイメージ01"
                                width="145"
                                height="91"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </li>
                    <li>
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/sns_update/img_sns_update_image_10.jpg"
                            />
                            <img
                                src="/asset/images/sns_update/img_sns_update_image_10.jpg"
                                srcset="/asset/images/sns_update/img_sns_update_image_10.jpg 1x,/asset/images/sns_update/2x/img_sns_update_image_10.jpg 2x"
                                alt="デザインイメージ01"
                                width="145"
                                height="91"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </li>
                    <li>
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/sns_update/img_sns_update_image_11.jpg"
                            />
                            <img
                                src="/asset/images/sns_update/img_sns_update_image_11.jpg"
                                srcset="/asset/images/sns_update/img_sns_update_image_11.jpg 1x,/asset/images/sns_update/2x/img_sns_update_image_11.jpg 2x"
                                alt="デザインイメージ01"
                                width="145"
                                height="91"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </li>
                    <li>
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/sns_update/img_sns_update_image_12.jpg"
                            />
                            <img
                                src="/asset/images/sns_update/img_sns_update_image_12.jpg"
                                srcset="/asset/images/sns_update/img_sns_update_image_12.jpg 1x,/asset/images/sns_update/2x/img_sns_update_image_12.jpg 2x"
                                alt="デザインイメージ01"
                                width="145"
                                height="91"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </li>
                </ul>
                <!--<p class="tp-btn __yellow">
					<a href="">デザイン作成事例一覧を見る</a>
				</p>-->
            </section>

            <!-- ご利用までの流れ -->
            <section class="tp-frow__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">ご利用までの流れ</span>
                </h2>
                <div class="tp-flow__list">
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">ご依頼・お問い合わせ</h3>
                            <div class="Local">
                                <p>
                                    ご相談は無料で受け付けております。<br />
                                    ご不明点や、詳しく知りたい内容をお気軽にお問い合わせください。<br
                                    />
                                    ※お問い合わせフォームからも受け付けております。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">担当よりご連絡</h3>
                            <div class="Local">
                                <p>
                                    担当者よりサービス詳細のご案内をいたします。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">ご契約</h3>
                            <div class="Local">
                                <p>
                                    ご契約内容の確認後、お申込みの手続きを行います。<br
                                    />
                                    お電話にて詳細の確認を行いながらお申込みの手続きを進めます。<br
                                    />
                                    その後弊社よりご指定のメールアドレス宛に契約書を送付いたします。<br
                                    />
                                    ご契約内容に相違がないことを確認いただいた後、同意の返信をお願いしております。<br
                                    />
                                    同意の確認とお支払いの手続きが確認でき次第、サービスを開始いたします。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">アカウントの作成</h3>
                            <div class="Local">
                                <p>
                                    インスタグラム・Facebookのアカウントを作成いたします。<br
                                    />
                                    既存でアカウントをお持ちの方はIDとパスワードを共有いただきます。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">投稿内容の作成</h3>
                            <div class="Local">
                                <p>
                                    投稿希望の写真、内容をメール又はLINEにてお送りください。<br
                                    />
                                    ※投稿内容の文章は箇条書きでもOK。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">画像作成</h3>
                            <div class="Local">
                                <p>
                                    いただいた画像を弊社にて加工いたします。<br
                                    />
                                    使用したい画像加工のテンプレートは事前にご指定ください。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">ハッシュタグを最適化</h3>
                            <div class="Local">
                                <p>
                                    ターゲット層にアプローチできるよう弊社にて選定いたします。<br
                                    />
                                    ご希望のハッシュタグ等ございましたらご要望をお伝えください。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">投稿</h3>
                            <div class="Local">
                                <p>
                                    画像・投稿内容の文章をご確認のうえ、了承いただき次第投稿いたします。<br
                                    />
                                    投稿の希望日時等もご指定いただけます。
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>

            <!-- よくある質問 -->
            <section class="tp-faq__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">よくある質問</span>
                </h2>
                <div class="g-acodion">
                    <dl>
                        <dt>
                            すでにアカウントはあるけど、そのアカウントも運用してもらえますか？?
                        </dt>
                        <dd>
                            はい、運用可能です。ログイン情報をお送りいただけましたらその後の投稿を代行いたします。
                        </dd>
                    </dl>
                    <dl>
                        <dt>投稿用の文章をしっかり考える必要はありますか？?</dt>
                        <dd>
                            いいえ、投稿内容のみいただけましたら、文章を校正して投稿いたします。また、内容自体も何を行ったらいいかお悩みの場合は、こちらからご提案も可能です。
                            <p>
                                ▼投稿文章のテンプレートもご用意しております！<br
                                /><a
                                    class="txt_link"
                                    href="https://support.tenpos.com/sns-template/"
                                    >https://support.tenpos.com/sns-template/</a
                                >
                            </p>
                        </dd>
                    </dl>
                    <dl>
                        <dt>写真は必須ですか？?</dt>
                        <dd>
                            はい、写真は必ず必要です。Instagramは写真が必須となっておりますので、お写真を何枚かお送りいただきますようお願い申し上げます。また、1投稿に掲載できる写真は10枚までです。
                        </dd>
                    </dl>
                </div>
            </section>

            <section class="tp-others__section tp-sec tp-wrapper">
                <div class="bnr_template">
                    <div class="bnr_template_txt">
                        <p class="bnr_template_txt-sm">
                            ＼お店に行きたくなる投稿文、作れます／
                        </p>
                        <p class="bnr_template_txt-lg">
                            SNS投稿文章<br class="u-mobile" />テンプレ集
                        </p>
                        <a
                            href="https://support.tenpos.com/sns-template/"
                            class="bnr_template_button">テンプレートはこちら</a
                        >
                    </div>
                </div>
            </section>

            <ContactArea />

            <!-- その他関連サービス -->
            <section class="tp-others__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">その他関連サービス</span
                    >
                </h2>
                <div class="tp-others__list">
                    <!-- <article>
							<a href="https://support.tenpos.com/lp/service/influencer-pr/">
								<p class="Thumb">
									<picture>
										<source media="(max-width:767px)"
											srcset="/asset/images/common/2x/img_kanren_service_influencer-marketing@2x.png">
										<img src="/asset/images/common/img_kanren_service_influencer-marketing.png"
											srcset="/asset/images/common/img_kanren_service_influencer-marketing.png 1x,/asset/images/common/2x/img_kanren_service_influencer-marketing@2x.png 2x"
											alt="インフルエンサー集客" width="304" height="231" loading="lazy" class="imgauto">
									</picture>
								</p>
								<h3 class="Ttl">
									インフルエンサー集客
								</h3>
							</a>
						</article> -->
                    <article>
                        <a href="/promotion/logo_creation/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_logo_creation@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_logo_creation.png"
                                        srcset="/asset/images/common/img_kanren_service_logo_creation.png 1x,/asset/images/common/2x/img_kanren_service_logo_creation@2x.png 2x"
                                        alt="SNS運用サポート"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">ロゴ作成</h3>
                        </a>
                    </article>
                    <article>
                        <a href="/marketing/homepage/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_homepage@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_homepage.png"
                                        srcset="/asset/images/common/img_kanren_service_homepage.png 1x,/asset/images/common/2x/img_kanren_service_homepage@2x.png 2x"
                                        alt="SNS運用サポート"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">
                                飲食店<br />
                                ホームページ作成
                            </h3>
                        </a>
                    </article>
                </div>
            </section>
        </div>
    </article>
</Layout>

<style>
    @charset "UTF-8";

    /*-----------------------
mv tp-front__section
-----------------------*/
    .tp-front__section {
        background-image: url(/asset/images/sns_update/mv-sns_update.jpg);
    }

    /* ====================================== 
tp-design__section
=========================================
*/
    .tp-design__thumb {
        width: 100%;
        justify-content: flex-end;
        margin-top: 30px;
    }

    .tp-design__section .img-illust {
        height: 280px;
        width: auto;
        margin-left: 20px;
    }

    @media screen and (max-width: 767px) {
        .tp-design__thumb {
            max-width: fit-content;
            width: 100%;
        }

        .tp-design__section .img-illust {
            height: 150px;
        }
    }

    /*-----------------------
6つの特徴 tp-point__section
-----------------------*/
    .tp-point__section .tp-point__list > li:nth-child(1) > .Ttl::before {
        background: url(/asset/images/common/icon_point01.png) no-repeat
            center/contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(2) > .Ttl::before {
        background: url(/asset/images/common/icon_point07.png) no-repeat
            center/contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(3) > .Ttl::before {
        background: url(/asset/images/common/icon_point03.png) no-repeat
            center/contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(4) > .Ttl::before {
        background: url(/asset/images/common/icon_point09.png) no-repeat
            center/contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(5) > .Ttl::before {
        background: url(/asset/images/common/icon_point15.png) no-repeat
            center/contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(6) > .Ttl::before {
        background: url(/asset/images/common/icon_point15.png) no-repeat
            center/contain;
    }

    /*-----------------------
デザインイメージ tp-image__section
-----------------------*/

    @media screen and (min-width: 768px) {
        .tp-3c2r__list {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    /*-----------------------
オプション tp-option__section
-----------------------*/
    .tp-option__section .text-mb {
        margin-bottom: 2rem;
    }

    @media screen and (max-width: 768px) {
        .tp-option__section .tp-text__right {
            display: none;
        }
    }

    /*-----------------------
よくある質問 tp-faq__section
-----------------------*/

    .tp-faq__section .txt_link {
        text-decoration: underline;
    }

    /*-----------------------
バナー
-----------------------*/

    .bnr_template {
        background: url("/asset/images//marketing/img_bnr_template_bg.png")
            center center / cover no-repeat;
        max-width: 735px;
        height: 215px;
        margin: 0 auto 60px;
        position: relative;
        border-radius: 15px;
    }

    .bnr_template::before {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        background: url("/asset/images/marketing/img_bnr_template_fukidashi.png")
            center center / cover no-repeat;
        width: 144px;
        height: 144px;
    }

    .bnr_template_txt {
        position: absolute;
        top: 35px;
        right: 120px;
    }

    .bnr_template_txt-sm {
        font-size: 22px;
        color: #fff;
        text-align: center;
    }

    .bnr_template_txt-lg {
        font-size: 39px;
        color: #fff;
        text-align: center;
        font-weight: bold;
        text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    }

    .bnr_template_button {
        display: block;
        width: 290px;
        margin: 10px auto 0;
        text-align: center;
        color: #fff;
        position: relative;
        background: #d79920;
        border-radius: 50px;
        padding: 10px 20px 10px 0;
        transition: all 0.3s;
        font-size: 18px;
    }

    .bnr_template_button:hover {
        background-color: #f5c360;
    }

    .bnr_template_button::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        background: url("/asset/images/marketing/img_bnr_button_arrow.png")
            center center / cover no-repeat;
        width: 25px;
        height: 25px;
    }

    .u-mobile {
        display: none;
    }

    @media screen and (max-width: 768px) {
        .bnr_template {
            background: url("/asset/images//marketing/img_bnr_template_bg_sp.png")
                center center / contain no-repeat;
            width: 305px;
            height: 305px;
            margin: 0 auto 60px;
            position: relative;
        }

        .bnr_template::before {
            content: "";
            position: absolute;
            top: 15px;
            left: 50%;
            transform: translateX(-50%);
            background: url("/asset/images/marketing/img_bnr_template_fukidashi_sp.png")
                center center / cover no-repeat;
            width: 90px;
            height: 60px;
        }

        .bnr_template_txt {
            position: relative;
            top: 0;
            right: 0;
            padding-top: 80px;
        }

        .bnr_template_txt-sm {
            font-size: 14px;
            color: #fff;
            text-align: center;
        }

        .bnr_template_txt-lg {
            font-size: 32px;
            color: #fff;
            text-align: center;
            font-weight: bold;
            text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
        }

        .bnr_template_button {
            display: block;
            width: 220px;
            margin: 20px auto 0;
            text-align: center;
            color: #fff;
            position: relative;
            background: #d79920;
            border-radius: 50px;
            padding: 10px 20px 10px 0;
            transition: all 0.3s;
            font-size: 14px;
        }

        .bnr_template_button:hover {
            background-color: #f5c360;
        }

        .bnr_template_button::before {
            content: "";
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            background: url("/asset/images/marketing/img_bnr_button_arrow.png")
                center center / cover no-repeat;
            width: 25px;
            height: 25px;
        }

        .u-mobile {
            display: block;
        }
    }
</style>
