---
import Layout from "../../layouts/Layout.astro";
import structuredDataMarkup from "../../data/data.json";
const markup = JSON.stringify(structuredDataMarkup.hygiene);
---

<Layout
    title="飲食店の店内清掃・レンタル/廃油・ゴミ回収業者のご提案｜テンポスフードプレイス"
    description="飲食店の店内清掃や廃油回収、ゴミ回収を行う業者をご紹介。フロアマップやグリスフィルターなどの衛生用品のレンタルもご案内いたします。"
    pageUrl="/hygiene/"
    ogimage=""
    markup={markup}
>
    <article id="mainarea">
        <div class="tp-border sans">
            <nav class="tp-nav">
                <ol class="tp-nav__list flex">
                    <li><a href="/">トップページ</a></li>
                    <li><a href="/hygiene/">衛生管理</a></li>
                </ol>
            </nav>
            <section class="btm-front__section hygiene_mv">
                <h1 class="btm-front__ttl font_m_plus">
                    <span>衛生管理</span>
                </h1>
            </section>
            <!-- .btm-sec:not(:last-child):afterにラインの記述あり -->
            <section class="kg-open__section btm-sec tp-wrapper">
                <p class="kg-open__caption">
                    お店の美観を保つためには衛生管理が必要不可欠です。<br
                        class="pc"
                    />
                    手間なくお店を清潔に保つために衛生用品レンタルや<br
                        class="pc"
                    />
                    清掃サービスをご紹介しております。<br class="pc" />
                    また、開業後にゴミや廃油の処理に困らないように、<br
                        class="pc"
                    />
                    ゴミ回収業者や、廃油の無料回収業者の紹介もしております。
                </p>
            </section>
            <section class="kg-support__section btm-sec tp-wrapper">
                <ul class="kg-link__list purchase-thumb02">
                    <li>
                        <a href="/hygiene/sanitary-rental/">
                            <p class="kg-link__thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/hygiene/sp/img_hygiene01.jpg"
                                    />
                                    <img
                                        src="/asset/images/hygiene/img_hygiene01.jpg"
                                        srcset="/asset/images/hygiene/img_hygiene01.jpg 1x,/asset/images/hygiene/2x/img_hygiene01.jpg 2x"
                                        alt="衛生用品レンタル"
                                        width="113"
                                        height="113"
                                        loading="lazy"
                                        class="imgauto-h"
                                    />
                                </picture>
                            </p>
                            <div class="kg-link__container">
                                <h3 class="kg-link__caption">
                                    衛生用品レンタル
                                </h3>
                                <p class="btm-link">詳しく見る</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/hygiene/shop_cleaning/">
                            <p class="kg-link__thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/hygiene/sp/img_hygiene02.jpg"
                                    />
                                    <img
                                        src="/asset/images/hygiene/img_hygiene02.jpg"
                                        srcset="/asset/images/hygiene/img_hygiene02.jpg 1x,/asset/images/hygiene/2x/img_hygiene02.jpg 2x"
                                        alt="飲食店清掃"
                                        width="113"
                                        height="113"
                                        loading="lazy"
                                        class="imgauto-h"
                                    />
                                </picture>
                            </p>
                            <div class="kg-link__container">
                                <h3 class="kg-link__caption">飲食店清掃</h3>
                                <p class="btm-link">詳しく見る</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/hygiene/waste-oil/">
                            <p class="kg-link__thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/hygiene/sp/img_hygiene03.jpg"
                                    />
                                    <img
                                        src="/asset/images/hygiene/img_hygiene03.jpg"
                                        srcset="/asset/images/hygiene/img_hygiene03.jpg 1x,/asset/images/hygiene/2x/img_hygiene03.jpg 2x"
                                        alt="廃油無料回収"
                                        width="113"
                                        height="113"
                                        loading="lazy"
                                        class="imgauto-h"
                                    />
                                </picture>
                            </p>
                            <div class="kg-link__container">
                                <h3 class="kg-link__caption">廃油無料回収</h3>
                                <p class="btm-link">詳しく見る</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/hygiene/garbage-collection/">
                            <p class="kg-link__thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/hygiene/sp/img_hygiene04.jpg"
                                    />
                                    <img
                                        src="/asset/images/hygiene/img_hygiene04.jpg"
                                        srcset="/asset/images/hygiene/img_hygiene04.jpg 1x,/asset/images/hygiene/2x/img_hygiene04.jpg 2x"
                                        alt="ゴミ回収"
                                        width="113"
                                        height="113"
                                        loading="lazy"
                                        class="imgauto-h"
                                    />
                                </picture>
                            </p>
                            <div class="kg-link__container">
                                <h3 class="kg-link__caption">ゴミ回収</h3>
                                <p class="btm-link">詳しく見る</p>
                            </div>
                        </a>
                    </li>
                    <!-- <li>
							<a href="/hygiene/wet-towel/">
								<p class="kg-link__thumb">
									<picture>
										<source media="(max-width:767px)"
											srcset="/asset/images/hygiene/sp/img_hygiene05.png">
										<img src="/asset/images/hygiene/img_hygiene05.png"
											srcset="/asset/images/hygiene/img_hygiene05.png 1x,/asset/images/hygiene/2x/img_hygiene05.png 2x"
											alt="ゴミ回収" width="113" height="113" loading="lazy" class="imgauto-h">
									</picture>
								</p>
								<div class="kg-link__container">
									<h3 class="kg-link__caption">布おしぼりレンタル</h3>
									<p class="btm-link">
										詳しく見る
									</p>
								</div>
							</a>
						</li> -->
                </ul>
            </section>
        </div>
    </article>
</Layout>

<style>
    :root {
        --fnts_local: 16px;
        --fnts_caption_min: 26px;
        --fnts_caption_sub: 20px;
        --fnts_section_ttl: 30px;
    }

    /* -------------------- hygiene-section ------------------- */
    /* -----　hygiene/index.html　衛生管理ページ用mv　----- */
    .btm-front__section.hygiene_mv {
        background-image: url(/asset/images/hygiene/mv_hygiene.jpg);
    }

    @media screen and (min-width: 768px) {
        /* -----　hygiene/index.html　衛生管理　PC(min-width: 768px)用mv　----- */
        .btm-front__section.hygiene_mv {
            /* background-position: 50% 50%; */
            background-position: 50% 35%;
        }
    }

    @media screen and (max-width: 767px) {
        /* -----　hygiene/index.html　衛生管理ページ　sp用mv　----- */
        .btm-front__section.hygiene_mv {
            background-image: url(/asset/images/hygiene/sp/mv_hygiene_sp.jpg);
            background-position: 15% 0%;
            background-size: 130%;
        }
    }

    .tp-front__section {
        background-image: url(/asset/images/hygiene/front.png);
    }

    /*-----------------------
3つの特徴 tp-point__section
-----------------------*/
    .tp-ttl:not(.__mgb):not(.tp-ttl__balloon__span) {
        position: relative;
    }

    .tp-ttl__balloon__span__sm {
        position: absolute;
        top: -35px;
        left: 50%;
        transform: translateX(-50%);
        background: transparent;
        color: var(--MAIN_ORANGE);
        font-size: 16px;

        &::after {
            content: "";
            display: none;
        }
    }

    .tp-point__section .tp-point__list > li:nth-child(1) > .Ttl::before {
        background: url(/asset/images/common/icon_point53.png) no-repeat center
            center / contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(2) > .Ttl::before {
        background: url(/asset/images/common/icon_point54.png) no-repeat center
            center / contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(3) > .Ttl::before {
        background: url(/asset/images/common/icon_point55.png) no-repeat center
            center / contain;
    }

    @media screen and (min-width: 768px) {
        .tp-point__section .tp-point__list > li > .Ttl:before {
            width: 45px;
            margin-right: 15px;
        }

        .tp-point__section .tp-point__list .Ttl__txt {
            width: calc(100% - 60px);
        }
    }

    @media screen and (max-width: 767px) {
        .tp-ttl__balloon__span__sm {
            width: 300px;
        }

        .tp-ttl:not(.__mgb):not(.tp-ttl__balloon__span) {
            margin-top: 80px;
        }
    }

    /*-----------------------
contactarea
-----------------------*/

    .contactarea {
        margin-bottom: 80px;
    }
</style>
