---
import Layout from "../../../layouts/Layout.astro";
import ContactArea from "../../../components/common/ContactArea.astro";
import structuredDataMarkup from "../../../data/data.json";
const markup = JSON.stringify(structuredDataMarkup.garbageCollection);
---

<Layout
    title="飲食店向けゴミ回収業者を紹介！全国対応｜テンポスフードプレイス"
    description="飲食店から出るゴミの回収業者をご紹介。廃棄物業者・管理会社の選定やコストの見直しなど、お店にあったゴミ回収業者をご提案いたします。相談・見積・調査無料。"
    pageUrl="/hygiene/garbage-collection/"
    ogimage="/asset/images/garbage-collection/ogp_garbage-collection.jpg"
    markup={markup}
>
    <article id="mainarea">
        <div class="tp-border sans">
            <nav class="tp-nav">
                <ol class="tp-nav__list flex">
                    <li><a href="/">トップページ</a></li>
                    <li><a href="/open/">衛生管理</a></li>
                    <li>ゴミ回収</li>
                </ol>
            </nav>
            <section class="tp-front__section">
                <h1 class="tp-front__ttl font_m_plus">
                    <span>ゴミ回収</span>
                </h1>
                <p class="tp-front__caption">
                    様々なゴミのお悩みを解決いたします！
                </p>
                <p class="tp-front__contact">
                    <a class="click_link_mail" href="/contact/?checked=36"
                        >お問い合わせはこちら</a
                    >
                </p>
            </section>

            <!-- こんなお悩みありませんか？ -->
            <section class="tp-worries__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __border">
                    <span></span>こんなお悩みありませんか？<span></span>
                </h2>
                <ul class="tp-check__list tp-wrapper__l">
                    <li>ごみの<span class="tp-bglg">費用を削減</span>したい</li>
                    <li>
                        新しく<span class="tp-bglg"
                            >ゴミ回収業者を探している</span
                        >
                    </li>
                    <li>収集回数<span class="tp-bglg">を増やしたい</span></li>
                    <li>
                        ごみ回収業者と<span class="tp-bglg"
                            >トラブルが起きた</span
                        >
                    </li>
                </ul>
            </section>

            <!-- オーダーメイド -->
            <section class="tp-order__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    お客様にとっての最善のごみ回収業者を見つけ、<br
                        class="pc"
                    />適正価格をご提案します
                </h2>

                <p class="tp-local">
                    ゴミ業者は全国で15万社ほどいると言われてます。<br />
                    テンポスが紹介している業者である株式会社サティスファクトリーは<br
                    />
                    累計55,000店舗の管理を行っており、最善な業者のご提案、<br />
                    また回収開始後も忙しいお客様に代わって適正な管理を行います。
                </p>

                <p class="tp-scroll__container">
                    <picture>
                        <img
                            src="/asset/images/garbage-collection/img_garbage-collection_01.png"
                            srcset="/asset/images/garbage-collection/img_garbage-collection_01.png 1x,/asset/images/garbage-collection/2x/img_garbage-collection_01.png 2x"
                            alt="お客様にとっての最善のごみ回収業者を見つけ、適正価格をご提案します"
                            width="1003"
                            height="522"
                            loading="lazy"
                            class=""
                        />
                    </picture>
                </p>
            </section>

            <!-- tp-want__section -->
            <section class="tp-want__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center">
                    第三者の目線から、ごみの回収条件を分析・適正化できます！
                </h2>
                <ul class="tp-check__list tp-wrapper__l tp-mgb__s">
                    <li>
                        <span class="tp-bglg">ごみの処理</span
                        >について詳しく理解できる
                    </li>
                    <li>
                        今の<span class="tp-bglg">ごみ代金が適正か</span
                        >どうか分かる
                    </li>
                    <li>
                        収集業者と<span class="tp-bglg">トラブルを改善</span
                        >できる
                    </li>
                </ul>
                <p class="tp-want__thumb width-70">
                    <img
                        src="/asset/images/garbage-collection/img_garbage-collection_02.png"
                        alt="第三者の目線から、ごみの回収条件を分析・適正化できます！"
                        width="1003"
                        height="522"
                        loading="lazy"
                        class="imgauto"
                    />
                </p>
            </section>

            <!-- 6つの特徴 -->
            <section class="tp-point__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span"
                        ><span>6</span>つの特徴</span
                    >
                </h2>
                <ul class="tp-point__list">
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt"
                                >全国の拠点・業者を一元管理！</span
                            >
                        </h3>
                        <p class="Local">
                            ・廃棄物に係る業務を一括代行<br />
                            ・バラバラだった請求書も一本化<br />
                            ・契約状況や排出量も見える化<br />
                            ・現場との日々の対応もお任せください<br />
                            （専用コールセンターあり）
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">
                                リサイクル率向上！<br />
                                資源循環の仕組みづくり</span
                            >
                        </h3>
                        <p class="Local">
                            ・食品、プラスチック、金属、段ボール等幅広いリサイクルを提案<br
                            />
                            ・廃棄物を有価物へ「バリューアップ」をお手伝い<br />
                            ・CO2削減分は数値化して報告
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">
                                業界随一！<br />
                                全国の優良実務業者を網羅
                            </span>
                        </h3>
                        <p class="Local">
                            ・47都道府県1700の自治体に対応<br />
                            ・全国15万社から独自の与信調査を実施（全国8700の認定処理会社）<br
                            />
                            ・許可証の確認や管理業務を代行!
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">適正化によるコスト削減</span>
                        </h3>
                        <p class="Local">
                            ・現状分析・診断を行い、コスト削減と料金の適正化を提案<br
                            />
                            ・エリア相場と比較して契約内容を精査<br />
                            ・処理フロー見直しをして廃棄量の削減を提案!
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">
                                プラ新法・SDGsの対策も支援
                            </span>
                        </h3>
                        <p class="Local">
                            ・初期投資コストを抑えたプラ削減策を提案（リサイクルゴミ袋UROSHIKI）<br
                            />
                            ・プラスチックの買取やリサイクル等、多彩なソリューションを提供<br
                            />
                            ・新たなリサイクルフローやサーキュラーエコノミー構築もお手伝い!
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">安心のサポート体制！!</span>
                        </h3>
                        <p class="Local">
                            ・365日対応のコールセンターを設置<br />
                            ・分別方法や選定ルールなど、現場でのオペレーションの見直し支援もお任せ<br
                            />
                            ・突発的な廃棄物や処理困難物もご相談OK！廃棄物の専門家が解決。
                        </p>
                    </li>
                </ul>
            </section>

            <!-- 事例紹介 -->
            <section class="tp-example__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">事例紹介</span>
                </h2>

                <div class="tp-example__cnt">
                    <div class="tp-example__cntTtl__wrap">
                        <h3 class="tp-example__cntTtl">
                            <span class="Label __gray">事例 1</span><br
                                class="sp"
                            />
                            <span class="Ttl">処理コストの削減</span>
                        </h3>
                    </div>
                    <div class="tp-example__cntBottom">
                        <div class="tp-example__cntImg">
                            <p>レストランチェーン／店舗数約500店</p>
                            <div>
                                <img
                                    src="/asset/images/garbage-collection/img_garbage-collection_case_01.jpg"
                                    alt=""
                                    width="560"
                                    height="231"
                                    loading="lazy"
                                    class="imgauto"
                                />
                            </div>
                            <div class="cntIcn">
                                <img
                                    src="/asset/images/garbage-collection/img_garbage-collection_case_02.png"
                                    alt=""
                                    width="264"
                                    height="264"
                                    loading="lazy"
                                    class="imgauto"
                                />
                                <img
                                    src="/asset/images/garbage-collection/img_garbage-collection_case_03.png"
                                    alt=""
                                    width="264"
                                    height="264"
                                    loading="lazy"
                                    class="imgauto"
                                />
                            </div>
                        </div>
                        <div class="tp-example__cntTxt">
                            <div class="beforeBox">
                                <p class="ttl">Before</p>
                                <ul class="listText">
                                    <li>担当者不在で効率が悪い</li>
                                    <li>業者に言われるがまま支払い</li>
                                    <li>処理コストや環境へ無関心</li>
                                </ul>
                            </div>

                            <div class="afterBox">
                                <p class="ttl">After</p>
                                <ul class="listText">
                                    <li>窓口1本化で業務負担を軽減</li>
                                    <li>適正な費用を検証しコスト削減</li>
                                    <li>食品リサイクル導入で廃棄減</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tp-example__cnt">
                    <div class="tp-example__cntTtl__wrap">
                        <h3 class="tp-example__cntTtl">
                            <span class="Label __gray">事例 2</span><br
                                class="sp"
                            />
                            <span class="Ttl">業務負担の最小化</span>
                        </h3>
                    </div>
                    <div class="tp-example__cntBottom">
                        <div class="tp-example__cntImg">
                            <p>すしチェーン／店舗数約500店</p>
                            <div>
                                <img
                                    src="/asset/images/garbage-collection/img_garbage-collection_case_04.jpg"
                                    alt=""
                                    width="560"
                                    height="232"
                                    loading="lazy"
                                    class="imgauto"
                                />
                            </div>
                            <div class="cntIcn">
                                <img
                                    src="/asset/images/garbage-collection/img_garbage-collection_case_05.png"
                                    alt=""
                                    width="264"
                                    height="264"
                                    loading="lazy"
                                    class="imgauto"
                                />
                                <img
                                    src="/asset/images/garbage-collection/img_garbage-collection_case_06.png"
                                    alt=""
                                    width="264"
                                    height="264"
                                    loading="lazy"
                                    class="imgauto"
                                />
                            </div>
                        </div>
                        <div class="tp-example__cntTxt">
                            <div class="beforeBox">
                                <p class="ttl">Before</p>
                                <ul class="listText">
                                    <li>手配はすべて各店舗任せ</li>
                                    <li>店舗連携なく非効率な回収</li>
                                    <li>備品入替時に粗大ごみが度々滞留</li>
                                </ul>
                            </div>

                            <div class="afterBox">
                                <p class="ttl">After</p>
                                <ul class="listText">
                                    <li>一括手配で業務負担を軽減</li>
                                    <li>エリア毎の情報集約で回収効率化</li>
                                    <li>ごみの滞留解消で環境改善</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tp-example__cnt">
                    <div class="tp-example__cntTtl__wrap">
                        <h3 class="tp-example__cntTtl">
                            <span class="Label __gray">事例 3</span><br
                                class="sp"
                            />
                            <span class="Ttl"
                                >コスト削減＆スピーディーな対応</span
                            >
                        </h3>
                    </div>
                    <div class="tp-example__cntBottom">
                        <div class="tp-example__cntImg">
                            <p>イタリアン店舗（個人オーナー飲食店）／3 店舗</p>
                            <div>
                                <img
                                    src="/asset/images/garbage-collection/img_garbage-collection_case_07.jpg"
                                    alt=""
                                    width="560"
                                    height="232"
                                    loading="lazy"
                                    class="imgauto"
                                />
                            </div>
                            <div class="cntIcn">
                                <img
                                    src="/asset/images/garbage-collection/img_garbage-collection_case_08.png"
                                    alt=""
                                    width="264"
                                    height="264"
                                    loading="lazy"
                                    class="imgauto"
                                />
                                <img
                                    src="/asset/images/garbage-collection/img_garbage-collection_case_09.png"
                                    alt=""
                                    width="264"
                                    height="264"
                                    loading="lazy"
                                    class="imgauto"
                                />
                            </div>
                        </div>
                        <div class="tp-example__cntTxt">
                            <div class="beforeBox">
                                <p class="ttl">Before</p>
                                <ul class="listText">
                                    <li>
                                        イタリアン店舗（個人オーナー飲食店）／3
                                        店舗
                                    </li>
                                    <li>
                                        毎月のごみ料金の適正・非適正が分からなかった
                                    </li>
                                    <li>業者の対応が遅かった</li>
                                </ul>
                            </div>

                            <div class="afterBox">
                                <p class="ttl">After</p>
                                <ul class="listText">
                                    <li>
                                        当社の深夜調査部隊でごみ量の把握が可能に
                                    </li>
                                    <li>
                                        ごみ料金の適正化が図れ、2割のコスト削減
                                    </li>
                                    <li>365日連絡が繋がる</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tp-example__cnt">
                    <div class="tp-example__cntTtl__wrap">
                        <h3 class="tp-example__cntTtl">
                            <span class="Label __gray">事例 4</span><br
                                class="sp"
                            />
                            <span class="Ttl">最短3日での回収開始</span>
                        </h3>
                    </div>
                    <div class="tp-example__cntBottom">
                        <div class="tp-example__cntImg">
                            <p>韓国料理店（個人オーナー飲食店）／1 店舗</p>
                            <div>
                                <img
                                    src="/asset/images/garbage-collection/img_garbage-collection_case_10.jpg"
                                    alt=""
                                    width="560"
                                    height="232"
                                    loading="lazy"
                                    class="imgauto"
                                />
                            </div>
                            <div class="cntIcn">
                                <img
                                    src="/asset/images/garbage-collection/img_garbage-collection_case_11.png"
                                    alt=""
                                    width="264"
                                    height="264"
                                    loading="lazy"
                                    class="imgauto"
                                />
                            </div>
                        </div>
                        <div class="tp-example__cntTxt">
                            <div class="beforeBox">
                                <p class="ttl">Before</p>
                                <ul class="listText">
                                    <li>手配はすべて担当者任せ</li>
                                    <li>
                                        新規出店時に必要な多くの業者手配の一つとして手配
                                    </li>
                                    <li>
                                        多忙のため、手配が漏れてしまうことがある
                                    </li>
                                </ul>
                            </div>

                            <div class="afterBox">
                                <p class="ttl">After</p>
                                <ul class="listText">
                                    <li>最短3日での回収開始が可能</li>
                                    <li>365日連絡が繋がる</li>
                                    <li>短期間でも適切な条件で回収開始</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tp-example__cnt">
                    <div class="tp-example__cntTtl__wrap">
                        <h3 class="tp-example__cntTtl">
                            <span class="Label __gray">事例 5</span><br
                                class="sp"
                            />
                            <span class="Ttl"
                                >店舗の希望を実現する丁寧な対応</span
                            >
                        </h3>
                    </div>
                    <div class="tp-example__cntBottom">
                        <div class="tp-example__cntImg">
                            <p>焼肉屋（個人オーナー飲食店）／20 店舗</p>
                            <div>
                                <img
                                    src="/asset/images/garbage-collection/img_garbage-collection_case_12.jpg"
                                    alt=""
                                    width="560"
                                    height="232"
                                    loading="lazy"
                                    class="imgauto"
                                />
                            </div>
                            <div class="cntIcn">
                                <img
                                    src="/asset/images/garbage-collection/img_garbage-collection_case_13.png"
                                    alt=""
                                    width="265"
                                    height="265"
                                    loading="lazy"
                                    class="imgauto"
                                />
                            </div>
                        </div>
                        <div class="tp-example__cntTxt">
                            <div class="beforeBox">
                                <p class="ttl">Before</p>
                                <ul class="listText">
                                    <li>業者から折返しがない</li>
                                    <li>相談に乗ってもらえない</li>
                                    <li>
                                        希望通りの業者を見つけるまでに手間がかかった
                                    </li>
                                </ul>
                            </div>

                            <div class="afterBox">
                                <p class="ttl">After</p>
                                <ul class="listText">
                                    <li>365日連絡が繋がる</li>
                                    <li>営業担当が店舗の希望をヒアリング</li>
                                    <li>約4,000社の中から、最適な業者を手配</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- オーダーメイド -->
            <!--非表示中
			<section class="tp-order__section tp-sec tp-wrapper">
				<h2 class="tp-ttl __center">
					お客様ごとに、<br class="pc">
					オーダーメイド型で廃棄物マネジメントも可能！
				</h2>

				<h3 class="tp-ttl__balloon-bottom __witdh-s">店舗概要</h3>

				<ul class="order-list">
					<li>廃棄物処理費用の適性診断</li>
					<li>許可証管理サポート</li>
					<li>請求・支払い代行</li>
					<li>回収日・時間の調整窓口</li>
					<li>契約書締結サポート</li>
					<li>実務業者の与信調査</li>
				</ul>

				<h3 class="tp-ttl__balloon-bottom __witdh-s">店舗概要</h3>

				<ul class="order-list">
					<li>コールセンター活用</li>
					<li>粗大ごみの一斉回収手配</li>
					<li>契約書情報管理サポート</li>
					<li>グリストラップ清掃の手配</li>
					<li>行政報告書作成サポート</li>
					<li>業務業者の現地確認サポート</li>
					<li>行政立ち入り時の立会い</li>
					<li>店舗の現地調査、計量調査</li>
					<li>排出量報告</li>
					<li>ごみ袋やペールボックスの販売</li>
					<li>新規出店時の業者手配、契約締結</li>
					<li>その他管理情報の定期報告</li>
					<li>粗大ごみのスポット回収手配</li>
				</ul>

			</section>
			-->

            <ContactArea />

            <!-- ご利用までの流れ -->
            <section class="tp-frow__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">ご利用までの流れ</span>
                </h2>
                <div class="tp-flow__list">
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">お問い合わせ</h3>
                            <div class="Local">
                                <p>
                                    少しでもご興味がある方はまずはお問い合わせください。<br
                                    />
                                    担当スタッフがお電話にてヒアリングさせていただきます。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">提携先よりご連絡</h3>
                            <div class="Local">
                                <p>
                                    サービスの内容をご案内し、お客様に合ったプランをご提案します。<br
                                    />
                                    検討する際のお見積り作成も対応可能です。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">ご契約</h3>
                            <div class="Local">
                                <p>
                                    回収頻度などすり合わせた上で契約を締結いたします。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">ゴミの回収</h3>
                            <div class="Local">
                                <p>
                                    ご契約後お客様の状況に合わせて業者よりゴミの回収を行います。
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>

            <!-- よくある質問 -->
            <section class="tp-faq__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">よくある質問</span>
                </h2>
                <div class="g-acodion">
                    <dl>
                        <dt>依頼してからどのくらいで見積書ができますか？</dt>
                        <dd>基本的には10日ほど頂いております。</dd>
                    </dl>
                    <dl>
                        <dt>
                            ゴミの手配を忘れてしまいオープンが3日後なのですが、間に合いますか？
                        </dt>
                        <dd>はい、間に合った事例はたくさんあります。</dd>
                    </dl>
                    <dl>
                        <dt>なんで依頼するとゴミ代金が安くなるのですか？</dt>
                        <dd>
                            ゴミ代金は、「ゴミの物量」と「収集運搬・処分単価」で決まります。<br
                            />
                            しかし、この二つが適正ではない事が多く、当社が調査する事で適正化し、コスト削減が可能となります。
                        </dd>
                    </dl>
                </div>
            </section>

            <ContactArea />

            <!-- その他関連サービス -->
            <section class="tp-others__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">その他関連サービス</span
                    >
                </h2>
                <div class="tp-others__list">
                    <article>
                        <a href="/hygiene/sanitary-rental/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_sanitary-rental@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_sanitary-rental.png"
                                        srcset="/asset/images/common/img_kanren_service_sanitary-rental.png 1x,/asset/images/common/2x/img_kanren_service_sanitary-rental@2x.png 2x"
                                        alt="SNS運用代行"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">衛生用品レンタル</h3>
                        </a>
                    </article>
                    <article>
                        <a href="/hygiene/shop_cleaning/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_shop_cleaning@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_shop_cleaning.png"
                                        srcset="/asset/images/common/img_kanren_service_shop_cleaning.png 1x,/asset/images/common/2x/img_kanren_service_shop_cleaning@2x.png 2x"
                                        alt="SNS運用代行"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">飲食店清掃</h3>
                        </a>
                    </article>
                    <article>
                        <a href="/hygiene/waste-oil/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_waste-oil@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_waste-oil.png"
                                        srcset="/asset/images/common/img_kanren_service_waste-oil.png 1x,/asset/images/common/2x/img_kanren_service_waste-oil@2x.png 2x"
                                        alt="SNS運用代行"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">廃油無料回収</h3>
                        </a>
                    </article>
                </div>
            </section>
        </div>
    </article>
</Layout>

<style>
    @charset "UTF-8";

    /*-----------------------
mv tp-front__section
-----------------------*/
    .tp-front__section {
        background-image: url(/asset/images/garbage-collection/mv-garbage-collection.jpg);
    }

    /*-----------------------
tp-worries__section
-----------------------*/
    .tp-check__list > li {
        display: block;
    }

    /*-----------------------
tp-order__section
-----------------------*/
    .tp-order__section .tp-local {
        margin-bottom: 30px;
    }
    @media screen and (max-width: 767px) {
        .tp-order__section .tp-scroll__container img {
            max-width: 560px;
        }
    }

    /*-----------------------
 contactarea
-----------------------*/
    .contactarea:first-of-type {
        margin-bottom: 80px;
    }

    /*-----------------------
サービスの特徴 tp-point__section
-----------------------*/

    .tp-point__section .tp-point__list > li:nth-child(1) > .Ttl::before {
        background: url(/asset/images/common/icon_point32.png) no-repeat center
            center/contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(2) > .Ttl::before {
        background: url(/asset/images/common/icon_point40.png) no-repeat center
            center/contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(3) > .Ttl::before {
        background: url(/asset/images/common/icon_point41.png) no-repeat center
            center/contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(4) > .Ttl::before {
        background: url(/asset/images/common/icon_point42.png) no-repeat center
            center/contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(5) > .Ttl::before {
        background: url(/asset/images/common/icon_point43.png) no-repeat center
            center/contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(6) > .Ttl::before {
        background: url(/asset/images/common/icon_point44.png) no-repeat center
            center/contain;
    }
    /*-----------------------
事例紹介 tp-example__section
-----------------------*/
    .tp-example__section .tp-example__cnt {
        border: 1px solid var(--CONTENTS_BORDER_GRAY);
        border-radius: 20px;
    }
    .tp-example__section .tp-example__cnt:not(:last-of-type) {
        margin-bottom: 20px;
    }
    .tp-example__section .tp-example__cntTtl__wrap {
        padding: 20px 150px 9px 35px;
        background: var(--MAIN_YELLOW);
        border-radius: 18px 18px 0 0;
        position: relative;
    }
    .tp-example__section .tp-example__cntTtl {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        font-size: 30px;
        font-weight: bold;
        line-height: 1.5;
    }
    .tp-example__section .tp-example__cntTtl .Label {
        display: inline-block;
        font-size: 16px;
        line-height: 1;
        color: var(--MAIN_WHITE);
        padding: 7px 20px;
        background: #be0000;
        margin-right: 17px;
    }
    .tp-example__section .tp-example__cntTtl .Label.__gray {
        background: #3c3c3c;
    }
    .tp-example__section .tp-example__cntTtl__wrap .Seats {
        font-size: 14px;
        font-weight: bold;
        line-height: 1;
        position: absolute;
        right: 35px;
        bottom: 15px;
    }
    .tp-example__section .tp-example__cntBottom {
        display: flex;
        justify-content: space-between;
        padding: 30px 35px;
    }
    .tp-example__section .tp-example__cntImg {
        width: 47%;
    }
    .tp-example__section .tp-example__cntImg p {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    .tp-example__section .tp-example__cntImg .cntIcn {
        display: flex;
        margin-top: 30px;
        justify-content: space-between;
    }
    .tp-example__section .tp-example__cntImg .cntIcn img {
        width: 47%;
    }
    .tp-example__section .tp-example__cntTxt {
        width: 47%;
    }
    .tp-example__section .tp-example__cntTxt .beforeBox,
    .tp-example__section .tp-example__cntTxt .afterBox {
        padding: 10px 0 35px 0;
        border-radius: 10px;
        position: relative;
    }
    .tp-example__section .tp-example__cntTxt .beforeBox {
        background: #f1f1f1;
        margin-bottom: 30px;
    }
    .tp-example__section .tp-example__cntTxt .beforeBox .ttl {
        border-bottom: 1px solid #3c3c3c;
        text-indent: 1rem;
    }
    .tp-example__section .tp-example__cntTxt .afterBox {
        background: #ffe8c8;
    }
    .tp-example__section .tp-example__cntTxt .afterBox .ttl {
        border-bottom: 1px solid #ff8000;
        color: #ff8000;
        text-indent: 1rem;
    }
    .tp-example__section .tp-example__cntTxt .beforeBox .listText,
    .tp-example__section .tp-example__cntTxt .afterBox .listText {
        margin-top: 1rem;
    }
    .tp-example__section .tp-example__cntTxt .beforeBox .listText li,
    .tp-example__section .tp-example__cntTxt .afterBox .listText li {
        list-style-type: disc;
        margin-left: 3rem;
        line-height: 1.5rem;
    }
    .tp-example__section .tp-example__cntTxt .beforeBox::before {
        background-color: var(--MAIN_ORANGE);
        bottom: 10px;
        content: "";
        display: block;
        height: 1.9rem;
        left: 50%;
        position: absolute;
        -webkit-transform: translate(-50%, 100%);
        transform: translate(-50%, 100%);
        width: 3rem;
    }
    .tp-example__section .tp-example__cntTxt .beforeBox::after {
        border-color: var(--MAIN_ORANGE) transparent transparent transparent;
        border-style: solid;
        border-width: 20px 40px 0 40px;
        bottom: -1.2rem;
        content: "";
        display: block;
        height: 0;
        left: 50%;
        position: absolute;
        -webkit-transform: translate(-50%, 100%);
        transform: translate(-50%, 100%);
        width: 0;
        z-index: 100;
    }

    @media screen and (max-width: 767px) {
        .tp-example__section .tp-example__cntTxt .beforeBox .listText li,
        .tp-example__section .tp-example__cntTxt .afterBox .listText li {
            list-style-type: disc;
            margin-left: 2rem;
            margin-right: 1rem;
            line-height: 1.5rem;
        }
    }

    @media screen and (max-width: 767px) {
        .tp-example__section .tp-example__cntTtl__wrap {
            padding: 20px 15px 15px;
        }
        .tp-example__section .tp-example__cntTtl {
            font-size: 26px;
        }
        .tp-example__section .tp-example__cntTtl .Ttl {
            width: 100%;
        }
        .tp-example__section .tp-example__cntTtl__wrap .Seats {
            right: 15px;
            top: 35px;
            bottom: unset;
        }
        .tp-example__section .tp-example__cntBottom {
            display: block;
            padding: 30px 25px 40px;
        }
        .tp-example__section .tp-example__cntImg {
            width: 100%;
            margin-bottom: 30px;
        }
        .tp-example__section .tp-example__cntTxt {
            width: 100%;
            margin-right: 0;
        }
    }
    /* ====================================== 
tp-order__section
=========================================
*/

    .tp-order__section .order-list {
        list-style-type: disc;
        display: grid;
        grid-template-columns: 50% 50%;
        width: clamp(200px, 45vw, 650px);
        margin: 0 auto 50px;
        font-size: clamp(16px, 1.2vw, 18px);
    }
    .tp-order__section .order-list li {
        list-style-type: disc;
        margin-left: 2rem;
    }

    @media screen and (max-width: 767px) {
        .tp-order__section .order-list {
            grid-template-columns: 100%;
            width: 100%;
        }
    }
</style>
