---
import Layout from "../../../layouts/Layout.astro";
import ContactArea from "../../../components/common/ContactArea.astro";
import structuredDataMarkup from "../../../data/data.json";
const markup = JSON.stringify(structuredDataMarkup.homepage);
---

<Layout
    title="【飲食店特化】費用を抑えて始めるホームページ制作｜テンポス"
    description="プロカメラマンの撮影付き！クオリティの高い写真を掲載できる飲食店向けホームページ制作。毎月の更新運用までテンポスフードプレイスにまるっとお任せ！"
    pageUrl="/marketing/homepage/"
    ogimage="/asset/images/marketing/homepage/ogp_homepage.jpg"
    markup={markup}
>
    <article id="mainarea">
        <div class="tp-border sans">
            <nav class="tp-nav">
                <ol class="tp-nav__list flex">
                    <li><a href="/">トップページ</a></li>
                    <li><a href="/marketing/">集客</a></li>
                    <li>ホームページ作成</li>
                </ol>
            </nav>
            <section class="tp-front__section">
                <h1 class="tp-front__ttl font_m_plus">
                    <span>ホームページ作成</span>
                </h1>
                <p class="tp-front__caption">
                    飲食店に特化したホームページなら<br />
                    55,000円～他社よりも格安で作成できます。
                </p>
                <p class="tp-front__contact">
                    <a class="click_link_mail" href="/contact/?checked=10"
                        >お問い合わせはこちら</a
                    >
                </p>
            </section>

            <section class="tp-worries__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __border">
                    <span></span>こんなお悩みありませんか？<span></span>
                </h2>
                <ul class="tp-check__list tp-wrapper__l">
                    <li>
                        ホームページを作成したいけど、<span class="tp-bglg"
                            >5年契約などはちょっと不安</span
                        >
                    </li>
                    <li>
                        お店のコンセプトや世界観を伝えたいけど、<span
                            class="tp-bglg">SNSだけで大丈夫？</span
                        >
                    </li>
                    <li>
                        <span class="tp-bglg">問い合わせ先が電話しかない</span
                        >から、予約を取りこぼしてしまうかも
                    </li>
                </ul>
            </section>

            <section class="tp-design__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    テンポスでは、飲食店に特化したデザインの<br class="pc" />
                    ホームページを作成いたします！
                </h2>
                <div class="tp-design__contents flex">
                    <p class="tp-local">
                        お客様の用途や予算に合わせて選べる豊富なプランをご用意しており、他社よりも月額費用を抑えたホームページ作成が可能です。<br
                        />
                        初期制作費にカメラマン撮影も含まれているため、魅力的な写真を多数掲載することでお店の世界観が伝わりやすくなります。<br
                        />
                        また、飲食店をSNSで検索する人はホームページを見てから来店する確率が高いと言われています。<br
                        />
                        SNS時代でもホームページには集客に必要な、大切なコンテンツの一つになります。
                    </p>
                    <p class="tp-design__thumb">
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/homepage/2x/img_homepage_design@2x.png"
                            />
                            <img
                                src="/asset/images/homepage/img_homepage_design.png"
                                srcset="/asset/images/homepage/img_homepage_design.png 1x,/asset/images/homepage/2x/img_homepage_design@2x.png 2x"
                                alt="飲食店に特化"
                                width="200"
                                height="243"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </p>
                </div>
            </section>

            <section class="tp-want__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center">
                    今の時代、ホームページは本当に<br class="sp" />必要なのか？
                </h2>
                <ul class="tp-check__list tp-wrapper__l tp-mgb__s">
                    <li>
                        ホームページは<span class="tp-bglg"
                            >SNSが主流の昨今でも、重要な集客ツール</span
                        >です。
                    </li>
                    <li>
                        「<span class="tp-bglg">インターネット上の看板</span
                        >」にもなります。
                    </li>
                    <li>
                        SNSはリアルタイムに最新情報を配信する場所、<br
                            class="pc"
                        />
                        <span class="tp-bglg"
                            >ホームページはお店のコンセプトやこだわりを伝える</span
                        >場所、<br class="pc" />
                        と役割が分かれます。
                    </li>
                </ul>
                <p class="tp-want__thumb">
                    <picture>
                        <source
                            media="(max-width:767px)"
                            srcset="/asset/images/homepage/2x/img_homepage_want@2x.png"
                        />
                        <img
                            src="/asset/images/homepage/img_homepage_want.png"
                            srcset="/asset/images/homepage/img_homepage_want.png 1x,/asset/images/homepage/2x/img_homepage_want@2x.png 2x"
                            alt="ホームページの役割"
                            width="180"
                            height="89"
                            loading="lazy"
                            class="imgauto"
                        />
                    </picture>
                </p>
            </section>

            <section class="tp-case__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center">
                    <span class="small"
                        >他社で作ると、10～40万円<br
                            class="sp"
                        />かかってしまうことも…</span
                    ><br />
                    <span class="tp-bglg">テンポスなら5万円〜</span><br
                        class="sp"
                    />ホームページ制作が可能！
                </h2>
                <p class="tp-local tp-wrapper__s tp-mgb__s">
                    なるべく初期費用は抑えたい、飲食店に必要な情報だけ載せたいという場合はテンポスのホームページ制作プランがおすすめです！
                </p>
                <div class="tp-scroll__container">
                    <table class="tp-table price-mgb">
                        <tbody>
                            <tr>
                                <th>会社名</th>
                                <td>テンポスフードプレイス</td>
                                <td>A社</td>
                                <td>B社</td>
                            </tr>
                            <tr>
                                <th>制作費</th>
                                <td>5万円〜</td>
                                <td>10万円～</td>
                                <td>40万円～</td>
                            </tr>
                            <tr>
                                <th>更新・維持費</th>
                                <td>
                                    <span class="tp-table__txt__center"
                                        >維持費 3,000円〜</span
                                    >
                                    <!--<span class="tp-table__txt__center">更新費 1,000円～</span>-->
                                </td>
                                <td>5万円～／月</td>
                                <td>10万円～／月</td>
                            </tr>
                            <tr>
                                <th>作成ページ数</th>
                                <td>3ページ〜</td>
                                <td>5ページ</td>
                                <td>8ページ</td>
                            </tr>
                            <tr>
                                <th>サポート</th>
                                <td>
                                    とにかく安く作成したい方向けの5万円で作れるコースもご用意！<br
                                    />もちろんSEO対策をしたい方向けのこだわりコースもございます。
                                </td>
                                <td>
                                    編集・更新の<br />
                                    場合は依頼
                                </td>
                                <td>操作サポートあり</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>

            <section class="tp-point__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-point__ttl__span"
                        >フードプレイスホームページの</span
                    >
                    <span class="tp-ttl__balloon__span"
                        ><span>3</span>つの特徴</span
                    >
                </h2>
                <ul class="tp-point__list __1clm">
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt"
                                >予算・用途によって選べる豊富なコース</span
                            >
                        </h3>
                        <p class="Local">
                            シンプルなホームページなら55,000円（税込）～作成が可能です。<br
                            />もちろん、こだわって作成したい人向けのコースもございます。
                        </p>
                    </li>

                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">気軽にスタート可能！</span>
                        </h3>
                        <p class="Local">
                            用意するのはお店の基本情報と写真だけ！そのほかの細かな内容はお電話にてヒアリングいたします。オプションでプロカメラマンの撮影を付けることも可能です。<br
                            />＊3時間20カット以上 55,000円（税込）+ 交通費実費
                        </p>
                    </li>
                </ul>
            </section>

            <section class="tp-image__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">デザインイメージ</span>
                </h2>
                <ul class="tp-3c2r__list tp-mgb__s">
                    <li>
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/homepage/sp/img_homepage_image_04_sp.jpg"
                            />
                            <img
                                src="/asset/images/homepage/img_homepage_image_04.jpg"
                                srcset="/asset/images/homepage/img_homepage_image_04.jpg 1x,/asset/images/homepage/2x/img_homepage_image_04@2x.jpg 2x"
                                alt="デザインイメージ01"
                                width="145"
                                height="91"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </li>
                    <li>
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/homepage/sp/img_homepage_image_02_sp.jpg"
                            />
                            <img
                                src="/asset/images/homepage/img_homepage_image_02.jpg"
                                srcset="/asset/images/homepage/img_homepage_image_02.jpg 1x,/asset/images/homepage/2x/img_homepage_image_02@2x.jpg 2x"
                                alt="デザインイメージ01"
                                width="145"
                                height="91"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </li>
                    <li>
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/homepage/sp/img_homepage_image_03_sp.jpg"
                            />
                            <img
                                src="/asset/images/homepage/img_homepage_image_03.jpg"
                                srcset="/asset/images/homepage/img_homepage_image_03.jpg 1x,/asset/images/homepage/2x/img_homepage_image_03@2x.jpg 2x"
                                alt="デザインイメージ01"
                                width="145"
                                height="91"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </li>
                    <li>
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/homepage/sp/img_homepage_image_01_sp.jpg"
                            />
                            <img
                                src="/asset/images/homepage/img_homepage_image_01.jpg"
                                srcset="/asset/images/homepage/img_homepage_image_01.jpg 1x,/asset/images/homepage/2x/img_homepage_image_01@2x.jpg 2x"
                                alt="デザインイメージ01"
                                width="145"
                                height="91"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </li>
                    <li>
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/homepage/sp/img_homepage_image_05_sp.jpg"
                            />
                            <img
                                src="/asset/images/homepage/img_homepage_image_05.jpg"
                                srcset="/asset/images/homepage/img_homepage_image_05.jpg 1x,/asset/images/homepage/2x/img_homepage_image_05@2x.jpg 2x"
                                alt="デザインイメージ01"
                                width="145"
                                height="91"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </li>
                    <li>
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/homepage/sp/img_homepage_image_06_sp.jpg"
                            />
                            <img
                                src="/asset/images/homepage/img_homepage_image_06.jpg"
                                srcset="/asset/images/homepage/img_homepage_image_06.jpg 1x,/asset/images/homepage/2x/img_homepage_image_06@2x.jpg 2x"
                                alt="デザインイメージ01"
                                width="145"
                                height="91"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </li>
                </ul>
                <p class="tp-btn __yellow">
                    <a href="/marketing/homepage/jirei/">事例一覧を見る</a>
                </p>
            </section>

            <section class="tp-plan__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __mgb">
                    <span class="tp-ttl__balloon__span"
                        >お好みで選べる3プラン</span
                    >
                </h2>
                <div class="tp-scroll__container">
                    <table class="tp-table__plan table-mgb">
                        <tbody>
                            <tr>
                                <th>
                                    <p class="Ttl">シンプルコース</p>
                                    <p class="Local">
                                        費用を抑えて独自ドメインで作れる
                                    </p>
                                </th>
                                <th>
                                    <p class="Ttl">こだわりコース</p>
                                    <p class="Local">
                                        テンプレートを5種類の中から選択できる
                                    </p>
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <p class="Tag">初期費用</p>
                                    <p class="Price">
                                        55,000<span class="Local">円</span>
                                    </p>
                                </td>
                                <td>
                                    <p class="Tag">初期費用</p>
                                    <p class="Price">
                                        110,000<span class="Local">円</span>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="Tag">デザイン数</p>
                                    <p class="Local">1</p>
                                </td>
                                <td>
                                    <p class="Tag">デザイン数</p>
                                    <p class="Local">5</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="Tag">ドメイン</p>
                                    <p class="Local">独自ドメイン</p>
                                </td>
                                <td>
                                    <p class="Tag">ドメイン</p>
                                    <p class="Local">独自ドメイン</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="Tag">ページ内容</p>
                                    <p class="Local">
                                        ・TOPページ<br />
                                        ・メニューページ<br />
                                        ・アクセスページ<br />
                                        ・ブログページ<br />
                                        ・予約ページ
                                    </p>
                                </td>
                                <td>
                                    <p class="Tag">ページ内容</p>
                                    <p class="Local">
                                        ・TOPページ<br />
                                        ・メニューページ<br />
                                        ・アクセスページ<br />
                                        ・ブログページ<br />
                                        ・予約ページ
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="Tag">特典</p>
                                    <p class="Local">
                                        フォント変更<br />
                                        外部リンク<br />
                                        営業日カレンダー掲載<br />
                                        など可能
                                    </p>
                                </td>
                                <td>
                                    <p class="Tag">特典</p>
                                    <p class="Local">
                                        プロカメラマン撮影付き<br />（3時間
                                        20カット以上）
                                    </p>
                                    <p class="Local">
                                        +15,000円で<br />ページ追加可能
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="no-border">
                                    <p class="Tag">更新費用</p>
                                    <p class="Price">
                                        11,000<span class="Local">円／月</span>
                                    </p>

                                    <p class="Btn">
                                        <a
                                            href="https://c-course.tenposfoodplace-hp.com/"
                                            target="_blank"
                                            >テンプレート見本を見る</a
                                        >
                                    </p>
                                </td>
                                <td class="no-border">
                                    <p class="Tag">更新費用</p>
                                    <p class="Price">
                                        11,000<span class="Local">円／月</span>
                                    </p>
                                    <p class="Btn">
                                        <a
                                            href="/marketing/homepage/basic_sample.html"
                                            target="_blank"
                                            >テンプレート見本を見る</a
                                        >
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                        <tbody class="tp-table__plan__tbodyBottom">
                            <tr>
                                <th>
                                    <p class="Ttl">別途見積コース</p>
                                    <p class="Local">
                                        完全オリジナルデザインで作成できる
                                    </p>
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <p class="Local sp">
                                        ・ページ数<br />・内容<br
                                        />・デザイン<br />・カメラマン撮影など
                                    </p>
                                    <div class="Local__wrap">
                                        <p class="Local">
                                            <span class="pc"
                                                >ページ数／内容／デザイン／カメラマン撮影など<br
                                                /></span
                                            >全てお客様のご要望をお伺いして作成が可能です！
                                        </p>
                                        <p class="Local">
                                            飲食店以外のホームページの作成も可能です。<br
                                            />例）企業HP、美容院、サロンなど
                                        </p>
                                        <p class="Local">
                                            お気軽にお問合せください。
                                        </p>
                                    </div>
                                    <div class="Btn__wrap">
                                        <p class="Btn">
                                            <a
                                                href="https://kankokuyokocho.com/"
                                                target="_blank"
                                                >作成事例１を見る</a
                                            >
                                        </p>
                                        <p class="Btn">
                                            <a
                                                href="https://www.jdrex.jp/"
                                                target="_blank"
                                                >作成事例２を見る</a
                                            >
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot class="tp-local tp-table_caption">
                            <tr>
                                <td>※全て税込価格での表記です。</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </section>

            <ContactArea />

            <section class="tp-option__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center">
                    より集客に繋がる<br class="sp" />オプションプランも充実!
                </h2>
                <ul class="tp-option__list">
                    <li class="__orange">
                        <ul class="tp-option__iconlist">
                            <li>
                                <div class="Ttl flex">
                                    <p class="Min">プロカメラマン撮影</p>
                                    <p class="Sub">55,000円</p>
                                </div>
                                <p class="Local">
                                    写真は、ホームページで重要な情報の一つです。<br
                                    />プロにお願いしてシズル感を演出。3時間最低20カット<br
                                    />※別途交通費実費<br
                                    />※撮影時間を延長したい場合は11,000円（税込）/1時間となります。
                                </p>
                            </li>
                            <li>
                                <div class="Ttl flex">
                                    <p class="Min">写真加工</p>
                                    <p class="Sub">1,100円/1枚あたり</p>
                                </div>
                                <p class="Local">
                                    プロによる写真の加工でより美味しそうに見えるよう加工いたします。<br
                                    />※ピンぼけや元から画質が荒い写真を綺麗にすることは出来ません。
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li class="__orange">
                        <ul class="tp-option__iconlist">
                            <li>
                                <div class="Ttl flex">
                                    <p class="Min">メールアドレス作成</p>
                                    <p class="Sub">11,000円</p>
                                </div>
                                <p class="Local">
                                    お店専用のメールアドレスを作成いたします。<br
                                    />（問い合わせ用、社長用、従業員用の 3
                                    つまで）<br
                                    />※OutlookとiPhone用の登録マニュアル付
                                </p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>

            <section class="tp-frow__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">ご利用までの流れ</span>
                </h2>
                <div class="tp-flow__list">
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">お申込み</h3>
                            <div class="Local">
                                <p>
                                    2通りの方法でテンポスフードプレイスまでご連絡ください。
                                </p>
                                <ul class="List">
                                    <li>
                                        当ホームページのお問い合わせフォームよりご連絡
                                    </li>
                                    <li>
                                        お電話(050-3174-1366)にてご連絡(平日9:00～18:00)
                                    </li>
                                </ul>
                                <p>
                                    プランのご相談やご不明点もお受けしております。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">フードプレイスよりご連絡</h3>
                            <div class="Local">
                                <p>
                                    3営業日以内に担当者よりお電話にてご連絡致します。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">契約書の確認・お支払い</h3>
                            <div class="Local">
                                <p>
                                    契約開始月、費用について記載のある契約書をメールかLINEでお送りいたします。<br
                                    />
                                    そちらの内容で問題がない場合は、同意の旨をご返信ください。契約締結後、弊社よりご請求書をお送りいたします。<br
                                    />
                                    クレジットカード払いをご希望の際は、カード登録＋契約書同意の返信内容を確認した段階でホームぺージ作成をスタートいたします。<br
                                    />
                                    ※見積りプランは納品後ご請求書を発行いたします。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">写真・文章を送る</h3>
                            <ul class="tp-frow__txtList">
                                <li>
                                    <p class="Ttl">
                                        シンプルコースにお申込みの場合
                                    </p>
                                    <p>
                                        ご契約後、掲載内容確認のフォームをお送りいたしますので、ご入力をお願いいたします。<br
                                        />配置などは弊社にて検討いたします。<br
                                        />ご指定がございましたら、その旨お伝えくださいませ。
                                    </p>
                                </li>
                                <li>
                                    <p class="Ttl">
                                        こだわりコースにお申込みの場合
                                    </p>
                                    <p>
                                        ホームページに掲載する文章やメニュー表などをお送りください。<br
                                        />商品のお写真に関しては、プロカメラマンの撮影がございますので、お送りいただかなくて構いません。
                                    </p>
                                </li>
                                <li>
                                    <p class="Ttl">
                                        見積りプランお申込みの場合
                                    </p>
                                    <p>
                                        制作担当者とお電話またはオンラインにてお打合せいただき、作成を進めてまいります。<br
                                        />また東京都23区、川崎市、横浜市（鶴見区、神奈川区、西区、保土ヶ谷区、中区、南区）は訪問でのお打合せも可能です。
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">ホームページ完成</h3>
                            <div class="Local">
                                <p>
                                    メールもしくはLINEにて完成のご連絡をいたします。<br
                                    />完成した月の修正は2回までとさせていただきます。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">ホームページ更新・維持</h3>
                            <div class="Local">
                                <p>
                                    制作完了後の翌月から保守契約が発生致します。
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>

            <section class="tp-case__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">制作実績または事例</span
                    >
                </h2>
                <div class="tp-case__list tp-mgb__s">
                    <article>
                        <p class="Thumb">
                            <picture>
                                <source
                                    media="(max-width:767px)"
                                    srcset="/asset/images/homepage/2x/img_homepage_case_01@2x.jpg"
                                />
                                <img
                                    src="/asset/images/homepage/img_homepage_case_01.jpg"
                                    srcset="/asset/images/homepage/img_homepage_case_01.jpg 1x,/asset/images/homepage/2x/img_homepage_case_01@2x.jpg 2x"
                                    alt=""
                                    width="232"
                                    height="148"
                                    loading="lazy"
                                    class="imgauto"
                                />
                            </picture>
                        </p>
                        <ul class="tp-case__listTags flex">
                            <li class="__premium"><a href="">こだわり</a></li>
                            <li class="__regular"><a href="">レストラン</a></li>
                        </ul>
                        <p class="Caption">レストラン</p>
                        <h3 class="Ttl">GARLOCHI</h3>
                        <p class="Link">
                            <a href="https://garlochi.jp/" target="_blank"
                                >詳しく見る</a
                            >
                        </p>
                    </article>
                    <article>
                        <p class="Thumb">
                            <picture>
                                <source
                                    media="(max-width:767px)"
                                    srcset="/asset/images/homepage/2x/img_homepage_case_02@2x.jpg"
                                />
                                <img
                                    src="/asset/images/homepage/img_homepage_case_02.jpg"
                                    srcset="/asset/images/homepage/img_homepage_case_02.jpg 1x,/asset/images/homepage/2x/img_homepage_case_02@2x.jpg 2x"
                                    alt=""
                                    width="232"
                                    height="148"
                                    loading="lazy"
                                    class="imgauto"
                                />
                            </picture>
                        </p>
                        <ul class="tp-case__listTags flex">
                            <li class="__mitsumori"><a href="">別途見積</a></li>
                            <li class="__regular"><a href="">レストラン</a></li>
                        </ul>
                        <p class="Caption">レストラン</p>
                        <h3 class="Ttl">株式会社Success</h3>
                        <p class="Link">
                            <a
                                href="https://okinawasuccess.com/"
                                target="_blank">詳しく見る</a
                            >
                        </p>
                    </article>
                    <article>
                        <p class="Thumb">
                            <picture>
                                <source
                                    media="(max-width:767px)"
                                    srcset="/asset/images/homepage/2x/img_homepage_case_03@2x.jpg"
                                />
                                <img
                                    src="/asset/images/homepage/img_homepage_case_03.jpg"
                                    srcset="/asset/images/homepage/img_homepage_case_03.jpg 1x,/asset/images/homepage/2x/img_homepage_case_03@2x.jpg 2x"
                                    alt=""
                                    width="232"
                                    height="148"
                                    loading="lazy"
                                    class="imgauto"
                                />
                            </picture>
                        </p>
                        <ul class="tp-case__listTags flex">
                            <li class="__premium"><a href="">こだわり</a></li>
                            <li class="__regular"><a href="">ラーメン</a></li>
                        </ul>
                        <p class="Caption">ラーメン</p>
                        <h3 class="Ttl">ラーメン郷</h3>
                        <p class="Link">
                            <a href="https://ramen-go.net/" target="_blank"
                                >詳しく見る</a
                            >
                        </p>
                    </article>
                    <article>
                        <p class="Thumb">
                            <picture>
                                <source
                                    media="(max-width:767px)"
                                    srcset="/asset/images/homepage/2x/img_homepage_case_04@2x.jpg"
                                />
                                <img
                                    src="/asset/images/homepage/img_homepage_case_04.jpg"
                                    srcset="/asset/images/homepage/img_homepage_case_04.jpg 1x,/asset/images/homepage/2x/img_homepage_case_04@2x.jpg 2x"
                                    alt=""
                                    width="232"
                                    height="148"
                                    loading="lazy"
                                    class="imgauto"
                                />
                            </picture>
                        </p>
                        <ul class="tp-case__listTags flex">
                            <li class="__premium"><a href="">こだわり</a></li>
                            <li class="__regular"><a href="">居酒屋</a></li>
                        </ul>
                        <p class="Caption">居酒屋</p>
                        <h3 class="Ttl">徳多屋</h3>
                        <p class="Link">
                            <a
                                href="https://tokudaya-chigasaki.com/"
                                target="_blank">詳しく見る</a
                            >
                        </p>
                    </article>
                    <article>
                        <p class="Thumb">
                            <picture>
                                <source
                                    media="(max-width:767px)"
                                    srcset="/asset/images/homepage/2x/img_homepage_case_05@2x.jpg"
                                />
                                <img
                                    src="/asset/images/homepage/img_homepage_case_05.jpg"
                                    srcset="/asset/images/homepage/img_homepage_case_05.jpg 1x,/asset/images/homepage/2x/img_homepage_case_05@2x.jpg 2x"
                                    alt=""
                                    width="232"
                                    height="148"
                                    loading="lazy"
                                    class="imgauto"
                                />
                            </picture>
                        </p>
                        <ul class="tp-case__listTags flex">
                            <li class="__premium"><a href="">こだわり</a></li>
                            <li class="__regular"><a href="">カフェ</a></li>
                        </ul>
                        <p class="Caption">カフェ</p>
                        <h3 class="Ttl">榊珈琲</h3>
                        <p class="Link">
                            <a href="https://sakaki-coffee.com/" target="_blank"
                                >詳しく見る</a
                            >
                        </p>
                    </article>
                </div>
                <p class="tp-btn __white">
                    <a href="/marketing/homepage/jirei/">他の事例を見る</a>
                </p>
            </section>

            <!--「お客様の声」非表示
			<section class="tp-voice__section tp-sec tp-wrapper">
				<h2 class="tp-ttl"><span class="tp-ttl__balloon__span">お客様の声</span></h2>
				<div class="tp-voice__list">
					<article>
						<p class="Caption">見出し見出し見出し見出し見出し見出し見出し見出し</p>
						<p class="Thumb">
							<picture>
								<source media="(max-width:767px)" srcset="/asset/images/template/sp/voice01.jpg">
								<img src="/asset/images/template/voice01.jpg" srcset="/asset/images/template/voice01.jpg 1x,/asset/images/template/2x/voice01.jpg 2x" alt="お客様の声01" width="300" height="199" loading="lazy" class="imgauto">
							</picture>
						</p>
						<div class="tp-voice__info">
							<h3 class="Name">店名店名店名店名店名店名</h3>
							<p class="Industry">業種業種業種</p>
							<p class="Area">エリアエリアエリア</p>
						</div>
						<p class="Link">
							<a href="">詳しく見る</a>
						</p>
					</article>
					<article>
						<p class="Caption">見出し見出し見出し見出し見出し見出し見出し見出し</p>
						<p class="Thumb">
							<picture>
								<source media="(max-width:767px)" srcset="/asset/images/template/sp/voice01.jpg">
								<img src="/asset/images/template/voice01.jpg" srcset="/asset/images/template/voice01.jpg 1x,/asset/images/template/2x/voice01.jpg 2x" alt="お客様の声02" width="300" height="199" loading="lazy" class="imgauto">
							</picture>
						</p>
						<div class="tp-voice__info">
							<h3 class="Name">店名店名店名店名店名店名</h3>
							<p class="Industry">業種業種業種</p>
							<p class="Area">エリアエリアエリア</p>
						</div>
						<p class="Link">
							<a href="">詳しく見る</a>
						</p>
					</article>
					<article>
						<p class="Caption">見出し見出し見出し見出し見出し見出し見出し見出し</p>
						<p class="Thumb">
							<picture>
								<source media="(max-width:767px)" srcset="/asset/images/template/sp/voice01.jpg">
								<img src="/asset/images/template/voice01.jpg" srcset="/asset/images/template/voice01.jpg 1x,/asset/images/template/2x/voice01.jpg 2x" alt="お客様の声03" width="300" height="199" loading="lazy" class="imgauto">
							</picture>
						</p>
						<div class="tp-voice__info">
							<h3 class="Name">店名店名店名店名店名店名</h3>
							<p class="Industry">業種業種業種</p>
							<p class="Area">エリアエリアエリア</p>
						</div>
						<p class="Link">
							<a href="">詳しく見る</a>
						</p>
					</article>
				</div>
			</section>
			-->

            <section class="tp-faq__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">よくある質問</span>
                </h2>
                <div class="g-acodion">
                    <dl>
                        <dt>追加でページを作成してもらえるの?</dt>
                        <dd>
                            こだわりコースは1ページにつき15,000円（税抜）で追加できます。
                            多言語化（簡易版）機能の追加も可能ですのでご相談ください。
                        </dd>
                    </dl>
                    <dl>
                        <dt>店内やメニューの撮影はしてくれないの?</dt>
                        <dd>
                            こだわりコースにはプロカメラマンの撮影が付いております。<br
                            />メニュー・店内・外観・食材や調理風景などを撮影いたします。<br
                            />必ず撮影したいメニュー、写真のテイストなどご希望がございましたら事前にお知らせください。<br
                            />
                            <span class="tp-faq__addTxt"
                                >シンプルコースにもカメラマン撮影を追加することは可能です。<br
                                />
                                ※料金：55,000円+交通費　撮影3時間　20カット以上</span
                            >
                        </dd>
                    </dl>
                    <dl>
                        <dt>独自ドメインで公開したいけど、可能ですか?</dt>
                        <dd>独自ドメインでのホームぺージ制作が可能です。</dd>
                    </dl>
                    <dl>
                        <dt>ホームページの更新をお願いできますか?</dt>
                        <dd>
                            ホームページの更新はテンポスフードプイレイスにメール・ＬＩＮＥまたはお電話でご依頼ください。
                        </dd>
                    </dl>
                    <dl>
                        <dt>他社で発行したソースコードを入れたい。</dt>
                        <dd>
                            完全自動化でページ生成されるテンプレートを使用しているため、headタグ等に設置することができません。<br
                            />予めご了承ください。
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            他社でホームページを作成したけど月額費用が高いので、テンポスに更新をお願いしたい。
                        </dt>
                        <dd>
                            弊社で連携可能なホームページか確認いたしますので、まずはお気軽にお問い合わせください。
                        </dd>
                    </dl>
                    <dl>
                        <dt>撮影データはどのような形式になりますか？</dt>
                        <dd>
                            JPEG形式のデータになります。<br
                            />※元データ（RAWデータ）は含まれません。
                        </dd>
                    </dl>
                </div>
            </section>

            <ContactArea />

            <section class="tp-others__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">その他関連サービス</span
                    >
                </h2>
                <div class="tp-others__list">
                    <!--<article>
							<a href="/marketing/sns_update.html">
								<p class="Thumb">
									<picture>
										<source media="(max-width:767px)"
											srcset="/asset/images/common/2x/img_kanren_service_sns_update@2x.png">
										<img src="/asset/images/common/img_kanren_service_sns_update.png"
											srcset="/asset/images/common/img_kanren_service_sns_update.png 1x,/asset/images/common/2x/img_kanren_service_sns_update@2x.png 2x"
											alt="SNS運用代行" width="304" height="231" loading="lazy" class="imgauto">
									</picture>
								</p>
								<h3 class="Ttl">
									SNS運用サポート
								</h3>
							</a>
						</article>-->
                    <article>
                        <a href="/marketing/gmb.html">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_gmb@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_gmb.png"
                                        srcset="/asset/images/common/img_kanren_service_gmb.png 1x,/asset/images/common/2x/img_kanren_service_gmb@2x.png 2x"
                                        alt="Googleビジネスプロフィール運用代行"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">
                                Googleビジネス<br />
                                プロフィール<br />
                                運用サポート
                            </h3>
                        </a>
                    </article>
                    <!-- <article>
							<a href="/marketing/press-release.html">
								<p class="Thumb">
									<picture>
										<source media="(max-width:767px)"
											srcset="/asset/images/common/2x/img_kanren_service_press-release@2x.png">
										<img src="/asset/images/common/img_kanren_service_press-release.png"
											srcset="/asset/images/common/img_kanren_service_press-release.png 1x,/asset/images/common/2x/img_kanren_service_press-release@2x.png 2x"
											alt="プレスリリース" width="304" height="231" loading="lazy" class="imgauto">
									</picture>
								</p>
								<h3 class="Ttl">
									プレスリリース
								</h3>
							</a>
						</article> -->
                </div>
            </section>
        </div>
    </article>
</Layout>

<style>
    @charset "utf-8";

    /*-----------------------
mv tp-front__section
-----------------------*/
    .tp-front__section {
        background-image: url(/asset/images/homepage/mv_homepage.jpg);
    }

    /*-----------------------
他社で作ると、10～40万円かかってしまうことも… tp-case__section
-----------------------*/
    .tp-case__section .tp-table td {
        flex-wrap: wrap;
    }

    .tp-case__section .tp-table__txt__center {
        text-align: center;
        width: 100%;
    }

    /*-----------------------
6つの特徴 tp-point__section
-----------------------*/
    .tp-point__section .tp-point__list > li:nth-child(1) > .Ttl::before {
        background: url(/asset/images/common/icon_point01.png) no-repeat
            center/contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(2) > .Ttl::before {
        background: url(/asset/images/common/icon_point07.png) no-repeat
            center/contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(3) > .Ttl::before {
        background: url(/asset/images/common/icon_point15.png) no-repeat
            center/contain;
    }

    @media screen and (min-width: 768px) {
        .tp-point__section .tp-point__list > li > .Ttl:before {
            width: 50px;
            margin-right: 10px;
        }

        .tp-point__section .tp-point__list .Ttl__txt {
            width: calc(100% - 60px);
        }
    }

    /*-----------------------
お好みで選べる4プラン tp-plan__section
-----------------------*/
    .tp-plan__section .tp-table__plan tr:first-child > *:nth-child(4) {
        background-color: #bc3a00;
    }

    .tp-plan__section .tp-table__plan td:nth-child(4) .Tag {
        background-color: #f79b77;
    }

    .tp-plan__section .tp-table__plan tbody tr:last-child td {
        padding-bottom: calc(2.5% + 30px + 2.5%);
        position: relative;
    }

    .tp-plan__section .tp-table__plan tbody tr:last-child .Btn {
        width: 150px;
        position: absolute;
        left: 50%;
        bottom: 20px;
        transform: translateX(-50%);
    }

    .tp-plan__section .tp-table__plan__tbodyBottom {
        border-top: none;
    }

    .tp-plan__section .tp-table__plan__tbodyBottom tr:first-child > th {
        background-color: var(--TABLE_BLUE);
        color: var(--MAIN_WHITE);
    }

    .tp-plan__section .tp-table__plan__tbodyBottom tr:first-child > th .Local {
        text-align: center;
    }

    .tp-plan__section
        .tp-table__plan__tbodyBottom
        td
        .Local:not(:last-of-type) {
        margin-bottom: 1.7em;
    }

    .tp-plan__section
        tbody.tp-table__plan__tbodyBottom
        tr:last-child
        .Btn__wrap {
        display: flex;
        justify-content: center;
        gap: 30px;
        position: absolute;
        left: 50%;
        bottom: 20px;
        transform: translateX(-50%);
        z-index: 11;
    }

    .tp-plan__section tbody.tp-table__plan__tbodyBottom tr:last-child .Btn {
        position: static;
        transform: none;
    }

    @media screen and (min-width: 768px) {
        .tp-plan__section
            .tp-table__plan
            .tp-table__plan__tbodyBottom
            tr:last-child
            td {
            padding-bottom: calc(2.5% + 35px + 2.5%);
        }
    }

    @media screen and (max-width: 767px) {
        .tp-plan__section .tp-table__plan tbody tr:last-child {
            width: unset;
        }

        .tp-plan__section
            .tp-table__plan
            tbody:not(.tp-table__plan__tbodyBottom)
            tr:last-child
            td {
            width: 150px;
            padding: 25px 220px 25px 25px;
            box-sizing: content-box;
        }

        .tp-plan__section
            .tp-table__plan
            tbody:not(.tp-table__plan__tbodyBottom)
            tr:last-child
            .Btn {
            bottom: 50%;
            left: unset;
            right: 35px;
            transform: translateY(50%);
        }

        .tp-plan__section .tp-table__plan > .tp-table__plan__tbodyBottom tr {
            height: unset;
        }

        .tp-plan__section
            .tp-table__plan
            > .tp-table__plan__tbodyBottom
            tr
            > * {
            border-top: none;
            min-height: calc(650px / 4);
        }

        .tp-plan__section
            .tp-table__plan__tbodyBottom
            tr:first-child
            > th
            .Local {
            text-align: left;
        }

        .tp-plan__section
            .tp-table__plan
            > .tp-table__plan__tbodyBottom
            tr:last-child {
            width: calc(100% - 200px);
        }

        .tp-plan__section
            .tp-table__plan
            .tp-table__plan__tbodyBottom
            tr:last-child
            td {
            display: flex;
            align-items: center;
            gap: 45px;
            padding: 25px;
        }

        .tp-plan__section .tp-table__plan__tbodyBottom td .Local {
            font-size: 14px;
            text-align: left;
        }

        .tp-plan__section
            .tp-table__plan__tbodyBottom
            td
            .Local:not(:last-of-type) {
            margin-bottom: 0;
        }

        .tp-plan__section
            tbody.tp-table__plan__tbodyBottom
            tr:last-child
            .Btn__wrap {
            gap: 30px;
            position: static;
            transform: none;
        }
    }

    /*-----------------------
tp-option__section
-----------------------*/
    .tp-option__section {
        margin-top: 80px;
    }

    @media screen and (max-width: 767px) {
        .tp-option__section {
            margin-top: 40px;
        }
    }

    /*-----------------------
制作実績または事例 tp-case__section
-----------------------*/
    .tp-case__section .tp-case__list .Thumb {
        border: 1px solid #a5a5a5;
    }

    .tp-case__section .tp-case__list .Thumb img {
        height: unset;
        aspect-ratio: 232 / 148;
        object-fit: cover;
        object-position: top;
    }

    .tp-case__section .tp-case__listTags > li.__mitsumori {
        --border: var(--TABLE_BLUE);
        --bg: var(--TABLE_BLUE);
        --color: var(--MAIN_WHITE);
    }

    /*-----------------------
都度払い詳細表
-----------------------*/

    .detail-teigaku {
        margin-bottom: 20px;
    }

    .detail-teigaku .txt-sm {
        font-size: 12px;
        font-weight: normal;
        margin-left: 6px;
        display: inline-block;
    }

    .payment-detail-wrap table {
        border-collapse: collapse;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        table-layout: fixed;
    }

    .payment-detail-wrap table tr {
        background-color: #fff;
        padding: 0;
        border-left: 1px solid #a4a4a4;
        border-right: 1px solid #a4a4a4;
    }

    .payment-detail-wrap table tr:last-child {
        border-bottom: 1px solid #a4a4a4;
    }

    .payment-detail-wrap table th {
        padding: 1px 15px;
        border-right: 1px solid #a4a4a4;
        font-size: 14px;
    }

    .payment-detail-wrap table td {
        padding: 4px 10px;
        border-right: 1px solid #a4a4a4;
        text-align: center;
        font-size: 14px;
    }

    .detail-teigaku table td {
        padding: 0px 10px;
        border-right: 1px solid #a4a4a4;
        text-align: center;
        font-size: 14px;
    }

    .payment-detail-wrap table thead tr {
        background-color: #e07d00;
        color: #fff;
    }

    .payment-detail-wrap table thead th {
        padding: 0;
        width: 50px;
    }

    .payment-detail-wrap table thead th.col {
        font-size: 16px;
    }

    .payment-detail-wrap table thead th:first-child {
        width: 270px;
        text-align: left;
        padding: 10px 15px;
        font-size: 16px;
    }

    .detail-teigaku table thead th:first-child {
        width: 124px;
    }

    .payment-detail-wrap table thead th:last-child {
        width: 170px;
    }

    .payment-detail-wrap table tbody th {
        border-right: 1px solid #a4a4a4;
        text-align: left;
    }

    .payment-detail-wrap table tbody tr:nth-child(odd) {
        background-color: #f2f2f2;
    }

    .payment-detail-wrap table tfoot tr:last-child {
        border: 0;
        padding: 10px 10px 4px;
    }

    .payment-detail-wrap table tfoot td {
        border: 0;
        text-align: left;
        font-size: 11px;
        padding: 10px 10px 0;
    }

    th.non {
        border-right: none;
    }

    td.rowspan-td {
        background-color: #fff;
        line-height: 1.2;
        border-bottom: 1px solid #a4a4a4;
    }

    .txt {
        text-align: left;
        font-size: 0.85em;
    }

    .price {
        color: #bd0000;
        font-weight: bold;
        background-color: #fff;
    }

    .price-lg {
        font-size: 26px;
        font-weight: bold;
    }

    .txt-taxin {
        display: block;
        width: 90px;
        margin: 0 0 0 auto;
    }

    .red_bk {
        background: #e81010;
    }

    .red-txt {
        color: #e81010;
    }

    .btn {
        background: #e81010;
        border: 2px solid #e81010;
        color: #fff;
        padding: 1em;
        border-radius: 20px;
        display: block;
        text-decoration: none;
        font-size: 0.8em;
    }

    .btn:hover {
        background: #fff;
        border: 2px solid #e81010;
        color: #e81010;
        transition: 0.2s;
    }

    .payment-detail-wrap table .btnarea td {
        padding: 0.2em 0.5em;
        border-right: none;
    }

    @media screen and (max-width: 600px) {
        .table-detail-wrapper {
            overflow-x: scroll;
            padding-bottom: 20px;
        }

        .table-detail-wrapper::-webkit-scrollbar {
            background: #ffd89c;
            border-radius: 25px;
            height: 10px;
        }

        .table-detail-wrapper::-webkit-scrollbar-thumb {
            background-color: #ffa600;
            border-radius: 25px;
        }

        .table-detail-wrapper::-webkit-scrollbar-thumb:hover {
            background-color: red;
        }

        .payment-detail-wrap {
            width: 750px;
        }

        .payment-detail-wrap table {
            width: 750px;
        }

        .txt-taxin {
            width: 73px;
        }

        .payment-detail-wrap table th {
            padding: 1px 5px;
            border-right: 1px solid #a4a4a4;
            font-size: 14px;
        }

        .payment-detail-wrap table thead th:first-child {
            width: 204px;
        }

        .payment-detail-wrap table tfoot td:first-child {
            display: none;
        }
    }
</style>
