---
import Layout from "../../../layouts/Layout.astro";
import ContactArea from "../../../components/common/ContactArea.astro";
import structuredDataMarkup from "../../../data/data.json";
const markup = JSON.stringify(structuredDataMarkup.internetline);
---

<Layout
    title="飲食店の開業前準備に必須！インターネット回線 | テンポス"
    description="飲食店開業に必要なインターネット回線の導入をサポート！テンポスでお申込みをするとお得なキャンペーン付き。"
    pageUrl="/telecom/internetline/"
    ogimage="/asset/images/internetline/ogp_internetline.jpg"
    markup={markup}
>
    <article id="mainarea">
        <div class="tp-border sans">
            <nav class="tp-nav">
                <ol class="tp-nav__list flex">
                    <li><a href="/">トップページ</a></li>
                    <li><a href="/telecom/">店舗インフラ</a></li>
                    <li>店舗インターネット回線</li>
                </ol>
            </nav>
            <section class="tp-front__section">
                <h1 class="tp-front__ttl font_m_plus">
                    <span>店舗インターネット回線</span>
                </h1>
                <p class="tp-front__caption">
                    飲食店の開業前準備に必須！<br />
                    インターネット回線
                </p>
                <p class="tp-front__contact">
                    <a class="click_link_mail" href="/contact/?checked=7"
                        >お問い合わせはこちら</a
                    >
                </p>
            </section>
            <section class="tp-worries__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __border">
                    <span></span>こんなお悩みありませんか？<span></span>
                </h2>
                <ul class="tp-check__list tp-wrapper__l">
                    <li>
                        回線にかかる<span class="tp-bglg">料金を抑えたい。</span
                        >
                    </li>
                    <li>
                        <span class="tp-bglg">安く回線を引きたい</span
                        >けどどこにすればいいか分からない。
                    </li>
                    <li><span class="tp-bglg">申込や開設業務</span>が面倒。</li>
                </ul>
            </section>
            <section class="tp-design__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    テンポスではお得に導入できる<br class="pc" />
                    インターネット回線をご紹介！
                </h2>
                <div class="tp-design__contents flex">
                    <div class="tp-local__wrap">
                        <p class="tp-local">
                            インターネット回線は月額利用料以外に初期工事費用が発生します。<br
                            />
                            物件によって変わりますが、だいたい2万円くらいかかります。
                        </p>
                        <p class="tp-local">
                            テンポスが紹介する回線は工事費が実質無料！<br />
                            導入時の費用負担を抑えることができます。
                        </p>
                    </div>
                    <p class="tp-design__thumb">
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/internetline/2x/img_internetline_design@2x.png"
                            />
                            <img
                                src="/asset/images/internetline/img_internetline_design.png"
                                srcset="/asset/images/internetline/img_internetline_design.png 1x,/asset/images/internetline/2x/img_internetline_design@2x.png 2x"
                                alt=""
                                width="240"
                                height="274"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </p>
                </div>
            </section>

            <section class="tp-want__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center">回線を導入するメリット</h2>
                <ul class="tp-check__list tp-wrapper__l tp-mgb__s">
                    <li>
                        POSレジやBGM・防犯カメラ・カラオケを導入するにはインターネット回線が必要です。<br
                        />今やどこの店舗でもFREEWi-Fiが使える時代！<br
                        />ひかり回線を導入することで、<span class="tp-bglg"
                            >電話・インターネット・Wi-fiを合わせて導入することが可能</span
                        >！
                    </li>
                    <li>
                        お客様の<span class="tp-bglg">ご要望に合ったプラン</span
                        >をご提案いたします。
                    </li>
                    <li>
                        <span class="tp-bglg">平均１カ月前後で使用可能</span
                        >！<br
                        />安定したネット環境をご利用いただくために、是非ひかり回線の導入をご検討ください！<br
                        />※開通までの日数はご利用場所によって変わりますので、早めのお申し込みをオススメします。
                    </li>
                </ul>
                <p class="tp-want__thumb">
                    <picture>
                        <source
                            media="(max-width:767px)"
                            srcset="/asset/images/internetline/2x/img_internetline_want@2x.png"
                        />
                        <img
                            src="/asset/images/internetline/img_internetline_want.png"
                            srcset="/asset/images/internetline/img_internetline_want.png 1x,/asset/images/internetline/2x/img_internetline_want@2x.png 2x"
                            alt=""
                            width="463"
                            height="319"
                            loading="lazy"
                            class="imgauto"
                        />
                    </picture>
                </p>
            </section>

            <section class="tp-attention__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">料&emsp;金</span>
                </h2>
                <div class="tp-attention__cont__01">
                    <h3 class="tp-attention__price">
                        <span class="First">
                            初期<br />工事費
                        </span>
                        <span class="price_bk"
                            >20,000<span class="Yen">円</span><span
                                class="price_type">/ファミリータイプ</span
                            ></span
                        >
                        <span class="price_bk"
                            >20,000<span class="Yen">円</span><span
                                class="price_type">/マンションタイプ</span
                            ></span
                        >
                    </h3>
                    <p class="tp-attention__caption">※分割払いも可能</p>
                </div>
                <div class="tp-attention__cont__02">
                    <h3 class="tp-attention__price">
                        <span class="First">
                            月額<br />料金
                        </span>
                        <span class="price_bk">
                            <span class="price_type">ファミリータイプ</span>
                            <span class="price"
                                >4,180<span class="Yen">円〜</span></span
                            >
                        </span>
                        <span class="price_bk">
                            <span class="price_type">マンションタイプ</span>
                            <span class="price"
                                >3,180<span class="Yen">円〜</span></span
                            >
                        </span>
                    </h3>
                </div>
                <div class="tp-attention__cont__03">
                    <h3 class="tp-attention__price">
                        <span class="First">
                            ひかり<br />電話
                        </span>
                        500
                        <span class="Yen">円〜</span>
                    </h3>
                    <p class="tp-attention__caption">※追加オプションあり</p>
                    <p class="tp-attention__caption">
                        ※プロバイダー料金（別途）
                    </p>
                </div>
                <p class="tp-attention__txt">
                    光回線・インターネットプロバイダ・Wi-Fiルーター・ひかり電話<br
                    />お客様の用途に合うものを最安料金でご提案させていただきます。
                </p>
            </section>

            <section class="tp-frow__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">ご利用までの流れ</span>
                </h2>
                <div class="tp-flow__list">
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">お問い合わせ</h3>
                            <div class="Local">
                                <p>
                                    ご相談は無料です。<br
                                    />すでに他社でお見積りを取っている場合でも案内可能です。まずはお気軽にお問い合わせください。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">提携先からのご連絡</h3>
                            <div class="Local">
                                <p>
                                    サービスの内容をご案内し、お客様に合ったプランをご提案します。<br
                                    />検討する際のお見積り作成も対応可能です。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">お申込み</h3>
                            <div class="Local">
                                <p>
                                    最終的な申込内容・お客様情報を確認し、お客様と書面の読み合わせを行った後申し込みを致します。<br
                                    />申し込み完了後に工事日・電話番号候補をご案内致します。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">開通工事</h3>
                            <div class="Local">
                                <p>
                                    お申込みから平均１カ月前後の日程で工事日が取得できます。<br
                                    />※必要に応じて事前に現地の調査をおこないます。<br
                                    />※工事当日はお立合いが必要になります。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">プロバイダ設定・利用開始</h3>
                            <div class="Local">
                                <p>
                                    接続やお客様IDの設定などはご自身で行っていただき、利用開始となります。<br
                                    />わからない部分は専用お問合せ先にてサポート可能のため安心です。
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>

            <section class="tp-heed__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">注意事項</span>
                </h2>
                <div class="tp-heed__container">
                    <p class="tp-heed__txt">
                        工事日の設定は状況により変動致します。
                    </p>
                    <p class="tp-heed__txt">
                        ルーターの購入（レンタル）が必要になります。
                    </p>
                </div>
            </section>

            <section class="tp-faq__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">よくある質問</span>
                </h2>
                <div class="g-acodion">
                    <dl>
                        <dt>月々どれくらいかかるの？</dt>
                        <dd>
                            お客様の店舗所在場所がマンションタイプかファミリータイプかによって変わります。<br
                            />
                            基本的には、ひかり回線月額＋プロバイダ料金＋オプション（ひかり電話等）＋工事費（分割払いの場合）となります。<br
                            />
                            詳しくはお問い合わせください。
                        </dd>
                    </dl>
                    <dl>
                        <dt>工事費はどれくらいかかるの？</dt>
                        <dd>
                            20,000円（税抜）/ファミリータイプ<br />
                            20,000円（税抜） /マンションタイプ<br />
                            になります。<br />
                            ※お客様の店舗所在地により異なりますので、詳しくはお問い合わせください。
                        </dd>
                    </dl>
                    <dl>
                        <dt>どのくらいで使えるようになるの？</dt>
                        <dd>
                            お申込みから平均１カ月前後です。<br />
                            回線工事の手配状況によっては遅れる可能性もあるため、早めのお申込みがオススメです。
                        </dd>
                    </dl>
                </div>
            </section>

            <ContactArea />

            <section class="tp-others__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">その他関連サービス</span
                    >
                </h2>
                <div class="tp-others__list">
                    <article>
                        <a href="/telecom/cashless/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_cashless@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_cashless.png"
                                        srcset="/asset/images/common/img_kanren_service_cashless.png 1x,/asset/images/common/2x/img_kanren_service_cashless@2x.png 2x"
                                        alt="キャッシュレス決済"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">キャッシュレス決済</h3>
                        </a>
                    </article>
                    <article>
                        <a href="/telecom/music/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_music@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_music.png"
                                        srcset="/asset/images/common/img_kanren_service_music.png 1x,/asset/images/common/2x/img_kanren_service_music@2x.png 2x"
                                        alt="店舗BGM"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">店舗BGM</h3>
                        </a>
                    </article>
                    <article>
                        <a href="/telecom/security-camera/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_security-camera@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_security-camera.png"
                                        srcset="/asset/images/common/img_kanren_service_security-camera.png 1x,/asset/images/common/2x/img_kanren_service_security-camera@2x.png 2x"
                                        alt="防犯カメラ"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">防犯カメラ</h3>
                        </a>
                    </article>
                </div>
            </section>
        </div>
    </article>
</Layout>

<style>
    @charset "utf-8";

    /*-----------------------
mv tp-front__section
-----------------------*/
    .tp-front__section {
        background-image: url(/asset/images/internetline/mv_internetline.jpg);
    }

    /*-----------------------
tp-design__section
-----------------------*/
    .tp-design__section .tp-design__thumb {
        margin-top: -125px;
    }
    @media screen and (max-width: 1050px) {
        .tp-design__section .tp-design__thumb {
            margin-top: 0;
        }
    }
    @media screen and (max-width: 950px) {
        .tp-design__section .tp-design__thumb {
            margin-top: -125px;
        }
    }
    @media screen and (max-width: 767px) {
        .tp-design__section .tp-design__thumb {
            margin-top: 0;
            width: 60%;
        }
    }

    /*-----------------------
tp-want__section
-----------------------*/
    .tp-want__section .tp-check__list > li:not(:last-child) {
        margin-bottom: 20px;
    }
    @media screen and (min-width: 768px) {
        .tp-want__section .tp-want__thumb {
            max-width: 463px;
            width: unset;
        }
    }
    @media screen and (max-width: 767px) {
        .tp-want__section .tp-check__list {
            margin-bottom: 30px;
        }
        .tp-want__section .tp-want__thumb {
            width: 80%;
        }
    }

    /*-----------------------
料金 tp-attention__section
-----------------------*/
    .tp-attention__section [class*="attention__cont__"]:not(:last-of-type) {
        margin-bottom: 30px;
    }
    .tp-attention__section .tp-attention__price {
        margin-bottom: 0;
    }
    .tp-attention__section
        [class*="attention__cont__"]:not(.tp-attention__cont__03)
        .tp-attention__price {
        display: inline-block;
        padding-left: calc(16px * 4.8);
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        font-size: 40px;
        line-height: 1.5;
    }
    .tp-attention__section
        [class*="attention__cont__"]:not(.tp-attention__cont__03)
        .First {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    .tp-attention__section
        [class*="attention__cont__"]:not(.tp-attention__cont__03)
        .price_bk {
        display: block;
    }
    .tp-attention__section
        [class*="attention__cont__"]:not(.tp-attention__cont__03)
        .Yen {
        font-size: 0.5em;
        position: relative;
    }
    .tp-attention__section .tp-attention__price .Yen:after {
        content: "(税抜)";
        font-size: 0.43em;
        position: absolute;
        left: 0;
        bottom: calc(100% - 18%);
        white-space: nowrap;
    }
    .tp-attention__section .tp-attention__price .price_type {
        font-size: 0.5em;
    }
    .tp-attention__section .tp-attention__cont__01 .price_type {
        margin-left: 7px;
    }
    .tp-attention__section .tp-attention__cont__02 .price_type {
        margin-right: 7px;
    }
    .tp-attention__section .tp-attention__caption {
        font-size: 16px;
    }
    .tp-attention__section .tp-attention__txt {
        text-align: center;
        margin-top: 40px;
        font-size: 20px;
    }
    @media screen and (max-width: 767px) {
        .tp-attention__section
            [class*="attention__cont__"]:not(.tp-attention__cont__03)
            .tp-attention__price {
            padding-left: calc(14px * 4.8);
            font-size: 26px;
            line-height: 1;
            margin-bottom: 10px;
        }
        .tp-attention__section
            [class*="attention__cont__"]:not(.tp-attention__cont__03)
            .price_bk:not(:last-of-type) {
            margin-bottom: 15px;
        }
        .tp-attention__section .price_type,
        .tp-attention__section .price {
            display: inline-block;
        }
        .tp-attention__section .tp-attention__caption {
            font-size: 14px;
        }
        .tp-attention__section
            [class*="attention__cont__"]:not(.tp-attention__cont__03)
            .tp-attention__price
            .Yen:after {
            line-height: 1.5;
            font-size: 0.7em;
        }
        .tp-attention__section .tp-attention__txt {
            font-size: 16px;
        }
    }
</style>
