---
import Layout from "../../layouts/Layout.astro";

import structuredDataMarkup from "../../data/data.json";
const markup = JSON.stringify(structuredDataMarkup.before_opening);
---

<Layout
    title="飲食店開業に必要な準備・手順を解説！| テンポスフードプレイス"
    description="飲食店を開業するのに考えるべきポイントや準備物、手順を解説！事前に流れをおさえて、慌てずオープンまで準備しましょう。"
    pageUrl="/before_opening/"
    markup={markup}
>
    <article id="mainarea">
        <div class="tp-border sans">
            <nav class="tp-nav">
                <ol class="tp-nav__list flex">
                    <li><a href="/">トップページ</a></li>
                    <li><a href="/before_opening/">開業前の方</a></li>
                </ol>
            </nav>
            <section class="btm-front__section kaigyoumae">
                <h1 class="btm-front__ttl font_m_plus">
                    <span>開業前の方</span>
                </h1>
            </section>
            <section class="ba-outline__section ba-sec">
                <h2 class="ba-ttl">
                    飲食店の開業を<br class="sp" />目指す方へ
                </h2>
                <p class="ba-local__center--pc mb60-40 btm-wrapper">
                    これから開業するにあたって、何から始めたらいいのか、何を用意する必要があるのかと<br
                        class="pc"
                    />
                    迷っている方もいらっしゃるのではないでしょうか？<br />
                    テンポスでは、「失敗しない飲食店開業8ステップ」と支援サービスをご紹介します。
                </p>
                <div class="wide-border--sp"></div>
                <div class="ba-outline__contents">
                    <h3 class="ba-outline__contents__ttl">
                        目&emsp;次<span></span>
                    </h3>
                    <dl
                        id="js-ba-accordion"
                        class="ba-outline__contents__accordion"
                    >
                        <dt><a href="#01">どんなお店にしたいかを決める</a></dt>
                        <dt><a href="#02">事業計画の作成、資金調達</a></dt>
                        <dt><a href="#03">物件探し・内装工事</a></dt>
                        <dd>
                            <ul>
                                <li>
                                    <a href="#03-1"
                                        >クラウドキッチンやゴーストレストラン、
                                        キッチンカーで開業をお考えの場合</a
                                    >
                                </li>
                            </ul>
                        </dd>
                        <dt><a href="#04">Wi-Fi、通信機器の用意</a></dt>
                        <dt><a href="#05">厨房機器、什器や備品を揃え...</a></dt>
                        <dt><a href="#06">資格・許認可</a></dt>
                        <dt><a href="#07">スタッフ採用</a></dt>
                        <dt><a href="#08">集客・販促</a></dt>
                        <dd>
                            <ul class="grid-2col--pc">
                                <li>
                                    <a href="#08-1"
                                        >Googleビジネスプロフィール</a
                                    >
                                </li>
                                <li><a href="#08-2">SNSアカウントの開設</a></li>
                                <li><a href="#08-3">ホームページの開設</a></li>
                                <li>
                                    <a href="#08-4"
                                        >グルメ・クーポンサイトへの掲載</a
                                    >
                                </li>
                                <li><a href="#08-5">メディアへの掲載</a></li>
                                <li>
                                    <a href="#08-6">その他で効果的な集客方法</a>
                                </li>
                            </ul>
                        </dd>
                        <dt><a href="#09">その他</a></dt>
                    </dl>
                </div>
                <div class="wide-border--sp"></div>
            </section>
            <section class="ba-counter__section btm-wrapper ba-sec">
                <ul class="ba-counter__contents">
                    <li>
                        <h2 id="01" class="ba-counter__ttl">
                            <span>
                                <span>どんなお店にしたいかを</span><span
                                    >決める</span
                                >
                            </span>
                        </h2>
                        <div class="ba-counter__local">
                            <p>
                                「どんな飲食店にするか」を考えて、お客様から見たら「そのお店がどんな価値を提供してくれるのか」まで考えた上で飲食店開業のスケジュールを作っていきましょう。この軸からぶれてしまうと、開店前や後に迷走して、ちぐはぐなお店になってしまいます。
                            </p>
                            <p>
                                決め方は、「Why（なぜ）」「When（いつ）」「Where（どこで）」「Who（誰が）」「Whom（誰に）」「What（何を）」「Which（何で）」の7Wと「How（どのように）」「How
                                much（いくらで）」の2Hから成る「7W2H」の観点から考えていくと良いでしょう。ぶれない、確固としたお店のイメージを作り上げることが大切です。
                            </p>
                            <p>
                                出店を考えてはいるけど、他にどのようなことを考える必要があるのか分からないという場合は、飲食専門コンサルタントのご紹介も行っております。
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="ba-counter__local">
                            <p>
                                また、出店方法やメニュー開発について詳しく学びたいという方へ飲食店専門学校のご紹介も行っております。<br
                                />
                                クリエイティブスキルからセルフブランディング、コミュニティスキルに至るまで、自身の飲食店オープンを実現するために必要となる技術をしっかり学ぶことができます。<br
                                />
                                飲食ビジネス開業に向けた講習が受けられる「飲食店開業コース」をはじめ、複数のコースから受講できますので、まずはお気軽にご相談ください。
                            </p>
                        </div>
                        <!-- <h3 class="ba-counter__contents__ttl">
							<span class="tp-ttl__balloon__span__small">関連サービス</span>
						</h3>
						<ul class="ba-counter__contents__list  purchase-thumb02">
							<li>
								<a href="https://support.tenpos.com/service-open/restaurant_school/">
									<p class="ba-counter__contents__list__thumb">
										<picture>
											<source media="(max-width:767px)" srcset="/asset/images/kaigyoumae/sp/img_before02.jpg">
											<img src="/asset/images/kaigyoumae/img_before02.jpg" srcset="/asset/images/kaigyoumae/img_before02.jpg 1x,/asset/images/kaigyoumae/2x/img_before02.jpg 2x" alt="飲食店専門学校" width="111" height="111" loading="lazy" class="imgauto">
										</picture>
									</p>
									<div class="ba-counter__contents__list__container">
										<h4 class="ba-counter__contents__list__ttl">
											飲食店専門学校
										</h4>
										<p class="btm-link">
											詳しく見る
										</p>
									</div>
								</a>
							</li>
						</ul> -->
                    </li>
                </ul>
            </section>
            <section class="ba-counter__section btm-wrapper ba-sec">
                <ul class="ba-counter__contents">
                    <li>
                        <h2 id="02" class="ba-counter__ttl">
                            <span
                                ><span>事業計画の作成、</span><br
                                    class="sp"
                                /><span>資金調達</span></span
                            >
                        </h2>
                        <div class="ba-counter__local">
                            <p>
                                どんなお店を作りたいかを決めた後は、開業手続きや届け出をするためには事業計画書を作る必要があります。<br
                                />
                                金融機関からの融資を受けるために提出する重要な書類になりますので、自己資金だけで開業する場合も必ず作成しましょう。
                            </p>
                            <p>
                                事業計画はお店のコンセプト以外にも、商圏調査やかかる費用、資金状況、開業後の売上見込みに加え、資金調達も考える必要があります。
                            </p>
                            <p>
                                多くの業態では、開業だけでも1000万円ほど必要になります。<br
                                />
                                また、一般的に、開業してから軌道に乗り始めるまでには半年以上かかると言われています。<br
                                />
                                日本政策金融公庫によると、約6割の企業が、飲食店を開業してから事業が軌道に乗るまで6ヶ月かかるようです。そのため、最低6ヶ月分は運転資金を予測して準備しておく必要があります。
                            </p>
                            <p>
                                開業資金はできるだけ抑えて、運転資金を多く残すことが重要です。運転資金があれば、店を残し打開策を打つことができます。
                            </p>
                            <p>
                                出店予定のお店がどれくらいの資金になるのか、LINEで無料診断をすることができます。<br
                                />
                                居抜きやスケルトン等の物件の条件、さらに厨房機器を中古で揃えるのか、新品で揃えるのかで大きく費用が異なりますので、一度試してみてはいかがでしょうか？
                            </p>
                        </div>
                        <h3 class="ba-counter__contents__ttl">
                            <span class="tp-ttl__balloon__span__small"
                                >関連サービス</span
                            >
                        </h3>
                        <div class="kg-link">
                            <a href="/lp/lp_line-diagnosis/">
                                <p class="kg-link__thumb">
                                    <picture>
                                        <source
                                            media="(max-width:767px)"
                                            srcset="/asset/images/kaigyousoudan/sp/banner_line.jpg"
                                        />
                                        <img
                                            src="/asset/images/kaigyousoudan/banner_line.jpg"
                                            srcset="/asset/images/kaigyousoudan/banner_line.jpg 1x,/asset/images/kaigyousoudan/2x/banner_line.jpg 2x"
                                            alt=""
                                            width="300"
                                            height="132"
                                            loading="lazy"
                                            class="imgauto"
                                        />
                                    </picture>
                                </p>
                                <h3 class="kg-link__caption sp-center">
                                    開業費用相談
                                </h3>
                                <p class="btm-link">詳しく見る</p>
                            </a>
                        </div>
                    </li>
                </ul>
            </section>
            <section class="ba-counter__section btm-wrapper ba-sec">
                <ul class="ba-counter__contents">
                    <li>
                        <h2 id="03" class="ba-counter__ttl">
                            <span><span>物件探し・内装工事</span></span>
                        </h2>
                        <div class="ba-counter__local">
                            <p>
                                お店のコンセプトや事業計画書と実物件の乖離を防ぐためには、事前の商圏調査が必要です。<br
                                />
                                お店に来店するお客様がどのような人で、その人の1日のなかで自分のお店をどのように利用してもらうかを考えると、自然とどこに出店すべきか導き出すことができます。<br
                                />
                                月商の目標は家賃の7〜10倍程度が適正ですので、事業計画で設定した<span
                                    >目標月商の1/10以内の物件</span
                                >を選ぶようにしましょう。<br />
                                飲食店の物件には、「居抜き物件」と「スケルトン物件」の2種類があります。
                            </p>
                            <p>
                                居抜き物件とは、前のお店の設備や内装が残っている物件のことです。<br
                                />
                                スケルトン物件よりも市場に多く出回っており、改築費・設備費の大幅コストダウンができる場合が多いです。<br
                                />
                                開業コストがあまりかけられない場合は、居抜き物件から探していきましょう。
                            </p>
                            <p>
                                ただし、注意点があります。<br />
                                残されている設備の状態が悪い場合や、既にレイアウトが決まっているため希望通りにレイアウトできない可能性が高いです。<br
                                />
                                さらに、造作譲渡費用が高い場合もあります。造作譲渡費用とは、居抜き物件の店舗にある内装や設備などを、新しい借主が買い取る際の費用です。
                            </p>
                            <p>
                                もうひとつのスケルトン物件とは、原状回復工事済みで前店舗の設備や内装がすべて撤去されている物件のことです。<br
                                />
                                建物の躯体がむき出しで、コンクリートの打ちっぱなしの状態となっています。
                            </p>
                            <p>
                                厨房・内装レイアウトは自由度は高いですが、初期費用が高くなり工事にも時間がかかります。
                            </p>
                            <p>
                                居抜きとスケルトンのメリット・デメリットを比べて検討しましょう。
                            </p>
                            <p>
                                飲食店の物件探しでこのエリアで良い物件情報はないか、などのご相談も承りますので、テンポスに一度ご相談ください。
                            </p>
                        </div>
                        <h3 class="ba-counter__contents__ttl">
                            <span class="tp-ttl__balloon__span__small"
                                >関連サービス</span
                            >
                        </h3>
                        <ul class="ba-counter__contents__list purchase-thumb02">
                            <li>
                                <a href="/service/bukken/">
                                    <p
                                        class="ba-counter__contents__list__thumb"
                                    >
                                        <picture>
                                            <source
                                                media="(max-width:767px)"
                                                srcset="/asset/images/kaigyoumae/sp/img_before03.jpg"
                                            />
                                            <img
                                                src="/asset/images/kaigyoumae/img_before03.jpg"
                                                srcset="/asset/images/kaigyoumae/img_before03.jpg 1x,/asset/images/kaigyoumae/2x/img_before03.jpg 2x"
                                                alt="飲食店物件紹介"
                                                width="111"
                                                height="111"
                                                loading="lazy"
                                                class="imgauto"
                                            />
                                        </picture>
                                    </p>
                                    <div
                                        class="ba-counter__contents__list__container"
                                    >
                                        <h4
                                            class="ba-counter__contents__list__ttl"
                                        >
                                            飲食店物件紹介
                                        </h4>
                                        <p class="btm-link">詳しく見る</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="ba-counter__local">
                            <p>内装工事もあわせて考えていきましょう。</p>
                            <p>
                                内装工事会社には、デザインを行う「デザイン・設計会社」、施工（工事）のみを行う「施工会社」、デザインと施工両方を行う「設計・施工会社」と、3つのタイプがあります。<br
                                />
                                それぞれ費用と工事期間にメリット・デメリットがありますので、よく検討していきましょう。
                            </p>
                            <p>
                                工事費用については、15坪程度のスケルトン物件の場合で、おおよそ1坪当たり30～50万円が相場とされています。居抜き物件であれば、電気やガスなどの設備工事は不要ですから、大幅に費用を削減できます。
                            </p>
                            <p>
                                小規模店舗の場合は、手作りで内装工事をするという方もいらっしゃるかと思います。しかし、電気や水道などインフラ周辺は経験がないと後々トラブルになってしまう恐れがあります。<br
                                />
                                テンポスでは元大工さんなど専門家をご紹介していますので、自分では難しいという箇所の施工はお任せください。
                            </p>
                            <p>
                                物件の種別や条件によって変わりますので、物件探しとセットで内装工事もぜひご相談ください。
                            </p>
                        </div>
                        <h3 class="ba-counter__contents__ttl">
                            <span class="tp-ttl__balloon__span__small"
                                >関連サービス</span
                            >
                        </h3>
                        <ul class="ba-counter__contents__list purchase-thumb02">
                            <li>
                                <a href="/service/interior/">
                                    <p
                                        class="ba-counter__contents__list__thumb"
                                    >
                                        <picture>
                                            <source
                                                media="(max-width:767px)"
                                                srcset="/asset/images/kaigyoumae/sp/img_before04.jpg"
                                            />
                                            <img
                                                src="/asset/images/kaigyoumae/img_before04.jpg"
                                                srcset="/asset/images/kaigyoumae/img_before04.jpg 1x,/asset/images/kaigyoumae/2x/img_before04.jpg 2x"
                                                alt="飲食店内装工事"
                                                width="111"
                                                height="111"
                                                loading="lazy"
                                                class="imgauto"
                                            />
                                        </picture>
                                    </p>
                                    <div
                                        class="ba-counter__contents__list__container"
                                    >
                                        <h4
                                            class="ba-counter__contents__list__ttl"
                                        >
                                            飲食店内装工事
                                        </h4>
                                        <p class="btm-link">詳しく見る</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
            <section class="ba-counter__section btm-wrapper ba-sec">
                <ul class="ba-counter__contents">
                    <li>
                        <h2 id="04" class="ba-counter__ttl">
                            <span><span>Wi-Fi、通信機器の用意</span></span>
                        </h2>
                        <div class="ba-counter__local">
                            <p>
                                飲食店に欠かせない回線(インターネット・電話・Wi-Fi)工事やPOSレジ導入も検討していきましょう。
                            </p>
                            <p>
                                POSレジやBGM導入時にはインターネット回線が必要になります。<br
                                />
                                工事にあわせて準備をしていきましょう。<br />
                                固定電話を用意する場合は、インターネットとセットで光電話の契約がおすすめです。<br
                                />
                                また、電話回線工事不要でお店の固定番号を発番できるサービスもあります。どちらもテンポスでご紹介可能ですのでぜひご相談ください。
                            </p>
                            <p>
                                繁華街やビジネス街での出店をご検討の場合は、Wi-Fiの導入も必要です。<br
                                />
                                海外旅行客（インバウンド）にとっては、Wi-Fiを使用できるということはお店選びのポイントになります。
                            </p>
                        </div>
                        <h3 class="ba-counter__contents__ttl">
                            <span class="tp-ttl__balloon__span__small"
                                >関連サービス</span
                            >
                        </h3>
                        <ul class="ba-counter__contents__list purchase-thumb02">
                            <li>
                                <a href="/telecom/internetline/">
                                    <p
                                        class="ba-counter__contents__list__thumb"
                                    >
                                        <picture>
                                            <source
                                                media="(max-width:767px)"
                                                srcset="/asset/images/kaigyoumae/sp/img_before08.jpg"
                                            />
                                            <img
                                                src="/asset/images/kaigyoumae/img_before08.jpg"
                                                alt="店舗インターネット回線"
                                                width="111"
                                                height="111"
                                                loading="lazy"
                                                class="imgauto"
                                            />
                                        </picture>
                                    </p>
                                    <div
                                        class="ba-counter__contents__list__container"
                                    >
                                        <h4
                                            class="ba-counter__contents__list__ttl"
                                        >
                                            インターネット回線
                                        </h4>
                                        <p class="btm-link">詳しく見る</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/telecom/ip-telephone/">
                                    <p
                                        class="ba-counter__contents__list__thumb"
                                    >
                                        <picture>
                                            <source
                                                media="(max-width:767px)"
                                                srcset="/asset/images/kaigyoumae/sp/img_before09.jpg"
                                            />
                                            <img
                                                src="/asset/images/kaigyoumae/img_before09.jpg"
                                                srcset="/asset/images/kaigyoumae/img_before09.jpg 1x,/asset/images/kaigyoumae/2x/img_before09.jpg 2x"
                                                alt="店舗向けIP電話"
                                                width="111"
                                                height="111"
                                                loading="lazy"
                                                class="imgauto"
                                            />
                                        </picture>
                                    </p>
                                    <div
                                        class="ba-counter__contents__list__container"
                                    >
                                        <h4
                                            class="ba-counter__contents__list__ttl"
                                        >
                                            IP電話
                                        </h4>
                                        <p class="btm-link">詳しく見る</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="ba-counter__local">
                            <p>
                                そのほか、通信カラオケや店舗BGＭの手続きのご紹介も可能ですので、内装工事と合わせてご相談ください。
                            </p>
                        </div>
                        <h3 class="ba-counter__contents__ttl">
                            <span class="tp-ttl__balloon__span__small"
                                >関連サービス</span
                            >
                        </h3>
                        <ul class="ba-counter__contents__list purchase-thumb02">
                            <li>
                                <a href="/telecom/karaoke/">
                                    <p
                                        class="ba-counter__contents__list__thumb"
                                    >
                                        <picture>
                                            <source
                                                media="(max-width:767px)"
                                                srcset="/asset/images/kaigyoumae/sp/img_before10.jpg"
                                            />
                                            <img
                                                src="/asset/images/kaigyoumae/img_before10.jpg"
                                                srcset="/asset/images/kaigyoumae/img_before10.jpg 1x,/asset/images/kaigyoumae/2x/img_before10.jpg 2x"
                                                alt="通信カラオケ"
                                                width="111"
                                                height="111"
                                                loading="lazy"
                                                class="imgauto"
                                            />
                                        </picture>
                                    </p>
                                    <div
                                        class="ba-counter__contents__list__container"
                                    >
                                        <h4
                                            class="ba-counter__contents__list__ttl"
                                        >
                                            カラオケ
                                        </h4>
                                        <p class="btm-link">詳しく見る</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/telecom/music/">
                                    <p
                                        class="ba-counter__contents__list__thumb"
                                    >
                                        <picture>
                                            <source
                                                media="(max-width:767px)"
                                                srcset="/asset/images/kaigyoumae/sp/img_before11.jpg"
                                            />
                                            <img
                                                src="/asset/images/kaigyoumae/img_before11.jpg"
                                                srcset="/asset/images/kaigyoumae/img_before11.jpg 1x,/asset/images/kaigyoumae/2x/img_before11.jpg 2x"
                                                alt="店舗BGM"
                                                width="111"
                                                height="111"
                                                loading="lazy"
                                                class="imgauto"
                                            />
                                        </picture>
                                    </p>
                                    <div
                                        class="ba-counter__contents__list__container"
                                    >
                                        <h4
                                            class="ba-counter__contents__list__ttl"
                                        >
                                            店舗BGM
                                        </h4>
                                        <p class="btm-link">詳しく見る</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
            <section class="ba-counter__section btm-wrapper ba-sec">
                <ul class="ba-counter__contents">
                    <li>
                        <h2 id="05" class="ba-counter__ttl">
                            <span
                                ><span>厨房機器、什器や</span><br
                                    class="sp"
                                /><span>備品を揃える</span></span
                            >
                        </h2>
                        <div class="ba-counter__local">
                            <p>
                                厨房機器や家具を揃える際は、レイアウトをしっかり考えましょう。<br
                                />
                                お客様が何人座れるかを考えるのはもちろん、キッチンから料理を運ぶ際の動線確保も不可欠です。作業効率が良く生産性の高いレイアウトとなるよう事前にしっかりとシミュレーションを行って決めましょう。
                            </p>
                            <p>
                                目安として、10坪スケルトンの場合の内装工事で350万円、調理機器で200万円、合計550万円ほどかかります。<br
                                />
                                場合によっては、欲しかった新品の厨房機器が安く手に入る可能性もあります。テンポスは中古厨房機器の取り扱いにおいて業界NO.1の実績がありますので、中古商品のラインナップも充実しております。ぜひご相談ください。
                            </p>
                        </div>
                    </li>
                </ul>
            </section>
            <section class="ba-counter__section btm-wrapper ba-sec">
                <ul class="ba-counter__contents">
                    <li>
                        <h2 id="06" class="ba-counter__ttl">
                            <span><span>資格・許認可</span></span>
                        </h2>
                        <div class="ba-counter__local">
                            <p>
                                飲食店を開業するためには、保健所、消防署、警察署、税務署等での手続きが必要です。資格・許可は、各自治体によって違う場合がありますので、物件探しと同時に確認しておきましょう。
                            </p>
                            <p>
                                また、飲食店の開業の必須条件となるのが、「食品衛生責任者」の資格です。
                            </p>
                            <p>
                                「食品衛生責任者」の責務は、食中毒や食品衛生法違反を起こさないような管理運営です。<br
                                />
                                各都道府県の食品衛生協会が開催している、公衆衛生学・衛生法規・食品衛生学など、6時間ほどの講習を受講することで取得できます。
                            </p>
                            <p>
                                受講料は都道府県によって異なりますが、おおむね1万円前後です。<br
                                />
                                養成講習会の受講後は、受講修了証として「食品衛生責任者手帳」が配布されます。<br
                                />
                                食品衛生責任者の資格は日本全国共通なので、どの都道府県で取得しても全国で開業できます。
                            </p>
                        </div>
                    </li>
                </ul>
            </section>
            <section class="ba-counter__section btm-wrapper ba-sec">
                <ul class="ba-counter__contents">
                    <li>
                        <h2 id="07" class="ba-counter__ttl">
                            <span><span>スタッフ採用</span></span>
                        </h2>
                        <div class="ba-counter__local">
                            <p>
                                特にオープンしたてはどれだけの売り上げが見込めるかも分かりませんし、できるだけ人件費を抑えたいところです。<br
                                />
                                ですが、ほとんどの飲食店は店長1人では手が足りません。<br
                                />
                                基本的に飲食店では、営業中誰か1人は店にいる必要があります。家族の力を借りない場合は、アルバイトの募集が必須となります。
                            </p>
                            <p>
                                アルバイトや従業員の募集を検討している場合は、オープン一ヵ月前を目途に求人を開始しましょう。
                            </p>
                            <p>
                                現在、さまざまな媒体で人材募集できますが、採用募集の文章を考えたり、複数媒体を管理したりと煩雑になってしまい、対応が遅れてしまって採用に至らないといったケースも少なくありません。
                            </p>
                            <p>
                                テンポスでは、お店ごとに最適な求人媒体を選定し、コストと時間を削減する求人広告サービスをご紹介しています。
                            </p>
                        </div>
                        <!-- <h3 class="ba-counter__contents__ttl">
							<span class="tp-ttl__balloon__span__small">関連サービス</span>
						</h3>
						<ul class="ba-counter__contents__list  purchase-thumb02">
							<li>
								<a href="/resources/job-ads/">
									<p class="ba-counter__contents__list__thumb">
										<picture>
											<source media="(max-width:767px)" srcset="/asset/images/kaigyoumae/sp/img_before12.jpg">
											<img src="/asset/images/kaigyoumae/img_before12.jpg" srcset="/asset/images/kaigyoumae/img_before12.jpg 1x,/asset/images/kaigyoumae/2x/img_before12.jpg 2x" alt="求人広告" width="111" height="111" loading="lazy" class="imgauto">
										</picture>
									</p>
									<div class="ba-counter__contents__list__container">
									<h4 class="ba-counter__contents__list__ttl">
										求人広告
									</h4>
									<p class="btm-link">
										詳しく見る
									</p>
									</div>
								</a>
							</li>
						</ul> -->
                    </li>
                    <li>
                        <div class="ba-counter__local">
                            <p>
                                また、すぐに人手は必要ないがシーズンごとに人手が必要になる、という場合は人材派遣を活用するのもおすすめです。<br
                                />
                                同じくテンポスから人材派遣のご紹介も可能ですので、ぜひご相談ください。
                            </p>
                        </div>
                        <!-- <h3 class="ba-counter__contents__ttl">
							<span class="tp-ttl__balloon__span__small">関連サービス</span>
						</h3>
						<ul class="ba-counter__contents__list  purchase-thumb02">
							<li>
								<a href="/resources/staffing/">
									<p class="ba-counter__contents__list__thumb">
										<picture>
											<source media="(max-width:767px)" srcset="/asset/images/kaigyoumae/sp/img_before13.jpg">
											<img src="/asset/images/kaigyoumae/img_before13.jpg" srcset="/asset/images/kaigyoumae/img_before13.jpg 1x,/asset/images/kaigyoumae/2x/img_before13.jpg 2x" alt="人材派遣" width="111" height="111" loading="lazy" class="imgauto">
										</picture>
									</p>
									<div class="ba-counter__contents__list__container">
									<h4 class="ba-counter__contents__list__ttl">
										人材派遣
									</h4>
									<p class="btm-link">
										詳しく見る
									</p>
									</div>
								</a>
							</li>
						</ul> -->
                    </li>
                </ul>
            </section>
            <section class="ba-counter__section btm-wrapper ba-sec">
                <ul class="ba-counter__contents">
                    <li>
                        <h2 id="08" class="ba-counter__ttl">
                            <span><span>集客・販促</span></span>
                        </h2>
                        <div class="ba-counter__local">
                            <p>
                                内外装の工事など進んできたら、集客・販促に必要なツールを準備しましょう。
                            </p>
                            <p>
                                集客・販促には大きく2種類あります。ひとつめはお店の外観や店内のPOP等のツールを用意することです。
                            </p>
                            <p>
                                まずはお店の外観や店内のPOP等のツールについて何を用意すべきか見ていきましょう。
                            </p>
                            <p>
                                まず外観では、通りがかりの人にお店の存在を知ってもらうことが第1ステップです。チラシ配り等が真っ先に上がるかと思いますが、配るにも人件費がかかりますのでそれだけで集客するのは得策ではありません。
                            </p>
                            <p>
                                代わりに、A型看板やポスターで、通りがかる人に「何を食べられるお店なのか」をアピールできます。<br
                                />
                                その他にも夜営業される場合はライトやネオンを使って周りのお店と比べて目立たせるといった手段もあります。デジタルサイネージなら、1つの画面で複数の写真を掲載できますので、活用を検討してみてください。
                            </p>
                            <p>
                                お店の中では、イチオシのメニューや粗利率の高いお酒等のポスター、卓上POPを用意することで、客単価を上げる施策をとっていきましょう。<br
                                />
                                レジ横にショップカードを用意したり、LINE登録をしたらドリンク1杯無料！というPOPをよく見かけるかと思いますが、こちらは再来店（リピーター）を増やす施策になります。<br
                                />
                                店内の宣伝の仕方もお店の売上を伸ばすにあたって非常に重要です。
                            </p>
                            <p>
                                テンポスではさまざまな販促ツールを作成しています。印刷代行も行っておりますので、まとめて必要な販促ツールをご用意いただけます。<br
                                />
                                「こんな販促ツールもあったほうが良いと思うけどどうかな？」というご質問にもお答えいたしますので、ぜひ一度お問い合わせください。
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="ba-counter__local">
                            <p>
                                また、ロゴの作成も可能です。名入れ用に自分のお店オリジナルのマークを作成したい、という場合もまとめて対応しています。
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="ba-counter__local">
                            <p>
                                ふたつめのネットやメディアでの集客です。SNSやGoogleマップを使ってお店探しをする人が増えたということはよくご存じかと思います。<br
                                />
                                外観や店内の集客対策にくらべてネット集客は後回しになりがちです。しかし、ネットに公開したからといってすぐに反応があるわけではありません。事前にコツコツとネット上にお店の情報を載せていく必要があります。
                            </p>
                            <p>
                                飲食店で用意したほうがいいインターネット集客・販促ツールは下記です。
                            </p>
                        </div>
                        <div class="ba-counter__caption">
                            <h4 id="08-1">Googleビジネスプロフィール</h4>
                            <p>
                                Googleマップにお店の情報を登録するためには、「Googleビジネスプロフィール」に店舗情報を登録する必要があります。<br
                                />
                                営業時間や電話番号、店舗までのルート情報をGoogleの検索結果やGoogleマップ上に掲載でき、高い集客効果が期待できますので必ず設定をしておきましょう。
                            </p>
                            <p>
                                ただし、設定する項目がかなり多く、管理が難しいという方もいらっしゃいます。テンポスでは初期登録に加え、運用サポートも行っておりますのでぜひご相談ください。
                            </p>
                        </div>

                        <div class="ba-counter__caption">
                            <h4 id="08-2">SNSアカウントの開設</h4>
                            <p>
                                Googleマップと同じくお店探しの定番で、Instagram、Facebook、Twitter、LINEといったSNS集客も飲食店にあった集客方法と言えます。<br
                                />
                                特にInstagramは写真がメインの媒体になるため、お店のメニューや店内の様子を撮影してアップすると、より魅力が伝わり行ってみたいと思ってもらえるきっかけになります。<br
                                />
                                特に、若者向けや見た目を重視したコンセプトのお店の場合は開設を検討したほうが良いでしょう。
                            </p>
                            <!--<p>
									情報が拡散すれば、コストをかけずに大々的に宣伝することも可能なため、お店の魅力を存分に伝えるためにもSNSはぜひ上手に活用したいところです。<br>
									テンポスではInstagram・Facebookのアカウント登録・投稿代行・運用サポートを行っています。
								</p>
								<p>
									また、フォロワー数の多いインフルエンサーを活用した集客サポートのご紹介も可能です。<br>
									SNS運用でお困りの際はぜひご検討ください。
								</p>-->
                        </div>
                        <!--<h3 class="ba-counter__contents__ttl">
								<span class="tp-ttl__balloon__span__small">関連サービス</span>
							</h3>
							<ul class="ba-counter__contents__list  purchase-thumb02">
								<li>
									<a href="/marketing/sns_update/">
										<p class="ba-counter__contents__list__thumb">
											<picture>
												<source media="(max-width:767px)" srcset="/asset/images/kaigyoumae/sp/img_before18.jpg">
												<img src="/asset/images/kaigyoumae/img_before18.jpg"
													srcset="/asset/images/kaigyoumae/img_before18.jpg 1x,/asset/images/kaigyoumae/2x/img_before18.jpg 2x"
													alt="SNS運用サポート" width="111" height="111" loading="lazy" class="imgauto">
											</picture>
										</p>
										<div class="ba-counter__contents__list__container">
											<h4 class="ba-counter__contents__list__ttl">
												SNS<br class="sp">運用サポート
											</h4>
											<p class="btm-link">
												詳しく見る
											</p>
										</div>
									</a>
								</li>
							<li>
									<a href="/marketing/officialline-support/">
										<p class="ba-counter__contents__list__thumb">
											<picture>
												<source media="(max-width:767px)" srcset="/asset/images/kaigyoumae/sp/img_before19.jpg">
												<img src="/asset/images/kaigyoumae/img_before19.jpg"
													srcset="/asset/images/kaigyoumae/img_before19.jpg 1x,/asset/images/kaigyoumae/2x/img_before19.jpg 2x"
													alt="公式LINE登録・運用代行omakase" width="111" height="111" loading="lazy" class="imgauto">
											</picture>
										</p>
										<div class="ba-counter__contents__list__container">
											<h4 class="ba-counter__contents__list__ttl">
												公式LINE<br class="sp">運用代行
											</h4>
											<p class="btm-link">
												詳しく見る
											</p>
										</div>
									</a>
								</li>
								<li>
									<a href="https://support.tenpos.com/lp/service/influencer-pr/">
										<p class="ba-counter__contents__list__thumb">
											<picture>
												<source media="(max-width:767px)" srcset="/asset/images/kaigyoumae/sp/img_before20.jpg">
												<img src="/asset/images/kaigyoumae/img_before20.jpg"
													srcset="/asset/images/kaigyoumae/img_before20.jpg 1x,/asset/images/kaigyoumae/2x/img_before20.jpg 2x"
													alt="インフルエンサー集客" width="111" height="111" loading="lazy" class="imgauto">
											</picture>
										</p>
										<div class="ba-counter__contents__list__container">
											<h4 class="ba-counter__contents__list__ttl">
												インフルエンサー集客
											</h4>
											<p class="btm-link">
												詳しく見る
											</p>
										</div>
									</a>
								</li> 
							</ul>-->
                        <div class="ba-counter__caption">
                            <h4 id="08-3">ホームページの開設</h4>
                            <p>
                                GoogleビジネスプロフィールやSNSでお店を見つけた人が、どんなこだわりでメニューを提供しているのか？もっと魅力を知りたいという場合は公式ホームページを閲覧してから来店する場合もあります。お店の魅力をアピールするためにもホームぺージを用意しましょう。
                            </p>
                            <p>
                                テンポスではホームぺージ作成も併せて対応しておりますので、ご相談ください。
                            </p>
                        </div>

                        <div class="ba-counter__caption">
                            <h4 id="08-4">グルメ・クーポンサイトへの掲載</h4>
                            <p>
                                食べログやぐるなび、ホットペッパーといった有名なグルメ・クーポンサイトへの登録も集客に効果的です。テンポスから掲載のご希望を承ることも可能です。
                            </p>
                        </div>
                        <!-- <div class="ba-counter__caption">
								<h4 id="08-5">メディアへの掲載</h4>
								<p>
									インターネット広告のシェアが拡大している、といった情報もよく見かけますが、テレビや有名雑誌の力も衰えることはありません。<br>
									飲食店は特集を組まれやすいため、お店をアピールすれば見つけてもらえる可能性も高まります。
								</p>
								<p>
									どのように見つけてもらうかというと、SNSで話題になることに加え、マスコミ各社が確認している「プレスリリース」の発信を行うとより効果的です。<br>
									記事を書いて、サイトへ掲載することで発信ができますが、記事の作成にもコツが必要です。<br>
									テンポスではプレスリリースの記事作成から配信まで代行可能ですので、こちらも合わせてご相談ください。
								</p>
							</div>


							<h3 class="ba-counter__contents__ttl">
								<span class="tp-ttl__balloon__span__small">関連サービス</span>
							</h3>
							<ul class="ba-counter__contents__list  purchase-thumb02">
								<li>
									<a href="/marketing/press-release/">
										<p class="ba-counter__contents__list__thumb">
											<picture>
												<source media="(max-width:767px)" srcset="/asset/images/kaigyoumae/sp/img_before22.jpg">
												<img src="/asset/images/kaigyoumae/img_before22.jpg"
													srcset="/asset/images/kaigyoumae/img_before22.jpg 1x,/asset/images/kaigyoumae/2x/img_before22.jpg 2x"
													alt="プレスリリース" width="111" height="111" loading="lazy" class="imgauto">
											</picture>
										</p>
										<div class="ba-counter__contents__list__container">
											<h4 class="ba-counter__contents__list__ttl">
												プレスリリース
											</h4>
											<p class="btm-link">
												詳しく見る
											</p>
										</div>
									</a>
								</li>
							</ul> -->
                    </li>
                </ul>
            </section>
            <section class="ba-counter__section btm-wrapper ba-sec">
                <ul class="ba-counter__contents">
                    <li>
                        <h2 id="09" class="ba-counter__ttl">
                            <span><span>その他</span></span>
                        </h2>
                        <div class="ba-counter__local">
                            <p>
                                店舗オープンの方法としては、2パターンあります。<br
                                />
                                1つめは、事前に広告宣伝を多めに打ち出しオープニングキャンペーン等を実施して派手にプレオープンする方法。<br
                                />
                                2つめは、最初は広告は控えめにし、ひっそりとオープンするサイレントオープンです。
                            </p>
                            <p>
                                1つめのプレオープンとは、実際にお客様をお迎えし、問題なく接客できるかを確認する試験的な営業のことです。オペレーションからメニュー作り、会計など最終トレーニングの場となります。<br
                                />
                                ここで出た問題点をオープンまでに解決することで、開業直後にバタつくことがないというメリットがあります。
                            </p>
                            <p>
                                似たもので「レセプション」があります。”招待会”を意味しており、開業の報告と感謝の意を伝えるもので、関係者のみを招待することを指します。ここでもグランドオープンの前に問題を発見できる場となります。
                            </p>
                            <p>
                                ただし、本営業では客層が違うというケースもありますので、プレオープンで出た問題点を解消できたからといって、その後一切何もないというわけではありません。
                            </p>
                            <p>
                                2つめのサイレントオープンとは、「一切宣伝せずにひっそりとお店を開店させる」という方法です。来店数をコントロールしながら実地訓練を重ねることができます。
                            </p>
                            <p>
                                ただし、ランニングコストを売上で埋めることができず、赤字幅が大きくなる可能性がありますので注意が必要です。
                            </p>
                        </div>
                    </li>
                </ul>
            </section>
            <section class="ba-grand__section btm-wrapper">
                <h2 class="ba-grand__ttl"><span>グランドオープン!!</span></h2>
                <p class="btm-order__btns">
                    <span class="btm-order__btns--yellow"
                        ><a href="/after_opening/">オープン後も読む</a></span
                    >
                </p>
            </section>
        </div>
    </article>
</Layout>
