---
import Layout from "../../../../../layouts/Layout.astro";
import structuredDataMarkup from "../../../../../data/data.json";
const markup = JSON.stringify(structuredDataMarkup.logoCreationDelivery);
---

<Layout
	title="テイクアウト・移動販売 ロゴ制作事例一覧 | テンポスフードプレイス"
	description="飲食店ロゴデザインの作成事例・実績を紹介しています。居酒屋、カフェ、焼肉、バーなど幅広いロゴを作成しております。お店のコンセプトに合わせるのはもちろん、立地や客単価に合わせてデザインのご提案も行っています。どんなイメージで作ればいいか分からない場合もお気軽にご相談ください。"
	pageUrl="/promotion/logo_creation/jirei/delivery/"
	ogimage="/asset/images/logo_creation/ogp_logo_creation.jpg"
	markup={markup}
>
	<article id="mainarea">
		<div class="tp-border sans">
			<nav class="tp-nav">
				<ol class="tp-nav__list flex">
					<li><a href="/">トップページ</a></li>
					<li><a href="/promotion/">販促デザイン</a></li>
					<li>
						<a href="/promotion/logo_creation/">ロゴ作成サービス</a>
					</li>
					<li>
						<a href="/promotion/logo_creation/jirei/"
							>制作事例一覧</a
						>
					</li>
					<li>テイクアウト・移動販売</li>
				</ol>
			</nav>
			<section class="btm-front__section logolist">
				<h1 class="btm-front__ttl font_m_plus">
					<span>ロゴ制作事例</span>
				</h1>
			</section>
			<section class="iz-case__section g-wrapper btm-sec">
				<h2 class="iz-case__ttl case__ttl__delivery">
					<span>テイクアウト・移動販売</span>
				</h2>
				<ul class="iz-case__list">
					<li>
						<p class="iz-case__list__thumb">
							<picture>
								<source
									media="(max-width:767px)"
									srcset="/asset/images/logolist_delivery/sp/img_logo_creation_jirei_delivery_01_sp.png"
								/>
								<img
									src="/asset/images/logolist_delivery/img_logo_creation_jirei_delivery_01.png"
									srcset="/asset/images/logolist_delivery/img_logo_creation_jirei_delivery_01.png 1x,/asset/images/logolist_delivery/2x/img_logo_creation_jirei_delivery_01@2x.png 2x"
									alt="神田サンドあちぇ"
									width="206"
									height="133"
									class="imgauto"
								/>
							</picture>
						</p>
						<h3 class="iz-case__list__ttl">神田サンドあちぇ</h3>
					</li>
					<li>
						<p class="iz-case__list__thumb">
							<picture>
								<source
									media="(max-width:767px)"
									srcset="/asset/images/logolist_delivery/sp/img_logo_creation_jirei_delivery_02_sp.png"
								/>
								<img
									src="/asset/images/logolist_delivery/img_logo_creation_jirei_delivery_02.png"
									srcset="/asset/images/logolist_delivery/img_logo_creation_jirei_delivery_02.png 1x,/asset/images/logolist_delivery/2x/img_logo_creation_jirei_delivery_02@2x.png 2x"
									alt="Fit Piece"
									width="206"
									height="133"
									class="imgauto"
								/>
							</picture>
						</p>
						<h3 class="iz-case__list__ttl">Fit Piece</h3>
					</li>
					<li>
						<p class="iz-case__list__thumb">
							<picture>
								<source
									media="(max-width:767px)"
									srcset="/asset/images/logolist_delivery/sp/img_logo_creation_jirei_delivery_03_sp.png"
								/>
								<img
									src="/asset/images/logolist_delivery/img_logo_creation_jirei_delivery_03.png"
									srcset="/asset/images/logolist_delivery/img_logo_creation_jirei_delivery_03.png 1x,/asset/images/logolist_delivery/2x/img_logo_creation_jirei_delivery_03@2x.png 2x"
									alt="キッチン工房から寿"
									width="206"
									height="133"
									class="imgauto"
								/>
							</picture>
						</p>
						<h3 class="iz-case__list__ttl">キッチン工房から寿</h3>
					</li>
					<li>
						<p class="iz-case__list__thumb">
							<picture>
								<source
									media="(max-width:767px)"
									srcset="/asset/images/logolist_delivery/sp/img_logo_creation_jirei_delivery_04_sp.png"
								/>
								<img
									src="/asset/images/logolist_delivery/img_logo_creation_jirei_delivery_04.png"
									srcset="/asset/images/logolist_delivery/img_logo_creation_jirei_delivery_04.png 1x,/asset/images/logolist_delivery/2x/img_logo_creation_jirei_delivery_04@2x.png 2x"
									alt="洋食のぬこや"
									width="206"
									height="133"
									class="imgauto"
								/>
							</picture>
						</p>
						<h3 class="iz-case__list__ttl">洋食のぬこや</h3>
					</li>
					<li>
						<p class="iz-case__list__thumb">
							<picture>
								<source
									media="(max-width:767px)"
									srcset="/asset/images/logolist_delivery/sp/img_logo_creation_jirei_delivery_05_sp.png"
								/>
								<img
									src="/asset/images/logolist_delivery/img_logo_creation_jirei_delivery_05.png"
									srcset="/asset/images/logolist_delivery/img_logo_creation_jirei_delivery_05.png 1x,/asset/images/logolist_delivery/2x/img_logo_creation_jirei_delivery_05@2x.png 2x"
									alt="キッチンプアア"
									width="206"
									height="133"
									class="imgauto"
								/>
							</picture>
						</p>
						<h3 class="iz-case__list__ttl">キッチンプアア</h3>
					</li>
					<li>
						<p class="iz-case__list__thumb">
							<picture>
								<source
									media="(max-width:767px)"
									srcset="/asset/images/logolist_delivery/sp/img_logo_creation_jirei_delivery_06_sp.png"
								/>
								<img
									src="/asset/images/logolist_delivery/img_logo_creation_jirei_delivery_06.png"
									srcset="/asset/images/logolist_delivery/img_logo_creation_jirei_delivery_06.png 1x,/asset/images/logolist_delivery/2x/img_logo_creation_jirei_delivery_06@2x.png 2x"
									alt="kitchenLea"
									width="206"
									height="133"
									class="imgauto"
								/>
							</picture>
						</p>
						<h3 class="iz-case__list__ttl">kitchenLea</h3>
					</li>
					<li>
						<p class="iz-case__list__thumb">
							<picture>
								<source
									media="(max-width:767px)"
									srcset="/asset/images/logolist_delivery/sp/img_logo_creation_jirei_delivery_07_sp.png"
								/>
								<img
									src="/asset/images/logolist_delivery/img_logo_creation_jirei_delivery_07.png"
									srcset="/asset/images/logolist_delivery/img_logo_creation_jirei_delivery_07.png 1x,/asset/images/logolist_delivery/2x/img_logo_creation_jirei_delivery_07@2x.png 2x"
									alt="高崎ウルスタ丼"
									width="206"
									height="133"
									class="imgauto"
								/>
							</picture>
						</p>
						<h3 class="iz-case__list__ttl">高崎ウルスタ丼</h3>
					</li>
					<li>
						<p class="iz-case__list__thumb">
							<picture>
								<source
									media="(max-width:767px)"
									srcset="/asset/images/logolist_delivery/sp/img_logo_creation_jirei_delivery_08_sp.p6g"
								/>
								<img
									src="/asset/images/logolist_delivery/img_logo_creation_jirei_delivery_08.png"
									srcset="/asset/images/logolist_delivery/img_logo_creation_jirei_delivery_08.png 1x,/asset/images/logolist_delivery/2x/img_logo_creation_jirei_delivery_08@2x.png 2x"
									alt="お惣菜デリカminu"
									width="206"
									height="133"
									class="imgauto"
								/>
							</picture>
						</p>
						<h3 class="iz-case__list__ttl">お惣菜デリカminu</h3>
					</li>
					<li>
						<p class="iz-case__list__thumb">
							<picture>
								<source
									media="(max-width:767px)"
									srcset="/asset/images/logolist_delivery/sp/img_logo_creation_jirei_delivery_09_sp.png"
								/>
								<img
									src="/asset/images/logolist_delivery/img_logo_creation_jirei_delivery_09.png"
									srcset="/asset/images/logolist_delivery/img_logo_creation_jirei_delivery_09.png 1x,/asset/images/logolist_delivery/2x/img_logo_creation_jirei_delivery_09@2x.png 2x"
									alt="kitchen nico キッチンニコ"
									width="206"
									height="133"
									class="imgauto"
								/>
							</picture>
						</p>
						<h3 class="iz-case__list__ttl">
							kitchen nico キッチンニコ
						</h3>
					</li>
					<li>
						<p class="iz-case__list__thumb">
							<picture>
								<source
									media="(max-width:767px)"
									srcset="/asset/images/logolist_delivery/sp/img_logo_creation_jirei_delivery_10_sp.png"
								/>
								<img
									src="/asset/images/logolist_delivery/img_logo_creation_jirei_delivery_10.png"
									srcset="/asset/images/logolist_delivery/img_logo_creation_jirei_delivery_10.png 1x,/asset/images/logolist_delivery/2x/img_logo_creation_jirei_delivery_10@2x.png 2x"
									alt="テイクス"
									width="206"
									height="133"
									class="imgauto"
								/>
							</picture>
						</p>
						<h3 class="iz-case__list__ttl">テイクス</h3>
					</li>
				</ul>
				<a href="/promotion/logo_creation/jirei/" class="jirei-backbtn"
					>ロゴ制作事例一覧に戻る</a
				>
			</section>
		</div>
	</article>
</Layout>
