---
import Layout from "../../../layouts/Layout.astro";
import ContactArea from "../../../components/common/ContactArea.astro";
import structuredDataMarkup from "../../../data/data.json";
const markup = JSON.stringify(structuredDataMarkup.electricity);
---

<Layout
    title="飲食店の電気代を削減・節約する方法は？今よりコストを見直しできるか無料でシミュレーション｜テンポスフードプレイス"
    description="食材、人件費などの高騰で飲食店のコスト負担増。テンポスがコスト削減をお手伝いします。比較見積・工事費無料・立ち会い不要で簡単に切替が可能です。"
    pageUrl="/cost/electricity/"
    ogimage="/asset/images/electricity/ogp_electricity.jpg"
    markup={markup}
>
    <article id="mainarea">
        <div class="tp-border sans">
            <nav class="tp-nav">
                <ol class="tp-nav__list flex">
                    <li><a href="/">トップページ</a></li>
                    <li><a href="/cost/">経費削減</a></li>
                    <li>電気代削減</li>
                </ol>
            </nav>

            <section class="tp-front__section">
                <h1 class="tp-front__ttl font_m_plus">
                    <span>電気代削減</span>
                </h1>
                <p class="tp-front__caption">
                    飲食店の電気代を削減・節約する方法は？<br />
                    今よりコストを見直しできるか無料でシミュレーション
                </p>
                <p class="tp-front__contact">
                    <a class="click_link_mail" href="/contact/?checked=21"
                        >お問い合わせはこちら</a
                    >
                </p>
            </section>

            <section class="tp-worries__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __border">
                    <span></span>こんなお悩みありませんか？<span></span>
                </h2>
                <ul class="tp-check__list tp-wrapper__l">
                    <li>
                        最近、<span class="tp-bglg"
                            >電気料金が上がってしまった</span
                        >
                    </li>
                    <li>
                        電気料金を<span class="tp-bglg">少しでも安くしたい</span
                        >
                    </li>
                    <li>
                        電力会社が多すぎて<span class="tp-bglg"
                            >どの会社と契約したらがいいかわからない</span
                        >
                    </li>
                    <li>
                        自分のお店の<span class="tp-bglg"
                            >電気料金が削減できるか</span
                        >知りたい
                    </li>
                </ul>
            </section>

            <section class="tp-design__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    そんな飲食店さまの経費削減をお手伝いします！
                </h2>
                <div class="tp-design__contents flex">
                    <div class="tp-local__wrap">
                        <p class="tp-local">
                            厨房機器や空調、照明など、飲食店は電気代が高くなりがちです。<br
                            />
                            テンポスでは電気使用量の多い飲食店に<span
                                class="tp-bglg">おすすめの電力会社をご紹介</span
                            >しております。
                        </p>
                        <p class="tp-local">
                            <span class="tp-bglg">動力とセットのプラン</span
                            >や<span class="tp-bglg"
                                >基本料金を安くするプラン</span
                            >など、業種や規模に合わせたプランを多数ご提案可能です。
                        </p>
                    </div>
                    <p class="tp-design__thumb">
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/electricity/2x/img_electricity_design@2x.png"
                            />
                            <img
                                src="/asset/images/electricity/img_electricity_design.png"
                                srcset="/asset/images/electricity/img_electricity_design.png 1x,/asset/images/electricity/2x/img_electricity_design@2x.png 2x"
                                alt=""
                                width="226"
                                height="283"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </p>
                </div>
            </section>

            <section class="tp-want__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center">
                    電力の自由化により、<br
                    />契約する電力会社を自分で選べるようになりました
                </h2>
                <div class="tp-want__local__wrap tp-wrapper__m">
                    <p class="tp-want__local">
                        食材費、人件費、家賃、水道光熱費、販促費、減価償却費などなど、<br
                            class="pc"
                        />飲食店の経費にはいろいろありますが、<br
                            class="pc"
                        />その中でも<span class="tp-bglg"
                            >電気代は手軽に見直しができる費用</span
                        >です。
                    </p>
                    <p class="tp-want__local">
                        実際にどのくらい安くなるか<span class="tp-bglg"
                            >無料でシミュレーション</span
                        >できるので、<br
                            class="pc"
                        />まずは試しに話を聞いてみるのがおすすめです。
                    </p>
                </div>
                <p class="tp-want__thumb width-60">
                    <picture>
                        <source
                            media="(max-width:767px)"
                            srcset="/asset/images/electricity/2x/img_electricity_want@2x.png"
                        />
                        <img
                            src="/asset/images/electricity/img_electricity_want.png"
                            srcset="/asset/images/electricity/img_electricity_want.png 1x,/asset/images/electricity/2x/img_electricity_want@2x.png 2x"
                            alt=""
                            width="422"
                            height="285"
                            loading="lazy"
                            class="imgauto"
                        />
                    </picture>
                </p>
            </section>

            <section class="tp-seo__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center tp-works__wrapper--s">
                    電気料金削減のメリット
                </h2>
                <ul
                    class="tp-seo__list tp-mgb__s tp-wrapper__s tp-merit__wrapper"
                >
                    <li class="tp-local">
                        電気を多く使うお客様のほど、電力会社のお切り替えで大きな削減効果が出せる
                    </li>
                    <li class="tp-local">動力契約もセットでお申込み可能</li>
                    <li class="tp-local">
                        使い方次第では年間数十％の削減につながることも！
                    </li>
                    <li class="tp-local">
                        まずは簡単お問い合わせで、本当に安くなるか確認
                    </li>
                </ul>
                <p class="tp-seo__thumb">
                    <img
                        src="/asset/images/electricity/img_electricity_seo.svg"
                        alt=""
                        width="150"
                        height="93"
                        loading="lazy"
                        class="imgauto"
                    />
                </p>
            </section>

            <section class="tp-generator__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span"
                        >電力削減の電力供給の仕組み</span
                    >
                </h2>
                <div class="tp-wrapper__l">
                    <ul class="tp-generator__list tp-mgb__l flex">
                        <li class="__obj __generator">
                            <p class="Caption">発電(東京電力等)</p>
                            <p class="Thumb">
                                <img
                                    src="/asset/images/electricity/img_electricity_generater_01.svg"
                                    alt="発電(東京電力等)"
                                    width="282"
                                    height="100"
                                    loading="lazy"
                                    class="imgauto-obj"
                                />
                            </p>
                        </li>
                        <li class="__arrow __orange">
                            <p class="Txt">電力調達</p>
                            <p class="Small">(電力会社の送電網)</p>
                        </li>
                        <li class="__obj __company">
                            <p class="Caption">小売電気事業者</p>
                            <p class="Thumb">
                                <img
                                    src="/asset/images/electricity/img_electricity_generater_02.svg"
                                    alt="小売電気事業者"
                                    width="282"
                                    height="100"
                                    loading="lazy"
                                    class="imgauto-obj"
                                />
                            </p>
                        </li>
                        <li class="__arrow __red">
                            <p class="Txt">電力供給</p>
                        </li>
                        <li class="__obj __shop">
                            <p class="Caption">お客さま</p>
                            <p class="Thumb">
                                <img
                                    src="/asset/images/electricity/img_electricity_generater_03.svg"
                                    alt="お客さま"
                                    width="282"
                                    height="100"
                                    loading="lazy"
                                    class="imgauto-obj"
                                />
                            </p>
                        </li>
                    </ul>
                    <ul class="tp-check__list">
                        <li>
                            電気は電力会社の送電網をして<span class="tp-bglg"
                                >安定した供給が可能</span
                            >
                        </li>
                        <li>
                            電気は電力会社のものを使用するため、<span
                                class="tp-bglg">品質変わらず利用可能</span
                            >
                        </li>
                        <li>申込書のみで、工事や立ち会いも不要で簡単切替</li>
                    </ul>
                </div>
            </section>

            <section class="tp-example__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">電気料金削減事例</span>
                </h2>
                <div class="tp-example__cnt">
                    <div class="tp-example__cntTtl__wrap">
                        <h3 class="tp-example__cntTtl">
                            <span class="Label">事例 1</span><br class="sp" />
                            <span class="Ttl"
                                >BAR・居酒屋<span class="Sub"
                                    >（神奈川県横浜市）</span
                                ></span
                            >
                        </h3>
                        <p class="Seats">席数:5席前後</p>
                    </div>
                    <div class="tp-example__cntBottom">
                        <div class="tp-example__cntImg">
                            <picture>
                                <source
                                    media="(max-width:767px)"
                                    srcset="/asset/images/electricity/2x/img_electricity_example_01@2x.jpg"
                                />
                                <img
                                    src="/asset/images/electricity/img_electricity_example_01.jpg"
                                    srcset="/asset/images/electricity/img_electricity_example_01.jpg 1x,/asset/images/electricity/2x/img_electricity_example_01@2x.jpg 2x"
                                    alt=""
                                    width="240"
                                    height="320"
                                    loading="lazy"
                                    class="imgauto"
                                />
                            </picture>
                        </div>
                        <div class="tp-example__cntTxt">
                            <p class="Local __top">東京電力からの切り替え</p>
                            <p class="Local">電気使用量（2月）ー400kwh</p>
                            <div class="tp-example__cntGraph">
                                <dl class="Bar __before">
                                    <dt>切り替え前</dt>
                                    <dd>
                                        12,855<span class="txt__s">円</span>
                                    </dd>
                                </dl>
                                <dl class="Bar __after">
                                    <dt>切り替え後</dt>
                                    <dd>
                                        <p class="Price">
                                            11,359<span class="txt__s">円</span>
                                        </p>
                                        <p class="Reduction">
                                            <span class="txt__s">削減額</span>
                                            <span
                                                >1,496<span class="txt__s"
                                                    >円</span
                                                ></span
                                            >
                                        </p>
                                        <div class="Label__wrap">
                                            <div class="Label">
                                                <span>お客様の</span>
                                                <span class="txt__l">利益</span>
                                            </div>
                                            <div class="Label__bg"></div>
                                            <div class="Label__arrow"></div>
                                            <div class="Label__arrowBg"></div>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                            <p class="Local __lead">
                                年間<span class="txt__l">12,000</span>円の<span
                                    class="txt__l">削減!</span
                                >
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tp-example__cnt">
                    <div class="tp-example__cntTtl__wrap">
                        <h3 class="tp-example__cntTtl">
                            <span class="Label">事例 2</span><br class="sp" />
                            <span class="Ttl"
                                >ラーメン店<span class="Sub"
                                    >（山形県酒田市）</span
                                ></span
                            >
                        </h3>
                        <p class="Seats">席数：25席前後</p>
                    </div>
                    <div class="tp-example__cntBottom">
                        <div class="tp-example__cntImg">
                            <picture>
                                <source
                                    media="(max-width:767px)"
                                    srcset="/asset/images/electricity/2x/img_electricity_example_02@2x.jpg"
                                />
                                <img
                                    src="/asset/images/electricity/img_electricity_example_02.jpg"
                                    srcset="/asset/images/electricity/img_electricity_example_02.jpg 1x,/asset/images/electricity/2x/img_electricity_example_02@2x.jpg 2x"
                                    alt=""
                                    width="240"
                                    height="320"
                                    loading="lazy"
                                    class="imgauto"
                                />
                            </picture>
                        </div>
                        <div class="tp-example__cntTxt">
                            <p class="Local __top">中部電力からの切り替え</p>
                            <p class="Local">電気使用量（2月）ー1,250kwh</p>
                            <div class="tp-example__cntGraph">
                                <dl class="Bar __before">
                                    <dt>切り替え前</dt>
                                    <dd>
                                        41,200<span class="txt__s">円</span>
                                    </dd>
                                </dl>
                                <dl class="Bar __after">
                                    <dt>切り替え後</dt>
                                    <dd>
                                        <p class="Price">
                                            33,293<span class="txt__s">円</span>
                                        </p>
                                        <p class="Reduction">
                                            <span class="txt__s">削減額</span>
                                            <span
                                                >7,907<span class="txt__s"
                                                    >円</span
                                                ></span
                                            >
                                        </p>
                                        <div class="Label__wrap">
                                            <div class="Label">
                                                <span>お客様の</span>
                                                <span class="txt__l">利益</span>
                                            </div>
                                            <div class="Label__bg"></div>
                                            <div class="Label__arrow"></div>
                                            <div class="Label__arrowBg"></div>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                            <p class="Local __lead">
                                年間<span class="txt__l">71,000</span>円の<span
                                    class="txt__l">削減!</span
                                >
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="tp-frow__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">ご利用までの流れ</span>
                </h2>
                <div class="tp-flow__list">
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">お問い合わせ</h3>
                            <div class="Local">
                                <p>
                                    ご相談は無料です。<br
                                    />電気代が今よりどのくらい削減できるかのシミュレーションも無料で行うことが出来ます。<br
                                    />まずはお気軽にお問い合わせください。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">提携先よりご連絡</h3>
                            <div class="Local">
                                <p>
                                    サービスの内容やプランのご説明をいたします。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">無料削減シミュレーション</h3>
                            <div class="Local">
                                <p>
                                    事前に1ヵ月分の電気利用明細、もしくは現在の契約会社や料金プランなどの情報をご用意いただくとスムーズです。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">お申込み</h3>
                            <div class="Local">
                                <p>
                                    お客様情報や支払い方法など、お申込みに必要な情報をお伝えします。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">メーター切り替え工事</h3>
                            <div class="Local">
                                <p>
                                    お客様が行う手続きは無く、工事費やお立合いも不要です。<br
                                    />
                                    ※切り替え工事が発生する場合があります。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">利用開始</h3>
                            <div class="Local">
                                <p></p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>

            <section class="tp-faq__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">よくある質問</span>
                </h2>
                <div class="g-acodion">
                    <dl>
                        <dt>電気は電力会社のものではなくなるの？</dt>
                        <dd>
                            電気の供給元は変わらず、請求元が切り替わるだけで安心してお使いいただけます。<br
                            />
                            停電の可能性が高くなるといったこともなく、お客さまにはこれまでと同じように安心して電気をご使用いただけます。
                        </dd>
                    </dl>
                    <dl>
                        <dt>どれくらい安くなるの？</dt>
                        <dd>
                            月々の電気代が～10％ほどお安くなる可能性がございます。<br
                            />
                            お客様がご利用される時間帯や使用量によって、より大きな削減が出る可能性もございます！
                        </dd>
                    </dl>
                    <dl>
                        <dt>契約期間や違約金はあるの？</dt>
                        <dd>
                            契約期間は1年間の自動更新です。解約による違約金等は発生いたしませんのでご安心ください。
                        </dd>
                    </dl>
                </div>
            </section>

            <!-- 「お客様の声」非表示
			<section class="tp-voice__section tp-sec tp-wrapper">				
				<h2 class="tp-ttl"><span class="tp-ttl__balloon__span">お客様の声</span></h2>
				<div class="tp-voice__list">
					<article>
						<p class="Caption">見出し見出し見出し見出し見出し見出し見出し見出し</p>
						<p class="Thumb">
							<picture>
								<source media="(max-width:767px)" srcset="/asset/images/template/sp/voice01.jpg">
								<img src="/asset/images/template/voice01.jpg" srcset="/asset/images/template/voice01.jpg 1x,/asset/images/template/2x/voice01.jpg 2x" alt="お客様の声01" width="300" height="199" loading="lazy" class="imgauto">
							</picture>
						</p>
						<div class="tp-voice__info">
							<h3 class="Name">店名店名店名店名店名店名</h3>
							<p class="Industry">業種業種業種</p>
							<p class="Area">エリアエリアエリア</p>
						</div>
						<p class="Link">
							<a href="">詳しく見る</a>
						</p>
					</article>
					<article>
						<p class="Caption">見出し見出し見出し見出し見出し見出し見出し見出し</p>
						<p class="Thumb">
							<picture>
								<source media="(max-width:767px)" srcset="/asset/images/template/sp/voice01.jpg">
								<img src="/asset/images/template/voice01.jpg" srcset="/asset/images/template/voice01.jpg 1x,/asset/images/template/2x/voice01.jpg 2x" alt="お客様の声02" width="300" height="199" loading="lazy" class="imgauto">
							</picture>
						</p>
						<div class="tp-voice__info">
							<h3 class="Name">店名店名店名店名店名店名</h3>
							<p class="Industry">業種業種業種</p>
							<p class="Area">エリアエリアエリア</p>
						</div>
						<p class="Link">
							<a href="">詳しく見る</a>
						</p>
					</article>
					<article>
						<p class="Caption">見出し見出し見出し見出し見出し見出し見出し見出し</p>
						<p class="Thumb">
							<picture>
								<source media="(max-width:767px)" srcset="/asset/images/template/sp/voice01.jpg">
								<img src="/asset/images/template/voice01.jpg" srcset="/asset/images/template/voice01.jpg 1x,/asset/images/template/2x/voice01.jpg 2x" alt="お客様の声03" width="300" height="199" loading="lazy" class="imgauto">
							</picture>
						</p>
						<div class="tp-voice__info">
							<h3 class="Name">店名店名店名店名店名店名</h3>
							<p class="Industry">業種業種業種</p>
							<p class="Area">エリアエリアエリア</p>
						</div>
						<p class="Link">
							<a href="">詳しく見る</a>
						</p>
					</article>
				</div>
			</section>
			-->

            <div class="contactarea"></div>

            <section class="tp-others__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">その他関連サービス</span
                    >
                </h2>
                <div class="tp-others__list">
                    <!--<article>
							<a href="/cost/gas-bill.html">
								<p class="Thumb">
									<picture>
										<source media="(max-width:767px)"
											srcset="/asset/images/common/2x/img_kanren_service_gas-bill@2x.png">
										<img src="/asset/images/common/img_kanren_service_gas-bill.png"
											srcset="/asset/images/common/img_kanren_service_gas-bill.png 1x,/asset/images/common/2x/img_kanren_service_gas-bill@2x.png 2x"
											alt="ガス代削減" width="304" height="231" loading="lazy" class="imgauto">
									</picture>
								</p>
								<h3 class="Ttl">
									ガス代削減
								</h3>
							</a>
						</article>-->
                    <!-- <article>
							<a href="/cost/recipe.html">
								<p class="Thumb">
									<picture>
										<source media="(max-width:767px)"
											srcset="/asset/images/common/2x/img_kanren_service_recipe@2x.png">
										<img src="/asset/images/common/img_kanren_service_recipe.png"
											srcset="/asset/images/common/img_kanren_service_recipe.png 1x,/asset/images/common/2x/img_kanren_service_recipe@2x.png 2x"
											alt="レシピ原価管理" width="304" height="231" loading="lazy" class="imgauto">
									</picture>
								</p>
								<h3 class="Ttl">
									レシピ原価管理
								</h3>
							</a>
						</article> -->
                    <article>
                        <a href="/hygiene/waste-oil.html">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_waste-oil@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_waste-oil.png"
                                        srcset="/asset/images/common/img_kanren_service_waste-oil.png 1x,/asset/images/common/2x/img_kanren_service_waste-oil@2x.png 2x"
                                        alt="廃油無料回収"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">廃油無料回収</h3>
                        </a>
                    </article>
                </div>
            </section>
        </div>
    </article>
</Layout>

<style lang="scss">
    /*-----------------------
mv tp-front__section
-----------------------*/
    .tp-front__section {
        background-image: url(/asset/images/electricity/mv_electricity.jpg);
    }

    /*-----------------------
tp-design__section
-----------------------*/
    @media screen and (max-width: 767px) {
        .tp-design__section .tp-design__thumb {
            max-width: 150px;
        }
    }

    /*-----------------------
tp-want__section
-----------------------*/
    @media screen and (max-width: 767px) {
        .tp-want__section .tp-want__thumb {
            width: 90%;
        }
    }

    /*-----------------------
電気料金削減のメリット tp-seo__section
-----------------------*/
    .tp-seo__section .tp-seo__list .tp-local:nth-child(1):before {
        content: "①";
    }
    .tp-seo__section .tp-seo__list .tp-local:nth-child(2):before {
        content: "②";
    }
    .tp-seo__section .tp-seo__list .tp-local:nth-child(3):before {
        content: "③";
    }
    .tp-seo__section .tp-seo__list .tp-local:nth-child(4):before {
        content: "④";
    }
    .tp-seo__section .tp-seo__list .tp-local:nth-child(5):before {
        content: "⑤";
    }

    /*-----------------------
電気料金削減事例 tp-example__section
-----------------------*/
    .tp-example__section .tp-example__cnt {
        border: 1px solid var(--CONTENTS_BORDER_GRAY);
        border-radius: 20px;
    }
    .tp-example__section .tp-example__cnt:not(:last-of-type) {
        margin-bottom: 20px;
    }
    .tp-example__section .tp-example__cntTtl__wrap {
        padding: 20px 150px 9px 35px;
        background: var(--MAIN_YELLOW);
        border-radius: 18px 18px 0 0;
        position: relative;
    }
    .tp-example__section .tp-example__cntTtl {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        font-size: 30px;
        font-weight: bold;
        line-height: 1.5;
    }
    .tp-example__section .tp-example__cntTtl .Label {
        display: inline-block;
        font-size: 16px;
        line-height: 1;
        color: var(--MAIN_WHITE);
        padding: 7px 20px;
        background: #be0000;
        margin-right: 17px;
    }
    .tp-example__section .tp-example__cntTtl .Sub {
        font-size: 20px;
    }
    .tp-example__section .tp-example__cntTtl__wrap .Seats {
        font-size: 14px;
        font-weight: bold;
        line-height: 1;
        position: absolute;
        right: 35px;
        bottom: 15px;
    }
    .tp-example__section .tp-example__cntBottom {
        display: flex;
        justify-content: space-between;
        padding: 30px 35px;
    }
    .tp-example__section .tp-example__cntImg {
        width: 35.8%;
    }
    .tp-example__section .tp-example__cntTxt {
        width: 52.9%;
        margin-right: 4.8%;
    }
    .tp-example__section .tp-example__cntTxt .Local {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.7;
    }
    .tp-example__section .tp-example__cntTxt .Local.__top {
        font-size: 20px;
    }
    .tp-example__section .tp-example__cntTxt .Local.__lead {
        display: inline-block;
        font-size: 18px;
        line-height: 1.25;
        color: #be0000;
        background-image: linear-gradient(
            to bottom,
            transparent 45%,
            var(--MAIN_YELLOW) 45%
        );
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .tp-example__section .tp-example__cntTxt .Local.__lead .txt__l {
        font-size: 24px;
    }
    @media screen and (max-width: 767px) {
        .tp-example__section .tp-example__cntTtl__wrap {
            padding: 20px 15px 15px;
        }
        .tp-example__section .tp-example__cntTtl {
            font-size: 26px;
        }
        .tp-example__section .tp-example__cntTtl .Ttl {
            width: 100%;
        }
        .tp-example__section .tp-example__cntTtl .Sub {
            font-size: 16px;
        }
        .tp-example__section .tp-example__cntTtl__wrap .Seats {
            right: 15px;
            top: 35px;
            bottom: unset;
        }
        .tp-example__section .tp-example__cntBottom {
            display: block;
            padding: 30px 25px 40px;
        }
        .tp-example__section .tp-example__cntImg {
            width: 100%;
            margin-bottom: 30px;
        }
        .tp-example__section .tp-example__cntTxt {
            width: 100%;
            margin-right: 0;
        }
        .tp-example__section .tp-example__cntTxt .Local {
            font-size: 13px;
        }
        .tp-example__section .tp-example__cntTxt .Local.__top {
            font-size: 16px;
        }
        .tp-example__section .tp-example__cntTxt .Local.__lead {
            font-size: 4vw;
        }
        .tp-example__section .tp-example__cntTxt .Local.__lead .txt__l {
            font-size: 5.3vw;
        }
    }

    /* 棒グラフ */
    .tp-example__section .tp-example__cntGraph {
        display: flex;
        border-left: 1px solid var(--CONTENTS_BORDER_GRAY);
        border-bottom: 1px solid var(--CONTENTS_BORDER_GRAY);
        margin: 8px 0 40px;
        padding-top: 12px;
    }
    .tp-example__section .tp-example__cntGraph .Bar {
        position: relative;
        margin-left: 12%;
        text-align: center;
    }
    .tp-example__section .tp-example__cntGraph .Bar dt {
        font-size: 16px;
        font-weight: bold;
        width: 5em;
        line-height: 1;
        position: absolute;
        top: calc(100% + 8px);
        left: 50%;
        transform: translateX(-50%);
    }
    .tp-example__section .tp-example__cntGraph .Bar dd {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        line-height: 1;
        color: var(--MAIN_WHITE);
        height: 163px;
    }
    .tp-example__section .tp-example__cntGraph .Bar dd .txt__s {
        font-size: 14px;
        margin-bottom: -1px;
    }
    .tp-example__section .tp-example__cntGraph .Bar.__before dd {
        background: #bdbdbd;
        padding: 10px;
    }
    .tp-example__section .tp-example__cntGraph .Bar.__after dd {
        flex-direction: column-reverse;
        align-items: stretch;
        position: relative;
    }
    .tp-example__section .tp-example__cntGraph .Bar.__after dd > * {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .tp-example__section .tp-example__cntGraph .Bar.__after .Price {
        background: #ffa600;
        height: 73.6%;
    }
    .tp-example__section .tp-example__cntGraph .Bar.__after .Reduction {
        flex-direction: column;
        gap: 5px;
        background: #be0000;
        height: 26.4%;
        padding: 4px 8px;
    }
    .tp-example__section .tp-example__cntGraph .Bar.__after .Label__wrap {
        position: absolute;
        top: 0;
        left: calc(100% + 8px);
        padding: 0;
        transform: translateY(-50%);
    }
    .tp-example__section .tp-example__cntGraph .Bar.__after .Label {
        font-size: 14px;
        font-weight: bold;
        line-height: 1;
        color: #be0000;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 3px;
        width: 78px;
        height: 78px;
        background: var(--MAIN_YELLOW);
        border-radius: 50%;
        z-index: 44;
    }
    .tp-example__section .tp-example__cntGraph .Bar.__after .Label .txt__l {
        font-size: 25px;
    }
    .tp-example__section .tp-example__cntGraph .Bar.__after .Label__bg {
        width: 82px;
        height: 82px;
        background: #be0000;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 11;
    }
    .tp-example__section .tp-example__cntGraph .Bar.__after .Label__arrow {
        width: 15px;
        height: 15px;
        background: linear-gradient(
            -135deg,
            transparent 50%,
            var(--MAIN_YELLOW) 50%
        );
        transform: skewX(-50deg);
        position: absolute;
        top: 50%;
        left: -3px;
        z-index: 33;
    }
    .tp-example__section .tp-example__cntGraph .Bar.__after .Label__arrowBg {
        width: 20px;
        height: 19px;
        background: linear-gradient(-135deg, transparent 50%, #be0000 50%);
        transform: skewX(-50deg);
        position: absolute;
        top: calc(50% - 2px);
        left: -6px;
        z-index: 22;
    }
    @media screen and (max-width: 1120px) and (min-width: 951px) {
        .tp-example__section .tp-example__cntGraph .Bar.__before dd {
            padding: 5px;
        }
        .tp-example__section .tp-example__cntGraph .Bar.__after dd > * {
            padding: 5px;
        }
        .tp-example__section .tp-example__cntGraph .Bar dd {
            font-size: 16px;
        }
        .tp-example__section .tp-example__cntGraph .Bar.__after .Label__wrap {
            left: calc(100% + 4px);
        }
        .tp-example__section .tp-example__cntGraph .Bar.__after .Label {
            font-size: 12px;
            gap: 1px;
            width: 60px;
            height: 60px;
        }
        .tp-example__section .tp-example__cntGraph .Bar.__after .Label .txt__l {
            font-size: 20px;
        }
        .tp-example__section .tp-example__cntGraph .Bar.__after .Label__bg {
            width: 64px;
            height: 64px;
        }
        .tp-example__section .tp-example__cntGraph .Bar.__after .Label__arrow {
            width: 10px;
            height: 10px;
            left: -1px;
        }
        .tp-example__section
            .tp-example__cntGraph
            .Bar.__after
            .Label__arrowBg {
            width: 14px;
            height: 14px;
            left: -4px;
        }
    }
    @media screen and (max-width: 767px) {
        .tp-example__section .tp-example__cntGraph {
            margin: 12px 0 40px;
            padding-top: 64px;
            justify-content: center;
            gap: 13.7%;
        }
        .tp-example__section .tp-example__cntGraph .Bar {
            margin-left: 0;
        }
        .tp-example__section .tp-example__cntGraph .Bar dt {
            font-size: 13px;
            top: calc(100% + 6px);
        }
        .tp-example__section .tp-example__cntGraph .Bar dd {
            font-size: max(3.7vw, 13px);
            height: max(35.7vw, 134px);
        }
        .tp-example__section .tp-example__cntGraph .Bar dd .txt__s {
            font-size: max(2.7vw, 10px);
        }
        .tp-example__section .tp-example__cntGraph .Bar.__before dd {
            padding: 7px;
        }
        .tp-example__section .tp-example__cntGraph .Bar.__after dd > * {
            padding: 7px;
        }
        .tp-example__section .tp-example__cntGraph .Bar.__after .Price {
            height: 70%;
        }
        .tp-example__section .tp-example__cntGraph .Bar.__after .Reduction {
            height: 30%;
            padding: 4px 7px;
        }
        .tp-example__section .tp-example__cntGraph .Bar.__after .Label__wrap {
            top: unset;
            left: 50%;
            transform: translateX(-50%);
            bottom: calc(100% + 7px);
        }
        .tp-example__section .tp-example__cntGraph .Bar.__after .Label {
            font-size: max(3.2vw, 12px);
            width: max(16vw, 60px);
            height: max(16vw, 60px);
        }
        .tp-example__section .tp-example__cntGraph .Bar.__after .Label .txt__l {
            font-size: max(5.3vw, 20px);
        }
        .tp-example__section .tp-example__cntGraph .Bar.__after .Label__bg {
            width: max(17.1vw, 64px);
            height: max(17.1vw, 64px);
        }
        .tp-example__section .tp-example__cntGraph .Bar.__after .Label__arrow {
            width: 12px;
            height: 12px;
            transform: skewY(-50deg) translateX(-100%);
            top: unset;
            left: 50%;
            bottom: 12px;
        }
        .tp-example__section
            .tp-example__cntGraph
            .Bar.__after
            .Label__arrowBg {
            width: 16px;
            height: 16px;
            transform: skewY(-50deg) translateX(-100%);
            top: unset;
            left: calc(50% + 2px);
            bottom: 14px;
        }
    }

    .tp-merit__wrapper {
        width: 80%;
    }
</style>
