<header class="sp-header flex">
    <p class="Thumb">
        <a href="/"
            ><img
                src="/asset/images/top/logo.svg"
                alt="TENPOS Foodplace"
                width="85"
                height="30"
                class="imgauto"
            /></a
        >
    </p>
    <ul class="sp-header__iconlist flex">
        <li class="__blue">
            <a class="click_btn_spHeader_tel" href="tel:050-3174-1366">
                <img
                    src="/asset/images/top/icon_phone_white.svg"
                    alt="phone"
                    width="20"
                    height="20"
                    class="imgauto"
                />
            </a>
        </li>
        <li class="__white">
            <a
                id="contactBtn-sp"
                class="click_btn_spHeader_mail"
                href="/contact/"
            >
                <img
                    src="/asset/images/top/icon_mail.svg"
                    alt="mail"
                    width="40"
                    height="40"
                    class="imgauto"
                />
            </a>
        </li>
        <li class="__green">
            <a class="click_btn_spHeader_line" href="https://lin.ee/WkULqzl">
                <img
                    src="/asset/images/top/icon_line.png"
                    alt="line"
                    width="40"
                    height="40"
                    class="imgauto"
                />
            </a>
        </li>
    </ul>
</header>
