<section id="consultant_form" class="tp-form__section tp-sec tp-wrapper">
    <h2 class="tp-ttl">
        <span class="tp-ttl__balloon__span">お問い合わせ</span>
    </h2>
    <form
        action="https://business.form-mailer.jp/fm/service/Forms/confirm"
        method="post"
        name="form1"
        enctype="multipart/form-data"
        accept-charset="UTF-8"
    >
        <input type="hidden" name="key" value="02c1cfff243385" />
        <table class="add-contents__form">
            <tbody
                ><tr>
                    <th>
                        <p>営業中or新規開業<span>必須</span></p>
                    </th>
                    <td class="radio">
                        <p>
                            <input
                                id="radio01"
                                name="field_4091416"
                                type="radio"
                                value="0"
                            /><label for="radio01">営業中</label>
                        </p>
                        <p>
                            <input
                                id="radio02"
                                name="field_4091416"
                                type="radio"
                                value="1"
                            /><label for="radio02">新規開業</label>
                        </p>
                    </td>
                </tr>
                <tr>
                    <th>
                        <p>店舗名・屋号<span>必須</span></p>
                    </th>
                    <td>
                        <input
                            name="field_4091417"
                            type="text"
                            value=""
                            size="30"
                            placeholder="店舗名・屋号"
                        />
                        <p>※店舗名が未定の場合は「未定」とご入力ください。</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        <p>法人名・会社名</p>
                    </th>
                    <td>
                        <input
                            name="field_4091418"
                            type="text"
                            value=""
                            size="30"
                            placeholder="法人名・会社名"
                        />
                    </td>
                </tr>
                <tr>
                    <th>
                        <p>お名前<span>必須</span></p>
                    </th>
                    <td class="name">
                        <input
                            name="field_4091419"
                            type="text"
                            value=""
                            size="30"
                            placeholder="山田 太郎"
                        />
                    </td>
                </tr>
                <tr>
                    <th>
                        <p>お名前(フリガナ）<span>必須</span></p>
                    </th>
                    <td class="name">
                        <input
                            name="field_4091420"
                            type="text"
                            value=""
                            size="30"
                            placeholder="ヤマダ タロウ"
                        />
                    </td>
                </tr>
                <tr>
                    <th>
                        <p>連絡先電話番号<span>必須</span></p>
                    </th>
                    <td
                        ><input
                            name="field_4091421"
                            type="text"
                            value=""
                            size="30"
                            minlength="1"
                            placeholder="半角数字、ハイフンなしでご入力ください"
                        />
                    </td>
                </tr>
                <tr>
                    <th>
                        <p>メールアドレス</p>
                    </th>
                    <td>
                        <input
                            name="field_4091422"
                            type="text"
                            size="30"
                            placeholder="info@example.com"
                        />
                    </td>
                </tr>
                <tr>
                    <th>
                        <p>お店の都道府県<span>必須</span></p>
                    </th>
                    <td>
                        <select name="field_4091423">
                            <option value="">------</option>
                            <option value="0">北海道</option>
                            <option value="1">青森県</option>
                            <option value="2">岩手県</option>
                            <option value="3">宮城県</option>
                            <option value="4">秋田県</option>
                            <option value="5">山形県</option>
                            <option value="6">福島県</option>
                            <option value="7">茨城県</option>
                            <option value="8">栃木県</option>
                            <option value="9">群馬県</option>
                            <option value="10">埼玉県</option>
                            <option value="11">千葉県</option>
                            <option value="12">東京都</option>
                            <option value="13">神奈川県</option>
                            <option value="14">新潟県</option>
                            <option value="15">富山県</option>
                            <option value="16">石川県</option>
                            <option value="17">福井県</option>
                            <option value="18">山梨県</option>
                            <option value="19">長野県</option>
                            <option value="20">岐阜県</option>
                            <option value="21">静岡県</option>
                            <option value="22">愛知県</option>
                            <option value="23">三重県</option>
                            <option value="24">滋賀県</option>
                            <option value="25">京都府</option>
                            <option value="26">大阪府</option>
                            <option value="27">兵庫県</option>
                            <option value="28">奈良県</option>
                            <option value="29">和歌山県</option>
                            <option value="30">鳥取県</option>
                            <option value="31">島根県</option>
                            <option value="32">岡山県</option>
                            <option value="33">広島県</option>
                            <option value="34">山口県</option>
                            <option value="35">徳島県</option>
                            <option value="36">香川県</option>
                            <option value="37">愛媛県</option>
                            <option value="38">高知県</option>
                            <option value="39">福岡県</option>
                            <option value="40">佐賀県</option>
                            <option value="41">長崎県</option>
                            <option value="42">熊本県</option>
                            <option value="43">大分県</option>
                            <option value="44">宮崎県</option>
                            <option value="45">鹿児島県</option>
                            <option value="46">沖縄県</option>
                            <option value="47">その他</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>
                        <p>お店の市区町村・番地<span>必須</span></p>
                    </th>
                    <td>
                        <input
                            name="field_4091424"
                            type="text"
                            placeholder="市区町村番地"
                        />
                        <p class="cap_txt_01">
                            ※住所未定の方は、出店予定の市町村区までご入力ください。
                        </p>
                    </td>
                </tr>
                <tr>
                    <th>
                        <p>備考</p>
                    </th>
                    <td>
                        <textarea
                            name="field_4091427"
                            cols="30"
                            rows="5"
                            placeholder="お問い合わせ内容をご入力ください。"
                        ></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <input
            class="contact-btn"
            name="submit"
            type="submit"
            value="確認画面へ"
        />
        <input type="hidden" name="code" value="utf8" />
    </form>
</section>
