---
import Layout from "../../../layouts/Layout.astro";
import ContactArea from "../../../components/common/ContactArea.astro";
---

<Layout title="" description="" pageUrl="" ogimage="">
    <article id="mainarea">
        <div class="tp-border sans">
            <nav class="tp-nav">
                <ol class="tp-nav__list flex">
                    <li><a href="/">トップページ</a></li>
                    <li><a href="/promotion/">販促デザイン</a></li>
                    <li>動画作成</li>
                </ol>
            </nav>

            <section class="tp-front__section">
                <h1 class="tp-front__ttl font_m_plus">
                    <span>動画作成</span>
                </h1>
                <p class="tp-front__caption">
                    30秒～1分以内の店舗ＰＲ動画を作成します。<br class="pc" />
                    スマートフォンで撮影したデータを編集、またはカメラマンサービスを併用して<br
                        class="pc"
                    />
                    撮影からお任せできるプランをご用意しております。
                </p>
                <p class="tp-front__contact">
                    <a class="click_link_mail" href="/contact/?checked=18"
                        >お問い合わせはこちら</a
                    >
                </p>
            </section>

            <section class="tp-worries__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __border">
                    <span></span>こんなお悩みありませんか？<span></span>
                </h2>
                <ul class="tp-check__list tp-wrapper__l">
                    <li>
                        まわりの競合店と<span class="tp-bglg">差をつけたい</span
                        >
                    </li>
                    <li>
                        写真よりも<span class="tp-bglg"
                            >リアルな現場を伝えたい</span
                        >
                    </li>
                    <li>
                        動画を頼みたくても<span class="tp-bglg"
                            >高くて手が出せない</span
                        >
                    </li>
                </ul>
            </section>

            <section class="tp-design__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">テンポスでは動画の作成も行います！</h2>
                <div class="tp-design__contents flex">
                    <div class="tp-local__wrap">
                        <p class="tp-local">
                            Youtubeでの店舗紹介動画はもちろん、<br
                            />ホームぺージやSNSに掲載するための動画も作成いたします！<br
                            />30秒～1分以内で店舗PR動画を作成します。
                        </p>
                        <p class="tp-local">
                            スマートフォンで撮影したデータを編集、またはカメラマンサービスを併用して、撮影からお任せできるプランをご用意しております。
                        </p>
                    </div>

                    <p class="tp-design__thumb">
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/makemovie/2x/img_makemovie_design@2x.png"
                            />
                            <img
                                src="/asset/images/makemovie/img_makemovie_design.png"
                                srcset="/asset/images/makemovie/img_makemovie_design.png 1x,/asset/images/makemovie/2x/img_makemovie_design@2x.png 2x"
                                alt=""
                                width="239"
                                height="238"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </p>
                </div>
            </section>

            <section class="tp-plan__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __mgb">
                    <span class="tp-ttl__balloon__span"
                        >お好みで選べる4プラン</span
                    >
                </h2>
                <div class="tp-scroll__container">
                    <table class="tp-table__plan table-mgb">
                        <tbody>
                            <tr>
                                <th>
                                    <p class="Ttl">
                                        写真から<br class="pc" />動画編集
                                    </p>
                                </th>
                                <th>
                                    <p class="Ttl">
                                        動画から<br class="pc" />動画編集
                                    </p>
                                </th>
                                <th>
                                    <p class="Ttl">
                                        写真撮影<br />+<br />動画編集
                                    </p>
                                </th>
                                <th>
                                    <p class="Ttl">
                                        写真・動画撮影<br />+<br />動画編集
                                    </p>
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <p class="Tag">基本料金</p>
                                    <p class="Price">
                                        13,200<span class="Local"
                                            >円（税込）</span
                                        >
                                    </p>
                                </td>
                                <td>
                                    <p class="Tag">基本料金</p>
                                    <p class="Price">
                                        16,500<span class="Local"
                                            >円（税込）</span
                                        >
                                    </p>
                                </td>
                                <td>
                                    <p class="Tag">基本料金</p>
                                    <p class="Price">
                                        55,000<span class="Local"
                                            >円（税込）</span
                                        >
                                    </p>
                                    <p class="Local">+交通費実費</p>
                                </td>
                                <td>
                                    <p class="Tag">基本料金</p>
                                    <p class="Price">
                                        71,500<span class="Local"
                                            >円（税込）</span
                                        >
                                    </p>
                                    <p class="Local">+交通費実費</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="Tag">撮影時間</p>
                                    <p class="Local">なし</p>
                                </td>
                                <td>
                                    <p class="Tag">撮影時間</p>
                                    <p class="Local">なし</p>
                                </td>
                                <td>
                                    <p class="Tag">撮影時間</p>
                                    <p class="Local">3時間</p>
                                </td>
                                <td>
                                    <p class="Tag">撮影時間</p>
                                    <p class="Local">4時間</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="Tag">30分延長料金</p>
                                    <p class="Local">なし</p>
                                </td>
                                <td>
                                    <p class="Tag">30分延長料金</p>
                                    <p class="Local">なし</p>
                                </td>
                                <td>
                                    <p class="Tag">30分延長料金</p>
                                    <p class="Local">5,000円（税込）</p>
                                </td>
                                <td>
                                    <p class="Tag">30分延長料金</p>
                                    <p class="Local">5,000円（税込）</p>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot class="tp-local tp-table_caption">
                            <tr>
                                <td>※価格は税込表記です。</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </section>

            <section class="tp-pay__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">決済方法</span>
                </h2>
                <div class="tp-scroll__container">
                    <table class="tp-table__pay table-mgb">
                        <tbody>
                            <tr>
                                <th>決済方法</th>
                                <td>
                                    <p class="tp-table__pay__local">
                                        請求書払い（銀行振込またはコンビニ払い）
                                    </p>
                                    <p class="tp-table__pay__caution">
                                        ※コンビニエンスストアでのお支払いの手数料は無料です。
                                    </p>
                                    <p class="tp-table__pay__caution">
                                        ※銀行振込の場合の手数料はお客様負担となります。<br
                                        />弊社では与信審査有りのGMO後払いサービスを利用しております。<br
                                        />GMOよりはがきで請求書が届きます。お支払い期限までにご入金ください。
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>

            <ContactArea />

            <section class="tp-frow__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">ご利用までの流れ</span>
                </h2>

                <div class="tp-flow__list__wrap tp-flow__list__top">
                    <h3 class="tp-frow__ttl_child">
                        写真から動画編集プラン、動画から動画編集プラン
                    </h3>
                    <div class="tp-flow__list">
                        <article>
                            <div class="tp-flow__listL">
                                <p>STEP</p>
                            </div>
                            <div class="tp-frow__listR">
                                <h4 class="Ttl">ご依頼・お問い合わせ</h4>
                                <div class="Local">
                                    <p>
                                        ご相談は無料です。どのような動画を作成したいかご要望を伺い、概算見積書を作成いたします。
                                    </p>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="tp-flow__listL">
                                <p>STEP</p>
                            </div>
                            <div class="tp-frow__listR">
                                <h4 class="Ttl">お支払いのための与信審査</h4>
                                <div class="Local">
                                    正式に発注いただいた際に、事前にお支払いに関する与信審査をいたします。<br
                                    />審査NGの場合は前払いをお願いしております。
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="tp-flow__listL">
                                <p>STEP</p>
                            </div>
                            <div class="tp-frow__listR">
                                <h4 class="Ttl">
                                    担当ディレクターと打ち合わせ
                                </h4>
                                <div class="Local">
                                    <p>
                                        お店に対する想いや、お料理や空間へのこだわり、ターゲット層（家族連れ、主婦、記念日デート客、会社帰りの普段使い等）など<br
                                        />動画で伝えたいことを細かくヒアリングさせて頂きます。
                                    </p>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="tp-flow__listL">
                                <p>STEP</p>
                            </div>
                            <div class="tp-frow__listR">
                                <h4 class="Ttl">動画にしたい素材の送付</h4>
                                <div class="Local">
                                    <p>動画のご準備をお願い致します。</p>
                                </div>

                                <div class="tp-preparation__area">
                                    <h5 class="tp-preparation__ttl">
                                        事前にご用意いただきたい<br
                                            class="br-800"
                                        />画像・動画データ
                                    </h5>
                                    <div class="tp-preparation__list">
                                        <article>
                                            <p class="Thumb">
                                                <picture>
                                                    <source
                                                        media="(max-width:767px)"
                                                        srcset="/asset/images/makemovie/sp/img_makemovie_frow_preparation_01_sp.jpg"
                                                    />
                                                    <img
                                                        src="/asset/images/makemovie/img_makemovie_frow_preparation_01.jpg"
                                                        srcset="/asset/images/makemovie/img_makemovie_frow_preparation_01.jpg 1x,/asset/images/makemovie/2x/img_makemovie_frow_preparation_01@2x.jpg 2x"
                                                        alt="調理～盛り付け"
                                                        width="140"
                                                        height="106"
                                                        loading="lazy"
                                                        class="imgauto"
                                                    />
                                                </picture>
                                            </p>
                                            <h6 class="Ttl">調理～盛り付け</h6>
                                            <ul class="List">
                                                <li>
                                                    <span
                                                        >写真から動画編集プラン</span
                                                    >
                                                    画像4枚
                                                </li>
                                                <li>
                                                    <span
                                                        >動画から動画編集プラン</span
                                                    >
                                                    動画10秒×3枚
                                                </li>
                                            </ul>
                                        </article>
                                        <article>
                                            <p class="Thumb">
                                                <picture>
                                                    <source
                                                        media="(max-width:767px)"
                                                        srcset="/asset/images/makemovie/sp/img_makemovie_frow_preparation_02_sp.jpg"
                                                    />
                                                    <img
                                                        src="/asset/images/makemovie/img_makemovie_frow_preparation_02.jpg"
                                                        srcset="/asset/images/makemovie/img_makemovie_frow_preparation_02.jpg 1x,/asset/images/makemovie/2x/img_makemovie_frow_preparation_02@2x.jpg 2x"
                                                        alt="店の外観"
                                                        width="140"
                                                        height="106"
                                                        loading="lazy"
                                                        class="imgauto"
                                                    />
                                                </picture>
                                            </p>
                                            <h6 class="Ttl">店の外観</h6>
                                            <ul class="List">
                                                <li>
                                                    <span
                                                        >写真から動画編集プラン</span
                                                    >
                                                    画像1枚
                                                </li>
                                                <li>
                                                    <span
                                                        >動画から動画編集プラン</span
                                                    >
                                                    動画10秒×1枚
                                                </li>
                                            </ul>
                                        </article>
                                        <article>
                                            <p class="Thumb">
                                                <picture>
                                                    <source
                                                        media="(max-width:767px)"
                                                        srcset="/asset/images/makemovie/sp/img_makemovie_frow_preparation_03_sp.jpg"
                                                    />
                                                    <img
                                                        src="/asset/images/makemovie/img_makemovie_frow_preparation_03.jpg"
                                                        srcset="/asset/images/makemovie/img_makemovie_frow_preparation_03.jpg 1x,/asset/images/makemovie/2x/img_makemovie_frow_preparation_03@2x.jpg 2x"
                                                        alt="店内の様子"
                                                        width="140"
                                                        height="106"
                                                        loading="lazy"
                                                        class="imgauto"
                                                    />
                                                </picture>
                                            </p>
                                            <h6 class="Ttl">店内の様子</h6>
                                            <ul class="List">
                                                <li>
                                                    <span
                                                        >写真から動画編集プラン</span
                                                    >
                                                    画像1枚
                                                </li>
                                                <li>
                                                    <span
                                                        >動画から動画編集プラン</span
                                                    >
                                                    動画5秒×2枚
                                                </li>
                                            </ul>
                                        </article>
                                        <article>
                                            <p class="Thumb">
                                                <picture>
                                                    <source
                                                        media="(max-width:767px)"
                                                        srcset="/asset/images/makemovie/sp/img_makemovie_frow_preparation_04_sp.jpg"
                                                    />
                                                    <img
                                                        src="/asset/images/makemovie/img_makemovie_frow_preparation_04.jpg"
                                                        srcset="/asset/images/makemovie/img_makemovie_frow_preparation_04.jpg 1x,/asset/images/makemovie/2x/img_makemovie_frow_preparation_04@2x.jpg 2x"
                                                        alt="食材や素材"
                                                        width="140"
                                                        height="106"
                                                        loading="lazy"
                                                        class="imgauto"
                                                    />
                                                </picture>
                                            </p>
                                            <h6 class="Ttl">食材や素材</h6>
                                            <ul class="List">
                                                <li>
                                                    <span
                                                        >写真から動画編集プラン</span
                                                    >
                                                    画像2枚
                                                </li>
                                                <li>
                                                    <span
                                                        >動画から動画編集プラン</span
                                                    >
                                                    動画10秒×1枚
                                                </li>
                                            </ul>
                                        </article>
                                        <article>
                                            <p class="Thumb">
                                                <picture>
                                                    <source
                                                        media="(max-width:767px)"
                                                        srcset="/asset/images/makemovie/sp/img_makemovie_frow_preparation_05_sp.jpg"
                                                    />
                                                    <img
                                                        src="/asset/images/makemovie/img_makemovie_frow_preparation_05.jpg"
                                                        srcset="/asset/images/makemovie/img_makemovie_frow_preparation_05.jpg 1x,/asset/images/makemovie/2x/img_makemovie_frow_preparation_05@2x.jpg 2x"
                                                        alt="スタッフ"
                                                        width="140"
                                                        height="106"
                                                        loading="lazy"
                                                        class="imgauto"
                                                    />
                                                </picture>
                                            </p>
                                            <h6 class="Ttl">スタッフ</h6>
                                            <ul class="List">
                                                <li>
                                                    <span
                                                        >写真から動画編集プラン</span
                                                    >
                                                    画像1枚
                                                </li>
                                                <li>
                                                    <span
                                                        >動画から動画編集プラン</span
                                                    >
                                                    動画10秒×1枚
                                                </li>
                                            </ul>
                                        </article>
                                        <article>
                                            <p class="Thumb">
                                                <picture>
                                                    <source
                                                        media="(max-width:767px)"
                                                        srcset="/asset/images/makemovie/sp/img_makemovie_frow_preparation_06_sp.jpg"
                                                    />
                                                    <img
                                                        src="/asset/images/makemovie/img_makemovie_frow_preparation_06.jpg"
                                                        srcset="/asset/images/makemovie/img_makemovie_frow_preparation_06.jpg 1x,/asset/images/makemovie/2x/img_makemovie_frow_preparation_06@2x.jpg 2x"
                                                        alt="店前行列、駅からのルート"
                                                        width="140"
                                                        height="106"
                                                        loading="lazy"
                                                        class="imgauto"
                                                    />
                                                </picture>
                                            </p>
                                            <h6 class="Ttl">
                                                店前行列、駅からのルート
                                            </h6>
                                            <ul class="List">
                                                <li>
                                                    <span
                                                        >写真から動画編集プラン</span
                                                    >
                                                    画像1枚
                                                </li>
                                                <li>
                                                    <span
                                                        >動画から動画編集プラン</span
                                                    >
                                                    動画5秒×1枚
                                                </li>
                                            </ul>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="tp-flow__listL">
                                <p>STEP</p>
                            </div>
                            <div class="tp-frow__listR">
                                <h4 class="Ttl">動画作成・お客様確認</h4>
                                <div class="Local">
                                    <p>
                                        いただいたデータをもとに、動画を制作いたします。<br
                                        />
                                        完成データをご確認いただき、修正が必要な際は1回まで修正をさせていただきます。
                                    </p>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="tp-flow__listL">
                                <p>STEP</p>
                            </div>
                            <div class="tp-frow__listR">
                                <h4 class="Ttl">動画納品</h4>
                                <div class="Local">
                                    <p>
                                        動画データをメールアドレスにお送りいたします。<br
                                        />
                                        ご自身でホームページやSNSにご利用いただくことが可能です。<br
                                        />
                                        また、弊社の集客サービスをご利用の場合は掲載のお手配も対応させていただきます。
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>

                <div class="tp-flow__list__wrap tp-flow__list__top">
                    <h3 class="tp-frow__ttl_child">
                        カメラマンによる写真・動画撮影+動画編集プラン
                    </h3>
                    <div class="tp-flow__list">
                        <article>
                            <div class="tp-flow__listL">
                                <p>STEP</p>
                            </div>
                            <div class="tp-frow__listR">
                                <h4 class="Ttl">ご依頼・お問い合わせ</h4>
                                <div class="Local">
                                    <p>
                                        ご相談は無料です。どのような動画を作成したいかご要望を伺い、概算見積書を作成いたします。
                                    </p>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="tp-flow__listL">
                                <p>STEP</p>
                            </div>
                            <div class="tp-frow__listR">
                                <h4 class="Ttl">お支払いのための与信審査</h4>
                                <div class="Local">
                                    <p>
                                        正式に発注いただいた際に、事前にお支払いに関する与信審査をいたします。<br
                                        />審査NGの場合は前払いをお願いしております。
                                    </p>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="tp-flow__listL">
                                <p>STEP</p>
                            </div>
                            <div class="tp-frow__listR">
                                <h4 class="Ttl">
                                    担当ディレクターと打ち合わせ
                                </h4>
                                <div class="Local">
                                    <p>
                                        お店に対する想いや、お料理や空間へのこだわり、ターゲット層（家族連れ、主婦、記念日デート客、会社帰りの普段使い等）など<br
                                        />動画で伝えたいことを細かくヒアリングさせて頂きます。
                                    </p>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="tp-flow__listL">
                                <p>STEP</p>
                            </div>
                            <div class="tp-frow__listR">
                                <h4 class="Ttl">
                                    撮影希望日時をもとにカメラマンをお探し
                                </h4>
                                <div class="Local">
                                    <p>
                                        ご希望の撮影日時に対応可能なカメラマンをお探しいたします。
                                    </p>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="tp-flow__listL">
                                <p>STEP</p>
                            </div>
                            <div class="tp-frow__listR">
                                <h4 class="Ttl">動画撮影</h4>
                                <div class="Local">
                                    <p>
                                        弊社よりご紹介する撮影カメラマンが現地に撮影に向かいます。
                                    </p>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="tp-flow__listL">
                                <p>STEP</p>
                            </div>
                            <div class="tp-frow__listR">
                                <h4 class="Ttl">動画作成・お客様確認</h4>
                                <div class="Local">
                                    <p>
                                        いただいたデータをもとに、動画を制作いたします。<br
                                        />完成データをご確認いただき、修正が必要な際は1回まで修正をさせていただきます。
                                    </p>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="tp-flow__listL">
                                <p>STEP</p>
                            </div>
                            <div class="tp-frow__listR">
                                <h4 class="Ttl">動画納品</h4>
                                <div class="Local">
                                    <p>
                                        動画データをメールアドレスにお送りいたします。<br
                                        />ご自身でホームページやSNSにご利用いただくことが可能です。<br
                                        />また、弊社の集客サービスをご利用の場合は掲載のお手配も対応させていただきます。
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </section>

            <section class="tp-faq__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">よくある質問</span>
                </h2>
                <div class="g-acodion">
                    <dl>
                        <dt>どうやって素材を送るの？</dt>
                        <dd>
                            データ容量が大きいため、ギガファイル便での送付をオススメ致します。<br
                            />
                            ギガファイル便：<a
                                href="https://gigafile.nu/"
                                target="_blank">https://gigafile.nu/</a
                            ><br />
                            難しい場合はLINE（@393qkbvw）でのご送付も承ります。<br
                            />
                            LINEでお送りいただいた場合、画質が落ちます。<br />
                            ご了承ください。
                        </dd>
                    </dl>
                    <dl>
                        <dt>完成後修正は何回でも出来るの？</dt>
                        <dd>
                            申し訳ございませんが、修正回数は1回のみとさせていただきますので、修正点はまとめて1度でお送りください。
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            動画を作ってもらったけど、メニュー変更があったので動画の内容も修正したい
                        </dt>
                        <dd>
                            変更1カ所につき500円（税別）で変更可能です。<br />
                            大幅に変更する場合は、1からの作成がオススメです。
                        </dd>
                    </dl>
                    <dl>
                        <dt>1分以上の動画を作成してほしい。</dt>
                        <dd>
                            1分以上の動画につきましては別途お見積をさせていただく場合がございます。<br
                            />
                            担当よりお打合せのご連絡を差し上げます。
                        </dd>
                    </dl>
                </div>
            </section>

            <ContactArea />

            <section class="tp-others__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">その他関連サービス</span
                    >
                </h2>
                <div class="tp-others__list">
                    <article>
                        <a href="/marketing/homepage/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_homepage@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_homepage.png"
                                        srcset="/asset/images/common/img_kanren_service_homepage.png 1x,/asset/images/common/2x/img_kanren_service_homepage@2x.png 2x"
                                        alt="飲食店ホームページ作成"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">飲食店ホームページ作成</h3>
                        </a>
                    </article>
                    <article>
                        <a href="/marketing/sns_update/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_sns_update@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_sns_update.png"
                                        srcset="/asset/images/common/img_kanren_service_sns_update.png 1x,/asset/images/common/2x/img_kanren_service_sns_update@2x.png 2x"
                                        alt="SNS運用代行"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">SNS運用代行</h3>
                        </a>
                    </article>
                    <article>
                        <a href="/marketing/press-release/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_press-release@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_press-release.png"
                                        srcset="/asset/images/common/img_kanren_service_press-release.png 1x,/asset/images/common/2x/img_kanren_service_press-release@2x.png 2x"
                                        alt="プレスリリース"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">プレスリリース</h3>
                        </a>
                    </article>
                </div>
            </section>
        </div>
    </article>
</Layout>
