---
import Layout from "../../../layouts/Layout.astro";
import structuredDataMarkup from "../../../data/data.json";
const markup = JSON.stringify(structuredDataMarkup.bukken);
---

<Layout
    title="飲食店の居抜き・店舗物件探しをサポート｜テンポスフードプレイス"
    description="飲食店の出店・開業をお考えの方々に飲食店向けの店舗物件情報をご紹介しております。居抜き物件のご紹介も行っております。物件と合わせて内装工事のご紹介も可能です！"
    pageUrl="/open/bukken/"
    ogimage="/asset/images/bukken/ogp_bukken.jpg"
    markup={markup}
>
    <article id="mainarea">
        <div class="tp-border sans">
            <nav class="tp-nav">
                <ol class="tp-nav__list flex">
                    <li><a href="/">トップページ</a></li>
                    <li><a href="/open/">開業相談</a></li>
                    <li>飲食店物件紹介</li>
                </ol>
            </nav>
            <section class="tp-front__section">
                <h1 class="tp-front__ttl font_m_plus">
                    <span>飲食店物件紹介</span>
                </h1>
                <p class="tp-front__caption">
                    飲食店に特化した不動産会社より、<br
                    />お客様の業種に合った物件をご紹介いたします。
                </p>
                <p class="tp-front__contact">
                    <a class="click_link_mail" href="/contact/?checked=3"
                        >お問い合わせはこちら</a
                    >
                </p>
            </section>

            <!-- こんなお悩みありませんか？ -->
            <section class="tp-worries__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __border">
                    <span></span>こんなお悩みありませんか？<span></span>
                </h2>
                <ul class="tp-check__list tp-wrapper__l">
                    <li>
                        <span class="tp-bglg">良い物件情報</span
                        >があったら教えてほしい
                    </li>
                    <li>
                        <span class="tp-bglg">自分に合った物件</span
                        >がわからない
                    </li>
                    <li>
                        <span class="tp-bglg">どこに出店したらいいか</span
                        >悩んでいる
                    </li>
                </ul>
            </section>

            <section class="tp-design__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    テンポスでは飲食店向けの<br class="pc" />
                    物件のご紹介が可能！
                </h2>
                <div class="tp-design__contents">
                    <p class="tp-local">
                        「居抜き物件」「スケルトン物件」「事業譲渡」「M&A」を扱っている<br
                        />
                        飲食店に特化した不動産会社より、お客様の業種に合った物件を紹介いたします。<br
                        /><br />

                        また、物件の紹介だけでなく内装業者の紹介や厨房機器の販売など開業まで一括でサポートいたします。
                    </p>
                    <p class="tp-design__thumb-100">
                        <img
                            src="/asset/images/bukken/img_bukken_01.png"
                            alt="飲食店に特化した不動産会社より、お客様の業種に合った物件を紹介いたします。"
                            width="491"
                            height="552"
                            loading="lazy"
                            class="imgauto fit-content"
                        />
                    </p>
                </div>
            </section>

            <!-- 3つの特徴 -->
            <section class="tp-point__section first-sec tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-point__ttl__span"
                        >フードプレイス飲食店物件紹介</span
                    >
                    <span class="tp-ttl__balloon__span"
                        ><span>3</span>つの特徴</span
                    >
                </h2>
                <ul class="tp-point__list">
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt"
                                >飲食店に特化した物件の紹介</span
                            >
                        </h3>
                        <p class="Local">
                            飲食店専門の不動産会社より、お客様の業種に合った物件のご紹介をいたします。
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">物件情報が多数</span>
                        </h3>
                        <p class="Local">
                            全国No.1の厨房機器等の買取実績があり、年間12,000件以上の閉店情報を入手しているため、空いている物件情報をいち早くご紹介することができます。
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">開業まで一括サポート</span>
                        </h3>
                        <p class="Local">
                            年間2万件以上の開業支援実績あり、物件探し以外にも内装工事や厨房機器購入、インフラの導入や集客販促など必要なものをまとめてサポートいたします。
                        </p>
                    </li>
                </ul>
            </section>

            <div class="contactarea"></div>

            <!-- ご利用までの流れ -->
            <section class="tp-frow__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">ご利用までの流れ</span>
                </h2>
                <div class="tp-flow__list">
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">ご依頼・お問い合わせ</h3>
                            <div class="Local">
                                <p>
                                    ご相談は無料です。お気軽にお問い合わせフォームよりご連絡ください。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">担当よりご連絡</h3>
                            <div class="Local">
                                <p>
                                    弊社の担当者よりサービス詳細についてお電話にてご連絡いたします。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">不動産会社よりご連絡</h3>
                            <div class="Local">
                                <p>
                                    不動産会社より状況や条件などについてのご連絡をいたします。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">物件紹介</h3>
                            <div class="Local">
                                <p>
                                    お客様の状況と条件に合わせて物件の紹介をいたします。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">内見</h3>
                            <div class="Local">
                                <p>
                                    内見をしていただき、実際に物件を確認していただきます。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">契約</h3>
                            <div class="Local">
                                <p>
                                    内見後契約書を交わすと契約完了となります。
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>

            <!-- よくある質問 -->
            <section class="tp-faq__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">よくある質問</span>
                </h2>
                <div class="g-acodion">
                    <dl>
                        <dt>相談は無料ですか？</dt>
                        <dd>相談は無料で承っております。</dd>
                    </dl>
                    <dl>
                        <dt>全国対応ですか？</dt>
                        <dd>全国対応です。まずはご相談ください。</dd>
                    </dl>
                    <dl>
                        <dt>どのような物件を紹介してもらえるんですか？</dt>
                        <dd>
                            「居抜き」「スケルトン」「商業施設」などお客様の条件に合わせて物件をご紹介いたします。
                        </dd>
                    </dl>
                    <dl>
                        <dt>代理でもお問い合わせ可能ですか？</dt>
                        <dd>可能です。お気軽にお問い合わせください。</dd>
                    </dl>
                </div>
            </section>

            <div class="contactarea"></div>

            <!-- その他関連サービス -->
            <section class="tp-others__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">その他関連サービス</span
                    >
                </h2>
                <div class="tp-others__list">
                    <article>
                        <a href="/open/interior.html">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_interior@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_interior.png"
                                        srcset="/asset/images/common/img_kanren_service_interior.png 1x,/asset/images/common/2x/img_kanren_service_interior@2x.png 2x"
                                        alt="SNS運用代行"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">飲食店内装工事</h3>
                        </a>
                    </article>
                    <article>
                        <a href="/telecom/internetline.html">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_internetline@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_internetline.png"
                                        srcset="/asset/images/common/img_kanren_service_internetline.png 1x,/asset/images/common/2x/img_kanren_service_internetline@2x.png 2x"
                                        alt="SNS運用代行"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">
                                Google<br />インターネット回線
                            </h3>
                        </a>
                    </article>
                    <article>
                        <a href="/telecom/cashless.html">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_cashless@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_cashless.png"
                                        srcset="/asset/images/common/img_kanren_service_cashless.png 1x,/asset/images/common/2x/img_kanren_service_cashless@2x.png 2x"
                                        alt="SNS運用代行"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">キャッシュレス決済</h3>
                        </a>
                    </article>
                </div>
            </section>
        </div>
    </article>
</Layout>

<style>
    @charset "UTF-8";
    /* ■■■■■■■■■■global■■■■■■■■■■ */
    :root {
        --NUM_ORANGE: var(--MAIN_ORANGE);
        --TABLE_GRAY_01: #ddd;
        --TABLE_GRAY_02: #aaa;
        --TABLE_BORDER_GRAY: #b4b4b4;
        --TABLE_YELLOW: var(--MAIN_YELLOW);
        --TABLE_ORANGE: #ffa000;
        --TABLE_RED: #f07d00;
        --TABLE_BLUE: #508ca0;
        --TABLE_TAG_YELLOW: #fff092;
        --TABLE_TAG_ORANGE: #ffd266;
        --TABLE_TAG_RED: #f7b46c;
        --TABLE_TAG_BLUE: #b4ced6;
        --OPTION_YELLOW: var(--MAIN_YELLOW);
        --OPTION_ORANGE: var(--GRADATION_ORANGE);
        --OPTION_RED: var(--MAIN_ORANGE);
        --ATTENTION_TAG: #787878;
        --STEP_BORDER: #1b1616;
        --RENTAL_QUESTION_BG: #f7f7f7;
        --CONTACT_RED: #eb5a5a;
        --CONTACT_BLUE: #1283c3;
        --CONTACT_GREEN: #00aa8c;
        --CONTACT_RED_NAVY: rgb(215, 70, 70);
        --CONTACT_BLUE_NAVY: rgb(0, 111, 175);
        --CONTACT_GREEN_NAVY: rgb(0, 150, 120);
        --CONTAINER_BORDER: #ffe6aa;
        --CONTENTS_BORDER_GRAY: #a0a0a0;
        --ADD_TABLE_GRAY: #ededed;
        --ADD_TABLE_BTN: #5b5b5b;
        --ADD_CONTACT_GRAY: #e3e3e3;
        --ADD_CONTACT_YELLOW: #fdc831;
        --ADD_CONTACT_TITLE_GRAY: #9b9b9b;
        --sp_mag: calc(1 - (375 / 816));
        --contents_gap_col: 20px;
        --contents_gap_row: 20px;
        --TABLE_COMENT_RED: #c00000;
    }
    /*-----------------------
mv tp-front__section
-----------------------*/
    .tp-front__section {
        background-image: url(/asset/images/press-release/mv-press-release.jpg);
    }

    /* ====================================== 
tp-design__section
=========================================
*/
    .tp-design__section {
        text-align: center;
    }
    /*-----------------------
6つの特徴 tp-point__section
-----------------------*/
    .tp-point__section .tp-point__list {
        row-gap: 6px;
    }

    .tp-point__section .tp-point__list > li > .Ttl:before {
        width: 45px;
        margin-right: 13px;
    }

    .tp-point__section .tp-point__list > li:nth-child(1) > .Ttl::before {
        background: url(/asset/images/common/icon_point29.png) no-repeat center
            center/contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(2) > .Ttl::before {
        background: url(/asset/images/common/icon_point30.png) no-repeat center
            center/contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(3) > .Ttl::before {
        background: url(/asset/images/common/icon_point14.png) no-repeat center
            center/contain;
    }

    .tp-point__section .tp-point__list .Ttl__txt {
        width: calc(100% - 58px);
    }

    @media screen and (min-width: 768px) {
        .tp-point__section .tp-point__list {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    /*-----------------------
 contactarea
-----------------------*/
    .contactarea:first-of-type {
        margin-bottom: 80px;
    }
</style>
