<section id="contact">
    <div class="cInner">
        <h2><img src="/lp/fudemojiya/img/img_contact-txt.png" alt="" /></h2>
        <div class="form_wrapper">
            <form
                action="https://business.form-mailer.jp/fm/service/Forms/confirm"
                method="post"
                name="form1"
                enctype="multipart/form-data"
                accept-charset="UTF-8"
            >
                <input type="hidden" name="key" value="2968efad257692" />

                <table class="table">
                    <tbody>
                        <tr>
                            <th>
                                <div class="flex-start">
                                    <label for="">営業中or新規開業</label>
                                    <span class="essential">必須</span>
                                </div>
                            </th>
                            <td>
                                <div class="radio">
                                    <input
                                        name="field_4338514"
                                        type="radio"
                                        value="0"
                                    />
                                    <label for="">営業中</label>
                                </div>
                                <div class="radio">
                                    <input
                                        name="field_4338514"
                                        type="radio"
                                        value="1"
                                    />
                                    <label for="">新規開業</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="">店舗名・屋号</label>
                                <span class="essential">必須</span>
                            </th>
                            <td>
                                <input
                                    name="field_4338515"
                                    type="text"
                                    value=""
                                    size="30"
                                />
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="">法人名・会社名</label>
                                <span class="essential">必須</span>
                            </th>
                            <td>
                                <input
                                    name="field_4338516"
                                    type="text"
                                    value=""
                                    size="30"
                                />
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="">お名前</label>
                                <span class="essential">必須</span>
                            </th>
                            <td>
                                <input
                                    name="field_4338517"
                                    type="text"
                                    value=""
                                    size="30"
                                />
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="">お名前(フリガナ)</label>
                                <span class="essential">必須</span>
                            </th>
                            <td>
                                <input
                                    name="field_4338518"
                                    type="text"
                                    value=""
                                    size="30"
                                />
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="">連絡先電話番号</label>
                                <span class="essential">必須</span>
                            </th>
                            <td>
                                <input
                                    name="field_4338519"
                                    type="text"
                                    value=""
                                    size="30"
                                    minlength="1"
                                    placeholder="半角数字、ハイフンなしでご入力ください"
                                />
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="">メールアドレス</label>
                                <span class="essential">必須</span>
                            </th>
                            <td>
                                <input
                                    name="field_4338520"
                                    type="text"
                                    size="30"
                                    placeholder="info@example.com"
                                />
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="">ご住所</label>
                                <span class="essential">必須</span>
                            </th>
                            <td>
                                <div class="pref">
                                    <label for="">都道府県</label>
                                    <select name="field_4338521">
                                        <option value="">------</option>
                                        <option value="0">北海道</option>
                                        <option value="1">青森県</option>
                                        <option value="2">岩手県</option>
                                        <option value="3">宮城県</option>
                                        <option value="4">秋田県</option>
                                        <option value="5">山形県</option>
                                        <option value="6">福島県</option>
                                        <option value="7">茨城県</option>
                                        <option value="8">栃木県</option>
                                        <option value="9">群馬県</option>
                                        <option value="10">埼玉県</option>
                                        <option value="11">千葉県</option>
                                        <option value="12">東京都</option>
                                        <option value="13">神奈川県</option>
                                        <option value="14">新潟県</option>
                                        <option value="15">富山県</option>
                                        <option value="16">石川県</option>
                                        <option value="17">福井県</option>
                                        <option value="18">山梨県</option>
                                        <option value="19">長野県</option>
                                        <option value="20">岐阜県</option>
                                        <option value="21">静岡県</option>
                                        <option value="22">愛知県</option>
                                        <option value="23">三重県</option>
                                        <option value="24">滋賀県</option>
                                        <option value="25">京都府</option>
                                        <option value="26">大阪府</option>
                                        <option value="27">兵庫県</option>
                                        <option value="28">奈良県</option>
                                        <option value="29">和歌山県</option>
                                        <option value="30">鳥取県</option>
                                        <option value="31">島根県</option>
                                        <option value="32">岡山県</option>
                                        <option value="33">広島県</option>
                                        <option value="34">山口県</option>
                                        <option value="35">徳島県</option>
                                        <option value="36">香川県</option>
                                        <option value="37">愛媛県</option>
                                        <option value="38">高知県</option>
                                        <option value="39">福岡県</option>
                                        <option value="40">佐賀県</option>
                                        <option value="41">長崎県</option>
                                        <option value="42">熊本県</option>
                                        <option value="43">大分県</option>
                                        <option value="44">宮崎県</option>
                                        <option value="45">鹿児島県</option>
                                        <option value="46">沖縄県</option>
                                        <option value="47">その他</option>
                                    </select>
                                </div>
                                <div class="address">
                                    <input
                                        name="field_4338522"
                                        type="text"
                                        placeholder="市町村・番地"
                                        size="30"
                                    />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <div class="flex-start">
                                    <label for="">作成ご希望内容</label>
                                    <span class="essential">必須</span>
                                </div>
                            </th>
                            <td>
                                <div class="check">
                                    <input
                                        name="field_4338528"
                                        type="checkbox"
                                        value="0"
                                    />
                                    <label for="">筆文字店名</label>
                                </div>
                                <div class="check">
                                    <input
                                        name="field_4338528"
                                        type="checkbox"
                                        value="1"
                                    />
                                    <label for=""> 筆文字メニュー表 </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <div class="flex-start">
                                    作成ご希望字体イメージ
                                </div>
                            </th>
                            <td>
                                <input
                                    name="field_4338527"
                                    type="file"
                                    size="30"
                                />
                                <p>
                                    ※ファイルサイズの上限は3MBです。<br />
                                    ※お見積希望のお客様で、商品リストをお持ちのお客様はこちらからファイルアップロードしてください。
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="">連絡希望時間帯</label>
                                <span class="essential">必須</span>
                            </th>
                            <td class="time">
                                <div class="radio">
                                    <input
                                        name="field_4338524"
                                        type="radio"
                                        value="0"
                                    />
                                    <label for="">9-12時</label>
                                </div>
                                <div class="radio">
                                    <input
                                        name="field_4338524"
                                        type="radio"
                                        value="1"
                                    />
                                    <label for="">12-15時</label>
                                </div>
                                <div class="radio">
                                    <input
                                        name="field_4338524"
                                        type="radio"
                                        value="2"
                                    />
                                    <label for="">15-18時</label>
                                </div>
                                <div class="radio">
                                    <input
                                        name="field_4338524"
                                        type="radio"
                                        value="3"
                                    />
                                    <label for="">いつでも</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <div class="flex-start">
                                    <label for="">お問い合わせ内容</label>
                                    <span class="essential">必須</span>
                                </div>
                            </th>
                            <td>
                                <textarea
                                    name="field_4338525"
                                    cols="30"
                                    rows="10"></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="submitBtn__wrapper">
                    <input
                        name="submit"
                        type="submit"
                        value="確認画面へ"
                        class="sumitBtn"
                    />
                </div>
                <input type="hidden" name="code" value="utf8" />
            </form>
        </div>
    </div>
</section>

<style lang="scss">
    section#contact {
        background: url("/lp/fudemojiya/img/img_mv_bg.png");
        padding: 260px 0 100px;
        @media (max-width: 768px) {
            padding: 100px 0 100px;
        }
        div.cInner {
            @media (max-width: 768px) {
                padding: 0;
            }
            h2 {
                width: 482px;
                margin: 0 auto 40px;
                @media (max-width: 768px) {
                    width: 190px;
                }
                img {
                }
            }
            div.form_wrapper {
                box-shadow: 5px -5px 2px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                @media (max-width: 768px) {
                    box-shadow: 2px -2px 2px rgba(0, 0, 0, 0.1);
                    border-radius: 0px;
                }
                form {
                    .table {
                        background: #fff;
                        width: 100%;
                        padding: 60px 110px;
                        border-collapse: collapse;
                        display: block;
                        border-spacing: 0;
                        margin-bottom: 60px;
                        @media (max-width: 768px) {
                            padding: 10px 35px 25px;
                            margin-bottom: 30px;
                        }
                        tbody {
                            tr {
                                border-bottom: 2px solid #e0e0e0;
                                display: flex;
                                @media (max-width: 768px) {
                                    flex-direction: column;
                                }
                                th {
                                    width: 280px;
                                    text-align: left;
                                    display: flex;
                                    align-items: center;
                                    font-size: 24px;
                                    padding: 30px 0 25px;
                                    @media (max-width: 768px) {
                                        width: 100%;
                                        font-size: 16px;
                                        padding: 20px 0 10px;
                                    }
                                    &:has(.flex-start) {
                                        align-items: flex-start;
                                        .flex-start {
                                            display: flex;
                                            align-items: center;
                                        }
                                    }
                                    label {
                                        margin-right: 10px;
                                    }
                                    .essential {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        background: #d70025;
                                        color: #fff;
                                        width: 50px;
                                        height: 25px;
                                        border-radius: 4px;
                                        text-align: center;
                                        font-size: 14px;
                                        padding: 0px 1px 3px;
                                        @media (max-width: 768px) {
                                            font-size: 10px;
                                            height: 20px;
                                            width: 35px;
                                            padding: 0px 1px 1px;
                                        }
                                    }
                                }
                                td {
                                    width: 685px;
                                    font-size: 20px;
                                    padding: 30px 0 25px;
                                    display: block;
                                    @media (max-width: 768px) {
                                        width: 100%;
                                        font-size: 14px;
                                        padding: 0px 0 20px;
                                    }
                                    &:has(.radio) {
                                        display: flex;
                                        align-items: flex-start;
                                        gap: 20px;
                                        flex-direction: column;
                                        @media (max-width: 768px) {
                                            flex-direction: row;
                                        }
                                    }
                                    &:has(.check) {
                                        display: flex;
                                        align-items: flex-start;
                                        gap: 20px;
                                        flex-direction: column;
                                        @media (max-width: 768px) {
                                            flex-direction: row;
                                        }
                                    }
                                    &.time {
                                        display: grid;
                                        grid-template-columns: auto auto auto auto;
                                        gap: 0px;
                                        @media (max-width: 768px) {
                                            grid-template-columns: 85px 1fr;
                                            gap: 10px;
                                        }
                                        .radio {
                                            width: 100%;
                                        }
                                    }
                                    .radio {
                                        display: flex;
                                        align-items: center;
                                        input {
                                            width: 25px;
                                            height: 25px;
                                            margin-right: 15px;
                                            /* -webkit-appearance: none;
                                            -moz-appearance: none;
                                            appearance: none;
                                            border-radius: 50px;
                                            border: 5px solid #cccccc;
                                            background: #fff;
                                            position: relative;
                                            &:checked::before {
                                                position: absolute;
                                                top: 50%;
                                                left: 50%;
                                                transform: translate(
                                                    -50%,
                                                    -50%
                                                );
                                                width: 12px;
                                                height: 12px;
                                                border-radius: 50%;
                                                background: #ccc;
                                                content: "";
                                            }*/
                                            @media (max-width: 768px) {
                                                width: 15px;
                                                height: 15px;
                                                margin-right: 10px;
                                            }
                                        }
                                    }
                                    .check {
                                        align-items: center;
                                        display: flex;
                                        input {
                                            width: 25px;
                                            height: 25px;
                                            margin-right: 15px;
                                            /* -webkit-appearance: none;
                                            -moz-appearance: none;
                                            appearance: none;

                                            border: 5px solid #cccccc;
                                            background: #fff;
                                            &:checked::before {
                                                position: absolute;
                                                top: 50%;
                                                left: 50%;
                                                transform: translate(
                                                    -50%,
                                                    -50%
                                                );
                                                width: 12px;
                                                height: 12px;

                                                background: #ccc;
                                                content: "";
                                            }*/
                                            @media (max-width: 768px) {
                                                width: 15px;
                                                height: 15px;
                                                margin-right: 10px;
                                            }
                                        }
                                    }
                                    .pref {
                                        @media (max-width: 768px) {
                                            display: flex;
                                        }
                                        label {
                                            margin-right: 10px;
                                        }
                                        select {
                                            background: #f9f7e9;
                                            border-radius: 5px;
                                            border: 2px solid #d6d6d6;
                                            padding: 10px;
                                            width: 250px;
                                            margin-bottom: 35px;
                                            @media (max-width: 768px) {
                                                width: 150px;
                                                margin-bottom: 20px;
                                            }
                                            option {
                                            }
                                        }
                                    }
                                    input {
                                        width: 100%;
                                        border-radius: 5px;
                                        border: 2px solid #d6d6d6;
                                        padding: 10px;
                                        background: #f9f7e9;
                                    }
                                    input[type="file"] {
                                        background: #fff;
                                        border: 0;
                                        margin-bottom: 10px;
                                    }
                                    input::file-selector-button {
                                        background: #fff;
                                        border: 2px solid #d6d6d6;
                                        border-radius: 8px;
                                        padding: 5px 20px;
                                        margin-right: 10px;
                                    }
                                    textarea {
                                        width: 100%;
                                        border-radius: 5px;
                                        border: 2px solid #d6d6d6;
                                        padding: 10px;
                                        background: #f9f7e9;
                                    }
                                }
                            }
                        }
                    }
                    p {
                        input {
                        }
                    }
                    div.submitBtn__wrapper {
                        font-size: 30px;
                        font-weight: bold;
                        background: #fff;
                        border-left: 30px solid #cb3f20;
                        position: relative;
                        width: 620px;

                        border: 2px solid #cb3f20;
                        text-align: center;
                        box-shadow: 10px 10px 0 var(--deepred);
                        display: block;
                        margin: 0 auto;
                        transition: all 0.3s;
                        @media (max-width: 768px) {
                            width: 310px;
                            font-size: 15px;
                            box-shadow: 5px 5px 0 var(--deepred);
                        }
                        &:hover {
                            box-shadow: unset;
                            transform: translateY(10px);
                        }
                        &::before,
                        &::after {
                            content: "";
                            position: absolute;
                            top: calc(50% - 1px);
                            right: 40px;
                            width: 20px;
                            height: 3px;
                            border-radius: 9999px;
                            background-color: #cb3f20;
                            transform-origin: calc(100% - 1px) 50%;
                            @media (max-width: 768px) {
                                right: 20px;
                                width: 10px;
                                height: 2px;
                            }
                        }

                        &::before {
                            transform: rotate(45.5deg);
                        }

                        &::after {
                            transform: rotate(-45.5deg);
                        }
                        input.sumitBtn {
                            display: block;
                            width: 100%;
                            padding: 25px 0;
                            background: transparent;
                            border: 0;
                            color: #cb3f20;
                            @media (max-width: 768px) {
                                padding: 15px 0;
                            }
                        }
                    }
                }
            }
        }
    }
</style>
