<section id="flow">
    <div class="cInner">
        <h2><img src="/lp/fudemojiya/img/img_flow-txt.png" alt="" /></h2>
        <div class="tp-flow__list">
            <article>
                <div class="tp-flow__listL">
                    <img src="/lp/fudemojiya/img/img_flow_step01.png" alt="" />
                </div>
                <div class="tp-frow__listR">
                    <h3 class="Ttl">ご依頼・お問い合わせ</h3>
                    <div class="Local">
                        <p>
                            ご相談無料です。お気軽にお問い合わせフォーム、またはお電話よりご連絡ください。
                        </p>
                    </div>
                </div>
            </article>
            <article>
                <div class="tp-flow__listL">
                    <img src="/lp/fudemojiya/img/img_flow_step02.png" alt="" />
                </div>
                <div class="tp-frow__listR">
                    <h3 class="Ttl">担当よりご連絡</h3>
                    <div class="Local">
                        <p>
                            テンポスフードプレイスの担当者よりサービス詳細についてお電話でご連絡いたします。
                        </p>
                    </div>
                </div>
            </article>

            <article>
                <div class="tp-flow__listL">
                    <img src="/lp/fudemojiya/img/img_flow_step03.png" alt="" />
                </div>
                <div class="tp-frow__listR">
                    <h3 class="Ttl">お申込み</h3>
                    <div class="Local"></div>
                </div>
            </article>
            <article>
                <div class="tp-flow__listL">
                    <img src="/lp/fudemojiya/img/img_flow_step04.png" alt="" />
                </div>
                <div class="tp-frow__listR">
                    <h3 class="Ttl">ヒアリング打ち合わせ</h3>
                    <div class="Local">
                        <p>
                            制作の目的やデザイン要望、ご希望の掲載内容についてお聞かせください。
                        </p>
                    </div>
                </div>
            </article>
            <article>
                <div class="tp-flow__listL">
                    <img src="/lp/fudemojiya/img/img_flow_step05.png" alt="" />
                </div>
                <div class="tp-frow__listR">
                    <h3 class="Ttl">デザイン案 3～5案作成</h3>
                    <div class="Local">
                        <p>
                            お伺いした内容をもとに、デザイン案を作成しご提案いたします。<br
                            />
                            ※複数の作成物をご希望いただいた場合、デザインの作成は1点ずつ進めてまいります。
                        </p>
                    </div>
                </div>
            </article>
            <article>
                <div class="tp-flow__listL">
                    <img src="/lp/fudemojiya/img/img_flow_step06.png" alt="" />
                </div>
                <div class="tp-frow__listR">
                    <h3 class="Ttl">デザイン確認・修正</h3>
                    <div class="Local">
                        <p>
                            完成したデザインをメール・LINEでお送りしたします。<br
                            />
                            制作期間1ヶ月以内であれば修正を2回まで承ることができます。<br
                            />
                            よりお客様のイメージに近づけていきます。<br />
                            制作期間以降の修正は別途お見積りとさせていただきます。
                        </p>
                    </div>
                </div>
            </article>
            <article>
                <div class="tp-flow__listL">
                    <img src="/lp/fudemojiya/img/img_flow_step07.png" alt="" />
                </div>
                <div class="tp-frow__listR">
                    <h3 class="Ttl">デザイン完成</h3>
                    <div class="Local">
                        <p>
                            完成したデザインはPDFプレビューデータをメールにて納品いたします。
                        </p>
                    </div>
                </div>
            </article>
            <article>
                <div class="tp-flow__listL">
                    <img src="/lp/fudemojiya/img/img_flow_step08.png" alt="" />
                </div>
                <div class="tp-frow__listR">
                    <h3 class="Ttl">印刷・納品</h3>
                    <div class="Local">
                        <p>
                            ご希望の印刷仕様をお伺いし、印刷の手配を行います。<br
                            />
                            ※別途印刷費用と印刷代行手数料がかかります。
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>

<style lang="scss">
    #flow {
        background: #000;
        padding: 120px 0;
        position: relative;
        z-index: 9;
        @media (max-width: 768px) {
            padding: 80px 0 100px;
        }
        &::before {
            content: "";
            position: absolute;
            top: -100px;
            left: 0;
            width: 100%;
            height: 311px;
            background: url("/lp/fudemojiya/img/img_flow_bg.png") center center /
                cover no-repeat;
            z-index: -1;
            @media (max-width: 768px) {
                background: url("/lp/fudemojiya/img/img_flow_bg-sp.png") center
                    center / contain no-repeat;
                height: 81px;
                top: -27px;
            }
        }
        &::after {
            content: "";
            position: absolute;
            bottom: -113px;
            left: 0;
            width: 100%;
            height: 311px;
            background: url("/lp/fudemojiya/img/img_flow_bg02.png") center
                center / cover no-repeat;
            z-index: -1;
            @media (max-width: 768px) {
                background: url("/lp/fudemojiya/img/img_flow_bg02-sp.png")
                    center center / contain no-repeat;
                height: 72px;
                bottom: -28px;
            }
        }
        .cInner {
            h2 {
                width: 450px;
                margin: 0 auto 80px;
                @media (max-width: 768px) {
                    width: 200px;
                    margin: 0 auto 40px;
                }
            }
        }
    }
    .tp-flow__list {
        gap: 40px;
        display: flex;
        flex-flow: column;
        counter-reset: flow_counter;
        max-width: 980px;
        margin-inline: auto;
        @media (max-width: 768px) {
            gap: 25px;
        }
    }

    .tp-flow__list > article {
        position: relative;
        display: flex;
        column-gap: 60px;
        row-gap: 10px;
        @media (max-width: 768px) {
            column-gap: 30px;
        }
    }

    .tp-flow__listL {
        position: relative;
        color: #fff;
        width: 145px;
        font-weight: bold;
        counter-increment: flow_counter;
        text-align: center;
        @media (max-width: 768px) {
            width: 63px;
        }
    }

    .tp-flow__listL > p {
        background-color: var(--orange);
        font-size: 16px;
        display: inline-block;
        padding: 0 0.5em;
        color: #fff;
    }

    .tp-flow__listL > p::after {
        content: counter(flow_counter, decimal-leading-zero);
        font-size: 21px;
    }

    .tp-frow__listR {
        flex: 1;
        margin-top: 0px;
    }

    .tp-frow__listR > .Ttl {
        font-size: 30px;
        font-weight: bold;
        color: var(--orange);
        margin-block-start: 0;
        margin-block-end: 15px;
        @media (max-width: 768px) {
            font-size: 14px;
            margin-block-end: 10px;
        }
    }

    .tp-frow__listR .List > li:before {
        color: var(--orange);
    }

    .tp-frow__listR .List > li:nth-child(1):before {
        content: "①";
    }

    .tp-frow__listR .List > li:nth-child(2):before {
        content: "②";
    }

    .tp-frow__listR .List > li:nth-child(3):before {
        content: "③";
    }

    .tp-frow__listR .List > li:nth-child(4):before {
        content: "④";
    }

    .tp-frow__listR .List > li:nth-child(5):before {
        content: "⑤";
    }

    .tp-frow__listR .List > li:nth-child(6):before {
        content: "⑥";
    }

    .tp-frow__listR .List > li:nth-child(7):before {
        content: "⑦";
    }

    .tp-frow__listR .List > li:nth-child(8):before {
        content: "⑧";
    }

    .tp-frow__listR .List > li:nth-child(9):before {
        content: "⑨";
    }

    .tp-frow__txtList {
        gap: 10px;
        display: flex;
        flex-flow: column;
        color: #fff;
    }

    .tp-frow__txtList .Ttl {
        color: var(--orange);
        font-weight: bold;
    }

    .tp-frow__txtList .Ttl:before,
    .tp-frow__txtList .Ttl:after {
        color: #000;
        letter-spacing: -2px;
    }

    .tp-frow__txtList .Ttl:before {
        content: "【";
    }

    .tp-frow__txtList .Ttl:after {
        content: "】";
    }

    @media screen and (min-width: 768px) {
        .tp-flow__listL:after {
            position: absolute;
            content: "";
            left: 50%;
            transform: translateX(-50%);
            bottom: -15px;
            width: 1px;
            height: calc(100% - 3.5em);
            background-color: #868686;
        }

        .tp-frow__listR .Local {
            min-height: 1.7em;
            color: #fff;
            p {
                font-size: 24px;
            }
        }
    }
    @media screen and (max-width: 767px) {
        .tp-flow__listL:after {
            position: absolute;
            content: "";
            left: 50%;
            transform: translateX(-50%);
            bottom: 0px;
            width: 1px;
            height: calc(100% - 2em);
            background-color: #868686;
        }
        .tp-frow__listR .Local {
            min-height: 1.7em;

            color: #fff;
            p {
                font-size: 14px;
            }
        }
    }
</style>
