---
import Button from "./parts/Button.astro";
---

<section id="mv">
    <div class="mv__inner">
        <h1 class="ttl">
            <img
                src="/lp/fudemojiya/img/img_h1.png"
                alt="文字は最強のブランディング"
            />
        </h1>
        <h2 class="h02">
            書道歴13年<br class="sp" /> 準師範取得者が書く<br />本格的な筆文字
        </h2>
        <p class="mv-txt">
            下記3種類（楷書・行書・草書）のベースの<br
                class="sp"
            />書体サンプルから字体をお選びいただき<br />
            店名のイメージにあわせて作成いたします。
        </p>
    </div>
    <div class="mv_inner02">
        <div class="cInner">
            <div class="list">
                <div class="item">
                    <img src="/lp/fudemojiya/img/img_introlist01.png" alt="" />
                </div>
                <div class="item">
                    <img src="/lp/fudemojiya/img/img_introlist02.png" alt="" />
                </div>
                <div class="item">
                    <img src="/lp/fudemojiya/img/img_introlist03.png" alt="" />
                </div>
            </div>
        </div>
    </div>

    <Button />
</section>

<style lang="scss">
    section#mv {
        padding: 84px 0 80px;
        background: url("/lp/fudemojiya/img/img_mv_bg.png") center center /
            contain repeat-y;
        overflow-x: hidden;
        @media (max-width: 768px) {
            padding: 60px 0 80px;
        }
        div.mv__inner {
            padding: 50px 0 30px;
            @media (max-width: 768px) {
                padding: 90px 0 30px;
            }
            h1.ttl {
                width: 980px;
                margin: 60px auto 170px;
                @media (max-width: 768px) {
                    width: 330px;
                    margin: 0px auto 80px;
                }
            }
            .h02 {
                font-size: 60px;
                font-weight: bold;
                font-family: var(--mincho);
                text-align: center;
                margin-bottom: 30px;
                position: relative;
                z-index: 1;
                @media (max-width: 768px) {
                    font-size: 25px;
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: -84px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 1480px;
                    height: 310px;
                    background: url("/lp/fudemojiya/img/img_mvtxt_bg.png")
                        center center / contain no-repeat;
                    z-index: -1;
                    @media (max-width: 768px) {
                        width: 360px;
                        height: 85px;
                        top: 3px;
                    }
                }
            }
            p.mv-txt {
                text-align: center;
                font-size: 24px;
                line-height: 1.75;
                font-weight: 400;
                position: relative;
                z-index: 9;
                margin-bottom: 40px;

                @media (max-width: 768px) {
                    font-size: 12px;
                    margin-bottom: 0px;
                    font-weight: 500;
                }
            }
        }
        div.mv_inner02 {
            background: url("/lp/fudemojiya/img/img_mv_bg02.png") center center /
                contain repeat-y;
            margin-bottom: 100px;
            @media (max-width: 768px) {
                background: url("/lp/fudemojiya/img/img_mv_bg02.png") center
                    center / cover repeat-y;
                margin-bottom: 40px;
            }
            div.cInner {
                div.list {
                    display: grid;
                    grid-template-rows: auto 1fr auto; /* 縦列は3行で整列させる */
                    grid-template-columns: repeat(3, 1fr); /* 横列は3列均等 */
                    grid-column-gap: 120px;
                    max-width: 980px;
                    margin: 0 auto;
                    @media (max-width: 768px) {
                        grid-column-gap: 10px;
                    }
                    div.item {
                        img {
                        }
                    }
                }
            }
        }
    }
</style>
