<section id="sample">
    <div class="cInner">
        <h2 class="h02">
            筆文字の店名・<br class="sp" />メニュー表の<br />制作承ります
        </h2>
        <p class="txt">
            手書きの筆文字の魅力は書体フォントでは表現できない<br />
            温かみやダイナミックさなど目的に合わせた<br />
            唯一無二のデザインを作ることができます。
        </p>
        <div class="sample">
            <h3>筆文字ロゴ・サンプル</h3>
            <div class="list">
                <div class="item">
                    <img src="/lp/fudemojiya/img/img_sample01.png" alt="" />
                </div>
                <div class="item">
                    <img src="/lp/fudemojiya/img/img_sample02.png" alt="" />
                </div>
                <div class="item">
                    <img src="/lp/fudemojiya/img/img_sample03.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    section#sample {
        background: url("/lp/fudemojiya/img/img_mv_bg.png");
        padding: 50px 0 240px;
        overflow-x: hidden;
        @media (max-width: 768px) {
            padding: 0px 0 80px;
        }
        div.cInner {
            h2.h02 {
                margin-block-end: 30px;
                @media (max-width: 768px) {
                    font-size: 25px;
                }
                &::before {
                    background: url(/lp/fudemojiya/img/img_sampletxt_bg.png)
                        center center / contain no-repeat;
                    top: -65px;
                    width: 1640px;
                    height: 288px;
                    @media (max-width: 768px) {
                        width: 345px;
                        height: 85px;
                        top: 5px;
                    }
                }
            }
            p.txt {
                font-size: 24px;
                text-align: center;
                line-height: 1.75;
                font-weight: 400;
                margin-bottom: 60px;
                z-index: 1;
                position: relative;
                @media (max-width: 768px) {
                    font-size: 12px;
                    margin-bottom: 30px;
                    font-weight: 500;
                }
            }
            div.sample {
                background: #fff;
                padding: 75px 110px;
                position: relative;
                z-index: 9;
                border-radius: 10px;
                box-shadow: 5px -5px 2px rgba(0, 0, 0, 0.1);
                @media (max-width: 768px) {
                    padding: 50px 20px;
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 300px;
                    right: -106%;
                    transform: translateX(-50%);
                    width: 1040px;
                    height: 977px;
                    background: url("/lp/fudemojiya/img/img_sample_bg_texture.png")
                        center center / cover no-repeat;
                    z-index: -2;
                    @media (max-width: 768px) {
                        content: none;
                    }
                }
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -100px;
                    left: -18%;
                    transform: translateX(-50%);
                    width: 1040px;
                    height: 977px;
                    background: url("/lp/fudemojiya/img/img_sample_bg_texture.png")
                        center center / cover no-repeat;
                    z-index: -2;
                    @media (max-width: 768px) {
                        content: none;
                    }
                }
                h3 {
                    font-size: 40px;
                    text-align: center;
                    margin-bottom: 80px;
                    position: relative;
                    @media (max-width: 768px) {
                        font-size: 14px;
                        margin-bottom: 40px;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        bottom: -30px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 800px;
                        height: 8px;
                        background: #000;
                        @media (max-width: 768px) {
                            width: 250px;
                            height: 4px;
                            bottom: -15px;
                        }
                    }
                }
                div.list {
                    display: flex;
                    flex-direction: column;
                    gap: 40px;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 1200px;
                        height: 105.5%;
                        background: #fff;
                        border-radius: 10px;
                        z-index: -1;
                        @media (max-width: 768px) {
                            content: none;
                        }
                    }
                    div.item {
                        img {
                        }
                    }
                }
            }
        }
    }
</style>
