---
import Layout from "../../../layouts/Layout.astro";
import ContactArea from "../../../components/common/ContactArea.astro";
import structuredDataMarkup from "../../../data/data.json";
const markup = JSON.stringify(structuredDataMarkup.kakuyasu);
---

<Layout
    title="業務用お酒の卸「なんでも酒やカクヤス」｜テンポスフードプレイス"
    description="なんでも酒やカクヤスは国内業務用酒販売上No.1！豊富な品揃えや物流・営業スタッフの強力なサポート体制など、他には真似のできないサービスで飲食店様をサポートします。テンポスフードプレイスが年中無休、1本から送料無料の酒屋をご紹介します。"
    pageUrl="/menu/kakuyasu/"
    ogimage="/asset/images/kakuyasu/ogp_kakuyasu.jpg"
    markup={markup}
>
    <article id="mainarea">
        <div class="tp-border sans">
            <nav class="tp-nav">
                <ol class="tp-nav__list flex">
                    <li><a href="/">トップページ</a></li>
                    <li><a href="/menu/">食材仕入れ</a></li>
                    <li>業務用酒販店「カクヤス」</li>
                </ol>
            </nav>
            <section class="tp-front__section">
                <h1 class="tp-front__ttl font_m_plus">
                    <span>業務用酒販店「カクヤス」</span>
                </h1>
                <p class="tp-front__caption">
                    豊富な品揃えや物流・営業スタッフの強力なサポート体制など、<br
                        class="pc"
                    />
                    他には真似のできないサービスで飲食店様をサポートいたします！
                </p>
                <p class="tp-front__contact">
                    <a class="click_link_mail" href="/contact/?checked=38"
                        >お問い合わせはこちら</a
                    >
                </p>
            </section>

            <section class="tp-worries__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __border">
                    <span></span>こんなお悩みありませんか？<span></span>
                </h2>
                <ul class="tp-check__list tp-wrapper__l">
                    <li>
                        <span class="tp-bglg">ビールサーバー</span>を設置したい
                    </li>
                    <li>
                        仕入れ値を見直して<span class="tp-bglg"
                            >コストダウン</span
                        >したい
                    </li>
                    <li>
                        今取引している酒屋は<span class="tp-bglg"
                            >毎日配達してくれない</span
                        >
                    </li>
                </ul>
            </section>
            <section class="tp-design__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    ピンクの看板の酒屋「カクヤス」がおすすめ！
                </h2>
                <div class="tp-design__contents flex">
                    <div class="tp-local__wrap">
                        <p class="tp-local">
                            豊富な品揃えや物流・営業スタッフの強力なサポート体制など、他には真似のできないサービスで飲食店様をサポートいたします！
                        </p>
                        <p class="tp-local">
                            ビールメーカーの相談から、お店に合うビールサーバーのご提案、店舗への設置まで無料で対応いたします。
                        </p>
                        <p class="tp-local txt__s">
                            ※サーバーの設置はメーカー確認後となります。<br />
                            ※業務用酒類仕入のお取引については、東京都・神奈川県・千葉県・埼玉県・大阪府・京都府・兵庫県（各一部エリアを除く）とさせていただきます。
                        </p>
                    </div>
                    <p class="tp-design__thumb">
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/kakuyasu/2x/img_kakuyasu_design@2x.png"
                            />
                            <img
                                src="/asset/images/kakuyasu/img_kakuyasu_design.png"
                                srcset="/asset/images/kakuyasu/img_kakuyasu_design.png 1x,/asset/images/kakuyasu/2x/img_kakuyasu_design@2x.png 2x"
                                alt=""
                                width="180"
                                height="301"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </p>
                </div>
            </section>

            <section class="tp-point__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-point__ttl__span">カクヤスサービスの</span>
                    <span class="tp-ttl__balloon__span"
                        ><span>5</span>つの特徴</span
                    >
                </h2>
                <ul class="tp-point__list __1clm">
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt"
                                >年中無休　365日毎日お届け！</span
                            >
                        </h3>
                        <p class="Local">
                            土日、祝日はもちろん、お盆や年末年始も365日休まず配達いたします。<br
                            />飲食店様の「欲しい」にいつでもお応えいたします。
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt"
                                >営業体制　メンバー約200名！</span
                            >
                        </h3>
                        <p class="Local">
                            エリアごとに専属の営業スタッフがおり、一軒一軒のお店へきめ細かいサポートをしています。<br
                            />対応力と提案力が違います。
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt"
                                >圧倒的配達力　200拠点以上！</span
                            >
                        </h3>
                        <p class="Local">
                            200ヵ所以上の配達拠点を活かした圧倒的な配達網。<br
                            />スムーズな連携と、きめ細かい対応で急なご注文にも対応します。
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">品揃え　約23,000点！</span>
                        </h3>
                        <p class="Local">
                            3,000社以上のメーカーや業者とのお付き合いがあり、品揃えは23,000点にものぼります。<br
                            />小ロットでの納品が可能です！
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt"
                                >コスト削減　PB商品多数！</span
                            >
                        </h3>
                        <p class="Local">
                            自信を持っておすすめする、低価格・高品質のオリジナル商品は酒類だけでなく割り材や調味料まで多岐にわたります。
                        </p>
                    </li>
                </ul>
            </section>

            <ContactArea />

            <section class="tp-frow__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">ご利用までの流れ</span>
                </h2>
                <div class="tp-flow__list">
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">お問い合わせ</h3>
                            <div class="Local">
                                <p>
                                    ご相談は無料です。<br />
                                    開業前の方、物件がまだ見つかっていない方もお気軽にお問い合わせフォームよりご連絡ください。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">問い合わせ担当者からのご連絡</h3>
                            <div class="Local">
                                <p>
                                    お店のエリアや業態、座席数、営業時間などを伺います。<br
                                    />お酒以外のご要望もありましたらお伺いいたします。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">各エリアの担当からご連絡</h3>
                            <div class="Local">
                                <p>
                                    お店の所在地ごとの営業担当から直接ご連絡いたします。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">アポイント取得</h3>
                            <div class="Local">
                                <p>
                                    物件が決まっていない、現在工事中で入れない場合でも近隣のカフェ等で商談させて頂く事も可能です。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">初回商談（物件内見）</h3>
                            <div class="Local">
                                <p>
                                    物件が確認出来るようであれば見学をさせて頂き、オーナー様がお考えのコンセプトや開店までのイメージをヒアリングさせて頂きます。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">ご提案資料、お見積りの提出</h3>
                            <div class="Local">
                                <p>
                                    オーナー様のコンセプトや出店エリア、職種、業態に沿ったご提案をさせて頂きます。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">お取引申し込み</h3>
                            <div class="Local">
                                <p>
                                    お支払方法や発注方法、納品時間など、お客様のご希望、ご要望に沿ったものをご用意、ご提案させて頂きます。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">ビールサーバー設置</h3>
                            <div class="Local">
                                <p>
                                    ビールサーバーが必要な場合は弊社経由でビールメーカー様へ設置の打診をさせて頂きます。
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>

            <section class="tp-faq__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">よくある質問</span>
                </h2>
                <div class="g-acodion">
                    <dl>
                        <dt>
                            仕入れ値を見直してコストダウンしたい。<br
                            />飲み放題を始めたいけれど利益が出せるか心配で迷っている・・・
                        </dt>
                        <dd>
                            カクヤスでは低価格で高品質なPB商品を各種取り揃えております。<br
                            />
                            飲み放題に欠かせない焼酎ベースや、人気のハイボールで使用するウイスキーや炭酸水も大容量でご用意しています。<br
                            />
                            お料理に必要不可欠な料理酒や本みりんも安価でご案内しております。<br
                            />
                            今お使いの物からカクヤスPB商品へお切り替えいただくだけでコストダウンが見込めます。<br
                            />
                            例えばお酒の仕入れ1本を50円コストダウンしただけで、毎日1本仕入れ続けたら年間で約20,000円近くの削減ができます。<br
                            />
                            お見積もり、シミュレーションの作成もできますのでお気軽にお問い合わせください。
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            繁盛につながる情報が欲しい。<br
                            />市場状況や他のお店はどんな事をやっているのか知りたい。
                        </dt>
                        <dd>
                            カクヤスの強みのひとつは圧倒的な営業力です。<br />
                            カクヤスの営業スタッフは単なる御用聞きではありません。一軒一軒のお店へのきめ細かいサポートがカクヤスの強みです。<br
                            />
                            約150名のエリア専任の営業スタッフ、チェーン店様には企業ごとに担当を配置し、情報力とアイデアでご繁盛のお手伝いをさせていただきます。飲食店様向けのメールマガジン「飲食店お役立ちメール」では、毎週お得なキャンペーン情報や新商品情報、季節や流行りの商品特集などをご案内しています。
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            試してみたい商品があるのだけれど、今付き合っている酒屋だとケースでしか仕入れられない・・・
                        </dt>
                        <dd>
                            カクヤスは3,000社以上のメーカーや業者とのお付き合いがあり、品揃えは23,000点にものぼります。<br
                            />
                            長年の取引実績で小ロットでの納品が可能です！<br />
                            店頭には置いていない業務専売商品や季節限定品も多数取り扱いがございます。<br
                            />
                            まずはお気軽にお問い合わせください。
                        </dd>
                    </dl>
                </div>
            </section>

            <ContactArea />

            <section class="tp-others__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">その他関連サービス</span
                    >
                </h2>
                <div class="tp-others__list">
                    <!--
						<article>
							<a href="https://www.tenpos.com/food-search/" target="_blank">
								<p class="Thumb">
									<picture>
										<source media="(max-width:767px)"
											srcset="/asset/images/common/2x/img_kanren_service_food-search@2x.png">
										<img src="/asset/images/common/img_kanren_service_food-search.png"
											srcset="/asset/images/common/img_kanren_service_food-search.png 1x,/asset/images/common/2x/img_kanren_service_food-search@2x.png 2x"
											alt="テンポスフードサーチ" width="304" height="231" loading="lazy" class="imgauto">
									</picture>
								</p>
								<h3 class="Ttl">
									テンポスフードサーチ
								</h3>
							</a>
						</article>
						-->
                    <article>
                        <a
                            href="https://support.tenpos.com/lp/service/op-celebration/"
                            target="_blank"
                        >
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_op-celebration@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_op-celebration.png"
                                        srcset="/asset/images/common/img_kanren_service_op-celebration.png 1x,/asset/images/common/2x/img_kanren_service_op-celebration@2x.png 2x"
                                        alt="味の素　開業祝セット"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">味の素　開業祝セット</h3>
                        </a>
                    </article>
                    <!--
						<article>
							<a href="https://support.tenpos.com/lp/service/order_gate/" target="_blank">
								<p class="Thumb">
									<picture>
										<source media="(max-width:767px)"
											srcset="/asset/images/common/2x/img_kanren_service_order_gate@2x.png">
										<img src="/asset/images/common/img_kanren_service_order_gate.png"
											srcset="/asset/images/common/img_kanren_service_order_gate.png 1x,/asset/images/common/2x/img_kanren_service_order_gate@2x.png 2x"
											alt="食材仕入れ価格削減" width="304" height="231" loading="lazy" class="imgauto">
									</picture>
								</p>
								<h3 class="Ttl">
									食材仕入れ価格削減
								</h3>
							</a>
						</article>
						-->
                </div>
            </section>
        </div>
    </article>
</Layout>

<style>
    @charset "utf-8";

    /*-----------------------
mv tp-front__section
-----------------------*/
    .tp-front__section {
        background-image: url(/asset/images/kakuyasu/mv_kakuyasu.jpg);
    }

    /*-----------------------
こんなお悩みありませんか？ tp-worries__section
-----------------------*/
    .tp-worries__section .tp-check__list > li {
        display: block;
    }

    /*-----------------------
tp-design__section
-----------------------*/
    .tp-design__section .tp-design__thumb {
        margin-top: -45px;
    }
    @media screen and (max-width: 1270px) {
        .tp-design__section .tp-design__thumb {
            margin-top: 0;
        }
    }
    @media screen and (max-width: 767px) {
        .tp-design__section .tp-design__thumb {
            width: 40%;
        }
    }

    /*-----------------------
5つの特徴 tp-point__section
-----------------------*/
    .tp-point__section .tp-point__list > li > .Ttl:before {
        width: 57px;
        margin-right: 13px;
    }
    .tp-point__section .tp-point__list > li:nth-child(1) > .Ttl::before {
        background: url(/asset/images/common/icon_point25.png) no-repeat center
            center / contain;
    }
    .tp-point__section .tp-point__list > li:nth-child(2) > .Ttl::before {
        background: url(/asset/images/common/icon_point26.png) no-repeat center
            center / contain;
    }
    .tp-point__section .tp-point__list > li:nth-child(3) > .Ttl::before {
        background: url(/asset/images/common/icon_point22.png) no-repeat center
            center / contain;
    }
    .tp-point__section .tp-point__list > li:nth-child(4) > .Ttl::before {
        background: url(/asset/images/common/icon_point27.png) no-repeat center
            center / contain;
    }
    .tp-point__section .tp-point__list > li:nth-child(5) > .Ttl::before {
        background: url(/asset/images/common/icon_point28.png) no-repeat center
            center / contain;
    }
    .tp-point__section .tp-point__list .Ttl__txt {
        width: calc(100% - 70px);
    }

    /*-----------------------
ご利用までの流れ tp-frow__section
-----------------------*/
    .tp-frow__section {
        margin-top: 80px;
    }
    @media screen and (max-width: 767px) {
        .tp-frow__section {
            margin-top: 40px;
        }
    }
</style>
