---
import Layout from "../../../layouts/Layout.astro";
import ContactArea from "../../../components/common/ContactArea.astro";
import structuredDataMarkup from "../../../data/data.json";
const markup = JSON.stringify(structuredDataMarkup.ipTelephone);
---

<Layout
    title="店舗向けIP電話導入支援｜テンポスフードプレイス"
    description="回線工事不要！固定電話よりお手軽に使えるお店の電話をご紹介。導入をお考えの方はテンポスフードプレイスへ。 24時間365日のサポート体制があるため、電話機が故障した等トラブルがあった際も安心です。"
    pageUrl="/telecom/ip-telephone/"
    ogimage="/asset/images/ip-telephone/ogp_ip-telephone.jpg"
    markup={markup}
>
    <article id="mainarea">
        <div class="tp-border sans">
            <nav class="tp-nav">
                <ol class="tp-nav__list flex">
                    <li><a href="/">トップページ</a></li>
                    <li><a href="/telecom/">店舗インフラ</a></li>
                    <li>IP電話</li>
                </ol>
            </nav>
            <section class="tp-front__section">
                <h1 class="tp-front__ttl font_m_plus">
                    <span>IP電話</span>
                </h1>
                <p class="tp-front__caption">
                    USENの店舗向けIP電話(USEN PHONE)を<br />ご案内いたします。
                </p>
                <p class="tp-front__contact">
                    <a class="click_link_mail" href="/contact/?checked=37"
                        >お問い合わせはこちら</a
                    >
                </p>
            </section>

            <section class="tp-worries__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __border">
                    <span></span>こんなお悩みありませんか？<span></span>
                </h2>
                <ul class="tp-check__list tp-wrapper__l">
                    <li>
                        <span class="tp-bglg">回線工事をせず</span
                        >、店舗電話を導入したい
                    </li>
                    <li>
                        電話番号を<span class="tp-bglg">すぐに取得したい</span>
                    </li>
                    <li><span class="tp-bglg">初期費用</span>を安く抑えたい</li>
                    <li>
                        電話を導入するか<span class="tp-bglg">迷っている</span>
                    </li>
                </ul>
            </section>

            <section class="tp-design__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">店舗向けIP電話を導入しませんか？</h2>
                <div class="tp-design__contents flex">
                    <div class="tp-local__wrap">
                        <p class="tp-local">
                            Web予約やメールでの予約が普及しつつありますが、電話で予約したいという人も一定数いらっしゃいます。
                        </p>
                        <p class="tp-local">
                            「電話番号がないから」という理由で予約を逃す可能性もありますので、電話の導入をオススメします！
                        </p>
                    </div>
                    <p class="tp-design__thumb">
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/ip-telephone/2x/img_ip-telephone_design@2x.png"
                            />
                            <img
                                src="/asset/images/ip-telephone/img_ip-telephone_design.png"
                                srcset="/asset/images/ip-telephone/img_ip-telephone_design.png 1x,/asset/images/ip-telephone/2x/img_ip-telephone_design@2x.png 2x"
                                alt=""
                                width="170"
                                height="244"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </p>
                </div>
            </section>

            <section class="tp-want__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center">
                    テンポスではUSENの店舗向けIP電話をご紹介可能
                </h2>
                <div class="tp-want__local__wrap tp-wrapper__m">
                    <p class="tp-want__local">
                        回線工事をせず店舗電話を導入したいという方にオススメなのが<span
                            class="tp-bglg">USENのIP電話</span
                        >です！
                    </p>
                    <p class="tp-want__local">
                        費用も安く抑えることができ、「操作方法がわからない」「電話が故障した」などトラブルがあった際も<span
                            class="tp-bglg">24時間365日のサポート体制</span
                        >があるため安心です。
                    </p>
                </div>
                <p class="tp-want__thumb width-80">
                    <picture>
                        <source
                            media="(max-width:767px)"
                            srcset="/asset/images/ip-telephone/2x/img_ip-telephone_want@2x.png"
                        />
                        <img
                            src="/asset/images/ip-telephone/img_ip-telephone_want.png"
                            srcset="/asset/images/ip-telephone/img_ip-telephone_want.png 1x,/asset/images/ip-telephone/2x/img_ip-telephone_want@2x.png 2x"
                            alt=""
                            width="601"
                            height="156"
                            loading="lazy"
                            class="imgauto"
                        />
                    </picture>
                </p>
            </section>

            <section class="tp-point__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-point__ttl__span">IP電話(USEN PHONE)</span>
                    <span class="tp-ttl__balloon__span"
                        ><span>3</span>つの特徴</span
                    >
                </h2>
                <ul class="tp-point__list __1clm">
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">市外局番所得可能</span>
                        </h3>
                        <p class="Local">
                            全国16箇所で市外局番が、全国で050番号がお好みの番号で所得できます。<br
                            />
                            ※USENが保有する番号から選択可能です。
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">電話機無料レンタル</span>
                        </h3>
                        <p class="Local">
                            電話機は利用料金に込み！故障時には無償交換で、安心・お手軽導入。
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">万全のサポート体制</span>
                        </h3>
                        <p class="Local">
                            24時間365日の電話サポートがあるため、万が一電話の声が聞こえないなどのトラブルがあった際も安心です。
                        </p>
                    </li>
                </ul>
            </section>

            <section class="tp-merit01__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center __num01 tp-wrapper__s">
                    電話番号がすぐ決まる
                </h2>
                <p class="tp-local tp-mgb__s tp-wrapper__s">
                    USENのIP電話は複数の候補から電話番号を選んですぐに取得可能です。利用開始までは料金はかからず利用開始日もご自身で決められるので、無駄な費用が発生しません。
                </p>
                <p class="tp-merit01__thumb">
                    <picture>
                        <source
                            media="(max-width:767px)"
                            srcset="/asset/images/ip-telephone/2x/img_ip-telephone_merit01@2x.png"
                        />
                        <img
                            src="/asset/images/ip-telephone/img_ip-telephone_merit01.png"
                            srcset="/asset/images/ip-telephone/img_ip-telephone_merit01.png 1x,/asset/images/ip-telephone/2x/img_ip-telephone_merit01@2x.png 2x"
                            alt=""
                            width="204"
                            height="189"
                            loading="lazy"
                            class="imgauto"
                        />
                    </picture>
                </p>
            </section>

            <section class="tp-merit02__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center __num02 tp-wrapper__s">
                    液晶画面でFAXが使える
                </h2>
                <p class="tp-local tp-mgb__s tp-wrapper__s">
                    USENのIP電話は電話とFAXが1台になった新しいお店の電話です。インターネット回線を通して、電話の液晶画面をそのままFAXとしてご利用いただけるため、
                    FAX用紙のコストや紙の紛失の心配がなくなります。
                </p>
                <p class="tp-merit02__thumb">
                    <picture>
                        <source
                            media="(max-width:767px)"
                            srcset="/asset/images/ip-telephone/2x/img_ip-telephone_merit02@2x.png"
                        />
                        <img
                            src="/asset/images/ip-telephone/img_ip-telephone_merit02.png"
                            srcset="/asset/images/ip-telephone/img_ip-telephone_merit02.png 1x,/asset/images/ip-telephone/2x/img_ip-telephone_merit02@2x.png 2x"
                            alt=""
                            width="158"
                            height="248"
                            loading="lazy"
                            class="imgauto"
                        />
                    </picture>
                </p>
            </section>

            <section class="tp-attention__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">料&emsp;金</span>
                </h2>
                <h3 class="tp-attention__price">
                    <!--<span class="First">
					月額<br>料金
					</span>-->
                    2,480
                    <span class="Yen">円～ /月々</span>
                </h3>
            </section>

            <ContactArea />

            <section class="tp-frow__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">ご利用までの流れ</span>
                </h2>
                <div class="tp-flow__list">
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">無料相談・お問い合わせ</h3>
                            <div class="Local">
                                <p>
                                    ご相談は無料です。店鋪電話を導入するか悩んでいるといった場合も、まずはお気軽にお問い合わせください。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">フードプレイスよりご連絡</h3>
                            <div class="Local">
                                <p>電話でお客様の相談内容をお伺いします。</p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">提携先からのご連絡</h3>
                            <div class="Local">
                                <p>
                                    電話や現地への訪問を通じてサービスの内容や料金プランをお客様に提案します。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">ご契約</h3>
                            <div class="Local">
                                <p>
                                    サービス内容や料金など、お客様のご要望と相違がなければ契約になります。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">設置・利用開始</h3>
                            <div class="Local">
                                <p>端末到着後、電源を入れてご利用可能です。</p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">アフターサポート</h3>
                            <div class="Local">
                                <p>
                                    導入後も24 時間 365
                                    日のサポート体制があるため、安心してご利用いただけます。
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>

            <section class="tp-faq__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">よくある質問</span>
                </h2>
                <div class="g-acodion">
                    <dl>
                        <dt>店外でも利用できますか？</dt>
                        <dd>
                            店内での利用限定となります。店外ではご利用いただけませんので、ご注意ください。
                        </dd>
                    </dl>
                    <dl>
                        <dt>電話が故障した場合は修理代がかかるの？</dt>
                        <dd>
                            万が一電話機が故障した場合も無料交換できますので、安心です。
                        </dd>
                    </dl>
                    <dl>
                        <dt>通話料はどのくらいかかるの？</dt>
                        <dd>
                            3分7円でご利用可能です。<br />
                            ※複数店舗間のUSEN PHONE同士の通話は無料になります。
                        </dd>
                    </dl>
                </div>
            </section>

            <ContactArea />

            <section class="tp-others__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">その他関連サービス</span
                    >
                </h2>
                <div class="tp-others__list">
                    <article>
                        <a href="/telecom/internetline/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_internetline@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_internetline.png"
                                        srcset="/asset/images/common/img_kanren_service_internetline.png 1x,/asset/images/common/2x/img_kanren_service_internetline@2x.png 2x"
                                        alt="インターネット回線"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">インターネット回線</h3>
                        </a>
                    </article>
                    <article>
                        <a href="/telecom/music/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_music@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_music.png"
                                        srcset="/asset/images/common/img_kanren_service_music.png 1x,/asset/images/common/2x/img_kanren_service_music@2x.png 2x"
                                        alt="店舗BGM"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">店舗BGM</h3>
                        </a>
                    </article>
                    <article>
                        <a href="/telecom/karaoke/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_karaoke@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_karaoke.png"
                                        srcset="/asset/images/common/img_kanren_service_karaoke.png 1x,/asset/images/common/2x/img_kanren_service_karaoke@2x.png 2x"
                                        alt="カラオケ"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">カラオケ</h3>
                        </a>
                    </article>
                </div>
            </section>
        </div>
    </article>
</Layout>

<style>
    @charset "utf-8";

    /*-----------------------
mv tp-front__section
-----------------------*/
    .tp-front__section {
        background-image: url(/asset/images/ip-telephone/mv_ip-telephone.jpg);
    }

    /*-----------------------
こんなお悩みありませんか？ tp-worries__section
-----------------------*/
    .tp-worries__section .tp-check__list > li {
        display: block;
    }

    /*-----------------------
tp-design__section
-----------------------*/
    @media screen and (max-width: 767px) {
        .tp-design__section .tp-design__thumb {
            width: 40%;
            max-width: 150px;
        }
    }

    /*-----------------------
tp-want__section
-----------------------*/
    @media screen and (max-width: 767px) {
        .tp-want__section .tp-want__thumb {
            width: 100%;
            max-width: 500px;
        }
    }

    /*-----------------------
3つの特徴 tp-point__section
-----------------------*/
    .tp-point__section .tp-point__list > li > .Ttl:before {
        width: 50px;
    }
    .tp-point__section .tp-point__list > li:nth-child(1) > .Ttl::before {
        background: url(/asset/images/common/icon_point33.png) no-repeat center
            center / contain;
    }
    .tp-point__section .tp-point__list > li:nth-child(2) > .Ttl::before {
        background: url(/asset/images/common/icon_point31.png) no-repeat center
            center / contain;
    }
    .tp-point__section .tp-point__list > li:nth-child(3) > .Ttl::before {
        background: url(/asset/images/common/icon_point14.png) no-repeat center
            center / contain;
    }
    .tp-point__section .tp-point__list .Ttl__txt {
        width: calc(100% - 60px);
    }

    /*-----------------------
メリット1 tp-merit01__section
-----------------------*/
    .tp-merit01__section.tp-sec p.tp-merit01__thumb {
        max-width: 204px;
    }
    @media screen and (max-width: 767px) {
        .tp-merit01__section.tp-sec p.tp-merit01__thumb {
            max-width: 150px;
        }
    }

    /*-----------------------
メリット2 tp-merit02__section
-----------------------*/
    .tp-merit02__section.tp-sec p.tp-merit02__thumb {
        max-width: 156px;
    }
    @media screen and (max-width: 767px) {
        .tp-merit02__section.tp-sec p.tp-merit02__thumb {
            max-width: 120px;
        }
    }

    /*-----------------------
料金 tp-attention__section
-----------------------*/
    .tp-attention__section .tp-attention__price > .Yen:after {
        content: none;
    }

    /*-----------------------
ご利用までの流れ tp-frow__section
-----------------------*/
    .tp-frow__section {
        margin-top: 80px;
    }
    @media screen and (max-width: 767px) {
        .tp-frow__section {
            margin-top: 40px;
        }
    }
</style>
