---
import Layout from "../../../layouts/Layout.astro";
import ContactArea from "../../../components/common/ContactArea.astro";
import structuredDataMarkup from "../../../data/data.json";
const markup = JSON.stringify(structuredDataMarkup.logoCreation);
---

<Layout
    title="プロデザイナーに依頼できる飲食店ロゴ作成なら、年間2万件以上の新規飲食店開業支援実績のあるテンポスへ"
    description="お店の想いや雰囲気を形にしませんか？経験10年以上のデザイナーが担当！ロゴと合わせてチラシや名刺の作成も可能です。無料オンライン相談もOK｜テンポスフードプレイス"
    pageUrl="/promotion/logo_creation/"
    ogimage="/asset/images/logo_creation/ogp_logo_creation.jpg"
    markup={markup}
>
    <article id="mainarea">
        <div class="tp-border sans">
            <nav class="tp-nav">
                <ol class="tp-nav__list flex">
                    <li><a href="/">トップページ</a></li>
                    <li><a href="/marketing/">集客</a></li>
                    <li>ロゴ作成</li>
                </ol>
            </nav>

            <section class="tp-front__section">
                <h1 class="tp-front__ttl font_m_plus">
                    <span>ロゴ作成</span>
                </h1>
                <p class="tp-front__caption">
                    あなたのお店だけのロゴを<br
                        class="sp"
                    />格安で作成いたします。
                </p>
                <p class="tp-front__contact">
                    <a class="click_link_mail" href="/contact/?checked=17"
                        >お問い合わせはこちら</a
                    >
                </p>
            </section>

            <section class="tp-worries__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __border">
                    <span></span>こんなお悩みありませんか？<span></span>
                </h2>
                <ul class="tp-check__list tp-wrapper__l">
                    <li>
                        ロゴを作りたいけど<span class="tp-bglg"
                            >高くて頼めない</span
                        >
                    </li>
                    <li>
                        <span class="tp-bglg">自分のお店だけのロゴ</span
                        >がつくりたい
                    </li>
                    <li>
                        <span class="tp-bglg">1から相談して</span
                        >デザインを決めたい
                    </li>
                </ul>
            </section>

            <section class="tp-design__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">テンポスでは低価格でロゴ作成が可能です！</h2>
                <div class="tp-design__contents flex">
                    <div class="tp-local__wrap">
                        <p class="tp-local">
                            お店の象徴となるロゴマーク。<br />
                            せっかく作るならそのお店のコンセプトや大事にしていることをロゴにしてみませんか？<br
                            />
                            テンポスでなら飲食店のロゴマークを、多くの作成実績があるデザイナーが作成いたします。
                        </p>
                        <p class="tp-local">
                            どんなデザインにしたらいいかわからない、、、とデザイン作成にハードルを感じている方でも大丈夫！<br
                            />
                            作成担当と打ち合わせの時間があるので、安心してお任せください！
                        </p>
                    </div>
                    <p class="tp-design__thumb">
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/logo_creation/2x/img_logo_creation_design@2x.png"
                            />
                            <img
                                src="/asset/images/logo_creation/img_logo_creation_design.png"
                                srcset="/asset/images/logo_creation/img_logo_creation_design.png 1x,/asset/images/logo_creation/2x/img_logo_creation_design@2x.png 2x"
                                alt=""
                                width="200"
                                height="243"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </p>
                </div>
            </section>

            <section class="tp-want__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center">
                    ロゴを使った販促物の作成も可能です！
                </h2>
                <ul class="tp-check__list tp-wrapper__l tp-mgb__s">
                    <li>
                        ロゴを一つ作ったら使用用途は無限大！<br /><span
                            class="tp-bglg"
                            >看板やテイクアウト用パッケージ、チラシやポスター</span
                        >などに<br
                        />あなたのお店のロゴマークを使用してみませんか？
                    </li>
                    <li>
                        テンポスなら、<span class="tp-bglg"
                            >デザインの作成からそのあとの印刷、必要であればポスティングまで</span
                        >行っております。<br
                        />それぞれ別の企業に依頼すると、窓口が多くなりすぎて対応が大変とお困りのオーナー様が非常に多いです。<br
                        />テンポスなら一貫してお任せいただけるので、手間がなくなります。
                    </li>
                    <li>
                        作成ご希望の販促物のデザイン費用や印刷費用は、<span
                            class="tp-bglg">無料でお見積り</span
                        >可能です！
                    </li>
                </ul>
                <p class="tp-want__thumb">
                    <picture>
                        <source
                            media="(max-width:767px)"
                            srcset="/asset/images/logo_creation/2x/img_logo_creation_want@2x.png"
                        />
                        <img
                            src="/asset/images/logo_creation/img_logo_creation_want.png"
                            srcset="/asset/images/logo_creation/img_logo_creation_want.png 1x,/asset/images/logo_creation/2x/img_logo_creation_want@2x.png 2x"
                            alt=""
                            width="180"
                            height="89"
                            loading="lazy"
                            class="imgauto"
                        />
                    </picture>
                </p>
            </section>

            <section class="tp-case__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center">
                    <span class="small"
                        >他社で作ると、５～８万円<br
                            class="sp"
                        />かかってしまうことも…</span
                    ><br />
                    <span class="tp-bglg">テンポスなら16,500円で</span><br
                        class="sp"
                    />作成が可能！
                </h2>
                <div class="tp-scroll__container">
                    <table class="tp-table price-mgb">
                        <tbody>
                            <tr>
                                <th>会社名</th>
                                <td>テンポスフードプレイス</td>
                                <td>A社</td>
                                <td>B社</td>
                            </tr>
                            <tr>
                                <th>デザイン費用</th>
                                <td>16,500円〜</td>
                                <td>89,000円</td>
                                <td>300,000円</td>
                            </tr>
                            <tr>
                                <th>提案数</th>
                                <td>2案〜</td>
                                <td>2案</td>
                                <td>無制限</td>
                            </tr>
                            <tr>
                                <th>納品データ形式</th>
                                <td
                                    >PDF/JPEG/PNG<br
                                    />AI：別途11,000円（税込）</td
                                >
                                <td>AI/PDF/JPEG</td>
                                <td>AI/PDF/JPEG</td>
                            </tr>
                            <tr>
                                <th>修正回数</th>
                                <td>1回〜</td>
                                <td>5回まで</td>
                                <td>無制限</td>
                            </tr>
                            <tr>
                                <th>デザイナー</th>
                                <td
                                    >飲食店関係のデザイン作成で10年以上経験があるプロのデザイナー</td
                                >
                                <td>プロデザイナー</td>
                                <td>プロデザイナー</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>

            <section class="tp-point__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-point__ttl__span"
                        >フードプレイスロゴ作成の</span
                    >
                    <span class="tp-ttl__balloon__span"
                        ><span>6</span>つの特徴</span
                    >
                </h2>
                <ul class="tp-point__list">
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">格安で作成</span>
                        </h3>
                        <p class="Local">
                            他社では5万円～8万円が相場ですが、破格の
                            16,500円（税込）で作成が可能です！
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">プロのデザイナーが担当</span>
                        </h3>
                        <p class="Local">
                            飲食店のデザインを10年以上しているデザイナーが担当します。お客様の要望に合わせたデザインのご提案が可能です。
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">イメージが形に！</span>
                        </h3>
                        <p class="Local">
                            事前にお打ち合わせの時間があります。直接担当者と話ができるのでロゴのイメージを伝えることができます。
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">完全オリジナル</span>
                        </h3>
                        <p class="Local">
                            テンポスのロゴ作成は完全にオリジナルです！ご希望のロゴをお店のイメージに合わせてご提案が可能です。
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">データで納品</span>
                        </h3>
                        <p class="Local">
                            PDF/JPEG/PNGの中からご希望のデータでの納品が可能です。Aiデータご希望の方は別途11,000円（税込）でのお渡しも可能です。
                        </p>
                    </li>
                    <li>
                        <h3 class="Ttl">
                            <span class="Ttl__txt">3案のご提案</span>
                        </h3>
                        <p class="Local">
                            3つの案をご提案いたしますので、ご自身のイメージに近いロゴが作成できます。
                        </p>
                    </li>
                </ul>
            </section>

            <section class="tp-image__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">デザインイメージ</span>
                </h2>
                <ul class="tp-4c2r__list tp-mgb__s">
                    <li>
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/logo_creation/img_logo_creation_image_01.jpg"
                            />
                            <img
                                src="/asset/images/logo_creation/img_logo_creation_image_01.jpg"
                                srcset="/asset/images/logo_creation/img_logo_creation_image_01.jpg 1x,/asset/images/logo_creation/2x/img_logo_creation_image_01@2x.jpg 2x"
                                alt="デザインイメージ01"
                                width="177"
                                height="177"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </li>
                    <li>
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/logo_creation/img_logo_creation_image_02.jpg"
                            />
                            <img
                                src="/asset/images/logo_creation/img_logo_creation_image_02.jpg"
                                srcset="/asset/images/logo_creation/img_logo_creation_image_02.jpg 1x,/asset/images/logo_creation/2x/img_logo_creation_image_02@2x.jpg 2x"
                                alt="デザインイメージ02"
                                width="177"
                                height="177"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </li>
                    <li>
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/logo_creation/img_logo_creation_image_03.jpg"
                            />
                            <img
                                src="/asset/images/logo_creation/img_logo_creation_image_03.jpg"
                                srcset="/asset/images/logo_creation/img_logo_creation_image_03.jpg 1x,/asset/images/logo_creation/2x/img_logo_creation_image_03@2x.jpg 2x"
                                alt="デザインイメージ03"
                                width="177"
                                height="177"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </li>
                    <li>
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/logo_creation/img_logo_creation_image_04.jpg"
                            />
                            <img
                                src="/asset/images/logo_creation/img_logo_creation_image_04.jpg"
                                srcset="/asset/images/logo_creation/img_logo_creation_image_04.jpg 1x,/asset/images/logo_creation/2x/img_logo_creation_image_04@2x.jpg 2x"
                                alt="デザインイメージ04"
                                width="177"
                                height="177"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </li>
                    <li>
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/logo_creation/img_logo_creation_image_05.jpg"
                            />
                            <img
                                src="/asset/images/logo_creation/img_logo_creation_image_05.jpg"
                                srcset="/asset/images/logo_creation/img_logo_creation_image_05.jpg 1x,/asset/images/logo_creation/2x/img_logo_creation_image_05@2x.jpg 2x"
                                alt="デザインイメージ05"
                                width="177"
                                height="177"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </li>
                    <li>
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/logo_creation/img_logo_creation_image_06.jpg"
                            />
                            <img
                                src="/asset/images/logo_creation/img_logo_creation_image_06.jpg"
                                srcset="/asset/images/logo_creation/img_logo_creation_image_06.jpg 1x,/asset/images/logo_creation/2x/img_logo_creation_image_06@2x.jpg 2x"
                                alt="デザインイメージ06"
                                width="177"
                                height="177"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </li>
                    <li>
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/logo_creation/img_logo_creation_image_07.jpg"
                            />
                            <img
                                src="/asset/images/logo_creation/img_logo_creation_image_07.jpg"
                                srcset="/asset/images/logo_creation/img_logo_creation_image_07.jpg 1x,/asset/images/logo_creation/2x/img_logo_creation_image_07@2x.jpg 2x"
                                alt="デザインイメージ07"
                                width="177"
                                height="177"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </li>
                    <li>
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/logo_creation/img_logo_creation_image_08.jpg"
                            />
                            <img
                                src="/asset/images/logo_creation/img_logo_creation_image_08.jpg"
                                srcset="/asset/images/logo_creation/img_logo_creation_image_08.jpg 1x,/asset/images/logo_creation/2x/img_logo_creation_image_08@2x.jpg 2x"
                                alt="デザインイメージ08"
                                width="177"
                                height="177"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </li>
                </ul>
                <p class="tp-image__lead_txt">
                    キャラクターデザインも可能です！<br />お気軽にご相談ください
                </p>
                <ul class="tp-image__character_list tp-mgb__s">
                    <li>
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/logo_creation/img_logo_creation_image_09.jpg"
                            />
                            <img
                                src="/asset/images/logo_creation/img_logo_creation_image_09.jpg"
                                srcset="/asset/images/logo_creation/img_logo_creation_image_09.jpg 1x,/asset/images/logo_creation/2x/img_logo_creation_image_09@2x.jpg 2x"
                                alt="デザインイメージ09"
                                width="177"
                                height="177"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </li>
                    <li>
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/logo_creation/img_logo_creation_image_10.jpg"
                            />
                            <img
                                src="/asset/images/logo_creation/img_logo_creation_image_10.jpg"
                                srcset="/asset/images/logo_creation/img_logo_creation_image_10.jpg 1x,/asset/images/logo_creation/2x/img_logo_creation_image_10@2x.jpg 2x"
                                alt="デザインイメージ10"
                                width="177"
                                height="177"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </li>
                </ul>
                <p class="tp-btn __yellow">
                    <a href="/promotion/logo_creation/jirei/"
                        >デザイン制作事例一覧を見る</a
                    >
                </p>
            </section>

            <section class="tp-plan__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __mgb">
                    <span class="tp-ttl__balloon__span"
                        >お好みで選べる3プラン</span
                    >
                </h2>
                <div class="tp-scroll__container">
                    <table class="tp-table__plan table-mgb">
                        <tbody>
                            <tr>
                                <th>
                                    <p class="Ttl">梅プラン</p>
                                    <p class="Local">
                                        デザインが具体的に決まっている方向け
                                    </p>
                                </th>
                                <th>
                                    <p class="Ttl">竹プラン</p>
                                    <p class="Local">
                                        いろんなデザインが見たい方向け
                                    </p>
                                </th>
                                <th>
                                    <p class="Ttl">松プラン</p>
                                    <p class="Local">
                                        細部までとにかくこだわりたい方向け
                                    </p>
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <p class="Tag">制作費</p>
                                    <p class="Price">
                                        16,500<span class="Local"
                                            >円（税込）</span
                                        >
                                    </p>
                                </td>
                                <td>
                                    <p class="Tag">制作費</p>
                                    <p class="Price">
                                        25,300<span class="Local"
                                            >円（税込）</span
                                        >
                                    </p>
                                </td>
                                <td>
                                    <p class="Tag">制作費</p>
                                    <p class="Price">
                                        55,000<span class="Local"
                                            >円（税込）</span
                                        >
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="Tag">デザイン提案数</p>
                                    <p class="Price">
                                        2<span class="Local">案</span>
                                    </p>
                                </td>
                                <td>
                                    <p class="Tag">デザイン提案数</p>
                                    <p class="Price">
                                        3<span class="Local">案</span>
                                    </p>
                                </td>
                                <td>
                                    <p class="Tag">デザイン提案数</p>
                                    <p class="Price">
                                        3<span class="Local">案</span>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="Tag">修正回数</p>
                                    <p class="Price">
                                        1<span class="Local">回</span>
                                    </p>
                                </td>
                                <td>
                                    <p class="Tag">修正回数</p>
                                    <p class="Price">
                                        2<span class="Local">回</span>
                                    </p>
                                </td>
                                <td>
                                    <p class="Tag">修正回数</p>
                                    <p class="Price">
                                        無制限<span class="Local"></span>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>

            <section class="tp-option__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center">
                    より集客に繋がる<br class="sp" />オプションプランも充実!
                </h2>
                <ul class="tp-option__list">
                    <li class="__orange">
                        <ul class="tp-option__iconlist">
                            <li>
                                <div class="Ttl flex">
                                    <p class="Min">aiデータ納品</p>
                                    <p class="Sub">11,000円（税込）</p>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>

            <section class="tp-frow__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">ご利用までの流れ</span>
                </h2>
                <div class="tp-flow__list">
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">お問い合わせ</h3>
                            <div class="Local">
                                <p>
                                    お問い合わせフォームよりご連絡ください。プランやデザインイメージが決まっていなくても大丈夫です。<br
                                    />
                                    弊社からご挨拶のご連絡をし、ロゴ制作の進め方とプランをご提案いたします。<br
                                    />
                                    お打ち合わせ後、制作期間に2週間程度頂戴しますので、余裕をもってご連絡ください。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">お申し込み・お支払</h3>
                            <div class="Local">
                                <p>
                                    お電話で決定した内容に問題がない場合は、正式にお申込みをお願いいたします。<br
                                    />
                                    ヒアリングフォームをお送りします。記入していただくとそのあとのお打ち合わせがスムーズにできます。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">お打ち合わせ・ヒアリング</h3>
                            <div class="Local">
                                <p>
                                    お店の概要や、将来のビジョン・想い、デザインのご要望等、現時点でお考えのことをお聞かせください。<br
                                    />
                                    ロゴのサンプルなどを確認いただきながら、担当ディレクターがどのようなデザインにしていくかを一緒に考えていきます。<br
                                    />
                                    イメージとして書いたイラストや画像を送っていただくことでよりイメージに近いロゴマークになります。<br
                                    />
                                    ※メールか LINE 、お電話でのお打ち合わせとなります。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">デザイン案作成</h3>
                            <div class="Local">
                                <p>
                                    最適なデザイナーを弊社で選定し、デザインの指示をします。<br
                                    />
                                    その後、担当デザイナーがヒアリングでお伺いした内容をもとにデザイン案を3つ作成いたします。<br
                                    />
                                    ご提案後、印象などをお聞かせいただき、修正・調整をしていきます。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">デザイン修正</h3>
                            <div class="Local">
                                <p>
                                    お伺いした内容をもとに、デザインの修正致します。（※修正は原則1回までとなっております。）<br
                                    />
                                    デザインの最終調整を行い、完成したデザインをご確認いただきます。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">ロゴデータ納品</h3>
                            <div class="Local">
                                <p>
                                    納品デザインを一つお選びいただき、データにて納品いたします。（PDF/GPG/PING）<br
                                    />
                                    名刺の作成、ロゴ入りの食器作成、ユニフォームの作成など、完成したロゴの使用方法についてもお気軽にご相談ください。弊社にてサポート致します。
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>

            <section class="tp-case__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">ロゴ作成実績</span>
                </h2>
                <div class="tp-case__list tp-mgb__s">
                    <article>
                        <p class="Thumb">
                            <picture>
                                <source
                                    media="(max-width:767px)"
                                    srcset="/asset/images/logo_creation/2x/img_logo_creation_case_logo_tobira@2x.png"
                                />
                                <img
                                    src="/asset/images/logo_creation/img_logo_creation_case_logo_tobira.png"
                                    srcset="/asset/images/logo_creation/img_logo_creation_case_logo_tobira.png 1x,/asset/images/logo_creation/2x/img_logo_creation_case_logo_tobira@2x.png 2x"
                                    alt=""
                                    width="300"
                                    height="225"
                                    loading="lazy"
                                    class="imgauto"
                                />
                            </picture>
                        </p>
                        <ul class="tp-case__listTags flex">
                            <li class="__light">
                                <a
                                    href="/promotion/logo_creation/jirei/izakaya/"
                                    >居酒屋</a
                                >
                            </li>
                        </ul>
                        <h3 class="Ttl">食楽処　とびら</h3>
                    </article>
                    <article>
                        <p class="Thumb">
                            <picture>
                                <source
                                    media="(max-width:767px)"
                                    srcset="/asset/images/logo_creation/2x/img_logo_creation_case_logo_shigechan@2x.png"
                                />
                                <img
                                    src="/asset/images/logo_creation/img_logo_creation_case_logo_shigechan.png"
                                    srcset="/asset/images/logo_creation/img_logo_creation_case_logo_shigechan.png 1x,/asset/images/logo_creation/2x/img_logo_creation_case_logo_shigechan@2x.png 2x"
                                    alt=""
                                    width="300"
                                    height="225"
                                    loading="lazy"
                                    class="imgauto"
                                />
                            </picture>
                        </p>
                        <ul class="tp-case__listTags flex">
                            <li class="__light">
                                <a
                                    href="/promotion/logo_creation/jirei/izakaya/"
                                    >居酒屋</a
                                >
                            </li>
                        </ul>
                        <h3 class="Ttl">たこ焼き酒場　しげちゃん</h3>
                    </article>
                    <article>
                        <p class="Thumb">
                            <picture>
                                <source
                                    media="(max-width:767px)"
                                    srcset="/asset/images/logo_creation/2x/img_logo_creation_case_logo_orenchi@2x.png"
                                />
                                <img
                                    src="/asset/images/logo_creation/img_logo_creation_case_logo_orenchi.png"
                                    srcset="/asset/images/logo_creation/img_logo_creation_case_logo_orenchi.png 1x,/asset/images/logo_creation/2x/img_logo_creation_case_logo_orenchi@2x.png 2x"
                                    alt=""
                                    width="300"
                                    height="225"
                                    loading="lazy"
                                    class="imgauto"
                                />
                            </picture>
                        </p>
                        <ul class="tp-case__listTags flex">
                            <li class="__light">
                                <a
                                    href="/promotion/logo_creation/jirei/izakaya/"
                                    >居酒屋</a
                                >
                            </li>
                        </ul>
                        <h3 class="Ttl">炭火焼き鳥　おれんち</h3>
                    </article>
                </div>
            </section>

            <!--「お客様の声」非表示
			<section class="tp-voice__section tp-sec tp-wrapper">
				<h2 class="tp-ttl"><span class="tp-ttl__balloon__span">お客様の声</span></h2>
				<div class="tp-voice__list">
					<article>
						<p class="Caption">見出し見出し見出し見出し見出し見出し見出し見出し</p>
						<p class="Thumb">
							<picture>
								<source media="(max-width:767px)" srcset="/asset/images/template/sp/voice01.jpg">
								<img src="/asset/images/template/voice01.jpg" srcset="/asset/images/template/voice01.jpg 1x,/asset/images/template/2x/voice01.jpg 2x" alt="お客様の声01" width="300" height="199" loading="lazy" class="imgauto">
							</picture>
						</p>
						<div class="tp-voice__info">
							<h3 class="Name">店名店名店名店名店名店名</h3>
							<p class="Industry">業種業種業種</p>
							<p class="Area">エリアエリアエリア</p>
						</div>
						<p class="Link">
							<a href="">詳しく見る</a>
						</p>
					</article>
					<article>
						<p class="Caption">見出し見出し見出し見出し見出し見出し見出し見出し</p>
						<p class="Thumb">
							<picture>
								<source media="(max-width:767px)" srcset="/asset/images/template/sp/voice01.jpg">
								<img src="/asset/images/template/voice01.jpg" srcset="/asset/images/template/voice01.jpg 1x,/asset/images/template/2x/voice01.jpg 2x" alt="お客様の声02" width="300" height="199" loading="lazy" class="imgauto">
							</picture>
						</p>
						<div class="tp-voice__info">
							<h3 class="Name">店名店名店名店名店名店名</h3>
							<p class="Industry">業種業種業種</p>
							<p class="Area">エリアエリアエリア</p>
						</div>
						<p class="Link">
							<a href="">詳しく見る</a>
						</p>
					</article>
					<article>
						<p class="Caption">見出し見出し見出し見出し見出し見出し見出し見出し</p>
						<p class="Thumb">
							<picture>
								<source media="(max-width:767px)" srcset="/asset/images/template/sp/voice01.jpg">
								<img src="/asset/images/template/voice01.jpg" srcset="/asset/images/template/voice01.jpg 1x,/asset/images/template/2x/voice01.jpg 2x" alt="お客様の声03" width="300" height="199" loading="lazy" class="imgauto">
							</picture>
						</p>
						<div class="tp-voice__info">
							<h3 class="Name">店名店名店名店名店名店名</h3>
							<p class="Industry">業種業種業種</p>
							<p class="Area">エリアエリアエリア</p>
						</div>
						<p class="Link">
							<a href="">詳しく見る</a>
						</p>
					</article>
				</div>
			</section>
			-->

            <section class="tp-faq__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">よくある質問</span>
                </h2>
                <div class="g-acodion">
                    <dl>
                        <dt>飲食店じゃないと申し込めないの？</dt>
                        <dd>
                            いえ、どんな業種・業態の方でもお申込みいただけます。
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            デザインについて詳しくないからどういう風に依頼したらいいかわからない。
                        </dt>
                        <dd>
                            担当がお電話でご相談に乗ります。<br
                            />LINEやメールでお店の雰囲気や、イメージのロゴをお送りいただくとよりイメージが伝わりやすくなります。
                        </dd>
                    </dl>
                    <dl>
                        <dt>どれくらいで完成するの？</dt>
                        <dd>
                            決済確認より5営業日～10営業日にてお渡し可能です。
                        </dd>
                    </dl>
                    <dl>
                        <dt>どんなデータで送ってもらえるの？</dt>
                        <dd>Jpg、PNG、PDFの3種類からお選びいただけます。</dd>
                    </dl>
                </div>
            </section>

            <ContactArea />

            <section class="tp-others__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">その他関連サービス</span
                    >
                </h2>
                <div class="tp-others__list">
                    <article>
                        <a href="/promotion/promotional_design/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_promotional_design@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_promotional_design.png"
                                        srcset="/asset/images/common/img_kanren_service_promotional_design.png 1x,/asset/images/common/2x/img_kanren_service_promotional_design@2x.png 2x"
                                        alt="販促物作成"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">販促物作成</h3>
                        </a>
                    </article>
                    <article>
                        <a href="/marketing/homepage/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_homepage@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_homepage.png"
                                        srcset="/asset/images/common/img_kanren_service_homepage.png 1x,/asset/images/common/2x/img_kanren_service_homepage@2x.png 2x"
                                        alt="ホームページ作成"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">ホームページ作成</h3>
                        </a>
                    </article>
                    <!--<article>
							<a href="/marketing/sns_update/">
								<p class="Thumb">
									<picture>
										<source media="(max-width:767px)"
											srcset="/asset/images/common/2x/img_kanren_service_sns_update@2x.png">
										<img src="/asset/images/common/img_kanren_service_sns_update.png"
											srcset="/asset/images/common/img_kanren_service_sns_update.png 1x,/asset/images/common/2x/img_kanren_service_sns_update@2x.png 2x"
											alt="SNS運用代行" width="304" height="231" loading="lazy" class="imgauto">
									</picture>
								</p>
								<h3 class="Ttl">
									SNS運用サポート
								</h3>
							</a>
						</article>-->
                </div>
            </section>
        </div>
    </article>
</Layout>

<style>
    @charset "utf-8";

    /*-----------------------
mv tp-front__section
-----------------------*/
    .tp-front__section {
        background-image: url(/asset/images/logo_creation/mv_logo_creation.jpg);
    }

    /*-----------------------
6つの特徴 tp-point__section
-----------------------*/
    .tp-point__section .tp-point__list > li:nth-child(1) > .Ttl::before {
        background: url(/asset/images/common/icon_point07.png) no-repeat
            center/contain;
    }
    .tp-point__section .tp-point__list > li:nth-child(2) > .Ttl::before {
        background: url(/asset/images/common/icon_point08.png) no-repeat
            center/contain;
    }
    .tp-point__section .tp-point__list > li:nth-child(3) > .Ttl::before {
        background: url(/asset/images/common/icon_point09.png) no-repeat
            center/contain;
    }
    .tp-point__section .tp-point__list > li:nth-child(4) > .Ttl::before {
        background: url(/asset/images/common/icon_point01.png) no-repeat
            center/contain;
    }
    .tp-point__section .tp-point__list > li:nth-child(5) > .Ttl::before {
        background: url(/asset/images/common/icon_point10.png) no-repeat
            center/contain;
    }
    .tp-point__section .tp-point__list > li:nth-child(6) > .Ttl::before {
        background: url(/asset/images/common/icon_point11.png) no-repeat
            center/contain;
    }

    /*-----------------------
デザインイメージ tp-image__section
-----------------------*/
    .tp-image__section .tp-image__lead_txt {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
        color: var(--MAIN_ORANGE);
        text-align: center;
        margin-bottom: 10px;
    }
    .tp-image__section .tp-image__character_list {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .tp-image__section .tp-image__character_list li {
        width: calc((100% - 10px) / 2);
    }
    @media screen and (min-width: 768px) {
        .tp-image__section .tp-image__lead_txt {
            font-size: 20px;
            margin-bottom: 20px;
        }
        .tp-image__section .tp-image__character_list li {
            width: calc((100% - 30px) / 4);
        }
    }

    /*-----------------------
お好みで選べる3プラン tp-plan__section
-----------------------*/
    .tp-plan__section .tp-table__plan tr:first-child .Local {
        text-align: center;
    }
    @media screen and (min-width: 768px) {
        .tp-plan__section
            .tp-table__plan
            > tbody
            tr:first-child
            > *:nth-child(2):after {
            width: 56%;
        }
    }
    @media screen and (max-width: 767px) {
        .tp-plan__section .tp-table__plan > tbody tr {
            height: 485px;
        }
    }

    /*-----------------------
オプション tp-option__section
-----------------------*/
    @media screen and (min-width: 768px) {
        .tp-option__section .tp-option__iconlist {
            padding-left: 0;
        }
    }

    /*-----------------------
ロゴ作成実績 tp-case__section
-----------------------*/
    .tp-case__section .tp-case__list .Thumb {
        border: 1px solid #a7a7a7;
        aspect-ratio: 4 / 3;
        padding: 5% 10%;
    }
    .tp-case__section .tp-case__list .Thumb img {
        height: 100%;
        object-fit: contain;
        object-position: center;
    }

    .tp-table__plan
        > tbody:not(.tp-table__plan__tbodyBottom)
        tr:first-child
        > *:nth-child(1):after {
        width: calc(100% - 115px);
    }

    .tp-table__plan tr:first-child > *:nth-child(2) > .Ttl {
        margin-top: 0px;
    }
</style>
