---
import Layout from "../../../layouts/Layout.astro";
import ContactArea from "../../../components/common/ContactArea.astro";
import structuredDataMarkup from "../../../data/data.json";
const markup = JSON.stringify(structuredDataMarkup.sharosi);
---

<Layout
    title="1年間無料の社労士紹介！｜テンポスフードプレイス"
    description="開店時にスタッフを雇い入れる際に必要なお手続きはお済みですか？労働保険や社会保険の手続きをサポート。テンポスなら1年間無料の社会保険労務士をご紹介！"
    pageUrl="/management/sharosi/"
    ogimage="/asset/images/insurance/ogp_sharosi.jpg"
    markup={markup}
>
    <article id="mainarea">
        <div class="tp-border sans">
            <nav class="tp-nav">
                <ol class="tp-nav__list flex">
                    <li><a href="/">トップページ</a></li>
                    <li><a href="/management/">店舗運営支援</a></li>
                    <li>社労士紹介</li>
                </ol>
            </nav>

            <section class="tp-front__section">
                <h1 class="tp-front__ttl font_m_plus">
                    <span>１年間無料の社会保険労務士</span>
                </h1>
                <p class="tp-front__ttl-sm">（※）一部有償</p>
                <p class="tp-front__caption">
                    開店時にスタッフを雇い入れる際の手続はご存知ですか？<br />
                    ～労働保険（労災保険・雇用保険）／社会保険（健康保険・厚生年金）～
                </p>
                <p class="tp-front__contact">
                    <a class="click_link_mail" href="/contact/?checked=52"
                        >お問い合わせはこちら</a
                    >
                </p>
            </section>

            <section class="tp-worries__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __border">
                    <span></span>こんなお悩みありませんか？<span></span>
                </h2>
                <ul class="tp-check__list tp-wrapper__l">
                    <li>
                        <span class="tp-bglg">人を雇った</span
                        >けど何からやればよいのかわからない
                    </li>
                    <li>
                        従業員から、<span class="tp-bglg"
                            >労務の手続や、規則</span
                        >の事を聞かれたけど、わからない
                    </li>
                    <li>
                        <span class="tp-bglg">困った時に気軽に相談</span
                        >できる専門家がいない
                    </li>
                </ul>
            </section>

            <section class="tp-design__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    テンポスでは、1年間無料の社会保険労務士を<br
                        class="u-desktop"
                    />
                    ご紹介しております！
                </h2>
                <div class="tp-design__contents flex">
                    <div class="tp-local__wrap">
                        <p class="tp-local">
                            どの社会保険労務士を使えばよいかわからない・・・<br
                            />
                            どこまでお願いできるのか分からない・・・<br />
                            顧問料って高いんじゃないかな・・・<br />
                            など、実際に利用してみないと分からないことってありますよね？<br
                            /><br />
                            テンポスがオススメするのは、まず、1年間無料でお試し利用できる<br
                                class="u-desktop"
                            />社会保険労務士です！<br />
                        </p>
                    </div>
                    <p class="tp-design__thumb">
                        <picture>
                            <source
                                media="(max-width:767px)"
                                srcset="/asset/images/sharosi/img_sharosi_man.png"
                            />
                            <img
                                src="/asset/images/sharosi/img_sharosi_man.png"
                                srcset="/asset/images/sharosi/img_sharosi_man.png 1x,/asset/images/sharosi/img_sharosi_man.png 2x"
                                alt=""
                                width="200"
                                height="243"
                                loading="lazy"
                                class="imgauto"
                            />
                        </picture>
                    </p>
                </div>
            </section>

            <section class="tp-reason__section tp-sec tp-wrapper">
                <h2 class="tp-ttl __center">社会保険労務士が必要な理由は？</h2>
                <ul class="tp-check__list tp-wrapper__l tp-mgb__s">
                    <li>
                        <span class="tp-bglg"
                            >人を雇ったり、法人化した場合に、保険の手続きが必要</span
                        >になりますが、本業で多忙だと 後回しになりがちです。<br
                        />
                        売上にならない作業は専門家に任せるのが一番です。
                    </li>
                    <li>
                        <span class="tp-bglg">労使間のルールや対応</span
                        >に、変化があったとき、何をすれば良いのか、また、何かあっ
                        たときにどうすればよいのかを<span class="tp-bglg"
                            >気軽に相談できます。</span
                        >
                    </li>
                </ul>
                <p class="tp-want__thumb width-85">
                    <picture>
                        <source
                            media="(max-width:767px)"
                            srcset="/asset/images/sharosi/img_sharosi_reason.png"
                        />
                        <img
                            src="/asset/images/sharosi/img_sharosi_reason.png"
                            srcset="/asset/images/sharosi/img_sharosi_reason.png 1x,/asset/images/sharosi/img_sharosi_reason.png 2x"
                            alt=""
                            width="636"
                            height="91"
                            loading="lazy"
                            class="imgauto"
                        />
                    </picture>
                </p>
            </section>

            <section class="tp-merit__section tp-sec tp-wrapper">
                <div class="tp-merit-item">
                    <h2 class="tp-merit__ttl">
                        <div class="tp-merit__ttl-num">
                            メリット<span class="tp-merit__ttl-num-lg">1</span>
                        </div>
                        <div class="tp-merit__ttl-main">
                            １年間無料で利用できる<br />
                            社会保険労務士を紹介！
                            <span class="tp-merit__ttl-main-sm"
                                >（一部有償）</span
                            >
                        </div>
                    </h2>
                    <div class="tp-merit__txt">
                        労働保険や社会保険の諸手続や、労務相談、<br
                            class="u-mobile"
                        />助成金アドバイスが無料！！<br />
                        ※就業規則や各種規定類の作成・変更・添削も<br
                            class="u-mobile"
                        />対応可能<br />
                        　（有償ですが、特別価格にて対応しております）
                    </div>
                    <div class="tp-merit__img">
                        <img
                            src="../asset/images/sharosi/img_sharosi_merit01.png"
                            alt=""
                        />
                    </div>
                </div>
                <div class="tp-merit-item">
                    <h2 class="tp-merit__ttl">
                        <div class="tp-merit__ttl-num">
                            メリット<span class="tp-merit__ttl-num-lg">2</span>
                        </div>
                        <div class="tp-merit__ttl-main">
                            実績とノウハウが豊富！
                        </div>
                    </h2>
                    <div class="tp-merit__txt">
                        歴史あるグループの総合力と全国ネットを活用<br
                            class="u-mobile"
                        />できる為、<br class="u-desktop" />
                        サービスとご相談の領域が広く、<br
                            class="u-mobile"
                        />実績とノウハウが豊富。<br />
                        だから、新規オープンの店舗や<br
                            class="u-mobile"
                        />創業の時にも安心！！<br />
                        場所問わず全国対応可能です。
                    </div>
                    <div class="tp-merit__img">
                        <img
                            src="../asset/images/sharosi/img_sharosi_merit02.png"
                            alt=""
                        />
                    </div>
                </div>
                <div class="tp-merit-item">
                    <h2 class="tp-merit__ttl">
                        <div class="tp-merit__ttl-num">
                            メリット<span class="tp-merit__ttl-num-lg">3</span>
                        </div>
                        <div class="tp-merit__ttl-main">
                            業界トップクラスの<br />
                            セキュリティ対策で安心！
                        </div>
                    </h2>
                    <div class="tp-merit__txt">
                        新種コンピュータウィルス・不正アクセス・<br
                            class="u-mobile"
                        />漏えい事故や地震等の災害から<br class="u-desktop" />
                        顧客企業様の<br class="u-mobile" />データを保護。<br />
                        また、顧客企業様にストレスなくご利用<br
                            class="u-mobile"
                        />いただくことをより意識して<br />
                        様々な対策を実施中です。
                    </div>
                    <div class="tp-merit__img">
                        <img
                            src="../asset/images/sharosi/img_sharosi_merit03.png"
                            alt=""
                        />
                    </div>
                </div>
            </section>

            <ContactArea />

            <section class="tp-frow__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">ご利用までの流れ</span>
                </h2>
                <div class="tp-flow__list">
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">お問合せ</h3>
                            <div class="Local">
                                <p>
                                    社会保険労務士についてよくわからない、まずは話を聞いてみたいといった場合もお気軽にご相談ください。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">フードプレイスよりご連絡</h3>
                            <div class="Local">
                                <p>簡単なヒアリングをさせていただきます。</p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">提携先からのご連絡</h3>
                            <div class="Local">
                                <p>
                                    提携先よりご連絡をさせていただき、課題やご希望をお伺いすると共にご面談（訪問・WEB）の日程を調整させていただきます。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">サービスのご提案</h3>
                            <div class="Local">
                                <p>
                                    提携先スタッフが面談の上、サービスの詳細をご案内・提案させていただきます。
                                </p>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="tp-flow__listL">
                            <p>STEP</p>
                        </div>
                        <div class="tp-frow__listR">
                            <h3 class="Ttl">ご契約</h3>
                            <div class="Local">
                                <p>
                                    サービスにご満足いただけそうだとご判断された場合には、まず、1年間無料でのお申込をいただきます。※一部有償
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>

            <section class="tp-faq__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">よくある質問</span>
                </h2>
                <div class="g-acodion">
                    <dl>
                        <dt>本当に無料なの？</dt>
                        <dd>無料です。※一部サービスは有償となります。</dd>
                    </dl>
                    <dl>
                        <dt>契約年数のしばりはあるの？</dt>
                        <dd>ありません。</dd>
                    </dl>
                    <dl>
                        <dt>話を聞いたら契約しなければならないの？</dt>
                        <dd>
                            詳細をお聞きになった上で、しっかりとご検討いただき、ご結論をだしていただければ大丈夫です。
                        </dd>
                    </dl>
                    <dl>
                        <dt>対応はちゃんとしているの？</dt>
                        <dd>ノウハウと実績が豊富なのでご安心ください。</dd>
                    </dl>
                </div>
            </section>

            <section class="tp-others__section tp-sec tp-wrapper">
                <h2 class="tp-ttl">
                    <span class="tp-ttl__balloon__span">その他関連サービス</span
                    >
                </h2>
                <div class="tp-others__list">
                    <article>
                        <a href="/management/tax-accountant/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_tax-accountant@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_tax-accountant.png"
                                        srcset="/asset/images/common/img_kanren_service_tax-accountant.png 1x,/asset/images/common/2x/img_kanren_service_tax-accountant@2x.png 2x"
                                        alt="飲食専門税理士紹介"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">飲食専門税理士紹介</h3>
                        </a>
                    </article>
                    <!-- <article>
                            <a href="/resources/job-ads/">
                                <p class="Thumb">
                                    <picture>
                                        <source media="(max-width:767px)"
                                            srcset="/asset/images/common/2x/img_kanren_resources_job-ads@2x.jpg">
                                        <img src="/asset/images/common/img_kanren_service_sanitary-rental.png"
                                            srcset="/asset/images/common/img_kanren_resources_job-ads.jpg 1x,/asset/images/common/2x/img_kanren_resources_job-ads@2x.jpg 2x"
                                            alt="求人広告" width="304" height="231" loading="lazy" class="imgauto">
                                    </picture>
                                </p>
                                <h3 class="Ttl">
                                    求人広告
                                </h3>
                            </a>
                        </article> -->
                    <article>
                        <a href="/management/insurance/">
                            <p class="Thumb">
                                <picture>
                                    <source
                                        media="(max-width:767px)"
                                        srcset="/asset/images/common/2x/img_kanren_service_insurance@2x.png"
                                    />
                                    <img
                                        src="/asset/images/common/img_kanren_service_insurance.png"
                                        srcset="/asset/images/common/img_kanren_service_insurance.png 1x,/asset/images/common/2x/img_kanren_service_insurance@2x.png 2x"
                                        alt="店舗用保険"
                                        width="304"
                                        height="231"
                                        loading="lazy"
                                        class="imgauto"
                                    />
                                </picture>
                            </p>
                            <h3 class="Ttl">店舗用保険</h3>
                        </a>
                    </article>
                </div>
            </section>
        </div>
    </article>
</Layout>

<style>
    @charset "utf-8";

    :root {
        --fnts_local: 16px;
        --fnts_caption_min: 26px;
        --fnts_caption_sub: 20px;
        --fnts_section_ttl: 30px;
    }

    /* -------------------- sharosi-section ------------------- */
    /* -----　sharosi/index.html　衛生管理ページ用mv　----- */
    .btm-front__section.sharosi_mv {
        background-image: url(/asset/images/sharosi/img_mv_sharosi.png);
    }

    @media screen and (min-width: 768px) {
        /* -----　sharosi/index.html　衛生管理　PC(min-width: 768px)用mv　----- */
        .btm-front__section.sharosi_mv {
            /* background-position: 50% 50%; */
            background-position: 50% 35%;
        }
    }

    @media screen and (max-width: 767px) {
        /* -----　sharosi/index.html　衛生管理ページ　sp用mv　----- */
        .btm-front__section.sharosi_mv {
            background-image: url(/asset/images/sharosi/sp/mv_sharosi_sp.jpg);
            background-position: 15% 0%;
            background-size: 130%;
        }
    }

    .tp-front__section {
        background-image: url(/asset/images/sharosi/img_mv_sharosi.png);
    }

    .tp-front__ttl {
        margin-bottom: 5px;
    }

    .tp-front__ttl-sm {
        font-size: 14px;
        text-align: center;
        margin-bottom: 20px;
    }

    /*-----------------------
3つの特徴 tp-point__section
-----------------------*/
    .tp-ttl:not(.__mgb):not(.tp-ttl__balloon__span) {
        position: relative;
    }

    .tp-ttl__balloon__span__sm {
        position: absolute;
        top: -35px;
        left: 50%;
        transform: translateX(-50%);
        background: transparent;
        color: var(--MAIN_ORANGE);
        font-size: 16px;

        &::after {
            content: "";
            display: none;
        }
    }

    .tp-point__section .tp-point__list > li:nth-child(1) > .Ttl::before {
        background: url(/asset/images/common/icon_point53.png) no-repeat center
            center / contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(2) > .Ttl::before {
        background: url(/asset/images/common/icon_point54.png) no-repeat center
            center / contain;
    }

    .tp-point__section .tp-point__list > li:nth-child(3) > .Ttl::before {
        background: url(/asset/images/common/icon_point55.png) no-repeat center
            center / contain;
    }

    @media screen and (min-width: 768px) {
        .tp-point__section .tp-point__list > li > .Ttl:before {
            width: 45px;
            margin-right: 15px;
        }

        .tp-point__section .tp-point__list .Ttl__txt {
            width: calc(100% - 60px);
        }
    }

    @media screen and (max-width: 767px) {
        .tp-ttl__balloon__span__sm {
            width: 300px;
        }

        .tp-worries__section .tp-ttl:not(.__mgb):not(.tp-ttl__balloon__span) {
            margin-top: 80px;
        }
    }

    /*-----------------------
tp-design__section
-----------------------*/

    @media screen and (min-width: 768px) {
        .tp-design__thumb {
            display: flex;
            justify-content: flex-end;
        }
    }

    /*-----------------------
tp-reason__section
-----------------------*/
    @media screen and (min-width: 768px) {
        .tp-check__list {
            width: 90%;
        }
    }

    @media screen and (max-width: 767px) {
        .tp-reason__section {
            margin-bottom: 100px;
        }

        .tp-reason__section .tp-want__thumb {
            width: 100%;
        }
    }

    /*-----------------------
.tp-merit__section
-----------------------*/

    .tp-merit-item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
    }

    .tp-merit__ttl {
        color: #ffc100;
        text-align: center;
        font-weight: bold;
        position: relative;
        margin-bottom: 40px;
    }

    .tp-merit__ttl-num {
        font-size: 16px;
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        left: -130px;
        transform: translateY(-50%);
    }

    .tp-merit-item:first-child .tp-merit__ttl .tp-merit__ttl-num {
        top: 33%;
    }

    .tp-merit__ttl-num-lg {
        font-size: 60px;
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
            "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    }

    .tp-merit__ttl-main {
        font-size: 26px;
        color: var(--MAIN_ORANGE);
    }

    .tp-merit__ttl-main-sm {
        font-size: 14px;
        display: block;
    }

    .tp-merit__txt {
        margin-bottom: 40px;
        text-align: center;
    }

    .tp-merit__img {
        width: 380px;
        margin-inline: auto;
    }

    @media screen and (max-width: 768px) {
        .tp-merit__ttl-num {
            top: -64%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .tp-merit-item:first-child .tp-merit__ttl .tp-merit__ttl-num,
        .tp-merit-item:last-child .tp-merit__ttl .tp-merit__ttl-num {
            top: -33%;
        }

        .tp-merit__ttl-num-lg {
            font-size: 40px;
        }

        .tp-merit__img {
            width: 100%;
            margin-inline: auto;
        }
    }

    /*-----------------------
contactarea
-----------------------*/

    .contactarea {
        margin-bottom: 80px;
    }

    .u-mobile {
        display: none;
    }

    .u-desktop {
        display: block;
    }

    @media screen and (max-width: 767px) {
        .u-desktop {
            display: none;
        }

        .u-mobile {
            display: block;
        }
    }
</style>
